<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>O. vs. BP. vs. WP. - SWE.6 Software Qualification Test</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>O. vs. BP. vs. WP. - SWE.6 Software Qualification Test</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/0170b07a-c7fc-4a8c-bf37-59e30738990f.png" alt="O. vs. BP. vs. WP. - SWE.6 Software Qualification Test" usemap="#0170b07a-c7fc-4a8c-bf37-59e30738990fmap"/>
			   <map name="0170b07a-c7fc-4a8c-bf37-59e30738990fmap">
				  		<area shape="rect" coords="850,727,1031,782" href="../views/39fd8768-cc1e-4b28-afb3-daf801742eff.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="851,805,1031,860" href="../views/9e94f80f-8775-4044-8110-6a872c99ec05.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="1234,10,1427,65" href="../elements/2f4caef1-5ec0-4809-b196-f0d6179ce1ad.html"  target="element">
				  		<area shape="rect" coords="1030,10,1223,65" href="../elements/7f049489-d3f4-464d-8078-59516be87dee.html"  target="element">
				  		<area shape="rect" coords="10,10,203,65" href="../elements/ea544a8e-3bab-41db-abe7-34eaaf42f011.html"  target="element">
				  		<area shape="rect" coords="622,10,815,65" href="../elements/ebb080ed-2ae4-48f7-96b8-eb0085c423b3.html"  target="element">
				  		<area shape="rect" coords="826,10,1019,65" href="../elements/9b90ad9f-1b14-4f66-b913-d5d143c81bb4.html"  target="element">
				  		<area shape="rect" coords="214,10,407,65" href="../elements/7d216f93-d489-48c8-a10a-a4a918ddb086.html"  target="element">
				  		<area shape="rect" coords="418,10,611,65" href="../elements/d64a515a-d20b-4307-a797-9f56bf7667c6.html"  target="element">
				  		<area shape="rect" coords="1090,538,1295,593" href="../elements/3ae1b7dc-9344-42d8-b6e2-732b1d8ce352.html"  target="element">
				  		<area shape="rect" coords="874,538,1079,593" href="../elements/27d1998c-afb9-4d93-9df6-b6d8ff6e8a0e.html"  target="element">
				  		<area shape="rect" coords="658,538,863,593" href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html"  target="element">
				  		<area shape="rect" coords="442,538,647,593" href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html"  target="element">
				  		<area shape="rect" coords="226,538,431,593" href="../elements/4959f519-a65b-4589-b77f-adda3dc44ea1.html"  target="element">
				  		<area shape="rect" coords="10,538,215,593" href="../elements/93c9a2eb-4cd8-45bc-a5ea-b3f277880ac7.html"  target="element">
				  		<area shape="rect" coords="10,202,1633,236" href="../elements/676b6530-20d7-403a-8668-7e0dc4f3807b.html"  target="element">
				  		<area shape="rect" coords="10,250,1633,284" href="../elements/3146e423-8b64-4e93-8140-8946e77e4a23.html"  target="element">
				  		<area shape="rect" coords="10,298,1633,332" href="../elements/e71af0a2-18af-4eaa-84b2-d8f10aa6da20.html"  target="element">
				  		<area shape="rect" coords="10,346,1633,380" href="../elements/cb0e6a08-a79a-4fb4-8550-645a0cf4520d.html"  target="element">
				  		<area shape="rect" coords="10,394,1633,428" href="../elements/d3ce5772-cf69-495d-8d79-a0e228fac382.html"  target="element">
				  		<area shape="rect" coords="10,154,1633,188" href="../elements/546ce7d1-b1ef-4d40-a248-d99c14f51a3d.html"  target="element">
				          <area shape="rect" coords="10,727,839,860" href="../objects/857460bf-1810-440a-9a1c-e37daa802634.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">This view answers the following questions:
- If I implement and deploy the Base Practice (BP) ***, how can I verify if I did it properly? What outcomes shall be achieved?
- If I implement and deploy the Outcome Work Product ***, how can I verify if I did it properly? What outcomes shall be achieved?

Scope of this view - Outcomes, Base Practices and their relations for ASPICE process SWE.6 Software Qualification Test

Latest version and docs can be found here: https://github.com/alef1986/ASPICE-Archi</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/857460bf-1810-440a-9a1c-e37daa802634.html" target="element">  </a> </td>
									           <td> <a href="../objects/857460bf-1810-440a-9a1c-e37daa802634.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/546ce7d1-b1ef-4d40-a248-d99c14f51a3d.html" target="element"> SWE.6.O.1 A software qualification test strategy including regression test strategy consistent with the project plan and release plan is developed to test the integrated software </a> </td>
											    <td> <a href="../elements/546ce7d1-b1ef-4d40-a248-d99c14f51a3d.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d3ce5772-cf69-495d-8d79-a0e228fac382.html" target="element"> SWE.6.O.6 Results of the software qualification test are summarized and communicated to all affected parties </a> </td>
											    <td> <a href="../elements/d3ce5772-cf69-495d-8d79-a0e228fac382.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cb0e6a08-a79a-4fb4-8550-645a0cf4520d.html" target="element"> SWE.6.O.5 Consistency and bidirectional traceability are established between software requirements and software qualification test specification including test cases and between test cases and test results </a> </td>
											    <td> <a href="../elements/cb0e6a08-a79a-4fb4-8550-645a0cf4520d.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e71af0a2-18af-4eaa-84b2-d8f10aa6da20.html" target="element"> SWE.6.O.4 The integrated software is tested using the selected test cases and the results of software qualification test are recorded </a> </td>
											    <td> <a href="../elements/e71af0a2-18af-4eaa-84b2-d8f10aa6da20.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3146e423-8b64-4e93-8140-8946e77e4a23.html" target="element"> SWE.6.O.3 Test cases included in the software qualification test specification are selected according to the software qualification test strategy and the release plan </a> </td>
											    <td> <a href="../elements/3146e423-8b64-4e93-8140-8946e77e4a23.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/676b6530-20d7-403a-8668-7e0dc4f3807b.html" target="element"> SWE.6.O.2 A specification for software qualification test of the integrated software according to the software qualification test strategy is developed that is suitable to provide evidence for compliance with the software requirements </a> </td>
											    <td> <a href="../elements/676b6530-20d7-403a-8668-7e0dc4f3807b.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/93c9a2eb-4cd8-45bc-a5ea-b3f277880ac7.html" target="element"> 08-50 Test specification </a> </td>
											    <td> <a href="../elements/93c9a2eb-4cd8-45bc-a5ea-b3f277880ac7.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4959f519-a65b-4589-b77f-adda3dc44ea1.html" target="element"> 08-52 Test plan </a> </td>
											    <td> <a href="../elements/4959f519-a65b-4589-b77f-adda3dc44ea1.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element"> 13-04 Communication Record </a> </td>
											    <td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element"> 13-19 Review Record </a> </td>
											    <td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/27d1998c-afb9-4d93-9df6-b6d8ff6e8a0e.html" target="element"> 13-22 Traceability record  </a> </td>
											    <td> <a href="../elements/27d1998c-afb9-4d93-9df6-b6d8ff6e8a0e.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3ae1b7dc-9344-42d8-b6e2-732b1d8ce352.html" target="element"> 13-50 Test result </a> </td>
											    <td> <a href="../elements/3ae1b7dc-9344-42d8-b6e2-732b1d8ce352.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d64a515a-d20b-4307-a797-9f56bf7667c6.html" target="element"> SWE.6.BP3 Select test cases </a> </td>
											    <td> <a href="../elements/d64a515a-d20b-4307-a797-9f56bf7667c6.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7d216f93-d489-48c8-a10a-a4a918ddb086.html" target="element"> SWE.6.BP2 Develop specification for software qualification test </a> </td>
											    <td> <a href="../elements/7d216f93-d489-48c8-a10a-a4a918ddb086.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9b90ad9f-1b14-4f66-b913-d5d143c81bb4.html" target="element"> SWE.6.BP5 Establish bidirectional traceability </a> </td>
											    <td> <a href="../elements/9b90ad9f-1b14-4f66-b913-d5d143c81bb4.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ebb080ed-2ae4-48f7-96b8-eb0085c423b3.html" target="element"> SWE.6.BP4 Test integrated software </a> </td>
											    <td> <a href="../elements/ebb080ed-2ae4-48f7-96b8-eb0085c423b3.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ea544a8e-3bab-41db-abe7-34eaaf42f011.html" target="element"> SWE.6.BP1 Develop software qualification test strategy including regression test strategy </a> </td>
											    <td> <a href="../elements/ea544a8e-3bab-41db-abe7-34eaaf42f011.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7f049489-d3f4-464d-8078-59516be87dee.html" target="element"> SWE.6.BP6 Ensure consistency </a> </td>
											    <td> <a href="../elements/7f049489-d3f4-464d-8078-59516be87dee.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2f4caef1-5ec0-4809-b196-f0d6179ce1ad.html" target="element"> SWE.6.BP7 Summarize and communicate results </a> </td>
											    <td> <a href="../elements/2f4caef1-5ec0-4809-b196-f0d6179ce1ad.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../views/9e94f80f-8775-4044-8110-6a872c99ec05.html" target="view"> Overview - Process Reference Model </a> </td>
											    <td> <a href="../views/9e94f80f-8775-4044-8110-6a872c99ec05.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/39fd8768-cc1e-4b28-afb3-daf801742eff.html" target="view"> Overview - SWE.6 Software Qualification Test </a> </td>
											    <td> <a href="../views/39fd8768-cc1e-4b28-afb3-daf801742eff.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/7132fbfc-fb2a-4bab-8d9a-3beee7f25fc7.html" target="element">  </a> </td>
																		<td> <a href="../elements/7132fbfc-fb2a-4bab-8d9a-3beee7f25fc7.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/93c9a2eb-4cd8-45bc-a5ea-b3f277880ac7.html" target="element"> 08-50 Test specification </a> </td>
																		<td> <a href="../elements/676b6530-20d7-403a-8668-7e0dc4f3807b.html" target="element"> SWE.6.O.2 A specification for software qualification test of the integrated software according to the software qualification test strategy is developed that is suitable to provide evidence for compliance with the software requirements </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/34d5508a-6dfa-4a0f-8198-2c319b873655.html" target="element">  </a> </td>
																		<td> <a href="../elements/34d5508a-6dfa-4a0f-8198-2c319b873655.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/93c9a2eb-4cd8-45bc-a5ea-b3f277880ac7.html" target="element"> 08-50 Test specification </a> </td>
																		<td> <a href="../elements/3146e423-8b64-4e93-8140-8946e77e4a23.html" target="element"> SWE.6.O.3 Test cases included in the software qualification test specification are selected according to the software qualification test strategy and the release plan </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/52223813-d145-4b9c-8d3c-3d822046b3e6.html" target="element">  </a> </td>
																		<td> <a href="../elements/52223813-d145-4b9c-8d3c-3d822046b3e6.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/4959f519-a65b-4589-b77f-adda3dc44ea1.html" target="element"> 08-52 Test plan </a> </td>
																		<td> <a href="../elements/546ce7d1-b1ef-4d40-a248-d99c14f51a3d.html" target="element"> SWE.6.O.1 A software qualification test strategy including regression test strategy consistent with the project plan and release plan is developed to test the integrated software </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/d1bf131a-fea0-4aa3-a44c-9ddb71d73200.html" target="element">  </a> </td>
																		<td> <a href="../elements/d1bf131a-fea0-4aa3-a44c-9ddb71d73200.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element"> 13-04 Communication Record </a> </td>
																		<td> <a href="../elements/d3ce5772-cf69-495d-8d79-a0e228fac382.html" target="element"> SWE.6.O.6 Results of the software qualification test are summarized and communicated to all affected parties </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/772c9d27-26f2-4e4d-a537-f83a75235b21.html" target="element">  </a> </td>
																		<td> <a href="../elements/772c9d27-26f2-4e4d-a537-f83a75235b21.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element"> 13-19 Review Record </a> </td>
																		<td> <a href="../elements/cb0e6a08-a79a-4fb4-8550-645a0cf4520d.html" target="element"> SWE.6.O.5 Consistency and bidirectional traceability are established between software requirements and software qualification test specification including test cases and between test cases and test results </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/b2585008-9d7f-4cf0-b054-87ee4b902304.html" target="element">  </a> </td>
																		<td> <a href="../elements/b2585008-9d7f-4cf0-b054-87ee4b902304.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/27d1998c-afb9-4d93-9df6-b6d8ff6e8a0e.html" target="element"> 13-22 Traceability record  </a> </td>
																		<td> <a href="../elements/cb0e6a08-a79a-4fb4-8550-645a0cf4520d.html" target="element"> SWE.6.O.5 Consistency and bidirectional traceability are established between software requirements and software qualification test specification including test cases and between test cases and test results </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/1562b888-f7f5-4944-9fa8-daf71ef7f5d3.html" target="element">  </a> </td>
																		<td> <a href="../elements/1562b888-f7f5-4944-9fa8-daf71ef7f5d3.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/3ae1b7dc-9344-42d8-b6e2-732b1d8ce352.html" target="element"> 13-50 Test result </a> </td>
																		<td> <a href="../elements/e71af0a2-18af-4eaa-84b2-d8f10aa6da20.html" target="element"> SWE.6.O.4 The integrated software is tested using the selected test cases and the results of software qualification test are recorded </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/526bf0c8-ff27-4f6e-85d5-8486d9cf3325.html" target="element">  </a> </td>
																		<td> <a href="../elements/526bf0c8-ff27-4f6e-85d5-8486d9cf3325.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/3ae1b7dc-9344-42d8-b6e2-732b1d8ce352.html" target="element"> 13-50 Test result </a> </td>
																		<td> <a href="../elements/d3ce5772-cf69-495d-8d79-a0e228fac382.html" target="element"> SWE.6.O.6 Results of the software qualification test are summarized and communicated to all affected parties </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/1887f626-7a8f-4fcb-9201-608e6a217bcf.html" target="element">  </a> </td>
																		<td> <a href="../elements/1887f626-7a8f-4fcb-9201-608e6a217bcf.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/d64a515a-d20b-4307-a797-9f56bf7667c6.html" target="element"> SWE.6.BP3 Select test cases </a> </td>
																		<td> <a href="../elements/3146e423-8b64-4e93-8140-8946e77e4a23.html" target="element"> SWE.6.O.3 Test cases included in the software qualification test specification are selected according to the software qualification test strategy and the release plan </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/64f7fac6-ced4-4b88-8c58-5d751ee0e62e.html" target="element">  </a> </td>
																		<td> <a href="../elements/64f7fac6-ced4-4b88-8c58-5d751ee0e62e.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/7d216f93-d489-48c8-a10a-a4a918ddb086.html" target="element"> SWE.6.BP2 Develop specification for software qualification test </a> </td>
																		<td> <a href="../elements/676b6530-20d7-403a-8668-7e0dc4f3807b.html" target="element"> SWE.6.O.2 A specification for software qualification test of the integrated software according to the software qualification test strategy is developed that is suitable to provide evidence for compliance with the software requirements </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/fab4c949-3899-4c5a-bbf0-9e65ccf17ffc.html" target="element">  </a> </td>
																		<td> <a href="../elements/fab4c949-3899-4c5a-bbf0-9e65ccf17ffc.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/9b90ad9f-1b14-4f66-b913-d5d143c81bb4.html" target="element"> SWE.6.BP5 Establish bidirectional traceability </a> </td>
																		<td> <a href="../elements/cb0e6a08-a79a-4fb4-8550-645a0cf4520d.html" target="element"> SWE.6.O.5 Consistency and bidirectional traceability are established between software requirements and software qualification test specification including test cases and between test cases and test results </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/c5908e64-3910-4f07-8a66-546a71eea164.html" target="element">  </a> </td>
																		<td> <a href="../elements/c5908e64-3910-4f07-8a66-546a71eea164.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/ebb080ed-2ae4-48f7-96b8-eb0085c423b3.html" target="element"> SWE.6.BP4 Test integrated software </a> </td>
																		<td> <a href="../elements/e71af0a2-18af-4eaa-84b2-d8f10aa6da20.html" target="element"> SWE.6.O.4 The integrated software is tested using the selected test cases and the results of software qualification test are recorded </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/727a80b2-20a4-4012-a703-e574791b2a9c.html" target="element">  </a> </td>
																		<td> <a href="../elements/727a80b2-20a4-4012-a703-e574791b2a9c.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/ea544a8e-3bab-41db-abe7-34eaaf42f011.html" target="element"> SWE.6.BP1 Develop software qualification test strategy including regression test strategy </a> </td>
																		<td> <a href="../elements/546ce7d1-b1ef-4d40-a248-d99c14f51a3d.html" target="element"> SWE.6.O.1 A software qualification test strategy including regression test strategy consistent with the project plan and release plan is developed to test the integrated software </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/065d3477-99cf-408a-ba40-ab0d2685a393.html" target="element">  </a> </td>
																		<td> <a href="../elements/065d3477-99cf-408a-ba40-ab0d2685a393.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/7f049489-d3f4-464d-8078-59516be87dee.html" target="element"> SWE.6.BP6 Ensure consistency </a> </td>
																		<td> <a href="../elements/cb0e6a08-a79a-4fb4-8550-645a0cf4520d.html" target="element"> SWE.6.O.5 Consistency and bidirectional traceability are established between software requirements and software qualification test specification including test cases and between test cases and test results </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/d4bca164-a6f1-4018-86ad-d3992aad39d6.html" target="element">  </a> </td>
																		<td> <a href="../elements/d4bca164-a6f1-4018-86ad-d3992aad39d6.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/2f4caef1-5ec0-4809-b196-f0d6179ce1ad.html" target="element"> SWE.6.BP7 Summarize and communicate results </a> </td>
																		<td> <a href="../elements/d3ce5772-cf69-495d-8d79-a0e228fac382.html" target="element"> SWE.6.O.6 Results of the software qualification test are summarized and communicated to all affected parties </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>