<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Overview - SUP.7 Documentation</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Overview - SUP.7 Documentation</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/138cd393-f9ac-4d71-8295-d80faf46c437.png" alt="Overview - SUP.7 Documentation" usemap="#138cd393-f9ac-4d71-8295-d80faf46c437map"/>
			   <map name="138cd393-f9ac-4d71-8295-d80faf46c437map">
				  		<area shape="rect" coords="754,514,992,569" href="../views/9e94f80f-8775-4044-8110-6a872c99ec05.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="754,454,992,509" href="../views/fa6913f9-2c62-4369-84c5-2abe0fee0021.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="418,430,623,485" href="../elements/4899f92e-45ee-49c5-be6f-d4752a836901.html"  target="element">
				  		<area shape="rect" coords="418,370,623,425" href="../elements/911eaef4-e67d-42a3-995f-9a1788bfa10f.html"  target="element">
				  		<area shape="rect" coords="418,310,623,365" href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html"  target="element">
				  		<area shape="rect" coords="418,250,623,305" href="../elements/5d54f4ee-0ad9-4fda-8747-d0299d022683.html"  target="element">
				  		<area shape="rect" coords="418,190,623,245" href="../elements/99a2970f-389b-439d-a047-63794ef847b5.html"  target="element">
				  				<area shape="rect" coords="34,646,311,701" href="../elements/179627dd-a824-4ff6-bfcb-05a080d979a2.html"  target="element">
				  				<area shape="rect" coords="34,586,311,641" href="../elements/6cdf19ed-4d38-445e-9e6b-6286f0d72ed7.html"  target="element">
				  				<area shape="rect" coords="34,526,311,581" href="../elements/31da74b9-d536-4881-a128-2cc37519d1a4.html"  target="element">
				  				<area shape="rect" coords="34,226,311,281" href="../elements/3478d911-5ed5-442f-a994-67b2c952bf32.html"  target="element">
				  				<area shape="rect" coords="34,406,311,461" href="../elements/91bbd59a-5f9a-499d-a73f-c146edda7a3d.html"  target="element">
				  				<area shape="rect" coords="34,466,311,521" href="../elements/b15d5cdc-62b2-49c5-9f32-74bcb77edfb4.html"  target="element">
				  				<area shape="rect" coords="34,286,311,341" href="../elements/5058db90-a853-4500-8fe6-c39b4a4746e4.html"  target="element">
				  				<area shape="rect" coords="34,346,311,401" href="../elements/46972d51-1176-46ed-b72a-c9189eccd1ce.html"  target="element">

				  		<area shape="rect" coords="22,190,323,719" href="../elements/67ecaeec-2ac8-420a-89eb-fc4126e31d01.html"  target="element">
				  		<area shape="rect" coords="257,10,495,95" href="../elements/3e2296d8-0ff9-4ade-9cb1-3bba17ca4fab.html"  target="element">
				  		<area shape="rect" coords="502,10,740,95" href="../elements/62cb6831-f017-408d-ae90-aab4cc4408fd.html"  target="element">
				  		<area shape="rect" coords="754,10,992,95" href="../elements/72055116-1ab1-4f14-8cc4-52519d0e48df.html"  target="element">
				  		<area shape="rect" coords="1006,10,1244,95" href="../elements/b9170925-99f2-4b84-90a6-96c9cadecb8d.html"  target="element">
				  		<area shape="rect" coords="1258,10,1496,95" href="../elements/ab642367-ad38-47fd-9016-3907b3f05176.html"  target="element">
				  		<area shape="rect" coords="10,10,248,95" href="../elements/b1c666ba-ea72-4c24-90de-e81e6a178b9d.html"  target="element">
				          <area shape="rect" coords="754,190,992,443" href="../objects/d07aabfb-536d-4e16-b677-e406c70527cb.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">This view describes SUP.7 Documentation Process, its outputs and outcomes

Relation of Outcomes to Outputs and Base Practices is out of scope of this view. See respective view for these details.

Latest version and docs can be found here: https://github.com/alef1986/ASPICE-Archi

Source of information for this view is Automotive SPICE Standards v.3.1
(http://www.automotivespice.com/fileadmin/software-download/AutomotiveSPICE_PAM_31.pdf)</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/d07aabfb-536d-4e16-b677-e406c70527cb.html" target="element">  </a> </td>
									           <td> <a href="../objects/d07aabfb-536d-4e16-b677-e406c70527cb.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/b1c666ba-ea72-4c24-90de-e81e6a178b9d.html" target="element"> SUP.7.O.1 A strategy identifying the documentation to be produced during the lifecycle of the product or service is developed </a> </td>
											    <td> <a href="../elements/b1c666ba-ea72-4c24-90de-e81e6a178b9d.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ab642367-ad38-47fd-9016-3907b3f05176.html" target="element"> SUP.7.O.6 Documentation is maintained in accordance with defined criteria </a> </td>
											    <td> <a href="../elements/ab642367-ad38-47fd-9016-3907b3f05176.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b9170925-99f2-4b84-90a6-96c9cadecb8d.html" target="element"> SUP.7.O.5 Documentation is developed and made available in accordance with identified standards </a> </td>
											    <td> <a href="../elements/b9170925-99f2-4b84-90a6-96c9cadecb8d.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/72055116-1ab1-4f14-8cc4-52519d0e48df.html" target="element"> SUP.7.O.4 The content and purpose of all documentation is specified, reviewed and approved </a> </td>
											    <td> <a href="../elements/72055116-1ab1-4f14-8cc4-52519d0e48df.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/62cb6831-f017-408d-ae90-aab4cc4408fd.html" target="element"> SUP.7.O.3 Documentation to be produced by the process or project is identified </a> </td>
											    <td> <a href="../elements/62cb6831-f017-408d-ae90-aab4cc4408fd.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3e2296d8-0ff9-4ade-9cb1-3bba17ca4fab.html" target="element"> SUP.7.O.2 The standards to be applied for the development of the documentation are identified </a> </td>
											    <td> <a href="../elements/3e2296d8-0ff9-4ade-9cb1-3bba17ca4fab.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/67ecaeec-2ac8-420a-89eb-fc4126e31d01.html" target="element"> SUP.7 Documentation </a> </td>
											    <td> <a href="../elements/67ecaeec-2ac8-420a-89eb-fc4126e31d01.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/46972d51-1176-46ed-b72a-c9189eccd1ce.html" target="element"> SUP.7.BP3 Specify documentation requirements </a> </td>
													    <td> <a href="../elements/46972d51-1176-46ed-b72a-c9189eccd1ce.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/5058db90-a853-4500-8fe6-c39b4a4746e4.html" target="element"> SUP.7.BP2 Establish standards for documentation </a> </td>
													    <td> <a href="../elements/5058db90-a853-4500-8fe6-c39b4a4746e4.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/b15d5cdc-62b2-49c5-9f32-74bcb77edfb4.html" target="element"> SUP.7.BP5 Develop documentation </a> </td>
													    <td> <a href="../elements/b15d5cdc-62b2-49c5-9f32-74bcb77edfb4.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/91bbd59a-5f9a-499d-a73f-c146edda7a3d.html" target="element"> SUP.7.BP4 Identify the relevant documentation to be produced </a> </td>
													    <td> <a href="../elements/91bbd59a-5f9a-499d-a73f-c146edda7a3d.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/3478d911-5ed5-442f-a994-67b2c952bf32.html" target="element"> SUP.7.BP1 Develop a documentation management strategy </a> </td>
													    <td> <a href="../elements/3478d911-5ed5-442f-a994-67b2c952bf32.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/31da74b9-d536-4881-a128-2cc37519d1a4.html" target="element"> SUP.7.BP6 Check documentation </a> </td>
													    <td> <a href="../elements/31da74b9-d536-4881-a128-2cc37519d1a4.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/6cdf19ed-4d38-445e-9e6b-6286f0d72ed7.html" target="element"> SUP.7.BP7 Distribute documentation </a> </td>
													    <td> <a href="../elements/6cdf19ed-4d38-445e-9e6b-6286f0d72ed7.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/179627dd-a824-4ff6-bfcb-05a080d979a2.html" target="element"> SUP.7.BP8 Maintain documentation </a> </td>
													    <td> <a href="../elements/179627dd-a824-4ff6-bfcb-05a080d979a2.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/99a2970f-389b-439d-a047-63794ef847b5.html" target="element"> 08-26 Documentation plan </a> </td>
											    <td> <a href="../elements/99a2970f-389b-439d-a047-63794ef847b5.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5d54f4ee-0ad9-4fda-8747-d0299d022683.html" target="element"> 13-01 Acceptance record </a> </td>
											    <td> <a href="../elements/5d54f4ee-0ad9-4fda-8747-d0299d022683.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element"> 13-19 Review Record </a> </td>
											    <td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/911eaef4-e67d-42a3-995f-9a1788bfa10f.html" target="element"> 14-01 Change history </a> </td>
											    <td> <a href="../elements/911eaef4-e67d-42a3-995f-9a1788bfa10f.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4899f92e-45ee-49c5-be6f-d4752a836901.html" target="element"> 14-11 Work product list </a> </td>
											    <td> <a href="../elements/4899f92e-45ee-49c5-be6f-d4752a836901.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../views/fa6913f9-2c62-4369-84c5-2abe0fee0021.html" target="view"> O. vs. BP. vs. WP. - SUP.7 Documentation </a> </td>
											    <td> <a href="../views/fa6913f9-2c62-4369-84c5-2abe0fee0021.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/9e94f80f-8775-4044-8110-6a872c99ec05.html" target="view"> Overview - Process Reference Model </a> </td>
											    <td> <a href="../views/9e94f80f-8775-4044-8110-6a872c99ec05.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/eb43df2d-3172-481f-ac24-5dd46fa68234.html" target="element">  </a> </td>
																		<td> <a href="../elements/eb43df2d-3172-481f-ac24-5dd46fa68234.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/67ecaeec-2ac8-420a-89eb-fc4126e31d01.html" target="element"> SUP.7 Documentation </a> </td>
																		<td> <a href="../elements/3478d911-5ed5-442f-a994-67b2c952bf32.html" target="element"> SUP.7.BP1 Develop a documentation management strategy </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ad9462ff-a16d-4a1e-9a4c-c9b5b45817f3.html" target="element">  </a> </td>
																		<td> <a href="../elements/ad9462ff-a16d-4a1e-9a4c-c9b5b45817f3.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/67ecaeec-2ac8-420a-89eb-fc4126e31d01.html" target="element"> SUP.7 Documentation </a> </td>
																		<td> <a href="../elements/31da74b9-d536-4881-a128-2cc37519d1a4.html" target="element"> SUP.7.BP6 Check documentation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0954e526-0c12-454f-ad98-98a2851e59a9.html" target="element">  </a> </td>
																		<td> <a href="../elements/0954e526-0c12-454f-ad98-98a2851e59a9.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/67ecaeec-2ac8-420a-89eb-fc4126e31d01.html" target="element"> SUP.7 Documentation </a> </td>
																		<td> <a href="../elements/6cdf19ed-4d38-445e-9e6b-6286f0d72ed7.html" target="element"> SUP.7.BP7 Distribute documentation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2a54601b-8531-4554-81b0-df19513b93d2.html" target="element">  </a> </td>
																		<td> <a href="../elements/2a54601b-8531-4554-81b0-df19513b93d2.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/67ecaeec-2ac8-420a-89eb-fc4126e31d01.html" target="element"> SUP.7 Documentation </a> </td>
																		<td> <a href="../elements/91bbd59a-5f9a-499d-a73f-c146edda7a3d.html" target="element"> SUP.7.BP4 Identify the relevant documentation to be produced </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2ce7d825-13dc-4baf-bce1-118c6733708b.html" target="element">  </a> </td>
																		<td> <a href="../elements/2ce7d825-13dc-4baf-bce1-118c6733708b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/67ecaeec-2ac8-420a-89eb-fc4126e31d01.html" target="element"> SUP.7 Documentation </a> </td>
																		<td> <a href="../elements/5058db90-a853-4500-8fe6-c39b4a4746e4.html" target="element"> SUP.7.BP2 Establish standards for documentation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f7d36937-391b-4320-ab63-9232ac4317a6.html" target="element">  </a> </td>
																		<td> <a href="../elements/f7d36937-391b-4320-ab63-9232ac4317a6.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/67ecaeec-2ac8-420a-89eb-fc4126e31d01.html" target="element"> SUP.7 Documentation </a> </td>
																		<td> <a href="../elements/46972d51-1176-46ed-b72a-c9189eccd1ce.html" target="element"> SUP.7.BP3 Specify documentation requirements </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d91852d9-1fe4-4e98-a840-7d86ae06485c.html" target="element">  </a> </td>
																		<td> <a href="../elements/d91852d9-1fe4-4e98-a840-7d86ae06485c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/67ecaeec-2ac8-420a-89eb-fc4126e31d01.html" target="element"> SUP.7 Documentation </a> </td>
																		<td> <a href="../elements/b15d5cdc-62b2-49c5-9f32-74bcb77edfb4.html" target="element"> SUP.7.BP5 Develop documentation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/350b6717-2ee2-4012-a665-184c52ce1892.html" target="element">  </a> </td>
																		<td> <a href="../elements/350b6717-2ee2-4012-a665-184c52ce1892.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/67ecaeec-2ac8-420a-89eb-fc4126e31d01.html" target="element"> SUP.7 Documentation </a> </td>
																		<td> <a href="../elements/179627dd-a824-4ff6-bfcb-05a080d979a2.html" target="element"> SUP.7.BP8 Maintain documentation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0d900ad2-ff16-4fb9-852f-fefccf44fd53.html" target="element">  </a> </td>
																		<td> <a href="../elements/0d900ad2-ff16-4fb9-852f-fefccf44fd53.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/67ecaeec-2ac8-420a-89eb-fc4126e31d01.html" target="element"> SUP.7 Documentation </a> </td>
																		<td> <a href="../elements/99a2970f-389b-439d-a047-63794ef847b5.html" target="element"> 08-26 Documentation plan </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/01100001-13bb-4eaf-8264-3cb2879d3d12.html" target="element">  </a> </td>
																		<td> <a href="../elements/01100001-13bb-4eaf-8264-3cb2879d3d12.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/67ecaeec-2ac8-420a-89eb-fc4126e31d01.html" target="element"> SUP.7 Documentation </a> </td>
																		<td> <a href="../elements/5d54f4ee-0ad9-4fda-8747-d0299d022683.html" target="element"> 13-01 Acceptance record </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/25306ebd-3254-4fb2-b3cf-5fb035915458.html" target="element">  </a> </td>
																		<td> <a href="../elements/25306ebd-3254-4fb2-b3cf-5fb035915458.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/67ecaeec-2ac8-420a-89eb-fc4126e31d01.html" target="element"> SUP.7 Documentation </a> </td>
																		<td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element"> 13-19 Review Record </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/08521581-d2e8-4606-a04e-43c1e2aac0fb.html" target="element">  </a> </td>
																		<td> <a href="../elements/08521581-d2e8-4606-a04e-43c1e2aac0fb.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/67ecaeec-2ac8-420a-89eb-fc4126e31d01.html" target="element"> SUP.7 Documentation </a> </td>
																		<td> <a href="../elements/911eaef4-e67d-42a3-995f-9a1788bfa10f.html" target="element"> 14-01 Change history </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b9f7c756-2add-419c-b1ba-390935b204f5.html" target="element">  </a> </td>
																		<td> <a href="../elements/b9f7c756-2add-419c-b1ba-390935b204f5.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/67ecaeec-2ac8-420a-89eb-fc4126e31d01.html" target="element"> SUP.7 Documentation </a> </td>
																		<td> <a href="../elements/4899f92e-45ee-49c5-be6f-d4752a836901.html" target="element"> 14-11 Work product list </a> </td>
																	</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>