<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>O. vs. BP. vs. WP. - SPL.2 Product Release</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>O. vs. BP. vs. WP. - SPL.2 Product Release</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/1924754a-e2b4-4b1f-b118-1b725d9688c7.png" alt="O. vs. BP. vs. WP. - SPL.2 Product Release" usemap="#1924754a-e2b4-4b1f-b118-1b725d9688c7map"/>
			   <map name="1924754a-e2b4-4b1f-b118-1b725d9688c7map">
				  		<area shape="rect" coords="1270,622,1427,677" href="../elements/54232d87-f457-4883-b8df-b556195bda91.html"  target="element">
				  		<area shape="rect" coords="1090,622,1247,677" href="../elements/1d5324e2-ff64-4956-9350-75e66eac9143.html"  target="element">
				  		<area shape="rect" coords="910,622,1067,677" href="../elements/8e57df75-3212-485c-852c-21a790ccc9f8.html"  target="element">
				  		<area shape="rect" coords="730,622,887,677" href="../elements/b943cb15-aa95-40b5-9bbc-428a491b3bda.html"  target="element">
				  		<area shape="rect" coords="550,622,707,677" href="../elements/27adfc75-875c-453a-8446-578ba50907ff.html"  target="element">
				  		<area shape="rect" coords="370,622,527,677" href="../elements/5efb4ce2-8b5c-4d23-ae68-5f1b0bb0bd95.html"  target="element">
				  		<area shape="rect" coords="190,622,347,677" href="../elements/654c62fd-d2bd-4709-97b4-20d7acfbb492.html"  target="element">
				  		<area shape="rect" coords="10,622,167,677" href="../elements/8098250e-7eea-41d2-940b-f4b43cca4bbf.html"  target="element">
				  		<area shape="rect" coords="1270,82,1499,137" href="../elements/3a4cae50-acfe-43b5-9a38-af47f20861b6.html"  target="element">
				  		<area shape="rect" coords="1030,82,1259,137" href="../elements/bd1b0672-d481-48bb-96ac-0169bec89224.html"  target="element">
				  		<area shape="rect" coords="790,82,1019,137" href="../elements/2c71ade2-b7c6-43e5-978f-78d67601166e.html"  target="element">
				  		<area shape="rect" coords="550,82,779,137" href="../elements/989bb3d8-92b7-427f-b7ff-bca2f5aa4257.html"  target="element">
				  		<area shape="rect" coords="310,82,539,137" href="../elements/99b21a87-a021-4135-8d50-b7d157563ced.html"  target="element">
				  		<area shape="rect" coords="70,82,299,137" href="../elements/89374fbd-22a3-4832-9269-bca1ef6866fe.html"  target="element">
				  		<area shape="rect" coords="1450,10,1679,65" href="../elements/fc79ee77-1718-4b06-95e4-a0c56009bda8.html"  target="element">
				  		<area shape="rect" coords="1210,10,1439,65" href="../elements/90bc30ba-8b80-4621-9a58-c261e8f0996f.html"  target="element">
				  		<area shape="rect" coords="10,10,239,65" href="../elements/255e6f61-88d4-406f-a0d0-1696bd3da181.html"  target="element">
				  		<area shape="rect" coords="730,10,959,65" href="../elements/6ea25449-4593-4d28-bbb8-731b49253f85.html"  target="element">
				  		<area shape="rect" coords="970,10,1199,65" href="../elements/42814274-35a4-4225-b36d-5729a62d970a.html"  target="element">
				  		<area shape="rect" coords="250,10,479,65" href="../elements/976c6955-4d9c-40c6-a8c9-0738ca2cad5a.html"  target="element">
				  		<area shape="rect" coords="490,10,719,65" href="../elements/dc2b0c0e-ca91-4cd2-8907-3f7205d6d692.html"  target="element">
				  		<area shape="rect" coords="10,490,1727,524" href="../elements/0a5580c5-9b29-4467-ae0a-c187e0e666bd.html"  target="element">
				  		<area shape="rect" coords="10,442,1727,476" href="../elements/76b73523-11b2-48af-961e-13896bc5ffc0.html"  target="element">
				  		<area shape="rect" coords="10,394,1727,428" href="../elements/8035a397-fbff-41a3-a855-daebcc00a490.html"  target="element">
				  		<area shape="rect" coords="10,346,1727,380" href="../elements/cbf04e4b-7bc6-4d44-b59a-a567715636bc.html"  target="element">
				  		<area shape="rect" coords="10,298,1727,332" href="../elements/7dffea04-a082-4719-9625-84ab2e10789c.html"  target="element">
				  		<area shape="rect" coords="10,250,1727,284" href="../elements/c95676e4-7b3b-4bc4-9e44-799f37d70e81.html"  target="element">
				  		<area shape="rect" coords="10,202,1727,236" href="../elements/dffb6486-fe5d-43fe-898e-e770cb902a84.html"  target="element">
				          <area shape="rect" coords="10,778,839,894" href="../objects/f751dfa1-4c16-4219-8f92-e18ff6b55112.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">This view answers the following questions:
- If I implement and deploy the Base Practice (BP) ***, how can I verify if I did it properly? What outcomes shall be achieved?
- If I implement and demploy the Outcome Work Product ***, how can I verify if I did it properly? What outcomes shall be achieved?

Scope of this view - Outcomes, Base Practices and their relations for ASPICE process SPL.2 Product Release

Latest version and docs can be found here: https://github.com/alef1986/ASPICE-Archi</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/f751dfa1-4c16-4219-8f92-e18ff6b55112.html" target="element">  </a> </td>
									           <td> <a href="../objects/f751dfa1-4c16-4219-8f92-e18ff6b55112.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/dffb6486-fe5d-43fe-898e-e770cb902a84.html" target="element"> SPL.2.O.1 The contents of the product release are determined </a> </td>
											    <td> <a href="../elements/dffb6486-fe5d-43fe-898e-e770cb902a84.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c95676e4-7b3b-4bc4-9e44-799f37d70e81.html" target="element"> SPL.2.O.2 The release is assembled from configured items </a> </td>
											    <td> <a href="../elements/c95676e4-7b3b-4bc4-9e44-799f37d70e81.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7dffea04-a082-4719-9625-84ab2e10789c.html" target="element"> SPL.2.O.3 The release documentation is defined and produced </a> </td>
											    <td> <a href="../elements/7dffea04-a082-4719-9625-84ab2e10789c.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cbf04e4b-7bc6-4d44-b59a-a567715636bc.html" target="element"> SPL.2.O.4 The release delivery mechanism and media are determined </a> </td>
											    <td> <a href="../elements/cbf04e4b-7bc6-4d44-b59a-a567715636bc.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8035a397-fbff-41a3-a855-daebcc00a490.html" target="element"> SPL.2.O.5 Release approval is effected against defined criteria </a> </td>
											    <td> <a href="../elements/8035a397-fbff-41a3-a855-daebcc00a490.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/76b73523-11b2-48af-961e-13896bc5ffc0.html" target="element"> SPL.2.O.6 The product release is made available to the intended customer </a> </td>
											    <td> <a href="../elements/76b73523-11b2-48af-961e-13896bc5ffc0.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0a5580c5-9b29-4467-ae0a-c187e0e666bd.html" target="element"> SPL.2.O.7 Confirmation of release is obtained </a> </td>
											    <td> <a href="../elements/0a5580c5-9b29-4467-ae0a-c187e0e666bd.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/dc2b0c0e-ca91-4cd2-8907-3f7205d6d692.html" target="element"> SPL.2.BP3 Establish a product release classification and numbering scheme </a> </td>
											    <td> <a href="../elements/dc2b0c0e-ca91-4cd2-8907-3f7205d6d692.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/976c6955-4d9c-40c6-a8c9-0738ca2cad5a.html" target="element"> SPL.2.BP2 Define release products </a> </td>
											    <td> <a href="../elements/976c6955-4d9c-40c6-a8c9-0738ca2cad5a.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/42814274-35a4-4225-b36d-5729a62d970a.html" target="element"> SPL.2.BP5 Build the release from configured items </a> </td>
											    <td> <a href="../elements/42814274-35a4-4225-b36d-5729a62d970a.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6ea25449-4593-4d28-bbb8-731b49253f85.html" target="element"> SPL.2.BP4 Define the build activities and build environment </a> </td>
											    <td> <a href="../elements/6ea25449-4593-4d28-bbb8-731b49253f85.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/255e6f61-88d4-406f-a0d0-1696bd3da181.html" target="element"> SPL.2.BP1 Define the functional content of releases </a> </td>
											    <td> <a href="../elements/255e6f61-88d4-406f-a0d0-1696bd3da181.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/90bc30ba-8b80-4621-9a58-c261e8f0996f.html" target="element"> SPL.2.BP6 Communicate the type, service level and duration of support for a release </a> </td>
											    <td> <a href="../elements/90bc30ba-8b80-4621-9a58-c261e8f0996f.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/fc79ee77-1718-4b06-95e4-a0c56009bda8.html" target="element"> SPL.2.BP7 Determine the delivery media type for the release </a> </td>
											    <td> <a href="../elements/fc79ee77-1718-4b06-95e4-a0c56009bda8.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/89374fbd-22a3-4832-9269-bca1ef6866fe.html" target="element"> SPL.2.BP8 Identify the packaging for the release media </a> </td>
											    <td> <a href="../elements/89374fbd-22a3-4832-9269-bca1ef6866fe.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/99b21a87-a021-4135-8d50-b7d157563ced.html" target="element"> SPL.2.BP9 Define and produce the product release documentation/release notes </a> </td>
											    <td> <a href="../elements/99b21a87-a021-4135-8d50-b7d157563ced.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/989bb3d8-92b7-427f-b7ff-bca2f5aa4257.html" target="element"> SPL.2.BP10 Ensure product release approval before delivery </a> </td>
											    <td> <a href="../elements/989bb3d8-92b7-427f-b7ff-bca2f5aa4257.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2c71ade2-b7c6-43e5-978f-78d67601166e.html" target="element"> SPL.2.BP11 Ensure consistency </a> </td>
											    <td> <a href="../elements/2c71ade2-b7c6-43e5-978f-78d67601166e.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/bd1b0672-d481-48bb-96ac-0169bec89224.html" target="element"> SPL.2.BP12 Provide a release note </a> </td>
											    <td> <a href="../elements/bd1b0672-d481-48bb-96ac-0169bec89224.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3a4cae50-acfe-43b5-9a38-af47f20861b6.html" target="element"> SPL.2.BP13 Deliver the release to the intended customer </a> </td>
											    <td> <a href="../elements/3a4cae50-acfe-43b5-9a38-af47f20861b6.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8098250e-7eea-41d2-940b-f4b43cca4bbf.html" target="element"> 08-16 Release plan </a> </td>
											    <td> <a href="../elements/8098250e-7eea-41d2-940b-f4b43cca4bbf.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/654c62fd-d2bd-4709-97b4-20d7acfbb492.html" target="element"> 11-03 Product release information </a> </td>
											    <td> <a href="../elements/654c62fd-d2bd-4709-97b4-20d7acfbb492.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5efb4ce2-8b5c-4d23-ae68-5f1b0bb0bd95.html" target="element"> 11-04 Product release package </a> </td>
											    <td> <a href="../elements/5efb4ce2-8b5c-4d23-ae68-5f1b0bb0bd95.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/27adfc75-875c-453a-8446-578ba50907ff.html" target="element"> 11-07 Temporary solution </a> </td>
											    <td> <a href="../elements/27adfc75-875c-453a-8446-578ba50907ff.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b943cb15-aa95-40b5-9bbc-428a491b3bda.html" target="element"> 13-06 Delivery record </a> </td>
											    <td> <a href="../elements/b943cb15-aa95-40b5-9bbc-428a491b3bda.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8e57df75-3212-485c-852c-21a790ccc9f8.html" target="element"> 13-13 Product release approval record </a> </td>
											    <td> <a href="../elements/8e57df75-3212-485c-852c-21a790ccc9f8.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1d5324e2-ff64-4956-9350-75e66eac9143.html" target="element"> 15-03 Configuration status report  </a> </td>
											    <td> <a href="../elements/1d5324e2-ff64-4956-9350-75e66eac9143.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/54232d87-f457-4883-b8df-b556195bda91.html" target="element"> 18-06 Product release criteria </a> </td>
											    <td> <a href="../elements/54232d87-f457-4883-b8df-b556195bda91.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/bb2acb18-e975-463a-9273-c725946d6b5c.html" target="element">  </a> </td>
																		<td> <a href="../elements/bb2acb18-e975-463a-9273-c725946d6b5c.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/dc2b0c0e-ca91-4cd2-8907-3f7205d6d692.html" target="element"> SPL.2.BP3 Establish a product release classification and numbering scheme </a> </td>
																		<td> <a href="../elements/c95676e4-7b3b-4bc4-9e44-799f37d70e81.html" target="element"> SPL.2.O.2 The release is assembled from configured items </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/68579239-62f9-4380-9db4-a3f97a88c909.html" target="element">  </a> </td>
																		<td> <a href="../elements/68579239-62f9-4380-9db4-a3f97a88c909.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/976c6955-4d9c-40c6-a8c9-0738ca2cad5a.html" target="element"> SPL.2.BP2 Define release products </a> </td>
																		<td> <a href="../elements/dffb6486-fe5d-43fe-898e-e770cb902a84.html" target="element"> SPL.2.O.1 The contents of the product release are determined </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/fdef6e17-9484-423f-8cf2-88fd72760327.html" target="element">  </a> </td>
																		<td> <a href="../elements/fdef6e17-9484-423f-8cf2-88fd72760327.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/42814274-35a4-4225-b36d-5729a62d970a.html" target="element"> SPL.2.BP5 Build the release from configured items </a> </td>
																		<td> <a href="../elements/c95676e4-7b3b-4bc4-9e44-799f37d70e81.html" target="element"> SPL.2.O.2 The release is assembled from configured items </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/8532bbd5-c69c-4700-927f-67ed1c217080.html" target="element">  </a> </td>
																		<td> <a href="../elements/8532bbd5-c69c-4700-927f-67ed1c217080.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/6ea25449-4593-4d28-bbb8-731b49253f85.html" target="element"> SPL.2.BP4 Define the build activities and build environment </a> </td>
																		<td> <a href="../elements/c95676e4-7b3b-4bc4-9e44-799f37d70e81.html" target="element"> SPL.2.O.2 The release is assembled from configured items </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/25f2cd15-5ac5-42e3-8383-a5ae9bcf8210.html" target="element">  </a> </td>
																		<td> <a href="../elements/25f2cd15-5ac5-42e3-8383-a5ae9bcf8210.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/255e6f61-88d4-406f-a0d0-1696bd3da181.html" target="element"> SPL.2.BP1 Define the functional content of releases </a> </td>
																		<td> <a href="../elements/dffb6486-fe5d-43fe-898e-e770cb902a84.html" target="element"> SPL.2.O.1 The contents of the product release are determined </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4429c138-82ab-4d32-9820-5a06285a2ea4.html" target="element">  </a> </td>
																		<td> <a href="../elements/4429c138-82ab-4d32-9820-5a06285a2ea4.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/255e6f61-88d4-406f-a0d0-1696bd3da181.html" target="element"> SPL.2.BP1 Define the functional content of releases </a> </td>
																		<td> <a href="../elements/7dffea04-a082-4719-9625-84ab2e10789c.html" target="element"> SPL.2.O.3 The release documentation is defined and produced </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/fb9eb12b-0da2-4120-8052-4fce8eb2b579.html" target="element">  </a> </td>
																		<td> <a href="../elements/fb9eb12b-0da2-4120-8052-4fce8eb2b579.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/90bc30ba-8b80-4621-9a58-c261e8f0996f.html" target="element"> SPL.2.BP6 Communicate the type, service level and duration of support for a release </a> </td>
																		<td> <a href="../elements/7dffea04-a082-4719-9625-84ab2e10789c.html" target="element"> SPL.2.O.3 The release documentation is defined and produced </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/b8f0b7fa-5066-4e6a-bf52-368b7630249f.html" target="element">  </a> </td>
																		<td> <a href="../elements/b8f0b7fa-5066-4e6a-bf52-368b7630249f.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/fc79ee77-1718-4b06-95e4-a0c56009bda8.html" target="element"> SPL.2.BP7 Determine the delivery media type for the release </a> </td>
																		<td> <a href="../elements/cbf04e4b-7bc6-4d44-b59a-a567715636bc.html" target="element"> SPL.2.O.4 The release delivery mechanism and media are determined </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/53e54fc0-36d8-4932-8d11-b5ad50bc69bf.html" target="element">  </a> </td>
																		<td> <a href="../elements/53e54fc0-36d8-4932-8d11-b5ad50bc69bf.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/89374fbd-22a3-4832-9269-bca1ef6866fe.html" target="element"> SPL.2.BP8 Identify the packaging for the release media </a> </td>
																		<td> <a href="../elements/cbf04e4b-7bc6-4d44-b59a-a567715636bc.html" target="element"> SPL.2.O.4 The release delivery mechanism and media are determined </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/28c76127-8f09-4a3e-ba4f-84de5778e3a6.html" target="element">  </a> </td>
																		<td> <a href="../elements/28c76127-8f09-4a3e-ba4f-84de5778e3a6.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/99b21a87-a021-4135-8d50-b7d157563ced.html" target="element"> SPL.2.BP9 Define and produce the product release documentation/release notes </a> </td>
																		<td> <a href="../elements/7dffea04-a082-4719-9625-84ab2e10789c.html" target="element"> SPL.2.O.3 The release documentation is defined and produced </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/05fadc43-b7eb-45ca-8434-05975e47ab95.html" target="element">  </a> </td>
																		<td> <a href="../elements/05fadc43-b7eb-45ca-8434-05975e47ab95.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/989bb3d8-92b7-427f-b7ff-bca2f5aa4257.html" target="element"> SPL.2.BP10 Ensure product release approval before delivery </a> </td>
																		<td> <a href="../elements/8035a397-fbff-41a3-a855-daebcc00a490.html" target="element"> SPL.2.O.5 Release approval is effected against defined criteria </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/05b51343-8e16-4192-8a31-e04d2f748239.html" target="element">  </a> </td>
																		<td> <a href="../elements/05b51343-8e16-4192-8a31-e04d2f748239.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/2c71ade2-b7c6-43e5-978f-78d67601166e.html" target="element"> SPL.2.BP11 Ensure consistency </a> </td>
																		<td> <a href="../elements/8035a397-fbff-41a3-a855-daebcc00a490.html" target="element"> SPL.2.O.5 Release approval is effected against defined criteria </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/1de3be6b-0708-4ce6-b805-7039b47c08f7.html" target="element">  </a> </td>
																		<td> <a href="../elements/1de3be6b-0708-4ce6-b805-7039b47c08f7.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/bd1b0672-d481-48bb-96ac-0169bec89224.html" target="element"> SPL.2.BP12 Provide a release note </a> </td>
																		<td> <a href="../elements/76b73523-11b2-48af-961e-13896bc5ffc0.html" target="element"> SPL.2.O.6 The product release is made available to the intended customer </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/92a23078-e1c5-42c7-99b7-7f0872b46b63.html" target="element">  </a> </td>
																		<td> <a href="../elements/92a23078-e1c5-42c7-99b7-7f0872b46b63.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/3a4cae50-acfe-43b5-9a38-af47f20861b6.html" target="element"> SPL.2.BP13 Deliver the release to the intended customer </a> </td>
																		<td> <a href="../elements/76b73523-11b2-48af-961e-13896bc5ffc0.html" target="element"> SPL.2.O.6 The product release is made available to the intended customer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8766f877-6cbb-4442-b14f-8d6000cd1fe9.html" target="element">  </a> </td>
																		<td> <a href="../elements/8766f877-6cbb-4442-b14f-8d6000cd1fe9.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/3a4cae50-acfe-43b5-9a38-af47f20861b6.html" target="element"> SPL.2.BP13 Deliver the release to the intended customer </a> </td>
																		<td> <a href="../elements/0a5580c5-9b29-4467-ae0a-c187e0e666bd.html" target="element"> SPL.2.O.7 Confirmation of release is obtained </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/c3de08b6-0eb4-4aa3-a9d9-bdc660e52a6a.html" target="element">  </a> </td>
																		<td> <a href="../elements/c3de08b6-0eb4-4aa3-a9d9-bdc660e52a6a.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/8098250e-7eea-41d2-940b-f4b43cca4bbf.html" target="element"> 08-16 Release plan </a> </td>
																		<td> <a href="../elements/dffb6486-fe5d-43fe-898e-e770cb902a84.html" target="element"> SPL.2.O.1 The contents of the product release are determined </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c3137ef1-efaa-48d7-9a95-10293010090c.html" target="element">  </a> </td>
																		<td> <a href="../elements/c3137ef1-efaa-48d7-9a95-10293010090c.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/8098250e-7eea-41d2-940b-f4b43cca4bbf.html" target="element"> 08-16 Release plan </a> </td>
																		<td> <a href="../elements/7dffea04-a082-4719-9625-84ab2e10789c.html" target="element"> SPL.2.O.3 The release documentation is defined and produced </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/bc5a19e3-1ac0-4633-943e-2928c7fc4b5e.html" target="element">  </a> </td>
																		<td> <a href="../elements/bc5a19e3-1ac0-4633-943e-2928c7fc4b5e.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/654c62fd-d2bd-4709-97b4-20d7acfbb492.html" target="element"> 11-03 Product release information </a> </td>
																		<td> <a href="../elements/dffb6486-fe5d-43fe-898e-e770cb902a84.html" target="element"> SPL.2.O.1 The contents of the product release are determined </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f6b82ed0-e804-408a-aa43-3c50943731ae.html" target="element">  </a> </td>
																		<td> <a href="../elements/f6b82ed0-e804-408a-aa43-3c50943731ae.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/654c62fd-d2bd-4709-97b4-20d7acfbb492.html" target="element"> 11-03 Product release information </a> </td>
																		<td> <a href="../elements/7dffea04-a082-4719-9625-84ab2e10789c.html" target="element"> SPL.2.O.3 The release documentation is defined and produced </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e20ba5a7-418c-4da5-98e1-c26fa2ab5782.html" target="element">  </a> </td>
																		<td> <a href="../elements/e20ba5a7-418c-4da5-98e1-c26fa2ab5782.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/654c62fd-d2bd-4709-97b4-20d7acfbb492.html" target="element"> 11-03 Product release information </a> </td>
																		<td> <a href="../elements/cbf04e4b-7bc6-4d44-b59a-a567715636bc.html" target="element"> SPL.2.O.4 The release delivery mechanism and media are determined </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a1f6d2a1-3ae5-42e6-b8a4-0a5d080b8274.html" target="element">  </a> </td>
																		<td> <a href="../elements/a1f6d2a1-3ae5-42e6-b8a4-0a5d080b8274.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/654c62fd-d2bd-4709-97b4-20d7acfbb492.html" target="element"> 11-03 Product release information </a> </td>
																		<td> <a href="../elements/76b73523-11b2-48af-961e-13896bc5ffc0.html" target="element"> SPL.2.O.6 The product release is made available to the intended customer </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6f377227-fe77-4ec2-8ab7-8a65278f4958.html" target="element">  </a> </td>
																		<td> <a href="../elements/6f377227-fe77-4ec2-8ab7-8a65278f4958.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/5efb4ce2-8b5c-4d23-ae68-5f1b0bb0bd95.html" target="element"> 11-04 Product release package </a> </td>
																		<td> <a href="../elements/c95676e4-7b3b-4bc4-9e44-799f37d70e81.html" target="element"> SPL.2.O.2 The release is assembled from configured items </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/312b3b06-882b-4308-862f-346a13fbd30a.html" target="element">  </a> </td>
																		<td> <a href="../elements/312b3b06-882b-4308-862f-346a13fbd30a.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/5efb4ce2-8b5c-4d23-ae68-5f1b0bb0bd95.html" target="element"> 11-04 Product release package </a> </td>
																		<td> <a href="../elements/7dffea04-a082-4719-9625-84ab2e10789c.html" target="element"> SPL.2.O.3 The release documentation is defined and produced </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6cfdff90-0b7e-4c89-914c-a2a48e9c461f.html" target="element">  </a> </td>
																		<td> <a href="../elements/6cfdff90-0b7e-4c89-914c-a2a48e9c461f.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/5efb4ce2-8b5c-4d23-ae68-5f1b0bb0bd95.html" target="element"> 11-04 Product release package </a> </td>
																		<td> <a href="../elements/76b73523-11b2-48af-961e-13896bc5ffc0.html" target="element"> SPL.2.O.6 The product release is made available to the intended customer </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/92182d73-eb6b-439a-94ad-00a5096c36d9.html" target="element">  </a> </td>
																		<td> <a href="../elements/92182d73-eb6b-439a-94ad-00a5096c36d9.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/27adfc75-875c-453a-8446-578ba50907ff.html" target="element"> 11-07 Temporary solution </a> </td>
																		<td> <a href="../elements/76b73523-11b2-48af-961e-13896bc5ffc0.html" target="element"> SPL.2.O.6 The product release is made available to the intended customer </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/50c8168e-7f97-41a3-9bb5-4710038438ea.html" target="element">  </a> </td>
																		<td> <a href="../elements/50c8168e-7f97-41a3-9bb5-4710038438ea.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/b943cb15-aa95-40b5-9bbc-428a491b3bda.html" target="element"> 13-06 Delivery record </a> </td>
																		<td> <a href="../elements/76b73523-11b2-48af-961e-13896bc5ffc0.html" target="element"> SPL.2.O.6 The product release is made available to the intended customer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e194e1d1-a26f-4034-a328-3d1e25905140.html" target="element">  </a> </td>
																		<td> <a href="../elements/e194e1d1-a26f-4034-a328-3d1e25905140.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/b943cb15-aa95-40b5-9bbc-428a491b3bda.html" target="element"> 13-06 Delivery record </a> </td>
																		<td> <a href="../elements/0a5580c5-9b29-4467-ae0a-c187e0e666bd.html" target="element"> SPL.2.O.7 Confirmation of release is obtained </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/c2831c4e-f0a7-4864-80fb-0f482251623c.html" target="element">  </a> </td>
																		<td> <a href="../elements/c2831c4e-f0a7-4864-80fb-0f482251623c.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/8e57df75-3212-485c-852c-21a790ccc9f8.html" target="element"> 13-13 Product release approval record </a> </td>
																		<td> <a href="../elements/8035a397-fbff-41a3-a855-daebcc00a490.html" target="element"> SPL.2.O.5 Release approval is effected against defined criteria </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/0fcfcedf-efe7-4b06-b09c-3f7c3e9fb8f1.html" target="element">  </a> </td>
																		<td> <a href="../elements/0fcfcedf-efe7-4b06-b09c-3f7c3e9fb8f1.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/1d5324e2-ff64-4956-9350-75e66eac9143.html" target="element"> 15-03 Configuration status report  </a> </td>
																		<td> <a href="../elements/c95676e4-7b3b-4bc4-9e44-799f37d70e81.html" target="element"> SPL.2.O.2 The release is assembled from configured items </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/5bc655b4-ff3d-4fb8-8cad-ffa89343efca.html" target="element">  </a> </td>
																		<td> <a href="../elements/5bc655b4-ff3d-4fb8-8cad-ffa89343efca.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/54232d87-f457-4883-b8df-b556195bda91.html" target="element"> 18-06 Product release criteria </a> </td>
																		<td> <a href="../elements/8035a397-fbff-41a3-a855-daebcc00a490.html" target="element"> SPL.2.O.5 Release approval is effected against defined criteria </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/adeb0407-2eaa-476c-9fb7-3e2702c8decf.html" target="element">  </a> </td>
																		<td> <a href="../elements/adeb0407-2eaa-476c-9fb7-3e2702c8decf.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/54232d87-f457-4883-b8df-b556195bda91.html" target="element"> 18-06 Product release criteria </a> </td>
																		<td> <a href="../elements/0a5580c5-9b29-4467-ae0a-c187e0e666bd.html" target="element"> SPL.2.O.7 Confirmation of release is obtained </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>