<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Overview - ACQ.14 Request for Proposals</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Overview - ACQ.14 Request for Proposals</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/22f54ad6-e64b-4528-bcfd-bb2074c45eb2.png" alt="Overview - ACQ.14 Request for Proposals" usemap="#22f54ad6-e64b-4528-bcfd-bb2074c45eb2map"/>
			   <map name="22f54ad6-e64b-4528-bcfd-bb2074c45eb2map">
				  		<area shape="rect" coords="514,464,719,519" href="../elements/72892359-6f68-4469-9de1-947ab8595832.html"  target="element">
				  		<area shape="rect" coords="514,394,719,449" href="../elements/90146306-4004-48b7-b8ce-c00c995a35cc.html"  target="element">
				  		<area shape="rect" coords="514,322,719,377" href="../elements/8d931987-bf83-4821-9db9-ba611a4d0875.html"  target="element">
				  		<area shape="rect" coords="514,250,719,305" href="../elements/d1cb0629-11ee-483a-b513-6264faff0a0d.html"  target="element">
				  		<area shape="rect" coords="262,94,500,215" href="../elements/362d4a37-010e-40d2-bff7-759dd63f2ca2.html"  target="element">
				  		<area shape="rect" coords="10,94,248,215" href="../elements/e40c16d8-d791-4b55-8fe9-5df239bf7a59.html"  target="element">
				  		<area shape="rect" coords="1018,10,1256,83" href="../elements/65093454-88ea-4e35-8b58-d1297173cfec.html"  target="element">
				  		<area shape="rect" coords="769,10,1007,83" href="../elements/c8ba28f3-2545-41d0-83bd-5d72c4c60d41.html"  target="element">
				  		<area shape="rect" coords="514,10,752,83" href="../elements/dd28a8be-135c-43d2-bd7b-7afc97c91571.html"  target="element">
				  		<area shape="rect" coords="262,10,500,83" href="../elements/683e7f01-5641-4902-9647-b1d83a6af98e.html"  target="element">
				  		<area shape="rect" coords="10,10,248,83" href="../elements/4960b496-0284-48d9-9e2a-2ccd8a70dd2f.html"  target="element">
				  				<area shape="rect" coords="142,706,420,761" href="../elements/a2eca728-843d-4198-9c57-441644ae04e6.html"  target="element">
				  				<area shape="rect" coords="142,406,420,461" href="../elements/ef846b4d-a4b3-4394-99e7-1ca5ab3abc06.html"  target="element">
				  				<area shape="rect" coords="142,586,420,641" href="../elements/b1aaa01b-4eea-4f6a-98c9-ea829e0d8bb1.html"  target="element">
				  				<area shape="rect" coords="142,346,420,401" href="../elements/35061191-2239-414a-86fd-57ebb415b26b.html"  target="element">
				  				<area shape="rect" coords="142,526,420,581" href="../elements/34ba7f02-165a-4415-ba51-ca2c13a3daec.html"  target="element">
				  				<area shape="rect" coords="142,466,420,521" href="../elements/2fe16b7b-7cd2-4cd2-9e57-29a808deea9f.html"  target="element">
				  				<area shape="rect" coords="142,646,420,701" href="../elements/fc27d43c-5e96-4442-b7cb-75b2b3c234a4.html"  target="element">
				  				<area shape="rect" coords="142,286,420,341" href="../elements/9e1a2125-e639-440b-832a-c9ec226c5a59.html"  target="element">

				  		<area shape="rect" coords="130,250,431,792" href="../elements/7190362e-4226-4ae0-8bcb-6fa36e7011b9.html"  target="element">
				          <area shape="rect" coords="1006,247,1244,864" href="../objects/f8fa3c98-cfa9-4bd8-b32b-546fdb247ecb.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">This view describes ACQ.14 Request for Proposals Process, its outputs and outcomes

Relation of Outcomes to Outputs and Base Practices is out of scope of this view. See respective view for these details.

Latest version and docs can be found here: https://github.com/alef1986/ASPICE-Archi

Source of information for this view is Automotive SPICE Standards v.3.1
(http://www.automotivespice.com/fileadmin/software-download/AutomotiveSPICE_PAM_31.pdf)</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/f8fa3c98-cfa9-4bd8-b32b-546fdb247ecb.html" target="element">  </a> </td>
									           <td> <a href="../objects/f8fa3c98-cfa9-4bd8-b32b-546fdb247ecb.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/7190362e-4226-4ae0-8bcb-6fa36e7011b9.html" target="element"> ACQ.14 Request for Proposals </a> </td>
											    <td> <a href="../elements/7190362e-4226-4ae0-8bcb-6fa36e7011b9.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/9e1a2125-e639-440b-832a-c9ec226c5a59.html" target="element"> ACQ.14.BP1 Define rules for CFP / ITT </a> </td>
													    <td> <a href="../elements/9e1a2125-e639-440b-832a-c9ec226c5a59.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/fc27d43c-5e96-4442-b7cb-75b2b3c234a4.html" target="element"> ACQ.14.BP7 Identify relevant regulations </a> </td>
													    <td> <a href="../elements/fc27d43c-5e96-4442-b7cb-75b2b3c234a4.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/2fe16b7b-7cd2-4cd2-9e57-29a808deea9f.html" target="element"> ACQ.14.BP4 Define financial terms </a> </td>
													    <td> <a href="../elements/2fe16b7b-7cd2-4cd2-9e57-29a808deea9f.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/34ba7f02-165a-4415-ba51-ca2c13a3daec.html" target="element"> ACQ.14.BP5 Define project terms </a> </td>
													    <td> <a href="../elements/34ba7f02-165a-4415-ba51-ca2c13a3daec.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/35061191-2239-414a-86fd-57ebb415b26b.html" target="element"> ACQ.14.BP2 Assemble requirements </a> </td>
													    <td> <a href="../elements/35061191-2239-414a-86fd-57ebb415b26b.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/b1aaa01b-4eea-4f6a-98c9-ea829e0d8bb1.html" target="element"> ACQ.14.BP6 Define technical terms </a> </td>
													    <td> <a href="../elements/b1aaa01b-4eea-4f6a-98c9-ea829e0d8bb1.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/ef846b4d-a4b3-4394-99e7-1ca5ab3abc06.html" target="element"> ACQ.14.BP3 Establish terms and conditions for CFP / ITT </a> </td>
													    <td> <a href="../elements/ef846b4d-a4b3-4394-99e7-1ca5ab3abc06.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/a2eca728-843d-4198-9c57-441644ae04e6.html" target="element"> ACQ.14.BP8 Prepare and issue a CFP / ITT </a> </td>
													    <td> <a href="../elements/a2eca728-843d-4198-9c57-441644ae04e6.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/4960b496-0284-48d9-9e2a-2ccd8a70dd2f.html" target="element"> ACQ.14.O.1 Rules are defined for proposal/tender invitation and evaluation which comply with the acquisition policy and strategy </a> </td>
											    <td> <a href="../elements/4960b496-0284-48d9-9e2a-2ccd8a70dd2f.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/683e7f01-5641-4902-9647-b1d83a6af98e.html" target="element"> ACQ.14.O.2 The baseline technical and non-technical requirements are assembled to accompany the CFP / ITT </a> </td>
											    <td> <a href="../elements/683e7f01-5641-4902-9647-b1d83a6af98e.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/dd28a8be-135c-43d2-bd7b-7afc97c91571.html" target="element"> ACQ.14.O.3 The agreement (contractual) terms of reference and conditions for CFP / ITT are established </a> </td>
											    <td> <a href="../elements/dd28a8be-135c-43d2-bd7b-7afc97c91571.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c8ba28f3-2545-41d0-83bd-5d72c4c60d41.html" target="element"> ACQ.14.O.4 RThe financial terms of reference for costs and payments for CFP / ITT are defined </a> </td>
											    <td> <a href="../elements/c8ba28f3-2545-41d0-83bd-5d72c4c60d41.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/65093454-88ea-4e35-8b58-d1297173cfec.html" target="element"> ACQ.14.O.5 The project terms of reference for CFP / ITT are defined </a> </td>
											    <td> <a href="../elements/65093454-88ea-4e35-8b58-d1297173cfec.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e40c16d8-d791-4b55-8fe9-5df239bf7a59.html" target="element"> ACQ.14.O.6 The technical terms of reference for CFP / ITT are defined </a> </td>
											    <td> <a href="../elements/e40c16d8-d791-4b55-8fe9-5df239bf7a59.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/362d4a37-010e-40d2-bff7-759dd63f2ca2.html" target="element"> ACQ.14.O.7 A CFP / ITT is prepared and issued in accordance with acquisition policies and which complies with relevant national, international andregulatory laws, requirements, and policies </a> </td>
											    <td> <a href="../elements/362d4a37-010e-40d2-bff7-759dd63f2ca2.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d1cb0629-11ee-483a-b513-6264faff0a0d.html" target="element"> 02-01 Commitment/agreement </a> </td>
											    <td> <a href="../elements/d1cb0629-11ee-483a-b513-6264faff0a0d.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8d931987-bf83-4821-9db9-ba611a4d0875.html" target="element"> 12-01 Request for proposal </a> </td>
											    <td> <a href="../elements/8d931987-bf83-4821-9db9-ba611a4d0875.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/90146306-4004-48b7-b8ce-c00c995a35cc.html" target="element"> 17-00 Requirement specification </a> </td>
											    <td> <a href="../elements/90146306-4004-48b7-b8ce-c00c995a35cc.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/72892359-6f68-4469-9de1-947ab8595832.html" target="element"> 19-11 Validation strategy </a> </td>
											    <td> <a href="../elements/72892359-6f68-4469-9de1-947ab8595832.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/71a4f067-2941-4dc9-a563-4afa439423eb.html" target="element">  </a> </td>
																		<td> <a href="../elements/71a4f067-2941-4dc9-a563-4afa439423eb.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/7190362e-4226-4ae0-8bcb-6fa36e7011b9.html" target="element"> ACQ.14 Request for Proposals </a> </td>
																		<td> <a href="../elements/fc27d43c-5e96-4442-b7cb-75b2b3c234a4.html" target="element"> ACQ.14.BP7 Identify relevant regulations </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1baca48f-6122-44e1-bf2b-558f47d4b78d.html" target="element">  </a> </td>
																		<td> <a href="../elements/1baca48f-6122-44e1-bf2b-558f47d4b78d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/7190362e-4226-4ae0-8bcb-6fa36e7011b9.html" target="element"> ACQ.14 Request for Proposals </a> </td>
																		<td> <a href="../elements/2fe16b7b-7cd2-4cd2-9e57-29a808deea9f.html" target="element"> ACQ.14.BP4 Define financial terms </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8379839d-ad15-48f7-8745-da6291ac55e3.html" target="element">  </a> </td>
																		<td> <a href="../elements/8379839d-ad15-48f7-8745-da6291ac55e3.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/7190362e-4226-4ae0-8bcb-6fa36e7011b9.html" target="element"> ACQ.14 Request for Proposals </a> </td>
																		<td> <a href="../elements/35061191-2239-414a-86fd-57ebb415b26b.html" target="element"> ACQ.14.BP2 Assemble requirements </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e1167d26-372d-492f-99dc-41684e989fea.html" target="element">  </a> </td>
																		<td> <a href="../elements/e1167d26-372d-492f-99dc-41684e989fea.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/7190362e-4226-4ae0-8bcb-6fa36e7011b9.html" target="element"> ACQ.14 Request for Proposals </a> </td>
																		<td> <a href="../elements/34ba7f02-165a-4415-ba51-ca2c13a3daec.html" target="element"> ACQ.14.BP5 Define project terms </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e5161736-af43-4685-8834-dd38289efa5f.html" target="element">  </a> </td>
																		<td> <a href="../elements/e5161736-af43-4685-8834-dd38289efa5f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/7190362e-4226-4ae0-8bcb-6fa36e7011b9.html" target="element"> ACQ.14 Request for Proposals </a> </td>
																		<td> <a href="../elements/9e1a2125-e639-440b-832a-c9ec226c5a59.html" target="element"> ACQ.14.BP1 Define rules for CFP / ITT </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6532155b-50a6-43d4-8019-f0a8a24e0045.html" target="element">  </a> </td>
																		<td> <a href="../elements/6532155b-50a6-43d4-8019-f0a8a24e0045.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/7190362e-4226-4ae0-8bcb-6fa36e7011b9.html" target="element"> ACQ.14 Request for Proposals </a> </td>
																		<td> <a href="../elements/a2eca728-843d-4198-9c57-441644ae04e6.html" target="element"> ACQ.14.BP8 Prepare and issue a CFP / ITT </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/60b58500-0259-48cd-a0a9-3976e95225f3.html" target="element">  </a> </td>
																		<td> <a href="../elements/60b58500-0259-48cd-a0a9-3976e95225f3.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/7190362e-4226-4ae0-8bcb-6fa36e7011b9.html" target="element"> ACQ.14 Request for Proposals </a> </td>
																		<td> <a href="../elements/ef846b4d-a4b3-4394-99e7-1ca5ab3abc06.html" target="element"> ACQ.14.BP3 Establish terms and conditions for CFP / ITT </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2e1a63d7-9734-4071-9050-4f0777b87ab9.html" target="element">  </a> </td>
																		<td> <a href="../elements/2e1a63d7-9734-4071-9050-4f0777b87ab9.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/7190362e-4226-4ae0-8bcb-6fa36e7011b9.html" target="element"> ACQ.14 Request for Proposals </a> </td>
																		<td> <a href="../elements/b1aaa01b-4eea-4f6a-98c9-ea829e0d8bb1.html" target="element"> ACQ.14.BP6 Define technical terms </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/073b5f84-cfcd-4a51-955b-af0316c8135c.html" target="element">  </a> </td>
																		<td> <a href="../elements/073b5f84-cfcd-4a51-955b-af0316c8135c.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/7190362e-4226-4ae0-8bcb-6fa36e7011b9.html" target="element"> ACQ.14 Request for Proposals </a> </td>
																		<td> <a href="../elements/d1cb0629-11ee-483a-b513-6264faff0a0d.html" target="element"> 02-01 Commitment/agreement </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1337b2c8-d04f-44a1-9315-e773eacda0ed.html" target="element">  </a> </td>
																		<td> <a href="../elements/1337b2c8-d04f-44a1-9315-e773eacda0ed.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/7190362e-4226-4ae0-8bcb-6fa36e7011b9.html" target="element"> ACQ.14 Request for Proposals </a> </td>
																		<td> <a href="../elements/8d931987-bf83-4821-9db9-ba611a4d0875.html" target="element"> 12-01 Request for proposal </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0205a0b8-68ab-4115-80df-0adfbcd7cc1f.html" target="element">  </a> </td>
																		<td> <a href="../elements/0205a0b8-68ab-4115-80df-0adfbcd7cc1f.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/7190362e-4226-4ae0-8bcb-6fa36e7011b9.html" target="element"> ACQ.14 Request for Proposals </a> </td>
																		<td> <a href="../elements/90146306-4004-48b7-b8ce-c00c995a35cc.html" target="element"> 17-00 Requirement specification </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/644c015f-e354-4f8b-9962-21a434061485.html" target="element">  </a> </td>
																		<td> <a href="../elements/644c015f-e354-4f8b-9962-21a434061485.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/7190362e-4226-4ae0-8bcb-6fa36e7011b9.html" target="element"> ACQ.14 Request for Proposals </a> </td>
																		<td> <a href="../elements/72892359-6f68-4469-9de1-947ab8595832.html" target="element"> 19-11 Validation strategy </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>