<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Overview - MAN.3 Project Management</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Overview - MAN.3 Project Management</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/24e39b5f-7472-4204-8f22-7dab9accf917.png" alt="Overview - MAN.3 Project Management" usemap="#24e39b5f-7472-4204-8f22-7dab9accf917map"/>
			   <map name="24e39b5f-7472-4204-8f22-7dab9accf917map">
				  		<area shape="rect" coords="10,10,248,83" href="../elements/832903cc-6f04-4ece-8387-42bac63956e9.html"  target="element">
				          <area shape="rect" coords="1018,210,1256,827" href="../objects/57f0f9d8-7333-46ca-8182-4c53f5b28594.html" target="element" >
				  		<area shape="rect" coords="1018,94,1256,167" href="../elements/9d197893-55a9-450a-bd43-ae325042f931.html"  target="element">
				  		<area shape="rect" coords="10,94,248,167" href="../elements/2e7e6a43-b24d-48f0-878d-358e98a303a5.html"  target="element">
				  		<area shape="rect" coords="1018,10,1256,83" href="../elements/c854972e-dcaf-4dd1-b309-e5a051551e19.html"  target="element">
				  		<area shape="rect" coords="766,10,1004,83" href="../elements/006cac41-4164-483a-97f9-5214f429af55.html"  target="element">
				  		<area shape="rect" coords="514,10,752,83" href="../elements/00e08590-b3f4-48a4-9ede-89e520f35b9b.html"  target="element">
				  		<area shape="rect" coords="262,10,500,83" href="../elements/27f2a4e6-2b9c-449e-ad9c-4cd372ef7d32.html"  target="element">
				  		<area shape="rect" coords="742,739,947,794" href="../elements/7ff9797c-538a-4e8d-9975-f2acd2dcbadb.html"  target="element">
				  		<area shape="rect" coords="742,667,947,722" href="../elements/a3b90380-1c92-4faf-a3b6-9b496bc0300c.html"  target="element">
				  		<area shape="rect" coords="742,595,947,650" href="../elements/0e208665-2e2c-4e95-a2f0-b55b91de31b2.html"  target="element">
				  		<area shape="rect" coords="742,523,947,578" href="../elements/cad75c2f-7b4a-44d3-ad75-c34452f8c6ef.html"  target="element">
				  		<area shape="rect" coords="742,451,947,506" href="../elements/3400d0a7-31c3-46f8-8e99-a25fad4ca5d5.html"  target="element">
				  		<area shape="rect" coords="742,379,947,434" href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html"  target="element">
				  		<area shape="rect" coords="742,307,947,362" href="../elements/30267d89-3ca1-4ce0-aaf0-02f864f52e90.html"  target="element">
				  		<area shape="rect" coords="742,235,947,290" href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html"  target="element">
				  		<area shape="rect" coords="742,169,947,224" href="../elements/142419a3-5086-413b-9ce7-6725822b2c5e.html"  target="element">
				  				<area shape="rect" coords="274,742,552,797" href="../elements/02dbd39e-748b-41bf-904b-3347c6b73a76.html"  target="element">
				  				<area shape="rect" coords="274,682,552,737" href="../elements/d6008858-dcef-450e-83d7-d48aee475c48.html"  target="element">
				  				<area shape="rect" coords="274,622,552,677" href="../elements/f4b5b266-6ec7-4867-ad91-6de2571e1e35.html"  target="element">
				  				<area shape="rect" coords="274,562,552,617" href="../elements/ffd3a484-2df8-4c56-95a9-cffde49f7d36.html"  target="element">
				  				<area shape="rect" coords="274,502,552,557" href="../elements/fa44083f-ae66-4373-83b8-c5b32e7feeaa.html"  target="element">
				  				<area shape="rect" coords="274,442,552,497" href="../elements/c8d8361e-dac3-4e0a-a245-9dcfa299419d.html"  target="element">
				  				<area shape="rect" coords="274,382,552,437" href="../elements/241f42d3-57ce-4352-bb21-1b4eed6c97b5.html"  target="element">
				  				<area shape="rect" coords="274,322,552,377" href="../elements/32694adc-e3dc-43e6-97b1-825d674bff51.html"  target="element">
				  				<area shape="rect" coords="274,262,552,317" href="../elements/b001d999-2943-45d6-9fac-78b623dd2d8d.html"  target="element">
				  				<area shape="rect" coords="274,202,552,257" href="../elements/df8ea387-325b-4d10-a6a0-b227cc9217d5.html"  target="element">

				  		<area shape="rect" coords="262,166,563,827" href="../elements/97098392-5cad-4e12-a470-98cb780464cc.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">This view describes MAN.3 Project Management Process, its outputs and outcomes

Relation of Outcomes to Outputs and Base Practices is out of scope of this view. See respective view for these details.

Latest version and docs can be found here: https://github.com/alef1986/ASPICE-Archi

Source of information for this view is Automotive SPICE Standards v.3.1
(http://www.automotivespice.com/fileadmin/software-download/AutomotiveSPICE_PAM_31.pdf)</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/97098392-5cad-4e12-a470-98cb780464cc.html" target="element"> MAN.3 Project Management </a> </td>
											    <td> <a href="../elements/97098392-5cad-4e12-a470-98cb780464cc.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/df8ea387-325b-4d10-a6a0-b227cc9217d5.html" target="element"> MAN.3.BP1 Define the scope of work </a> </td>
													    <td> <a href="../elements/df8ea387-325b-4d10-a6a0-b227cc9217d5.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/b001d999-2943-45d6-9fac-78b623dd2d8d.html" target="element"> MAN.3.BP2 Define project life cycle </a> </td>
													    <td> <a href="../elements/b001d999-2943-45d6-9fac-78b623dd2d8d.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/32694adc-e3dc-43e6-97b1-825d674bff51.html" target="element"> MAN.3.BP3 Evaluate feasibility of the project </a> </td>
													    <td> <a href="../elements/32694adc-e3dc-43e6-97b1-825d674bff51.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/241f42d3-57ce-4352-bb21-1b4eed6c97b5.html" target="element"> MAN.3.BP4 Define, monitor and adjust project activities </a> </td>
													    <td> <a href="../elements/241f42d3-57ce-4352-bb21-1b4eed6c97b5.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/c8d8361e-dac3-4e0a-a245-9dcfa299419d.html" target="element"> MAN.3.BP5 Define, monitor and adjust project estimates andresources </a> </td>
													    <td> <a href="../elements/c8d8361e-dac3-4e0a-a245-9dcfa299419d.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/fa44083f-ae66-4373-83b8-c5b32e7feeaa.html" target="element"> MAN.3.BP6 Ensure required skills, knowledge, and experience </a> </td>
													    <td> <a href="../elements/fa44083f-ae66-4373-83b8-c5b32e7feeaa.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/ffd3a484-2df8-4c56-95a9-cffde49f7d36.html" target="element"> MAN.3.BP7  Identify, monitor and adjust project interfaces and agreed commitments </a> </td>
													    <td> <a href="../elements/ffd3a484-2df8-4c56-95a9-cffde49f7d36.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/f4b5b266-6ec7-4867-ad91-6de2571e1e35.html" target="element"> MAN.3.BP8 Define, monitor and adjust project schedule </a> </td>
													    <td> <a href="../elements/f4b5b266-6ec7-4867-ad91-6de2571e1e35.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/d6008858-dcef-450e-83d7-d48aee475c48.html" target="element"> MAN.3.BP9 Ensure consistency </a> </td>
													    <td> <a href="../elements/d6008858-dcef-450e-83d7-d48aee475c48.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/02dbd39e-748b-41bf-904b-3347c6b73a76.html" target="element"> MAN.3.BP10 Review and report progress of the project </a> </td>
													    <td> <a href="../elements/02dbd39e-748b-41bf-904b-3347c6b73a76.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/142419a3-5086-413b-9ce7-6725822b2c5e.html" target="element"> 08-12 Project Plan </a> </td>
											    <td> <a href="../elements/142419a3-5086-413b-9ce7-6725822b2c5e.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element"> 13-04 Communication Record </a> </td>
											    <td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/30267d89-3ca1-4ce0-aaf0-02f864f52e90.html" target="element"> 13-16 Change Request </a> </td>
											    <td> <a href="../elements/30267d89-3ca1-4ce0-aaf0-02f864f52e90.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element"> 13-19 Review Record </a> </td>
											    <td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3400d0a7-31c3-46f8-8e99-a25fad4ca5d5.html" target="element"> 14-02 Corrective Action Register </a> </td>
											    <td> <a href="../elements/3400d0a7-31c3-46f8-8e99-a25fad4ca5d5.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cad75c2f-7b4a-44d3-ad75-c34452f8c6ef.html" target="element"> 14-06 Schedule </a> </td>
											    <td> <a href="../elements/cad75c2f-7b4a-44d3-ad75-c34452f8c6ef.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0e208665-2e2c-4e95-a2f0-b55b91de31b2.html" target="element"> 14-09 Work Breakdown Structure </a> </td>
											    <td> <a href="../elements/0e208665-2e2c-4e95-a2f0-b55b91de31b2.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a3b90380-1c92-4faf-a3b6-9b496bc0300c.html" target="element"> 14-50 Stakeholder Groups List </a> </td>
											    <td> <a href="../elements/a3b90380-1c92-4faf-a3b6-9b496bc0300c.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7ff9797c-538a-4e8d-9975-f2acd2dcbadb.html" target="element"> 15-06 Project Status Report </a> </td>
											    <td> <a href="../elements/7ff9797c-538a-4e8d-9975-f2acd2dcbadb.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/27f2a4e6-2b9c-449e-ad9c-4cd372ef7d32.html" target="element"> MAN.3.O.2 The feasibility of achieving the goals of the project with available resources and constraints is evaluated </a> </td>
											    <td> <a href="../elements/27f2a4e6-2b9c-449e-ad9c-4cd372ef7d32.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/00e08590-b3f4-48a4-9ede-89e520f35b9b.html" target="element"> MAN.3.O.3 The activities and resources necessary to complete the work are sizedand estimated </a> </td>
											    <td> <a href="../elements/00e08590-b3f4-48a4-9ede-89e520f35b9b.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/006cac41-4164-483a-97f9-5214f429af55.html" target="element"> MAN.3.O.4 Interfaces within the project, and with other projects and organizational units, are identified and monitored </a> </td>
											    <td> <a href="../elements/006cac41-4164-483a-97f9-5214f429af55.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c854972e-dcaf-4dd1-b309-e5a051551e19.html" target="element"> MAN.3.O.5 Plans for the execution of the project are developed, implemented andmaintained </a> </td>
											    <td> <a href="../elements/c854972e-dcaf-4dd1-b309-e5a051551e19.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2e7e6a43-b24d-48f0-878d-358e98a303a5.html" target="element"> MAN.3.O.6 Progress of the project is monitored and reported </a> </td>
											    <td> <a href="../elements/2e7e6a43-b24d-48f0-878d-358e98a303a5.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9d197893-55a9-450a-bd43-ae325042f931.html" target="element"> MAN.3.O.7 Corrective action is taken when project goals are not achieved, andrecurrence of problems identified in the project is prevented. </a> </td>
											    <td> <a href="../elements/9d197893-55a9-450a-bd43-ae325042f931.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/57f0f9d8-7333-46ca-8182-4c53f5b28594.html" target="element">  </a> </td>
									           <td> <a href="../objects/57f0f9d8-7333-46ca-8182-4c53f5b28594.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/832903cc-6f04-4ece-8387-42bac63956e9.html" target="element"> MAN.3.O.1 The scope of the work for the project is defined </a> </td>
											    <td> <a href="../elements/832903cc-6f04-4ece-8387-42bac63956e9.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/7f015229-a7e8-4c94-8f10-ca5702c43614.html" target="element">  </a> </td>
																		<td> <a href="../elements/7f015229-a7e8-4c94-8f10-ca5702c43614.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/97098392-5cad-4e12-a470-98cb780464cc.html" target="element"> MAN.3 Project Management </a> </td>
																		<td> <a href="../elements/142419a3-5086-413b-9ce7-6725822b2c5e.html" target="element"> 08-12 Project Plan </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a576973c-6e21-4f04-8301-a899936b95a0.html" target="element">  </a> </td>
																		<td> <a href="../elements/a576973c-6e21-4f04-8301-a899936b95a0.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/97098392-5cad-4e12-a470-98cb780464cc.html" target="element"> MAN.3 Project Management </a> </td>
																		<td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element"> 13-04 Communication Record </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9bd7bb0a-c5be-4235-b9b2-402d36138720.html" target="element">  </a> </td>
																		<td> <a href="../elements/9bd7bb0a-c5be-4235-b9b2-402d36138720.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/97098392-5cad-4e12-a470-98cb780464cc.html" target="element"> MAN.3 Project Management </a> </td>
																		<td> <a href="../elements/30267d89-3ca1-4ce0-aaf0-02f864f52e90.html" target="element"> 13-16 Change Request </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b107f62d-815c-4a3b-9e0b-ca49ac269d39.html" target="element">  </a> </td>
																		<td> <a href="../elements/b107f62d-815c-4a3b-9e0b-ca49ac269d39.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/97098392-5cad-4e12-a470-98cb780464cc.html" target="element"> MAN.3 Project Management </a> </td>
																		<td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element"> 13-19 Review Record </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6b51765e-a77c-42a6-a4cf-cc1432e12b83.html" target="element">  </a> </td>
																		<td> <a href="../elements/6b51765e-a77c-42a6-a4cf-cc1432e12b83.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/97098392-5cad-4e12-a470-98cb780464cc.html" target="element"> MAN.3 Project Management </a> </td>
																		<td> <a href="../elements/3400d0a7-31c3-46f8-8e99-a25fad4ca5d5.html" target="element"> 14-02 Corrective Action Register </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/dd0a3c4f-2896-4278-af80-444dc91e3908.html" target="element">  </a> </td>
																		<td> <a href="../elements/dd0a3c4f-2896-4278-af80-444dc91e3908.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/97098392-5cad-4e12-a470-98cb780464cc.html" target="element"> MAN.3 Project Management </a> </td>
																		<td> <a href="../elements/cad75c2f-7b4a-44d3-ad75-c34452f8c6ef.html" target="element"> 14-06 Schedule </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9a545c16-8edb-45a3-80e6-b573126af7b4.html" target="element">  </a> </td>
																		<td> <a href="../elements/9a545c16-8edb-45a3-80e6-b573126af7b4.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/97098392-5cad-4e12-a470-98cb780464cc.html" target="element"> MAN.3 Project Management </a> </td>
																		<td> <a href="../elements/0e208665-2e2c-4e95-a2f0-b55b91de31b2.html" target="element"> 14-09 Work Breakdown Structure </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e52b657e-306b-4345-b3dd-faefe00e908b.html" target="element">  </a> </td>
																		<td> <a href="../elements/e52b657e-306b-4345-b3dd-faefe00e908b.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/97098392-5cad-4e12-a470-98cb780464cc.html" target="element"> MAN.3 Project Management </a> </td>
																		<td> <a href="../elements/a3b90380-1c92-4faf-a3b6-9b496bc0300c.html" target="element"> 14-50 Stakeholder Groups List </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/951efc6a-948e-44bc-90d2-ebde31884cff.html" target="element">  </a> </td>
																		<td> <a href="../elements/951efc6a-948e-44bc-90d2-ebde31884cff.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/97098392-5cad-4e12-a470-98cb780464cc.html" target="element"> MAN.3 Project Management </a> </td>
																		<td> <a href="../elements/7ff9797c-538a-4e8d-9975-f2acd2dcbadb.html" target="element"> 15-06 Project Status Report </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/438908b5-9ad2-4ae7-93ba-c3efe6aac31f.html" target="element">  </a> </td>
																		<td> <a href="../elements/438908b5-9ad2-4ae7-93ba-c3efe6aac31f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/97098392-5cad-4e12-a470-98cb780464cc.html" target="element"> MAN.3 Project Management </a> </td>
																		<td> <a href="../elements/df8ea387-325b-4d10-a6a0-b227cc9217d5.html" target="element"> MAN.3.BP1 Define the scope of work </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e036867f-88c8-4009-854c-d155b8518020.html" target="element">  </a> </td>
																		<td> <a href="../elements/e036867f-88c8-4009-854c-d155b8518020.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/97098392-5cad-4e12-a470-98cb780464cc.html" target="element"> MAN.3 Project Management </a> </td>
																		<td> <a href="../elements/b001d999-2943-45d6-9fac-78b623dd2d8d.html" target="element"> MAN.3.BP2 Define project life cycle </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d755ede7-52a4-4aeb-aed2-1740d820ac84.html" target="element">  </a> </td>
																		<td> <a href="../elements/d755ede7-52a4-4aeb-aed2-1740d820ac84.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/97098392-5cad-4e12-a470-98cb780464cc.html" target="element"> MAN.3 Project Management </a> </td>
																		<td> <a href="../elements/32694adc-e3dc-43e6-97b1-825d674bff51.html" target="element"> MAN.3.BP3 Evaluate feasibility of the project </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/364ea5a3-e6e1-4397-bfdf-1345c991955b.html" target="element">  </a> </td>
																		<td> <a href="../elements/364ea5a3-e6e1-4397-bfdf-1345c991955b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/97098392-5cad-4e12-a470-98cb780464cc.html" target="element"> MAN.3 Project Management </a> </td>
																		<td> <a href="../elements/241f42d3-57ce-4352-bb21-1b4eed6c97b5.html" target="element"> MAN.3.BP4 Define, monitor and adjust project activities </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/20e5fad0-06cc-4372-9850-da4f9bda1899.html" target="element">  </a> </td>
																		<td> <a href="../elements/20e5fad0-06cc-4372-9850-da4f9bda1899.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/97098392-5cad-4e12-a470-98cb780464cc.html" target="element"> MAN.3 Project Management </a> </td>
																		<td> <a href="../elements/c8d8361e-dac3-4e0a-a245-9dcfa299419d.html" target="element"> MAN.3.BP5 Define, monitor and adjust project estimates andresources </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e14a32e5-6ab3-473a-8520-07b0bbe362bb.html" target="element">  </a> </td>
																		<td> <a href="../elements/e14a32e5-6ab3-473a-8520-07b0bbe362bb.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/97098392-5cad-4e12-a470-98cb780464cc.html" target="element"> MAN.3 Project Management </a> </td>
																		<td> <a href="../elements/fa44083f-ae66-4373-83b8-c5b32e7feeaa.html" target="element"> MAN.3.BP6 Ensure required skills, knowledge, and experience </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/df342942-6bc2-49b9-8a8e-6a1e39b71047.html" target="element">  </a> </td>
																		<td> <a href="../elements/df342942-6bc2-49b9-8a8e-6a1e39b71047.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/97098392-5cad-4e12-a470-98cb780464cc.html" target="element"> MAN.3 Project Management </a> </td>
																		<td> <a href="../elements/ffd3a484-2df8-4c56-95a9-cffde49f7d36.html" target="element"> MAN.3.BP7  Identify, monitor and adjust project interfaces and agreed commitments </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/14a43916-9fee-42a8-9dbb-02542b9a0572.html" target="element">  </a> </td>
																		<td> <a href="../elements/14a43916-9fee-42a8-9dbb-02542b9a0572.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/97098392-5cad-4e12-a470-98cb780464cc.html" target="element"> MAN.3 Project Management </a> </td>
																		<td> <a href="../elements/f4b5b266-6ec7-4867-ad91-6de2571e1e35.html" target="element"> MAN.3.BP8 Define, monitor and adjust project schedule </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3d545f0c-d947-4534-a7c0-30279c393100.html" target="element">  </a> </td>
																		<td> <a href="../elements/3d545f0c-d947-4534-a7c0-30279c393100.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/97098392-5cad-4e12-a470-98cb780464cc.html" target="element"> MAN.3 Project Management </a> </td>
																		<td> <a href="../elements/d6008858-dcef-450e-83d7-d48aee475c48.html" target="element"> MAN.3.BP9 Ensure consistency </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/46bdb0af-336b-4326-b03a-0a07111cd39f.html" target="element">  </a> </td>
																		<td> <a href="../elements/46bdb0af-336b-4326-b03a-0a07111cd39f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/97098392-5cad-4e12-a470-98cb780464cc.html" target="element"> MAN.3 Project Management </a> </td>
																		<td> <a href="../elements/02dbd39e-748b-41bf-904b-3347c6b73a76.html" target="element"> MAN.3.BP10 Review and report progress of the project </a> </td>
																	</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>