<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Overview - REU.2 Reuse Program Management</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Overview - REU.2 Reuse Program Management</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/28149d58-8380-4737-8efd-42ff195234a5.png" alt="Overview - REU.2 Reuse Program Management" usemap="#28149d58-8380-4737-8efd-42ff195234a5map"/>
			   <map name="28149d58-8380-4737-8efd-42ff195234a5map">
				  		<area shape="rect" coords="794,718,999,773" href="../elements/b3998f67-ebbf-415f-bdea-4d8997405e99.html"  target="element">
				  		<area shape="rect" coords="794,658,999,713" href="../elements/5cfc2c93-21aa-4cad-ade1-adea2c4bfd7c.html"  target="element">
				  		<area shape="rect" coords="794,538,999,593" href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html"  target="element">
				  		<area shape="rect" coords="794,598,999,653" href="../elements/5eafd671-efcd-45fb-b835-49475ada95d2.html"  target="element">
				  		<area shape="rect" coords="794,478,999,533" href="../elements/d84344c8-6abd-4f19-a30e-d4374810f2e2.html"  target="element">
				  		<area shape="rect" coords="794,418,999,473" href="../elements/699d01fd-de5b-4fcf-9aae-5d8c208d9e95.html"  target="element">
				  		<area shape="rect" coords="794,358,999,413" href="../elements/8d404d6f-4770-4df8-897a-5b58b0ffe1d9.html"  target="element">
				  		<area shape="rect" coords="794,298,999,353" href="../elements/5eedb25e-c614-49fb-b63f-ec9497495c2c.html"  target="element">
				  		<area shape="rect" coords="766,106,1004,191" href="../elements/d6639efa-05b5-491f-835f-811d9b116920.html"  target="element">
				  		<area shape="rect" coords="514,106,752,191" href="../elements/0d8d5b97-9f45-4fae-80cd-7c3b612d9ed6.html"  target="element">
				  		<area shape="rect" coords="262,106,500,191" href="../elements/b09d330f-5809-49c2-b37c-7f13a7c70167.html"  target="element">
				  		<area shape="rect" coords="10,106,248,191" href="../elements/ace1cb1d-4a3a-464a-8bb7-8808cc2826c2.html"  target="element">
				  		<area shape="rect" coords="766,10,1004,95" href="../elements/f61b3c5e-2b96-4878-93b2-31a50b2f0183.html"  target="element">
				  		<area shape="rect" coords="514,10,752,95" href="../elements/550bdc4b-0c98-4645-87fc-4e71aa3f7435.html"  target="element">
				  		<area shape="rect" coords="262,10,500,95" href="../elements/cf5cda0c-e72f-4994-870c-fd538d2d5aec.html"  target="element">
				  		<area shape="rect" coords="10,10,248,95" href="../elements/6f3062cc-133b-44ca-92d6-e9b87c83b3ed.html"  target="element">
				  		<area shape="rect" coords="794,238,999,293" href="../elements/c52afefa-2b06-4e2a-9580-078c9f482242.html"  target="element">
				  				<area shape="rect" coords="286,694,563,749" href="../elements/9823c1ff-83bd-40fa-b488-1b5df84b034d.html"  target="element">
				  				<area shape="rect" coords="286,634,563,689" href="../elements/686cce50-6bcf-47f7-85e7-4223968fd7ec.html"  target="element">
				  				<area shape="rect" coords="286,574,563,629" href="../elements/17507fb4-a3a3-4b0d-9371-2cbf9941eec3.html"  target="element">
				  				<area shape="rect" coords="286,274,563,329" href="../elements/bd6fc2ec-8ae7-45d4-80d4-03d48e567a15.html"  target="element">
				  				<area shape="rect" coords="286,454,563,509" href="../elements/22a96154-680a-416d-b9f6-3c5104b3e405.html"  target="element">
				  				<area shape="rect" coords="286,514,563,569" href="../elements/a3363508-1689-465d-a69c-c9d0b8063583.html"  target="element">
				  				<area shape="rect" coords="286,334,563,389" href="../elements/f666992e-36a8-45b6-ae6e-e923f0d4214e.html"  target="element">
				  				<area shape="rect" coords="286,394,563,449" href="../elements/bfc55ffa-02b3-4746-b2f0-dce272707334.html"  target="element">

				  		<area shape="rect" coords="274,238,575,791" href="../elements/70e54a8f-277c-4102-bff1-0a8d03b36133.html"  target="element">
				          <area shape="rect" coords="1078,214,1316,831" href="../objects/6928806f-2d06-4823-812a-2ce9f0fbcf3e.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/6928806f-2d06-4823-812a-2ce9f0fbcf3e.html" target="element">  </a> </td>
									           <td> <a href="../objects/6928806f-2d06-4823-812a-2ce9f0fbcf3e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/70e54a8f-277c-4102-bff1-0a8d03b36133.html" target="element"> REU.2 Reuse Program Management </a> </td>
											    <td> <a href="../elements/70e54a8f-277c-4102-bff1-0a8d03b36133.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/bfc55ffa-02b3-4746-b2f0-dce272707334.html" target="element"> REU.2.BP3 Assess domains for potential reuse </a> </td>
													    <td> <a href="../elements/bfc55ffa-02b3-4746-b2f0-dce272707334.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/f666992e-36a8-45b6-ae6e-e923f0d4214e.html" target="element"> REU.2.BP2 Identify domains for potential reuse </a> </td>
													    <td> <a href="../elements/f666992e-36a8-45b6-ae6e-e923f0d4214e.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/a3363508-1689-465d-a69c-c9d0b8063583.html" target="element"> REU.2.BP5 Evaluate reuse proposals </a> </td>
													    <td> <a href="../elements/a3363508-1689-465d-a69c-c9d0b8063583.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/22a96154-680a-416d-b9f6-3c5104b3e405.html" target="element"> REU.2.BP4 Assess reuse maturity </a> </td>
													    <td> <a href="../elements/22a96154-680a-416d-b9f6-3c5104b3e405.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/bd6fc2ec-8ae7-45d4-80d4-03d48e567a15.html" target="element"> REU.2.BP1 Define organizational reuse strategy </a> </td>
													    <td> <a href="../elements/bd6fc2ec-8ae7-45d4-80d4-03d48e567a15.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/17507fb4-a3a3-4b0d-9371-2cbf9941eec3.html" target="element"> REU.2.BP6 Implement the reuse program </a> </td>
													    <td> <a href="../elements/17507fb4-a3a3-4b0d-9371-2cbf9941eec3.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/686cce50-6bcf-47f7-85e7-4223968fd7ec.html" target="element"> REU.2.BP7 Get feedback from reuse </a> </td>
													    <td> <a href="../elements/686cce50-6bcf-47f7-85e7-4223968fd7ec.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/9823c1ff-83bd-40fa-b488-1b5df84b034d.html" target="element"> REU.2.BP8 Monitor reuse </a> </td>
													    <td> <a href="../elements/9823c1ff-83bd-40fa-b488-1b5df84b034d.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/c52afefa-2b06-4e2a-9580-078c9f482242.html" target="element"> 04-02 Domain architecture </a> </td>
											    <td> <a href="../elements/c52afefa-2b06-4e2a-9580-078c9f482242.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6f3062cc-133b-44ca-92d6-e9b87c83b3ed.html" target="element"> REU.2.O.1 The reuse strategy, including its purpose, scope, goals and objectives,is defined </a> </td>
											    <td> <a href="../elements/6f3062cc-133b-44ca-92d6-e9b87c83b3ed.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cf5cda0c-e72f-4994-870c-fd538d2d5aec.html" target="element"> REU.2.O.2 Each domain is assessed to determine its reuse potential </a> </td>
											    <td> <a href="../elements/cf5cda0c-e72f-4994-870c-fd538d2d5aec.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/550bdc4b-0c98-4645-87fc-4e71aa3f7435.html" target="element"> REU.2.O.3 The domains in which to investigate reuse opportunities, or in which itis intended to practice reuse, are identified </a> </td>
											    <td> <a href="../elements/550bdc4b-0c98-4645-87fc-4e71aa3f7435.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f61b3c5e-2b96-4878-93b2-31a50b2f0183.html" target="element"> REU.2.O.4 The organization's systematic reuse capability is assessed </a> </td>
											    <td> <a href="../elements/f61b3c5e-2b96-4878-93b2-31a50b2f0183.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ace1cb1d-4a3a-464a-8bb7-8808cc2826c2.html" target="element"> REU.2.O.5 Reuse proposals are evaluated to ensure the reuse product is suitablefor the proposed application </a> </td>
											    <td> <a href="../elements/ace1cb1d-4a3a-464a-8bb7-8808cc2826c2.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b09d330f-5809-49c2-b37c-7f13a7c70167.html" target="element"> REU.2.O.6 Reuse is implemented according to the reuse strategy </a> </td>
											    <td> <a href="../elements/b09d330f-5809-49c2-b37c-7f13a7c70167.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0d8d5b97-9f45-4fae-80cd-7c3b612d9ed6.html" target="element"> REU.2.O.7 Feedback, communication, and notification mechanisms areestablished, that operate between affected parties </a> </td>
											    <td> <a href="../elements/0d8d5b97-9f45-4fae-80cd-7c3b612d9ed6.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d6639efa-05b5-491f-835f-811d9b116920.html" target="element"> REU.2.O.8 The reuse program is monitored and evaluated </a> </td>
											    <td> <a href="../elements/d6639efa-05b5-491f-835f-811d9b116920.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5eedb25e-c614-49fb-b63f-ec9497495c2c.html" target="element"> 04-03 Domain model </a> </td>
											    <td> <a href="../elements/5eedb25e-c614-49fb-b63f-ec9497495c2c.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8d404d6f-4770-4df8-897a-5b58b0ffe1d9.html" target="element"> 08-17 Reuse plan </a> </td>
											    <td> <a href="../elements/8d404d6f-4770-4df8-897a-5b58b0ffe1d9.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/699d01fd-de5b-4fcf-9aae-5d8c208d9e95.html" target="element"> 09-03 Reuse policy </a> </td>
											    <td> <a href="../elements/699d01fd-de5b-4fcf-9aae-5d8c208d9e95.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d84344c8-6abd-4f19-a30e-d4374810f2e2.html" target="element"> 12-03 Reuse proposal </a> </td>
											    <td> <a href="../elements/d84344c8-6abd-4f19-a30e-d4374810f2e2.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5eafd671-efcd-45fb-b835-49475ada95d2.html" target="element"> 15-07 Reuse evaluation report </a> </td>
											    <td> <a href="../elements/5eafd671-efcd-45fb-b835-49475ada95d2.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element"> 13-04 Communication Record </a> </td>
											    <td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5cfc2c93-21aa-4cad-ade1-adea2c4bfd7c.html" target="element"> 15-13 Assessment/audit report </a> </td>
											    <td> <a href="../elements/5cfc2c93-21aa-4cad-ade1-adea2c4bfd7c.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b3998f67-ebbf-415f-bdea-4d8997405e99.html" target="element"> 19-05 Reuse strategy </a> </td>
											    <td> <a href="../elements/b3998f67-ebbf-415f-bdea-4d8997405e99.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/fb8e8001-d84d-49c0-9a63-7384402dbb6b.html" target="element">  </a> </td>
																		<td> <a href="../elements/fb8e8001-d84d-49c0-9a63-7384402dbb6b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/70e54a8f-277c-4102-bff1-0a8d03b36133.html" target="element"> REU.2 Reuse Program Management </a> </td>
																		<td> <a href="../elements/bfc55ffa-02b3-4746-b2f0-dce272707334.html" target="element"> REU.2.BP3 Assess domains for potential reuse </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9596eb21-a027-4fc0-ab05-9096cc498ed9.html" target="element">  </a> </td>
																		<td> <a href="../elements/9596eb21-a027-4fc0-ab05-9096cc498ed9.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/70e54a8f-277c-4102-bff1-0a8d03b36133.html" target="element"> REU.2 Reuse Program Management </a> </td>
																		<td> <a href="../elements/f666992e-36a8-45b6-ae6e-e923f0d4214e.html" target="element"> REU.2.BP2 Identify domains for potential reuse </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2a3517a6-e21e-4875-a553-c41437c573bd.html" target="element">  </a> </td>
																		<td> <a href="../elements/2a3517a6-e21e-4875-a553-c41437c573bd.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/70e54a8f-277c-4102-bff1-0a8d03b36133.html" target="element"> REU.2 Reuse Program Management </a> </td>
																		<td> <a href="../elements/a3363508-1689-465d-a69c-c9d0b8063583.html" target="element"> REU.2.BP5 Evaluate reuse proposals </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7dfbc3f3-c180-4b72-be90-0408c2fb3af7.html" target="element">  </a> </td>
																		<td> <a href="../elements/7dfbc3f3-c180-4b72-be90-0408c2fb3af7.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/70e54a8f-277c-4102-bff1-0a8d03b36133.html" target="element"> REU.2 Reuse Program Management </a> </td>
																		<td> <a href="../elements/22a96154-680a-416d-b9f6-3c5104b3e405.html" target="element"> REU.2.BP4 Assess reuse maturity </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/54a70d3a-62a0-428f-90f3-172484656169.html" target="element">  </a> </td>
																		<td> <a href="../elements/54a70d3a-62a0-428f-90f3-172484656169.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/70e54a8f-277c-4102-bff1-0a8d03b36133.html" target="element"> REU.2 Reuse Program Management </a> </td>
																		<td> <a href="../elements/bd6fc2ec-8ae7-45d4-80d4-03d48e567a15.html" target="element"> REU.2.BP1 Define organizational reuse strategy </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8e85e8eb-a5cf-408c-b976-3dd16ec898ed.html" target="element">  </a> </td>
																		<td> <a href="../elements/8e85e8eb-a5cf-408c-b976-3dd16ec898ed.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/70e54a8f-277c-4102-bff1-0a8d03b36133.html" target="element"> REU.2 Reuse Program Management </a> </td>
																		<td> <a href="../elements/17507fb4-a3a3-4b0d-9371-2cbf9941eec3.html" target="element"> REU.2.BP6 Implement the reuse program </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d1c38ed0-4448-4b25-8df8-378b0cc4419c.html" target="element">  </a> </td>
																		<td> <a href="../elements/d1c38ed0-4448-4b25-8df8-378b0cc4419c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/70e54a8f-277c-4102-bff1-0a8d03b36133.html" target="element"> REU.2 Reuse Program Management </a> </td>
																		<td> <a href="../elements/686cce50-6bcf-47f7-85e7-4223968fd7ec.html" target="element"> REU.2.BP7 Get feedback from reuse </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4415277e-0054-4412-b65a-a304e6c55631.html" target="element">  </a> </td>
																		<td> <a href="../elements/4415277e-0054-4412-b65a-a304e6c55631.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/70e54a8f-277c-4102-bff1-0a8d03b36133.html" target="element"> REU.2 Reuse Program Management </a> </td>
																		<td> <a href="../elements/9823c1ff-83bd-40fa-b488-1b5df84b034d.html" target="element"> REU.2.BP8 Monitor reuse </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6e6a2e3d-fefd-4faf-9343-6cf72a94e2af.html" target="element">  </a> </td>
																		<td> <a href="../elements/6e6a2e3d-fefd-4faf-9343-6cf72a94e2af.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/70e54a8f-277c-4102-bff1-0a8d03b36133.html" target="element"> REU.2 Reuse Program Management </a> </td>
																		<td> <a href="../elements/c52afefa-2b06-4e2a-9580-078c9f482242.html" target="element"> 04-02 Domain architecture </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a4d07de7-26ed-4ceb-8e48-317ed0fa4d01.html" target="element">  </a> </td>
																		<td> <a href="../elements/a4d07de7-26ed-4ceb-8e48-317ed0fa4d01.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/70e54a8f-277c-4102-bff1-0a8d03b36133.html" target="element"> REU.2 Reuse Program Management </a> </td>
																		<td> <a href="../elements/5eedb25e-c614-49fb-b63f-ec9497495c2c.html" target="element"> 04-03 Domain model </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/534b87ca-cb3e-40d1-8db8-013f5964d55c.html" target="element">  </a> </td>
																		<td> <a href="../elements/534b87ca-cb3e-40d1-8db8-013f5964d55c.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/70e54a8f-277c-4102-bff1-0a8d03b36133.html" target="element"> REU.2 Reuse Program Management </a> </td>
																		<td> <a href="../elements/8d404d6f-4770-4df8-897a-5b58b0ffe1d9.html" target="element"> 08-17 Reuse plan </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a13a8348-c0bd-4691-8c23-cf490a2a0c63.html" target="element">  </a> </td>
																		<td> <a href="../elements/a13a8348-c0bd-4691-8c23-cf490a2a0c63.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/70e54a8f-277c-4102-bff1-0a8d03b36133.html" target="element"> REU.2 Reuse Program Management </a> </td>
																		<td> <a href="../elements/699d01fd-de5b-4fcf-9aae-5d8c208d9e95.html" target="element"> 09-03 Reuse policy </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3903e7db-03c0-4b36-a307-4b654fa4af1b.html" target="element">  </a> </td>
																		<td> <a href="../elements/3903e7db-03c0-4b36-a307-4b654fa4af1b.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/70e54a8f-277c-4102-bff1-0a8d03b36133.html" target="element"> REU.2 Reuse Program Management </a> </td>
																		<td> <a href="../elements/d84344c8-6abd-4f19-a30e-d4374810f2e2.html" target="element"> 12-03 Reuse proposal </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6756ca20-f958-4127-b438-32df9f7762bd.html" target="element">  </a> </td>
																		<td> <a href="../elements/6756ca20-f958-4127-b438-32df9f7762bd.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/70e54a8f-277c-4102-bff1-0a8d03b36133.html" target="element"> REU.2 Reuse Program Management </a> </td>
																		<td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element"> 13-04 Communication Record </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/53086dee-5333-4ada-8e31-9119f23db53f.html" target="element">  </a> </td>
																		<td> <a href="../elements/53086dee-5333-4ada-8e31-9119f23db53f.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/70e54a8f-277c-4102-bff1-0a8d03b36133.html" target="element"> REU.2 Reuse Program Management </a> </td>
																		<td> <a href="../elements/5eafd671-efcd-45fb-b835-49475ada95d2.html" target="element"> 15-07 Reuse evaluation report </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3337b99c-ec62-4765-ad75-cb7624dd8e73.html" target="element">  </a> </td>
																		<td> <a href="../elements/3337b99c-ec62-4765-ad75-cb7624dd8e73.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/70e54a8f-277c-4102-bff1-0a8d03b36133.html" target="element"> REU.2 Reuse Program Management </a> </td>
																		<td> <a href="../elements/5cfc2c93-21aa-4cad-ade1-adea2c4bfd7c.html" target="element"> 15-13 Assessment/audit report </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/92bc41e2-c1ec-45d0-9b54-ca4e2956e261.html" target="element">  </a> </td>
																		<td> <a href="../elements/92bc41e2-c1ec-45d0-9b54-ca4e2956e261.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/70e54a8f-277c-4102-bff1-0a8d03b36133.html" target="element"> REU.2 Reuse Program Management </a> </td>
																		<td> <a href="../elements/b3998f67-ebbf-415f-bdea-4d8997405e99.html" target="element"> 19-05 Reuse strategy </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>