<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Overview - SWE.6 Software Qualification Test</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Overview - SWE.6 Software Qualification Test</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/39fd8768-cc1e-4b28-afb3-daf801742eff.png" alt="Overview - SWE.6 Software Qualification Test" usemap="#39fd8768-cc1e-4b28-afb3-daf801742effmap"/>
			   <map name="39fd8768-cc1e-4b28-afb3-daf801742effmap">
				  		<area shape="rect" coords="754,526,992,581" href="../views/9e94f80f-8775-4044-8110-6a872c99ec05.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="754,466,992,521" href="../views/0170b07a-c7fc-4a8c-bf37-59e30738990f.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="442,490,647,545" href="../elements/3ae1b7dc-9344-42d8-b6e2-732b1d8ce352.html"  target="element">
				  		<area shape="rect" coords="442,430,647,485" href="../elements/27d1998c-afb9-4d93-9df6-b6d8ff6e8a0e.html"  target="element">
				  		<area shape="rect" coords="442,370,647,425" href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html"  target="element">
				  		<area shape="rect" coords="442,310,647,365" href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html"  target="element">
				  		<area shape="rect" coords="442,250,647,305" href="../elements/4959f519-a65b-4589-b77f-adda3dc44ea1.html"  target="element">
				  		<area shape="rect" coords="257,10,495,143" href="../elements/676b6530-20d7-403a-8668-7e0dc4f3807b.html"  target="element">
				  		<area shape="rect" coords="503,10,741,143" href="../elements/3146e423-8b64-4e93-8140-8946e77e4a23.html"  target="element">
				  		<area shape="rect" coords="754,10,992,143" href="../elements/e71af0a2-18af-4eaa-84b2-d8f10aa6da20.html"  target="element">
				  		<area shape="rect" coords="1003,10,1241,143" href="../elements/cb0e6a08-a79a-4fb4-8550-645a0cf4520d.html"  target="element">
				  		<area shape="rect" coords="1246,10,1484,143" href="../elements/d3ce5772-cf69-495d-8d79-a0e228fac382.html"  target="element">
				  				<area shape="rect" coords="58,586,335,641" href="../elements/2f4caef1-5ec0-4809-b196-f0d6179ce1ad.html"  target="element">
				  				<area shape="rect" coords="58,526,335,581" href="../elements/7f049489-d3f4-464d-8078-59516be87dee.html"  target="element">
				  				<area shape="rect" coords="58,226,335,281" href="../elements/ea544a8e-3bab-41db-abe7-34eaaf42f011.html"  target="element">
				  				<area shape="rect" coords="58,406,335,461" href="../elements/ebb080ed-2ae4-48f7-96b8-eb0085c423b3.html"  target="element">
				  				<area shape="rect" coords="58,466,335,521" href="../elements/9b90ad9f-1b14-4f66-b913-d5d143c81bb4.html"  target="element">
				  				<area shape="rect" coords="58,286,335,341" href="../elements/7d216f93-d489-48c8-a10a-a4a918ddb086.html"  target="element">
				  				<area shape="rect" coords="58,346,335,401" href="../elements/d64a515a-d20b-4307-a797-9f56bf7667c6.html"  target="element">

				  		<area shape="rect" coords="46,190,347,659" href="../elements/a9cacbed-b90c-4693-80cc-8f1926fb1c8b.html"  target="element">
				  		<area shape="rect" coords="10,10,248,143" href="../elements/546ce7d1-b1ef-4d40-a248-d99c14f51a3d.html"  target="element">
				  		<area shape="rect" coords="442,190,647,245" href="../elements/93c9a2eb-4cd8-45bc-a5ea-b3f277880ac7.html"  target="element">
				          <area shape="rect" coords="754,190,992,455" href="../objects/a5228857-7bf5-4590-9f59-9dd9796ca940.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">This view describes SWE.6 Software Qualification Test Process, its outputs and outcomes

Relation of Outcomes to Outputs and Base Practices is out of scope of this view. See respective view for these details.

Latest version and docs can be found here: https://github.com/alef1986/ASPICE-Archi

Source of information for this view is Automotive SPICE Standards v.3.1
(http://www.automotivespice.com/fileadmin/software-download/AutomotiveSPICE_PAM_31.pdf)</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/a5228857-7bf5-4590-9f59-9dd9796ca940.html" target="element">  </a> </td>
									           <td> <a href="../objects/a5228857-7bf5-4590-9f59-9dd9796ca940.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/93c9a2eb-4cd8-45bc-a5ea-b3f277880ac7.html" target="element"> 08-50 Test specification </a> </td>
											    <td> <a href="../elements/93c9a2eb-4cd8-45bc-a5ea-b3f277880ac7.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/546ce7d1-b1ef-4d40-a248-d99c14f51a3d.html" target="element"> SWE.6.O.1 A software qualification test strategy including regression test strategy consistent with the project plan and release plan is developed to test the integrated software </a> </td>
											    <td> <a href="../elements/546ce7d1-b1ef-4d40-a248-d99c14f51a3d.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a9cacbed-b90c-4693-80cc-8f1926fb1c8b.html" target="element"> SWE.6 Software Qualification Test </a> </td>
											    <td> <a href="../elements/a9cacbed-b90c-4693-80cc-8f1926fb1c8b.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/d64a515a-d20b-4307-a797-9f56bf7667c6.html" target="element"> SWE.6.BP3 Select test cases </a> </td>
													    <td> <a href="../elements/d64a515a-d20b-4307-a797-9f56bf7667c6.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/7d216f93-d489-48c8-a10a-a4a918ddb086.html" target="element"> SWE.6.BP2 Develop specification for software qualification test </a> </td>
													    <td> <a href="../elements/7d216f93-d489-48c8-a10a-a4a918ddb086.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/9b90ad9f-1b14-4f66-b913-d5d143c81bb4.html" target="element"> SWE.6.BP5 Establish bidirectional traceability </a> </td>
													    <td> <a href="../elements/9b90ad9f-1b14-4f66-b913-d5d143c81bb4.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/ebb080ed-2ae4-48f7-96b8-eb0085c423b3.html" target="element"> SWE.6.BP4 Test integrated software </a> </td>
													    <td> <a href="../elements/ebb080ed-2ae4-48f7-96b8-eb0085c423b3.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/ea544a8e-3bab-41db-abe7-34eaaf42f011.html" target="element"> SWE.6.BP1 Develop software qualification test strategy including regression test strategy </a> </td>
													    <td> <a href="../elements/ea544a8e-3bab-41db-abe7-34eaaf42f011.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/7f049489-d3f4-464d-8078-59516be87dee.html" target="element"> SWE.6.BP6 Ensure consistency </a> </td>
													    <td> <a href="../elements/7f049489-d3f4-464d-8078-59516be87dee.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/2f4caef1-5ec0-4809-b196-f0d6179ce1ad.html" target="element"> SWE.6.BP7 Summarize and communicate results </a> </td>
													    <td> <a href="../elements/2f4caef1-5ec0-4809-b196-f0d6179ce1ad.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/d3ce5772-cf69-495d-8d79-a0e228fac382.html" target="element"> SWE.6.O.6 Results of the software qualification test are summarized and communicated to all affected parties </a> </td>
											    <td> <a href="../elements/d3ce5772-cf69-495d-8d79-a0e228fac382.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cb0e6a08-a79a-4fb4-8550-645a0cf4520d.html" target="element"> SWE.6.O.5 Consistency and bidirectional traceability are established between software requirements and software qualification test specification including test cases and between test cases and test results </a> </td>
											    <td> <a href="../elements/cb0e6a08-a79a-4fb4-8550-645a0cf4520d.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e71af0a2-18af-4eaa-84b2-d8f10aa6da20.html" target="element"> SWE.6.O.4 The integrated software is tested using the selected test cases and the results of software qualification test are recorded </a> </td>
											    <td> <a href="../elements/e71af0a2-18af-4eaa-84b2-d8f10aa6da20.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3146e423-8b64-4e93-8140-8946e77e4a23.html" target="element"> SWE.6.O.3 Test cases included in the software qualification test specification are selected according to the software qualification test strategy and the release plan </a> </td>
											    <td> <a href="../elements/3146e423-8b64-4e93-8140-8946e77e4a23.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/676b6530-20d7-403a-8668-7e0dc4f3807b.html" target="element"> SWE.6.O.2 A specification for software qualification test of the integrated software according to the software qualification test strategy is developed that is suitable to provide evidence for compliance with the software requirements </a> </td>
											    <td> <a href="../elements/676b6530-20d7-403a-8668-7e0dc4f3807b.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4959f519-a65b-4589-b77f-adda3dc44ea1.html" target="element"> 08-52 Test plan </a> </td>
											    <td> <a href="../elements/4959f519-a65b-4589-b77f-adda3dc44ea1.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element"> 13-04 Communication Record </a> </td>
											    <td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element"> 13-19 Review Record </a> </td>
											    <td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/27d1998c-afb9-4d93-9df6-b6d8ff6e8a0e.html" target="element"> 13-22 Traceability record  </a> </td>
											    <td> <a href="../elements/27d1998c-afb9-4d93-9df6-b6d8ff6e8a0e.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3ae1b7dc-9344-42d8-b6e2-732b1d8ce352.html" target="element"> 13-50 Test result </a> </td>
											    <td> <a href="../elements/3ae1b7dc-9344-42d8-b6e2-732b1d8ce352.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../views/0170b07a-c7fc-4a8c-bf37-59e30738990f.html" target="view"> O. vs. BP. vs. WP. - SWE.6 Software Qualification Test </a> </td>
											    <td> <a href="../views/0170b07a-c7fc-4a8c-bf37-59e30738990f.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/9e94f80f-8775-4044-8110-6a872c99ec05.html" target="view"> Overview - Process Reference Model </a> </td>
											    <td> <a href="../views/9e94f80f-8775-4044-8110-6a872c99ec05.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/590feecc-68ad-429a-999c-ffdd01a94551.html" target="element">  </a> </td>
																		<td> <a href="../elements/590feecc-68ad-429a-999c-ffdd01a94551.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a9cacbed-b90c-4693-80cc-8f1926fb1c8b.html" target="element"> SWE.6 Software Qualification Test </a> </td>
																		<td> <a href="../elements/9b90ad9f-1b14-4f66-b913-d5d143c81bb4.html" target="element"> SWE.6.BP5 Establish bidirectional traceability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/02dd4e13-fdd9-4c78-8419-f77d860be408.html" target="element">  </a> </td>
																		<td> <a href="../elements/02dd4e13-fdd9-4c78-8419-f77d860be408.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a9cacbed-b90c-4693-80cc-8f1926fb1c8b.html" target="element"> SWE.6 Software Qualification Test </a> </td>
																		<td> <a href="../elements/d64a515a-d20b-4307-a797-9f56bf7667c6.html" target="element"> SWE.6.BP3 Select test cases </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0cb820c3-7b2f-4f00-9002-a8c5999f0000.html" target="element">  </a> </td>
																		<td> <a href="../elements/0cb820c3-7b2f-4f00-9002-a8c5999f0000.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a9cacbed-b90c-4693-80cc-8f1926fb1c8b.html" target="element"> SWE.6 Software Qualification Test </a> </td>
																		<td> <a href="../elements/7d216f93-d489-48c8-a10a-a4a918ddb086.html" target="element"> SWE.6.BP2 Develop specification for software qualification test </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3e796d59-047f-42a7-928a-2c02200b96c6.html" target="element">  </a> </td>
																		<td> <a href="../elements/3e796d59-047f-42a7-928a-2c02200b96c6.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a9cacbed-b90c-4693-80cc-8f1926fb1c8b.html" target="element"> SWE.6 Software Qualification Test </a> </td>
																		<td> <a href="../elements/ea544a8e-3bab-41db-abe7-34eaaf42f011.html" target="element"> SWE.6.BP1 Develop software qualification test strategy including regression test strategy </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/efbd9e9a-7fa4-486c-a45e-567e14cc0248.html" target="element">  </a> </td>
																		<td> <a href="../elements/efbd9e9a-7fa4-486c-a45e-567e14cc0248.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a9cacbed-b90c-4693-80cc-8f1926fb1c8b.html" target="element"> SWE.6 Software Qualification Test </a> </td>
																		<td> <a href="../elements/7f049489-d3f4-464d-8078-59516be87dee.html" target="element"> SWE.6.BP6 Ensure consistency </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/01cfb573-71a6-4504-b5b8-1005e2b1317a.html" target="element">  </a> </td>
																		<td> <a href="../elements/01cfb573-71a6-4504-b5b8-1005e2b1317a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a9cacbed-b90c-4693-80cc-8f1926fb1c8b.html" target="element"> SWE.6 Software Qualification Test </a> </td>
																		<td> <a href="../elements/ebb080ed-2ae4-48f7-96b8-eb0085c423b3.html" target="element"> SWE.6.BP4 Test integrated software </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/eb76fc52-52c3-4417-90ba-748c17a8833f.html" target="element">  </a> </td>
																		<td> <a href="../elements/eb76fc52-52c3-4417-90ba-748c17a8833f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a9cacbed-b90c-4693-80cc-8f1926fb1c8b.html" target="element"> SWE.6 Software Qualification Test </a> </td>
																		<td> <a href="../elements/2f4caef1-5ec0-4809-b196-f0d6179ce1ad.html" target="element"> SWE.6.BP7 Summarize and communicate results </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e19b8d3f-33e6-4627-afe2-0be617e58541.html" target="element">  </a> </td>
																		<td> <a href="../elements/e19b8d3f-33e6-4627-afe2-0be617e58541.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/a9cacbed-b90c-4693-80cc-8f1926fb1c8b.html" target="element"> SWE.6 Software Qualification Test </a> </td>
																		<td> <a href="../elements/93c9a2eb-4cd8-45bc-a5ea-b3f277880ac7.html" target="element"> 08-50 Test specification </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/20aa6b62-2813-4534-a537-414ff43c9c9a.html" target="element">  </a> </td>
																		<td> <a href="../elements/20aa6b62-2813-4534-a537-414ff43c9c9a.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/a9cacbed-b90c-4693-80cc-8f1926fb1c8b.html" target="element"> SWE.6 Software Qualification Test </a> </td>
																		<td> <a href="../elements/4959f519-a65b-4589-b77f-adda3dc44ea1.html" target="element"> 08-52 Test plan </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6595e029-107c-4d86-a569-3c628df2c456.html" target="element">  </a> </td>
																		<td> <a href="../elements/6595e029-107c-4d86-a569-3c628df2c456.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/a9cacbed-b90c-4693-80cc-8f1926fb1c8b.html" target="element"> SWE.6 Software Qualification Test </a> </td>
																		<td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element"> 13-04 Communication Record </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/11bdb576-c7d5-4c78-8384-f6c1caab9459.html" target="element">  </a> </td>
																		<td> <a href="../elements/11bdb576-c7d5-4c78-8384-f6c1caab9459.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/a9cacbed-b90c-4693-80cc-8f1926fb1c8b.html" target="element"> SWE.6 Software Qualification Test </a> </td>
																		<td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element"> 13-19 Review Record </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6a8c7c05-6341-4ec5-874e-cc7f4c3bee54.html" target="element">  </a> </td>
																		<td> <a href="../elements/6a8c7c05-6341-4ec5-874e-cc7f4c3bee54.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/a9cacbed-b90c-4693-80cc-8f1926fb1c8b.html" target="element"> SWE.6 Software Qualification Test </a> </td>
																		<td> <a href="../elements/27d1998c-afb9-4d93-9df6-b6d8ff6e8a0e.html" target="element"> 13-22 Traceability record  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/40ffc8cb-ad4a-4774-92bb-a8ebe7d296d7.html" target="element">  </a> </td>
																		<td> <a href="../elements/40ffc8cb-ad4a-4774-92bb-a8ebe7d296d7.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/a9cacbed-b90c-4693-80cc-8f1926fb1c8b.html" target="element"> SWE.6 Software Qualification Test </a> </td>
																		<td> <a href="../elements/3ae1b7dc-9344-42d8-b6e2-732b1d8ce352.html" target="element"> 13-50 Test result </a> </td>
																	</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>