<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Work Products vs. Best Practices (Eye-Friendly)- MAN.3 Project Management</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Work Products vs. Best Practices (Eye-Friendly)- MAN.3 Project Management</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/3af8ebcf-222d-4cf5-8cea-33bda821703d.png" alt="Work Products vs. Best Practices (Eye-Friendly)- MAN.3 Project Management" usemap="#3af8ebcf-222d-4cf5-8cea-33bda821703dmap"/>
			   <map name="3af8ebcf-222d-4cf5-8cea-33bda821703dmap">
				  		<area shape="rect" coords="562,538,800,611" href="../elements/9d197893-55a9-450a-bd43-ae325042f931.html"  target="element">
				  		<area shape="rect" coords="1402,241,1640,314" href="../elements/2e7e6a43-b24d-48f0-878d-358e98a303a5.html"  target="element">
				  		<area shape="rect" coords="10,241,248,314" href="../elements/c854972e-dcaf-4dd1-b309-e5a051551e19.html"  target="element">
				  		<area shape="rect" coords="850,241,1088,314" href="../elements/006cac41-4164-483a-97f9-5214f429af55.html"  target="element">
				  		<area shape="rect" coords="562,241,800,314" href="../elements/00e08590-b3f4-48a4-9ede-89e520f35b9b.html"  target="element">
				  		<area shape="rect" coords="1134,547,1372,620" href="../elements/27f2a4e6-2b9c-449e-ad9c-4cd372ef7d32.html"  target="element">
				  		<area shape="rect" coords="10,10,248,83" href="../elements/c1bcc100-5e2a-4d8a-a517-c77952f418dc.html"  target="element">
				  		<area shape="rect" coords="1150,370,1355,425" href="../elements/7ff9797c-538a-4e8d-9975-f2acd2dcbadb.html"  target="element">
				  		<area shape="rect" coords="1150,130,1355,185" href="../elements/a3b90380-1c92-4faf-a3b6-9b496bc0300c.html"  target="element">
				  		<area shape="rect" coords="310,370,515,425" href="../elements/0e208665-2e2c-4e95-a2f0-b55b91de31b2.html"  target="element">
				  		<area shape="rect" coords="310,250,515,305" href="../elements/cad75c2f-7b4a-44d3-ad75-c34452f8c6ef.html"  target="element">
				  		<area shape="rect" coords="310,658,515,713" href="../elements/3400d0a7-31c3-46f8-8e99-a25fad4ca5d5.html"  target="element">
				  		<area shape="rect" coords="866,547,1071,602" href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html"  target="element">
				  		<area shape="rect" coords="310,547,515,602" href="../elements/30267d89-3ca1-4ce0-aaf0-02f864f52e90.html"  target="element">
				  		<area shape="rect" coords="1150,250,1355,305" href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html"  target="element">
				  		<area shape="rect" coords="310,130,515,185" href="../elements/142419a3-5086-413b-9ce7-6725822b2c5e.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">This view demonstrates relationship between best practices and work products of the MAN.3 (Project Management) process in the eye-friendly manner.</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/142419a3-5086-413b-9ce7-6725822b2c5e.html" target="element"> 08-12 Project Plan </a> </td>
											    <td> <a href="../elements/142419a3-5086-413b-9ce7-6725822b2c5e.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element"> 13-04 Communication Record </a> </td>
											    <td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/30267d89-3ca1-4ce0-aaf0-02f864f52e90.html" target="element"> 13-16 Change Request </a> </td>
											    <td> <a href="../elements/30267d89-3ca1-4ce0-aaf0-02f864f52e90.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element"> 13-19 Review Record </a> </td>
											    <td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3400d0a7-31c3-46f8-8e99-a25fad4ca5d5.html" target="element"> 14-02 Corrective Action Register </a> </td>
											    <td> <a href="../elements/3400d0a7-31c3-46f8-8e99-a25fad4ca5d5.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cad75c2f-7b4a-44d3-ad75-c34452f8c6ef.html" target="element"> 14-06 Schedule </a> </td>
											    <td> <a href="../elements/cad75c2f-7b4a-44d3-ad75-c34452f8c6ef.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0e208665-2e2c-4e95-a2f0-b55b91de31b2.html" target="element"> 14-09 Work Breakdown Structure </a> </td>
											    <td> <a href="../elements/0e208665-2e2c-4e95-a2f0-b55b91de31b2.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a3b90380-1c92-4faf-a3b6-9b496bc0300c.html" target="element"> 14-50 Stakeholder Groups List </a> </td>
											    <td> <a href="../elements/a3b90380-1c92-4faf-a3b6-9b496bc0300c.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7ff9797c-538a-4e8d-9975-f2acd2dcbadb.html" target="element"> 15-06 Project Status Report </a> </td>
											    <td> <a href="../elements/7ff9797c-538a-4e8d-9975-f2acd2dcbadb.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c1bcc100-5e2a-4d8a-a517-c77952f418dc.html" target="element"> MAN.5.O.1 The scope of the risk management to be performed is determined </a> </td>
											    <td> <a href="../elements/c1bcc100-5e2a-4d8a-a517-c77952f418dc.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/27f2a4e6-2b9c-449e-ad9c-4cd372ef7d32.html" target="element"> MAN.3.O.2 The feasibility of achieving the goals of the project with available resources and constraints is evaluated </a> </td>
											    <td> <a href="../elements/27f2a4e6-2b9c-449e-ad9c-4cd372ef7d32.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/00e08590-b3f4-48a4-9ede-89e520f35b9b.html" target="element"> MAN.3.O.3 The activities and resources necessary to complete the work are sizedand estimated </a> </td>
											    <td> <a href="../elements/00e08590-b3f4-48a4-9ede-89e520f35b9b.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/006cac41-4164-483a-97f9-5214f429af55.html" target="element"> MAN.3.O.4 Interfaces within the project, and with other projects and organizational units, are identified and monitored </a> </td>
											    <td> <a href="../elements/006cac41-4164-483a-97f9-5214f429af55.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c854972e-dcaf-4dd1-b309-e5a051551e19.html" target="element"> MAN.3.O.5 Plans for the execution of the project are developed, implemented andmaintained </a> </td>
											    <td> <a href="../elements/c854972e-dcaf-4dd1-b309-e5a051551e19.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2e7e6a43-b24d-48f0-878d-358e98a303a5.html" target="element"> MAN.3.O.6 Progress of the project is monitored and reported </a> </td>
											    <td> <a href="../elements/2e7e6a43-b24d-48f0-878d-358e98a303a5.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9d197893-55a9-450a-bd43-ae325042f931.html" target="element"> MAN.3.O.7 Corrective action is taken when project goals are not achieved, andrecurrence of problems identified in the project is prevented. </a> </td>
											    <td> <a href="../elements/9d197893-55a9-450a-bd43-ae325042f931.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/f5ce1534-86e7-445a-8b51-06696c814aaa.html" target="element">  </a> </td>
																		<td> <a href="../elements/f5ce1534-86e7-445a-8b51-06696c814aaa.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/142419a3-5086-413b-9ce7-6725822b2c5e.html" target="element"> 08-12 Project Plan </a> </td>
																		<td> <a href="../elements/c1bcc100-5e2a-4d8a-a517-c77952f418dc.html" target="element"> MAN.5.O.1 The scope of the risk management to be performed is determined </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/46ff7643-e27d-4b38-9a3a-711c745382d6.html" target="element">  </a> </td>
																		<td> <a href="../elements/46ff7643-e27d-4b38-9a3a-711c745382d6.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/142419a3-5086-413b-9ce7-6725822b2c5e.html" target="element"> 08-12 Project Plan </a> </td>
																		<td> <a href="../elements/006cac41-4164-483a-97f9-5214f429af55.html" target="element"> MAN.3.O.4 Interfaces within the project, and with other projects and organizational units, are identified and monitored </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/61b222d3-8be0-4c50-82ec-52b6436db466.html" target="element">  </a> </td>
																		<td> <a href="../elements/61b222d3-8be0-4c50-82ec-52b6436db466.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/142419a3-5086-413b-9ce7-6725822b2c5e.html" target="element"> 08-12 Project Plan </a> </td>
																		<td> <a href="../elements/00e08590-b3f4-48a4-9ede-89e520f35b9b.html" target="element"> MAN.3.O.3 The activities and resources necessary to complete the work are sizedand estimated </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/402a266a-58c8-4b67-aaa8-fdf4dd390be5.html" target="element">  </a> </td>
																		<td> <a href="../elements/402a266a-58c8-4b67-aaa8-fdf4dd390be5.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/142419a3-5086-413b-9ce7-6725822b2c5e.html" target="element"> 08-12 Project Plan </a> </td>
																		<td> <a href="../elements/c854972e-dcaf-4dd1-b309-e5a051551e19.html" target="element"> MAN.3.O.5 Plans for the execution of the project are developed, implemented andmaintained </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/d4291855-7411-42d9-aeec-2c36832f3237.html" target="element">  </a> </td>
																		<td> <a href="../elements/d4291855-7411-42d9-aeec-2c36832f3237.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element"> 13-04 Communication Record </a> </td>
																		<td> <a href="../elements/006cac41-4164-483a-97f9-5214f429af55.html" target="element"> MAN.3.O.4 Interfaces within the project, and with other projects and organizational units, are identified and monitored </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0fd1733a-a262-40c9-8141-d5d765b1dd01.html" target="element">  </a> </td>
																		<td> <a href="../elements/0fd1733a-a262-40c9-8141-d5d765b1dd01.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element"> 13-04 Communication Record </a> </td>
																		<td> <a href="../elements/2e7e6a43-b24d-48f0-878d-358e98a303a5.html" target="element"> MAN.3.O.6 Progress of the project is monitored and reported </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/b8016daa-ba7b-4a24-914f-c381bec30e03.html" target="element">  </a> </td>
																		<td> <a href="../elements/b8016daa-ba7b-4a24-914f-c381bec30e03.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/30267d89-3ca1-4ce0-aaf0-02f864f52e90.html" target="element"> 13-16 Change Request </a> </td>
																		<td> <a href="../elements/9d197893-55a9-450a-bd43-ae325042f931.html" target="element"> MAN.3.O.7 Corrective action is taken when project goals are not achieved, andrecurrence of problems identified in the project is prevented. </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/4315ac28-83b6-41a5-9ca2-3dab7c42a431.html" target="element">  </a> </td>
																		<td> <a href="../elements/4315ac28-83b6-41a5-9ca2-3dab7c42a431.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element"> 13-19 Review Record </a> </td>
																		<td> <a href="../elements/27f2a4e6-2b9c-449e-ad9c-4cd372ef7d32.html" target="element"> MAN.3.O.2 The feasibility of achieving the goals of the project with available resources and constraints is evaluated </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a09f5129-bd74-43a8-b102-974683d3101f.html" target="element">  </a> </td>
																		<td> <a href="../elements/a09f5129-bd74-43a8-b102-974683d3101f.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element"> 13-19 Review Record </a> </td>
																		<td> <a href="../elements/9d197893-55a9-450a-bd43-ae325042f931.html" target="element"> MAN.3.O.7 Corrective action is taken when project goals are not achieved, andrecurrence of problems identified in the project is prevented. </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/1ee9d6ef-d5ee-4412-ac6d-508819c433a0.html" target="element">  </a> </td>
																		<td> <a href="../elements/1ee9d6ef-d5ee-4412-ac6d-508819c433a0.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/3400d0a7-31c3-46f8-8e99-a25fad4ca5d5.html" target="element"> 14-02 Corrective Action Register </a> </td>
																		<td> <a href="../elements/9d197893-55a9-450a-bd43-ae325042f931.html" target="element"> MAN.3.O.7 Corrective action is taken when project goals are not achieved, andrecurrence of problems identified in the project is prevented. </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/a9aa8dcb-6475-4ecc-9a52-9af5a3aec7d8.html" target="element">  </a> </td>
																		<td> <a href="../elements/a9aa8dcb-6475-4ecc-9a52-9af5a3aec7d8.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/cad75c2f-7b4a-44d3-ad75-c34452f8c6ef.html" target="element"> 14-06 Schedule </a> </td>
																		<td> <a href="../elements/00e08590-b3f4-48a4-9ede-89e520f35b9b.html" target="element"> MAN.3.O.3 The activities and resources necessary to complete the work are sizedand estimated </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/07e2fa21-fdd4-4c59-a45b-5da64847baf2.html" target="element">  </a> </td>
																		<td> <a href="../elements/07e2fa21-fdd4-4c59-a45b-5da64847baf2.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/cad75c2f-7b4a-44d3-ad75-c34452f8c6ef.html" target="element"> 14-06 Schedule </a> </td>
																		<td> <a href="../elements/c854972e-dcaf-4dd1-b309-e5a051551e19.html" target="element"> MAN.3.O.5 Plans for the execution of the project are developed, implemented andmaintained </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/39f41966-0109-428f-8994-3b9350867861.html" target="element">  </a> </td>
																		<td> <a href="../elements/39f41966-0109-428f-8994-3b9350867861.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/0e208665-2e2c-4e95-a2f0-b55b91de31b2.html" target="element"> 14-09 Work Breakdown Structure </a> </td>
																		<td> <a href="../elements/00e08590-b3f4-48a4-9ede-89e520f35b9b.html" target="element"> MAN.3.O.3 The activities and resources necessary to complete the work are sizedand estimated </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/279c9077-5082-40a2-8d35-8622ca0fc8e3.html" target="element">  </a> </td>
																		<td> <a href="../elements/279c9077-5082-40a2-8d35-8622ca0fc8e3.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/0e208665-2e2c-4e95-a2f0-b55b91de31b2.html" target="element"> 14-09 Work Breakdown Structure </a> </td>
																		<td> <a href="../elements/006cac41-4164-483a-97f9-5214f429af55.html" target="element"> MAN.3.O.4 Interfaces within the project, and with other projects and organizational units, are identified and monitored </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/397bdae2-53ec-4aa6-abe4-6b3d2571b04c.html" target="element">  </a> </td>
																		<td> <a href="../elements/397bdae2-53ec-4aa6-abe4-6b3d2571b04c.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/0e208665-2e2c-4e95-a2f0-b55b91de31b2.html" target="element"> 14-09 Work Breakdown Structure </a> </td>
																		<td> <a href="../elements/c854972e-dcaf-4dd1-b309-e5a051551e19.html" target="element"> MAN.3.O.5 Plans for the execution of the project are developed, implemented andmaintained </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/47c8aebf-2ef5-4d62-8728-42fa4869e48d.html" target="element">  </a> </td>
																		<td> <a href="../elements/47c8aebf-2ef5-4d62-8728-42fa4869e48d.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/a3b90380-1c92-4faf-a3b6-9b496bc0300c.html" target="element"> 14-50 Stakeholder Groups List </a> </td>
																		<td> <a href="../elements/006cac41-4164-483a-97f9-5214f429af55.html" target="element"> MAN.3.O.4 Interfaces within the project, and with other projects and organizational units, are identified and monitored </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/9b36f3d0-b0ab-46b8-b2b0-f834fd45122e.html" target="element">  </a> </td>
																		<td> <a href="../elements/9b36f3d0-b0ab-46b8-b2b0-f834fd45122e.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/7ff9797c-538a-4e8d-9975-f2acd2dcbadb.html" target="element"> 15-06 Project Status Report </a> </td>
																		<td> <a href="../elements/006cac41-4164-483a-97f9-5214f429af55.html" target="element"> MAN.3.O.4 Interfaces within the project, and with other projects and organizational units, are identified and monitored </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/50a17b9c-f160-482b-8b66-841e4c655791.html" target="element">  </a> </td>
																		<td> <a href="../elements/50a17b9c-f160-482b-8b66-841e4c655791.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/7ff9797c-538a-4e8d-9975-f2acd2dcbadb.html" target="element"> 15-06 Project Status Report </a> </td>
																		<td> <a href="../elements/2e7e6a43-b24d-48f0-878d-358e98a303a5.html" target="element"> MAN.3.O.6 Progress of the project is monitored and reported </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>