<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>O. vs. BP. vs. WP. - REU.2 Reuse Program Management</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>O. vs. BP. vs. WP. - REU.2 Reuse Program Management</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/3f1e5684-8f5b-4dac-a1c5-6fa75ee54daa.png" alt="O. vs. BP. vs. WP. - REU.2 Reuse Program Management" usemap="#3f1e5684-8f5b-4dac-a1c5-6fa75ee54daamap"/>
			   <map name="3f1e5684-8f5b-4dac-a1c5-6fa75ee54daamap">
				  		<area shape="rect" coords="910,574,1079,629" href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html"  target="element">
				  		<area shape="rect" coords="1090,574,1259,629" href="../elements/5eafd671-efcd-45fb-b835-49475ada95d2.html"  target="element">
				  		<area shape="rect" coords="1150,10,1367,65" href="../elements/17507fb4-a3a3-4b0d-9371-2cbf9941eec3.html"  target="element">
				  		<area shape="rect" coords="730,574,899,629" href="../elements/d84344c8-6abd-4f19-a30e-d4374810f2e2.html"  target="element">
				  		<area shape="rect" coords="550,574,719,629" href="../elements/699d01fd-de5b-4fcf-9aae-5d8c208d9e95.html"  target="element">
				  		<area shape="rect" coords="370,574,539,629" href="../elements/8d404d6f-4770-4df8-897a-5b58b0ffe1d9.html"  target="element">
				  		<area shape="rect" coords="190,574,359,629" href="../elements/5eedb25e-c614-49fb-b63f-ec9497495c2c.html"  target="element">
				  		<area shape="rect" coords="10,574,179,629" href="../elements/c52afefa-2b06-4e2a-9580-078c9f482242.html"  target="element">
				  		<area shape="rect" coords="1606,10,1823,65" href="../elements/9823c1ff-83bd-40fa-b488-1b5df84b034d.html"  target="element">
				  		<area shape="rect" coords="1378,10,1595,65" href="../elements/686cce50-6bcf-47f7-85e7-4223968fd7ec.html"  target="element">
				  		<area shape="rect" coords="10,10,227,65" href="../elements/bd6fc2ec-8ae7-45d4-80d4-03d48e567a15.html"  target="element">
				  		<area shape="rect" coords="694,10,911,65" href="../elements/22a96154-680a-416d-b9f6-3c5104b3e405.html"  target="element">
				  		<area shape="rect" coords="922,10,1139,65" href="../elements/a3363508-1689-465d-a69c-c9d0b8063583.html"  target="element">
				  		<area shape="rect" coords="238,10,455,65" href="../elements/f666992e-36a8-45b6-ae6e-e923f0d4214e.html"  target="element">
				  		<area shape="rect" coords="466,10,683,65" href="../elements/bfc55ffa-02b3-4746-b2f0-dce272707334.html"  target="element">
				  		<area shape="rect" coords="1450,574,1619,629" href="../elements/b3998f67-ebbf-415f-bdea-4d8997405e99.html"  target="element">
				  		<area shape="rect" coords="1270,574,1439,629" href="../elements/5cfc2c93-21aa-4cad-ade1-adea2c4bfd7c.html"  target="element">
				  		<area shape="rect" coords="10,130,1727,164" href="../elements/89897fd2-4ea8-47bf-8cf1-9c07b8a12914.html"  target="element">
				  		<area shape="rect" coords="10,466,1727,500" href="../elements/d6639efa-05b5-491f-835f-811d9b116920.html"  target="element">
				  		<area shape="rect" coords="10,418,1727,452" href="../elements/0d8d5b97-9f45-4fae-80cd-7c3b612d9ed6.html"  target="element">
				  		<area shape="rect" coords="10,370,1727,404" href="../elements/b09d330f-5809-49c2-b37c-7f13a7c70167.html"  target="element">
				  		<area shape="rect" coords="10,322,1727,356" href="../elements/ace1cb1d-4a3a-464a-8bb7-8808cc2826c2.html"  target="element">
				  		<area shape="rect" coords="10,274,1727,308" href="../elements/f61b3c5e-2b96-4878-93b2-31a50b2f0183.html"  target="element">
				  		<area shape="rect" coords="10,226,1727,260" href="../elements/550bdc4b-0c98-4645-87fc-4e71aa3f7435.html"  target="element">
				  		<area shape="rect" coords="10,178,1727,212" href="../elements/cf5cda0c-e72f-4994-870c-fd538d2d5aec.html"  target="element">
				          <area shape="rect" coords="10,742,839,858" href="../objects/a8a28997-1a82-45e6-be7e-d1c53002e0a8.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">This view answers the following questions:
- If I implement and deploy the Base Practice (BP) ***, how can I verify if I did it properly? What outcomes shall be achieved?
- If I implement and demploy the Outcome Work Product ***, how can I verify if I did it properly? What outcomes shall be achieved?

Scope of this view - Outcomes, Base Practices and their relations for ASPICE process REU.2 Reuse Program Management

Latest version and docs can be found here: https://github.com/alef1986/ASPICE-Archi</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/a8a28997-1a82-45e6-be7e-d1c53002e0a8.html" target="element">  </a> </td>
									           <td> <a href="../objects/a8a28997-1a82-45e6-be7e-d1c53002e0a8.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/cf5cda0c-e72f-4994-870c-fd538d2d5aec.html" target="element"> REU.2.O.2 Each domain is assessed to determine its reuse potential </a> </td>
											    <td> <a href="../elements/cf5cda0c-e72f-4994-870c-fd538d2d5aec.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/550bdc4b-0c98-4645-87fc-4e71aa3f7435.html" target="element"> REU.2.O.3 The domains in which to investigate reuse opportunities, or in which itis intended to practice reuse, are identified </a> </td>
											    <td> <a href="../elements/550bdc4b-0c98-4645-87fc-4e71aa3f7435.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f61b3c5e-2b96-4878-93b2-31a50b2f0183.html" target="element"> REU.2.O.4 The organization's systematic reuse capability is assessed </a> </td>
											    <td> <a href="../elements/f61b3c5e-2b96-4878-93b2-31a50b2f0183.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ace1cb1d-4a3a-464a-8bb7-8808cc2826c2.html" target="element"> REU.2.O.5 Reuse proposals are evaluated to ensure the reuse product is suitablefor the proposed application </a> </td>
											    <td> <a href="../elements/ace1cb1d-4a3a-464a-8bb7-8808cc2826c2.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b09d330f-5809-49c2-b37c-7f13a7c70167.html" target="element"> REU.2.O.6 Reuse is implemented according to the reuse strategy </a> </td>
											    <td> <a href="../elements/b09d330f-5809-49c2-b37c-7f13a7c70167.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0d8d5b97-9f45-4fae-80cd-7c3b612d9ed6.html" target="element"> REU.2.O.7 Feedback, communication, and notification mechanisms areestablished, that operate between affected parties </a> </td>
											    <td> <a href="../elements/0d8d5b97-9f45-4fae-80cd-7c3b612d9ed6.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d6639efa-05b5-491f-835f-811d9b116920.html" target="element"> REU.2.O.8 The reuse program is monitored and evaluated </a> </td>
											    <td> <a href="../elements/d6639efa-05b5-491f-835f-811d9b116920.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/89897fd2-4ea8-47bf-8cf1-9c07b8a12914.html" target="element"> REU.2.O.1 The reuse strategy, including its purpose, scope, goals and objectives, is defined </a> </td>
											    <td> <a href="../elements/89897fd2-4ea8-47bf-8cf1-9c07b8a12914.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5cfc2c93-21aa-4cad-ade1-adea2c4bfd7c.html" target="element"> 15-13 Assessment/audit report </a> </td>
											    <td> <a href="../elements/5cfc2c93-21aa-4cad-ade1-adea2c4bfd7c.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b3998f67-ebbf-415f-bdea-4d8997405e99.html" target="element"> 19-05 Reuse strategy </a> </td>
											    <td> <a href="../elements/b3998f67-ebbf-415f-bdea-4d8997405e99.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/bfc55ffa-02b3-4746-b2f0-dce272707334.html" target="element"> REU.2.BP3 Assess domains for potential reuse </a> </td>
											    <td> <a href="../elements/bfc55ffa-02b3-4746-b2f0-dce272707334.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f666992e-36a8-45b6-ae6e-e923f0d4214e.html" target="element"> REU.2.BP2 Identify domains for potential reuse </a> </td>
											    <td> <a href="../elements/f666992e-36a8-45b6-ae6e-e923f0d4214e.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a3363508-1689-465d-a69c-c9d0b8063583.html" target="element"> REU.2.BP5 Evaluate reuse proposals </a> </td>
											    <td> <a href="../elements/a3363508-1689-465d-a69c-c9d0b8063583.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/22a96154-680a-416d-b9f6-3c5104b3e405.html" target="element"> REU.2.BP4 Assess reuse maturity </a> </td>
											    <td> <a href="../elements/22a96154-680a-416d-b9f6-3c5104b3e405.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/bd6fc2ec-8ae7-45d4-80d4-03d48e567a15.html" target="element"> REU.2.BP1 Define organizational reuse strategy </a> </td>
											    <td> <a href="../elements/bd6fc2ec-8ae7-45d4-80d4-03d48e567a15.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/686cce50-6bcf-47f7-85e7-4223968fd7ec.html" target="element"> REU.2.BP7 Get feedback from reuse </a> </td>
											    <td> <a href="../elements/686cce50-6bcf-47f7-85e7-4223968fd7ec.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9823c1ff-83bd-40fa-b488-1b5df84b034d.html" target="element"> REU.2.BP8 Monitor reuse </a> </td>
											    <td> <a href="../elements/9823c1ff-83bd-40fa-b488-1b5df84b034d.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c52afefa-2b06-4e2a-9580-078c9f482242.html" target="element"> 04-02 Domain architecture </a> </td>
											    <td> <a href="../elements/c52afefa-2b06-4e2a-9580-078c9f482242.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5eedb25e-c614-49fb-b63f-ec9497495c2c.html" target="element"> 04-03 Domain model </a> </td>
											    <td> <a href="../elements/5eedb25e-c614-49fb-b63f-ec9497495c2c.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8d404d6f-4770-4df8-897a-5b58b0ffe1d9.html" target="element"> 08-17 Reuse plan </a> </td>
											    <td> <a href="../elements/8d404d6f-4770-4df8-897a-5b58b0ffe1d9.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/699d01fd-de5b-4fcf-9aae-5d8c208d9e95.html" target="element"> 09-03 Reuse policy </a> </td>
											    <td> <a href="../elements/699d01fd-de5b-4fcf-9aae-5d8c208d9e95.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d84344c8-6abd-4f19-a30e-d4374810f2e2.html" target="element"> 12-03 Reuse proposal </a> </td>
											    <td> <a href="../elements/d84344c8-6abd-4f19-a30e-d4374810f2e2.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/17507fb4-a3a3-4b0d-9371-2cbf9941eec3.html" target="element"> REU.2.BP6 Implement the reuse program </a> </td>
											    <td> <a href="../elements/17507fb4-a3a3-4b0d-9371-2cbf9941eec3.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5eafd671-efcd-45fb-b835-49475ada95d2.html" target="element"> 15-07 Reuse evaluation report </a> </td>
											    <td> <a href="../elements/5eafd671-efcd-45fb-b835-49475ada95d2.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element"> 13-04 Communication Record </a> </td>
											    <td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/c9abc718-d3f8-4501-957a-99c661c8cc9c.html" target="element">  </a> </td>
																		<td> <a href="../elements/c9abc718-d3f8-4501-957a-99c661c8cc9c.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/5cfc2c93-21aa-4cad-ade1-adea2c4bfd7c.html" target="element"> 15-13 Assessment/audit report </a> </td>
																		<td> <a href="../elements/550bdc4b-0c98-4645-87fc-4e71aa3f7435.html" target="element"> REU.2.O.3 The domains in which to investigate reuse opportunities, or in which itis intended to practice reuse, are identified </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0e0209c8-f674-4667-ba5d-210d8b061564.html" target="element">  </a> </td>
																		<td> <a href="../elements/0e0209c8-f674-4667-ba5d-210d8b061564.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/5cfc2c93-21aa-4cad-ade1-adea2c4bfd7c.html" target="element"> 15-13 Assessment/audit report </a> </td>
																		<td> <a href="../elements/f61b3c5e-2b96-4878-93b2-31a50b2f0183.html" target="element"> REU.2.O.4 The organization's systematic reuse capability is assessed </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/08960181-0dbb-41bb-8cb1-b2185f68c566.html" target="element">  </a> </td>
																		<td> <a href="../elements/08960181-0dbb-41bb-8cb1-b2185f68c566.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/b3998f67-ebbf-415f-bdea-4d8997405e99.html" target="element"> 19-05 Reuse strategy </a> </td>
																		<td> <a href="../elements/89897fd2-4ea8-47bf-8cf1-9c07b8a12914.html" target="element"> REU.2.O.1 The reuse strategy, including its purpose, scope, goals and objectives, is defined </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/fd712b26-10e1-4b1a-89a0-856dc355f2df.html" target="element">  </a> </td>
																		<td> <a href="../elements/fd712b26-10e1-4b1a-89a0-856dc355f2df.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/bfc55ffa-02b3-4746-b2f0-dce272707334.html" target="element"> REU.2.BP3 Assess domains for potential reuse </a> </td>
																		<td> <a href="../elements/550bdc4b-0c98-4645-87fc-4e71aa3f7435.html" target="element"> REU.2.O.3 The domains in which to investigate reuse opportunities, or in which itis intended to practice reuse, are identified </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/453b03d7-d09a-4f69-ace3-488b78f54201.html" target="element">  </a> </td>
																		<td> <a href="../elements/453b03d7-d09a-4f69-ace3-488b78f54201.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/f666992e-36a8-45b6-ae6e-e923f0d4214e.html" target="element"> REU.2.BP2 Identify domains for potential reuse </a> </td>
																		<td> <a href="../elements/cf5cda0c-e72f-4994-870c-fd538d2d5aec.html" target="element"> REU.2.O.2 Each domain is assessed to determine its reuse potential </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6a3ba162-67d7-4ae8-aecc-b41a38cc5e04.html" target="element">  </a> </td>
																		<td> <a href="../elements/6a3ba162-67d7-4ae8-aecc-b41a38cc5e04.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/a3363508-1689-465d-a69c-c9d0b8063583.html" target="element"> REU.2.BP5 Evaluate reuse proposals </a> </td>
																		<td> <a href="../elements/ace1cb1d-4a3a-464a-8bb7-8808cc2826c2.html" target="element"> REU.2.O.5 Reuse proposals are evaluated to ensure the reuse product is suitablefor the proposed application </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/0f90e56a-eb23-4b70-bb48-66cf2c572ac4.html" target="element">  </a> </td>
																		<td> <a href="../elements/0f90e56a-eb23-4b70-bb48-66cf2c572ac4.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/22a96154-680a-416d-b9f6-3c5104b3e405.html" target="element"> REU.2.BP4 Assess reuse maturity </a> </td>
																		<td> <a href="../elements/f61b3c5e-2b96-4878-93b2-31a50b2f0183.html" target="element"> REU.2.O.4 The organization's systematic reuse capability is assessed </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/5112ec98-dab7-4176-8365-d29abc24329b.html" target="element">  </a> </td>
																		<td> <a href="../elements/5112ec98-dab7-4176-8365-d29abc24329b.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/bd6fc2ec-8ae7-45d4-80d4-03d48e567a15.html" target="element"> REU.2.BP1 Define organizational reuse strategy </a> </td>
																		<td> <a href="../elements/89897fd2-4ea8-47bf-8cf1-9c07b8a12914.html" target="element"> REU.2.O.1 The reuse strategy, including its purpose, scope, goals and objectives, is defined </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/4634388f-35d6-47d6-ace2-fbe9e88e5d65.html" target="element">  </a> </td>
																		<td> <a href="../elements/4634388f-35d6-47d6-ace2-fbe9e88e5d65.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/686cce50-6bcf-47f7-85e7-4223968fd7ec.html" target="element"> REU.2.BP7 Get feedback from reuse </a> </td>
																		<td> <a href="../elements/0d8d5b97-9f45-4fae-80cd-7c3b612d9ed6.html" target="element"> REU.2.O.7 Feedback, communication, and notification mechanisms areestablished, that operate between affected parties </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1d4150eb-6252-4aff-aba5-1e8cc8db24ef.html" target="element">  </a> </td>
																		<td> <a href="../elements/1d4150eb-6252-4aff-aba5-1e8cc8db24ef.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/686cce50-6bcf-47f7-85e7-4223968fd7ec.html" target="element"> REU.2.BP7 Get feedback from reuse </a> </td>
																		<td> <a href="../elements/d6639efa-05b5-491f-835f-811d9b116920.html" target="element"> REU.2.O.8 The reuse program is monitored and evaluated </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/3d6d9805-732f-45ef-80bb-bce2d0970e95.html" target="element">  </a> </td>
																		<td> <a href="../elements/3d6d9805-732f-45ef-80bb-bce2d0970e95.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/9823c1ff-83bd-40fa-b488-1b5df84b034d.html" target="element"> REU.2.BP8 Monitor reuse </a> </td>
																		<td> <a href="../elements/b09d330f-5809-49c2-b37c-7f13a7c70167.html" target="element"> REU.2.O.6 Reuse is implemented according to the reuse strategy </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a8562786-dd90-444d-aa2b-66cc9c27ceb4.html" target="element">  </a> </td>
																		<td> <a href="../elements/a8562786-dd90-444d-aa2b-66cc9c27ceb4.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/9823c1ff-83bd-40fa-b488-1b5df84b034d.html" target="element"> REU.2.BP8 Monitor reuse </a> </td>
																		<td> <a href="../elements/d6639efa-05b5-491f-835f-811d9b116920.html" target="element"> REU.2.O.8 The reuse program is monitored and evaluated </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/7a2848bd-a7f9-49cc-83bf-1e3adafbeace.html" target="element">  </a> </td>
																		<td> <a href="../elements/7a2848bd-a7f9-49cc-83bf-1e3adafbeace.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/c52afefa-2b06-4e2a-9580-078c9f482242.html" target="element"> 04-02 Domain architecture </a> </td>
																		<td> <a href="../elements/cf5cda0c-e72f-4994-870c-fd538d2d5aec.html" target="element"> REU.2.O.2 Each domain is assessed to determine its reuse potential </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/66cfa44d-d5c1-4aa0-b61a-4121bfde7843.html" target="element">  </a> </td>
																		<td> <a href="../elements/66cfa44d-d5c1-4aa0-b61a-4121bfde7843.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/5eedb25e-c614-49fb-b63f-ec9497495c2c.html" target="element"> 04-03 Domain model </a> </td>
																		<td> <a href="../elements/cf5cda0c-e72f-4994-870c-fd538d2d5aec.html" target="element"> REU.2.O.2 Each domain is assessed to determine its reuse potential </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/47099727-c42c-4a44-bfc7-17f0cb14eda4.html" target="element">  </a> </td>
																		<td> <a href="../elements/47099727-c42c-4a44-bfc7-17f0cb14eda4.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/8d404d6f-4770-4df8-897a-5b58b0ffe1d9.html" target="element"> 08-17 Reuse plan </a> </td>
																		<td> <a href="../elements/ace1cb1d-4a3a-464a-8bb7-8808cc2826c2.html" target="element"> REU.2.O.5 Reuse proposals are evaluated to ensure the reuse product is suitablefor the proposed application </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a543e7cb-efc8-4747-a30f-282c2edaf4c9.html" target="element">  </a> </td>
																		<td> <a href="../elements/a543e7cb-efc8-4747-a30f-282c2edaf4c9.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/8d404d6f-4770-4df8-897a-5b58b0ffe1d9.html" target="element"> 08-17 Reuse plan </a> </td>
																		<td> <a href="../elements/b09d330f-5809-49c2-b37c-7f13a7c70167.html" target="element"> REU.2.O.6 Reuse is implemented according to the reuse strategy </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/a332f104-cc37-4e31-b6b5-0fbc2e215d3c.html" target="element">  </a> </td>
																		<td> <a href="../elements/a332f104-cc37-4e31-b6b5-0fbc2e215d3c.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/699d01fd-de5b-4fcf-9aae-5d8c208d9e95.html" target="element"> 09-03 Reuse policy </a> </td>
																		<td> <a href="../elements/89897fd2-4ea8-47bf-8cf1-9c07b8a12914.html" target="element"> REU.2.O.1 The reuse strategy, including its purpose, scope, goals and objectives, is defined </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/13a2da72-9159-48db-ae4d-d04e98a6be72.html" target="element">  </a> </td>
																		<td> <a href="../elements/13a2da72-9159-48db-ae4d-d04e98a6be72.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/d84344c8-6abd-4f19-a30e-d4374810f2e2.html" target="element"> 12-03 Reuse proposal </a> </td>
																		<td> <a href="../elements/f61b3c5e-2b96-4878-93b2-31a50b2f0183.html" target="element"> REU.2.O.4 The organization's systematic reuse capability is assessed </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/427bd668-ecca-4721-8ed3-95801e6eaad7.html" target="element">  </a> </td>
																		<td> <a href="../elements/427bd668-ecca-4721-8ed3-95801e6eaad7.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/17507fb4-a3a3-4b0d-9371-2cbf9941eec3.html" target="element"> REU.2.BP6 Implement the reuse program </a> </td>
																		<td> <a href="../elements/b09d330f-5809-49c2-b37c-7f13a7c70167.html" target="element"> REU.2.O.6 Reuse is implemented according to the reuse strategy </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/8de001a0-a7d0-46fb-967e-880fd2b47b50.html" target="element">  </a> </td>
																		<td> <a href="../elements/8de001a0-a7d0-46fb-967e-880fd2b47b50.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/5eafd671-efcd-45fb-b835-49475ada95d2.html" target="element"> 15-07 Reuse evaluation report </a> </td>
																		<td> <a href="../elements/ace1cb1d-4a3a-464a-8bb7-8808cc2826c2.html" target="element"> REU.2.O.5 Reuse proposals are evaluated to ensure the reuse product is suitablefor the proposed application </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/992fa017-90ad-49c8-9870-557e2d68a1b2.html" target="element">  </a> </td>
																		<td> <a href="../elements/992fa017-90ad-49c8-9870-557e2d68a1b2.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/5eafd671-efcd-45fb-b835-49475ada95d2.html" target="element"> 15-07 Reuse evaluation report </a> </td>
																		<td> <a href="../elements/b09d330f-5809-49c2-b37c-7f13a7c70167.html" target="element"> REU.2.O.6 Reuse is implemented according to the reuse strategy </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/730068ed-4be0-4276-a08b-20f5bf059129.html" target="element">  </a> </td>
																		<td> <a href="../elements/730068ed-4be0-4276-a08b-20f5bf059129.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/5eafd671-efcd-45fb-b835-49475ada95d2.html" target="element"> 15-07 Reuse evaluation report </a> </td>
																		<td> <a href="../elements/d6639efa-05b5-491f-835f-811d9b116920.html" target="element"> REU.2.O.8 The reuse program is monitored and evaluated </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/9fe45333-648d-46aa-ab45-374965afde83.html" target="element">  </a> </td>
																		<td> <a href="../elements/9fe45333-648d-46aa-ab45-374965afde83.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element"> 13-04 Communication Record </a> </td>
																		<td> <a href="../elements/0d8d5b97-9f45-4fae-80cd-7c3b612d9ed6.html" target="element"> REU.2.O.7 Feedback, communication, and notification mechanisms areestablished, that operate between affected parties </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>