<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>O. vs. BP. vs. WP. - SYS.1 Requirements Elicitation</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>O. vs. BP. vs. WP. - SYS.1 Requirements Elicitation</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/51c4ad5d-ada2-4ac2-9b62-5830635d3421.png" alt="O. vs. BP. vs. WP. - SYS.1 Requirements Elicitation" usemap="#51c4ad5d-ada2-4ac2-9b62-5830635d3421map"/>
			   <map name="51c4ad5d-ada2-4ac2-9b62-5830635d3421map">
				  		<area shape="rect" coords="802,538,922,593" href="../elements/6e9e4b02-7291-4bf6-adf1-d17b044f9df8.html"  target="element">
				  		<area shape="rect" coords="670,538,790,593" href="../elements/46ef0390-c285-4923-8ce6-e9680248ce42.html"  target="element">
				  		<area shape="rect" coords="538,538,658,593" href="../elements/90ada978-e397-4600-878f-60e697a70705.html"  target="element">
				  		<area shape="rect" coords="406,538,526,593" href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html"  target="element">
				  		<area shape="rect" coords="274,538,394,593" href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html"  target="element">
				  		<area shape="rect" coords="142,538,262,593" href="../elements/d6cf718a-bab4-48b0-93af-3ca7fbe7d9f7.html"  target="element">
				  		<area shape="rect" coords="10,538,130,593" href="../elements/e4107c2d-ad06-4410-bd61-71fb684d10c4.html"  target="element">
				  		<area shape="rect" coords="1030,10,1223,65" href="../elements/cdd1f542-5bf4-4523-aa10-9cd104ecb27d.html"  target="element">
				  		<area shape="rect" coords="826,10,1019,65" href="../elements/9c8d3f2d-6ce9-4e58-9966-b16046eee224.html"  target="element">
				  		<area shape="rect" coords="622,10,815,65" href="../elements/e9f1b902-dbb2-4a56-8208-5fa225937260.html"  target="element">
				  		<area shape="rect" coords="418,10,611,65" href="../elements/6f193ca2-b173-416b-9be2-0320e308abdd.html"  target="element">
				  		<area shape="rect" coords="214,10,407,65" href="../elements/eb89bf58-8b76-4df5-b7f4-b374d52812fb.html"  target="element">
				  		<area shape="rect" coords="10,10,203,65" href="../elements/3f405879-2416-44b1-8d8a-c78d07eaf7b7.html"  target="element">
				  		<area shape="rect" coords="10,406,1633,440" href="../elements/f321ce24-17f7-4a36-8780-1ed47029694a.html"  target="element">
				  		<area shape="rect" coords="10,358,1633,392" href="../elements/7051559e-282c-437b-9540-d259042dbfde.html"  target="element">
				  		<area shape="rect" coords="10,310,1633,344" href="../elements/ea76484d-1dff-4909-b4ba-2ebb70134f22.html"  target="element">
				  		<area shape="rect" coords="10,262,1633,296" href="../elements/0d60d2d8-7ad9-4ce1-a256-2e6dad16121e.html"  target="element">
				  		<area shape="rect" coords="10,214,1633,248" href="../elements/5f577cad-361a-4f25-89d5-b3a662ed540e.html"  target="element">
				  		<area shape="rect" coords="10,166,1633,200" href="../elements/acbf6fc8-e1c9-4784-97b1-d80cbaa8889f.html"  target="element">
				          <area shape="rect" coords="10,724,839,851" href="../objects/8123a028-7782-4231-8e04-3eeb940ef629.html" target="element" >
				  		<area shape="rect" coords="1440,10,1633,65" href="../elements/c2758f01-5bad-422f-9acf-231a73d46ab2.html"  target="element">
				  		<area shape="rect" coords="1234,10,1427,65" href="../elements/123d8f84-4707-45b3-89ed-50a68318f794.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">This view answers the following questions:
- If I implement and deploy the Base Practice (BP) ***, how can I verify if I did it properly? What outcomes shall be achieved?
- If I implement and demploy the Outcome Work Product ***, how can I verify if I did it properly? What outcomes shall be achieved?

Scope of this view - Outcomes, Base Practices and their relations for ASPICE process SYS.1 Requirements Elicitation.

Latest version and docs can be found here: https://github.com/alef1986/ASPICE-Archi</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/123d8f84-4707-45b3-89ed-50a68318f794.html" target="element"> SYS.2.BP7 Ensure consistency </a> </td>
											    <td> <a href="../elements/123d8f84-4707-45b3-89ed-50a68318f794.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c2758f01-5bad-422f-9acf-231a73d46ab2.html" target="element"> SYS.2.BP8 Communicate agreed system requirements </a> </td>
											    <td> <a href="../elements/c2758f01-5bad-422f-9acf-231a73d46ab2.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/8123a028-7782-4231-8e04-3eeb940ef629.html" target="element">  </a> </td>
									           <td> <a href="../objects/8123a028-7782-4231-8e04-3eeb940ef629.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/acbf6fc8-e1c9-4784-97b1-d80cbaa8889f.html" target="element"> SYS.1.O.1 Continuing communication with the stakeholder is established </a> </td>
											    <td> <a href="../elements/acbf6fc8-e1c9-4784-97b1-d80cbaa8889f.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5f577cad-361a-4f25-89d5-b3a662ed540e.html" target="element"> SYS.1.O.2 Agreed stakeholder requirements are defined and baselined </a> </td>
											    <td> <a href="../elements/5f577cad-361a-4f25-89d5-b3a662ed540e.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0d60d2d8-7ad9-4ce1-a256-2e6dad16121e.html" target="element"> SYS.1.O.3 A change mechanism is established to evaluate and incorporatechanges to stakeholder requirements into the baselined requirementsbased on changing stakeholder needs </a> </td>
											    <td> <a href="../elements/0d60d2d8-7ad9-4ce1-a256-2e6dad16121e.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ea76484d-1dff-4909-b4ba-2ebb70134f22.html" target="element"> SYS.1.O.4 A mechanism is established for continuous monitoring of stakeholderneeds </a> </td>
											    <td> <a href="../elements/ea76484d-1dff-4909-b4ba-2ebb70134f22.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7051559e-282c-437b-9540-d259042dbfde.html" target="element"> SYS.1.O.5 A mechanism is established for ensuring that customers can easilydetermine the status and disposition of their requests </a> </td>
											    <td> <a href="../elements/7051559e-282c-437b-9540-d259042dbfde.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f321ce24-17f7-4a36-8780-1ed47029694a.html" target="element"> SYS.1.O.6 Changes arising from changing technology and stakeholder needs areidentified, the associated risks assessed and their impact managed </a> </td>
											    <td> <a href="../elements/f321ce24-17f7-4a36-8780-1ed47029694a.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3f405879-2416-44b1-8d8a-c78d07eaf7b7.html" target="element"> SYS.1.BP1 Obtain stakeholder requirements and requests </a> </td>
											    <td> <a href="../elements/3f405879-2416-44b1-8d8a-c78d07eaf7b7.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/eb89bf58-8b76-4df5-b7f4-b374d52812fb.html" target="element"> SYS.1.BP2 Understand stakeholder expectations </a> </td>
											    <td> <a href="../elements/eb89bf58-8b76-4df5-b7f4-b374d52812fb.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6f193ca2-b173-416b-9be2-0320e308abdd.html" target="element"> SYS.1.BP3 Agree on requirements </a> </td>
											    <td> <a href="../elements/6f193ca2-b173-416b-9be2-0320e308abdd.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e9f1b902-dbb2-4a56-8208-5fa225937260.html" target="element"> SYS.1.BP4 Establish stakeholder requirements baseline </a> </td>
											    <td> <a href="../elements/e9f1b902-dbb2-4a56-8208-5fa225937260.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9c8d3f2d-6ce9-4e58-9966-b16046eee224.html" target="element"> SYS.1.BP5 Manage stakeholder requirements changes </a> </td>
											    <td> <a href="../elements/9c8d3f2d-6ce9-4e58-9966-b16046eee224.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cdd1f542-5bf4-4523-aa10-9cd104ecb27d.html" target="element"> SYS.1.BP6 Establish customer-supplier query communication mechanism </a> </td>
											    <td> <a href="../elements/cdd1f542-5bf4-4523-aa10-9cd104ecb27d.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e4107c2d-ad06-4410-bd61-71fb684d10c4.html" target="element"> 08-19 Risk management plan </a> </td>
											    <td> <a href="../elements/e4107c2d-ad06-4410-bd61-71fb684d10c4.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d6cf718a-bab4-48b0-93af-3ca7fbe7d9f7.html" target="element"> 08-20 Risk mitigation plan </a> </td>
											    <td> <a href="../elements/d6cf718a-bab4-48b0-93af-3ca7fbe7d9f7.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element"> 13-04 Communication Record </a> </td>
											    <td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element"> 13-19 Review Record </a> </td>
											    <td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/90ada978-e397-4600-878f-60e697a70705.html" target="element"> 13-21 Change control record </a> </td>
											    <td> <a href="../elements/90ada978-e397-4600-878f-60e697a70705.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/46ef0390-c285-4923-8ce6-e9680248ce42.html" target="element"> 15-01 Analysis report </a> </td>
											    <td> <a href="../elements/46ef0390-c285-4923-8ce6-e9680248ce42.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6e9e4b02-7291-4bf6-adf1-d17b044f9df8.html" target="element"> 17-03 Customer requirements </a> </td>
											    <td> <a href="../elements/6e9e4b02-7291-4bf6-adf1-d17b044f9df8.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/25546668-dd92-4be4-8949-d4c93edb70a0.html" target="element">  </a> </td>
																		<td> <a href="../elements/25546668-dd92-4be4-8949-d4c93edb70a0.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/3f405879-2416-44b1-8d8a-c78d07eaf7b7.html" target="element"> SYS.1.BP1 Obtain stakeholder requirements and requests </a> </td>
																		<td> <a href="../elements/acbf6fc8-e1c9-4784-97b1-d80cbaa8889f.html" target="element"> SYS.1.O.1 Continuing communication with the stakeholder is established </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/00959148-298a-46f9-ad74-884ae990f379.html" target="element">  </a> </td>
																		<td> <a href="../elements/00959148-298a-46f9-ad74-884ae990f379.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/3f405879-2416-44b1-8d8a-c78d07eaf7b7.html" target="element"> SYS.1.BP1 Obtain stakeholder requirements and requests </a> </td>
																		<td> <a href="../elements/ea76484d-1dff-4909-b4ba-2ebb70134f22.html" target="element"> SYS.1.O.4 A mechanism is established for continuous monitoring of stakeholderneeds </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/2c9e9a9f-6dd2-4f5a-a774-75455c59baf4.html" target="element">  </a> </td>
																		<td> <a href="../elements/2c9e9a9f-6dd2-4f5a-a774-75455c59baf4.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/eb89bf58-8b76-4df5-b7f4-b374d52812fb.html" target="element"> SYS.1.BP2 Understand stakeholder expectations </a> </td>
																		<td> <a href="../elements/5f577cad-361a-4f25-89d5-b3a662ed540e.html" target="element"> SYS.1.O.2 Agreed stakeholder requirements are defined and baselined </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/5e362b75-88a5-41cf-b025-b1248827e41d.html" target="element">  </a> </td>
																		<td> <a href="../elements/5e362b75-88a5-41cf-b025-b1248827e41d.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/6f193ca2-b173-416b-9be2-0320e308abdd.html" target="element"> SYS.1.BP3 Agree on requirements </a> </td>
																		<td> <a href="../elements/5f577cad-361a-4f25-89d5-b3a662ed540e.html" target="element"> SYS.1.O.2 Agreed stakeholder requirements are defined and baselined </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/ca2911e3-26cc-45eb-942c-f3ec9826e961.html" target="element">  </a> </td>
																		<td> <a href="../elements/ca2911e3-26cc-45eb-942c-f3ec9826e961.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/e9f1b902-dbb2-4a56-8208-5fa225937260.html" target="element"> SYS.1.BP4 Establish stakeholder requirements baseline </a> </td>
																		<td> <a href="../elements/5f577cad-361a-4f25-89d5-b3a662ed540e.html" target="element"> SYS.1.O.2 Agreed stakeholder requirements are defined and baselined </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5fbdd152-ab13-4268-8891-7f48da39d116.html" target="element">  </a> </td>
																		<td> <a href="../elements/5fbdd152-ab13-4268-8891-7f48da39d116.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/e9f1b902-dbb2-4a56-8208-5fa225937260.html" target="element"> SYS.1.BP4 Establish stakeholder requirements baseline </a> </td>
																		<td> <a href="../elements/0d60d2d8-7ad9-4ce1-a256-2e6dad16121e.html" target="element"> SYS.1.O.3 A change mechanism is established to evaluate and incorporatechanges to stakeholder requirements into the baselined requirementsbased on changing stakeholder needs </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/4f2105d7-e651-477c-8181-77c453063837.html" target="element">  </a> </td>
																		<td> <a href="../elements/4f2105d7-e651-477c-8181-77c453063837.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/9c8d3f2d-6ce9-4e58-9966-b16046eee224.html" target="element"> SYS.1.BP5 Manage stakeholder requirements changes </a> </td>
																		<td> <a href="../elements/0d60d2d8-7ad9-4ce1-a256-2e6dad16121e.html" target="element"> SYS.1.O.3 A change mechanism is established to evaluate and incorporatechanges to stakeholder requirements into the baselined requirementsbased on changing stakeholder needs </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/78e2906e-7d1a-4585-9235-43361b7139d0.html" target="element">  </a> </td>
																		<td> <a href="../elements/78e2906e-7d1a-4585-9235-43361b7139d0.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/9c8d3f2d-6ce9-4e58-9966-b16046eee224.html" target="element"> SYS.1.BP5 Manage stakeholder requirements changes </a> </td>
																		<td> <a href="../elements/f321ce24-17f7-4a36-8780-1ed47029694a.html" target="element"> SYS.1.O.6 Changes arising from changing technology and stakeholder needs areidentified, the associated risks assessed and their impact managed </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/a3f67468-b4a1-44fa-94a1-949c1c491550.html" target="element">  </a> </td>
																		<td> <a href="../elements/a3f67468-b4a1-44fa-94a1-949c1c491550.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/cdd1f542-5bf4-4523-aa10-9cd104ecb27d.html" target="element"> SYS.1.BP6 Establish customer-supplier query communication mechanism </a> </td>
																		<td> <a href="../elements/7051559e-282c-437b-9540-d259042dbfde.html" target="element"> SYS.1.O.5 A mechanism is established for ensuring that customers can easilydetermine the status and disposition of their requests </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/29565451-7b86-43a7-9b10-184977eeda18.html" target="element">  </a> </td>
																		<td> <a href="../elements/29565451-7b86-43a7-9b10-184977eeda18.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/e4107c2d-ad06-4410-bd61-71fb684d10c4.html" target="element"> 08-19 Risk management plan </a> </td>
																		<td> <a href="../elements/f321ce24-17f7-4a36-8780-1ed47029694a.html" target="element"> SYS.1.O.6 Changes arising from changing technology and stakeholder needs areidentified, the associated risks assessed and their impact managed </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/afdc3a05-a672-4481-966d-a003dc7c3d37.html" target="element">  </a> </td>
																		<td> <a href="../elements/afdc3a05-a672-4481-966d-a003dc7c3d37.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/d6cf718a-bab4-48b0-93af-3ca7fbe7d9f7.html" target="element"> 08-20 Risk mitigation plan </a> </td>
																		<td> <a href="../elements/f321ce24-17f7-4a36-8780-1ed47029694a.html" target="element"> SYS.1.O.6 Changes arising from changing technology and stakeholder needs areidentified, the associated risks assessed and their impact managed </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/ac434a3c-24ba-448a-a16d-65059b2e5355.html" target="element">  </a> </td>
																		<td> <a href="../elements/ac434a3c-24ba-448a-a16d-65059b2e5355.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element"> 13-04 Communication Record </a> </td>
																		<td> <a href="../elements/acbf6fc8-e1c9-4784-97b1-d80cbaa8889f.html" target="element"> SYS.1.O.1 Continuing communication with the stakeholder is established </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6938458d-c904-4dab-9a5d-8cfb4087283c.html" target="element">  </a> </td>
																		<td> <a href="../elements/6938458d-c904-4dab-9a5d-8cfb4087283c.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element"> 13-04 Communication Record </a> </td>
																		<td> <a href="../elements/ea76484d-1dff-4909-b4ba-2ebb70134f22.html" target="element"> SYS.1.O.4 A mechanism is established for continuous monitoring of stakeholderneeds </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/55c284ff-84ec-4104-991e-db859ee65db2.html" target="element">  </a> </td>
																		<td> <a href="../elements/55c284ff-84ec-4104-991e-db859ee65db2.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element"> 13-19 Review Record </a> </td>
																		<td> <a href="../elements/ea76484d-1dff-4909-b4ba-2ebb70134f22.html" target="element"> SYS.1.O.4 A mechanism is established for continuous monitoring of stakeholderneeds </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/49709654-22bf-42f9-9123-d5c2b73a9510.html" target="element">  </a> </td>
																		<td> <a href="../elements/49709654-22bf-42f9-9123-d5c2b73a9510.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element"> 13-19 Review Record </a> </td>
																		<td> <a href="../elements/7051559e-282c-437b-9540-d259042dbfde.html" target="element"> SYS.1.O.5 A mechanism is established for ensuring that customers can easilydetermine the status and disposition of their requests </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/1874ae09-c199-460d-b40a-14c6f4a40409.html" target="element">  </a> </td>
																		<td> <a href="../elements/1874ae09-c199-460d-b40a-14c6f4a40409.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/90ada978-e397-4600-878f-60e697a70705.html" target="element"> 13-21 Change control record </a> </td>
																		<td> <a href="../elements/0d60d2d8-7ad9-4ce1-a256-2e6dad16121e.html" target="element"> SYS.1.O.3 A change mechanism is established to evaluate and incorporatechanges to stakeholder requirements into the baselined requirementsbased on changing stakeholder needs </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3c7148fc-e48c-499f-8f28-c40e2f80e920.html" target="element">  </a> </td>
																		<td> <a href="../elements/3c7148fc-e48c-499f-8f28-c40e2f80e920.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/90ada978-e397-4600-878f-60e697a70705.html" target="element"> 13-21 Change control record </a> </td>
																		<td> <a href="../elements/ea76484d-1dff-4909-b4ba-2ebb70134f22.html" target="element"> SYS.1.O.4 A mechanism is established for continuous monitoring of stakeholderneeds </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/ad9f2132-fd07-4f47-81d7-44a1a7cc2dc5.html" target="element">  </a> </td>
																		<td> <a href="../elements/ad9f2132-fd07-4f47-81d7-44a1a7cc2dc5.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/46ef0390-c285-4923-8ce6-e9680248ce42.html" target="element"> 15-01 Analysis report </a> </td>
																		<td> <a href="../elements/5f577cad-361a-4f25-89d5-b3a662ed540e.html" target="element"> SYS.1.O.2 Agreed stakeholder requirements are defined and baselined </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/59d3a65b-476b-45ce-8443-65ef2c4647aa.html" target="element">  </a> </td>
																		<td> <a href="../elements/59d3a65b-476b-45ce-8443-65ef2c4647aa.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/46ef0390-c285-4923-8ce6-e9680248ce42.html" target="element"> 15-01 Analysis report </a> </td>
																		<td> <a href="../elements/0d60d2d8-7ad9-4ce1-a256-2e6dad16121e.html" target="element"> SYS.1.O.3 A change mechanism is established to evaluate and incorporatechanges to stakeholder requirements into the baselined requirementsbased on changing stakeholder needs </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/707efd51-b8ab-4854-89ef-ceaa0eb31acd.html" target="element">  </a> </td>
																		<td> <a href="../elements/707efd51-b8ab-4854-89ef-ceaa0eb31acd.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/46ef0390-c285-4923-8ce6-e9680248ce42.html" target="element"> 15-01 Analysis report </a> </td>
																		<td> <a href="../elements/f321ce24-17f7-4a36-8780-1ed47029694a.html" target="element"> SYS.1.O.6 Changes arising from changing technology and stakeholder needs areidentified, the associated risks assessed and their impact managed </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/0493d8db-5fb5-4a5c-8245-046bfaaa9bb1.html" target="element">  </a> </td>
																		<td> <a href="../elements/0493d8db-5fb5-4a5c-8245-046bfaaa9bb1.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/6e9e4b02-7291-4bf6-adf1-d17b044f9df8.html" target="element"> 17-03 Customer requirements </a> </td>
																		<td> <a href="../elements/acbf6fc8-e1c9-4784-97b1-d80cbaa8889f.html" target="element"> SYS.1.O.1 Continuing communication with the stakeholder is established </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8c7f4e34-6835-42d1-82e9-e81c63479998.html" target="element">  </a> </td>
																		<td> <a href="../elements/8c7f4e34-6835-42d1-82e9-e81c63479998.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/6e9e4b02-7291-4bf6-adf1-d17b044f9df8.html" target="element"> 17-03 Customer requirements </a> </td>
																		<td> <a href="../elements/5f577cad-361a-4f25-89d5-b3a662ed540e.html" target="element"> SYS.1.O.2 Agreed stakeholder requirements are defined and baselined </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>