<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Overview - SPL.1 Supplier Tendering</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Overview - SPL.1 Supplier Tendering</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/5cbd0b21-14ab-4aa1-8ecd-a6680caa279e.png" alt="Overview - SPL.1 Supplier Tendering" usemap="#5cbd0b21-14ab-4aa1-8ecd-a6680caa279emap"/>
			   <map name="5cbd0b21-14ab-4aa1-8ecd-a6680caa279emap">
				  		<area shape="rect" coords="814,586,1052,641" href="../views/9e94f80f-8775-4044-8110-6a872c99ec05.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="814,526,1052,581" href="../views/5f0b0f47-afbf-41af-8705-bcf5dc2da78a.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="530,598,735,653" href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html"  target="element">
				  		<area shape="rect" coords="530,526,735,581" href="../elements/27ca1823-24ab-45e2-9788-e105c9b70279.html"  target="element">
				  		<area shape="rect" coords="530,454,735,509" href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html"  target="element">
				  		<area shape="rect" coords="530,382,735,437" href="../elements/a3488164-8969-4f53-b23b-85c429ed2290.html"  target="element">
				  		<area shape="rect" coords="530,310,735,365" href="../elements/142419a3-5086-413b-9ce7-6725822b2c5e.html"  target="element">
				  		<area shape="rect" coords="530,246,735,301" href="../elements/d1cb0629-11ee-483a-b513-6264faff0a0d.html"  target="element">
				  		<area shape="rect" coords="10,106,248,191" href="../elements/6420d723-8916-4272-953e-29c012ee96ed.html"  target="element">
				  		<area shape="rect" coords="1006,10,1244,95" href="../elements/58771814-7a53-4ac4-89df-3c7483e96d98.html"  target="element">
				  		<area shape="rect" coords="761,10,999,95" href="../elements/3b1dbda1-2f81-43e8-be22-2559d2b2f812.html"  target="element">
				  		<area shape="rect" coords="514,10,752,95" href="../elements/e174ecfa-0974-4715-a279-cce26da7df82.html"  target="element">
				  		<area shape="rect" coords="262,10,500,95" href="../elements/6d9c0d54-b616-4a85-be1f-5e1816c67605.html"  target="element">
				  				<area shape="rect" coords="166,702,443,757" href="../elements/18b18c43-dd02-45f0-b0ee-33470a81ce72.html"  target="element">
				  				<area shape="rect" coords="166,642,443,697" href="../elements/2a755b1f-592f-4994-9a33-5a9f7e678ad9.html"  target="element">
				  				<area shape="rect" coords="166,582,443,637" href="../elements/2c998ddb-215d-4ff1-9624-6980affa5dbe.html"  target="element">
				  				<area shape="rect" coords="166,282,443,337" href="../elements/3e542f7d-343d-4996-9a17-9687f4056b23.html"  target="element">
				  				<area shape="rect" coords="166,462,443,517" href="../elements/0ea92396-42fd-40b4-8d5e-cbfc3a9c0085.html"  target="element">
				  				<area shape="rect" coords="166,522,443,577" href="../elements/79e69c31-aefd-4afc-9b64-f8fa22bb137d.html"  target="element">
				  				<area shape="rect" coords="166,342,443,397" href="../elements/232f1c8c-e54e-40dd-b1cf-f044178844b3.html"  target="element">
				  				<area shape="rect" coords="166,402,443,457" href="../elements/73a481c5-b7e8-4928-970a-3c1d8066e36c.html"  target="element">

				  		<area shape="rect" coords="154,246,455,799" href="../elements/0d7669cf-762d-4f32-a59f-28b1d4067f5f.html"  target="element">
				  		<area shape="rect" coords="10,10,248,95" href="../elements/6f3062cc-133b-44ca-92d6-e9b87c83b3ed.html"  target="element">
				          <area shape="rect" coords="814,246,1052,515" href="../objects/d65de002-0c36-4403-866d-09997accafa6.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">This view describes SPL.1 Supplier Tendering Process, its outputs and outcomes

Relation of Outcomes to Outputs and Base Practices is out of scope of this view. See respective view for these details.

Latest version and docs can be found here: https://github.com/alef1986/ASPICE-Archi

Source of information for this view is Automotive SPICE Standards v.3.1
(http://www.automotivespice.com/fileadmin/software-download/AutomotiveSPICE_PAM_31.pdf)</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/d65de002-0c36-4403-866d-09997accafa6.html" target="element">  </a> </td>
									           <td> <a href="../objects/d65de002-0c36-4403-866d-09997accafa6.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/6f3062cc-133b-44ca-92d6-e9b87c83b3ed.html" target="element"> SPL.1.O.1 A communication interface is established and maintained in order torespond to customer inquiries and requests for proposal </a> </td>
											    <td> <a href="../elements/6f3062cc-133b-44ca-92d6-e9b87c83b3ed.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0d7669cf-762d-4f32-a59f-28b1d4067f5f.html" target="element"> SPL.1 Supplier Tendering </a> </td>
											    <td> <a href="../elements/0d7669cf-762d-4f32-a59f-28b1d4067f5f.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/73a481c5-b7e8-4928-970a-3c1d8066e36c.html" target="element"> SPL.1.BP3 Establish customer proposal evaluation criteria </a> </td>
													    <td> <a href="../elements/73a481c5-b7e8-4928-970a-3c1d8066e36c.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/232f1c8c-e54e-40dd-b1cf-f044178844b3.html" target="element"> SPL.1.BP2 Perform customer inquiry screening </a> </td>
													    <td> <a href="../elements/232f1c8c-e54e-40dd-b1cf-f044178844b3.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/79e69c31-aefd-4afc-9b64-f8fa22bb137d.html" target="element"> SPL.1.BP5 Determine need for preliminary pre-studies </a> </td>
													    <td> <a href="../elements/79e69c31-aefd-4afc-9b64-f8fa22bb137d.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/0ea92396-42fd-40b4-8d5e-cbfc3a9c0085.html" target="element"> SPL.1.BP4 Evaluate customer request for proposal </a> </td>
													    <td> <a href="../elements/0ea92396-42fd-40b4-8d5e-cbfc3a9c0085.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/3e542f7d-343d-4996-9a17-9687f4056b23.html" target="element"> SPL.1.BP1 Establish communication interface </a> </td>
													    <td> <a href="../elements/3e542f7d-343d-4996-9a17-9687f4056b23.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/2c998ddb-215d-4ff1-9624-6980affa5dbe.html" target="element"> SPL.1.BP6 Identify and nominate staff </a> </td>
													    <td> <a href="../elements/2c998ddb-215d-4ff1-9624-6980affa5dbe.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/2a755b1f-592f-4994-9a33-5a9f7e678ad9.html" target="element"> SPL.1.BP7 Prepare supplier proposal response </a> </td>
													    <td> <a href="../elements/2a755b1f-592f-4994-9a33-5a9f7e678ad9.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/18b18c43-dd02-45f0-b0ee-33470a81ce72.html" target="element"> SPL.1.BP8 Establish confirmation of agreement </a> </td>
													    <td> <a href="../elements/18b18c43-dd02-45f0-b0ee-33470a81ce72.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/6d9c0d54-b616-4a85-be1f-5e1816c67605.html" target="element"> SPL.1.O.2 Requests for proposal are evaluated according to defined criteria todetermine whether or not to submit a proposal </a> </td>
											    <td> <a href="../elements/6d9c0d54-b616-4a85-be1f-5e1816c67605.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e174ecfa-0974-4715-a279-cce26da7df82.html" target="element"> SPL.1.O.3 The need to undertake preliminary surveys or feasibility studies isdetermined </a> </td>
											    <td> <a href="../elements/e174ecfa-0974-4715-a279-cce26da7df82.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3b1dbda1-2f81-43e8-be22-2559d2b2f812.html" target="element"> SPL.1.O.4 Suitable staff are identified to perform the proposed work </a> </td>
											    <td> <a href="../elements/3b1dbda1-2f81-43e8-be22-2559d2b2f812.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/58771814-7a53-4ac4-89df-3c7483e96d98.html" target="element"> SPL.1.O.5 A supplier proposal is prepared in response to the customer request;and </a> </td>
											    <td> <a href="../elements/58771814-7a53-4ac4-89df-3c7483e96d98.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6420d723-8916-4272-953e-29c012ee96ed.html" target="element"> SPL.1.O.6 Formal confirmation of agreement is obtained </a> </td>
											    <td> <a href="../elements/6420d723-8916-4272-953e-29c012ee96ed.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d1cb0629-11ee-483a-b513-6264faff0a0d.html" target="element"> 02-01 Commitment/agreement </a> </td>
											    <td> <a href="../elements/d1cb0629-11ee-483a-b513-6264faff0a0d.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/142419a3-5086-413b-9ce7-6725822b2c5e.html" target="element"> 08-12 Project Plan </a> </td>
											    <td> <a href="../elements/142419a3-5086-413b-9ce7-6725822b2c5e.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a3488164-8969-4f53-b23b-85c429ed2290.html" target="element"> 12-04 Supplier proposal response </a> </td>
											    <td> <a href="../elements/a3488164-8969-4f53-b23b-85c429ed2290.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element"> 13-04 Communication Record </a> </td>
											    <td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/27ca1823-24ab-45e2-9788-e105c9b70279.html" target="element"> 13-15 Proposal review record </a> </td>
											    <td> <a href="../elements/27ca1823-24ab-45e2-9788-e105c9b70279.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element"> 13-19 Review Record </a> </td>
											    <td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../views/5f0b0f47-afbf-41af-8705-bcf5dc2da78a.html" target="view"> O. vs. BP. vs. WP. - SPL.1 Supplier Tendering </a> </td>
											    <td> <a href="../views/5f0b0f47-afbf-41af-8705-bcf5dc2da78a.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/9e94f80f-8775-4044-8110-6a872c99ec05.html" target="view"> Overview - Process Reference Model </a> </td>
											    <td> <a href="../views/9e94f80f-8775-4044-8110-6a872c99ec05.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/0673157d-86f1-401f-9738-a70edf90f642.html" target="element">  </a> </td>
																		<td> <a href="../elements/0673157d-86f1-401f-9738-a70edf90f642.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/0d7669cf-762d-4f32-a59f-28b1d4067f5f.html" target="element"> SPL.1 Supplier Tendering </a> </td>
																		<td> <a href="../elements/2a755b1f-592f-4994-9a33-5a9f7e678ad9.html" target="element"> SPL.1.BP7 Prepare supplier proposal response </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3cc3926a-59f7-4798-9987-a39b4efc152d.html" target="element">  </a> </td>
																		<td> <a href="../elements/3cc3926a-59f7-4798-9987-a39b4efc152d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/0d7669cf-762d-4f32-a59f-28b1d4067f5f.html" target="element"> SPL.1 Supplier Tendering </a> </td>
																		<td> <a href="../elements/73a481c5-b7e8-4928-970a-3c1d8066e36c.html" target="element"> SPL.1.BP3 Establish customer proposal evaluation criteria </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f3131053-e778-4eaa-a09e-abade7ba769f.html" target="element">  </a> </td>
																		<td> <a href="../elements/f3131053-e778-4eaa-a09e-abade7ba769f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/0d7669cf-762d-4f32-a59f-28b1d4067f5f.html" target="element"> SPL.1 Supplier Tendering </a> </td>
																		<td> <a href="../elements/3e542f7d-343d-4996-9a17-9687f4056b23.html" target="element"> SPL.1.BP1 Establish communication interface </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a06df8e7-9b71-49d6-a280-7fccfee479e2.html" target="element">  </a> </td>
																		<td> <a href="../elements/a06df8e7-9b71-49d6-a280-7fccfee479e2.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/0d7669cf-762d-4f32-a59f-28b1d4067f5f.html" target="element"> SPL.1 Supplier Tendering </a> </td>
																		<td> <a href="../elements/232f1c8c-e54e-40dd-b1cf-f044178844b3.html" target="element"> SPL.1.BP2 Perform customer inquiry screening </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b5bce30b-2bf0-42c6-b1ba-aa82a6f3947c.html" target="element">  </a> </td>
																		<td> <a href="../elements/b5bce30b-2bf0-42c6-b1ba-aa82a6f3947c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/0d7669cf-762d-4f32-a59f-28b1d4067f5f.html" target="element"> SPL.1 Supplier Tendering </a> </td>
																		<td> <a href="../elements/2c998ddb-215d-4ff1-9624-6980affa5dbe.html" target="element"> SPL.1.BP6 Identify and nominate staff </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0cda8c9e-12f5-4d0c-9033-a21469183422.html" target="element">  </a> </td>
																		<td> <a href="../elements/0cda8c9e-12f5-4d0c-9033-a21469183422.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/0d7669cf-762d-4f32-a59f-28b1d4067f5f.html" target="element"> SPL.1 Supplier Tendering </a> </td>
																		<td> <a href="../elements/18b18c43-dd02-45f0-b0ee-33470a81ce72.html" target="element"> SPL.1.BP8 Establish confirmation of agreement </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/86f77d8d-9bc0-4eb6-b999-9966aa8d043a.html" target="element">  </a> </td>
																		<td> <a href="../elements/86f77d8d-9bc0-4eb6-b999-9966aa8d043a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/0d7669cf-762d-4f32-a59f-28b1d4067f5f.html" target="element"> SPL.1 Supplier Tendering </a> </td>
																		<td> <a href="../elements/79e69c31-aefd-4afc-9b64-f8fa22bb137d.html" target="element"> SPL.1.BP5 Determine need for preliminary pre-studies </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6b5f4cfa-6e79-40c1-8e15-bb857924de53.html" target="element">  </a> </td>
																		<td> <a href="../elements/6b5f4cfa-6e79-40c1-8e15-bb857924de53.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/0d7669cf-762d-4f32-a59f-28b1d4067f5f.html" target="element"> SPL.1 Supplier Tendering </a> </td>
																		<td> <a href="../elements/0ea92396-42fd-40b4-8d5e-cbfc3a9c0085.html" target="element"> SPL.1.BP4 Evaluate customer request for proposal </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2bebe07b-84ac-4282-b20b-1c9bd862bb8a.html" target="element">  </a> </td>
																		<td> <a href="../elements/2bebe07b-84ac-4282-b20b-1c9bd862bb8a.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/0d7669cf-762d-4f32-a59f-28b1d4067f5f.html" target="element"> SPL.1 Supplier Tendering </a> </td>
																		<td> <a href="../elements/d1cb0629-11ee-483a-b513-6264faff0a0d.html" target="element"> 02-01 Commitment/agreement </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8e4c1858-168e-46c2-8f2c-e77a164db5a4.html" target="element">  </a> </td>
																		<td> <a href="../elements/8e4c1858-168e-46c2-8f2c-e77a164db5a4.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/0d7669cf-762d-4f32-a59f-28b1d4067f5f.html" target="element"> SPL.1 Supplier Tendering </a> </td>
																		<td> <a href="../elements/142419a3-5086-413b-9ce7-6725822b2c5e.html" target="element"> 08-12 Project Plan </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ae8b6956-0cb2-4e52-82aa-c8b99ed2f04a.html" target="element">  </a> </td>
																		<td> <a href="../elements/ae8b6956-0cb2-4e52-82aa-c8b99ed2f04a.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/0d7669cf-762d-4f32-a59f-28b1d4067f5f.html" target="element"> SPL.1 Supplier Tendering </a> </td>
																		<td> <a href="../elements/a3488164-8969-4f53-b23b-85c429ed2290.html" target="element"> 12-04 Supplier proposal response </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/201d931b-35db-40fb-97aa-b564a755325e.html" target="element">  </a> </td>
																		<td> <a href="../elements/201d931b-35db-40fb-97aa-b564a755325e.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/0d7669cf-762d-4f32-a59f-28b1d4067f5f.html" target="element"> SPL.1 Supplier Tendering </a> </td>
																		<td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element"> 13-04 Communication Record </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/571ead13-69b0-45d9-9ec7-a9908608570e.html" target="element">  </a> </td>
																		<td> <a href="../elements/571ead13-69b0-45d9-9ec7-a9908608570e.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/0d7669cf-762d-4f32-a59f-28b1d4067f5f.html" target="element"> SPL.1 Supplier Tendering </a> </td>
																		<td> <a href="../elements/27ca1823-24ab-45e2-9788-e105c9b70279.html" target="element"> 13-15 Proposal review record </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7fb6b3f4-b85b-44d7-9723-4f5deff56af6.html" target="element">  </a> </td>
																		<td> <a href="../elements/7fb6b3f4-b85b-44d7-9723-4f5deff56af6.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/0d7669cf-762d-4f32-a59f-28b1d4067f5f.html" target="element"> SPL.1 Supplier Tendering </a> </td>
																		<td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element"> 13-19 Review Record </a> </td>
																	</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>