<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>O. vs. BP. vs. WP. - SPL.1 Supplier Tendering</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>O. vs. BP. vs. WP. - SPL.1 Supplier Tendering</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/5f0b0f47-afbf-41af-8705-bcf5dc2da78a.png" alt="O. vs. BP. vs. WP. - SPL.1 Supplier Tendering" usemap="#5f0b0f47-afbf-41af-8705-bcf5dc2da78amap"/>
			   <map name="5f0b0f47-afbf-41af-8705-bcf5dc2da78amap">
				  		<area shape="rect" coords="1522,10,1727,65" href="../elements/18b18c43-dd02-45f0-b0ee-33470a81ce72.html"  target="element">
				  		<area shape="rect" coords="1306,10,1511,65" href="../elements/2a755b1f-592f-4994-9a33-5a9f7e678ad9.html"  target="element">
				  		<area shape="rect" coords="1090,10,1295,65" href="../elements/2c998ddb-215d-4ff1-9624-6980affa5dbe.html"  target="element">
				  		<area shape="rect" coords="10,10,215,65" href="../elements/3e542f7d-343d-4996-9a17-9687f4056b23.html"  target="element">
				  		<area shape="rect" coords="658,10,863,65" href="../elements/0ea92396-42fd-40b4-8d5e-cbfc3a9c0085.html"  target="element">
				  		<area shape="rect" coords="874,10,1079,65" href="../elements/79e69c31-aefd-4afc-9b64-f8fa22bb137d.html"  target="element">
				  		<area shape="rect" coords="226,10,431,65" href="../elements/232f1c8c-e54e-40dd-b1cf-f044178844b3.html"  target="element">
				  		<area shape="rect" coords="442,10,647,65" href="../elements/73a481c5-b7e8-4928-970a-3c1d8066e36c.html"  target="element">
				  		<area shape="rect" coords="1390,526,1643,581" href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html"  target="element">
				  		<area shape="rect" coords="1114,526,1367,581" href="../elements/27ca1823-24ab-45e2-9788-e105c9b70279.html"  target="element">
				  		<area shape="rect" coords="838,526,1091,581" href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html"  target="element">
				  		<area shape="rect" coords="562,526,815,581" href="../elements/a3488164-8969-4f53-b23b-85c429ed2290.html"  target="element">
				  		<area shape="rect" coords="286,526,539,581" href="../elements/142419a3-5086-413b-9ce7-6725822b2c5e.html"  target="element">
				  		<area shape="rect" coords="10,526,263,581" href="../elements/d1cb0629-11ee-483a-b513-6264faff0a0d.html"  target="element">
				  		<area shape="rect" coords="10,394,1727,428" href="../elements/6420d723-8916-4272-953e-29c012ee96ed.html"  target="element">
				  		<area shape="rect" coords="10,346,1727,380" href="../elements/58771814-7a53-4ac4-89df-3c7483e96d98.html"  target="element">
				  		<area shape="rect" coords="10,298,1727,332" href="../elements/3b1dbda1-2f81-43e8-be22-2559d2b2f812.html"  target="element">
				  		<area shape="rect" coords="10,250,1727,284" href="../elements/e174ecfa-0974-4715-a279-cce26da7df82.html"  target="element">
				  		<area shape="rect" coords="10,202,1727,236" href="../elements/6d9c0d54-b616-4a85-be1f-5e1816c67605.html"  target="element">
				  		<area shape="rect" coords="10,154,1727,188" href="../elements/6f3062cc-133b-44ca-92d6-e9b87c83b3ed.html"  target="element">
				          <area shape="rect" coords="10,754,839,870" href="../objects/3894874e-a5a1-4857-937d-a8305f847d66.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">This view answers the following questions:
- If I implement and deploy the Base Practice (BP) ***, how can I verify if I did it properly? What outcomes shall be achieved?
- If I implement and demploy the Outcome Work Product ***, how can I verify if I did it properly? What outcomes shall be achieved?

Scope of this view - Outcomes, Base Practices and their relations for ASPICE process SPL.1 Supplier Tendering

Latest version and docs can be found here: https://github.com/alef1986/ASPICE-Archi</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/3894874e-a5a1-4857-937d-a8305f847d66.html" target="element">  </a> </td>
									           <td> <a href="../objects/3894874e-a5a1-4857-937d-a8305f847d66.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/6f3062cc-133b-44ca-92d6-e9b87c83b3ed.html" target="element"> SPL.1.O.1 A communication interface is established and maintained in order torespond to customer inquiries and requests for proposal </a> </td>
											    <td> <a href="../elements/6f3062cc-133b-44ca-92d6-e9b87c83b3ed.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6d9c0d54-b616-4a85-be1f-5e1816c67605.html" target="element"> SPL.1.O.2 Requests for proposal are evaluated according to defined criteria todetermine whether or not to submit a proposal </a> </td>
											    <td> <a href="../elements/6d9c0d54-b616-4a85-be1f-5e1816c67605.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e174ecfa-0974-4715-a279-cce26da7df82.html" target="element"> SPL.1.O.3 The need to undertake preliminary surveys or feasibility studies isdetermined </a> </td>
											    <td> <a href="../elements/e174ecfa-0974-4715-a279-cce26da7df82.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3b1dbda1-2f81-43e8-be22-2559d2b2f812.html" target="element"> SPL.1.O.4 Suitable staff are identified to perform the proposed work </a> </td>
											    <td> <a href="../elements/3b1dbda1-2f81-43e8-be22-2559d2b2f812.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/58771814-7a53-4ac4-89df-3c7483e96d98.html" target="element"> SPL.1.O.5 A supplier proposal is prepared in response to the customer request;and </a> </td>
											    <td> <a href="../elements/58771814-7a53-4ac4-89df-3c7483e96d98.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6420d723-8916-4272-953e-29c012ee96ed.html" target="element"> SPL.1.O.6 Formal confirmation of agreement is obtained </a> </td>
											    <td> <a href="../elements/6420d723-8916-4272-953e-29c012ee96ed.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d1cb0629-11ee-483a-b513-6264faff0a0d.html" target="element"> 02-01 Commitment/agreement </a> </td>
											    <td> <a href="../elements/d1cb0629-11ee-483a-b513-6264faff0a0d.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/142419a3-5086-413b-9ce7-6725822b2c5e.html" target="element"> 08-12 Project Plan </a> </td>
											    <td> <a href="../elements/142419a3-5086-413b-9ce7-6725822b2c5e.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a3488164-8969-4f53-b23b-85c429ed2290.html" target="element"> 12-04 Supplier proposal response </a> </td>
											    <td> <a href="../elements/a3488164-8969-4f53-b23b-85c429ed2290.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element"> 13-04 Communication Record </a> </td>
											    <td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/27ca1823-24ab-45e2-9788-e105c9b70279.html" target="element"> 13-15 Proposal review record </a> </td>
											    <td> <a href="../elements/27ca1823-24ab-45e2-9788-e105c9b70279.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element"> 13-19 Review Record </a> </td>
											    <td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/73a481c5-b7e8-4928-970a-3c1d8066e36c.html" target="element"> SPL.1.BP3 Establish customer proposal evaluation criteria </a> </td>
											    <td> <a href="../elements/73a481c5-b7e8-4928-970a-3c1d8066e36c.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/232f1c8c-e54e-40dd-b1cf-f044178844b3.html" target="element"> SPL.1.BP2 Perform customer inquiry screening </a> </td>
											    <td> <a href="../elements/232f1c8c-e54e-40dd-b1cf-f044178844b3.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/79e69c31-aefd-4afc-9b64-f8fa22bb137d.html" target="element"> SPL.1.BP5 Determine need for preliminary pre-studies </a> </td>
											    <td> <a href="../elements/79e69c31-aefd-4afc-9b64-f8fa22bb137d.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0ea92396-42fd-40b4-8d5e-cbfc3a9c0085.html" target="element"> SPL.1.BP4 Evaluate customer request for proposal </a> </td>
											    <td> <a href="../elements/0ea92396-42fd-40b4-8d5e-cbfc3a9c0085.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3e542f7d-343d-4996-9a17-9687f4056b23.html" target="element"> SPL.1.BP1 Establish communication interface </a> </td>
											    <td> <a href="../elements/3e542f7d-343d-4996-9a17-9687f4056b23.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2c998ddb-215d-4ff1-9624-6980affa5dbe.html" target="element"> SPL.1.BP6 Identify and nominate staff </a> </td>
											    <td> <a href="../elements/2c998ddb-215d-4ff1-9624-6980affa5dbe.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2a755b1f-592f-4994-9a33-5a9f7e678ad9.html" target="element"> SPL.1.BP7 Prepare supplier proposal response </a> </td>
											    <td> <a href="../elements/2a755b1f-592f-4994-9a33-5a9f7e678ad9.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/18b18c43-dd02-45f0-b0ee-33470a81ce72.html" target="element"> SPL.1.BP8 Establish confirmation of agreement </a> </td>
											    <td> <a href="../elements/18b18c43-dd02-45f0-b0ee-33470a81ce72.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/73f9d350-0eb3-4b51-9bc1-81d70c0b7a55.html" target="element">  </a> </td>
																		<td> <a href="../elements/73f9d350-0eb3-4b51-9bc1-81d70c0b7a55.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/d1cb0629-11ee-483a-b513-6264faff0a0d.html" target="element"> 02-01 Commitment/agreement </a> </td>
																		<td> <a href="../elements/6420d723-8916-4272-953e-29c012ee96ed.html" target="element"> SPL.1.O.6 Formal confirmation of agreement is obtained </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/32fccb75-99a0-403c-831a-8dfdc2805c58.html" target="element">  </a> </td>
																		<td> <a href="../elements/32fccb75-99a0-403c-831a-8dfdc2805c58.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/142419a3-5086-413b-9ce7-6725822b2c5e.html" target="element"> 08-12 Project Plan </a> </td>
																		<td> <a href="../elements/3b1dbda1-2f81-43e8-be22-2559d2b2f812.html" target="element"> SPL.1.O.4 Suitable staff are identified to perform the proposed work </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/ecb7acbe-3d9f-4368-8799-d4fc8436e4e3.html" target="element">  </a> </td>
																		<td> <a href="../elements/ecb7acbe-3d9f-4368-8799-d4fc8436e4e3.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/a3488164-8969-4f53-b23b-85c429ed2290.html" target="element"> 12-04 Supplier proposal response </a> </td>
																		<td> <a href="../elements/58771814-7a53-4ac4-89df-3c7483e96d98.html" target="element"> SPL.1.O.5 A supplier proposal is prepared in response to the customer request;and </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/01cda6c1-6653-4587-b255-591b0e8e4dbe.html" target="element">  </a> </td>
																		<td> <a href="../elements/01cda6c1-6653-4587-b255-591b0e8e4dbe.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element"> 13-04 Communication Record </a> </td>
																		<td> <a href="../elements/6420d723-8916-4272-953e-29c012ee96ed.html" target="element"> SPL.1.O.6 Formal confirmation of agreement is obtained </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/80bccb08-9be3-43f3-b690-525ddf8a01c8.html" target="element">  </a> </td>
																		<td> <a href="../elements/80bccb08-9be3-43f3-b690-525ddf8a01c8.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element"> 13-04 Communication Record </a> </td>
																		<td> <a href="../elements/6f3062cc-133b-44ca-92d6-e9b87c83b3ed.html" target="element"> SPL.1.O.1 A communication interface is established and maintained in order torespond to customer inquiries and requests for proposal </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/68db4de2-7a70-4d22-acb8-2e4d8077c294.html" target="element">  </a> </td>
																		<td> <a href="../elements/68db4de2-7a70-4d22-acb8-2e4d8077c294.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/27ca1823-24ab-45e2-9788-e105c9b70279.html" target="element"> 13-15 Proposal review record </a> </td>
																		<td> <a href="../elements/e174ecfa-0974-4715-a279-cce26da7df82.html" target="element"> SPL.1.O.3 The need to undertake preliminary surveys or feasibility studies isdetermined </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c1ae0a5a-1e7d-4bb1-a304-b4cc89caccee.html" target="element">  </a> </td>
																		<td> <a href="../elements/c1ae0a5a-1e7d-4bb1-a304-b4cc89caccee.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/27ca1823-24ab-45e2-9788-e105c9b70279.html" target="element"> 13-15 Proposal review record </a> </td>
																		<td> <a href="../elements/3b1dbda1-2f81-43e8-be22-2559d2b2f812.html" target="element"> SPL.1.O.4 Suitable staff are identified to perform the proposed work </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/e176bdf8-fc00-488f-8967-f3dc44a6edb1.html" target="element">  </a> </td>
																		<td> <a href="../elements/e176bdf8-fc00-488f-8967-f3dc44a6edb1.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element"> 13-19 Review Record </a> </td>
																		<td> <a href="../elements/6d9c0d54-b616-4a85-be1f-5e1816c67605.html" target="element"> SPL.1.O.2 Requests for proposal are evaluated according to defined criteria todetermine whether or not to submit a proposal </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/39775b34-6f9b-4c90-84d0-dd76700af110.html" target="element">  </a> </td>
																		<td> <a href="../elements/39775b34-6f9b-4c90-84d0-dd76700af110.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/73a481c5-b7e8-4928-970a-3c1d8066e36c.html" target="element"> SPL.1.BP3 Establish customer proposal evaluation criteria </a> </td>
																		<td> <a href="../elements/6d9c0d54-b616-4a85-be1f-5e1816c67605.html" target="element"> SPL.1.O.2 Requests for proposal are evaluated according to defined criteria todetermine whether or not to submit a proposal </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/856f24aa-6a90-4281-ad29-10289a6e250e.html" target="element">  </a> </td>
																		<td> <a href="../elements/856f24aa-6a90-4281-ad29-10289a6e250e.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/232f1c8c-e54e-40dd-b1cf-f044178844b3.html" target="element"> SPL.1.BP2 Perform customer inquiry screening </a> </td>
																		<td> <a href="../elements/6f3062cc-133b-44ca-92d6-e9b87c83b3ed.html" target="element"> SPL.1.O.1 A communication interface is established and maintained in order torespond to customer inquiries and requests for proposal </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/ea41e0a5-c372-4570-b7b2-f04451984c95.html" target="element">  </a> </td>
																		<td> <a href="../elements/ea41e0a5-c372-4570-b7b2-f04451984c95.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/79e69c31-aefd-4afc-9b64-f8fa22bb137d.html" target="element"> SPL.1.BP5 Determine need for preliminary pre-studies </a> </td>
																		<td> <a href="../elements/e174ecfa-0974-4715-a279-cce26da7df82.html" target="element"> SPL.1.O.3 The need to undertake preliminary surveys or feasibility studies isdetermined </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/64a461bf-d431-4d76-aa04-258c5fa3ebe2.html" target="element">  </a> </td>
																		<td> <a href="../elements/64a461bf-d431-4d76-aa04-258c5fa3ebe2.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/0ea92396-42fd-40b4-8d5e-cbfc3a9c0085.html" target="element"> SPL.1.BP4 Evaluate customer request for proposal </a> </td>
																		<td> <a href="../elements/6d9c0d54-b616-4a85-be1f-5e1816c67605.html" target="element"> SPL.1.O.2 Requests for proposal are evaluated according to defined criteria todetermine whether or not to submit a proposal </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/a6a567df-50b2-4daa-af29-358f012a5203.html" target="element">  </a> </td>
																		<td> <a href="../elements/a6a567df-50b2-4daa-af29-358f012a5203.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/3e542f7d-343d-4996-9a17-9687f4056b23.html" target="element"> SPL.1.BP1 Establish communication interface </a> </td>
																		<td> <a href="../elements/6f3062cc-133b-44ca-92d6-e9b87c83b3ed.html" target="element"> SPL.1.O.1 A communication interface is established and maintained in order torespond to customer inquiries and requests for proposal </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/25699874-0de0-434d-aecb-79409f31bc60.html" target="element">  </a> </td>
																		<td> <a href="../elements/25699874-0de0-434d-aecb-79409f31bc60.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/2c998ddb-215d-4ff1-9624-6980affa5dbe.html" target="element"> SPL.1.BP6 Identify and nominate staff </a> </td>
																		<td> <a href="../elements/3b1dbda1-2f81-43e8-be22-2559d2b2f812.html" target="element"> SPL.1.O.4 Suitable staff are identified to perform the proposed work </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6c29b16b-796b-4f46-9b1d-d9a45bb8aa8f.html" target="element">  </a> </td>
																		<td> <a href="../elements/6c29b16b-796b-4f46-9b1d-d9a45bb8aa8f.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/2a755b1f-592f-4994-9a33-5a9f7e678ad9.html" target="element"> SPL.1.BP7 Prepare supplier proposal response </a> </td>
																		<td> <a href="../elements/58771814-7a53-4ac4-89df-3c7483e96d98.html" target="element"> SPL.1.O.5 A supplier proposal is prepared in response to the customer request;and </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/831ac012-ace4-4ce1-9780-10a0aa884e67.html" target="element">  </a> </td>
																		<td> <a href="../elements/831ac012-ace4-4ce1-9780-10a0aa884e67.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/18b18c43-dd02-45f0-b0ee-33470a81ce72.html" target="element"> SPL.1.BP8 Establish confirmation of agreement </a> </td>
																		<td> <a href="../elements/6420d723-8916-4272-953e-29c012ee96ed.html" target="element"> SPL.1.O.6 Formal confirmation of agreement is obtained </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>