<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Overview - SYS.4 System Integration and Integration Test</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Overview - SYS.4 System Integration and Integration Test</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/602e13e3-4ceb-43d1-9360-811dda442032.png" alt="Overview - SYS.4 System Integration and Integration Test" usemap="#602e13e3-4ceb-43d1-9360-811dda442032map"/>
			   <map name="602e13e3-4ceb-43d1-9360-811dda442032map">
				  		<area shape="rect" coords="490,694,695,749" href="../elements/3ae1b7dc-9344-42d8-b6e2-732b1d8ce352.html"  target="element">
				  		<area shape="rect" coords="490,634,695,689" href="../elements/27d1998c-afb9-4d93-9df6-b6d8ff6e8a0e.html"  target="element">
				  		<area shape="rect" coords="490,574,695,629" href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html"  target="element">
				  		<area shape="rect" coords="490,514,695,569" href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html"  target="element">
				  		<area shape="rect" coords="490,454,695,509" href="../elements/92ad99a4-59a8-456e-9520-2d626ea8d950.html"  target="element">
				  		<area shape="rect" coords="490,394,695,449" href="../elements/4959f519-a65b-4589-b77f-adda3dc44ea1.html"  target="element">
				  		<area shape="rect" coords="490,334,695,389" href="../elements/93c9a2eb-4cd8-45bc-a5ea-b3f277880ac7.html"  target="element">
				  		<area shape="rect" coords="766,166,1004,311" href="../elements/a6117c36-74f2-4da1-94ac-a850aaf88498.html"  target="element">
				  		<area shape="rect" coords="514,166,752,311" href="../elements/7b3ccb65-833d-408e-847b-d4cc1461a801.html"  target="element">
				  		<area shape="rect" coords="262,166,500,311" href="../elements/f55f40ed-498a-47ae-b6cc-c1b72d7c97c2.html"  target="element">
				  		<area shape="rect" coords="10,166,248,311" href="../elements/903d8f41-0853-4f7a-acaf-b5373510cbf0.html"  target="element">
				  		<area shape="rect" coords="766,10,1004,155" href="../elements/27398622-11a1-4b5c-b0b6-5ca17244f37f.html"  target="element">
				  		<area shape="rect" coords="514,10,752,155" href="../elements/cc0c5240-d5d6-4c4a-9b35-14745ae2e259.html"  target="element">
				  		<area shape="rect" coords="262,10,500,155" href="../elements/7872770b-6f1d-46c0-b652-32c2162b7225.html"  target="element">
				  		<area shape="rect" coords="10,10,248,155" href="../elements/37131828-a86e-42b5-9a26-3d486d53cef1.html"  target="element">
				  				<area shape="rect" coords="130,850,407,905" href="../elements/9841192e-7dde-4440-93e5-7ceaaf06fd93.html"  target="element">
				  				<area shape="rect" coords="130,790,407,845" href="../elements/e26d36ad-b435-4e48-beea-edc96ef135c6.html"  target="element">
				  				<area shape="rect" coords="130,730,407,785" href="../elements/512eecca-8ff7-46a7-a5ff-78620c8dff14.html"  target="element">
				  				<area shape="rect" coords="130,670,407,725" href="../elements/96b2393c-90a6-405d-b590-e75b0ece58e4.html"  target="element">
				  				<area shape="rect" coords="130,370,407,425" href="../elements/d843055b-5e20-4dac-ba06-c6f43a23336d.html"  target="element">
				  				<area shape="rect" coords="130,550,407,605" href="../elements/5002db38-be87-47d0-98e9-d120714f5f81.html"  target="element">
				  				<area shape="rect" coords="130,610,407,665" href="../elements/37884327-ab1f-4856-8672-829efacb7c06.html"  target="element">
				  				<area shape="rect" coords="130,430,407,485" href="../elements/9673d4bd-b962-484a-b9cb-f981fb7ce426.html"  target="element">
				  				<area shape="rect" coords="130,490,407,545" href="../elements/42b1467a-c9b3-4d98-a900-4931df644543.html"  target="element">

				  		<area shape="rect" coords="118,334,419,923" href="../elements/6511c808-cc21-4f24-b15c-330e946f8c29.html"  target="element">
				          <area shape="rect" coords="766,334,1004,851" href="../objects/3580fa19-8cd0-4cc9-9763-a7895edcf9ea.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">This view describes SYS.4 System Integration and Integration Test Process, its outputs and outcomes

Relation of Outcomes to Outputs and Base Practices is out of scope of this view. See respective view for these details.

Latest version and docs can be found here: https://github.com/alef1986/ASPICE-Archi

Source of information for this view is Automotive SPICE Standards v.3.1
(http://www.automotivespice.com/fileadmin/software-download/AutomotiveSPICE_PAM_31.pdf)</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/3580fa19-8cd0-4cc9-9763-a7895edcf9ea.html" target="element">  </a> </td>
									           <td> <a href="../objects/3580fa19-8cd0-4cc9-9763-a7895edcf9ea.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/6511c808-cc21-4f24-b15c-330e946f8c29.html" target="element"> SYS.4 System Integration and Integration Test </a> </td>
											    <td> <a href="../elements/6511c808-cc21-4f24-b15c-330e946f8c29.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/42b1467a-c9b3-4d98-a900-4931df644543.html" target="element"> SYS.4.BP3 Develop specification for system integration test </a> </td>
													    <td> <a href="../elements/42b1467a-c9b3-4d98-a900-4931df644543.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/9673d4bd-b962-484a-b9cb-f981fb7ce426.html" target="element"> SYS.4.BP2 Develop system integration test strategy including regression test strategy </a> </td>
													    <td> <a href="../elements/9673d4bd-b962-484a-b9cb-f981fb7ce426.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/37884327-ab1f-4856-8672-829efacb7c06.html" target="element"> SYS.4.BP5 Select test cases </a> </td>
													    <td> <a href="../elements/37884327-ab1f-4856-8672-829efacb7c06.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/5002db38-be87-47d0-98e9-d120714f5f81.html" target="element"> SYS.4.BP4 Integrate system items </a> </td>
													    <td> <a href="../elements/5002db38-be87-47d0-98e9-d120714f5f81.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/d843055b-5e20-4dac-ba06-c6f43a23336d.html" target="element"> SYS.4.BP1 Develop system integration strategy </a> </td>
													    <td> <a href="../elements/d843055b-5e20-4dac-ba06-c6f43a23336d.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/96b2393c-90a6-405d-b590-e75b0ece58e4.html" target="element"> SYS.4.BP6 Perform system integration test </a> </td>
													    <td> <a href="../elements/96b2393c-90a6-405d-b590-e75b0ece58e4.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/512eecca-8ff7-46a7-a5ff-78620c8dff14.html" target="element"> SYS.4.BP7 Establish bidirectional traceability </a> </td>
													    <td> <a href="../elements/512eecca-8ff7-46a7-a5ff-78620c8dff14.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/e26d36ad-b435-4e48-beea-edc96ef135c6.html" target="element"> SYS.4.BP8 Ensure consistency </a> </td>
													    <td> <a href="../elements/e26d36ad-b435-4e48-beea-edc96ef135c6.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/9841192e-7dde-4440-93e5-7ceaaf06fd93.html" target="element"> SYS.4.BP9 Summarize and communicate results </a> </td>
													    <td> <a href="../elements/9841192e-7dde-4440-93e5-7ceaaf06fd93.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/37131828-a86e-42b5-9a26-3d486d53cef1.html" target="element"> SYS.4.O.1 A system integration strategy consistent with the project plan, therelease plan and the system architectural design is developed tointegrate the system items </a> </td>
											    <td> <a href="../elements/37131828-a86e-42b5-9a26-3d486d53cef1.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7872770b-6f1d-46c0-b652-32c2162b7225.html" target="element"> SYS.4.O.2 A system integration test strategy including the regression teststrategy is developed to test the system item interactions </a> </td>
											    <td> <a href="../elements/7872770b-6f1d-46c0-b652-32c2162b7225.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cc0c5240-d5d6-4c4a-9b35-14745ae2e259.html" target="element"> SYS.4.O.3 A specification for system integration test according to the system integration test strategy is developed that is suitable to provide evidence for compliance of the integrated system items with the system architectural design, including the interfaces between system items </a> </td>
											    <td> <a href="../elements/cc0c5240-d5d6-4c4a-9b35-14745ae2e259.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/27398622-11a1-4b5c-b0b6-5ca17244f37f.html" target="element"> SYS.4.O.4 System items are integrated up to a complete integrated system according to the integration strategy </a> </td>
											    <td> <a href="../elements/27398622-11a1-4b5c-b0b6-5ca17244f37f.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/903d8f41-0853-4f7a-acaf-b5373510cbf0.html" target="element"> SYS.4.O.5 Test cases included in the system integration test specification are selected according to the system integration test strategy and the release plan </a> </td>
											    <td> <a href="../elements/903d8f41-0853-4f7a-acaf-b5373510cbf0.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f55f40ed-498a-47ae-b6cc-c1b72d7c97c2.html" target="element"> SYS.4.O.6 System item interactions are tested using the selected test cases andthe results of system integration testing are recorded </a> </td>
											    <td> <a href="../elements/f55f40ed-498a-47ae-b6cc-c1b72d7c97c2.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7b3ccb65-833d-408e-847b-d4cc1461a801.html" target="element"> SYS.4.O.7 Consistency and bidirectional traceability between the elements of the system architectural design and test cases included in the system integration test specification and bidirectional traceability between testcases and test results is established </a> </td>
											    <td> <a href="../elements/7b3ccb65-833d-408e-847b-d4cc1461a801.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a6117c36-74f2-4da1-94ac-a850aaf88498.html" target="element"> SYS.4.O.8 Results of the system integration test are summarized andcommunicated to all affected parties </a> </td>
											    <td> <a href="../elements/a6117c36-74f2-4da1-94ac-a850aaf88498.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/93c9a2eb-4cd8-45bc-a5ea-b3f277880ac7.html" target="element"> 08-50 Test specification </a> </td>
											    <td> <a href="../elements/93c9a2eb-4cd8-45bc-a5ea-b3f277880ac7.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4959f519-a65b-4589-b77f-adda3dc44ea1.html" target="element"> 08-52 Test plan </a> </td>
											    <td> <a href="../elements/4959f519-a65b-4589-b77f-adda3dc44ea1.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/92ad99a4-59a8-456e-9520-2d626ea8d950.html" target="element"> 11-06 System </a> </td>
											    <td> <a href="../elements/92ad99a4-59a8-456e-9520-2d626ea8d950.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element"> 13-04 Communication Record </a> </td>
											    <td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element"> 13-19 Review Record </a> </td>
											    <td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/27d1998c-afb9-4d93-9df6-b6d8ff6e8a0e.html" target="element"> 13-22 Traceability record  </a> </td>
											    <td> <a href="../elements/27d1998c-afb9-4d93-9df6-b6d8ff6e8a0e.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3ae1b7dc-9344-42d8-b6e2-732b1d8ce352.html" target="element"> 13-50 Test result </a> </td>
											    <td> <a href="../elements/3ae1b7dc-9344-42d8-b6e2-732b1d8ce352.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/33840d8c-62a7-481b-8395-e2786ac4642d.html" target="element">  </a> </td>
																		<td> <a href="../elements/33840d8c-62a7-481b-8395-e2786ac4642d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/6511c808-cc21-4f24-b15c-330e946f8c29.html" target="element"> SYS.4 System Integration and Integration Test </a> </td>
																		<td> <a href="../elements/42b1467a-c9b3-4d98-a900-4931df644543.html" target="element"> SYS.4.BP3 Develop specification for system integration test </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1a96e4f5-df78-4e4d-a9e6-7cd4dfc1bc40.html" target="element">  </a> </td>
																		<td> <a href="../elements/1a96e4f5-df78-4e4d-a9e6-7cd4dfc1bc40.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/6511c808-cc21-4f24-b15c-330e946f8c29.html" target="element"> SYS.4 System Integration and Integration Test </a> </td>
																		<td> <a href="../elements/9673d4bd-b962-484a-b9cb-f981fb7ce426.html" target="element"> SYS.4.BP2 Develop system integration test strategy including regression test strategy </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/aa129fb9-3333-445f-9e01-54fb7dbc6144.html" target="element">  </a> </td>
																		<td> <a href="../elements/aa129fb9-3333-445f-9e01-54fb7dbc6144.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/6511c808-cc21-4f24-b15c-330e946f8c29.html" target="element"> SYS.4 System Integration and Integration Test </a> </td>
																		<td> <a href="../elements/e26d36ad-b435-4e48-beea-edc96ef135c6.html" target="element"> SYS.4.BP8 Ensure consistency </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ee78ba16-6958-4120-83d7-8534b8648eb0.html" target="element">  </a> </td>
																		<td> <a href="../elements/ee78ba16-6958-4120-83d7-8534b8648eb0.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/6511c808-cc21-4f24-b15c-330e946f8c29.html" target="element"> SYS.4 System Integration and Integration Test </a> </td>
																		<td> <a href="../elements/5002db38-be87-47d0-98e9-d120714f5f81.html" target="element"> SYS.4.BP4 Integrate system items </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/97121ccb-127a-4f16-8f50-24ab8276198b.html" target="element">  </a> </td>
																		<td> <a href="../elements/97121ccb-127a-4f16-8f50-24ab8276198b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/6511c808-cc21-4f24-b15c-330e946f8c29.html" target="element"> SYS.4 System Integration and Integration Test </a> </td>
																		<td> <a href="../elements/d843055b-5e20-4dac-ba06-c6f43a23336d.html" target="element"> SYS.4.BP1 Develop system integration strategy </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0aa7a7c7-2eea-42ca-8e0f-a227932344a9.html" target="element">  </a> </td>
																		<td> <a href="../elements/0aa7a7c7-2eea-42ca-8e0f-a227932344a9.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/6511c808-cc21-4f24-b15c-330e946f8c29.html" target="element"> SYS.4 System Integration and Integration Test </a> </td>
																		<td> <a href="../elements/96b2393c-90a6-405d-b590-e75b0ece58e4.html" target="element"> SYS.4.BP6 Perform system integration test </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4d29c339-fbb2-4b47-90ff-80ff2a450c8d.html" target="element">  </a> </td>
																		<td> <a href="../elements/4d29c339-fbb2-4b47-90ff-80ff2a450c8d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/6511c808-cc21-4f24-b15c-330e946f8c29.html" target="element"> SYS.4 System Integration and Integration Test </a> </td>
																		<td> <a href="../elements/512eecca-8ff7-46a7-a5ff-78620c8dff14.html" target="element"> SYS.4.BP7 Establish bidirectional traceability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/92b2d711-1b4a-462f-8d05-91fac0d8c6e2.html" target="element">  </a> </td>
																		<td> <a href="../elements/92b2d711-1b4a-462f-8d05-91fac0d8c6e2.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/6511c808-cc21-4f24-b15c-330e946f8c29.html" target="element"> SYS.4 System Integration and Integration Test </a> </td>
																		<td> <a href="../elements/37884327-ab1f-4856-8672-829efacb7c06.html" target="element"> SYS.4.BP5 Select test cases </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/feb903db-842f-495c-bcab-5023707a169f.html" target="element">  </a> </td>
																		<td> <a href="../elements/feb903db-842f-495c-bcab-5023707a169f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/6511c808-cc21-4f24-b15c-330e946f8c29.html" target="element"> SYS.4 System Integration and Integration Test </a> </td>
																		<td> <a href="../elements/9841192e-7dde-4440-93e5-7ceaaf06fd93.html" target="element"> SYS.4.BP9 Summarize and communicate results </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/dfa5b816-d0e5-4cc0-8482-08c5239a672a.html" target="element">  </a> </td>
																		<td> <a href="../elements/dfa5b816-d0e5-4cc0-8482-08c5239a672a.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/6511c808-cc21-4f24-b15c-330e946f8c29.html" target="element"> SYS.4 System Integration and Integration Test </a> </td>
																		<td> <a href="../elements/93c9a2eb-4cd8-45bc-a5ea-b3f277880ac7.html" target="element"> 08-50 Test specification </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/34e551af-78bc-4cef-9de0-8f8e877015d7.html" target="element">  </a> </td>
																		<td> <a href="../elements/34e551af-78bc-4cef-9de0-8f8e877015d7.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/6511c808-cc21-4f24-b15c-330e946f8c29.html" target="element"> SYS.4 System Integration and Integration Test </a> </td>
																		<td> <a href="../elements/4959f519-a65b-4589-b77f-adda3dc44ea1.html" target="element"> 08-52 Test plan </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c61aafde-2a6e-488e-bf3f-5bf1f4d8cb76.html" target="element">  </a> </td>
																		<td> <a href="../elements/c61aafde-2a6e-488e-bf3f-5bf1f4d8cb76.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/6511c808-cc21-4f24-b15c-330e946f8c29.html" target="element"> SYS.4 System Integration and Integration Test </a> </td>
																		<td> <a href="../elements/92ad99a4-59a8-456e-9520-2d626ea8d950.html" target="element"> 11-06 System </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f5c732aa-0197-4854-b691-3b06cb6991b0.html" target="element">  </a> </td>
																		<td> <a href="../elements/f5c732aa-0197-4854-b691-3b06cb6991b0.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/6511c808-cc21-4f24-b15c-330e946f8c29.html" target="element"> SYS.4 System Integration and Integration Test </a> </td>
																		<td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element"> 13-04 Communication Record </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b9e1e6c3-0405-4a76-bf8a-6359442956fa.html" target="element">  </a> </td>
																		<td> <a href="../elements/b9e1e6c3-0405-4a76-bf8a-6359442956fa.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/6511c808-cc21-4f24-b15c-330e946f8c29.html" target="element"> SYS.4 System Integration and Integration Test </a> </td>
																		<td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element"> 13-19 Review Record </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/48dac4e9-63a2-4288-b041-2898f9d83c7c.html" target="element">  </a> </td>
																		<td> <a href="../elements/48dac4e9-63a2-4288-b041-2898f9d83c7c.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/6511c808-cc21-4f24-b15c-330e946f8c29.html" target="element"> SYS.4 System Integration and Integration Test </a> </td>
																		<td> <a href="../elements/27d1998c-afb9-4d93-9df6-b6d8ff6e8a0e.html" target="element"> 13-22 Traceability record  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/77eed126-e6a5-4f09-8a4f-aee633f60a7e.html" target="element">  </a> </td>
																		<td> <a href="../elements/77eed126-e6a5-4f09-8a4f-aee633f60a7e.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/6511c808-cc21-4f24-b15c-330e946f8c29.html" target="element"> SYS.4 System Integration and Integration Test </a> </td>
																		<td> <a href="../elements/3ae1b7dc-9344-42d8-b6e2-732b1d8ce352.html" target="element"> 13-50 Test result </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>