<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>O. vs. BP. vs. WP. - SYS.4 System Integration and Integration Test</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>O. vs. BP. vs. WP. - SYS.4 System Integration and Integration Test</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/6394bad9-18dc-405c-808e-8385fe7db7b9.png" alt="O. vs. BP. vs. WP. - SYS.4 System Integration and Integration Test" usemap="#6394bad9-18dc-405c-808e-8385fe7db7b9map"/>
			   <map name="6394bad9-18dc-405c-808e-8385fe7db7b9map">
				  		<area shape="rect" coords="1306,646,1511,701" href="../elements/3ae1b7dc-9344-42d8-b6e2-732b1d8ce352.html"  target="element">
				  		<area shape="rect" coords="1090,646,1295,701" href="../elements/27d1998c-afb9-4d93-9df6-b6d8ff6e8a0e.html"  target="element">
				  		<area shape="rect" coords="874,646,1079,701" href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html"  target="element">
				  		<area shape="rect" coords="658,646,863,701" href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html"  target="element">
				  		<area shape="rect" coords="442,646,647,701" href="../elements/92ad99a4-59a8-456e-9520-2d626ea8d950.html"  target="element">
				  		<area shape="rect" coords="226,646,431,701" href="../elements/4959f519-a65b-4589-b77f-adda3dc44ea1.html"  target="element">
				  		<area shape="rect" coords="10,646,215,701" href="../elements/93c9a2eb-4cd8-45bc-a5ea-b3f277880ac7.html"  target="element">
				  		<area shape="rect" coords="1546,10,1727,65" href="../elements/9841192e-7dde-4440-93e5-7ceaaf06fd93.html"  target="element">
				  		<area shape="rect" coords="1354,10,1535,65" href="../elements/e26d36ad-b435-4e48-beea-edc96ef135c6.html"  target="element">
				  		<area shape="rect" coords="1162,10,1343,65" href="../elements/512eecca-8ff7-46a7-a5ff-78620c8dff14.html"  target="element">
				  		<area shape="rect" coords="970,10,1151,65" href="../elements/96b2393c-90a6-405d-b590-e75b0ece58e4.html"  target="element">
				  		<area shape="rect" coords="10,10,191,65" href="../elements/d843055b-5e20-4dac-ba06-c6f43a23336d.html"  target="element">
				  		<area shape="rect" coords="586,10,767,65" href="../elements/5002db38-be87-47d0-98e9-d120714f5f81.html"  target="element">
				  		<area shape="rect" coords="778,10,959,65" href="../elements/37884327-ab1f-4856-8672-829efacb7c06.html"  target="element">
				  		<area shape="rect" coords="202,10,383,65" href="../elements/9673d4bd-b962-484a-b9cb-f981fb7ce426.html"  target="element">
				  		<area shape="rect" coords="394,10,575,65" href="../elements/42b1467a-c9b3-4d98-a900-4931df644543.html"  target="element">
				  		<area shape="rect" coords="10,514,1727,548" href="../elements/a6117c36-74f2-4da1-94ac-a850aaf88498.html"  target="element">
				  		<area shape="rect" coords="10,466,1727,500" href="../elements/7b3ccb65-833d-408e-847b-d4cc1461a801.html"  target="element">
				  		<area shape="rect" coords="10,418,1727,452" href="../elements/f55f40ed-498a-47ae-b6cc-c1b72d7c97c2.html"  target="element">
				  		<area shape="rect" coords="10,370,1727,404" href="../elements/903d8f41-0853-4f7a-acaf-b5373510cbf0.html"  target="element">
				  		<area shape="rect" coords="10,322,1727,356" href="../elements/27398622-11a1-4b5c-b0b6-5ca17244f37f.html"  target="element">
				  		<area shape="rect" coords="10,274,1727,308" href="../elements/cc0c5240-d5d6-4c4a-9b35-14745ae2e259.html"  target="element">
				  		<area shape="rect" coords="10,226,1727,260" href="../elements/7872770b-6f1d-46c0-b652-32c2162b7225.html"  target="element">
				  		<area shape="rect" coords="10,178,1727,212" href="../elements/37131828-a86e-42b5-9a26-3d486d53cef1.html"  target="element">
				          <area shape="rect" coords="10,814,839,930" href="../objects/7fcb66f5-cb16-432e-8369-5f3b5e6ef115.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">This view answers the following questions:
- If I implement and deploy the Base Practice (BP) ***, how can I verify if I did it properly? What outcomes shall be achieved?
- If I implement and demploy the Outcome Work Product ***, how can I verify if I did it properly? What outcomes shall be achieved?

Scope of this view - Outcomes, Base Practices and their relations for ASPICE process SYS.4 System Integration and Integration Test

Latest version and docs can be found here: https://github.com/alef1986/ASPICE-Archi</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/7fcb66f5-cb16-432e-8369-5f3b5e6ef115.html" target="element">  </a> </td>
									           <td> <a href="../objects/7fcb66f5-cb16-432e-8369-5f3b5e6ef115.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/37131828-a86e-42b5-9a26-3d486d53cef1.html" target="element"> SYS.4.O.1 A system integration strategy consistent with the project plan, therelease plan and the system architectural design is developed tointegrate the system items </a> </td>
											    <td> <a href="../elements/37131828-a86e-42b5-9a26-3d486d53cef1.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7872770b-6f1d-46c0-b652-32c2162b7225.html" target="element"> SYS.4.O.2 A system integration test strategy including the regression teststrategy is developed to test the system item interactions </a> </td>
											    <td> <a href="../elements/7872770b-6f1d-46c0-b652-32c2162b7225.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cc0c5240-d5d6-4c4a-9b35-14745ae2e259.html" target="element"> SYS.4.O.3 A specification for system integration test according to the system integration test strategy is developed that is suitable to provide evidence for compliance of the integrated system items with the system architectural design, including the interfaces between system items </a> </td>
											    <td> <a href="../elements/cc0c5240-d5d6-4c4a-9b35-14745ae2e259.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/27398622-11a1-4b5c-b0b6-5ca17244f37f.html" target="element"> SYS.4.O.4 System items are integrated up to a complete integrated system according to the integration strategy </a> </td>
											    <td> <a href="../elements/27398622-11a1-4b5c-b0b6-5ca17244f37f.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/903d8f41-0853-4f7a-acaf-b5373510cbf0.html" target="element"> SYS.4.O.5 Test cases included in the system integration test specification are selected according to the system integration test strategy and the release plan </a> </td>
											    <td> <a href="../elements/903d8f41-0853-4f7a-acaf-b5373510cbf0.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f55f40ed-498a-47ae-b6cc-c1b72d7c97c2.html" target="element"> SYS.4.O.6 System item interactions are tested using the selected test cases andthe results of system integration testing are recorded </a> </td>
											    <td> <a href="../elements/f55f40ed-498a-47ae-b6cc-c1b72d7c97c2.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7b3ccb65-833d-408e-847b-d4cc1461a801.html" target="element"> SYS.4.O.7 Consistency and bidirectional traceability between the elements of the system architectural design and test cases included in the system integration test specification and bidirectional traceability between testcases and test results is established </a> </td>
											    <td> <a href="../elements/7b3ccb65-833d-408e-847b-d4cc1461a801.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a6117c36-74f2-4da1-94ac-a850aaf88498.html" target="element"> SYS.4.O.8 Results of the system integration test are summarized andcommunicated to all affected parties </a> </td>
											    <td> <a href="../elements/a6117c36-74f2-4da1-94ac-a850aaf88498.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/42b1467a-c9b3-4d98-a900-4931df644543.html" target="element"> SYS.4.BP3 Develop specification for system integration test </a> </td>
											    <td> <a href="../elements/42b1467a-c9b3-4d98-a900-4931df644543.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9673d4bd-b962-484a-b9cb-f981fb7ce426.html" target="element"> SYS.4.BP2 Develop system integration test strategy including regression test strategy </a> </td>
											    <td> <a href="../elements/9673d4bd-b962-484a-b9cb-f981fb7ce426.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/37884327-ab1f-4856-8672-829efacb7c06.html" target="element"> SYS.4.BP5 Select test cases </a> </td>
											    <td> <a href="../elements/37884327-ab1f-4856-8672-829efacb7c06.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5002db38-be87-47d0-98e9-d120714f5f81.html" target="element"> SYS.4.BP4 Integrate system items </a> </td>
											    <td> <a href="../elements/5002db38-be87-47d0-98e9-d120714f5f81.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d843055b-5e20-4dac-ba06-c6f43a23336d.html" target="element"> SYS.4.BP1 Develop system integration strategy </a> </td>
											    <td> <a href="../elements/d843055b-5e20-4dac-ba06-c6f43a23336d.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/96b2393c-90a6-405d-b590-e75b0ece58e4.html" target="element"> SYS.4.BP6 Perform system integration test </a> </td>
											    <td> <a href="../elements/96b2393c-90a6-405d-b590-e75b0ece58e4.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/512eecca-8ff7-46a7-a5ff-78620c8dff14.html" target="element"> SYS.4.BP7 Establish bidirectional traceability </a> </td>
											    <td> <a href="../elements/512eecca-8ff7-46a7-a5ff-78620c8dff14.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e26d36ad-b435-4e48-beea-edc96ef135c6.html" target="element"> SYS.4.BP8 Ensure consistency </a> </td>
											    <td> <a href="../elements/e26d36ad-b435-4e48-beea-edc96ef135c6.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9841192e-7dde-4440-93e5-7ceaaf06fd93.html" target="element"> SYS.4.BP9 Summarize and communicate results </a> </td>
											    <td> <a href="../elements/9841192e-7dde-4440-93e5-7ceaaf06fd93.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/93c9a2eb-4cd8-45bc-a5ea-b3f277880ac7.html" target="element"> 08-50 Test specification </a> </td>
											    <td> <a href="../elements/93c9a2eb-4cd8-45bc-a5ea-b3f277880ac7.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4959f519-a65b-4589-b77f-adda3dc44ea1.html" target="element"> 08-52 Test plan </a> </td>
											    <td> <a href="../elements/4959f519-a65b-4589-b77f-adda3dc44ea1.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/92ad99a4-59a8-456e-9520-2d626ea8d950.html" target="element"> 11-06 System </a> </td>
											    <td> <a href="../elements/92ad99a4-59a8-456e-9520-2d626ea8d950.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element"> 13-04 Communication Record </a> </td>
											    <td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element"> 13-19 Review Record </a> </td>
											    <td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/27d1998c-afb9-4d93-9df6-b6d8ff6e8a0e.html" target="element"> 13-22 Traceability record  </a> </td>
											    <td> <a href="../elements/27d1998c-afb9-4d93-9df6-b6d8ff6e8a0e.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3ae1b7dc-9344-42d8-b6e2-732b1d8ce352.html" target="element"> 13-50 Test result </a> </td>
											    <td> <a href="../elements/3ae1b7dc-9344-42d8-b6e2-732b1d8ce352.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/208ea290-81cd-440f-8546-ca0cfd60d8b3.html" target="element">  </a> </td>
																		<td> <a href="../elements/208ea290-81cd-440f-8546-ca0cfd60d8b3.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/42b1467a-c9b3-4d98-a900-4931df644543.html" target="element"> SYS.4.BP3 Develop specification for system integration test </a> </td>
																		<td> <a href="../elements/cc0c5240-d5d6-4c4a-9b35-14745ae2e259.html" target="element"> SYS.4.O.3 A specification for system integration test according to the system integration test strategy is developed that is suitable to provide evidence for compliance of the integrated system items with the system architectural design, including the interfaces between system items </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/de9a8777-6c3c-492f-804a-c5b3fc6256be.html" target="element">  </a> </td>
																		<td> <a href="../elements/de9a8777-6c3c-492f-804a-c5b3fc6256be.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/9673d4bd-b962-484a-b9cb-f981fb7ce426.html" target="element"> SYS.4.BP2 Develop system integration test strategy including regression test strategy </a> </td>
																		<td> <a href="../elements/7872770b-6f1d-46c0-b652-32c2162b7225.html" target="element"> SYS.4.O.2 A system integration test strategy including the regression teststrategy is developed to test the system item interactions </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/8406b9df-98f1-4e48-8796-90d1c00e91ed.html" target="element">  </a> </td>
																		<td> <a href="../elements/8406b9df-98f1-4e48-8796-90d1c00e91ed.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/37884327-ab1f-4856-8672-829efacb7c06.html" target="element"> SYS.4.BP5 Select test cases </a> </td>
																		<td> <a href="../elements/903d8f41-0853-4f7a-acaf-b5373510cbf0.html" target="element"> SYS.4.O.5 Test cases included in the system integration test specification are selected according to the system integration test strategy and the release plan </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/92847b85-a05f-48d0-8732-488339f045dc.html" target="element">  </a> </td>
																		<td> <a href="../elements/92847b85-a05f-48d0-8732-488339f045dc.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/5002db38-be87-47d0-98e9-d120714f5f81.html" target="element"> SYS.4.BP4 Integrate system items </a> </td>
																		<td> <a href="../elements/27398622-11a1-4b5c-b0b6-5ca17244f37f.html" target="element"> SYS.4.O.4 System items are integrated up to a complete integrated system according to the integration strategy </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/a6c1b28b-bb21-4462-8610-962992098492.html" target="element">  </a> </td>
																		<td> <a href="../elements/a6c1b28b-bb21-4462-8610-962992098492.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/d843055b-5e20-4dac-ba06-c6f43a23336d.html" target="element"> SYS.4.BP1 Develop system integration strategy </a> </td>
																		<td> <a href="../elements/37131828-a86e-42b5-9a26-3d486d53cef1.html" target="element"> SYS.4.O.1 A system integration strategy consistent with the project plan, therelease plan and the system architectural design is developed tointegrate the system items </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/cc0fa274-c146-4239-b046-142fd59713b0.html" target="element">  </a> </td>
																		<td> <a href="../elements/cc0fa274-c146-4239-b046-142fd59713b0.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/96b2393c-90a6-405d-b590-e75b0ece58e4.html" target="element"> SYS.4.BP6 Perform system integration test </a> </td>
																		<td> <a href="../elements/f55f40ed-498a-47ae-b6cc-c1b72d7c97c2.html" target="element"> SYS.4.O.6 System item interactions are tested using the selected test cases andthe results of system integration testing are recorded </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/cf73e494-2ff1-429f-b97e-8598b53b427f.html" target="element">  </a> </td>
																		<td> <a href="../elements/cf73e494-2ff1-429f-b97e-8598b53b427f.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/512eecca-8ff7-46a7-a5ff-78620c8dff14.html" target="element"> SYS.4.BP7 Establish bidirectional traceability </a> </td>
																		<td> <a href="../elements/7b3ccb65-833d-408e-847b-d4cc1461a801.html" target="element"> SYS.4.O.7 Consistency and bidirectional traceability between the elements of the system architectural design and test cases included in the system integration test specification and bidirectional traceability between testcases and test results is established </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/1f935934-eb57-4afe-a656-ab9efd247b08.html" target="element">  </a> </td>
																		<td> <a href="../elements/1f935934-eb57-4afe-a656-ab9efd247b08.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/e26d36ad-b435-4e48-beea-edc96ef135c6.html" target="element"> SYS.4.BP8 Ensure consistency </a> </td>
																		<td> <a href="../elements/7b3ccb65-833d-408e-847b-d4cc1461a801.html" target="element"> SYS.4.O.7 Consistency and bidirectional traceability between the elements of the system architectural design and test cases included in the system integration test specification and bidirectional traceability between testcases and test results is established </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/2c0ace49-14ae-4454-ab9e-1bb604a6c802.html" target="element">  </a> </td>
																		<td> <a href="../elements/2c0ace49-14ae-4454-ab9e-1bb604a6c802.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/9841192e-7dde-4440-93e5-7ceaaf06fd93.html" target="element"> SYS.4.BP9 Summarize and communicate results </a> </td>
																		<td> <a href="../elements/a6117c36-74f2-4da1-94ac-a850aaf88498.html" target="element"> SYS.4.O.8 Results of the system integration test are summarized andcommunicated to all affected parties </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/de19aeae-9067-4bc8-ac1b-fa02e3fb54a4.html" target="element">  </a> </td>
																		<td> <a href="../elements/de19aeae-9067-4bc8-ac1b-fa02e3fb54a4.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/93c9a2eb-4cd8-45bc-a5ea-b3f277880ac7.html" target="element"> 08-50 Test specification </a> </td>
																		<td> <a href="../elements/cc0c5240-d5d6-4c4a-9b35-14745ae2e259.html" target="element"> SYS.4.O.3 A specification for system integration test according to the system integration test strategy is developed that is suitable to provide evidence for compliance of the integrated system items with the system architectural design, including the interfaces between system items </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0b2b3873-826c-4695-bb02-5a0f824171c8.html" target="element">  </a> </td>
																		<td> <a href="../elements/0b2b3873-826c-4695-bb02-5a0f824171c8.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/93c9a2eb-4cd8-45bc-a5ea-b3f277880ac7.html" target="element"> 08-50 Test specification </a> </td>
																		<td> <a href="../elements/903d8f41-0853-4f7a-acaf-b5373510cbf0.html" target="element"> SYS.4.O.5 Test cases included in the system integration test specification are selected according to the system integration test strategy and the release plan </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/73d69e0a-d691-45f1-b051-bc7ed6537ae3.html" target="element">  </a> </td>
																		<td> <a href="../elements/73d69e0a-d691-45f1-b051-bc7ed6537ae3.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/4959f519-a65b-4589-b77f-adda3dc44ea1.html" target="element"> 08-52 Test plan </a> </td>
																		<td> <a href="../elements/37131828-a86e-42b5-9a26-3d486d53cef1.html" target="element"> SYS.4.O.1 A system integration strategy consistent with the project plan, therelease plan and the system architectural design is developed tointegrate the system items </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/eea8926d-29aa-4ccc-aa1e-661314509c0e.html" target="element">  </a> </td>
																		<td> <a href="../elements/eea8926d-29aa-4ccc-aa1e-661314509c0e.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/4959f519-a65b-4589-b77f-adda3dc44ea1.html" target="element"> 08-52 Test plan </a> </td>
																		<td> <a href="../elements/7872770b-6f1d-46c0-b652-32c2162b7225.html" target="element"> SYS.4.O.2 A system integration test strategy including the regression teststrategy is developed to test the system item interactions </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/0730aecf-2eed-48a5-8c77-d9ae9e59dc19.html" target="element">  </a> </td>
																		<td> <a href="../elements/0730aecf-2eed-48a5-8c77-d9ae9e59dc19.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/92ad99a4-59a8-456e-9520-2d626ea8d950.html" target="element"> 11-06 System </a> </td>
																		<td> <a href="../elements/27398622-11a1-4b5c-b0b6-5ca17244f37f.html" target="element"> SYS.4.O.4 System items are integrated up to a complete integrated system according to the integration strategy </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/0f42d475-370e-435b-8852-12552f4ae802.html" target="element">  </a> </td>
																		<td> <a href="../elements/0f42d475-370e-435b-8852-12552f4ae802.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element"> 13-04 Communication Record </a> </td>
																		<td> <a href="../elements/a6117c36-74f2-4da1-94ac-a850aaf88498.html" target="element"> SYS.4.O.8 Results of the system integration test are summarized andcommunicated to all affected parties </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/a7141223-697d-4bb3-819e-126e73eb0b10.html" target="element">  </a> </td>
																		<td> <a href="../elements/a7141223-697d-4bb3-819e-126e73eb0b10.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element"> 13-19 Review Record </a> </td>
																		<td> <a href="../elements/7b3ccb65-833d-408e-847b-d4cc1461a801.html" target="element"> SYS.4.O.7 Consistency and bidirectional traceability between the elements of the system architectural design and test cases included in the system integration test specification and bidirectional traceability between testcases and test results is established </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/34e4db8a-d8bc-4ce3-89a5-2554dd672646.html" target="element">  </a> </td>
																		<td> <a href="../elements/34e4db8a-d8bc-4ce3-89a5-2554dd672646.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/27d1998c-afb9-4d93-9df6-b6d8ff6e8a0e.html" target="element"> 13-22 Traceability record  </a> </td>
																		<td> <a href="../elements/7b3ccb65-833d-408e-847b-d4cc1461a801.html" target="element"> SYS.4.O.7 Consistency and bidirectional traceability between the elements of the system architectural design and test cases included in the system integration test specification and bidirectional traceability between testcases and test results is established </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/1f7bdc55-5211-4612-b3c1-03bd7428263e.html" target="element">  </a> </td>
																		<td> <a href="../elements/1f7bdc55-5211-4612-b3c1-03bd7428263e.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/3ae1b7dc-9344-42d8-b6e2-732b1d8ce352.html" target="element"> 13-50 Test result </a> </td>
																		<td> <a href="../elements/f55f40ed-498a-47ae-b6cc-c1b72d7c97c2.html" target="element"> SYS.4.O.6 System item interactions are tested using the selected test cases andthe results of system integration testing are recorded </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c278807f-517a-4eee-b166-5e4c1ec64113.html" target="element">  </a> </td>
																		<td> <a href="../elements/c278807f-517a-4eee-b166-5e4c1ec64113.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/3ae1b7dc-9344-42d8-b6e2-732b1d8ce352.html" target="element"> 13-50 Test result </a> </td>
																		<td> <a href="../elements/a6117c36-74f2-4da1-94ac-a850aaf88498.html" target="element"> SYS.4.O.8 Results of the system integration test are summarized andcommunicated to all affected parties </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>