<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Overview - ACQ.13 Project Requirements</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Overview - ACQ.13 Project Requirements</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/6f2c42c6-6c76-4025-a659-e155a79e1e97.png" alt="Overview - ACQ.13 Project Requirements" usemap="#6f2c42c6-6c76-4025-a659-e155a79e1e97map"/>
			   <map name="6f2c42c6-6c76-4025-a659-e155a79e1e97map">
				  		<area shape="rect" coords="1017,576,1255,631" href="../views/9e94f80f-8775-4044-8110-6a872c99ec05.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="1017,516,1255,571" href="../views/a6fe40ca-3535-46c3-a477-911f9b476f3c.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="529,444,734,499" href="../elements/90146306-4004-48b7-b8ce-c00c995a35cc.html"  target="element">
				  		<area shape="rect" coords="530,372,735,427" href="../elements/485bc319-e304-4427-bc84-a553d5fd471b.html"  target="element">
				  		<area shape="rect" coords="530,300,735,355" href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html"  target="element">
				  		<area shape="rect" coords="766,144,1004,217" href="../elements/7fea2b48-3570-4c7f-b53e-ecc166e572ad.html"  target="element">
				  		<area shape="rect" coords="514,144,752,217" href="../elements/45895c2c-c362-4e46-96c0-fb9b59bd3abc.html"  target="element">
				  		<area shape="rect" coords="261,144,499,217" href="../elements/344c3c4c-d9fe-4e01-a205-918df4c7a978.html"  target="element">
				  		<area shape="rect" coords="10,144,248,217" href="../elements/d3d995be-b593-45bd-9c61-de55e29a3b10.html"  target="element">
				  		<area shape="rect" coords="1017,10,1255,131" href="../elements/12c9df3b-111f-4a54-be5f-21fca489e93c.html"  target="element">
				  		<area shape="rect" coords="765,10,1003,131" href="../elements/a54a626d-a656-4bfd-8978-32597453892b.html"  target="element">
				  		<area shape="rect" coords="513,10,751,131" href="../elements/e321d9fc-6009-4cb5-9e81-57c1eeb44544.html"  target="element">
				  		<area shape="rect" coords="261,10,499,131" href="../elements/42fd2168-2c48-42cc-a3d4-6a568adb783a.html"  target="element">
				  		<area shape="rect" coords="10,10,248,131" href="../elements/81dcc82e-4347-482e-a28b-333ecd555274.html"  target="element">
				  				<area shape="rect" coords="189,1113,467,1168" href="../elements/aa54cada-bf4e-43b2-a214-9b642ebeafba.html"  target="element">
				  				<area shape="rect" coords="189,993,467,1048" href="../elements/599bb14f-f61b-4fad-8599-342e3f634752.html"  target="element">
				  				<area shape="rect" coords="189,1053,467,1108" href="../elements/33d7ea4b-acaf-4901-9ef4-db7c7df213d0.html"  target="element">
				  				<area shape="rect" coords="189,873,467,928" href="../elements/613ff5b9-7707-45f1-87e7-9b636a6a4a1c.html"  target="element">
				  				<area shape="rect" coords="189,933,467,988" href="../elements/9478df2b-8100-47a1-a8d6-a6ea6dd8bf8b.html"  target="element">
				  				<area shape="rect" coords="189,693,467,748" href="../elements/6d80a5b8-97a0-4597-93a7-8e2330528729.html"  target="element">
				  				<area shape="rect" coords="189,393,467,448" href="../elements/cf2e93ac-9ed9-4f28-b2da-f26031976534.html"  target="element">
				  				<area shape="rect" coords="189,813,467,868" href="../elements/72bb2614-effc-4535-a466-b7cb6469c26b.html"  target="element">
				  				<area shape="rect" coords="189,573,467,628" href="../elements/e8fce815-29bb-4872-b0b3-2d3ef075d3f3.html"  target="element">
				  				<area shape="rect" coords="189,333,467,388" href="../elements/bd61962a-0685-44e6-9f16-6e3b9352b3fb.html"  target="element">
				  				<area shape="rect" coords="189,753,467,808" href="../elements/3f517763-fbb4-440e-adfe-1cf4f856880a.html"  target="element">
				  				<area shape="rect" coords="189,513,467,568" href="../elements/5a346814-c03c-48de-ae6c-3fa735742625.html"  target="element">
				  				<area shape="rect" coords="189,453,467,508" href="../elements/52d2925e-92d6-4262-a259-ffcac5c663e9.html"  target="element">
				  				<area shape="rect" coords="189,633,467,688" href="../elements/b42cf07a-5692-4398-99e4-46e987ad3c50.html"  target="element">
				  				<area shape="rect" coords="189,273,467,328" href="../elements/6c8f2b43-3c24-4faa-a4d6-f8c47d8251d5.html"  target="element">

				  		<area shape="rect" coords="177,237,478,1225" href="../elements/c673dea9-d4b9-47f4-a4a7-b7c0f2fa1d2f.html"  target="element">
				  		<area shape="rect" coords="530,237,735,292" href="../elements/a2964280-b66f-40de-a20b-30d7d4fcfee3.html"  target="element">
				          <area shape="rect" coords="1017,237,1255,505" href="../objects/2ee358bc-20ab-4153-bb00-0cedcf171be6.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">This view describes ACQ.13 Project Requirements Process, its outputs and outcomes

Relation of Outcomes to Outputs and Base Practices is out of scope of this view. See respective view for these details.

Latest version and docs can be found here: https://github.com/alef1986/ASPICE-Archi

Source of information for this view is Automotive SPICE Standards v.3.1
(http://www.automotivespice.com/fileadmin/software-download/AutomotiveSPICE_PAM_31.pdf)</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/2ee358bc-20ab-4153-bb00-0cedcf171be6.html" target="element">  </a> </td>
									           <td> <a href="../objects/2ee358bc-20ab-4153-bb00-0cedcf171be6.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/a2964280-b66f-40de-a20b-30d7d4fcfee3.html" target="element"> 02-00 Contract </a> </td>
											    <td> <a href="../elements/a2964280-b66f-40de-a20b-30d7d4fcfee3.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c673dea9-d4b9-47f4-a4a7-b7c0f2fa1d2f.html" target="element"> ACQ.13 Project Requirements </a> </td>
											    <td> <a href="../elements/c673dea9-d4b9-47f4-a4a7-b7c0f2fa1d2f.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/6c8f2b43-3c24-4faa-a4d6-f8c47d8251d5.html" target="element"> ACQ.13.BP1 Identify relevant groups </a> </td>
													    <td> <a href="../elements/6c8f2b43-3c24-4faa-a4d6-f8c47d8251d5.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/b42cf07a-5692-4398-99e4-46e987ad3c50.html" target="element"> ACQ.13.BP7 Identify information needs </a> </td>
													    <td> <a href="../elements/b42cf07a-5692-4398-99e4-46e987ad3c50.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/52d2925e-92d6-4262-a259-ffcac5c663e9.html" target="element"> ACQ.13.BP4 Define management requirements </a> </td>
													    <td> <a href="../elements/52d2925e-92d6-4262-a259-ffcac5c663e9.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/5a346814-c03c-48de-ae6c-3fa735742625.html" target="element"> ACQ.13.BP5 Identify required competency </a> </td>
													    <td> <a href="../elements/5a346814-c03c-48de-ae6c-3fa735742625.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/3f517763-fbb4-440e-adfe-1cf4f856880a.html" target="element"> ACQ.13.BP9 Establish criteria for interim work products </a> </td>
													    <td> <a href="../elements/3f517763-fbb4-440e-adfe-1cf4f856880a.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/bd61962a-0685-44e6-9f16-6e3b9352b3fb.html" target="element"> ACQ.13.BP2 Communicate with relevant groups </a> </td>
													    <td> <a href="../elements/bd61962a-0685-44e6-9f16-6e3b9352b3fb.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/e8fce815-29bb-4872-b0b3-2d3ef075d3f3.html" target="element"> ACQ.13.BP6 Define responsibilities and goals </a> </td>
													    <td> <a href="../elements/e8fce815-29bb-4872-b0b3-2d3ef075d3f3.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/72bb2614-effc-4535-a466-b7cb6469c26b.html" target="element"> ACQ.13.BP10 Establish payment requirements </a> </td>
													    <td> <a href="../elements/72bb2614-effc-4535-a466-b7cb6469c26b.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/cf2e93ac-9ed9-4f28-b2da-f26031976534.html" target="element"> ACQ.13.BP3 Define organizational requirements </a> </td>
													    <td> <a href="../elements/cf2e93ac-9ed9-4f28-b2da-f26031976534.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/6d80a5b8-97a0-4597-93a7-8e2330528729.html" target="element"> ACQ.13.BP8 Define exchange of information </a> </td>
													    <td> <a href="../elements/6d80a5b8-97a0-4597-93a7-8e2330528729.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/9478df2b-8100-47a1-a8d6-a6ea6dd8bf8b.html" target="element"> ACQ.13.BP12 Communicate risks </a> </td>
													    <td> <a href="../elements/9478df2b-8100-47a1-a8d6-a6ea6dd8bf8b.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/613ff5b9-7707-45f1-87e7-9b636a6a4a1c.html" target="element"> ACQ.13.BP11 Identify risks </a> </td>
													    <td> <a href="../elements/613ff5b9-7707-45f1-87e7-9b636a6a4a1c.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/33d7ea4b-acaf-4901-9ef4-db7c7df213d0.html" target="element"> ACQ.13.BP14 Define rights for use and distribution </a> </td>
													    <td> <a href="../elements/33d7ea4b-acaf-4901-9ef4-db7c7df213d0.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/599bb14f-f61b-4fad-8599-342e3f634752.html" target="element"> ACQ.13.BP13 Define ownership of relationships </a> </td>
													    <td> <a href="../elements/599bb14f-f61b-4fad-8599-342e3f634752.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/aa54cada-bf4e-43b2-a214-9b642ebeafba.html" target="element"> ACQ.13.BP15 Establish support and maintenance requirements </a> </td>
													    <td> <a href="../elements/aa54cada-bf4e-43b2-a214-9b642ebeafba.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/81dcc82e-4347-482e-a28b-333ecd555274.html" target="element"> ACQ.13.O.1 Consistency between financial, technical, contractual and projectrequirements is established </a> </td>
											    <td> <a href="../elements/81dcc82e-4347-482e-a28b-333ecd555274.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/42fd2168-2c48-42cc-a3d4-6a568adb783a.html" target="element"> ACQ.13.O.2 Requirements for the organizational, management, controlling, andreporting aspects of a project are defined </a> </td>
											    <td> <a href="../elements/42fd2168-2c48-42cc-a3d4-6a568adb783a.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e321d9fc-6009-4cb5-9e81-57c1eeb44544.html" target="element"> ACQ.13.O.3 Requirements for adequate staffing of projects by a competent team(e.g. resources with requisite legal, contractual, technical and projectcompetence) with clear responsibilities and goals are defined </a> </td>
											    <td> <a href="../elements/e321d9fc-6009-4cb5-9e81-57c1eeb44544.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a54a626d-a656-4bfd-8978-32597453892b.html" target="element"> ACQ.13.O.4 The needs for exchanging information between all affected parties areestablished </a> </td>
											    <td> <a href="../elements/a54a626d-a656-4bfd-8978-32597453892b.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/12c9df3b-111f-4a54-be5f-21fca489e93c.html" target="element"> ACQ.13.O.5 Requirements for the completion and acceptance of interim workproducts and release of payments are established </a> </td>
											    <td> <a href="../elements/12c9df3b-111f-4a54-be5f-21fca489e93c.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d3d995be-b593-45bd-9c61-de55e29a3b10.html" target="element"> ACQ.13.O.6 Potential risks are identified </a> </td>
											    <td> <a href="../elements/d3d995be-b593-45bd-9c61-de55e29a3b10.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/344c3c4c-d9fe-4e01-a205-918df4c7a978.html" target="element"> ACQ.13.O.7 Requirements for ownership of interactions and relationships withsuppliers are defined </a> </td>
											    <td> <a href="../elements/344c3c4c-d9fe-4e01-a205-918df4c7a978.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/45895c2c-c362-4e46-96c0-fb9b59bd3abc.html" target="element"> ACQ.13.O.8 Rights for use and distribution of the product by the customer andsupplier are defined </a> </td>
											    <td> <a href="../elements/45895c2c-c362-4e46-96c0-fb9b59bd3abc.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7fea2b48-3570-4c7f-b53e-ecc166e572ad.html" target="element"> ACQ.13.O.9 Support and maintenance requirements are established </a> </td>
											    <td> <a href="../elements/7fea2b48-3570-4c7f-b53e-ecc166e572ad.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element"> 13-19 Review Record </a> </td>
											    <td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/485bc319-e304-4427-bc84-a553d5fd471b.html" target="element"> 13-20 Risk action request </a> </td>
											    <td> <a href="../elements/485bc319-e304-4427-bc84-a553d5fd471b.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/90146306-4004-48b7-b8ce-c00c995a35cc.html" target="element"> 17-00 Requirement specification </a> </td>
											    <td> <a href="../elements/90146306-4004-48b7-b8ce-c00c995a35cc.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../views/a6fe40ca-3535-46c3-a477-911f9b476f3c.html" target="view"> O. vs. BP. vs. WP. - ACQ.13 Project Requirements </a> </td>
											    <td> <a href="../views/a6fe40ca-3535-46c3-a477-911f9b476f3c.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/9e94f80f-8775-4044-8110-6a872c99ec05.html" target="view"> Overview - Process Reference Model </a> </td>
											    <td> <a href="../views/9e94f80f-8775-4044-8110-6a872c99ec05.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/7a737cff-385d-47d6-94e9-376ff8d5b7e0.html" target="element">  </a> </td>
																		<td> <a href="../elements/7a737cff-385d-47d6-94e9-376ff8d5b7e0.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/c673dea9-d4b9-47f4-a4a7-b7c0f2fa1d2f.html" target="element"> ACQ.13 Project Requirements </a> </td>
																		<td> <a href="../elements/cf2e93ac-9ed9-4f28-b2da-f26031976534.html" target="element"> ACQ.13.BP3 Define organizational requirements </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/77efaf78-05cb-416e-823c-53843b4d4f00.html" target="element">  </a> </td>
																		<td> <a href="../elements/77efaf78-05cb-416e-823c-53843b4d4f00.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/c673dea9-d4b9-47f4-a4a7-b7c0f2fa1d2f.html" target="element"> ACQ.13 Project Requirements </a> </td>
																		<td> <a href="../elements/e8fce815-29bb-4872-b0b3-2d3ef075d3f3.html" target="element"> ACQ.13.BP6 Define responsibilities and goals </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8730f5ac-46a7-4c1d-b4aa-0ce32ddc7e2f.html" target="element">  </a> </td>
																		<td> <a href="../elements/8730f5ac-46a7-4c1d-b4aa-0ce32ddc7e2f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/c673dea9-d4b9-47f4-a4a7-b7c0f2fa1d2f.html" target="element"> ACQ.13 Project Requirements </a> </td>
																		<td> <a href="../elements/3f517763-fbb4-440e-adfe-1cf4f856880a.html" target="element"> ACQ.13.BP9 Establish criteria for interim work products </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8ae1c916-3d47-4bef-8355-7db81e62d7cb.html" target="element">  </a> </td>
																		<td> <a href="../elements/8ae1c916-3d47-4bef-8355-7db81e62d7cb.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/c673dea9-d4b9-47f4-a4a7-b7c0f2fa1d2f.html" target="element"> ACQ.13 Project Requirements </a> </td>
																		<td> <a href="../elements/6c8f2b43-3c24-4faa-a4d6-f8c47d8251d5.html" target="element"> ACQ.13.BP1 Identify relevant groups </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f17a4b98-3618-413d-9b12-2bce56d0a4b3.html" target="element">  </a> </td>
																		<td> <a href="../elements/f17a4b98-3618-413d-9b12-2bce56d0a4b3.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/c673dea9-d4b9-47f4-a4a7-b7c0f2fa1d2f.html" target="element"> ACQ.13 Project Requirements </a> </td>
																		<td> <a href="../elements/6d80a5b8-97a0-4597-93a7-8e2330528729.html" target="element"> ACQ.13.BP8 Define exchange of information </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/884e8202-c61a-40e7-a1fc-0d6b420464f5.html" target="element">  </a> </td>
																		<td> <a href="../elements/884e8202-c61a-40e7-a1fc-0d6b420464f5.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/c673dea9-d4b9-47f4-a4a7-b7c0f2fa1d2f.html" target="element"> ACQ.13 Project Requirements </a> </td>
																		<td> <a href="../elements/bd61962a-0685-44e6-9f16-6e3b9352b3fb.html" target="element"> ACQ.13.BP2 Communicate with relevant groups </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/db480a77-b05b-4879-923e-f8a52787bcd0.html" target="element">  </a> </td>
																		<td> <a href="../elements/db480a77-b05b-4879-923e-f8a52787bcd0.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/c673dea9-d4b9-47f4-a4a7-b7c0f2fa1d2f.html" target="element"> ACQ.13 Project Requirements </a> </td>
																		<td> <a href="../elements/72bb2614-effc-4535-a466-b7cb6469c26b.html" target="element"> ACQ.13.BP10 Establish payment requirements </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a295ae24-057e-4d27-b8e5-29d4851edac2.html" target="element">  </a> </td>
																		<td> <a href="../elements/a295ae24-057e-4d27-b8e5-29d4851edac2.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/c673dea9-d4b9-47f4-a4a7-b7c0f2fa1d2f.html" target="element"> ACQ.13 Project Requirements </a> </td>
																		<td> <a href="../elements/5a346814-c03c-48de-ae6c-3fa735742625.html" target="element"> ACQ.13.BP5 Identify required competency </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1e016d8e-c0c7-4fb9-b3ec-59b0cabef66d.html" target="element">  </a> </td>
																		<td> <a href="../elements/1e016d8e-c0c7-4fb9-b3ec-59b0cabef66d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/c673dea9-d4b9-47f4-a4a7-b7c0f2fa1d2f.html" target="element"> ACQ.13 Project Requirements </a> </td>
																		<td> <a href="../elements/b42cf07a-5692-4398-99e4-46e987ad3c50.html" target="element"> ACQ.13.BP7 Identify information needs </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/42a33bef-5fbb-428b-b7b7-30ae8e1a9682.html" target="element">  </a> </td>
																		<td> <a href="../elements/42a33bef-5fbb-428b-b7b7-30ae8e1a9682.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/c673dea9-d4b9-47f4-a4a7-b7c0f2fa1d2f.html" target="element"> ACQ.13 Project Requirements </a> </td>
																		<td> <a href="../elements/52d2925e-92d6-4262-a259-ffcac5c663e9.html" target="element"> ACQ.13.BP4 Define management requirements </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8cf9c491-2c42-4c19-8568-9e39011f336d.html" target="element">  </a> </td>
																		<td> <a href="../elements/8cf9c491-2c42-4c19-8568-9e39011f336d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/c673dea9-d4b9-47f4-a4a7-b7c0f2fa1d2f.html" target="element"> ACQ.13 Project Requirements </a> </td>
																		<td> <a href="../elements/9478df2b-8100-47a1-a8d6-a6ea6dd8bf8b.html" target="element"> ACQ.13.BP12 Communicate risks </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/72bc3e0e-4dac-4d6c-8726-e6af8c9fa1c8.html" target="element">  </a> </td>
																		<td> <a href="../elements/72bc3e0e-4dac-4d6c-8726-e6af8c9fa1c8.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/c673dea9-d4b9-47f4-a4a7-b7c0f2fa1d2f.html" target="element"> ACQ.13 Project Requirements </a> </td>
																		<td> <a href="../elements/613ff5b9-7707-45f1-87e7-9b636a6a4a1c.html" target="element"> ACQ.13.BP11 Identify risks </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2bfe133c-ff96-420a-9318-e43d54dd0663.html" target="element">  </a> </td>
																		<td> <a href="../elements/2bfe133c-ff96-420a-9318-e43d54dd0663.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/c673dea9-d4b9-47f4-a4a7-b7c0f2fa1d2f.html" target="element"> ACQ.13 Project Requirements </a> </td>
																		<td> <a href="../elements/33d7ea4b-acaf-4901-9ef4-db7c7df213d0.html" target="element"> ACQ.13.BP14 Define rights for use and distribution </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/20e17a36-8ba5-4a9e-86ef-695824887e87.html" target="element">  </a> </td>
																		<td> <a href="../elements/20e17a36-8ba5-4a9e-86ef-695824887e87.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/c673dea9-d4b9-47f4-a4a7-b7c0f2fa1d2f.html" target="element"> ACQ.13 Project Requirements </a> </td>
																		<td> <a href="../elements/599bb14f-f61b-4fad-8599-342e3f634752.html" target="element"> ACQ.13.BP13 Define ownership of relationships </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9988d449-f945-4477-b0a9-7691fd7fa00c.html" target="element">  </a> </td>
																		<td> <a href="../elements/9988d449-f945-4477-b0a9-7691fd7fa00c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/c673dea9-d4b9-47f4-a4a7-b7c0f2fa1d2f.html" target="element"> ACQ.13 Project Requirements </a> </td>
																		<td> <a href="../elements/aa54cada-bf4e-43b2-a214-9b642ebeafba.html" target="element"> ACQ.13.BP15 Establish support and maintenance requirements </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2557e3c7-5ac7-4cd7-bd2a-fe72241bf18b.html" target="element">  </a> </td>
																		<td> <a href="../elements/2557e3c7-5ac7-4cd7-bd2a-fe72241bf18b.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/c673dea9-d4b9-47f4-a4a7-b7c0f2fa1d2f.html" target="element"> ACQ.13 Project Requirements </a> </td>
																		<td> <a href="../elements/a2964280-b66f-40de-a20b-30d7d4fcfee3.html" target="element"> 02-00 Contract </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5f96e82f-5ee6-492b-b015-1e16097a5972.html" target="element">  </a> </td>
																		<td> <a href="../elements/5f96e82f-5ee6-492b-b015-1e16097a5972.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/c673dea9-d4b9-47f4-a4a7-b7c0f2fa1d2f.html" target="element"> ACQ.13 Project Requirements </a> </td>
																		<td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element"> 13-19 Review Record </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d83e234d-fede-4252-9865-c6b8a4c7952a.html" target="element">  </a> </td>
																		<td> <a href="../elements/d83e234d-fede-4252-9865-c6b8a4c7952a.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/c673dea9-d4b9-47f4-a4a7-b7c0f2fa1d2f.html" target="element"> ACQ.13 Project Requirements </a> </td>
																		<td> <a href="../elements/485bc319-e304-4427-bc84-a553d5fd471b.html" target="element"> 13-20 Risk action request </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/fab43755-6353-4f53-bc8c-53c2155a265a.html" target="element">  </a> </td>
																		<td> <a href="../elements/fab43755-6353-4f53-bc8c-53c2155a265a.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/c673dea9-d4b9-47f4-a4a7-b7c0f2fa1d2f.html" target="element"> ACQ.13 Project Requirements </a> </td>
																		<td> <a href="../elements/90146306-4004-48b7-b8ce-c00c995a35cc.html" target="element"> 17-00 Requirement specification </a> </td>
																	</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>