<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>O. vs. BP. vs. WP. - SUP.2 Verification</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>O. vs. BP. vs. WP. - SUP.2 Verification</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/6f8fc2a0-d50d-45d0-a2f8-6b7366a2f6ba.png" alt="O. vs. BP. vs. WP. - SUP.2 Verification" usemap="#6f8fc2a0-d50d-45d0-a2f8-6b7366a2f6bamap"/>
			   <map name="6f8fc2a0-d50d-45d0-a2f8-6b7366a2f6bamap">
				  		<area shape="rect" coords="10,10,287,65" href="../elements/e3d3948a-c13d-4999-8c11-d63c76ac18bc.html"  target="element">
				  		<area shape="rect" coords="874,10,1151,65" href="../elements/1876b319-c2f3-4011-9c43-b8380865e508.html"  target="element">
				  		<area shape="rect" coords="1162,10,1439,65" href="../elements/65378d3b-2aba-427d-9f41-c592f6688a05.html"  target="element">
				  		<area shape="rect" coords="298,10,575,65" href="../elements/b373bc0b-c63d-4e87-b636-29bc14bbf9d6.html"  target="element">
				  		<area shape="rect" coords="586,10,863,65" href="../elements/cf02777e-a319-42fb-876d-9db17f98f9ab.html"  target="element">
				  		<area shape="rect" coords="1090,478,1295,533" href="../elements/e030c25a-3e79-4bfc-ad2e-35fc4df38a0a.html"  target="element">
				  		<area shape="rect" coords="874,478,1079,533" href="../elements/a032d5d9-744a-4cbf-a243-da4f7cfec2c1.html"  target="element">
				  		<area shape="rect" coords="658,478,863,533" href="../elements/3400d0a7-31c3-46f8-8e99-a25fad4ca5d5.html"  target="element">
				  		<area shape="rect" coords="442,478,647,533" href="../elements/6388a129-dbb3-4d0f-beeb-553dc5da02ec.html"  target="element">
				  		<area shape="rect" coords="226,478,431,533" href="../elements/1ff02068-2c2c-4def-8f23-59f53e4164d9.html"  target="element">
				  		<area shape="rect" coords="10,478,215,533" href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html"  target="element">
				  		<area shape="rect" coords="10,202,1727,236" href="../elements/14bd7f8e-5a1c-4792-b57c-c2daeb188671.html"  target="element">
				  		<area shape="rect" coords="10,250,1727,284" href="../elements/d6a72350-889c-4cfc-ade2-9b124e0a2447.html"  target="element">
				  		<area shape="rect" coords="10,298,1727,332" href="../elements/e4dabb9c-a8e3-44dc-afa3-3488b4999560.html"  target="element">
				  		<area shape="rect" coords="10,346,1727,380" href="../elements/9725a5dd-38df-42e2-80b9-4e7d4851fe7e.html"  target="element">
				  		<area shape="rect" coords="10,154,1727,188" href="../elements/59fc594f-b0fe-459a-a207-dff67152ad70.html"  target="element">
				          <area shape="rect" coords="10,742,839,858" href="../objects/826067f9-c961-4ff4-bdd9-252896e371f9.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">This view answers the following questions:
- If I implement and deploy the Base Practice (BP) ***, how can I verify if I did it properly? What outcomes shall be achieved?
- If I implement and demploy the Outcome Work Product ***, how can I verify if I did it properly? What outcomes shall be achieved?

Scope of this view - Outcomes, Base Practices and their relations for ASPICE process SUP.2 Verification

Latest version and docs can be found here: https://github.com/alef1986/ASPICE-Archi</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/826067f9-c961-4ff4-bdd9-252896e371f9.html" target="element">  </a> </td>
									           <td> <a href="../objects/826067f9-c961-4ff4-bdd9-252896e371f9.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/59fc594f-b0fe-459a-a207-dff67152ad70.html" target="element"> SUP.2.O.1 A verification strategy is developed, implemented and maintained </a> </td>
											    <td> <a href="../elements/59fc594f-b0fe-459a-a207-dff67152ad70.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9725a5dd-38df-42e2-80b9-4e7d4851fe7e.html" target="element"> SUP.2.O.5 Results of the verification activities are made available to the customer and other involved parties </a> </td>
											    <td> <a href="../elements/9725a5dd-38df-42e2-80b9-4e7d4851fe7e.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e4dabb9c-a8e3-44dc-afa3-3488b4999560.html" target="element"> SUP.2.O.4 Defects are identified, recorded and tracked </a> </td>
											    <td> <a href="../elements/e4dabb9c-a8e3-44dc-afa3-3488b4999560.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d6a72350-889c-4cfc-ade2-9b124e0a2447.html" target="element"> SUP.2.O.3 Required verification activities are performed </a> </td>
											    <td> <a href="../elements/d6a72350-889c-4cfc-ade2-9b124e0a2447.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/14bd7f8e-5a1c-4792-b57c-c2daeb188671.html" target="element"> SUP.2.O.2 Criteria for verification of all required work products are identified </a> </td>
											    <td> <a href="../elements/14bd7f8e-5a1c-4792-b57c-c2daeb188671.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element"> 13-04 Communication Record </a> </td>
											    <td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1ff02068-2c2c-4def-8f23-59f53e4164d9.html" target="element"> 13-07 Problem record  </a> </td>
											    <td> <a href="../elements/1ff02068-2c2c-4def-8f23-59f53e4164d9.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6388a129-dbb3-4d0f-beeb-553dc5da02ec.html" target="element"> 13-25 Verification results </a> </td>
											    <td> <a href="../elements/6388a129-dbb3-4d0f-beeb-553dc5da02ec.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3400d0a7-31c3-46f8-8e99-a25fad4ca5d5.html" target="element"> 14-02 Corrective Action Register </a> </td>
											    <td> <a href="../elements/3400d0a7-31c3-46f8-8e99-a25fad4ca5d5.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a032d5d9-744a-4cbf-a243-da4f7cfec2c1.html" target="element"> 18-07 Quality criteria </a> </td>
											    <td> <a href="../elements/a032d5d9-744a-4cbf-a243-da4f7cfec2c1.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e030c25a-3e79-4bfc-ad2e-35fc4df38a0a.html" target="element"> 19-10 Verification strategy </a> </td>
											    <td> <a href="../elements/e030c25a-3e79-4bfc-ad2e-35fc4df38a0a.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cf02777e-a319-42fb-876d-9db17f98f9ab.html" target="element"> SUP.2.BP3 Conduct verification </a> </td>
											    <td> <a href="../elements/cf02777e-a319-42fb-876d-9db17f98f9ab.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b373bc0b-c63d-4e87-b636-29bc14bbf9d6.html" target="element"> SUP.2.BP2 Develop criteria for verification </a> </td>
											    <td> <a href="../elements/b373bc0b-c63d-4e87-b636-29bc14bbf9d6.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/65378d3b-2aba-427d-9f41-c592f6688a05.html" target="element"> SUP.2.BP5 Report verification results </a> </td>
											    <td> <a href="../elements/65378d3b-2aba-427d-9f41-c592f6688a05.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1876b319-c2f3-4011-9c43-b8380865e508.html" target="element"> SUP.2.BP4 Determine and track actions for verification results </a> </td>
											    <td> <a href="../elements/1876b319-c2f3-4011-9c43-b8380865e508.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e3d3948a-c13d-4999-8c11-d63c76ac18bc.html" target="element"> SUP.2.BP1 Develop a verification strategy </a> </td>
											    <td> <a href="../elements/e3d3948a-c13d-4999-8c11-d63c76ac18bc.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/4ccab9cb-bb78-4b7c-a3db-813376492563.html" target="element">  </a> </td>
																		<td> <a href="../elements/4ccab9cb-bb78-4b7c-a3db-813376492563.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element"> 13-04 Communication Record </a> </td>
																		<td> <a href="../elements/9725a5dd-38df-42e2-80b9-4e7d4851fe7e.html" target="element"> SUP.2.O.5 Results of the verification activities are made available to the customer and other involved parties </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/23bf9136-6c25-46ad-a6ed-c4ebcc868907.html" target="element">  </a> </td>
																		<td> <a href="../elements/23bf9136-6c25-46ad-a6ed-c4ebcc868907.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/1ff02068-2c2c-4def-8f23-59f53e4164d9.html" target="element"> 13-07 Problem record  </a> </td>
																		<td> <a href="../elements/d6a72350-889c-4cfc-ade2-9b124e0a2447.html" target="element"> SUP.2.O.3 Required verification activities are performed </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/88e5cbd3-5ffb-4c4e-a5be-5a47ae878802.html" target="element">  </a> </td>
																		<td> <a href="../elements/88e5cbd3-5ffb-4c4e-a5be-5a47ae878802.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/1ff02068-2c2c-4def-8f23-59f53e4164d9.html" target="element"> 13-07 Problem record  </a> </td>
																		<td> <a href="../elements/e4dabb9c-a8e3-44dc-afa3-3488b4999560.html" target="element"> SUP.2.O.4 Defects are identified, recorded and tracked </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/aec127e6-b051-4371-898f-81d138b8b871.html" target="element">  </a> </td>
																		<td> <a href="../elements/aec127e6-b051-4371-898f-81d138b8b871.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/1ff02068-2c2c-4def-8f23-59f53e4164d9.html" target="element"> 13-07 Problem record  </a> </td>
																		<td> <a href="../elements/9725a5dd-38df-42e2-80b9-4e7d4851fe7e.html" target="element"> SUP.2.O.5 Results of the verification activities are made available to the customer and other involved parties </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/0e7b1db0-fcb0-4d6e-b3b3-61776aaf9c14.html" target="element">  </a> </td>
																		<td> <a href="../elements/0e7b1db0-fcb0-4d6e-b3b3-61776aaf9c14.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/6388a129-dbb3-4d0f-beeb-553dc5da02ec.html" target="element"> 13-25 Verification results </a> </td>
																		<td> <a href="../elements/14bd7f8e-5a1c-4792-b57c-c2daeb188671.html" target="element"> SUP.2.O.2 Criteria for verification of all required work products are identified </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d87b9c24-9272-4dba-ad03-ec37b518106d.html" target="element">  </a> </td>
																		<td> <a href="../elements/d87b9c24-9272-4dba-ad03-ec37b518106d.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/6388a129-dbb3-4d0f-beeb-553dc5da02ec.html" target="element"> 13-25 Verification results </a> </td>
																		<td> <a href="../elements/d6a72350-889c-4cfc-ade2-9b124e0a2447.html" target="element"> SUP.2.O.3 Required verification activities are performed </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b35fb0ba-347f-4669-81c5-67b4758649c5.html" target="element">  </a> </td>
																		<td> <a href="../elements/b35fb0ba-347f-4669-81c5-67b4758649c5.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/6388a129-dbb3-4d0f-beeb-553dc5da02ec.html" target="element"> 13-25 Verification results </a> </td>
																		<td> <a href="../elements/e4dabb9c-a8e3-44dc-afa3-3488b4999560.html" target="element"> SUP.2.O.4 Defects are identified, recorded and tracked </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d3ce9605-af7e-4c3d-a1b0-81107a8e53af.html" target="element">  </a> </td>
																		<td> <a href="../elements/d3ce9605-af7e-4c3d-a1b0-81107a8e53af.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/6388a129-dbb3-4d0f-beeb-553dc5da02ec.html" target="element"> 13-25 Verification results </a> </td>
																		<td> <a href="../elements/9725a5dd-38df-42e2-80b9-4e7d4851fe7e.html" target="element"> SUP.2.O.5 Results of the verification activities are made available to the customer and other involved parties </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/c2f30700-32d6-450b-8ee2-f2f819612784.html" target="element">  </a> </td>
																		<td> <a href="../elements/c2f30700-32d6-450b-8ee2-f2f819612784.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/3400d0a7-31c3-46f8-8e99-a25fad4ca5d5.html" target="element"> 14-02 Corrective Action Register </a> </td>
																		<td> <a href="../elements/e4dabb9c-a8e3-44dc-afa3-3488b4999560.html" target="element"> SUP.2.O.4 Defects are identified, recorded and tracked </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/c09ed235-88a4-4e4c-a5fd-ef03b3a04a87.html" target="element">  </a> </td>
																		<td> <a href="../elements/c09ed235-88a4-4e4c-a5fd-ef03b3a04a87.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/a032d5d9-744a-4cbf-a243-da4f7cfec2c1.html" target="element"> 18-07 Quality criteria </a> </td>
																		<td> <a href="../elements/14bd7f8e-5a1c-4792-b57c-c2daeb188671.html" target="element"> SUP.2.O.2 Criteria for verification of all required work products are identified </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/02adda69-0787-40e3-b437-ae8f3cd140b1.html" target="element">  </a> </td>
																		<td> <a href="../elements/02adda69-0787-40e3-b437-ae8f3cd140b1.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/e030c25a-3e79-4bfc-ad2e-35fc4df38a0a.html" target="element"> 19-10 Verification strategy </a> </td>
																		<td> <a href="../elements/59fc594f-b0fe-459a-a207-dff67152ad70.html" target="element"> SUP.2.O.1 A verification strategy is developed, implemented and maintained </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/c201295c-f8f1-4df6-847b-9efa1c2f0370.html" target="element">  </a> </td>
																		<td> <a href="../elements/c201295c-f8f1-4df6-847b-9efa1c2f0370.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/cf02777e-a319-42fb-876d-9db17f98f9ab.html" target="element"> SUP.2.BP3 Conduct verification </a> </td>
																		<td> <a href="../elements/d6a72350-889c-4cfc-ade2-9b124e0a2447.html" target="element"> SUP.2.O.3 Required verification activities are performed </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/1277d2d2-70b9-4757-a853-50c8b327d11f.html" target="element">  </a> </td>
																		<td> <a href="../elements/1277d2d2-70b9-4757-a853-50c8b327d11f.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/b373bc0b-c63d-4e87-b636-29bc14bbf9d6.html" target="element"> SUP.2.BP2 Develop criteria for verification </a> </td>
																		<td> <a href="../elements/14bd7f8e-5a1c-4792-b57c-c2daeb188671.html" target="element"> SUP.2.O.2 Criteria for verification of all required work products are identified </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/8386a2e9-41d1-4809-a4d5-1c656cb6160c.html" target="element">  </a> </td>
																		<td> <a href="../elements/8386a2e9-41d1-4809-a4d5-1c656cb6160c.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/65378d3b-2aba-427d-9f41-c592f6688a05.html" target="element"> SUP.2.BP5 Report verification results </a> </td>
																		<td> <a href="../elements/9725a5dd-38df-42e2-80b9-4e7d4851fe7e.html" target="element"> SUP.2.O.5 Results of the verification activities are made available to the customer and other involved parties </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/75f412b1-e6f7-49dd-8fb5-e71698d58562.html" target="element">  </a> </td>
																		<td> <a href="../elements/75f412b1-e6f7-49dd-8fb5-e71698d58562.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/1876b319-c2f3-4011-9c43-b8380865e508.html" target="element"> SUP.2.BP4 Determine and track actions for verification results </a> </td>
																		<td> <a href="../elements/e4dabb9c-a8e3-44dc-afa3-3488b4999560.html" target="element"> SUP.2.O.4 Defects are identified, recorded and tracked </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/22857126-74f1-48a3-9cb2-0c32bd650a77.html" target="element">  </a> </td>
																		<td> <a href="../elements/22857126-74f1-48a3-9cb2-0c32bd650a77.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/e3d3948a-c13d-4999-8c11-d63c76ac18bc.html" target="element"> SUP.2.BP1 Develop a verification strategy </a> </td>
																		<td> <a href="../elements/59fc594f-b0fe-459a-a207-dff67152ad70.html" target="element"> SUP.2.O.1 A verification strategy is developed, implemented and maintained </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>