<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>O. vs. BP. vs. WP. - SWE.1 Software Requirements Analysis</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>O. vs. BP. vs. WP. - SWE.1 Software Requirements Analysis</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/73004618-6d8c-4773-aae0-afb94660d0ed.png" alt="O. vs. BP. vs. WP. - SWE.1 Software Requirements Analysis" usemap="#73004618-6d8c-4773-aae0-afb94660d0edmap"/>
			   <map name="73004618-6d8c-4773-aae0-afb94660d0edmap">
				  		<area shape="rect" coords="1522,598,1727,653" href="../elements/4ead5dc6-3900-488e-8d49-1be9c4ae2850.html"  target="element">
				  		<area shape="rect" coords="1306,598,1511,653" href="../elements/9e337f65-5885-4f82-9ae3-2ada16611918.html"  target="element">
				  		<area shape="rect" coords="1090,598,1295,653" href="../elements/b846e279-64bb-4f1d-b21c-88ec6d53ed0a.html"  target="element">
				  		<area shape="rect" coords="874,598,1079,653" href="../elements/46ef0390-c285-4923-8ce6-e9680248ce42.html"  target="element">
				  		<area shape="rect" coords="658,598,863,653" href="../elements/27d1998c-afb9-4d93-9df6-b6d8ff6e8a0e.html"  target="element">
				  		<area shape="rect" coords="442,598,647,653" href="../elements/90ada978-e397-4600-878f-60e697a70705.html"  target="element">
				  		<area shape="rect" coords="226,598,431,653" href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html"  target="element">
				  		<area shape="rect" coords="10,598,215,653" href="../elements/5efb4ce2-8b5c-4d23-ae68-5f1b0bb0bd95.html"  target="element">
				  		<area shape="rect" coords="1354,10,1535,65" href="../elements/367f3454-f8e8-4bc2-b718-51f3b5910261.html"  target="element">
				  		<area shape="rect" coords="1162,10,1343,65" href="../elements/4ad462f9-3b2f-4897-9261-698c81322ba8.html"  target="element">
				  		<area shape="rect" coords="970,10,1151,65" href="../elements/bdbc5bc0-9569-4ded-8621-3e6d3dea35dd.html"  target="element">
				  		<area shape="rect" coords="10,10,191,65" href="../elements/50c3f31d-bcda-4fa8-8bb5-3495c24a3a35.html"  target="element">
				  		<area shape="rect" coords="586,10,767,65" href="../elements/c2d9a8f6-acd0-4d23-9fa2-01ac989098b0.html"  target="element">
				  		<area shape="rect" coords="778,10,959,65" href="../elements/f4c42d4c-3f22-49ca-a398-38f925494b92.html"  target="element">
				  		<area shape="rect" coords="202,10,383,65" href="../elements/eeef1ea2-79cb-48ea-bd00-54ed92e837a4.html"  target="element">
				  		<area shape="rect" coords="394,10,575,65" href="../elements/bdc63ae1-7ecc-4459-b220-ed8c83b5a3c0.html"  target="element">
				  		<area shape="rect" coords="10,490,1633,524" href="../elements/455bfb8e-f341-45c4-b09b-f6fe66285855.html"  target="element">
				  		<area shape="rect" coords="10,442,1633,476" href="../elements/98c6d4e9-01c8-4e98-ad7b-a269942557c6.html"  target="element">
				  		<area shape="rect" coords="10,394,1633,428" href="../elements/77e334a6-360d-4bbd-ba8a-eefde484d945.html"  target="element">
				  		<area shape="rect" coords="10,346,1633,380" href="../elements/c1dd5b9b-15a9-42b1-a5f1-435b0b3d1c26.html"  target="element">
				  		<area shape="rect" coords="10,298,1633,332" href="../elements/827495a7-faf8-4e13-b7a3-2fa2bf789ff1.html"  target="element">
				  		<area shape="rect" coords="10,250,1633,284" href="../elements/75b8d491-aca5-45d9-a872-b7ea3c693fa7.html"  target="element">
				  		<area shape="rect" coords="10,202,1633,236" href="../elements/e7a5e1f8-24d3-4aff-b349-876e4aa06f35.html"  target="element">
				  		<area shape="rect" coords="10,154,1633,188" href="../elements/dc0e6f91-f881-4b1a-b443-43d32d6f98a4.html"  target="element">
				          <area shape="rect" coords="10,742,839,875" href="../objects/afe07a0d-fb4f-45ac-8d1a-c508f3ceb1cf.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">This view answers the following questions:
- If I implement and deploy the Base Practice (BP) ***, how can I verify if I did it properly? What outcomes shall be achieved?
- If I implement and demploy the Outcome Work Product ***, how can I verify if I did it properly? What outcomes shall be achieved?

Scope of this view - Outcomes, Base Practices and their relations for ASPICE process SWE.1 Software Requirements Analysis

Latest version and docs can be found here: https://github.com/alef1986/ASPICE-Archi</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/afe07a0d-fb4f-45ac-8d1a-c508f3ceb1cf.html" target="element">  </a> </td>
									           <td> <a href="../objects/afe07a0d-fb4f-45ac-8d1a-c508f3ceb1cf.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/dc0e6f91-f881-4b1a-b443-43d32d6f98a4.html" target="element"> SWE.1.O.1 The software requirements to be allocated to the software elements ofthe system and their interfaces are defined </a> </td>
											    <td> <a href="../elements/dc0e6f91-f881-4b1a-b443-43d32d6f98a4.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e7a5e1f8-24d3-4aff-b349-876e4aa06f35.html" target="element"> SWE.1.O.2 Software requirements are categorized and analyzed for correctness and verifiability </a> </td>
											    <td> <a href="../elements/e7a5e1f8-24d3-4aff-b349-876e4aa06f35.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/75b8d491-aca5-45d9-a872-b7ea3c693fa7.html" target="element"> SWE.1.O.3 The impact of software requirements on the operating environment is analyzed </a> </td>
											    <td> <a href="../elements/75b8d491-aca5-45d9-a872-b7ea3c693fa7.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/827495a7-faf8-4e13-b7a3-2fa2bf789ff1.html" target="element"> SWE.1.O.4 Prioritization for implementing the software requirements is defined </a> </td>
											    <td> <a href="../elements/827495a7-faf8-4e13-b7a3-2fa2bf789ff1.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c1dd5b9b-15a9-42b1-a5f1-435b0b3d1c26.html" target="element"> SWE.1.O.5 The software requirements are updated as needed </a> </td>
											    <td> <a href="../elements/c1dd5b9b-15a9-42b1-a5f1-435b0b3d1c26.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/77e334a6-360d-4bbd-ba8a-eefde484d945.html" target="element"> SWE.1.O.6 Consistency and bidirectional traceability are established between system requirements and software requirements; and consistency and bidirectional traceability are established between system architectural design and software requirements </a> </td>
											    <td> <a href="../elements/77e334a6-360d-4bbd-ba8a-eefde484d945.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/98c6d4e9-01c8-4e98-ad7b-a269942557c6.html" target="element"> SWE.1.O.7 The software requirements are evaluated for cost, schedule andtechnical impact </a> </td>
											    <td> <a href="../elements/98c6d4e9-01c8-4e98-ad7b-a269942557c6.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/455bfb8e-f341-45c4-b09b-f6fe66285855.html" target="element"> SWE.1.O.8 The software requirements are agreed and communicated to allaffected parties </a> </td>
											    <td> <a href="../elements/455bfb8e-f341-45c4-b09b-f6fe66285855.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/bdc63ae1-7ecc-4459-b220-ed8c83b5a3c0.html" target="element"> SWE.1.BP3 Analyze software requirements </a> </td>
											    <td> <a href="../elements/bdc63ae1-7ecc-4459-b220-ed8c83b5a3c0.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/eeef1ea2-79cb-48ea-bd00-54ed92e837a4.html" target="element"> SWE.1.BP2 Structure software requirements </a> </td>
											    <td> <a href="../elements/eeef1ea2-79cb-48ea-bd00-54ed92e837a4.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f4c42d4c-3f22-49ca-a398-38f925494b92.html" target="element"> SWE.1.BP5 Develop verification criteria </a> </td>
											    <td> <a href="../elements/f4c42d4c-3f22-49ca-a398-38f925494b92.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c2d9a8f6-acd0-4d23-9fa2-01ac989098b0.html" target="element"> SWE.1.BP4 Analyze the impact on the operating environment </a> </td>
											    <td> <a href="../elements/c2d9a8f6-acd0-4d23-9fa2-01ac989098b0.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/50c3f31d-bcda-4fa8-8bb5-3495c24a3a35.html" target="element"> SWE.1.BP1 Specify software requirements </a> </td>
											    <td> <a href="../elements/50c3f31d-bcda-4fa8-8bb5-3495c24a3a35.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/bdbc5bc0-9569-4ded-8621-3e6d3dea35dd.html" target="element"> SWE.1.BP6 Establish bidirectional traceability </a> </td>
											    <td> <a href="../elements/bdbc5bc0-9569-4ded-8621-3e6d3dea35dd.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4ad462f9-3b2f-4897-9261-698c81322ba8.html" target="element"> SWE.1.BP7 Ensure consistency </a> </td>
											    <td> <a href="../elements/4ad462f9-3b2f-4897-9261-698c81322ba8.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/367f3454-f8e8-4bc2-b718-51f3b5910261.html" target="element"> SWE.1.BP8 Communicate agreed software requirements </a> </td>
											    <td> <a href="../elements/367f3454-f8e8-4bc2-b718-51f3b5910261.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5efb4ce2-8b5c-4d23-ae68-5f1b0bb0bd95.html" target="element"> 11-04 Product release package </a> </td>
											    <td> <a href="../elements/5efb4ce2-8b5c-4d23-ae68-5f1b0bb0bd95.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element"> 13-19 Review Record </a> </td>
											    <td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/90ada978-e397-4600-878f-60e697a70705.html" target="element"> 13-21 Change control record </a> </td>
											    <td> <a href="../elements/90ada978-e397-4600-878f-60e697a70705.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/27d1998c-afb9-4d93-9df6-b6d8ff6e8a0e.html" target="element"> 13-22 Traceability record  </a> </td>
											    <td> <a href="../elements/27d1998c-afb9-4d93-9df6-b6d8ff6e8a0e.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/46ef0390-c285-4923-8ce6-e9680248ce42.html" target="element"> 15-01 Analysis report </a> </td>
											    <td> <a href="../elements/46ef0390-c285-4923-8ce6-e9680248ce42.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b846e279-64bb-4f1d-b21c-88ec6d53ed0a.html" target="element"> 17-08 Interface requirements specification </a> </td>
											    <td> <a href="../elements/b846e279-64bb-4f1d-b21c-88ec6d53ed0a.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9e337f65-5885-4f82-9ae3-2ada16611918.html" target="element"> 17-11 Software requirements specification </a> </td>
											    <td> <a href="../elements/9e337f65-5885-4f82-9ae3-2ada16611918.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4ead5dc6-3900-488e-8d49-1be9c4ae2850.html" target="element"> 17-50 Verification criteria </a> </td>
											    <td> <a href="../elements/4ead5dc6-3900-488e-8d49-1be9c4ae2850.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/5efeb937-4fa9-4b47-98e7-d250ec194d55.html" target="element">  </a> </td>
																		<td> <a href="../elements/5efeb937-4fa9-4b47-98e7-d250ec194d55.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/bdc63ae1-7ecc-4459-b220-ed8c83b5a3c0.html" target="element"> SWE.1.BP3 Analyze software requirements </a> </td>
																		<td> <a href="../elements/e7a5e1f8-24d3-4aff-b349-876e4aa06f35.html" target="element"> SWE.1.O.2 Software requirements are categorized and analyzed for correctness and verifiability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/40035247-f015-42f9-8ea5-c80db3e57810.html" target="element">  </a> </td>
																		<td> <a href="../elements/40035247-f015-42f9-8ea5-c80db3e57810.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/bdc63ae1-7ecc-4459-b220-ed8c83b5a3c0.html" target="element"> SWE.1.BP3 Analyze software requirements </a> </td>
																		<td> <a href="../elements/98c6d4e9-01c8-4e98-ad7b-a269942557c6.html" target="element"> SWE.1.O.7 The software requirements are evaluated for cost, schedule andtechnical impact </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/53185319-4648-453d-8170-96563f73fb87.html" target="element">  </a> </td>
																		<td> <a href="../elements/53185319-4648-453d-8170-96563f73fb87.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/eeef1ea2-79cb-48ea-bd00-54ed92e837a4.html" target="element"> SWE.1.BP2 Structure software requirements </a> </td>
																		<td> <a href="../elements/e7a5e1f8-24d3-4aff-b349-876e4aa06f35.html" target="element"> SWE.1.O.2 Software requirements are categorized and analyzed for correctness and verifiability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b578a02e-2fa7-42ed-b73b-f8da481289b9.html" target="element">  </a> </td>
																		<td> <a href="../elements/b578a02e-2fa7-42ed-b73b-f8da481289b9.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/eeef1ea2-79cb-48ea-bd00-54ed92e837a4.html" target="element"> SWE.1.BP2 Structure software requirements </a> </td>
																		<td> <a href="../elements/827495a7-faf8-4e13-b7a3-2fa2bf789ff1.html" target="element"> SWE.1.O.4 Prioritization for implementing the software requirements is defined </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/2a955157-8403-44ac-8640-3589b0902037.html" target="element">  </a> </td>
																		<td> <a href="../elements/2a955157-8403-44ac-8640-3589b0902037.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/f4c42d4c-3f22-49ca-a398-38f925494b92.html" target="element"> SWE.1.BP5 Develop verification criteria </a> </td>
																		<td> <a href="../elements/e7a5e1f8-24d3-4aff-b349-876e4aa06f35.html" target="element"> SWE.1.O.2 Software requirements are categorized and analyzed for correctness and verifiability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/cd1a6739-d4a0-48bf-93ef-3703279518c5.html" target="element">  </a> </td>
																		<td> <a href="../elements/cd1a6739-d4a0-48bf-93ef-3703279518c5.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/f4c42d4c-3f22-49ca-a398-38f925494b92.html" target="element"> SWE.1.BP5 Develop verification criteria </a> </td>
																		<td> <a href="../elements/98c6d4e9-01c8-4e98-ad7b-a269942557c6.html" target="element"> SWE.1.O.7 The software requirements are evaluated for cost, schedule andtechnical impact </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/a23c8e9b-ddc2-49ab-991b-be1f57eba95c.html" target="element">  </a> </td>
																		<td> <a href="../elements/a23c8e9b-ddc2-49ab-991b-be1f57eba95c.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/c2d9a8f6-acd0-4d23-9fa2-01ac989098b0.html" target="element"> SWE.1.BP4 Analyze the impact on the operating environment </a> </td>
																		<td> <a href="../elements/75b8d491-aca5-45d9-a872-b7ea3c693fa7.html" target="element"> SWE.1.O.3 The impact of software requirements on the operating environment is analyzed </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0af2c05c-3e03-4e3f-89b9-6d169a477e7a.html" target="element">  </a> </td>
																		<td> <a href="../elements/0af2c05c-3e03-4e3f-89b9-6d169a477e7a.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/c2d9a8f6-acd0-4d23-9fa2-01ac989098b0.html" target="element"> SWE.1.BP4 Analyze the impact on the operating environment </a> </td>
																		<td> <a href="../elements/98c6d4e9-01c8-4e98-ad7b-a269942557c6.html" target="element"> SWE.1.O.7 The software requirements are evaluated for cost, schedule andtechnical impact </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/3dd4e116-d09e-4a2e-bddb-99d397dd14c7.html" target="element">  </a> </td>
																		<td> <a href="../elements/3dd4e116-d09e-4a2e-bddb-99d397dd14c7.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/50c3f31d-bcda-4fa8-8bb5-3495c24a3a35.html" target="element"> SWE.1.BP1 Specify software requirements </a> </td>
																		<td> <a href="../elements/dc0e6f91-f881-4b1a-b443-43d32d6f98a4.html" target="element"> SWE.1.O.1 The software requirements to be allocated to the software elements ofthe system and their interfaces are defined </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2b6576cd-a6e4-4202-9c67-b72c2fbe8303.html" target="element">  </a> </td>
																		<td> <a href="../elements/2b6576cd-a6e4-4202-9c67-b72c2fbe8303.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/50c3f31d-bcda-4fa8-8bb5-3495c24a3a35.html" target="element"> SWE.1.BP1 Specify software requirements </a> </td>
																		<td> <a href="../elements/c1dd5b9b-15a9-42b1-a5f1-435b0b3d1c26.html" target="element"> SWE.1.O.5 The software requirements are updated as needed </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f4793d7c-9052-4c86-a859-3f9217003549.html" target="element">  </a> </td>
																		<td> <a href="../elements/f4793d7c-9052-4c86-a859-3f9217003549.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/50c3f31d-bcda-4fa8-8bb5-3495c24a3a35.html" target="element"> SWE.1.BP1 Specify software requirements </a> </td>
																		<td> <a href="../elements/98c6d4e9-01c8-4e98-ad7b-a269942557c6.html" target="element"> SWE.1.O.7 The software requirements are evaluated for cost, schedule andtechnical impact </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/f525b73e-5497-4ab5-b2b5-fb9123820e66.html" target="element">  </a> </td>
																		<td> <a href="../elements/f525b73e-5497-4ab5-b2b5-fb9123820e66.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/bdbc5bc0-9569-4ded-8621-3e6d3dea35dd.html" target="element"> SWE.1.BP6 Establish bidirectional traceability </a> </td>
																		<td> <a href="../elements/77e334a6-360d-4bbd-ba8a-eefde484d945.html" target="element"> SWE.1.O.6 Consistency and bidirectional traceability are established between system requirements and software requirements; and consistency and bidirectional traceability are established between system architectural design and software requirements </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/a2174712-3e29-42bd-95ec-ca7847f2e427.html" target="element">  </a> </td>
																		<td> <a href="../elements/a2174712-3e29-42bd-95ec-ca7847f2e427.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/4ad462f9-3b2f-4897-9261-698c81322ba8.html" target="element"> SWE.1.BP7 Ensure consistency </a> </td>
																		<td> <a href="../elements/77e334a6-360d-4bbd-ba8a-eefde484d945.html" target="element"> SWE.1.O.6 Consistency and bidirectional traceability are established between system requirements and software requirements; and consistency and bidirectional traceability are established between system architectural design and software requirements </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/33d609ad-d478-4b3b-a1aa-8817afab5439.html" target="element">  </a> </td>
																		<td> <a href="../elements/33d609ad-d478-4b3b-a1aa-8817afab5439.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/367f3454-f8e8-4bc2-b718-51f3b5910261.html" target="element"> SWE.1.BP8 Communicate agreed software requirements </a> </td>
																		<td> <a href="../elements/455bfb8e-f341-45c4-b09b-f6fe66285855.html" target="element"> SWE.1.O.8 The software requirements are agreed and communicated to allaffected parties </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/fa02d3f5-ba9d-4517-9dd0-50eb46daaf78.html" target="element">  </a> </td>
																		<td> <a href="../elements/fa02d3f5-ba9d-4517-9dd0-50eb46daaf78.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/5efb4ce2-8b5c-4d23-ae68-5f1b0bb0bd95.html" target="element"> 11-04 Product release package </a> </td>
																		<td> <a href="../elements/455bfb8e-f341-45c4-b09b-f6fe66285855.html" target="element"> SWE.1.O.8 The software requirements are agreed and communicated to allaffected parties </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/d0e23335-6155-4033-81ae-534cb8d24c35.html" target="element">  </a> </td>
																		<td> <a href="../elements/d0e23335-6155-4033-81ae-534cb8d24c35.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element"> 13-19 Review Record </a> </td>
																		<td> <a href="../elements/77e334a6-360d-4bbd-ba8a-eefde484d945.html" target="element"> SWE.1.O.6 Consistency and bidirectional traceability are established between system requirements and software requirements; and consistency and bidirectional traceability are established between system architectural design and software requirements </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/d46c1171-7f10-4aa0-85c4-9d3427a8db6b.html" target="element">  </a> </td>
																		<td> <a href="../elements/d46c1171-7f10-4aa0-85c4-9d3427a8db6b.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/90ada978-e397-4600-878f-60e697a70705.html" target="element"> 13-21 Change control record </a> </td>
																		<td> <a href="../elements/c1dd5b9b-15a9-42b1-a5f1-435b0b3d1c26.html" target="element"> SWE.1.O.5 The software requirements are updated as needed </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4be8346a-6853-41aa-817e-45054c17719d.html" target="element">  </a> </td>
																		<td> <a href="../elements/4be8346a-6853-41aa-817e-45054c17719d.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/90ada978-e397-4600-878f-60e697a70705.html" target="element"> 13-21 Change control record </a> </td>
																		<td> <a href="../elements/98c6d4e9-01c8-4e98-ad7b-a269942557c6.html" target="element"> SWE.1.O.7 The software requirements are evaluated for cost, schedule andtechnical impact </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/a098eb05-0592-4f08-a98d-b005b862286a.html" target="element">  </a> </td>
																		<td> <a href="../elements/a098eb05-0592-4f08-a98d-b005b862286a.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/27d1998c-afb9-4d93-9df6-b6d8ff6e8a0e.html" target="element"> 13-22 Traceability record  </a> </td>
																		<td> <a href="../elements/dc0e6f91-f881-4b1a-b443-43d32d6f98a4.html" target="element"> SWE.1.O.1 The software requirements to be allocated to the software elements ofthe system and their interfaces are defined </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b39f42a6-6759-4af2-bf92-85124d74b6cf.html" target="element">  </a> </td>
																		<td> <a href="../elements/b39f42a6-6759-4af2-bf92-85124d74b6cf.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/27d1998c-afb9-4d93-9df6-b6d8ff6e8a0e.html" target="element"> 13-22 Traceability record  </a> </td>
																		<td> <a href="../elements/77e334a6-360d-4bbd-ba8a-eefde484d945.html" target="element"> SWE.1.O.6 Consistency and bidirectional traceability are established between system requirements and software requirements; and consistency and bidirectional traceability are established between system architectural design and software requirements </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/960213cb-ed53-40ed-b19e-7165beb5f8fd.html" target="element">  </a> </td>
																		<td> <a href="../elements/960213cb-ed53-40ed-b19e-7165beb5f8fd.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/46ef0390-c285-4923-8ce6-e9680248ce42.html" target="element"> 15-01 Analysis report </a> </td>
																		<td> <a href="../elements/e7a5e1f8-24d3-4aff-b349-876e4aa06f35.html" target="element"> SWE.1.O.2 Software requirements are categorized and analyzed for correctness and verifiability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/dc2bc175-f098-4f95-a544-6ec89ba5d682.html" target="element">  </a> </td>
																		<td> <a href="../elements/dc2bc175-f098-4f95-a544-6ec89ba5d682.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/46ef0390-c285-4923-8ce6-e9680248ce42.html" target="element"> 15-01 Analysis report </a> </td>
																		<td> <a href="../elements/75b8d491-aca5-45d9-a872-b7ea3c693fa7.html" target="element"> SWE.1.O.3 The impact of software requirements on the operating environment is analyzed </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/430ce892-7102-40f6-91a0-f5fc6fb2264d.html" target="element">  </a> </td>
																		<td> <a href="../elements/430ce892-7102-40f6-91a0-f5fc6fb2264d.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/46ef0390-c285-4923-8ce6-e9680248ce42.html" target="element"> 15-01 Analysis report </a> </td>
																		<td> <a href="../elements/827495a7-faf8-4e13-b7a3-2fa2bf789ff1.html" target="element"> SWE.1.O.4 Prioritization for implementing the software requirements is defined </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c7ec587e-1fb6-4290-9c1f-e0cfcfaabd23.html" target="element">  </a> </td>
																		<td> <a href="../elements/c7ec587e-1fb6-4290-9c1f-e0cfcfaabd23.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/46ef0390-c285-4923-8ce6-e9680248ce42.html" target="element"> 15-01 Analysis report </a> </td>
																		<td> <a href="../elements/98c6d4e9-01c8-4e98-ad7b-a269942557c6.html" target="element"> SWE.1.O.7 The software requirements are evaluated for cost, schedule andtechnical impact </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/2fcde1c6-5fa0-4c77-b57b-6617631bf05d.html" target="element">  </a> </td>
																		<td> <a href="../elements/2fcde1c6-5fa0-4c77-b57b-6617631bf05d.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/b846e279-64bb-4f1d-b21c-88ec6d53ed0a.html" target="element"> 17-08 Interface requirements specification </a> </td>
																		<td> <a href="../elements/dc0e6f91-f881-4b1a-b443-43d32d6f98a4.html" target="element"> SWE.1.O.1 The software requirements to be allocated to the software elements ofthe system and their interfaces are defined </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/35db76b2-1983-45ae-8a79-8eb171b45a73.html" target="element">  </a> </td>
																		<td> <a href="../elements/35db76b2-1983-45ae-8a79-8eb171b45a73.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/b846e279-64bb-4f1d-b21c-88ec6d53ed0a.html" target="element"> 17-08 Interface requirements specification </a> </td>
																		<td> <a href="../elements/75b8d491-aca5-45d9-a872-b7ea3c693fa7.html" target="element"> SWE.1.O.3 The impact of software requirements on the operating environment is analyzed </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/c54fdaa8-ba86-4878-85c2-6cda5b825373.html" target="element">  </a> </td>
																		<td> <a href="../elements/c54fdaa8-ba86-4878-85c2-6cda5b825373.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/9e337f65-5885-4f82-9ae3-2ada16611918.html" target="element"> 17-11 Software requirements specification </a> </td>
																		<td> <a href="../elements/dc0e6f91-f881-4b1a-b443-43d32d6f98a4.html" target="element"> SWE.1.O.1 The software requirements to be allocated to the software elements ofthe system and their interfaces are defined </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/5c90dfe7-f5ba-4f13-ae79-30488d23b0d0.html" target="element">  </a> </td>
																		<td> <a href="../elements/5c90dfe7-f5ba-4f13-ae79-30488d23b0d0.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/4ead5dc6-3900-488e-8d49-1be9c4ae2850.html" target="element"> 17-50 Verification criteria </a> </td>
																		<td> <a href="../elements/e7a5e1f8-24d3-4aff-b349-876e4aa06f35.html" target="element"> SWE.1.O.2 Software requirements are categorized and analyzed for correctness and verifiability </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>