<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>O. vs. BP. vs. WP. - ACQ.15 Supplier Qualification</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>O. vs. BP. vs. WP. - ACQ.15 Supplier Qualification</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/76a789c7-21f6-41ed-b330-8c729aa42c07.png" alt="O. vs. BP. vs. WP. - ACQ.15 Supplier Qualification" usemap="#76a789c7-21f6-41ed-b330-8c729aa42c07map"/>
			   <map name="76a789c7-21f6-41ed-b330-8c729aa42c07map">
				  		<area shape="rect" coords="850,622,1030,677" href="../views/c4f9bea9-d67e-49ab-992b-443c5c171522.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="850,683,1030,738" href="../views/9e94f80f-8775-4044-8110-6a872c99ec05.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="610,10,888,65" href="../elements/b487093c-7eaf-4275-a0e1-97e609d3663e.html"  target="element">
				  		<area shape="rect" coords="310,10,588,65" href="../elements/937075ef-010b-47a8-aa82-2bfb68b2f1a3.html"  target="element">
				  		<area shape="rect" coords="1210,10,1488,65" href="../elements/2c234679-db87-4ead-a96b-333e3121ba3e.html"  target="element">
				  		<area shape="rect" coords="910,10,1188,65" href="../elements/512a8fa9-4cde-4ece-9bfc-ed6ade1cd56d.html"  target="element">
				  		<area shape="rect" coords="10,10,288,65" href="../elements/605a032d-6219-40af-9e6c-a6403f21fdb6.html"  target="element">
				  		<area shape="rect" coords="1018,502,1223,557" href="../elements/828230d5-a696-45de-b7de-7180a357930c.html"  target="element">
				  		<area shape="rect" coords="766,502,971,557" href="../elements/97a550ee-ecc5-457d-95bb-bee4f337b74d.html"  target="element">
				  		<area shape="rect" coords="514,502,719,557" href="../elements/e173dafe-ae34-4b4d-981b-f1ee2d29edb3.html"  target="element">
				  		<area shape="rect" coords="262,502,467,557" href="../elements/cee9d6eb-9bbb-4886-9cb8-da655ebf05ea.html"  target="element">
				  		<area shape="rect" coords="10,502,215,557" href="../elements/3400d0a7-31c3-46f8-8e99-a25fad4ca5d5.html"  target="element">
				  		<area shape="rect" coords="10,358,1727,392" href="../elements/d1a1212e-327e-43d0-b331-60daa8c5dfe8.html"  target="element">
				  		<area shape="rect" coords="10,310,1727,344" href="../elements/0223923b-95f6-447e-adcc-bfc6f31e95b3.html"  target="element">
				  		<area shape="rect" coords="10,262,1727,296" href="../elements/c2b53143-8280-465e-8e3c-e4133bdbb8d8.html"  target="element">
				  		<area shape="rect" coords="10,214,1727,248" href="../elements/d1b483e1-fd35-4972-9677-a2fe4029a712.html"  target="element">
				  		<area shape="rect" coords="10,166,1727,200" href="../elements/f47c27c1-6335-4d3d-88f3-54a0f7de5401.html"  target="element">
				          <area shape="rect" coords="10,622,839,738" href="../objects/4ac526b3-9e9c-43a5-be04-69d292cc8815.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">This view answers the following questions:
- If I implement and deploy the Base Practice (BP) ***, how can I verify if I did it properly? What outcomes shall be achieved?
- If I implement and demploy the Outcome Work Product ***, how can I verify if I did it properly? What outcomes shall be achieved?

Scope of this view - Outcomes, Base Practices and their relations for ASPICE process ACQ.15 Supplier Qualification

Latest version and docs can be found here: https://github.com/alef1986/ASPICE-Archi</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/4ac526b3-9e9c-43a5-be04-69d292cc8815.html" target="element">  </a> </td>
									           <td> <a href="../objects/4ac526b3-9e9c-43a5-be04-69d292cc8815.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/f47c27c1-6335-4d3d-88f3-54a0f7de5401.html" target="element"> ACQ.15.O.1 Criteria are established for qualifying suppliers </a> </td>
											    <td> <a href="../elements/f47c27c1-6335-4d3d-88f3-54a0f7de5401.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d1b483e1-fd35-4972-9677-a2fe4029a712.html" target="element"> ACQ.15.O.2 Supplier capability determination is performed as necessary </a> </td>
											    <td> <a href="../elements/d1b483e1-fd35-4972-9677-a2fe4029a712.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c2b53143-8280-465e-8e3c-e4133bdbb8d8.html" target="element"> ACQ.15.O.3 The suppliers which possess required qualification are short-listed fortender solution(s) evaluation </a> </td>
											    <td> <a href="../elements/c2b53143-8280-465e-8e3c-e4133bdbb8d8.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0223923b-95f6-447e-adcc-bfc6f31e95b3.html" target="element"> ACQ.15.O.4 Any shortfalls in capability are identified and evaluated </a> </td>
											    <td> <a href="../elements/0223923b-95f6-447e-adcc-bfc6f31e95b3.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d1a1212e-327e-43d0-b331-60daa8c5dfe8.html" target="element"> ACQ.15.O.5 Any corrective action required by the acquirer is evaluated andperformed </a> </td>
											    <td> <a href="../elements/d1a1212e-327e-43d0-b331-60daa8c5dfe8.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3400d0a7-31c3-46f8-8e99-a25fad4ca5d5.html" target="element"> 14-02 Corrective Action Register </a> </td>
											    <td> <a href="../elements/3400d0a7-31c3-46f8-8e99-a25fad4ca5d5.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cee9d6eb-9bbb-4886-9cb8-da655ebf05ea.html" target="element"> 14-05 Preferred suppliers register </a> </td>
											    <td> <a href="../elements/cee9d6eb-9bbb-4886-9cb8-da655ebf05ea.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e173dafe-ae34-4b4d-981b-f1ee2d29edb3.html" target="element"> 15-16 Improvement opportunity </a> </td>
											    <td> <a href="../elements/e173dafe-ae34-4b4d-981b-f1ee2d29edb3.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/97a550ee-ecc5-457d-95bb-bee4f337b74d.html" target="element"> 15-21 Supplier evaluation report </a> </td>
											    <td> <a href="../elements/97a550ee-ecc5-457d-95bb-bee4f337b74d.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/828230d5-a696-45de-b7de-7180a357930c.html" target="element"> 18-50 Supplier qualification criteria </a> </td>
											    <td> <a href="../elements/828230d5-a696-45de-b7de-7180a357930c.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/605a032d-6219-40af-9e6c-a6403f21fdb6.html" target="element"> ACQ.15.BP1 Establish qualification criteria </a> </td>
											    <td> <a href="../elements/605a032d-6219-40af-9e6c-a6403f21fdb6.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/512a8fa9-4cde-4ece-9bfc-ed6ade1cd56d.html" target="element"> ACQ.15.BP4 Evaluate any shortfalls </a> </td>
											    <td> <a href="../elements/512a8fa9-4cde-4ece-9bfc-ed6ade1cd56d.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2c234679-db87-4ead-a96b-333e3121ba3e.html" target="element"> ACQ.15.BP5 Perform corrective actions </a> </td>
											    <td> <a href="../elements/2c234679-db87-4ead-a96b-333e3121ba3e.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/937075ef-010b-47a8-aa82-2bfb68b2f1a3.html" target="element"> ACQ.15.BP2 Evaluate supplier </a> </td>
											    <td> <a href="../elements/937075ef-010b-47a8-aa82-2bfb68b2f1a3.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b487093c-7eaf-4275-a0e1-97e609d3663e.html" target="element"> ACQ.15.BP3 Short-list suppliers with required qualification </a> </td>
											    <td> <a href="../elements/b487093c-7eaf-4275-a0e1-97e609d3663e.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../views/9e94f80f-8775-4044-8110-6a872c99ec05.html" target="view"> Overview - Process Reference Model </a> </td>
											    <td> <a href="../views/9e94f80f-8775-4044-8110-6a872c99ec05.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/c4f9bea9-d67e-49ab-992b-443c5c171522.html" target="view"> Overview - ACQ.15 Supplier Qualification </a> </td>
											    <td> <a href="../views/c4f9bea9-d67e-49ab-992b-443c5c171522.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/ddfbf983-5f93-40e8-8fee-e21323084ca1.html" target="element">  </a> </td>
																		<td> <a href="../elements/ddfbf983-5f93-40e8-8fee-e21323084ca1.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/3400d0a7-31c3-46f8-8e99-a25fad4ca5d5.html" target="element"> 14-02 Corrective Action Register </a> </td>
																		<td> <a href="../elements/d1a1212e-327e-43d0-b331-60daa8c5dfe8.html" target="element"> ACQ.15.O.5 Any corrective action required by the acquirer is evaluated andperformed </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/387ea5ef-acdf-4f8c-9b0b-19c5c5ff7fbf.html" target="element">  </a> </td>
																		<td> <a href="../elements/387ea5ef-acdf-4f8c-9b0b-19c5c5ff7fbf.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/cee9d6eb-9bbb-4886-9cb8-da655ebf05ea.html" target="element"> 14-05 Preferred suppliers register </a> </td>
																		<td> <a href="../elements/c2b53143-8280-465e-8e3c-e4133bdbb8d8.html" target="element"> ACQ.15.O.3 The suppliers which possess required qualification are short-listed fortender solution(s) evaluation </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/51168ffd-b747-4716-93cd-8cb7317416f2.html" target="element">  </a> </td>
																		<td> <a href="../elements/51168ffd-b747-4716-93cd-8cb7317416f2.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/e173dafe-ae34-4b4d-981b-f1ee2d29edb3.html" target="element"> 15-16 Improvement opportunity </a> </td>
																		<td> <a href="../elements/0223923b-95f6-447e-adcc-bfc6f31e95b3.html" target="element"> ACQ.15.O.4 Any shortfalls in capability are identified and evaluated </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/ba3ecc38-e802-444b-a679-a12311f6d864.html" target="element">  </a> </td>
																		<td> <a href="../elements/ba3ecc38-e802-444b-a679-a12311f6d864.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/97a550ee-ecc5-457d-95bb-bee4f337b74d.html" target="element"> 15-21 Supplier evaluation report </a> </td>
																		<td> <a href="../elements/d1b483e1-fd35-4972-9677-a2fe4029a712.html" target="element"> ACQ.15.O.2 Supplier capability determination is performed as necessary </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/4b0d45b8-8955-4ffc-88f4-b53c21e25ae9.html" target="element">  </a> </td>
																		<td> <a href="../elements/4b0d45b8-8955-4ffc-88f4-b53c21e25ae9.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/828230d5-a696-45de-b7de-7180a357930c.html" target="element"> 18-50 Supplier qualification criteria </a> </td>
																		<td> <a href="../elements/f47c27c1-6335-4d3d-88f3-54a0f7de5401.html" target="element"> ACQ.15.O.1 Criteria are established for qualifying suppliers </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/850ea943-e170-412f-9aee-24be17f3eb35.html" target="element">  </a> </td>
																		<td> <a href="../elements/850ea943-e170-412f-9aee-24be17f3eb35.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/605a032d-6219-40af-9e6c-a6403f21fdb6.html" target="element"> ACQ.15.BP1 Establish qualification criteria </a> </td>
																		<td> <a href="../elements/f47c27c1-6335-4d3d-88f3-54a0f7de5401.html" target="element"> ACQ.15.O.1 Criteria are established for qualifying suppliers </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/1630d56a-3ee8-4898-82f3-5bb2c6b3337f.html" target="element">  </a> </td>
																		<td> <a href="../elements/1630d56a-3ee8-4898-82f3-5bb2c6b3337f.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/512a8fa9-4cde-4ece-9bfc-ed6ade1cd56d.html" target="element"> ACQ.15.BP4 Evaluate any shortfalls </a> </td>
																		<td> <a href="../elements/0223923b-95f6-447e-adcc-bfc6f31e95b3.html" target="element"> ACQ.15.O.4 Any shortfalls in capability are identified and evaluated </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/a8e13807-db8b-474b-9b69-3ea8ad8c4dd1.html" target="element">  </a> </td>
																		<td> <a href="../elements/a8e13807-db8b-474b-9b69-3ea8ad8c4dd1.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/2c234679-db87-4ead-a96b-333e3121ba3e.html" target="element"> ACQ.15.BP5 Perform corrective actions </a> </td>
																		<td> <a href="../elements/d1a1212e-327e-43d0-b331-60daa8c5dfe8.html" target="element"> ACQ.15.O.5 Any corrective action required by the acquirer is evaluated andperformed </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/922d7029-305d-4504-8cf9-246f18387462.html" target="element">  </a> </td>
																		<td> <a href="../elements/922d7029-305d-4504-8cf9-246f18387462.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/937075ef-010b-47a8-aa82-2bfb68b2f1a3.html" target="element"> ACQ.15.BP2 Evaluate supplier </a> </td>
																		<td> <a href="../elements/d1b483e1-fd35-4972-9677-a2fe4029a712.html" target="element"> ACQ.15.O.2 Supplier capability determination is performed as necessary </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/fe034789-ef86-4aba-b6ca-06c54c66f9f6.html" target="element">  </a> </td>
																		<td> <a href="../elements/fe034789-ef86-4aba-b6ca-06c54c66f9f6.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/b487093c-7eaf-4275-a0e1-97e609d3663e.html" target="element"> ACQ.15.BP3 Short-list suppliers with required qualification </a> </td>
																		<td> <a href="../elements/c2b53143-8280-465e-8e3c-e4133bdbb8d8.html" target="element"> ACQ.15.O.3 The suppliers which possess required qualification are short-listed fortender solution(s) evaluation </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>