<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>O. vs. BP. vs. WP. - MAN.6 Measurement</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>O. vs. BP. vs. WP. - MAN.6 Measurement</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/7bfb0114-0e39-46ed-b6da-41ac05cbad4b.png" alt="O. vs. BP. vs. WP. - MAN.6 Measurement" usemap="#7bfb0114-0e39-46ed-b6da-41ac05cbad4bmap"/>
			   <map name="7bfb0114-0e39-46ed-b6da-41ac05cbad4bmap">
				  		<area shape="rect" coords="1162,82,1415,137" href="../elements/612c14da-cc82-4329-8cdd-896887ac2014.html"  target="element">
				  		<area shape="rect" coords="898,82,1151,137" href="../elements/7fb7d667-d6d9-4083-b86e-9777952363a4.html"  target="element">
				  		<area shape="rect" coords="1330,10,1583,65" href="../elements/1985bfd8-fb1d-4b32-9789-8f9a19fb1841.html"  target="element">
				  		<area shape="rect" coords="274,10,527,65" href="../elements/2288a72e-c2e5-47a7-a4dd-8d3509a2a3b8.html"  target="element">
				  		<area shape="rect" coords="370,82,623,137" href="../elements/f26e1902-7117-4270-89b2-614e480a732f.html"  target="element">
				  		<area shape="rect" coords="538,10,791,65" href="../elements/cd847920-1fef-428d-a3a4-cf91fb784148.html"  target="element">
				  		<area shape="rect" coords="634,82,887,137" href="../elements/5025c615-39d0-43de-8ac5-56881e877319.html"  target="element">
				  		<area shape="rect" coords="106,82,359,137" href="../elements/6852665e-afc7-4ff5-a643-69626d177fb2.html"  target="element">
				  		<area shape="rect" coords="802,10,1055,65" href="../elements/5d448d04-5a8c-4bc2-a399-52787e8c5abf.html"  target="element">
				  		<area shape="rect" coords="1066,10,1319,65" href="../elements/05bc6781-5158-4e19-8849-e9bc7ed36330.html"  target="element">
				  		<area shape="rect" coords="12,10,265,65" href="../elements/e3d68bfb-7ed0-4fbb-a57f-9c981a21655c.html"  target="element">
				  		<area shape="rect" coords="1522,706,1713,761" href="../elements/d4a9b1e7-4ff3-4de7-8025-9f6a37cd5b33.html"  target="element">
				  		<area shape="rect" coords="1318,706,1509,761" href="../elements/e6967389-b126-4ea1-8aef-15bc5bfcb5b7.html"  target="element">
				  		<area shape="rect" coords="1114,706,1305,761" href="../elements/46ef0390-c285-4923-8ce6-e9680248ce42.html"  target="element">
				  		<area shape="rect" coords="910,706,1101,761" href="../elements/03558209-665d-42fc-9c89-298ec64c435d.html"  target="element">
				  		<area shape="rect" coords="708,706,899,761" href="../elements/4b4fbd9b-c81b-418c-aa5f-c078b0d1578a.html"  target="element">
				  		<area shape="rect" coords="502,706,693,761" href="../elements/dda00f8b-9d0a-4a10-a2b0-f91ecdad3162.html"  target="element">
				  		<area shape="rect" coords="298,706,489,761" href="../elements/54e2a5d7-da41-4396-bdbe-aa84a16e85b8.html"  target="element">
				  		<area shape="rect" coords="94,706,285,761" href="../elements/2b17038f-2e3c-46d1-9b85-cc0d9562fdfa.html"  target="element">
				  		<area shape="rect" coords="1234,634,1425,689" href="../elements/1500e5b4-0aec-485e-8692-78b317e8bfdb.html"  target="element">
				  		<area shape="rect" coords="1030,634,1221,689" href="../elements/06903d79-58db-473b-99fd-44d8e92dc595.html"  target="element">
				  		<area shape="rect" coords="826,634,1017,689" href="../elements/dabc4ce7-91e0-4641-b8b2-ff67072878b9.html"  target="element">
				  		<area shape="rect" coords="622,634,813,689" href="../elements/c0cdfde8-fbfb-407e-847e-e1d5247775aa.html"  target="element">
				  		<area shape="rect" coords="418,634,609,689" href="../elements/3a772b8f-e695-411d-9fd6-b4c74512ebe0.html"  target="element">
				  		<area shape="rect" coords="214,634,405,689" href="../elements/8f01b755-05ee-4559-9c51-8591c3bf887a.html"  target="element">
				  		<area shape="rect" coords="12,634,203,689" href="../elements/d1cb0629-11ee-483a-b513-6264faff0a0d.html"  target="element">
				  		<area shape="rect" coords="10,514,1727,548" href="../elements/b588f423-d372-4009-a41a-dc49b274f904.html"  target="element">
				  		<area shape="rect" coords="10,466,1727,500" href="../elements/bc4116c4-e253-42ab-9bd9-750d3f322458.html"  target="element">
				  		<area shape="rect" coords="10,418,1727,452" href="../elements/58975dea-777e-46bd-8fc2-58e54f48865e.html"  target="element">
				  		<area shape="rect" coords="10,370,1727,404" href="../elements/8cad7b10-433e-4d38-98b5-0e3e54a6fe23.html"  target="element">
				  		<area shape="rect" coords="10,322,1727,356" href="../elements/25de8356-b830-49da-82b1-1b0f716cf5ed.html"  target="element">
				  		<area shape="rect" coords="10,274,1727,308" href="../elements/a235c2c4-3aef-44e7-b241-06df5ea99bec.html"  target="element">
				  		<area shape="rect" coords="12,226,1729,260" href="../elements/795bcd0c-62b7-49ac-9423-8ef296badd3f.html"  target="element">
				          <area shape="rect" coords="10,815,839,931" href="../objects/046a1e90-a261-416d-b15e-2d2b983e4cec.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">This view answers the following questions:
- If I implement and deploy the Base Practice (BP) ***, how can I verify if I did it properly? What outcomes shall be achieved?
- If I implement and demploy the Outcome Work Product ***, how can I verify if I did it properly? What outcomes shall be achieved?

Scope of this view - Outcomes, Base Practices and their relations for ASPICE process MAN.6 Measurement

Latest version and docs can be found here: https://github.com/alef1986/ASPICE-Archi</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/046a1e90-a261-416d-b15e-2d2b983e4cec.html" target="element">  </a> </td>
									           <td> <a href="../objects/046a1e90-a261-416d-b15e-2d2b983e4cec.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/795bcd0c-62b7-49ac-9423-8ef296badd3f.html" target="element"> MAN.6.O.1 Organizational commitment is established and sustained to implementthe measurement process </a> </td>
											    <td> <a href="../elements/795bcd0c-62b7-49ac-9423-8ef296badd3f.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a235c2c4-3aef-44e7-b241-06df5ea99bec.html" target="element"> MAN.6.O.2 The measurement information needs of organizational andmanagement processes are identified </a> </td>
											    <td> <a href="../elements/a235c2c4-3aef-44e7-b241-06df5ea99bec.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/25de8356-b830-49da-82b1-1b0f716cf5ed.html" target="element"> MAN.6.O.3 An appropriate set of measures, driven by the information needs areidentified and/or developed </a> </td>
											    <td> <a href="../elements/25de8356-b830-49da-82b1-1b0f716cf5ed.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8cad7b10-433e-4d38-98b5-0e3e54a6fe23.html" target="element"> MAN.6.O.4 Measurement activities are identified and performed </a> </td>
											    <td> <a href="../elements/8cad7b10-433e-4d38-98b5-0e3e54a6fe23.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/58975dea-777e-46bd-8fc2-58e54f48865e.html" target="element"> MAN.6.O.5 The required data is collected, stored, analyzed, and the resultsinterpreted </a> </td>
											    <td> <a href="../elements/58975dea-777e-46bd-8fc2-58e54f48865e.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/bc4116c4-e253-42ab-9bd9-750d3f322458.html" target="element"> MAN.6.O.6 Information products are used to support decisions and provide anobjective basis for communication </a> </td>
											    <td> <a href="../elements/bc4116c4-e253-42ab-9bd9-750d3f322458.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b588f423-d372-4009-a41a-dc49b274f904.html" target="element"> MAN.6.O.7 The measurement process and measures are evaluated andcommunicated to the process owner </a> </td>
											    <td> <a href="../elements/b588f423-d372-4009-a41a-dc49b274f904.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d1cb0629-11ee-483a-b513-6264faff0a0d.html" target="element"> 02-01 Commitment/agreement </a> </td>
											    <td> <a href="../elements/d1cb0629-11ee-483a-b513-6264faff0a0d.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8f01b755-05ee-4559-9c51-8591c3bf887a.html" target="element"> 03-03 Benchmarking data </a> </td>
											    <td> <a href="../elements/8f01b755-05ee-4559-9c51-8591c3bf887a.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3a772b8f-e695-411d-9fd6-b4c74512ebe0.html" target="element"> 03-04 Customer satisfaction data </a> </td>
											    <td> <a href="../elements/3a772b8f-e695-411d-9fd6-b4c74512ebe0.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c0cdfde8-fbfb-407e-847e-e1d5247775aa.html" target="element"> 03-06 Process performance data </a> </td>
											    <td> <a href="../elements/c0cdfde8-fbfb-407e-847e-e1d5247775aa.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/dabc4ce7-91e0-4641-b8b2-ff67072878b9.html" target="element"> 07-01 Customer satisfaction survey </a> </td>
											    <td> <a href="../elements/dabc4ce7-91e0-4641-b8b2-ff67072878b9.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/06903d79-58db-473b-99fd-44d8e92dc595.html" target="element"> 07-02 Field measure </a> </td>
											    <td> <a href="../elements/06903d79-58db-473b-99fd-44d8e92dc595.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1500e5b4-0aec-485e-8692-78b317e8bfdb.html" target="element"> 07-03 Personnel performance measure </a> </td>
											    <td> <a href="../elements/1500e5b4-0aec-485e-8692-78b317e8bfdb.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2b17038f-2e3c-46d1-9b85-cc0d9562fdfa.html" target="element"> 07-04 Process measure </a> </td>
											    <td> <a href="../elements/2b17038f-2e3c-46d1-9b85-cc0d9562fdfa.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/54e2a5d7-da41-4396-bdbe-aa84a16e85b8.html" target="element"> 07-05 Project measure </a> </td>
											    <td> <a href="../elements/54e2a5d7-da41-4396-bdbe-aa84a16e85b8.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/dda00f8b-9d0a-4a10-a2b0-f91ecdad3162.html" target="element"> 07-06 Quality measure </a> </td>
											    <td> <a href="../elements/dda00f8b-9d0a-4a10-a2b0-f91ecdad3162.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4b4fbd9b-c81b-418c-aa5f-c078b0d1578a.html" target="element"> 07-07 Risk measure </a> </td>
											    <td> <a href="../elements/4b4fbd9b-c81b-418c-aa5f-c078b0d1578a.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/03558209-665d-42fc-9c89-298ec64c435d.html" target="element"> 07-08 Service level measure </a> </td>
											    <td> <a href="../elements/03558209-665d-42fc-9c89-298ec64c435d.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/46ef0390-c285-4923-8ce6-e9680248ce42.html" target="element"> 15-01 Analysis report </a> </td>
											    <td> <a href="../elements/46ef0390-c285-4923-8ce6-e9680248ce42.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e6967389-b126-4ea1-8aef-15bc5bfcb5b7.html" target="element"> 15-05 Evaluation report </a> </td>
											    <td> <a href="../elements/e6967389-b126-4ea1-8aef-15bc5bfcb5b7.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d4a9b1e7-4ff3-4de7-8025-9f6a37cd5b33.html" target="element"> 15-18 Process performance report </a> </td>
											    <td> <a href="../elements/d4a9b1e7-4ff3-4de7-8025-9f6a37cd5b33.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e3d68bfb-7ed0-4fbb-a57f-9c981a21655c.html" target="element"> MAN.6.BP1 Establish organizational commitment for measurement </a> </td>
											    <td> <a href="../elements/e3d68bfb-7ed0-4fbb-a57f-9c981a21655c.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/05bc6781-5158-4e19-8849-e9bc7ed36330.html" target="element"> MAN.6.BP5 Perform measurement activities </a> </td>
											    <td> <a href="../elements/05bc6781-5158-4e19-8849-e9bc7ed36330.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5d448d04-5a8c-4bc2-a399-52787e8c5abf.html" target="element"> MAN.6.BP4 Specify measures </a> </td>
											    <td> <a href="../elements/5d448d04-5a8c-4bc2-a399-52787e8c5abf.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6852665e-afc7-4ff5-a643-69626d177fb2.html" target="element"> MAN.6.BP7 Analyze measures </a> </td>
											    <td> <a href="../elements/6852665e-afc7-4ff5-a643-69626d177fb2.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5025c615-39d0-43de-8ac5-56881e877319.html" target="element"> MAN.6.BP9 Communicate measures </a> </td>
											    <td> <a href="../elements/5025c615-39d0-43de-8ac5-56881e877319.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cd847920-1fef-428d-a3a4-cf91fb784148.html" target="element"> MAN.6.BP3 Identify measurement information needs </a> </td>
											    <td> <a href="../elements/cd847920-1fef-428d-a3a4-cf91fb784148.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f26e1902-7117-4270-89b2-614e480a732f.html" target="element"> MAN.6.BP8 Use measurement information for decision-making </a> </td>
											    <td> <a href="../elements/f26e1902-7117-4270-89b2-614e480a732f.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2288a72e-c2e5-47a7-a4dd-8d3509a2a3b8.html" target="element"> MAN.6.BP2 Develop measurement strategy </a> </td>
											    <td> <a href="../elements/2288a72e-c2e5-47a7-a4dd-8d3509a2a3b8.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1985bfd8-fb1d-4b32-9789-8f9a19fb1841.html" target="element"> MAN.6.BP6 Retrieve measurement data </a> </td>
											    <td> <a href="../elements/1985bfd8-fb1d-4b32-9789-8f9a19fb1841.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7fb7d667-d6d9-4083-b86e-9777952363a4.html" target="element"> MAN.6.BP10 Evaluate information products and measurementactivities </a> </td>
											    <td> <a href="../elements/7fb7d667-d6d9-4083-b86e-9777952363a4.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/612c14da-cc82-4329-8cdd-896887ac2014.html" target="element"> MAN.6.BP11 Communicate potential improvements </a> </td>
											    <td> <a href="../elements/612c14da-cc82-4329-8cdd-896887ac2014.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/72d04e46-4b7e-41a0-8443-c58f43e6699e.html" target="element">  </a> </td>
																		<td> <a href="../elements/72d04e46-4b7e-41a0-8443-c58f43e6699e.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/d1cb0629-11ee-483a-b513-6264faff0a0d.html" target="element"> 02-01 Commitment/agreement </a> </td>
																		<td> <a href="../elements/795bcd0c-62b7-49ac-9423-8ef296badd3f.html" target="element"> MAN.6.O.1 Organizational commitment is established and sustained to implementthe measurement process </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6d9e8f99-4077-4d16-bc11-7545574ad2ee.html" target="element">  </a> </td>
																		<td> <a href="../elements/6d9e8f99-4077-4d16-bc11-7545574ad2ee.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/8f01b755-05ee-4559-9c51-8591c3bf887a.html" target="element"> 03-03 Benchmarking data </a> </td>
																		<td> <a href="../elements/58975dea-777e-46bd-8fc2-58e54f48865e.html" target="element"> MAN.6.O.5 The required data is collected, stored, analyzed, and the resultsinterpreted </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/35918d45-e38b-42e1-a51f-d51b9dc62f0c.html" target="element">  </a> </td>
																		<td> <a href="../elements/35918d45-e38b-42e1-a51f-d51b9dc62f0c.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/3a772b8f-e695-411d-9fd6-b4c74512ebe0.html" target="element"> 03-04 Customer satisfaction data </a> </td>
																		<td> <a href="../elements/58975dea-777e-46bd-8fc2-58e54f48865e.html" target="element"> MAN.6.O.5 The required data is collected, stored, analyzed, and the resultsinterpreted </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/90c68278-871b-4009-a268-765b0a74ddf1.html" target="element">  </a> </td>
																		<td> <a href="../elements/90c68278-871b-4009-a268-765b0a74ddf1.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/c0cdfde8-fbfb-407e-847e-e1d5247775aa.html" target="element"> 03-06 Process performance data </a> </td>
																		<td> <a href="../elements/bc4116c4-e253-42ab-9bd9-750d3f322458.html" target="element"> MAN.6.O.6 Information products are used to support decisions and provide anobjective basis for communication </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/4c6d04bb-55ae-4ed8-8a0a-48a34c0f624d.html" target="element">  </a> </td>
																		<td> <a href="../elements/4c6d04bb-55ae-4ed8-8a0a-48a34c0f624d.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/dabc4ce7-91e0-4641-b8b2-ff67072878b9.html" target="element"> 07-01 Customer satisfaction survey </a> </td>
																		<td> <a href="../elements/25de8356-b830-49da-82b1-1b0f716cf5ed.html" target="element"> MAN.6.O.3 An appropriate set of measures, driven by the information needs areidentified and/or developed </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b9993799-ab8f-4cb6-b7f7-98d486d3841d.html" target="element">  </a> </td>
																		<td> <a href="../elements/b9993799-ab8f-4cb6-b7f7-98d486d3841d.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/dabc4ce7-91e0-4641-b8b2-ff67072878b9.html" target="element"> 07-01 Customer satisfaction survey </a> </td>
																		<td> <a href="../elements/b588f423-d372-4009-a41a-dc49b274f904.html" target="element"> MAN.6.O.7 The measurement process and measures are evaluated andcommunicated to the process owner </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/47a8dd57-88c0-4e79-9380-b183e372893f.html" target="element">  </a> </td>
																		<td> <a href="../elements/47a8dd57-88c0-4e79-9380-b183e372893f.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/06903d79-58db-473b-99fd-44d8e92dc595.html" target="element"> 07-02 Field measure </a> </td>
																		<td> <a href="../elements/25de8356-b830-49da-82b1-1b0f716cf5ed.html" target="element"> MAN.6.O.3 An appropriate set of measures, driven by the information needs areidentified and/or developed </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/63cf595a-4e7d-4c2c-a7d9-9e13a7dd8231.html" target="element">  </a> </td>
																		<td> <a href="../elements/63cf595a-4e7d-4c2c-a7d9-9e13a7dd8231.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/06903d79-58db-473b-99fd-44d8e92dc595.html" target="element"> 07-02 Field measure </a> </td>
																		<td> <a href="../elements/b588f423-d372-4009-a41a-dc49b274f904.html" target="element"> MAN.6.O.7 The measurement process and measures are evaluated andcommunicated to the process owner </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/49de9f73-e188-49ce-afca-a45214edfe22.html" target="element">  </a> </td>
																		<td> <a href="../elements/49de9f73-e188-49ce-afca-a45214edfe22.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/1500e5b4-0aec-485e-8692-78b317e8bfdb.html" target="element"> 07-03 Personnel performance measure </a> </td>
																		<td> <a href="../elements/25de8356-b830-49da-82b1-1b0f716cf5ed.html" target="element"> MAN.6.O.3 An appropriate set of measures, driven by the information needs areidentified and/or developed </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0ecae309-9ad3-47f2-a2d4-c153200f8a50.html" target="element">  </a> </td>
																		<td> <a href="../elements/0ecae309-9ad3-47f2-a2d4-c153200f8a50.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/1500e5b4-0aec-485e-8692-78b317e8bfdb.html" target="element"> 07-03 Personnel performance measure </a> </td>
																		<td> <a href="../elements/8cad7b10-433e-4d38-98b5-0e3e54a6fe23.html" target="element"> MAN.6.O.4 Measurement activities are identified and performed </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2c5633e7-bd9f-42b1-84dd-c61f94267107.html" target="element">  </a> </td>
																		<td> <a href="../elements/2c5633e7-bd9f-42b1-84dd-c61f94267107.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/1500e5b4-0aec-485e-8692-78b317e8bfdb.html" target="element"> 07-03 Personnel performance measure </a> </td>
																		<td> <a href="../elements/b588f423-d372-4009-a41a-dc49b274f904.html" target="element"> MAN.6.O.7 The measurement process and measures are evaluated andcommunicated to the process owner </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/cc2618cd-15f5-44ff-81c2-43c847eb96b3.html" target="element">  </a> </td>
																		<td> <a href="../elements/cc2618cd-15f5-44ff-81c2-43c847eb96b3.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/2b17038f-2e3c-46d1-9b85-cc0d9562fdfa.html" target="element"> 07-04 Process measure </a> </td>
																		<td> <a href="../elements/25de8356-b830-49da-82b1-1b0f716cf5ed.html" target="element"> MAN.6.O.3 An appropriate set of measures, driven by the information needs areidentified and/or developed </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b24851a2-3f31-4b2a-8667-39d1ac2940f0.html" target="element">  </a> </td>
																		<td> <a href="../elements/b24851a2-3f31-4b2a-8667-39d1ac2940f0.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/2b17038f-2e3c-46d1-9b85-cc0d9562fdfa.html" target="element"> 07-04 Process measure </a> </td>
																		<td> <a href="../elements/8cad7b10-433e-4d38-98b5-0e3e54a6fe23.html" target="element"> MAN.6.O.4 Measurement activities are identified and performed </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/683a6285-e582-41c2-bbba-f0d2d85d2680.html" target="element">  </a> </td>
																		<td> <a href="../elements/683a6285-e582-41c2-bbba-f0d2d85d2680.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/2b17038f-2e3c-46d1-9b85-cc0d9562fdfa.html" target="element"> 07-04 Process measure </a> </td>
																		<td> <a href="../elements/b588f423-d372-4009-a41a-dc49b274f904.html" target="element"> MAN.6.O.7 The measurement process and measures are evaluated andcommunicated to the process owner </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/c2170c38-ac45-42c1-8439-423ccfc11001.html" target="element">  </a> </td>
																		<td> <a href="../elements/c2170c38-ac45-42c1-8439-423ccfc11001.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/54e2a5d7-da41-4396-bdbe-aa84a16e85b8.html" target="element"> 07-05 Project measure </a> </td>
																		<td> <a href="../elements/25de8356-b830-49da-82b1-1b0f716cf5ed.html" target="element"> MAN.6.O.3 An appropriate set of measures, driven by the information needs areidentified and/or developed </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d37ebb4e-b1f0-4180-a2e0-1bf31ca951d3.html" target="element">  </a> </td>
																		<td> <a href="../elements/d37ebb4e-b1f0-4180-a2e0-1bf31ca951d3.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/54e2a5d7-da41-4396-bdbe-aa84a16e85b8.html" target="element"> 07-05 Project measure </a> </td>
																		<td> <a href="../elements/8cad7b10-433e-4d38-98b5-0e3e54a6fe23.html" target="element"> MAN.6.O.4 Measurement activities are identified and performed </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/744ae430-b951-4a52-884d-98098e300e00.html" target="element">  </a> </td>
																		<td> <a href="../elements/744ae430-b951-4a52-884d-98098e300e00.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/54e2a5d7-da41-4396-bdbe-aa84a16e85b8.html" target="element"> 07-05 Project measure </a> </td>
																		<td> <a href="../elements/b588f423-d372-4009-a41a-dc49b274f904.html" target="element"> MAN.6.O.7 The measurement process and measures are evaluated andcommunicated to the process owner </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/d550f5e1-dd09-46e5-9a08-1dc380b40b0e.html" target="element">  </a> </td>
																		<td> <a href="../elements/d550f5e1-dd09-46e5-9a08-1dc380b40b0e.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/dda00f8b-9d0a-4a10-a2b0-f91ecdad3162.html" target="element"> 07-06 Quality measure </a> </td>
																		<td> <a href="../elements/25de8356-b830-49da-82b1-1b0f716cf5ed.html" target="element"> MAN.6.O.3 An appropriate set of measures, driven by the information needs areidentified and/or developed </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6e200f8d-6041-40ee-ba67-4ef04f9d96c5.html" target="element">  </a> </td>
																		<td> <a href="../elements/6e200f8d-6041-40ee-ba67-4ef04f9d96c5.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/dda00f8b-9d0a-4a10-a2b0-f91ecdad3162.html" target="element"> 07-06 Quality measure </a> </td>
																		<td> <a href="../elements/8cad7b10-433e-4d38-98b5-0e3e54a6fe23.html" target="element"> MAN.6.O.4 Measurement activities are identified and performed </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/859ae2f6-f492-44a6-9bf3-81b89af08394.html" target="element">  </a> </td>
																		<td> <a href="../elements/859ae2f6-f492-44a6-9bf3-81b89af08394.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/dda00f8b-9d0a-4a10-a2b0-f91ecdad3162.html" target="element"> 07-06 Quality measure </a> </td>
																		<td> <a href="../elements/b588f423-d372-4009-a41a-dc49b274f904.html" target="element"> MAN.6.O.7 The measurement process and measures are evaluated andcommunicated to the process owner </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/1c281bbc-b1c9-4a15-b743-a7213eca47ff.html" target="element">  </a> </td>
																		<td> <a href="../elements/1c281bbc-b1c9-4a15-b743-a7213eca47ff.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/4b4fbd9b-c81b-418c-aa5f-c078b0d1578a.html" target="element"> 07-07 Risk measure </a> </td>
																		<td> <a href="../elements/25de8356-b830-49da-82b1-1b0f716cf5ed.html" target="element"> MAN.6.O.3 An appropriate set of measures, driven by the information needs areidentified and/or developed </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f7bad0b5-705c-46b4-8649-d8d8cb7181ad.html" target="element">  </a> </td>
																		<td> <a href="../elements/f7bad0b5-705c-46b4-8649-d8d8cb7181ad.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/4b4fbd9b-c81b-418c-aa5f-c078b0d1578a.html" target="element"> 07-07 Risk measure </a> </td>
																		<td> <a href="../elements/8cad7b10-433e-4d38-98b5-0e3e54a6fe23.html" target="element"> MAN.6.O.4 Measurement activities are identified and performed </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1addcbe2-7ab7-446d-b1ed-1a14227b66bc.html" target="element">  </a> </td>
																		<td> <a href="../elements/1addcbe2-7ab7-446d-b1ed-1a14227b66bc.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/4b4fbd9b-c81b-418c-aa5f-c078b0d1578a.html" target="element"> 07-07 Risk measure </a> </td>
																		<td> <a href="../elements/b588f423-d372-4009-a41a-dc49b274f904.html" target="element"> MAN.6.O.7 The measurement process and measures are evaluated andcommunicated to the process owner </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/e8df24ed-d436-45b9-a65f-fd9aaac7fc39.html" target="element">  </a> </td>
																		<td> <a href="../elements/e8df24ed-d436-45b9-a65f-fd9aaac7fc39.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/03558209-665d-42fc-9c89-298ec64c435d.html" target="element"> 07-08 Service level measure </a> </td>
																		<td> <a href="../elements/25de8356-b830-49da-82b1-1b0f716cf5ed.html" target="element"> MAN.6.O.3 An appropriate set of measures, driven by the information needs areidentified and/or developed </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/abc238bb-b884-4db1-b4bb-6cbf62c12e0a.html" target="element">  </a> </td>
																		<td> <a href="../elements/abc238bb-b884-4db1-b4bb-6cbf62c12e0a.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/03558209-665d-42fc-9c89-298ec64c435d.html" target="element"> 07-08 Service level measure </a> </td>
																		<td> <a href="../elements/8cad7b10-433e-4d38-98b5-0e3e54a6fe23.html" target="element"> MAN.6.O.4 Measurement activities are identified and performed </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/976fdc5e-22db-4b7a-bdf5-9c351f19e8da.html" target="element">  </a> </td>
																		<td> <a href="../elements/976fdc5e-22db-4b7a-bdf5-9c351f19e8da.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/03558209-665d-42fc-9c89-298ec64c435d.html" target="element"> 07-08 Service level measure </a> </td>
																		<td> <a href="../elements/b588f423-d372-4009-a41a-dc49b274f904.html" target="element"> MAN.6.O.7 The measurement process and measures are evaluated andcommunicated to the process owner </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/bc3933cf-8642-49a5-a6cf-2df5b40d11f5.html" target="element">  </a> </td>
																		<td> <a href="../elements/bc3933cf-8642-49a5-a6cf-2df5b40d11f5.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/46ef0390-c285-4923-8ce6-e9680248ce42.html" target="element"> 15-01 Analysis report </a> </td>
																		<td> <a href="../elements/a235c2c4-3aef-44e7-b241-06df5ea99bec.html" target="element"> MAN.6.O.2 The measurement information needs of organizational andmanagement processes are identified </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/033bbe06-0c03-4ffc-93c5-4cd4e12a0c60.html" target="element">  </a> </td>
																		<td> <a href="../elements/033bbe06-0c03-4ffc-93c5-4cd4e12a0c60.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/46ef0390-c285-4923-8ce6-e9680248ce42.html" target="element"> 15-01 Analysis report </a> </td>
																		<td> <a href="../elements/58975dea-777e-46bd-8fc2-58e54f48865e.html" target="element"> MAN.6.O.5 The required data is collected, stored, analyzed, and the resultsinterpreted </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/46c5d650-0eb6-4edc-bb99-e08107e13009.html" target="element">  </a> </td>
																		<td> <a href="../elements/46c5d650-0eb6-4edc-bb99-e08107e13009.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/e6967389-b126-4ea1-8aef-15bc5bfcb5b7.html" target="element"> 15-05 Evaluation report </a> </td>
																		<td> <a href="../elements/58975dea-777e-46bd-8fc2-58e54f48865e.html" target="element"> MAN.6.O.5 The required data is collected, stored, analyzed, and the resultsinterpreted </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/873b4f2b-26e9-4976-ac78-aa153cf944bd.html" target="element">  </a> </td>
																		<td> <a href="../elements/873b4f2b-26e9-4976-ac78-aa153cf944bd.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/e6967389-b126-4ea1-8aef-15bc5bfcb5b7.html" target="element"> 15-05 Evaluation report </a> </td>
																		<td> <a href="../elements/b588f423-d372-4009-a41a-dc49b274f904.html" target="element"> MAN.6.O.7 The measurement process and measures are evaluated andcommunicated to the process owner </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/a2e0aaab-93d2-47cc-bda6-499017b4bdab.html" target="element">  </a> </td>
																		<td> <a href="../elements/a2e0aaab-93d2-47cc-bda6-499017b4bdab.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/d4a9b1e7-4ff3-4de7-8025-9f6a37cd5b33.html" target="element"> 15-18 Process performance report </a> </td>
																		<td> <a href="../elements/58975dea-777e-46bd-8fc2-58e54f48865e.html" target="element"> MAN.6.O.5 The required data is collected, stored, analyzed, and the resultsinterpreted </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a820ab38-f900-4af9-9dea-b6eb03f07f1c.html" target="element">  </a> </td>
																		<td> <a href="../elements/a820ab38-f900-4af9-9dea-b6eb03f07f1c.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/d4a9b1e7-4ff3-4de7-8025-9f6a37cd5b33.html" target="element"> 15-18 Process performance report </a> </td>
																		<td> <a href="../elements/b588f423-d372-4009-a41a-dc49b274f904.html" target="element"> MAN.6.O.7 The measurement process and measures are evaluated andcommunicated to the process owner </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/e835f011-1af6-47c5-a81d-856ac7d3cf4b.html" target="element">  </a> </td>
																		<td> <a href="../elements/e835f011-1af6-47c5-a81d-856ac7d3cf4b.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/e3d68bfb-7ed0-4fbb-a57f-9c981a21655c.html" target="element"> MAN.6.BP1 Establish organizational commitment for measurement </a> </td>
																		<td> <a href="../elements/795bcd0c-62b7-49ac-9423-8ef296badd3f.html" target="element"> MAN.6.O.1 Organizational commitment is established and sustained to implementthe measurement process </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/db998281-3937-4beb-bc1d-44b9f5720b3f.html" target="element">  </a> </td>
																		<td> <a href="../elements/db998281-3937-4beb-bc1d-44b9f5720b3f.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/05bc6781-5158-4e19-8849-e9bc7ed36330.html" target="element"> MAN.6.BP5 Perform measurement activities </a> </td>
																		<td> <a href="../elements/8cad7b10-433e-4d38-98b5-0e3e54a6fe23.html" target="element"> MAN.6.O.4 Measurement activities are identified and performed </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/22af97d1-c632-40ae-a986-9b0095bb4b1d.html" target="element">  </a> </td>
																		<td> <a href="../elements/22af97d1-c632-40ae-a986-9b0095bb4b1d.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/5d448d04-5a8c-4bc2-a399-52787e8c5abf.html" target="element"> MAN.6.BP4 Specify measures </a> </td>
																		<td> <a href="../elements/25de8356-b830-49da-82b1-1b0f716cf5ed.html" target="element"> MAN.6.O.3 An appropriate set of measures, driven by the information needs areidentified and/or developed </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/0f3d0c50-27e5-4b64-acad-2dc55157a330.html" target="element">  </a> </td>
																		<td> <a href="../elements/0f3d0c50-27e5-4b64-acad-2dc55157a330.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/6852665e-afc7-4ff5-a643-69626d177fb2.html" target="element"> MAN.6.BP7 Analyze measures </a> </td>
																		<td> <a href="../elements/58975dea-777e-46bd-8fc2-58e54f48865e.html" target="element"> MAN.6.O.5 The required data is collected, stored, analyzed, and the resultsinterpreted </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/b39b3401-ae84-4e9c-982b-3ba3461e16bd.html" target="element">  </a> </td>
																		<td> <a href="../elements/b39b3401-ae84-4e9c-982b-3ba3461e16bd.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/5025c615-39d0-43de-8ac5-56881e877319.html" target="element"> MAN.6.BP9 Communicate measures </a> </td>
																		<td> <a href="../elements/58975dea-777e-46bd-8fc2-58e54f48865e.html" target="element"> MAN.6.O.5 The required data is collected, stored, analyzed, and the resultsinterpreted </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7a333160-1c05-4729-99c2-fb109e6f8f78.html" target="element">  </a> </td>
																		<td> <a href="../elements/7a333160-1c05-4729-99c2-fb109e6f8f78.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/5025c615-39d0-43de-8ac5-56881e877319.html" target="element"> MAN.6.BP9 Communicate measures </a> </td>
																		<td> <a href="../elements/bc4116c4-e253-42ab-9bd9-750d3f322458.html" target="element"> MAN.6.O.6 Information products are used to support decisions and provide anobjective basis for communication </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/92068c7b-62e1-494c-80a8-984712af97a2.html" target="element">  </a> </td>
																		<td> <a href="../elements/92068c7b-62e1-494c-80a8-984712af97a2.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/cd847920-1fef-428d-a3a4-cf91fb784148.html" target="element"> MAN.6.BP3 Identify measurement information needs </a> </td>
																		<td> <a href="../elements/a235c2c4-3aef-44e7-b241-06df5ea99bec.html" target="element"> MAN.6.O.2 The measurement information needs of organizational andmanagement processes are identified </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/0bfc60d7-b7b1-481c-b11a-66717254dfd8.html" target="element">  </a> </td>
																		<td> <a href="../elements/0bfc60d7-b7b1-481c-b11a-66717254dfd8.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/f26e1902-7117-4270-89b2-614e480a732f.html" target="element"> MAN.6.BP8 Use measurement information for decision-making </a> </td>
																		<td> <a href="../elements/bc4116c4-e253-42ab-9bd9-750d3f322458.html" target="element"> MAN.6.O.6 Information products are used to support decisions and provide anobjective basis for communication </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/d0e1bcbb-964f-4bca-9cb1-fbe6f7410768.html" target="element">  </a> </td>
																		<td> <a href="../elements/d0e1bcbb-964f-4bca-9cb1-fbe6f7410768.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/2288a72e-c2e5-47a7-a4dd-8d3509a2a3b8.html" target="element"> MAN.6.BP2 Develop measurement strategy </a> </td>
																		<td> <a href="../elements/795bcd0c-62b7-49ac-9423-8ef296badd3f.html" target="element"> MAN.6.O.1 Organizational commitment is established and sustained to implementthe measurement process </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/8049f336-ca3f-4ddb-86ed-33a6cb8ed520.html" target="element">  </a> </td>
																		<td> <a href="../elements/8049f336-ca3f-4ddb-86ed-33a6cb8ed520.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/1985bfd8-fb1d-4b32-9789-8f9a19fb1841.html" target="element"> MAN.6.BP6 Retrieve measurement data </a> </td>
																		<td> <a href="../elements/58975dea-777e-46bd-8fc2-58e54f48865e.html" target="element"> MAN.6.O.5 The required data is collected, stored, analyzed, and the resultsinterpreted </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/e4af7293-7715-4962-89d3-656232d7e40a.html" target="element">  </a> </td>
																		<td> <a href="../elements/e4af7293-7715-4962-89d3-656232d7e40a.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/7fb7d667-d6d9-4083-b86e-9777952363a4.html" target="element"> MAN.6.BP10 Evaluate information products and measurementactivities </a> </td>
																		<td> <a href="../elements/b588f423-d372-4009-a41a-dc49b274f904.html" target="element"> MAN.6.O.7 The measurement process and measures are evaluated andcommunicated to the process owner </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/ab813fbf-dd67-47a1-b432-bd6dc3b5c788.html" target="element">  </a> </td>
																		<td> <a href="../elements/ab813fbf-dd67-47a1-b432-bd6dc3b5c788.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/612c14da-cc82-4329-8cdd-896887ac2014.html" target="element"> MAN.6.BP11 Communicate potential improvements </a> </td>
																		<td> <a href="../elements/b588f423-d372-4009-a41a-dc49b274f904.html" target="element"> MAN.6.O.7 The measurement process and measures are evaluated andcommunicated to the process owner </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>