<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Outcomes vs. Best Practices - MAN.3 Project Management</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Outcomes vs. Best Practices - MAN.3 Project Management</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/867f9977-132b-4c75-a17b-95e8801388fb.png" alt="Outcomes vs. Best Practices - MAN.3 Project Management" usemap="#867f9977-132b-4c75-a17b-95e8801388fbmap"/>
			   <map name="867f9977-132b-4c75-a17b-95e8801388fbmap">
				  				<area shape="rect" coords="22,658,300,713" href="../elements/02dbd39e-748b-41bf-904b-3347c6b73a76.html"  target="element">
				  				<area shape="rect" coords="22,598,300,653" href="../elements/d6008858-dcef-450e-83d7-d48aee475c48.html"  target="element">
				  				<area shape="rect" coords="22,538,300,593" href="../elements/f4b5b266-6ec7-4867-ad91-6de2571e1e35.html"  target="element">
				  				<area shape="rect" coords="22,478,300,533" href="../elements/ffd3a484-2df8-4c56-95a9-cffde49f7d36.html"  target="element">
				  				<area shape="rect" coords="22,418,300,473" href="../elements/fa44083f-ae66-4373-83b8-c5b32e7feeaa.html"  target="element">
				  				<area shape="rect" coords="22,358,300,413" href="../elements/c8d8361e-dac3-4e0a-a245-9dcfa299419d.html"  target="element">
				  				<area shape="rect" coords="22,298,300,353" href="../elements/241f42d3-57ce-4352-bb21-1b4eed6c97b5.html"  target="element">
				  				<area shape="rect" coords="22,238,300,293" href="../elements/32694adc-e3dc-43e6-97b1-825d674bff51.html"  target="element">
				  				<area shape="rect" coords="22,178,300,233" href="../elements/b001d999-2943-45d6-9fac-78b623dd2d8d.html"  target="element">
				  				<area shape="rect" coords="22,118,300,173" href="../elements/df8ea387-325b-4d10-a6a0-b227cc9217d5.html"  target="element">

				  		<area shape="rect" coords="10,82,311,743" href="../elements/97098392-5cad-4e12-a470-98cb780464cc.html"  target="element">
				  		<area shape="rect" coords="1746,10,1984,83" href="../elements/9d197893-55a9-450a-bd43-ae325042f931.html"  target="element">
				  		<area shape="rect" coords="1509,10,1747,83" href="../elements/2e7e6a43-b24d-48f0-878d-358e98a303a5.html"  target="element">
				  		<area shape="rect" coords="1272,10,1510,83" href="../elements/c854972e-dcaf-4dd1-b309-e5a051551e19.html"  target="element">
				  		<area shape="rect" coords="1035,10,1273,83" href="../elements/006cac41-4164-483a-97f9-5214f429af55.html"  target="element">
				  		<area shape="rect" coords="798,10,1036,83" href="../elements/00e08590-b3f4-48a4-9ede-89e520f35b9b.html"  target="element">
				  		<area shape="rect" coords="561,10,799,83" href="../elements/27f2a4e6-2b9c-449e-ad9c-4cd372ef7d32.html"  target="element">
				  		<area shape="rect" coords="324,10,562,83" href="../elements/c1bcc100-5e2a-4d8a-a517-c77952f418dc.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">This view demonstrates relationship between best practices and outcomes of the MAN.3 (Project Management) process.</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/c1bcc100-5e2a-4d8a-a517-c77952f418dc.html" target="element"> MAN.5.O.1 The scope of the risk management to be performed is determined </a> </td>
											    <td> <a href="../elements/c1bcc100-5e2a-4d8a-a517-c77952f418dc.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/27f2a4e6-2b9c-449e-ad9c-4cd372ef7d32.html" target="element"> MAN.3.O.2 The feasibility of achieving the goals of the project with available resources and constraints is evaluated </a> </td>
											    <td> <a href="../elements/27f2a4e6-2b9c-449e-ad9c-4cd372ef7d32.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/00e08590-b3f4-48a4-9ede-89e520f35b9b.html" target="element"> MAN.3.O.3 The activities and resources necessary to complete the work are sizedand estimated </a> </td>
											    <td> <a href="../elements/00e08590-b3f4-48a4-9ede-89e520f35b9b.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/006cac41-4164-483a-97f9-5214f429af55.html" target="element"> MAN.3.O.4 Interfaces within the project, and with other projects and organizational units, are identified and monitored </a> </td>
											    <td> <a href="../elements/006cac41-4164-483a-97f9-5214f429af55.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c854972e-dcaf-4dd1-b309-e5a051551e19.html" target="element"> MAN.3.O.5 Plans for the execution of the project are developed, implemented andmaintained </a> </td>
											    <td> <a href="../elements/c854972e-dcaf-4dd1-b309-e5a051551e19.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2e7e6a43-b24d-48f0-878d-358e98a303a5.html" target="element"> MAN.3.O.6 Progress of the project is monitored and reported </a> </td>
											    <td> <a href="../elements/2e7e6a43-b24d-48f0-878d-358e98a303a5.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9d197893-55a9-450a-bd43-ae325042f931.html" target="element"> MAN.3.O.7 Corrective action is taken when project goals are not achieved, andrecurrence of problems identified in the project is prevented. </a> </td>
											    <td> <a href="../elements/9d197893-55a9-450a-bd43-ae325042f931.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/97098392-5cad-4e12-a470-98cb780464cc.html" target="element"> MAN.3 Project Management </a> </td>
											    <td> <a href="../elements/97098392-5cad-4e12-a470-98cb780464cc.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/df8ea387-325b-4d10-a6a0-b227cc9217d5.html" target="element"> MAN.3.BP1 Define the scope of work </a> </td>
													    <td> <a href="../elements/df8ea387-325b-4d10-a6a0-b227cc9217d5.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/b001d999-2943-45d6-9fac-78b623dd2d8d.html" target="element"> MAN.3.BP2 Define project life cycle </a> </td>
													    <td> <a href="../elements/b001d999-2943-45d6-9fac-78b623dd2d8d.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/32694adc-e3dc-43e6-97b1-825d674bff51.html" target="element"> MAN.3.BP3 Evaluate feasibility of the project </a> </td>
													    <td> <a href="../elements/32694adc-e3dc-43e6-97b1-825d674bff51.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/241f42d3-57ce-4352-bb21-1b4eed6c97b5.html" target="element"> MAN.3.BP4 Define, monitor and adjust project activities </a> </td>
													    <td> <a href="../elements/241f42d3-57ce-4352-bb21-1b4eed6c97b5.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/c8d8361e-dac3-4e0a-a245-9dcfa299419d.html" target="element"> MAN.3.BP5 Define, monitor and adjust project estimates andresources </a> </td>
													    <td> <a href="../elements/c8d8361e-dac3-4e0a-a245-9dcfa299419d.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/fa44083f-ae66-4373-83b8-c5b32e7feeaa.html" target="element"> MAN.3.BP6 Ensure required skills, knowledge, and experience </a> </td>
													    <td> <a href="../elements/fa44083f-ae66-4373-83b8-c5b32e7feeaa.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/ffd3a484-2df8-4c56-95a9-cffde49f7d36.html" target="element"> MAN.3.BP7  Identify, monitor and adjust project interfaces and agreed commitments </a> </td>
													    <td> <a href="../elements/ffd3a484-2df8-4c56-95a9-cffde49f7d36.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/f4b5b266-6ec7-4867-ad91-6de2571e1e35.html" target="element"> MAN.3.BP8 Define, monitor and adjust project schedule </a> </td>
													    <td> <a href="../elements/f4b5b266-6ec7-4867-ad91-6de2571e1e35.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/d6008858-dcef-450e-83d7-d48aee475c48.html" target="element"> MAN.3.BP9 Ensure consistency </a> </td>
													    <td> <a href="../elements/d6008858-dcef-450e-83d7-d48aee475c48.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/02dbd39e-748b-41bf-904b-3347c6b73a76.html" target="element"> MAN.3.BP10 Review and report progress of the project </a> </td>
													    <td> <a href="../elements/02dbd39e-748b-41bf-904b-3347c6b73a76.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/438908b5-9ad2-4ae7-93ba-c3efe6aac31f.html" target="element">  </a> </td>
																		<td> <a href="../elements/438908b5-9ad2-4ae7-93ba-c3efe6aac31f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/97098392-5cad-4e12-a470-98cb780464cc.html" target="element"> MAN.3 Project Management </a> </td>
																		<td> <a href="../elements/df8ea387-325b-4d10-a6a0-b227cc9217d5.html" target="element"> MAN.3.BP1 Define the scope of work </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e036867f-88c8-4009-854c-d155b8518020.html" target="element">  </a> </td>
																		<td> <a href="../elements/e036867f-88c8-4009-854c-d155b8518020.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/97098392-5cad-4e12-a470-98cb780464cc.html" target="element"> MAN.3 Project Management </a> </td>
																		<td> <a href="../elements/b001d999-2943-45d6-9fac-78b623dd2d8d.html" target="element"> MAN.3.BP2 Define project life cycle </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d755ede7-52a4-4aeb-aed2-1740d820ac84.html" target="element">  </a> </td>
																		<td> <a href="../elements/d755ede7-52a4-4aeb-aed2-1740d820ac84.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/97098392-5cad-4e12-a470-98cb780464cc.html" target="element"> MAN.3 Project Management </a> </td>
																		<td> <a href="../elements/32694adc-e3dc-43e6-97b1-825d674bff51.html" target="element"> MAN.3.BP3 Evaluate feasibility of the project </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/364ea5a3-e6e1-4397-bfdf-1345c991955b.html" target="element">  </a> </td>
																		<td> <a href="../elements/364ea5a3-e6e1-4397-bfdf-1345c991955b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/97098392-5cad-4e12-a470-98cb780464cc.html" target="element"> MAN.3 Project Management </a> </td>
																		<td> <a href="../elements/241f42d3-57ce-4352-bb21-1b4eed6c97b5.html" target="element"> MAN.3.BP4 Define, monitor and adjust project activities </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/20e5fad0-06cc-4372-9850-da4f9bda1899.html" target="element">  </a> </td>
																		<td> <a href="../elements/20e5fad0-06cc-4372-9850-da4f9bda1899.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/97098392-5cad-4e12-a470-98cb780464cc.html" target="element"> MAN.3 Project Management </a> </td>
																		<td> <a href="../elements/c8d8361e-dac3-4e0a-a245-9dcfa299419d.html" target="element"> MAN.3.BP5 Define, monitor and adjust project estimates andresources </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e14a32e5-6ab3-473a-8520-07b0bbe362bb.html" target="element">  </a> </td>
																		<td> <a href="../elements/e14a32e5-6ab3-473a-8520-07b0bbe362bb.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/97098392-5cad-4e12-a470-98cb780464cc.html" target="element"> MAN.3 Project Management </a> </td>
																		<td> <a href="../elements/fa44083f-ae66-4373-83b8-c5b32e7feeaa.html" target="element"> MAN.3.BP6 Ensure required skills, knowledge, and experience </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/df342942-6bc2-49b9-8a8e-6a1e39b71047.html" target="element">  </a> </td>
																		<td> <a href="../elements/df342942-6bc2-49b9-8a8e-6a1e39b71047.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/97098392-5cad-4e12-a470-98cb780464cc.html" target="element"> MAN.3 Project Management </a> </td>
																		<td> <a href="../elements/ffd3a484-2df8-4c56-95a9-cffde49f7d36.html" target="element"> MAN.3.BP7  Identify, monitor and adjust project interfaces and agreed commitments </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/14a43916-9fee-42a8-9dbb-02542b9a0572.html" target="element">  </a> </td>
																		<td> <a href="../elements/14a43916-9fee-42a8-9dbb-02542b9a0572.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/97098392-5cad-4e12-a470-98cb780464cc.html" target="element"> MAN.3 Project Management </a> </td>
																		<td> <a href="../elements/f4b5b266-6ec7-4867-ad91-6de2571e1e35.html" target="element"> MAN.3.BP8 Define, monitor and adjust project schedule </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3d545f0c-d947-4534-a7c0-30279c393100.html" target="element">  </a> </td>
																		<td> <a href="../elements/3d545f0c-d947-4534-a7c0-30279c393100.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/97098392-5cad-4e12-a470-98cb780464cc.html" target="element"> MAN.3 Project Management </a> </td>
																		<td> <a href="../elements/d6008858-dcef-450e-83d7-d48aee475c48.html" target="element"> MAN.3.BP9 Ensure consistency </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/46bdb0af-336b-4326-b03a-0a07111cd39f.html" target="element">  </a> </td>
																		<td> <a href="../elements/46bdb0af-336b-4326-b03a-0a07111cd39f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/97098392-5cad-4e12-a470-98cb780464cc.html" target="element"> MAN.3 Project Management </a> </td>
																		<td> <a href="../elements/02dbd39e-748b-41bf-904b-3347c6b73a76.html" target="element"> MAN.3.BP10 Review and report progress of the project </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/3f66a5e2-86ef-4a40-bd2d-7663859bc502.html" target="element">  </a> </td>
																				<td> <a href="../elements/3f66a5e2-86ef-4a40-bd2d-7663859bc502.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/df8ea387-325b-4d10-a6a0-b227cc9217d5.html" target="element"> MAN.3.BP1 Define the scope of work </a> </td>
																				<td> <a href="../elements/c1bcc100-5e2a-4d8a-a517-c77952f418dc.html" target="element"> MAN.5.O.1 The scope of the risk management to be performed is determined </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/ef09b0a0-8033-4225-a999-697f955270a6.html" target="element">  </a> </td>
																				<td> <a href="../elements/ef09b0a0-8033-4225-a999-697f955270a6.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/b001d999-2943-45d6-9fac-78b623dd2d8d.html" target="element"> MAN.3.BP2 Define project life cycle </a> </td>
																				<td> <a href="../elements/27f2a4e6-2b9c-449e-ad9c-4cd372ef7d32.html" target="element"> MAN.3.O.2 The feasibility of achieving the goals of the project with available resources and constraints is evaluated </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/9e49b43e-b263-4bef-8de5-5e210c447fb9.html" target="element">  </a> </td>
																				<td> <a href="../elements/9e49b43e-b263-4bef-8de5-5e210c447fb9.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/32694adc-e3dc-43e6-97b1-825d674bff51.html" target="element"> MAN.3.BP3 Evaluate feasibility of the project </a> </td>
																				<td> <a href="../elements/27f2a4e6-2b9c-449e-ad9c-4cd372ef7d32.html" target="element"> MAN.3.O.2 The feasibility of achieving the goals of the project with available resources and constraints is evaluated </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/2ac93f64-7a62-4ca5-97c5-110a244badeb.html" target="element">  </a> </td>
																				<td> <a href="../elements/2ac93f64-7a62-4ca5-97c5-110a244badeb.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/241f42d3-57ce-4352-bb21-1b4eed6c97b5.html" target="element"> MAN.3.BP4 Define, monitor and adjust project activities </a> </td>
																				<td> <a href="../elements/9d197893-55a9-450a-bd43-ae325042f931.html" target="element"> MAN.3.O.7 Corrective action is taken when project goals are not achieved, andrecurrence of problems identified in the project is prevented. </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/7dc43fd5-63a0-407b-a4da-07af4faa03a6.html" target="element">  </a> </td>
																				<td> <a href="../elements/7dc43fd5-63a0-407b-a4da-07af4faa03a6.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/241f42d3-57ce-4352-bb21-1b4eed6c97b5.html" target="element"> MAN.3.BP4 Define, monitor and adjust project activities </a> </td>
																				<td> <a href="../elements/00e08590-b3f4-48a4-9ede-89e520f35b9b.html" target="element"> MAN.3.O.3 The activities and resources necessary to complete the work are sizedand estimated </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/6cff91bc-86c7-4297-92c2-9f992bd153a6.html" target="element">  </a> </td>
																				<td> <a href="../elements/6cff91bc-86c7-4297-92c2-9f992bd153a6.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/241f42d3-57ce-4352-bb21-1b4eed6c97b5.html" target="element"> MAN.3.BP4 Define, monitor and adjust project activities </a> </td>
																				<td> <a href="../elements/c854972e-dcaf-4dd1-b309-e5a051551e19.html" target="element"> MAN.3.O.5 Plans for the execution of the project are developed, implemented andmaintained </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/8a9356d8-f89c-4279-bced-3af1a8c9a750.html" target="element">  </a> </td>
																				<td> <a href="../elements/8a9356d8-f89c-4279-bced-3af1a8c9a750.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/c8d8361e-dac3-4e0a-a245-9dcfa299419d.html" target="element"> MAN.3.BP5 Define, monitor and adjust project estimates andresources </a> </td>
																				<td> <a href="../elements/00e08590-b3f4-48a4-9ede-89e520f35b9b.html" target="element"> MAN.3.O.3 The activities and resources necessary to complete the work are sizedand estimated </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/5cf6c6bc-3d80-4def-85e0-b48709fc6468.html" target="element">  </a> </td>
																				<td> <a href="../elements/5cf6c6bc-3d80-4def-85e0-b48709fc6468.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/c8d8361e-dac3-4e0a-a245-9dcfa299419d.html" target="element"> MAN.3.BP5 Define, monitor and adjust project estimates andresources </a> </td>
																				<td> <a href="../elements/9d197893-55a9-450a-bd43-ae325042f931.html" target="element"> MAN.3.O.7 Corrective action is taken when project goals are not achieved, andrecurrence of problems identified in the project is prevented. </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/b0165698-69d0-49bf-8909-3c9beb416a35.html" target="element">  </a> </td>
																				<td> <a href="../elements/b0165698-69d0-49bf-8909-3c9beb416a35.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/c8d8361e-dac3-4e0a-a245-9dcfa299419d.html" target="element"> MAN.3.BP5 Define, monitor and adjust project estimates andresources </a> </td>
																				<td> <a href="../elements/27f2a4e6-2b9c-449e-ad9c-4cd372ef7d32.html" target="element"> MAN.3.O.2 The feasibility of achieving the goals of the project with available resources and constraints is evaluated </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/bb0110d5-4cb5-4d46-8dc2-d3c29ea734d1.html" target="element">  </a> </td>
																				<td> <a href="../elements/bb0110d5-4cb5-4d46-8dc2-d3c29ea734d1.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/fa44083f-ae66-4373-83b8-c5b32e7feeaa.html" target="element"> MAN.3.BP6 Ensure required skills, knowledge, and experience </a> </td>
																				<td> <a href="../elements/9d197893-55a9-450a-bd43-ae325042f931.html" target="element"> MAN.3.O.7 Corrective action is taken when project goals are not achieved, andrecurrence of problems identified in the project is prevented. </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/8ae6bd54-47ee-491c-a207-f35f844b7573.html" target="element">  </a> </td>
																				<td> <a href="../elements/8ae6bd54-47ee-491c-a207-f35f844b7573.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/fa44083f-ae66-4373-83b8-c5b32e7feeaa.html" target="element"> MAN.3.BP6 Ensure required skills, knowledge, and experience </a> </td>
																				<td> <a href="../elements/00e08590-b3f4-48a4-9ede-89e520f35b9b.html" target="element"> MAN.3.O.3 The activities and resources necessary to complete the work are sizedand estimated </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/9c26809e-f641-44f4-ac00-988062af7a1d.html" target="element">  </a> </td>
																				<td> <a href="../elements/9c26809e-f641-44f4-ac00-988062af7a1d.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/ffd3a484-2df8-4c56-95a9-cffde49f7d36.html" target="element"> MAN.3.BP7  Identify, monitor and adjust project interfaces and agreed commitments </a> </td>
																				<td> <a href="../elements/9d197893-55a9-450a-bd43-ae325042f931.html" target="element"> MAN.3.O.7 Corrective action is taken when project goals are not achieved, andrecurrence of problems identified in the project is prevented. </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/35f002ab-8a49-4be0-9c1d-2d06bfbcb619.html" target="element">  </a> </td>
																				<td> <a href="../elements/35f002ab-8a49-4be0-9c1d-2d06bfbcb619.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/ffd3a484-2df8-4c56-95a9-cffde49f7d36.html" target="element"> MAN.3.BP7  Identify, monitor and adjust project interfaces and agreed commitments </a> </td>
																				<td> <a href="../elements/006cac41-4164-483a-97f9-5214f429af55.html" target="element"> MAN.3.O.4 Interfaces within the project, and with other projects and organizational units, are identified and monitored </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/fcd97b33-ef20-485a-aa3d-c2b8cc9ee109.html" target="element">  </a> </td>
																				<td> <a href="../elements/fcd97b33-ef20-485a-aa3d-c2b8cc9ee109.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/f4b5b266-6ec7-4867-ad91-6de2571e1e35.html" target="element"> MAN.3.BP8 Define, monitor and adjust project schedule </a> </td>
																				<td> <a href="../elements/00e08590-b3f4-48a4-9ede-89e520f35b9b.html" target="element"> MAN.3.O.3 The activities and resources necessary to complete the work are sizedand estimated </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/38e5d194-4ecd-4e3f-92e5-af78498a145c.html" target="element">  </a> </td>
																				<td> <a href="../elements/38e5d194-4ecd-4e3f-92e5-af78498a145c.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/f4b5b266-6ec7-4867-ad91-6de2571e1e35.html" target="element"> MAN.3.BP8 Define, monitor and adjust project schedule </a> </td>
																				<td> <a href="../elements/9d197893-55a9-450a-bd43-ae325042f931.html" target="element"> MAN.3.O.7 Corrective action is taken when project goals are not achieved, andrecurrence of problems identified in the project is prevented. </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/c2926d3c-f42a-4382-bffe-ce08b86dc5de.html" target="element">  </a> </td>
																				<td> <a href="../elements/c2926d3c-f42a-4382-bffe-ce08b86dc5de.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/f4b5b266-6ec7-4867-ad91-6de2571e1e35.html" target="element"> MAN.3.BP8 Define, monitor and adjust project schedule </a> </td>
																				<td> <a href="../elements/c854972e-dcaf-4dd1-b309-e5a051551e19.html" target="element"> MAN.3.O.5 Plans for the execution of the project are developed, implemented andmaintained </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/b279f7f8-44dc-4717-a3eb-1f54f3c48a73.html" target="element">  </a> </td>
																				<td> <a href="../elements/b279f7f8-44dc-4717-a3eb-1f54f3c48a73.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/d6008858-dcef-450e-83d7-d48aee475c48.html" target="element"> MAN.3.BP9 Ensure consistency </a> </td>
																				<td> <a href="../elements/00e08590-b3f4-48a4-9ede-89e520f35b9b.html" target="element"> MAN.3.O.3 The activities and resources necessary to complete the work are sizedand estimated </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/d917e1d2-09d9-4aa5-b160-1bf330b07030.html" target="element">  </a> </td>
																				<td> <a href="../elements/d917e1d2-09d9-4aa5-b160-1bf330b07030.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/d6008858-dcef-450e-83d7-d48aee475c48.html" target="element"> MAN.3.BP9 Ensure consistency </a> </td>
																				<td> <a href="../elements/c854972e-dcaf-4dd1-b309-e5a051551e19.html" target="element"> MAN.3.O.5 Plans for the execution of the project are developed, implemented andmaintained </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/575711b9-eee9-4f23-86a9-f7487b8461db.html" target="element">  </a> </td>
																				<td> <a href="../elements/575711b9-eee9-4f23-86a9-f7487b8461db.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/d6008858-dcef-450e-83d7-d48aee475c48.html" target="element"> MAN.3.BP9 Ensure consistency </a> </td>
																				<td> <a href="../elements/006cac41-4164-483a-97f9-5214f429af55.html" target="element"> MAN.3.O.4 Interfaces within the project, and with other projects and organizational units, are identified and monitored </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/a3283d17-9b11-45d1-9922-d029c598c286.html" target="element">  </a> </td>
																				<td> <a href="../elements/a3283d17-9b11-45d1-9922-d029c598c286.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/d6008858-dcef-450e-83d7-d48aee475c48.html" target="element"> MAN.3.BP9 Ensure consistency </a> </td>
																				<td> <a href="../elements/9d197893-55a9-450a-bd43-ae325042f931.html" target="element"> MAN.3.O.7 Corrective action is taken when project goals are not achieved, andrecurrence of problems identified in the project is prevented. </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/c74284dd-2fc7-4d11-9ba2-40149a9fc36f.html" target="element">  </a> </td>
																				<td> <a href="../elements/c74284dd-2fc7-4d11-9ba2-40149a9fc36f.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/02dbd39e-748b-41bf-904b-3347c6b73a76.html" target="element"> MAN.3.BP10 Review and report progress of the project </a> </td>
																				<td> <a href="../elements/2e7e6a43-b24d-48f0-878d-358e98a303a5.html" target="element"> MAN.3.O.6 Progress of the project is monitored and reported </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/b9dbcf5d-9a56-4b6d-abc8-49ced4695310.html" target="element">  </a> </td>
																				<td> <a href="../elements/b9dbcf5d-9a56-4b6d-abc8-49ced4695310.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/02dbd39e-748b-41bf-904b-3347c6b73a76.html" target="element"> MAN.3.BP10 Review and report progress of the project </a> </td>
																				<td> <a href="../elements/9d197893-55a9-450a-bd43-ae325042f931.html" target="element"> MAN.3.O.7 Corrective action is taken when project goals are not achieved, andrecurrence of problems identified in the project is prevented. </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>