<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Overview - MAN.5 Risk Management</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Overview - MAN.5 Risk Management</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/86d9a854-1b1d-4857-bef1-80e1ca65d79c.png" alt="Overview - MAN.5 Risk Management" usemap="#86d9a854-1b1d-4857-bef1-80e1ca65d79cmap"/>
			   <map name="86d9a854-1b1d-4857-bef1-80e1ca65d79cmap">
				  		<area shape="rect" coords="1270,490,1508,545" href="../views/9e94f80f-8775-4044-8110-6a872c99ec05.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="1270,430,1508,485" href="../views/9a01e40b-79fe-4c87-9ea7-738532174187.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="1270,10,1508,95" href="../elements/4d30f7b5-6ab8-4aa4-8759-70a519880ed9.html"  target="element">
				  		<area shape="rect" coords="1018,10,1256,95" href="../elements/927db887-7dc3-4287-a50a-0aa5dc0cc403.html"  target="element">
				  		<area shape="rect" coords="766,10,1004,95" href="../elements/fc505756-2c6d-4dc9-9fc6-9842966c669f.html"  target="element">
				  		<area shape="rect" coords="514,10,752,95" href="../elements/f495da71-614a-4923-9b3b-776e3a650745.html"  target="element">
				  		<area shape="rect" coords="262,10,500,95" href="../elements/333afeaa-5213-49f4-b747-0a40579006c6.html"  target="element">
				  		<area shape="rect" coords="10,10,248,95" href="../elements/c1bcc100-5e2a-4d8a-a517-c77952f418dc.html"  target="element">
				          <area shape="rect" coords="1270,130,1508,419" href="../objects/5d9fc931-f64e-4144-8d6a-ef4aba3922a8.html" target="element" >
				  		<area shape="rect" coords="826,646,1031,701" href="../elements/a4599e65-2234-470b-9f49-5ef82ab3f7ad.html"  target="element">
				  		<area shape="rect" coords="826,586,1031,641" href="../elements/764937f0-2bc6-48de-90fb-3fdb1f1d74a7.html"  target="element">
				  		<area shape="rect" coords="826,526,1031,581" href="../elements/66648936-e49e-4ca1-96f8-1cb55bbf3127.html"  target="element">
				  		<area shape="rect" coords="826,466,1031,521" href="../elements/3400d0a7-31c3-46f8-8e99-a25fad4ca5d5.html"  target="element">
				  		<area shape="rect" coords="826,406,1031,461" href="../elements/485bc319-e304-4427-bc84-a553d5fd471b.html"  target="element">
				  		<area shape="rect" coords="826,346,1031,401" href="../elements/d6cf718a-bab4-48b0-93af-3ca7fbe7d9f7.html"  target="element">
				  		<area shape="rect" coords="826,286,1031,341" href="../elements/e4107c2d-ad06-4410-bd61-71fb684d10c4.html"  target="element">
				  		<area shape="rect" coords="826,226,1031,281" href="../elements/4707d232-e76e-451e-aa05-4680d55a60b6.html"  target="element">
				  		<area shape="rect" coords="826,166,1031,221" href="../elements/4b4fbd9b-c81b-418c-aa5f-c078b0d1578a.html"  target="element">
				  				<area shape="rect" coords="430,406,708,461" href="../elements/5946e9e9-b227-4a89-9fe0-52c67cc5290c.html"  target="element">
				  				<area shape="rect" coords="430,466,708,521" href="../elements/e7c31adb-d33a-47a4-bc64-44dec2f67857.html"  target="element">
				  				<area shape="rect" coords="430,286,708,341" href="../elements/7e78b63e-5ffa-4675-aaff-aca75bb52fc1.html"  target="element">
				  				<area shape="rect" coords="430,226,708,281" href="../elements/38bb1bd4-c4ac-494f-b54a-314b8a7b710b.html"  target="element">
				  				<area shape="rect" coords="430,166,708,221" href="../elements/eaca20df-32a5-4f59-9837-f2c5b358b7d1.html"  target="element">
				  				<area shape="rect" coords="430,529,708,584" href="../elements/993e444e-95b0-473b-b73d-ae540cb041bc.html"  target="element">
				  				<area shape="rect" coords="430,346,708,401" href="../elements/a3208ba9-90d9-44bd-b6bc-18f2d8de7eee.html"  target="element">

				  		<area shape="rect" coords="418,130,719,791" href="../elements/72c88594-2dae-48e7-a815-23e1bc53823f.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">This view describes MAN.5 Risk Management Process, its outputs and outcomes

Relation of Outcomes to Outputs and Base Practices is out of scope of this view. See respective view for these details.

Latest version and docs can be found here: https://github.com/alef1986/ASPICE-Archi

Source of information for this view is Automotive SPICE Standards v.3.1
(http://www.automotivespice.com/fileadmin/software-download/AutomotiveSPICE_PAM_31.pdf)</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/72c88594-2dae-48e7-a815-23e1bc53823f.html" target="element"> MAN.5 Risk Management </a> </td>
											    <td> <a href="../elements/72c88594-2dae-48e7-a815-23e1bc53823f.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/a3208ba9-90d9-44bd-b6bc-18f2d8de7eee.html" target="element"> MAN.5.BP4 Analyze risks </a> </td>
													    <td> <a href="../elements/a3208ba9-90d9-44bd-b6bc-18f2d8de7eee.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/993e444e-95b0-473b-b73d-ae540cb041bc.html" target="element"> MAN.5.BP7: Take corrective action </a> </td>
													    <td> <a href="../elements/993e444e-95b0-473b-b73d-ae540cb041bc.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/eaca20df-32a5-4f59-9837-f2c5b358b7d1.html" target="element"> MAN.5.BP1 Establish risk management scope </a> </td>
													    <td> <a href="../elements/eaca20df-32a5-4f59-9837-f2c5b358b7d1.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/38bb1bd4-c4ac-494f-b54a-314b8a7b710b.html" target="element"> MAN.5.BP2 Define risk management strategies </a> </td>
													    <td> <a href="../elements/38bb1bd4-c4ac-494f-b54a-314b8a7b710b.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/7e78b63e-5ffa-4675-aaff-aca75bb52fc1.html" target="element"> MAN.5.BP3 Identify risks </a> </td>
													    <td> <a href="../elements/7e78b63e-5ffa-4675-aaff-aca75bb52fc1.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/e7c31adb-d33a-47a4-bc64-44dec2f67857.html" target="element"> MAN.5.BP6: Monitor risks </a> </td>
													    <td> <a href="../elements/e7c31adb-d33a-47a4-bc64-44dec2f67857.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/5946e9e9-b227-4a89-9fe0-52c67cc5290c.html" target="element"> MAN.5.BP5 Define risk treatment actions </a> </td>
													    <td> <a href="../elements/5946e9e9-b227-4a89-9fe0-52c67cc5290c.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/4b4fbd9b-c81b-418c-aa5f-c078b0d1578a.html" target="element"> 07-07 Risk measure </a> </td>
											    <td> <a href="../elements/4b4fbd9b-c81b-418c-aa5f-c078b0d1578a.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4707d232-e76e-451e-aa05-4680d55a60b6.html" target="element"> 08-14 Recovery plan </a> </td>
											    <td> <a href="../elements/4707d232-e76e-451e-aa05-4680d55a60b6.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e4107c2d-ad06-4410-bd61-71fb684d10c4.html" target="element"> 08-19 Risk management plan </a> </td>
											    <td> <a href="../elements/e4107c2d-ad06-4410-bd61-71fb684d10c4.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d6cf718a-bab4-48b0-93af-3ca7fbe7d9f7.html" target="element"> 08-20 Risk mitigation plan </a> </td>
											    <td> <a href="../elements/d6cf718a-bab4-48b0-93af-3ca7fbe7d9f7.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/485bc319-e304-4427-bc84-a553d5fd471b.html" target="element"> 13-20 Risk action request </a> </td>
											    <td> <a href="../elements/485bc319-e304-4427-bc84-a553d5fd471b.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3400d0a7-31c3-46f8-8e99-a25fad4ca5d5.html" target="element"> 14-02 Corrective Action Register </a> </td>
											    <td> <a href="../elements/3400d0a7-31c3-46f8-8e99-a25fad4ca5d5.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/66648936-e49e-4ca1-96f8-1cb55bbf3127.html" target="element"> 14-08 Tracking system </a> </td>
											    <td> <a href="../elements/66648936-e49e-4ca1-96f8-1cb55bbf3127.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/764937f0-2bc6-48de-90fb-3fdb1f1d74a7.html" target="element"> 15-08 Risk analysis report </a> </td>
											    <td> <a href="../elements/764937f0-2bc6-48de-90fb-3fdb1f1d74a7.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a4599e65-2234-470b-9f49-5ef82ab3f7ad.html" target="element"> 15-09 Risk status report </a> </td>
											    <td> <a href="../elements/a4599e65-2234-470b-9f49-5ef82ab3f7ad.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/5d9fc931-f64e-4144-8d6a-ef4aba3922a8.html" target="element">  </a> </td>
									           <td> <a href="../objects/5d9fc931-f64e-4144-8d6a-ef4aba3922a8.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/c1bcc100-5e2a-4d8a-a517-c77952f418dc.html" target="element"> MAN.5.O.1 The scope of the risk management to be performed is determined </a> </td>
											    <td> <a href="../elements/c1bcc100-5e2a-4d8a-a517-c77952f418dc.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/333afeaa-5213-49f4-b747-0a40579006c6.html" target="element"> MAN.5.O.2 Appropriate risk management strategies are defined andimplemented </a> </td>
											    <td> <a href="../elements/333afeaa-5213-49f4-b747-0a40579006c6.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f495da71-614a-4923-9b3b-776e3a650745.html" target="element"> MAN.5.O.3 Risks are identified as they develop during the conduct of the project </a> </td>
											    <td> <a href="../elements/f495da71-614a-4923-9b3b-776e3a650745.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/fc505756-2c6d-4dc9-9fc6-9842966c669f.html" target="element"> MAN.5.O.4 Risks are analyzed and the priority in which to apply resources totreatment of these risks is determined </a> </td>
											    <td> <a href="../elements/fc505756-2c6d-4dc9-9fc6-9842966c669f.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/927db887-7dc3-4287-a50a-0aa5dc0cc403.html" target="element"> MAN.5.O.5 Risk measures are defined, applied, and assessed to determinechanges in the status of risk and the progress of the treatment activities </a> </td>
											    <td> <a href="../elements/927db887-7dc3-4287-a50a-0aa5dc0cc403.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4d30f7b5-6ab8-4aa4-8759-70a519880ed9.html" target="element"> MAN.5.O.6 Appropriate treatment is taken to correct or avoid the impact of riskbased on its priority, probability, and consequence or other definedrisk threshold </a> </td>
											    <td> <a href="../elements/4d30f7b5-6ab8-4aa4-8759-70a519880ed9.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../views/9a01e40b-79fe-4c87-9ea7-738532174187.html" target="view"> O. vs. BP. vs. WP. - MAN.5 Risk Management </a> </td>
											    <td> <a href="../views/9a01e40b-79fe-4c87-9ea7-738532174187.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/9e94f80f-8775-4044-8110-6a872c99ec05.html" target="view"> Overview - Process Reference Model </a> </td>
											    <td> <a href="../views/9e94f80f-8775-4044-8110-6a872c99ec05.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/dc735e2f-c808-4293-bda3-cf546e67c63a.html" target="element">  </a> </td>
																		<td> <a href="../elements/dc735e2f-c808-4293-bda3-cf546e67c63a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/72c88594-2dae-48e7-a815-23e1bc53823f.html" target="element"> MAN.5 Risk Management </a> </td>
																		<td> <a href="../elements/a3208ba9-90d9-44bd-b6bc-18f2d8de7eee.html" target="element"> MAN.5.BP4 Analyze risks </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d1b5b783-daf6-40c9-a440-889edc8772e8.html" target="element">  </a> </td>
																		<td> <a href="../elements/d1b5b783-daf6-40c9-a440-889edc8772e8.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/72c88594-2dae-48e7-a815-23e1bc53823f.html" target="element"> MAN.5 Risk Management </a> </td>
																		<td> <a href="../elements/993e444e-95b0-473b-b73d-ae540cb041bc.html" target="element"> MAN.5.BP7: Take corrective action </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/aa533f81-02cc-4f5e-b81b-8fab8f960345.html" target="element">  </a> </td>
																		<td> <a href="../elements/aa533f81-02cc-4f5e-b81b-8fab8f960345.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/72c88594-2dae-48e7-a815-23e1bc53823f.html" target="element"> MAN.5 Risk Management </a> </td>
																		<td> <a href="../elements/eaca20df-32a5-4f59-9837-f2c5b358b7d1.html" target="element"> MAN.5.BP1 Establish risk management scope </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/39cddfc5-a6ab-4e4b-af69-e37b75fab395.html" target="element">  </a> </td>
																		<td> <a href="../elements/39cddfc5-a6ab-4e4b-af69-e37b75fab395.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/72c88594-2dae-48e7-a815-23e1bc53823f.html" target="element"> MAN.5 Risk Management </a> </td>
																		<td> <a href="../elements/38bb1bd4-c4ac-494f-b54a-314b8a7b710b.html" target="element"> MAN.5.BP2 Define risk management strategies </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4bfc1e21-0514-421c-9cb2-55c0a4fd0441.html" target="element">  </a> </td>
																		<td> <a href="../elements/4bfc1e21-0514-421c-9cb2-55c0a4fd0441.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/72c88594-2dae-48e7-a815-23e1bc53823f.html" target="element"> MAN.5 Risk Management </a> </td>
																		<td> <a href="../elements/7e78b63e-5ffa-4675-aaff-aca75bb52fc1.html" target="element"> MAN.5.BP3 Identify risks </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/bbb92743-dece-4985-af3c-52ca21fbbb3c.html" target="element">  </a> </td>
																		<td> <a href="../elements/bbb92743-dece-4985-af3c-52ca21fbbb3c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/72c88594-2dae-48e7-a815-23e1bc53823f.html" target="element"> MAN.5 Risk Management </a> </td>
																		<td> <a href="../elements/e7c31adb-d33a-47a4-bc64-44dec2f67857.html" target="element"> MAN.5.BP6: Monitor risks </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/273141ce-8c8c-4611-87a3-160ad51fef51.html" target="element">  </a> </td>
																		<td> <a href="../elements/273141ce-8c8c-4611-87a3-160ad51fef51.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/72c88594-2dae-48e7-a815-23e1bc53823f.html" target="element"> MAN.5 Risk Management </a> </td>
																		<td> <a href="../elements/5946e9e9-b227-4a89-9fe0-52c67cc5290c.html" target="element"> MAN.5.BP5 Define risk treatment actions </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/277dbc96-cd58-4916-86ee-595ee4160e6a.html" target="element">  </a> </td>
																		<td> <a href="../elements/277dbc96-cd58-4916-86ee-595ee4160e6a.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/72c88594-2dae-48e7-a815-23e1bc53823f.html" target="element"> MAN.5 Risk Management </a> </td>
																		<td> <a href="../elements/4b4fbd9b-c81b-418c-aa5f-c078b0d1578a.html" target="element"> 07-07 Risk measure </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c7cb6cc3-c93c-4d4f-9556-4109a978edb3.html" target="element">  </a> </td>
																		<td> <a href="../elements/c7cb6cc3-c93c-4d4f-9556-4109a978edb3.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/72c88594-2dae-48e7-a815-23e1bc53823f.html" target="element"> MAN.5 Risk Management </a> </td>
																		<td> <a href="../elements/4707d232-e76e-451e-aa05-4680d55a60b6.html" target="element"> 08-14 Recovery plan </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/585dd43e-13f0-4000-8015-2cc19f51bbc4.html" target="element">  </a> </td>
																		<td> <a href="../elements/585dd43e-13f0-4000-8015-2cc19f51bbc4.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/72c88594-2dae-48e7-a815-23e1bc53823f.html" target="element"> MAN.5 Risk Management </a> </td>
																		<td> <a href="../elements/e4107c2d-ad06-4410-bd61-71fb684d10c4.html" target="element"> 08-19 Risk management plan </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/21d3f53c-fdfc-4649-ab7d-d8769df6e2c0.html" target="element">  </a> </td>
																		<td> <a href="../elements/21d3f53c-fdfc-4649-ab7d-d8769df6e2c0.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/72c88594-2dae-48e7-a815-23e1bc53823f.html" target="element"> MAN.5 Risk Management </a> </td>
																		<td> <a href="../elements/d6cf718a-bab4-48b0-93af-3ca7fbe7d9f7.html" target="element"> 08-20 Risk mitigation plan </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/01c72137-eddd-44aa-9223-92b5856878b3.html" target="element">  </a> </td>
																		<td> <a href="../elements/01c72137-eddd-44aa-9223-92b5856878b3.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/72c88594-2dae-48e7-a815-23e1bc53823f.html" target="element"> MAN.5 Risk Management </a> </td>
																		<td> <a href="../elements/485bc319-e304-4427-bc84-a553d5fd471b.html" target="element"> 13-20 Risk action request </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/775f99b2-8043-4aa9-880d-1db31b01c396.html" target="element">  </a> </td>
																		<td> <a href="../elements/775f99b2-8043-4aa9-880d-1db31b01c396.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/72c88594-2dae-48e7-a815-23e1bc53823f.html" target="element"> MAN.5 Risk Management </a> </td>
																		<td> <a href="../elements/3400d0a7-31c3-46f8-8e99-a25fad4ca5d5.html" target="element"> 14-02 Corrective Action Register </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b6e940b2-2bb3-473e-ba5c-8c984748add1.html" target="element">  </a> </td>
																		<td> <a href="../elements/b6e940b2-2bb3-473e-ba5c-8c984748add1.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/72c88594-2dae-48e7-a815-23e1bc53823f.html" target="element"> MAN.5 Risk Management </a> </td>
																		<td> <a href="../elements/66648936-e49e-4ca1-96f8-1cb55bbf3127.html" target="element"> 14-08 Tracking system </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/cd6cd506-14ba-4082-a808-15728c3c0a56.html" target="element">  </a> </td>
																		<td> <a href="../elements/cd6cd506-14ba-4082-a808-15728c3c0a56.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/72c88594-2dae-48e7-a815-23e1bc53823f.html" target="element"> MAN.5 Risk Management </a> </td>
																		<td> <a href="../elements/764937f0-2bc6-48de-90fb-3fdb1f1d74a7.html" target="element"> 15-08 Risk analysis report </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8f0aa60c-2029-493c-8a06-26f2f564ec4b.html" target="element">  </a> </td>
																		<td> <a href="../elements/8f0aa60c-2029-493c-8a06-26f2f564ec4b.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/72c88594-2dae-48e7-a815-23e1bc53823f.html" target="element"> MAN.5 Risk Management </a> </td>
																		<td> <a href="../elements/a4599e65-2234-470b-9f49-5ef82ab3f7ad.html" target="element"> 15-09 Risk status report </a> </td>
																	</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>