<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Overview - SWE.1 Software Requirements Analysis</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Overview - SWE.1 Software Requirements Analysis</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/93fd1303-359e-41aa-9ae3-d25fac269c97.png" alt="Overview - SWE.1 Software Requirements Analysis" usemap="#93fd1303-359e-41aa-9ae3-d25fac269c97map"/>
			   <map name="93fd1303-359e-41aa-9ae3-d25fac269c97map">
				  		<area shape="rect" coords="658,694,863,749" href="../elements/4ead5dc6-3900-488e-8d49-1be9c4ae2850.html"  target="element">
				  		<area shape="rect" coords="658,634,863,689" href="../elements/9e337f65-5885-4f82-9ae3-2ada16611918.html"  target="element">
				  		<area shape="rect" coords="658,574,863,629" href="../elements/b846e279-64bb-4f1d-b21c-88ec6d53ed0a.html"  target="element">
				  		<area shape="rect" coords="658,514,863,569" href="../elements/46ef0390-c285-4923-8ce6-e9680248ce42.html"  target="element">
				  		<area shape="rect" coords="658,454,863,509" href="../elements/27d1998c-afb9-4d93-9df6-b6d8ff6e8a0e.html"  target="element">
				  		<area shape="rect" coords="658,394,863,449" href="../elements/90ada978-e397-4600-878f-60e697a70705.html"  target="element">
				  		<area shape="rect" coords="658,334,863,389" href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html"  target="element">
				  		<area shape="rect" coords="514,106,752,239" href="../elements/455bfb8e-f341-45c4-b09b-f6fe66285855.html"  target="element">
				  		<area shape="rect" coords="262,106,500,239" href="../elements/98c6d4e9-01c8-4e98-ad7b-a269942557c6.html"  target="element">
				  		<area shape="rect" coords="10,106,248,239" href="../elements/77e334a6-360d-4bbd-ba8a-eefde484d945.html"  target="element">
				  		<area shape="rect" coords="1018,10,1256,95" href="../elements/c1dd5b9b-15a9-42b1-a5f1-435b0b3d1c26.html"  target="element">
				  		<area shape="rect" coords="766,10,1004,95" href="../elements/827495a7-faf8-4e13-b7a3-2fa2bf789ff1.html"  target="element">
				  		<area shape="rect" coords="514,10,752,95" href="../elements/75b8d491-aca5-45d9-a872-b7ea3c693fa7.html"  target="element">
				  		<area shape="rect" coords="262,10,500,95" href="../elements/e7a5e1f8-24d3-4aff-b349-876e4aa06f35.html"  target="element">
				  		<area shape="rect" coords="10,10,248,95" href="../elements/dc0e6f91-f881-4b1a-b443-43d32d6f98a4.html"  target="element">
				  				<area shape="rect" coords="211,731,488,786" href="../elements/367f3454-f8e8-4bc2-b718-51f3b5910261.html"  target="element">
				  				<area shape="rect" coords="211,671,488,726" href="../elements/4ad462f9-3b2f-4897-9261-698c81322ba8.html"  target="element">
				  				<area shape="rect" coords="211,611,488,666" href="../elements/bdbc5bc0-9569-4ded-8621-3e6d3dea35dd.html"  target="element">
				  				<area shape="rect" coords="211,311,488,366" href="../elements/50c3f31d-bcda-4fa8-8bb5-3495c24a3a35.html"  target="element">
				  				<area shape="rect" coords="211,491,488,546" href="../elements/c2d9a8f6-acd0-4d23-9fa2-01ac989098b0.html"  target="element">
				  				<area shape="rect" coords="211,551,488,606" href="../elements/f4c42d4c-3f22-49ca-a398-38f925494b92.html"  target="element">
				  				<area shape="rect" coords="211,371,488,426" href="../elements/eeef1ea2-79cb-48ea-bd00-54ed92e837a4.html"  target="element">
				  				<area shape="rect" coords="211,431,488,486" href="../elements/bdc63ae1-7ecc-4459-b220-ed8c83b5a3c0.html"  target="element">

				  		<area shape="rect" coords="199,275,500,826" href="../elements/5f16ba74-2d83-4461-9125-aa6f3114407c.html"  target="element">
				  		<area shape="rect" coords="658,275,863,330" href="../elements/5efb4ce2-8b5c-4d23-ae68-5f1b0bb0bd95.html"  target="element">
				          <area shape="rect" coords="982,274,1220,827" href="../objects/b5d671ed-4e3d-4160-a6f1-e0d6f84559ec.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">This view describes SWE.1 Software Requirements Analysis Process, its outputs and outcomes

Relation of Outcomes to Outputs and Base Practices is out of scope of this view. See respective view for these details.

Latest version and docs can be found here: https://github.com/alef1986/ASPICE-Archi

Source of information for this view is Automotive SPICE Standards v.3.1
(http://www.automotivespice.com/fileadmin/software-download/AutomotiveSPICE_PAM_31.pdf)</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/b5d671ed-4e3d-4160-a6f1-e0d6f84559ec.html" target="element">  </a> </td>
									           <td> <a href="../objects/b5d671ed-4e3d-4160-a6f1-e0d6f84559ec.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/5efb4ce2-8b5c-4d23-ae68-5f1b0bb0bd95.html" target="element"> 11-04 Product release package </a> </td>
											    <td> <a href="../elements/5efb4ce2-8b5c-4d23-ae68-5f1b0bb0bd95.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5f16ba74-2d83-4461-9125-aa6f3114407c.html" target="element"> SWE.1 Software Requirements Analysis </a> </td>
											    <td> <a href="../elements/5f16ba74-2d83-4461-9125-aa6f3114407c.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/bdc63ae1-7ecc-4459-b220-ed8c83b5a3c0.html" target="element"> SWE.1.BP3 Analyze software requirements </a> </td>
													    <td> <a href="../elements/bdc63ae1-7ecc-4459-b220-ed8c83b5a3c0.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/eeef1ea2-79cb-48ea-bd00-54ed92e837a4.html" target="element"> SWE.1.BP2 Structure software requirements </a> </td>
													    <td> <a href="../elements/eeef1ea2-79cb-48ea-bd00-54ed92e837a4.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/f4c42d4c-3f22-49ca-a398-38f925494b92.html" target="element"> SWE.1.BP5 Develop verification criteria </a> </td>
													    <td> <a href="../elements/f4c42d4c-3f22-49ca-a398-38f925494b92.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/c2d9a8f6-acd0-4d23-9fa2-01ac989098b0.html" target="element"> SWE.1.BP4 Analyze the impact on the operating environment </a> </td>
													    <td> <a href="../elements/c2d9a8f6-acd0-4d23-9fa2-01ac989098b0.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/50c3f31d-bcda-4fa8-8bb5-3495c24a3a35.html" target="element"> SWE.1.BP1 Specify software requirements </a> </td>
													    <td> <a href="../elements/50c3f31d-bcda-4fa8-8bb5-3495c24a3a35.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/bdbc5bc0-9569-4ded-8621-3e6d3dea35dd.html" target="element"> SWE.1.BP6 Establish bidirectional traceability </a> </td>
													    <td> <a href="../elements/bdbc5bc0-9569-4ded-8621-3e6d3dea35dd.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/4ad462f9-3b2f-4897-9261-698c81322ba8.html" target="element"> SWE.1.BP7 Ensure consistency </a> </td>
													    <td> <a href="../elements/4ad462f9-3b2f-4897-9261-698c81322ba8.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/367f3454-f8e8-4bc2-b718-51f3b5910261.html" target="element"> SWE.1.BP8 Communicate agreed software requirements </a> </td>
													    <td> <a href="../elements/367f3454-f8e8-4bc2-b718-51f3b5910261.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/dc0e6f91-f881-4b1a-b443-43d32d6f98a4.html" target="element"> SWE.1.O.1 The software requirements to be allocated to the software elements ofthe system and their interfaces are defined </a> </td>
											    <td> <a href="../elements/dc0e6f91-f881-4b1a-b443-43d32d6f98a4.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e7a5e1f8-24d3-4aff-b349-876e4aa06f35.html" target="element"> SWE.1.O.2 Software requirements are categorized and analyzed for correctness and verifiability </a> </td>
											    <td> <a href="../elements/e7a5e1f8-24d3-4aff-b349-876e4aa06f35.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/75b8d491-aca5-45d9-a872-b7ea3c693fa7.html" target="element"> SWE.1.O.3 The impact of software requirements on the operating environment is analyzed </a> </td>
											    <td> <a href="../elements/75b8d491-aca5-45d9-a872-b7ea3c693fa7.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/827495a7-faf8-4e13-b7a3-2fa2bf789ff1.html" target="element"> SWE.1.O.4 Prioritization for implementing the software requirements is defined </a> </td>
											    <td> <a href="../elements/827495a7-faf8-4e13-b7a3-2fa2bf789ff1.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c1dd5b9b-15a9-42b1-a5f1-435b0b3d1c26.html" target="element"> SWE.1.O.5 The software requirements are updated as needed </a> </td>
											    <td> <a href="../elements/c1dd5b9b-15a9-42b1-a5f1-435b0b3d1c26.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/77e334a6-360d-4bbd-ba8a-eefde484d945.html" target="element"> SWE.1.O.6 Consistency and bidirectional traceability are established between system requirements and software requirements; and consistency and bidirectional traceability are established between system architectural design and software requirements </a> </td>
											    <td> <a href="../elements/77e334a6-360d-4bbd-ba8a-eefde484d945.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/98c6d4e9-01c8-4e98-ad7b-a269942557c6.html" target="element"> SWE.1.O.7 The software requirements are evaluated for cost, schedule andtechnical impact </a> </td>
											    <td> <a href="../elements/98c6d4e9-01c8-4e98-ad7b-a269942557c6.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/455bfb8e-f341-45c4-b09b-f6fe66285855.html" target="element"> SWE.1.O.8 The software requirements are agreed and communicated to allaffected parties </a> </td>
											    <td> <a href="../elements/455bfb8e-f341-45c4-b09b-f6fe66285855.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element"> 13-19 Review Record </a> </td>
											    <td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/90ada978-e397-4600-878f-60e697a70705.html" target="element"> 13-21 Change control record </a> </td>
											    <td> <a href="../elements/90ada978-e397-4600-878f-60e697a70705.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/27d1998c-afb9-4d93-9df6-b6d8ff6e8a0e.html" target="element"> 13-22 Traceability record  </a> </td>
											    <td> <a href="../elements/27d1998c-afb9-4d93-9df6-b6d8ff6e8a0e.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/46ef0390-c285-4923-8ce6-e9680248ce42.html" target="element"> 15-01 Analysis report </a> </td>
											    <td> <a href="../elements/46ef0390-c285-4923-8ce6-e9680248ce42.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b846e279-64bb-4f1d-b21c-88ec6d53ed0a.html" target="element"> 17-08 Interface requirements specification </a> </td>
											    <td> <a href="../elements/b846e279-64bb-4f1d-b21c-88ec6d53ed0a.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9e337f65-5885-4f82-9ae3-2ada16611918.html" target="element"> 17-11 Software requirements specification </a> </td>
											    <td> <a href="../elements/9e337f65-5885-4f82-9ae3-2ada16611918.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4ead5dc6-3900-488e-8d49-1be9c4ae2850.html" target="element"> 17-50 Verification criteria </a> </td>
											    <td> <a href="../elements/4ead5dc6-3900-488e-8d49-1be9c4ae2850.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/c88755c0-0653-4c47-8c9a-8665a7bdd794.html" target="element">  </a> </td>
																		<td> <a href="../elements/c88755c0-0653-4c47-8c9a-8665a7bdd794.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/5f16ba74-2d83-4461-9125-aa6f3114407c.html" target="element"> SWE.1 Software Requirements Analysis </a> </td>
																		<td> <a href="../elements/f4c42d4c-3f22-49ca-a398-38f925494b92.html" target="element"> SWE.1.BP5 Develop verification criteria </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/97569d62-b5de-4358-a60e-be959f963161.html" target="element">  </a> </td>
																		<td> <a href="../elements/97569d62-b5de-4358-a60e-be959f963161.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/5f16ba74-2d83-4461-9125-aa6f3114407c.html" target="element"> SWE.1 Software Requirements Analysis </a> </td>
																		<td> <a href="../elements/eeef1ea2-79cb-48ea-bd00-54ed92e837a4.html" target="element"> SWE.1.BP2 Structure software requirements </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e15f50ed-c7a9-4028-bcd8-ab88931b2b92.html" target="element">  </a> </td>
																		<td> <a href="../elements/e15f50ed-c7a9-4028-bcd8-ab88931b2b92.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/5f16ba74-2d83-4461-9125-aa6f3114407c.html" target="element"> SWE.1 Software Requirements Analysis </a> </td>
																		<td> <a href="../elements/bdc63ae1-7ecc-4459-b220-ed8c83b5a3c0.html" target="element"> SWE.1.BP3 Analyze software requirements </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/19880163-c3dc-41a4-bc17-a484b059c58a.html" target="element">  </a> </td>
																		<td> <a href="../elements/19880163-c3dc-41a4-bc17-a484b059c58a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/5f16ba74-2d83-4461-9125-aa6f3114407c.html" target="element"> SWE.1 Software Requirements Analysis </a> </td>
																		<td> <a href="../elements/bdbc5bc0-9569-4ded-8621-3e6d3dea35dd.html" target="element"> SWE.1.BP6 Establish bidirectional traceability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/cba2c318-99a0-4295-8e53-c4f85791edef.html" target="element">  </a> </td>
																		<td> <a href="../elements/cba2c318-99a0-4295-8e53-c4f85791edef.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/5f16ba74-2d83-4461-9125-aa6f3114407c.html" target="element"> SWE.1 Software Requirements Analysis </a> </td>
																		<td> <a href="../elements/50c3f31d-bcda-4fa8-8bb5-3495c24a3a35.html" target="element"> SWE.1.BP1 Specify software requirements </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8a415c67-3bc0-4f00-8662-5a62197f324e.html" target="element">  </a> </td>
																		<td> <a href="../elements/8a415c67-3bc0-4f00-8662-5a62197f324e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/5f16ba74-2d83-4461-9125-aa6f3114407c.html" target="element"> SWE.1 Software Requirements Analysis </a> </td>
																		<td> <a href="../elements/4ad462f9-3b2f-4897-9261-698c81322ba8.html" target="element"> SWE.1.BP7 Ensure consistency </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6d94ab53-e06e-46e7-aac3-6d25b02a57ae.html" target="element">  </a> </td>
																		<td> <a href="../elements/6d94ab53-e06e-46e7-aac3-6d25b02a57ae.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/5f16ba74-2d83-4461-9125-aa6f3114407c.html" target="element"> SWE.1 Software Requirements Analysis </a> </td>
																		<td> <a href="../elements/c2d9a8f6-acd0-4d23-9fa2-01ac989098b0.html" target="element"> SWE.1.BP4 Analyze the impact on the operating environment </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0b3cfc78-95e4-49c2-9502-a17a932ca9be.html" target="element">  </a> </td>
																		<td> <a href="../elements/0b3cfc78-95e4-49c2-9502-a17a932ca9be.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/5f16ba74-2d83-4461-9125-aa6f3114407c.html" target="element"> SWE.1 Software Requirements Analysis </a> </td>
																		<td> <a href="../elements/367f3454-f8e8-4bc2-b718-51f3b5910261.html" target="element"> SWE.1.BP8 Communicate agreed software requirements </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/22cd69e5-369a-4794-becc-946879a7fa89.html" target="element">  </a> </td>
																		<td> <a href="../elements/22cd69e5-369a-4794-becc-946879a7fa89.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/5f16ba74-2d83-4461-9125-aa6f3114407c.html" target="element"> SWE.1 Software Requirements Analysis </a> </td>
																		<td> <a href="../elements/5efb4ce2-8b5c-4d23-ae68-5f1b0bb0bd95.html" target="element"> 11-04 Product release package </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0b188aed-9a3d-4781-a8c1-bb85114f82dc.html" target="element">  </a> </td>
																		<td> <a href="../elements/0b188aed-9a3d-4781-a8c1-bb85114f82dc.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/5f16ba74-2d83-4461-9125-aa6f3114407c.html" target="element"> SWE.1 Software Requirements Analysis </a> </td>
																		<td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element"> 13-19 Review Record </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/087fb925-e56a-48cb-a7b2-361f30b785bd.html" target="element">  </a> </td>
																		<td> <a href="../elements/087fb925-e56a-48cb-a7b2-361f30b785bd.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/5f16ba74-2d83-4461-9125-aa6f3114407c.html" target="element"> SWE.1 Software Requirements Analysis </a> </td>
																		<td> <a href="../elements/90ada978-e397-4600-878f-60e697a70705.html" target="element"> 13-21 Change control record </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8a2d3027-7488-47ae-95db-6d7615433f1e.html" target="element">  </a> </td>
																		<td> <a href="../elements/8a2d3027-7488-47ae-95db-6d7615433f1e.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/5f16ba74-2d83-4461-9125-aa6f3114407c.html" target="element"> SWE.1 Software Requirements Analysis </a> </td>
																		<td> <a href="../elements/27d1998c-afb9-4d93-9df6-b6d8ff6e8a0e.html" target="element"> 13-22 Traceability record  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/abf7ba73-8232-4668-ade2-2241d913a773.html" target="element">  </a> </td>
																		<td> <a href="../elements/abf7ba73-8232-4668-ade2-2241d913a773.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/5f16ba74-2d83-4461-9125-aa6f3114407c.html" target="element"> SWE.1 Software Requirements Analysis </a> </td>
																		<td> <a href="../elements/46ef0390-c285-4923-8ce6-e9680248ce42.html" target="element"> 15-01 Analysis report </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/98e51a06-bc5c-4efc-94cd-9965bcd000c8.html" target="element">  </a> </td>
																		<td> <a href="../elements/98e51a06-bc5c-4efc-94cd-9965bcd000c8.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/5f16ba74-2d83-4461-9125-aa6f3114407c.html" target="element"> SWE.1 Software Requirements Analysis </a> </td>
																		<td> <a href="../elements/b846e279-64bb-4f1d-b21c-88ec6d53ed0a.html" target="element"> 17-08 Interface requirements specification </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a861844d-5f71-4515-9f39-89a9ad8b47a1.html" target="element">  </a> </td>
																		<td> <a href="../elements/a861844d-5f71-4515-9f39-89a9ad8b47a1.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/5f16ba74-2d83-4461-9125-aa6f3114407c.html" target="element"> SWE.1 Software Requirements Analysis </a> </td>
																		<td> <a href="../elements/9e337f65-5885-4f82-9ae3-2ada16611918.html" target="element"> 17-11 Software requirements specification </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5683a745-016b-4c4a-a83b-edc50a3fb9a8.html" target="element">  </a> </td>
																		<td> <a href="../elements/5683a745-016b-4c4a-a83b-edc50a3fb9a8.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/5f16ba74-2d83-4461-9125-aa6f3114407c.html" target="element"> SWE.1 Software Requirements Analysis </a> </td>
																		<td> <a href="../elements/4ead5dc6-3900-488e-8d49-1be9c4ae2850.html" target="element"> 17-50 Verification criteria </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>