<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>O. vs. BP. vs. WP. - MAN.5 Risk Management</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>O. vs. BP. vs. WP. - MAN.5 Risk Management</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/9a01e40b-79fe-4c87-9ea7-738532174187.png" alt="O. vs. BP. vs. WP. - MAN.5 Risk Management" usemap="#9a01e40b-79fe-4c87-9ea7-738532174187map"/>
			   <map name="9a01e40b-79fe-4c87-9ea7-738532174187map">
				  		<area shape="rect" coords="1162,526,1271,581" href="../elements/a4599e65-2234-470b-9f49-5ef82ab3f7ad.html"  target="element">
				  		<area shape="rect" coords="1016,526,1125,581" href="../elements/764937f0-2bc6-48de-90fb-3fdb1f1d74a7.html"  target="element">
				  		<area shape="rect" coords="872,526,981,581" href="../elements/66648936-e49e-4ca1-96f8-1cb55bbf3127.html"  target="element">
				  		<area shape="rect" coords="922,10,1132,65" href="../elements/5946e9e9-b227-4a89-9fe0-52c67cc5290c.html"  target="element">
				  		<area shape="rect" coords="1150,10,1360,65" href="../elements/e7c31adb-d33a-47a4-bc64-44dec2f67857.html"  target="element">
				  		<area shape="rect" coords="466,10,676,65" href="../elements/7e78b63e-5ffa-4675-aaff-aca75bb52fc1.html"  target="element">
				  		<area shape="rect" coords="694,10,904,65" href="../elements/a3208ba9-90d9-44bd-b6bc-18f2d8de7eee.html"  target="element">
				  		<area shape="rect" coords="728,526,837,581" href="../elements/3400d0a7-31c3-46f8-8e99-a25fad4ca5d5.html"  target="element">
				  		<area shape="rect" coords="584,526,693,581" href="../elements/485bc319-e304-4427-bc84-a553d5fd471b.html"  target="element">
				  		<area shape="rect" coords="442,526,551,581" href="../elements/d6cf718a-bab4-48b0-93af-3ca7fbe7d9f7.html"  target="element">
				  		<area shape="rect" coords="296,526,405,581" href="../elements/e4107c2d-ad06-4410-bd61-71fb684d10c4.html"  target="element">
				  		<area shape="rect" coords="154,526,263,581" href="../elements/4707d232-e76e-451e-aa05-4680d55a60b6.html"  target="element">
				  		<area shape="rect" coords="12,526,121,581" href="../elements/4b4fbd9b-c81b-418c-aa5f-c078b0d1578a.html"  target="element">
				  		<area shape="rect" coords="238,10,448,65" href="../elements/38bb1bd4-c4ac-494f-b54a-314b8a7b710b.html"  target="element">
				  		<area shape="rect" coords="10,10,220,65" href="../elements/eaca20df-32a5-4f59-9837-f2c5b358b7d1.html"  target="element">
				  		<area shape="rect" coords="1378,10,1588,65" href="../elements/993e444e-95b0-473b-b73d-ae540cb041bc.html"  target="element">
				  		<area shape="rect" coords="10,406,1727,440" href="../elements/4d30f7b5-6ab8-4aa4-8759-70a519880ed9.html"  target="element">
				  		<area shape="rect" coords="10,358,1727,392" href="../elements/927db887-7dc3-4287-a50a-0aa5dc0cc403.html"  target="element">
				  		<area shape="rect" coords="10,310,1727,344" href="../elements/fc505756-2c6d-4dc9-9fc6-9842966c669f.html"  target="element">
				  		<area shape="rect" coords="10,262,1727,296" href="../elements/f495da71-614a-4923-9b3b-776e3a650745.html"  target="element">
				  		<area shape="rect" coords="10,214,1727,248" href="../elements/333afeaa-5213-49f4-b747-0a40579006c6.html"  target="element">
				  		<area shape="rect" coords="10,166,1727,200" href="../elements/c1bcc100-5e2a-4d8a-a517-c77952f418dc.html"  target="element">
				          <area shape="rect" coords="10,754,839,870" href="../objects/e906f94d-7418-4107-be75-5556cd059c3b.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">This view answers the following questions:
- If I implement and deploy the Base Practice (BP) ***, how can I verify if I did it properly? What outcomes shall be achieved?
- If I implement and demploy the Outcome Work Product ***, how can I verify if I did it properly? What outcomes shall be achieved?

Scope of this view - Outcomes, Base Practices and their relations for ASPICE process MAN.5 Risk Management

Latest version and docs can be found here: https://github.com/alef1986/ASPICE-Archi</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/e906f94d-7418-4107-be75-5556cd059c3b.html" target="element">  </a> </td>
									           <td> <a href="../objects/e906f94d-7418-4107-be75-5556cd059c3b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/c1bcc100-5e2a-4d8a-a517-c77952f418dc.html" target="element"> MAN.5.O.1 The scope of the risk management to be performed is determined </a> </td>
											    <td> <a href="../elements/c1bcc100-5e2a-4d8a-a517-c77952f418dc.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/333afeaa-5213-49f4-b747-0a40579006c6.html" target="element"> MAN.5.O.2 Appropriate risk management strategies are defined andimplemented </a> </td>
											    <td> <a href="../elements/333afeaa-5213-49f4-b747-0a40579006c6.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f495da71-614a-4923-9b3b-776e3a650745.html" target="element"> MAN.5.O.3 Risks are identified as they develop during the conduct of the project </a> </td>
											    <td> <a href="../elements/f495da71-614a-4923-9b3b-776e3a650745.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/fc505756-2c6d-4dc9-9fc6-9842966c669f.html" target="element"> MAN.5.O.4 Risks are analyzed and the priority in which to apply resources totreatment of these risks is determined </a> </td>
											    <td> <a href="../elements/fc505756-2c6d-4dc9-9fc6-9842966c669f.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/927db887-7dc3-4287-a50a-0aa5dc0cc403.html" target="element"> MAN.5.O.5 Risk measures are defined, applied, and assessed to determinechanges in the status of risk and the progress of the treatment activities </a> </td>
											    <td> <a href="../elements/927db887-7dc3-4287-a50a-0aa5dc0cc403.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4d30f7b5-6ab8-4aa4-8759-70a519880ed9.html" target="element"> MAN.5.O.6 Appropriate treatment is taken to correct or avoid the impact of riskbased on its priority, probability, and consequence or other definedrisk threshold </a> </td>
											    <td> <a href="../elements/4d30f7b5-6ab8-4aa4-8759-70a519880ed9.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/993e444e-95b0-473b-b73d-ae540cb041bc.html" target="element"> MAN.5.BP7: Take corrective action </a> </td>
											    <td> <a href="../elements/993e444e-95b0-473b-b73d-ae540cb041bc.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/eaca20df-32a5-4f59-9837-f2c5b358b7d1.html" target="element"> MAN.5.BP1 Establish risk management scope </a> </td>
											    <td> <a href="../elements/eaca20df-32a5-4f59-9837-f2c5b358b7d1.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/38bb1bd4-c4ac-494f-b54a-314b8a7b710b.html" target="element"> MAN.5.BP2 Define risk management strategies </a> </td>
											    <td> <a href="../elements/38bb1bd4-c4ac-494f-b54a-314b8a7b710b.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4b4fbd9b-c81b-418c-aa5f-c078b0d1578a.html" target="element"> 07-07 Risk measure </a> </td>
											    <td> <a href="../elements/4b4fbd9b-c81b-418c-aa5f-c078b0d1578a.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4707d232-e76e-451e-aa05-4680d55a60b6.html" target="element"> 08-14 Recovery plan </a> </td>
											    <td> <a href="../elements/4707d232-e76e-451e-aa05-4680d55a60b6.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e4107c2d-ad06-4410-bd61-71fb684d10c4.html" target="element"> 08-19 Risk management plan </a> </td>
											    <td> <a href="../elements/e4107c2d-ad06-4410-bd61-71fb684d10c4.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d6cf718a-bab4-48b0-93af-3ca7fbe7d9f7.html" target="element"> 08-20 Risk mitigation plan </a> </td>
											    <td> <a href="../elements/d6cf718a-bab4-48b0-93af-3ca7fbe7d9f7.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/485bc319-e304-4427-bc84-a553d5fd471b.html" target="element"> 13-20 Risk action request </a> </td>
											    <td> <a href="../elements/485bc319-e304-4427-bc84-a553d5fd471b.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3400d0a7-31c3-46f8-8e99-a25fad4ca5d5.html" target="element"> 14-02 Corrective Action Register </a> </td>
											    <td> <a href="../elements/3400d0a7-31c3-46f8-8e99-a25fad4ca5d5.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a3208ba9-90d9-44bd-b6bc-18f2d8de7eee.html" target="element"> MAN.5.BP4 Analyze risks </a> </td>
											    <td> <a href="../elements/a3208ba9-90d9-44bd-b6bc-18f2d8de7eee.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7e78b63e-5ffa-4675-aaff-aca75bb52fc1.html" target="element"> MAN.5.BP3 Identify risks </a> </td>
											    <td> <a href="../elements/7e78b63e-5ffa-4675-aaff-aca75bb52fc1.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e7c31adb-d33a-47a4-bc64-44dec2f67857.html" target="element"> MAN.5.BP6: Monitor risks </a> </td>
											    <td> <a href="../elements/e7c31adb-d33a-47a4-bc64-44dec2f67857.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5946e9e9-b227-4a89-9fe0-52c67cc5290c.html" target="element"> MAN.5.BP5 Define risk treatment actions </a> </td>
											    <td> <a href="../elements/5946e9e9-b227-4a89-9fe0-52c67cc5290c.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/66648936-e49e-4ca1-96f8-1cb55bbf3127.html" target="element"> 14-08 Tracking system </a> </td>
											    <td> <a href="../elements/66648936-e49e-4ca1-96f8-1cb55bbf3127.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/764937f0-2bc6-48de-90fb-3fdb1f1d74a7.html" target="element"> 15-08 Risk analysis report </a> </td>
											    <td> <a href="../elements/764937f0-2bc6-48de-90fb-3fdb1f1d74a7.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a4599e65-2234-470b-9f49-5ef82ab3f7ad.html" target="element"> 15-09 Risk status report </a> </td>
											    <td> <a href="../elements/a4599e65-2234-470b-9f49-5ef82ab3f7ad.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/7038e322-cb67-4114-96e5-c460ececf4ef.html" target="element">  </a> </td>
																		<td> <a href="../elements/7038e322-cb67-4114-96e5-c460ececf4ef.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/eaca20df-32a5-4f59-9837-f2c5b358b7d1.html" target="element"> MAN.5.BP1 Establish risk management scope </a> </td>
																		<td> <a href="../elements/c1bcc100-5e2a-4d8a-a517-c77952f418dc.html" target="element"> MAN.5.O.1 The scope of the risk management to be performed is determined </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/993fb3cc-a7f9-465c-a825-d8b3691a89d8.html" target="element">  </a> </td>
																		<td> <a href="../elements/993fb3cc-a7f9-465c-a825-d8b3691a89d8.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/38bb1bd4-c4ac-494f-b54a-314b8a7b710b.html" target="element"> MAN.5.BP2 Define risk management strategies </a> </td>
																		<td> <a href="../elements/333afeaa-5213-49f4-b747-0a40579006c6.html" target="element"> MAN.5.O.2 Appropriate risk management strategies are defined andimplemented </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/759188be-abac-43de-b12c-33b063830748.html" target="element">  </a> </td>
																		<td> <a href="../elements/759188be-abac-43de-b12c-33b063830748.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/4b4fbd9b-c81b-418c-aa5f-c078b0d1578a.html" target="element"> 07-07 Risk measure </a> </td>
																		<td> <a href="../elements/927db887-7dc3-4287-a50a-0aa5dc0cc403.html" target="element"> MAN.5.O.5 Risk measures are defined, applied, and assessed to determinechanges in the status of risk and the progress of the treatment activities </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/2d4b195b-1d0c-4994-a9f0-e5db8e1026d5.html" target="element">  </a> </td>
																		<td> <a href="../elements/2d4b195b-1d0c-4994-a9f0-e5db8e1026d5.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/4707d232-e76e-451e-aa05-4680d55a60b6.html" target="element"> 08-14 Recovery plan </a> </td>
																		<td> <a href="../elements/fc505756-2c6d-4dc9-9fc6-9842966c669f.html" target="element"> MAN.5.O.4 Risks are analyzed and the priority in which to apply resources totreatment of these risks is determined </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/518c7139-af09-426d-a5ad-344d7dda18f6.html" target="element">  </a> </td>
																		<td> <a href="../elements/518c7139-af09-426d-a5ad-344d7dda18f6.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/4707d232-e76e-451e-aa05-4680d55a60b6.html" target="element"> 08-14 Recovery plan </a> </td>
																		<td> <a href="../elements/4d30f7b5-6ab8-4aa4-8759-70a519880ed9.html" target="element"> MAN.5.O.6 Appropriate treatment is taken to correct or avoid the impact of riskbased on its priority, probability, and consequence or other definedrisk threshold </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/86efcaba-1ec3-48cc-8bdb-95a4cc5c7241.html" target="element">  </a> </td>
																		<td> <a href="../elements/86efcaba-1ec3-48cc-8bdb-95a4cc5c7241.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/e4107c2d-ad06-4410-bd61-71fb684d10c4.html" target="element"> 08-19 Risk management plan </a> </td>
																		<td> <a href="../elements/c1bcc100-5e2a-4d8a-a517-c77952f418dc.html" target="element"> MAN.5.O.1 The scope of the risk management to be performed is determined </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a03822c7-e1c6-4453-ad1d-8545ff05354c.html" target="element">  </a> </td>
																		<td> <a href="../elements/a03822c7-e1c6-4453-ad1d-8545ff05354c.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/e4107c2d-ad06-4410-bd61-71fb684d10c4.html" target="element"> 08-19 Risk management plan </a> </td>
																		<td> <a href="../elements/333afeaa-5213-49f4-b747-0a40579006c6.html" target="element"> MAN.5.O.2 Appropriate risk management strategies are defined andimplemented </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6b968dae-be83-4706-a814-1cb4a07e8934.html" target="element">  </a> </td>
																		<td> <a href="../elements/6b968dae-be83-4706-a814-1cb4a07e8934.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/e4107c2d-ad06-4410-bd61-71fb684d10c4.html" target="element"> 08-19 Risk management plan </a> </td>
																		<td> <a href="../elements/f495da71-614a-4923-9b3b-776e3a650745.html" target="element"> MAN.5.O.3 Risks are identified as they develop during the conduct of the project </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/10b008a5-396f-4495-b11d-24676dae5091.html" target="element">  </a> </td>
																		<td> <a href="../elements/10b008a5-396f-4495-b11d-24676dae5091.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/e4107c2d-ad06-4410-bd61-71fb684d10c4.html" target="element"> 08-19 Risk management plan </a> </td>
																		<td> <a href="../elements/fc505756-2c6d-4dc9-9fc6-9842966c669f.html" target="element"> MAN.5.O.4 Risks are analyzed and the priority in which to apply resources totreatment of these risks is determined </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6d5352ff-171f-4048-a8a3-adf1754812b6.html" target="element">  </a> </td>
																		<td> <a href="../elements/6d5352ff-171f-4048-a8a3-adf1754812b6.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/e4107c2d-ad06-4410-bd61-71fb684d10c4.html" target="element"> 08-19 Risk management plan </a> </td>
																		<td> <a href="../elements/927db887-7dc3-4287-a50a-0aa5dc0cc403.html" target="element"> MAN.5.O.5 Risk measures are defined, applied, and assessed to determinechanges in the status of risk and the progress of the treatment activities </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9a3a00c0-b391-4488-bbd4-7b540ee10d23.html" target="element">  </a> </td>
																		<td> <a href="../elements/9a3a00c0-b391-4488-bbd4-7b540ee10d23.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/e4107c2d-ad06-4410-bd61-71fb684d10c4.html" target="element"> 08-19 Risk management plan </a> </td>
																		<td> <a href="../elements/4d30f7b5-6ab8-4aa4-8759-70a519880ed9.html" target="element"> MAN.5.O.6 Appropriate treatment is taken to correct or avoid the impact of riskbased on its priority, probability, and consequence or other definedrisk threshold </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/17df90f3-4922-4586-8862-60c1def9fdee.html" target="element">  </a> </td>
																		<td> <a href="../elements/17df90f3-4922-4586-8862-60c1def9fdee.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/d6cf718a-bab4-48b0-93af-3ca7fbe7d9f7.html" target="element"> 08-20 Risk mitigation plan </a> </td>
																		<td> <a href="../elements/f495da71-614a-4923-9b3b-776e3a650745.html" target="element"> MAN.5.O.3 Risks are identified as they develop during the conduct of the project </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0453173d-ec4b-4c49-a16a-88826562b26a.html" target="element">  </a> </td>
																		<td> <a href="../elements/0453173d-ec4b-4c49-a16a-88826562b26a.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/d6cf718a-bab4-48b0-93af-3ca7fbe7d9f7.html" target="element"> 08-20 Risk mitigation plan </a> </td>
																		<td> <a href="../elements/fc505756-2c6d-4dc9-9fc6-9842966c669f.html" target="element"> MAN.5.O.4 Risks are analyzed and the priority in which to apply resources totreatment of these risks is determined </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ea4a75f8-1631-4df3-89f0-823996c81082.html" target="element">  </a> </td>
																		<td> <a href="../elements/ea4a75f8-1631-4df3-89f0-823996c81082.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/d6cf718a-bab4-48b0-93af-3ca7fbe7d9f7.html" target="element"> 08-20 Risk mitigation plan </a> </td>
																		<td> <a href="../elements/927db887-7dc3-4287-a50a-0aa5dc0cc403.html" target="element"> MAN.5.O.5 Risk measures are defined, applied, and assessed to determinechanges in the status of risk and the progress of the treatment activities </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/39fc6726-f628-4e04-b1d0-8812b9cee7b6.html" target="element">  </a> </td>
																		<td> <a href="../elements/39fc6726-f628-4e04-b1d0-8812b9cee7b6.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/d6cf718a-bab4-48b0-93af-3ca7fbe7d9f7.html" target="element"> 08-20 Risk mitigation plan </a> </td>
																		<td> <a href="../elements/4d30f7b5-6ab8-4aa4-8759-70a519880ed9.html" target="element"> MAN.5.O.6 Appropriate treatment is taken to correct or avoid the impact of riskbased on its priority, probability, and consequence or other definedrisk threshold </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/7820ba3a-3697-46f9-bcfd-d34fdd913961.html" target="element">  </a> </td>
																		<td> <a href="../elements/7820ba3a-3697-46f9-bcfd-d34fdd913961.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/485bc319-e304-4427-bc84-a553d5fd471b.html" target="element"> 13-20 Risk action request </a> </td>
																		<td> <a href="../elements/c1bcc100-5e2a-4d8a-a517-c77952f418dc.html" target="element"> MAN.5.O.1 The scope of the risk management to be performed is determined </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e44f6493-fd3b-4e46-9cf3-acf14283dcc4.html" target="element">  </a> </td>
																		<td> <a href="../elements/e44f6493-fd3b-4e46-9cf3-acf14283dcc4.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/485bc319-e304-4427-bc84-a553d5fd471b.html" target="element"> 13-20 Risk action request </a> </td>
																		<td> <a href="../elements/333afeaa-5213-49f4-b747-0a40579006c6.html" target="element"> MAN.5.O.2 Appropriate risk management strategies are defined andimplemented </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/dea46fbb-da74-4aa7-8c42-76629d32e3e4.html" target="element">  </a> </td>
																		<td> <a href="../elements/dea46fbb-da74-4aa7-8c42-76629d32e3e4.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/485bc319-e304-4427-bc84-a553d5fd471b.html" target="element"> 13-20 Risk action request </a> </td>
																		<td> <a href="../elements/4d30f7b5-6ab8-4aa4-8759-70a519880ed9.html" target="element"> MAN.5.O.6 Appropriate treatment is taken to correct or avoid the impact of riskbased on its priority, probability, and consequence or other definedrisk threshold </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/7dfe50f2-83bb-4744-9b94-909ae5ee64c1.html" target="element">  </a> </td>
																		<td> <a href="../elements/7dfe50f2-83bb-4744-9b94-909ae5ee64c1.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/3400d0a7-31c3-46f8-8e99-a25fad4ca5d5.html" target="element"> 14-02 Corrective Action Register </a> </td>
																		<td> <a href="../elements/4d30f7b5-6ab8-4aa4-8759-70a519880ed9.html" target="element"> MAN.5.O.6 Appropriate treatment is taken to correct or avoid the impact of riskbased on its priority, probability, and consequence or other definedrisk threshold </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/7c31c7dc-7400-49f3-9f92-a9ddfb7de17e.html" target="element">  </a> </td>
																		<td> <a href="../elements/7c31c7dc-7400-49f3-9f92-a9ddfb7de17e.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/a3208ba9-90d9-44bd-b6bc-18f2d8de7eee.html" target="element"> MAN.5.BP4 Analyze risks </a> </td>
																		<td> <a href="../elements/fc505756-2c6d-4dc9-9fc6-9842966c669f.html" target="element"> MAN.5.O.4 Risks are analyzed and the priority in which to apply resources totreatment of these risks is determined </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/fb5776cc-102d-44c4-9962-9878f92127eb.html" target="element">  </a> </td>
																		<td> <a href="../elements/fb5776cc-102d-44c4-9962-9878f92127eb.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/7e78b63e-5ffa-4675-aaff-aca75bb52fc1.html" target="element"> MAN.5.BP3 Identify risks </a> </td>
																		<td> <a href="../elements/333afeaa-5213-49f4-b747-0a40579006c6.html" target="element"> MAN.5.O.2 Appropriate risk management strategies are defined andimplemented </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/29abf32e-d696-4d15-a7f6-c809ad7df0a6.html" target="element">  </a> </td>
																		<td> <a href="../elements/29abf32e-d696-4d15-a7f6-c809ad7df0a6.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/7e78b63e-5ffa-4675-aaff-aca75bb52fc1.html" target="element"> MAN.5.BP3 Identify risks </a> </td>
																		<td> <a href="../elements/f495da71-614a-4923-9b3b-776e3a650745.html" target="element"> MAN.5.O.3 Risks are identified as they develop during the conduct of the project </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/73568e9b-8538-4f3d-b1c6-1693a3d2c9a4.html" target="element">  </a> </td>
																		<td> <a href="../elements/73568e9b-8538-4f3d-b1c6-1693a3d2c9a4.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/e7c31adb-d33a-47a4-bc64-44dec2f67857.html" target="element"> MAN.5.BP6: Monitor risks </a> </td>
																		<td> <a href="../elements/927db887-7dc3-4287-a50a-0aa5dc0cc403.html" target="element"> MAN.5.O.5 Risk measures are defined, applied, and assessed to determinechanges in the status of risk and the progress of the treatment activities </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d89b4250-9c48-427c-a11a-482938e57178.html" target="element">  </a> </td>
																		<td> <a href="../elements/d89b4250-9c48-427c-a11a-482938e57178.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/e7c31adb-d33a-47a4-bc64-44dec2f67857.html" target="element"> MAN.5.BP6: Monitor risks </a> </td>
																		<td> <a href="../elements/4d30f7b5-6ab8-4aa4-8759-70a519880ed9.html" target="element"> MAN.5.O.6 Appropriate treatment is taken to correct or avoid the impact of riskbased on its priority, probability, and consequence or other definedrisk threshold </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/f8a054c3-f857-4e88-9c20-86a55ad26843.html" target="element">  </a> </td>
																		<td> <a href="../elements/f8a054c3-f857-4e88-9c20-86a55ad26843.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/5946e9e9-b227-4a89-9fe0-52c67cc5290c.html" target="element"> MAN.5.BP5 Define risk treatment actions </a> </td>
																		<td> <a href="../elements/927db887-7dc3-4287-a50a-0aa5dc0cc403.html" target="element"> MAN.5.O.5 Risk measures are defined, applied, and assessed to determinechanges in the status of risk and the progress of the treatment activities </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/74bfa3b8-443f-4e2b-bc45-59af73a6ab2a.html" target="element">  </a> </td>
																		<td> <a href="../elements/74bfa3b8-443f-4e2b-bc45-59af73a6ab2a.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/5946e9e9-b227-4a89-9fe0-52c67cc5290c.html" target="element"> MAN.5.BP5 Define risk treatment actions </a> </td>
																		<td> <a href="../elements/4d30f7b5-6ab8-4aa4-8759-70a519880ed9.html" target="element"> MAN.5.O.6 Appropriate treatment is taken to correct or avoid the impact of riskbased on its priority, probability, and consequence or other definedrisk threshold </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/09b054b1-5c85-4f51-be3b-895cc93f0e2d.html" target="element">  </a> </td>
																		<td> <a href="../elements/09b054b1-5c85-4f51-be3b-895cc93f0e2d.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/66648936-e49e-4ca1-96f8-1cb55bbf3127.html" target="element"> 14-08 Tracking system </a> </td>
																		<td> <a href="../elements/927db887-7dc3-4287-a50a-0aa5dc0cc403.html" target="element"> MAN.5.O.5 Risk measures are defined, applied, and assessed to determinechanges in the status of risk and the progress of the treatment activities </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c1015a62-e35d-4d90-8d94-65eb53e19eab.html" target="element">  </a> </td>
																		<td> <a href="../elements/c1015a62-e35d-4d90-8d94-65eb53e19eab.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/66648936-e49e-4ca1-96f8-1cb55bbf3127.html" target="element"> 14-08 Tracking system </a> </td>
																		<td> <a href="../elements/4d30f7b5-6ab8-4aa4-8759-70a519880ed9.html" target="element"> MAN.5.O.6 Appropriate treatment is taken to correct or avoid the impact of riskbased on its priority, probability, and consequence or other definedrisk threshold </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/193ed3ac-6891-430e-8356-47b74736b6d4.html" target="element">  </a> </td>
																		<td> <a href="../elements/193ed3ac-6891-430e-8356-47b74736b6d4.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/764937f0-2bc6-48de-90fb-3fdb1f1d74a7.html" target="element"> 15-08 Risk analysis report </a> </td>
																		<td> <a href="../elements/fc505756-2c6d-4dc9-9fc6-9842966c669f.html" target="element"> MAN.5.O.4 Risks are analyzed and the priority in which to apply resources totreatment of these risks is determined </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/19bdce8e-eedc-443d-aca5-581702ea42c7.html" target="element">  </a> </td>
																		<td> <a href="../elements/19bdce8e-eedc-443d-aca5-581702ea42c7.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/a4599e65-2234-470b-9f49-5ef82ab3f7ad.html" target="element"> 15-09 Risk status report </a> </td>
																		<td> <a href="../elements/fc505756-2c6d-4dc9-9fc6-9842966c669f.html" target="element"> MAN.5.O.4 Risks are analyzed and the priority in which to apply resources totreatment of these risks is determined </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5a15fd0a-4bfd-4716-8309-4f6c1b7f8893.html" target="element">  </a> </td>
																		<td> <a href="../elements/5a15fd0a-4bfd-4716-8309-4f6c1b7f8893.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/a4599e65-2234-470b-9f49-5ef82ab3f7ad.html" target="element"> 15-09 Risk status report </a> </td>
																		<td> <a href="../elements/927db887-7dc3-4287-a50a-0aa5dc0cc403.html" target="element"> MAN.5.O.5 Risk measures are defined, applied, and assessed to determinechanges in the status of risk and the progress of the treatment activities </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>