<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Overview - SYS.2 System Requirements Analysis</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Overview - SYS.2 System Requirements Analysis</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/9c20a724-26e3-4286-9bfc-93f7dad78080.png" alt="Overview - SYS.2 System Requirements Analysis" usemap="#9c20a724-26e3-4286-9bfc-93f7dad78080map"/>
			   <map name="9c20a724-26e3-4286-9bfc-93f7dad78080map">
				  		<area shape="rect" coords="766,574,1004,629" href="../views/9e94f80f-8775-4044-8110-6a872c99ec05.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="766,514,1004,569" href="../views/e6bc248e-1903-4356-aaf4-5b480999e47a.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="499,658,704,713" href="../elements/4ead5dc6-3900-488e-8d49-1be9c4ae2850.html"  target="element">
				  		<area shape="rect" coords="499,598,704,653" href="../elements/4f0b672d-f072-4161-95c0-0275c4283358.html"  target="element">
				  		<area shape="rect" coords="499,538,704,593" href="../elements/b846e279-64bb-4f1d-b21c-88ec6d53ed0a.html"  target="element">
				  		<area shape="rect" coords="499,478,704,533" href="../elements/46ef0390-c285-4923-8ce6-e9680248ce42.html"  target="element">
				  		<area shape="rect" coords="499,418,704,473" href="../elements/27d1998c-afb9-4d93-9df6-b6d8ff6e8a0e.html"  target="element">
				  		<area shape="rect" coords="499,358,704,413" href="../elements/90ada978-e397-4600-878f-60e697a70705.html"  target="element">
				  		<area shape="rect" coords="499,298,704,353" href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html"  target="element">
				  		<area shape="rect" coords="766,82,1004,167" href="../elements/1e005f15-f2d1-467e-920a-cf1abd0b656a.html"  target="element">
				  		<area shape="rect" coords="514,82,752,167" href="../elements/35079a59-853f-4cb1-8ce3-88b5d7a5da52.html"  target="element">
				  		<area shape="rect" coords="262,82,500,167" href="../elements/32228fc4-0e89-4509-bcf5-0cd5e7a524b5.html"  target="element">
				  		<area shape="rect" coords="10,82,248,167" href="../elements/48cfc594-340c-4a73-b394-93135a7ebc8a.html"  target="element">
				  		<area shape="rect" coords="766,10,1004,71" href="../elements/c85ba532-2d62-420a-92fa-1085197f0918.html"  target="element">
				  		<area shape="rect" coords="514,10,752,71" href="../elements/e84d89fe-27df-4781-8545-b4d45e6a81bd.html"  target="element">
				  		<area shape="rect" coords="262,10,500,71" href="../elements/a1e419d5-72ec-4d99-8ec2-0d245f01dd6d.html"  target="element">
				  		<area shape="rect" coords="10,10,248,71" href="../elements/177fcd18-52bd-4b33-b30e-2cea43e6b72a.html"  target="element">
				  				<area shape="rect" coords="142,694,419,749" href="../elements/c2758f01-5bad-422f-9acf-231a73d46ab2.html"  target="element">
				  				<area shape="rect" coords="142,634,419,689" href="../elements/123d8f84-4707-45b3-89ed-50a68318f794.html"  target="element">
				  				<area shape="rect" coords="142,574,419,629" href="../elements/3da62761-b2c9-4513-9ba3-046388f36eb6.html"  target="element">
				  				<area shape="rect" coords="142,274,419,329" href="../elements/a3b3f207-672b-4617-b16e-ea596da84601.html"  target="element">
				  				<area shape="rect" coords="142,454,419,509" href="../elements/1ea9348d-da54-4231-81f9-418da90e8f05.html"  target="element">
				  				<area shape="rect" coords="142,514,419,569" href="../elements/57dc9363-c206-48db-9cd3-b30cb27a4164.html"  target="element">
				  				<area shape="rect" coords="142,334,419,389" href="../elements/972851d7-442d-476a-aae6-01894edd191a.html"  target="element">
				  				<area shape="rect" coords="142,394,419,449" href="../elements/6bd28dad-1bea-4f45-99dc-4f6b9ce0185b.html"  target="element">

				  		<area shape="rect" coords="130,238,431,755" href="../elements/d65e77dc-10bd-4b80-82ca-7172ae318f4d.html"  target="element">
				  		<area shape="rect" coords="499,238,704,293" href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html"  target="element">
				          <area shape="rect" coords="766,238,1004,503" href="../objects/f34a2767-a934-4ab4-9ee1-1c8bb4ff8e37.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">This view describes SYS.2 System Requirements Analysis Process, its outputs and outcomes

Relation of Outcomes to Outputs and Base Practices is out of scope of this view. See respective view for these details.

Latest version and docs can be found here: https://github.com/alef1986/ASPICE-Archi

Source of information for this view is Automotive SPICE Standards v.3.1
(http://www.automotivespice.com/fileadmin/software-download/AutomotiveSPICE_PAM_31.pdf)</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/f34a2767-a934-4ab4-9ee1-1c8bb4ff8e37.html" target="element">  </a> </td>
									           <td> <a href="../objects/f34a2767-a934-4ab4-9ee1-1c8bb4ff8e37.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element"> 13-04 Communication Record </a> </td>
											    <td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d65e77dc-10bd-4b80-82ca-7172ae318f4d.html" target="element"> SYS.2 System Requirements Analysis </a> </td>
											    <td> <a href="../elements/d65e77dc-10bd-4b80-82ca-7172ae318f4d.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/6bd28dad-1bea-4f45-99dc-4f6b9ce0185b.html" target="element"> SYS.2.BP3 Analyze system requirements </a> </td>
													    <td> <a href="../elements/6bd28dad-1bea-4f45-99dc-4f6b9ce0185b.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/972851d7-442d-476a-aae6-01894edd191a.html" target="element"> SYS.2.BP2 Structure system requirements </a> </td>
													    <td> <a href="../elements/972851d7-442d-476a-aae6-01894edd191a.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/57dc9363-c206-48db-9cd3-b30cb27a4164.html" target="element"> SYS.2.BP5 Develop verification criteria </a> </td>
													    <td> <a href="../elements/57dc9363-c206-48db-9cd3-b30cb27a4164.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/1ea9348d-da54-4231-81f9-418da90e8f05.html" target="element"> SYS.2.BP4 Analyze the impact on the operating environment </a> </td>
													    <td> <a href="../elements/1ea9348d-da54-4231-81f9-418da90e8f05.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/a3b3f207-672b-4617-b16e-ea596da84601.html" target="element"> SYS.2.BP1 Specify system requirements </a> </td>
													    <td> <a href="../elements/a3b3f207-672b-4617-b16e-ea596da84601.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/3da62761-b2c9-4513-9ba3-046388f36eb6.html" target="element"> SYS.2.BP6 Establish bidirectional traceability </a> </td>
													    <td> <a href="../elements/3da62761-b2c9-4513-9ba3-046388f36eb6.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/123d8f84-4707-45b3-89ed-50a68318f794.html" target="element"> SYS.2.BP7 Ensure consistency </a> </td>
													    <td> <a href="../elements/123d8f84-4707-45b3-89ed-50a68318f794.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/c2758f01-5bad-422f-9acf-231a73d46ab2.html" target="element"> SYS.2.BP8 Communicate agreed system requirements </a> </td>
													    <td> <a href="../elements/c2758f01-5bad-422f-9acf-231a73d46ab2.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/177fcd18-52bd-4b33-b30e-2cea43e6b72a.html" target="element"> SYS.2.O.1 A defined set of system requirements is established </a> </td>
											    <td> <a href="../elements/177fcd18-52bd-4b33-b30e-2cea43e6b72a.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a1e419d5-72ec-4d99-8ec2-0d245f01dd6d.html" target="element"> SYS.2.O.2 System requirements are categorized and analyzed for correctnessand verifiability </a> </td>
											    <td> <a href="../elements/a1e419d5-72ec-4d99-8ec2-0d245f01dd6d.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e84d89fe-27df-4781-8545-b4d45e6a81bd.html" target="element"> SYS.2.O.3 The impact of system requirements on the operating environment isanalyzed </a> </td>
											    <td> <a href="../elements/e84d89fe-27df-4781-8545-b4d45e6a81bd.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c85ba532-2d62-420a-92fa-1085197f0918.html" target="element"> SYS.2.O.4 Prioritization for implementing the system requirements is defined </a> </td>
											    <td> <a href="../elements/c85ba532-2d62-420a-92fa-1085197f0918.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/48cfc594-340c-4a73-b394-93135a7ebc8a.html" target="element"> SYS.2.O.5 The system requirements are updated as needed </a> </td>
											    <td> <a href="../elements/48cfc594-340c-4a73-b394-93135a7ebc8a.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/32228fc4-0e89-4509-bcf5-0cd5e7a524b5.html" target="element"> SYS.2.O.6 Consistency and bidirectional traceability are established between stakeholder requirements and system requirements </a> </td>
											    <td> <a href="../elements/32228fc4-0e89-4509-bcf5-0cd5e7a524b5.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/35079a59-853f-4cb1-8ce3-88b5d7a5da52.html" target="element"> SYS.2.O.7 The system requirements are evaluated for cost, schedule andtechnical impact </a> </td>
											    <td> <a href="../elements/35079a59-853f-4cb1-8ce3-88b5d7a5da52.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1e005f15-f2d1-467e-920a-cf1abd0b656a.html" target="element"> SYS.2.O.8 The system requirements are agreed and communicated to all affectedparties </a> </td>
											    <td> <a href="../elements/1e005f15-f2d1-467e-920a-cf1abd0b656a.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element"> 13-19 Review Record </a> </td>
											    <td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/90ada978-e397-4600-878f-60e697a70705.html" target="element"> 13-21 Change control record </a> </td>
											    <td> <a href="../elements/90ada978-e397-4600-878f-60e697a70705.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/27d1998c-afb9-4d93-9df6-b6d8ff6e8a0e.html" target="element"> 13-22 Traceability record  </a> </td>
											    <td> <a href="../elements/27d1998c-afb9-4d93-9df6-b6d8ff6e8a0e.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/46ef0390-c285-4923-8ce6-e9680248ce42.html" target="element"> 15-01 Analysis report </a> </td>
											    <td> <a href="../elements/46ef0390-c285-4923-8ce6-e9680248ce42.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b846e279-64bb-4f1d-b21c-88ec6d53ed0a.html" target="element"> 17-08 Interface requirements specification </a> </td>
											    <td> <a href="../elements/b846e279-64bb-4f1d-b21c-88ec6d53ed0a.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4f0b672d-f072-4161-95c0-0275c4283358.html" target="element"> 17-12 System requirements specification </a> </td>
											    <td> <a href="../elements/4f0b672d-f072-4161-95c0-0275c4283358.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4ead5dc6-3900-488e-8d49-1be9c4ae2850.html" target="element"> 17-50 Verification criteria </a> </td>
											    <td> <a href="../elements/4ead5dc6-3900-488e-8d49-1be9c4ae2850.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../views/e6bc248e-1903-4356-aaf4-5b480999e47a.html" target="view"> O. vs. BP. vs. WP. - SYS.2 System Requirements Analysis </a> </td>
											    <td> <a href="../views/e6bc248e-1903-4356-aaf4-5b480999e47a.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/9e94f80f-8775-4044-8110-6a872c99ec05.html" target="view"> Overview - Process Reference Model </a> </td>
											    <td> <a href="../views/9e94f80f-8775-4044-8110-6a872c99ec05.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/1e07adf5-2c8b-4b21-97c1-997f5c2ae9eb.html" target="element">  </a> </td>
																		<td> <a href="../elements/1e07adf5-2c8b-4b21-97c1-997f5c2ae9eb.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/d65e77dc-10bd-4b80-82ca-7172ae318f4d.html" target="element"> SYS.2 System Requirements Analysis </a> </td>
																		<td> <a href="../elements/a3b3f207-672b-4617-b16e-ea596da84601.html" target="element"> SYS.2.BP1 Specify system requirements </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/653f1197-2f56-4ae5-9ebc-e33148faa557.html" target="element">  </a> </td>
																		<td> <a href="../elements/653f1197-2f56-4ae5-9ebc-e33148faa557.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/d65e77dc-10bd-4b80-82ca-7172ae318f4d.html" target="element"> SYS.2 System Requirements Analysis </a> </td>
																		<td> <a href="../elements/57dc9363-c206-48db-9cd3-b30cb27a4164.html" target="element"> SYS.2.BP5 Develop verification criteria </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e4a51f80-4efc-4fac-8404-3486fd00e3c9.html" target="element">  </a> </td>
																		<td> <a href="../elements/e4a51f80-4efc-4fac-8404-3486fd00e3c9.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/d65e77dc-10bd-4b80-82ca-7172ae318f4d.html" target="element"> SYS.2 System Requirements Analysis </a> </td>
																		<td> <a href="../elements/972851d7-442d-476a-aae6-01894edd191a.html" target="element"> SYS.2.BP2 Structure system requirements </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c60c42ae-6eca-4c48-a66c-744224e89477.html" target="element">  </a> </td>
																		<td> <a href="../elements/c60c42ae-6eca-4c48-a66c-744224e89477.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/d65e77dc-10bd-4b80-82ca-7172ae318f4d.html" target="element"> SYS.2 System Requirements Analysis </a> </td>
																		<td> <a href="../elements/6bd28dad-1bea-4f45-99dc-4f6b9ce0185b.html" target="element"> SYS.2.BP3 Analyze system requirements </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9b8097c5-8a32-434b-b4bf-4630452c4dcd.html" target="element">  </a> </td>
																		<td> <a href="../elements/9b8097c5-8a32-434b-b4bf-4630452c4dcd.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/d65e77dc-10bd-4b80-82ca-7172ae318f4d.html" target="element"> SYS.2 System Requirements Analysis </a> </td>
																		<td> <a href="../elements/1ea9348d-da54-4231-81f9-418da90e8f05.html" target="element"> SYS.2.BP4 Analyze the impact on the operating environment </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/75aa04a8-2ed5-40b9-9ffb-b4cdf6c0538e.html" target="element">  </a> </td>
																		<td> <a href="../elements/75aa04a8-2ed5-40b9-9ffb-b4cdf6c0538e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/d65e77dc-10bd-4b80-82ca-7172ae318f4d.html" target="element"> SYS.2 System Requirements Analysis </a> </td>
																		<td> <a href="../elements/3da62761-b2c9-4513-9ba3-046388f36eb6.html" target="element"> SYS.2.BP6 Establish bidirectional traceability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a74e44da-80f1-4b5d-8fdf-ac0d5149e5e7.html" target="element">  </a> </td>
																		<td> <a href="../elements/a74e44da-80f1-4b5d-8fdf-ac0d5149e5e7.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/d65e77dc-10bd-4b80-82ca-7172ae318f4d.html" target="element"> SYS.2 System Requirements Analysis </a> </td>
																		<td> <a href="../elements/123d8f84-4707-45b3-89ed-50a68318f794.html" target="element"> SYS.2.BP7 Ensure consistency </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e74c0066-127c-4b1b-bb65-3b97dfc8d934.html" target="element">  </a> </td>
																		<td> <a href="../elements/e74c0066-127c-4b1b-bb65-3b97dfc8d934.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/d65e77dc-10bd-4b80-82ca-7172ae318f4d.html" target="element"> SYS.2 System Requirements Analysis </a> </td>
																		<td> <a href="../elements/c2758f01-5bad-422f-9acf-231a73d46ab2.html" target="element"> SYS.2.BP8 Communicate agreed system requirements </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6c6fccdd-226e-4da3-ad7a-d788ab718ff7.html" target="element">  </a> </td>
																		<td> <a href="../elements/6c6fccdd-226e-4da3-ad7a-d788ab718ff7.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/d65e77dc-10bd-4b80-82ca-7172ae318f4d.html" target="element"> SYS.2 System Requirements Analysis </a> </td>
																		<td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element"> 13-04 Communication Record </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/326cff07-ab34-4fc3-9015-79fa9598f458.html" target="element">  </a> </td>
																		<td> <a href="../elements/326cff07-ab34-4fc3-9015-79fa9598f458.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/d65e77dc-10bd-4b80-82ca-7172ae318f4d.html" target="element"> SYS.2 System Requirements Analysis </a> </td>
																		<td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element"> 13-19 Review Record </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/cf22735a-bf8a-4b71-8012-32be1df192da.html" target="element">  </a> </td>
																		<td> <a href="../elements/cf22735a-bf8a-4b71-8012-32be1df192da.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/d65e77dc-10bd-4b80-82ca-7172ae318f4d.html" target="element"> SYS.2 System Requirements Analysis </a> </td>
																		<td> <a href="../elements/90ada978-e397-4600-878f-60e697a70705.html" target="element"> 13-21 Change control record </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/be2f706d-8b08-4b81-b0c7-45825639e276.html" target="element">  </a> </td>
																		<td> <a href="../elements/be2f706d-8b08-4b81-b0c7-45825639e276.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/d65e77dc-10bd-4b80-82ca-7172ae318f4d.html" target="element"> SYS.2 System Requirements Analysis </a> </td>
																		<td> <a href="../elements/27d1998c-afb9-4d93-9df6-b6d8ff6e8a0e.html" target="element"> 13-22 Traceability record  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/deb5a19c-aadf-47cf-92aa-2072728c2098.html" target="element">  </a> </td>
																		<td> <a href="../elements/deb5a19c-aadf-47cf-92aa-2072728c2098.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/d65e77dc-10bd-4b80-82ca-7172ae318f4d.html" target="element"> SYS.2 System Requirements Analysis </a> </td>
																		<td> <a href="../elements/46ef0390-c285-4923-8ce6-e9680248ce42.html" target="element"> 15-01 Analysis report </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6d6edd81-8351-493f-805e-a6315ac37da2.html" target="element">  </a> </td>
																		<td> <a href="../elements/6d6edd81-8351-493f-805e-a6315ac37da2.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/d65e77dc-10bd-4b80-82ca-7172ae318f4d.html" target="element"> SYS.2 System Requirements Analysis </a> </td>
																		<td> <a href="../elements/b846e279-64bb-4f1d-b21c-88ec6d53ed0a.html" target="element"> 17-08 Interface requirements specification </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a5b79853-f507-44f1-938d-a8813f05c12b.html" target="element">  </a> </td>
																		<td> <a href="../elements/a5b79853-f507-44f1-938d-a8813f05c12b.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/d65e77dc-10bd-4b80-82ca-7172ae318f4d.html" target="element"> SYS.2 System Requirements Analysis </a> </td>
																		<td> <a href="../elements/4f0b672d-f072-4161-95c0-0275c4283358.html" target="element"> 17-12 System requirements specification </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/528223ad-dcac-4035-92d4-844b56a3ba42.html" target="element">  </a> </td>
																		<td> <a href="../elements/528223ad-dcac-4035-92d4-844b56a3ba42.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/d65e77dc-10bd-4b80-82ca-7172ae318f4d.html" target="element"> SYS.2 System Requirements Analysis </a> </td>
																		<td> <a href="../elements/4ead5dc6-3900-488e-8d49-1be9c4ae2850.html" target="element"> 17-50 Verification criteria </a> </td>
																	</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>