<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>O. vs. BP. vs. WP. - ACQ.4 Supplier Monitoring</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>O. vs. BP. vs. WP. - ACQ.4 Supplier Monitoring</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/a628d3d7-9c22-4bf5-b341-9f946461a65e.png" alt="O. vs. BP. vs. WP. - ACQ.4 Supplier Monitoring" usemap="#a628d3d7-9c22-4bf5-b341-9f946461a65emap"/>
			   <map name="a628d3d7-9c22-4bf5-b341-9f946461a65emap">
				  		<area shape="rect" coords="1547,466,1728,521" href="../elements/46ef0390-c285-4923-8ce6-e9680248ce42.html"  target="element">
				  		<area shape="rect" coords="1270,10,1548,65" href="../elements/1ce53bb7-e713-4f2e-876f-6a48e6e7b3c0.html"  target="element">
				  		<area shape="rect" coords="646,10,924,65" href="../elements/e2d0830c-f08a-4b9f-b989-08bb6b2d479f.html"  target="element">
				  		<area shape="rect" coords="958,10,1236,65" href="../elements/a9e01f0e-111f-4116-9042-bc94988fba89.html"  target="element">
				  		<area shape="rect" coords="10,10,288,65" href="../elements/c68bd7b4-bfa2-43f8-a36d-a29ebe6bf336.html"  target="element">
				  		<area shape="rect" coords="325,10,603,65" href="../elements/78bd8c5e-68fc-40b8-a3dd-a3f574a60e90.html"  target="element">
				  		<area shape="rect" coords="1354,466,1535,521" href="../elements/3400d0a7-31c3-46f8-8e99-a25fad4ca5d5.html"  target="element">
				  		<area shape="rect" coords="1162,466,1343,521" href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html"  target="element">
				  		<area shape="rect" coords="970,466,1151,521" href="../elements/30267d89-3ca1-4ce0-aaf0-02f864f52e90.html"  target="element">
				  		<area shape="rect" coords="778,466,959,521" href="../elements/caacabda-a59b-47de-b6a3-59a64c331381.html"  target="element">
				  		<area shape="rect" coords="586,466,767,521" href="../elements/5630bedd-0765-46aa-9068-3b5380423e01.html"  target="element">
				  		<area shape="rect" coords="394,466,575,521" href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html"  target="element">
				  		<area shape="rect" coords="10,466,191,521" href="../elements/d1cb0629-11ee-483a-b513-6264faff0a0d.html"  target="element">
				  		<area shape="rect" coords="202,466,383,521" href="../elements/5d54f4ee-0ad9-4fda-8747-d0299d022683.html"  target="element">
				  		<area shape="rect" coords="10,322,1727,356" href="../elements/2bf7d361-7e59-4bff-9bc0-2ebeb13ddff9.html"  target="element">
				  		<area shape="rect" coords="10,274,1727,308" href="../elements/55033fb6-d4d6-4ba2-ad19-3b2392770260.html"  target="element">
				  		<area shape="rect" coords="10,226,1727,260" href="../elements/4dbb3da7-677d-41aa-9f6e-6f7e4faeee47.html"  target="element">
				  		<area shape="rect" coords="10,178,1727,212" href="../elements/8721668d-b99a-457b-b7fd-435b6f3f7d5b.html"  target="element">
				          <area shape="rect" coords="10,742,839,858" href="../objects/c0cf3fc2-6aef-4f12-9e3f-86346aa8f849.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">This view answers the following questions:
- If I implement and deploy the Base Practice (BP) ***, how can I verify if I did it properly? What outcomes shall be achieved?
- If I implement and demploy the Outcome Work Product ***, how can I verify if I did it properly? What outcomes shall be achieved?

Scope of this view - Outcomes, Base Practices and their relations for ASPICE process ACQ.4 Supplier Monitoring

Latest version and docs can be found here: https://github.com/alef1986/ASPICE-Archi</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/c0cf3fc2-6aef-4f12-9e3f-86346aa8f849.html" target="element">  </a> </td>
									           <td> <a href="../objects/c0cf3fc2-6aef-4f12-9e3f-86346aa8f849.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/8721668d-b99a-457b-b7fd-435b6f3f7d5b.html" target="element"> ACQ.4.O.1 Joint activities, as agreed between the customer and the supplier, areperformed as needed </a> </td>
											    <td> <a href="../elements/8721668d-b99a-457b-b7fd-435b6f3f7d5b.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4dbb3da7-677d-41aa-9f6e-6f7e4faeee47.html" target="element"> ACQ.4.O.2 All information, agreed upon for exchange, is communicated regularlybetween the supplier and customer </a> </td>
											    <td> <a href="../elements/4dbb3da7-677d-41aa-9f6e-6f7e4faeee47.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/55033fb6-d4d6-4ba2-ad19-3b2392770260.html" target="element"> ACQ.4.O.3 Performance of the supplier is monitored against the agreements </a> </td>
											    <td> <a href="../elements/55033fb6-d4d6-4ba2-ad19-3b2392770260.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2bf7d361-7e59-4bff-9bc0-2ebeb13ddff9.html" target="element"> ACQ.4.O.4 Changes to the agreement, if needed, are negotiated between thecustomer and the supplier and documented in the agreement </a> </td>
											    <td> <a href="../elements/2bf7d361-7e59-4bff-9bc0-2ebeb13ddff9.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5d54f4ee-0ad9-4fda-8747-d0299d022683.html" target="element"> 13-01 Acceptance record </a> </td>
											    <td> <a href="../elements/5d54f4ee-0ad9-4fda-8747-d0299d022683.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d1cb0629-11ee-483a-b513-6264faff0a0d.html" target="element"> 02-01 Commitment/agreement </a> </td>
											    <td> <a href="../elements/d1cb0629-11ee-483a-b513-6264faff0a0d.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element"> 13-04 Communication Record </a> </td>
											    <td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5630bedd-0765-46aa-9068-3b5380423e01.html" target="element"> 13-09 Meeting support record </a> </td>
											    <td> <a href="../elements/5630bedd-0765-46aa-9068-3b5380423e01.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/caacabda-a59b-47de-b6a3-59a64c331381.html" target="element"> 13-14 Progress status record </a> </td>
											    <td> <a href="../elements/caacabda-a59b-47de-b6a3-59a64c331381.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/30267d89-3ca1-4ce0-aaf0-02f864f52e90.html" target="element"> 13-16 Change Request </a> </td>
											    <td> <a href="../elements/30267d89-3ca1-4ce0-aaf0-02f864f52e90.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element"> 13-19 Review Record </a> </td>
											    <td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3400d0a7-31c3-46f8-8e99-a25fad4ca5d5.html" target="element"> 14-02 Corrective Action Register </a> </td>
											    <td> <a href="../elements/3400d0a7-31c3-46f8-8e99-a25fad4ca5d5.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/78bd8c5e-68fc-40b8-a3dd-a3f574a60e90.html" target="element"> ACQ.4.BP2 Exchange all agreed information </a> </td>
											    <td> <a href="../elements/78bd8c5e-68fc-40b8-a3dd-a3f574a60e90.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c68bd7b4-bfa2-43f8-a36d-a29ebe6bf336.html" target="element"> ACQ.4.BP1 Agree on and maintain joint processes </a> </td>
											    <td> <a href="../elements/c68bd7b4-bfa2-43f8-a36d-a29ebe6bf336.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a9e01f0e-111f-4116-9042-bc94988fba89.html" target="element"> ACQ.4.BP4: Review progress of the supplier </a> </td>
											    <td> <a href="../elements/a9e01f0e-111f-4116-9042-bc94988fba89.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e2d0830c-f08a-4b9f-b989-08bb6b2d479f.html" target="element"> ACQ.4.BP3 Review technical development with the supplier </a> </td>
											    <td> <a href="../elements/e2d0830c-f08a-4b9f-b989-08bb6b2d479f.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1ce53bb7-e713-4f2e-876f-6a48e6e7b3c0.html" target="element"> ACQ.4.BP5: Act to correct deviations </a> </td>
											    <td> <a href="../elements/1ce53bb7-e713-4f2e-876f-6a48e6e7b3c0.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/46ef0390-c285-4923-8ce6-e9680248ce42.html" target="element"> 15-01 Analysis report </a> </td>
											    <td> <a href="../elements/46ef0390-c285-4923-8ce6-e9680248ce42.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/d4aaea1a-8781-4b52-83a2-650d3848d9a8.html" target="element">  </a> </td>
																		<td> <a href="../elements/d4aaea1a-8781-4b52-83a2-650d3848d9a8.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/5d54f4ee-0ad9-4fda-8747-d0299d022683.html" target="element"> 13-01 Acceptance record </a> </td>
																		<td> <a href="../elements/55033fb6-d4d6-4ba2-ad19-3b2392770260.html" target="element"> ACQ.4.O.3 Performance of the supplier is monitored against the agreements </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/a2350090-fc32-45fe-81dc-2cb20970e0a7.html" target="element">  </a> </td>
																		<td> <a href="../elements/a2350090-fc32-45fe-81dc-2cb20970e0a7.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/d1cb0629-11ee-483a-b513-6264faff0a0d.html" target="element"> 02-01 Commitment/agreement </a> </td>
																		<td> <a href="../elements/2bf7d361-7e59-4bff-9bc0-2ebeb13ddff9.html" target="element"> ACQ.4.O.4 Changes to the agreement, if needed, are negotiated between thecustomer and the supplier and documented in the agreement </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/b8f3697f-4632-4798-8c63-5850fa85b3de.html" target="element">  </a> </td>
																		<td> <a href="../elements/b8f3697f-4632-4798-8c63-5850fa85b3de.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element"> 13-04 Communication Record </a> </td>
																		<td> <a href="../elements/8721668d-b99a-457b-b7fd-435b6f3f7d5b.html" target="element"> ACQ.4.O.1 Joint activities, as agreed between the customer and the supplier, areperformed as needed </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d9fc7c9f-e3d9-4329-9d57-9c5b730d719b.html" target="element">  </a> </td>
																		<td> <a href="../elements/d9fc7c9f-e3d9-4329-9d57-9c5b730d719b.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element"> 13-04 Communication Record </a> </td>
																		<td> <a href="../elements/4dbb3da7-677d-41aa-9f6e-6f7e4faeee47.html" target="element"> ACQ.4.O.2 All information, agreed upon for exchange, is communicated regularlybetween the supplier and customer </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/021d1dcf-91ca-4633-8466-691a40ee1425.html" target="element">  </a> </td>
																		<td> <a href="../elements/021d1dcf-91ca-4633-8466-691a40ee1425.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/5630bedd-0765-46aa-9068-3b5380423e01.html" target="element"> 13-09 Meeting support record </a> </td>
																		<td> <a href="../elements/8721668d-b99a-457b-b7fd-435b6f3f7d5b.html" target="element"> ACQ.4.O.1 Joint activities, as agreed between the customer and the supplier, areperformed as needed </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/0cef6aeb-d8d7-4561-be8c-7ed7d4d50cf0.html" target="element">  </a> </td>
																		<td> <a href="../elements/0cef6aeb-d8d7-4561-be8c-7ed7d4d50cf0.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/caacabda-a59b-47de-b6a3-59a64c331381.html" target="element"> 13-14 Progress status record </a> </td>
																		<td> <a href="../elements/4dbb3da7-677d-41aa-9f6e-6f7e4faeee47.html" target="element"> ACQ.4.O.2 All information, agreed upon for exchange, is communicated regularlybetween the supplier and customer </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/66331ca4-5374-493d-9e3f-8d6719353b42.html" target="element">  </a> </td>
																		<td> <a href="../elements/66331ca4-5374-493d-9e3f-8d6719353b42.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/30267d89-3ca1-4ce0-aaf0-02f864f52e90.html" target="element"> 13-16 Change Request </a> </td>
																		<td> <a href="../elements/2bf7d361-7e59-4bff-9bc0-2ebeb13ddff9.html" target="element"> ACQ.4.O.4 Changes to the agreement, if needed, are negotiated between thecustomer and the supplier and documented in the agreement </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/c2fe5284-b6a3-463d-86ac-c900206fe197.html" target="element">  </a> </td>
																		<td> <a href="../elements/c2fe5284-b6a3-463d-86ac-c900206fe197.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element"> 13-19 Review Record </a> </td>
																		<td> <a href="../elements/4dbb3da7-677d-41aa-9f6e-6f7e4faeee47.html" target="element"> ACQ.4.O.2 All information, agreed upon for exchange, is communicated regularlybetween the supplier and customer </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/1cf4d5b5-d4eb-47ad-a5c7-aae1e521a5d0.html" target="element">  </a> </td>
																		<td> <a href="../elements/1cf4d5b5-d4eb-47ad-a5c7-aae1e521a5d0.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/3400d0a7-31c3-46f8-8e99-a25fad4ca5d5.html" target="element"> 14-02 Corrective Action Register </a> </td>
																		<td> <a href="../elements/2bf7d361-7e59-4bff-9bc0-2ebeb13ddff9.html" target="element"> ACQ.4.O.4 Changes to the agreement, if needed, are negotiated between thecustomer and the supplier and documented in the agreement </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/94456c60-20d5-4163-b659-78e40f523d57.html" target="element">  </a> </td>
																		<td> <a href="../elements/94456c60-20d5-4163-b659-78e40f523d57.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/78bd8c5e-68fc-40b8-a3dd-a3f574a60e90.html" target="element"> ACQ.4.BP2 Exchange all agreed information </a> </td>
																		<td> <a href="../elements/8721668d-b99a-457b-b7fd-435b6f3f7d5b.html" target="element"> ACQ.4.O.1 Joint activities, as agreed between the customer and the supplier, areperformed as needed </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1fabcea4-1126-4a16-8bac-9338794042ec.html" target="element">  </a> </td>
																		<td> <a href="../elements/1fabcea4-1126-4a16-8bac-9338794042ec.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/78bd8c5e-68fc-40b8-a3dd-a3f574a60e90.html" target="element"> ACQ.4.BP2 Exchange all agreed information </a> </td>
																		<td> <a href="../elements/4dbb3da7-677d-41aa-9f6e-6f7e4faeee47.html" target="element"> ACQ.4.O.2 All information, agreed upon for exchange, is communicated regularlybetween the supplier and customer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2c015ebc-a9f6-4268-9187-e724b9225a57.html" target="element">  </a> </td>
																		<td> <a href="../elements/2c015ebc-a9f6-4268-9187-e724b9225a57.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/78bd8c5e-68fc-40b8-a3dd-a3f574a60e90.html" target="element"> ACQ.4.BP2 Exchange all agreed information </a> </td>
																		<td> <a href="../elements/55033fb6-d4d6-4ba2-ad19-3b2392770260.html" target="element"> ACQ.4.O.3 Performance of the supplier is monitored against the agreements </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/ac75a742-7f22-41e3-afb3-51163853237a.html" target="element">  </a> </td>
																		<td> <a href="../elements/ac75a742-7f22-41e3-afb3-51163853237a.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/c68bd7b4-bfa2-43f8-a36d-a29ebe6bf336.html" target="element"> ACQ.4.BP1 Agree on and maintain joint processes </a> </td>
																		<td> <a href="../elements/8721668d-b99a-457b-b7fd-435b6f3f7d5b.html" target="element"> ACQ.4.O.1 Joint activities, as agreed between the customer and the supplier, areperformed as needed </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/48eef11e-12f5-4b13-aca7-54e72a336e26.html" target="element">  </a> </td>
																		<td> <a href="../elements/48eef11e-12f5-4b13-aca7-54e72a336e26.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/c68bd7b4-bfa2-43f8-a36d-a29ebe6bf336.html" target="element"> ACQ.4.BP1 Agree on and maintain joint processes </a> </td>
																		<td> <a href="../elements/4dbb3da7-677d-41aa-9f6e-6f7e4faeee47.html" target="element"> ACQ.4.O.2 All information, agreed upon for exchange, is communicated regularlybetween the supplier and customer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0f6a028a-a181-4194-ab9d-bce1d344cb16.html" target="element">  </a> </td>
																		<td> <a href="../elements/0f6a028a-a181-4194-ab9d-bce1d344cb16.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/c68bd7b4-bfa2-43f8-a36d-a29ebe6bf336.html" target="element"> ACQ.4.BP1 Agree on and maintain joint processes </a> </td>
																		<td> <a href="../elements/2bf7d361-7e59-4bff-9bc0-2ebeb13ddff9.html" target="element"> ACQ.4.O.4 Changes to the agreement, if needed, are negotiated between thecustomer and the supplier and documented in the agreement </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/bdb13c13-a4fe-4447-8b34-dceeb5e37a3e.html" target="element">  </a> </td>
																		<td> <a href="../elements/bdb13c13-a4fe-4447-8b34-dceeb5e37a3e.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/a9e01f0e-111f-4116-9042-bc94988fba89.html" target="element"> ACQ.4.BP4: Review progress of the supplier </a> </td>
																		<td> <a href="../elements/8721668d-b99a-457b-b7fd-435b6f3f7d5b.html" target="element"> ACQ.4.O.1 Joint activities, as agreed between the customer and the supplier, areperformed as needed </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4b666274-c830-4fab-97a5-089a16681280.html" target="element">  </a> </td>
																		<td> <a href="../elements/4b666274-c830-4fab-97a5-089a16681280.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/a9e01f0e-111f-4116-9042-bc94988fba89.html" target="element"> ACQ.4.BP4: Review progress of the supplier </a> </td>
																		<td> <a href="../elements/55033fb6-d4d6-4ba2-ad19-3b2392770260.html" target="element"> ACQ.4.O.3 Performance of the supplier is monitored against the agreements </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c9b997f1-f236-4dc5-ab73-86ead53b6e6f.html" target="element">  </a> </td>
																		<td> <a href="../elements/c9b997f1-f236-4dc5-ab73-86ead53b6e6f.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/a9e01f0e-111f-4116-9042-bc94988fba89.html" target="element"> ACQ.4.BP4: Review progress of the supplier </a> </td>
																		<td> <a href="../elements/2bf7d361-7e59-4bff-9bc0-2ebeb13ddff9.html" target="element"> ACQ.4.O.4 Changes to the agreement, if needed, are negotiated between thecustomer and the supplier and documented in the agreement </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/8f09cca8-02b9-4ea9-91bf-30c5c13eacd5.html" target="element">  </a> </td>
																		<td> <a href="../elements/8f09cca8-02b9-4ea9-91bf-30c5c13eacd5.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/e2d0830c-f08a-4b9f-b989-08bb6b2d479f.html" target="element"> ACQ.4.BP3 Review technical development with the supplier </a> </td>
																		<td> <a href="../elements/8721668d-b99a-457b-b7fd-435b6f3f7d5b.html" target="element"> ACQ.4.O.1 Joint activities, as agreed between the customer and the supplier, areperformed as needed </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/22f257ec-5830-438a-9965-cbd118435aac.html" target="element">  </a> </td>
																		<td> <a href="../elements/22f257ec-5830-438a-9965-cbd118435aac.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/e2d0830c-f08a-4b9f-b989-08bb6b2d479f.html" target="element"> ACQ.4.BP3 Review technical development with the supplier </a> </td>
																		<td> <a href="../elements/55033fb6-d4d6-4ba2-ad19-3b2392770260.html" target="element"> ACQ.4.O.3 Performance of the supplier is monitored against the agreements </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/cf5c6974-b355-4d19-9259-d6299ee39963.html" target="element">  </a> </td>
																		<td> <a href="../elements/cf5c6974-b355-4d19-9259-d6299ee39963.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/e2d0830c-f08a-4b9f-b989-08bb6b2d479f.html" target="element"> ACQ.4.BP3 Review technical development with the supplier </a> </td>
																		<td> <a href="../elements/2bf7d361-7e59-4bff-9bc0-2ebeb13ddff9.html" target="element"> ACQ.4.O.4 Changes to the agreement, if needed, are negotiated between thecustomer and the supplier and documented in the agreement </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/d783aa64-42bd-455d-a3fe-1757c1b2bbe9.html" target="element">  </a> </td>
																		<td> <a href="../elements/d783aa64-42bd-455d-a3fe-1757c1b2bbe9.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/1ce53bb7-e713-4f2e-876f-6a48e6e7b3c0.html" target="element"> ACQ.4.BP5: Act to correct deviations </a> </td>
																		<td> <a href="../elements/2bf7d361-7e59-4bff-9bc0-2ebeb13ddff9.html" target="element"> ACQ.4.O.4 Changes to the agreement, if needed, are negotiated between thecustomer and the supplier and documented in the agreement </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/82767151-e607-4d24-aaa9-4184ce07ab54.html" target="element">  </a> </td>
																		<td> <a href="../elements/82767151-e607-4d24-aaa9-4184ce07ab54.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/46ef0390-c285-4923-8ce6-e9680248ce42.html" target="element"> 15-01 Analysis report </a> </td>
																		<td> <a href="../elements/55033fb6-d4d6-4ba2-ad19-3b2392770260.html" target="element"> ACQ.4.O.3 Performance of the supplier is monitored against the agreements </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>