<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Overview - SUP.10 Change Request Management</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Overview - SUP.10 Change Request Management</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/a6672fdb-f3f5-42bb-8ded-c11f1b389435.png" alt="Overview - SUP.10 Change Request Management" usemap="#a6672fdb-f3f5-42bb-8ded-c11f1b389435map"/>
			   <map name="a6672fdb-f3f5-42bb-8ded-c11f1b389435map">
				  		<area shape="rect" coords="743,566,981,621" href="../views/9e94f80f-8775-4044-8110-6a872c99ec05.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="743,506,981,561" href="../views/92a83168-c8da-4abb-bb90-54d8a9e1e6d8.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="410,398,615,453" href="../elements/90ada978-e397-4600-878f-60e697a70705.html"  target="element">
				  		<area shape="rect" coords="410,338,615,393" href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html"  target="element">
				  		<area shape="rect" coords="410,278,615,333" href="../elements/30267d89-3ca1-4ce0-aaf0-02f864f52e90.html"  target="element">
				  		<area shape="rect" coords="410,218,615,273" href="../elements/35294d69-f129-4592-b36e-c9639a4201cb.html"  target="element">
				  				<area shape="rect" coords="50,674,327,729" href="../elements/9b6fc02c-dd6a-4830-bf6c-7d3b8040dcfd.html"  target="element">
				  				<area shape="rect" coords="50,614,327,669" href="../elements/2a3a4c1e-aef8-4fde-bef9-bbe5a75a89a2.html"  target="element">
				  				<area shape="rect" coords="50,554,327,609" href="../elements/f06fd7cb-e3c6-484a-b045-7e7026e23fc6.html"  target="element">
				  				<area shape="rect" coords="50,254,327,309" href="../elements/31f02eff-f64f-4b96-96b9-f3c7dce936e8.html"  target="element">
				  				<area shape="rect" coords="50,434,327,489" href="../elements/91541e28-5a46-4707-84d1-b2362230480a.html"  target="element">
				  				<area shape="rect" coords="50,494,327,549" href="../elements/46e4d0be-c54c-4df2-9ec0-2138a649d4cf.html"  target="element">
				  				<area shape="rect" coords="50,314,327,369" href="../elements/b10bc5e6-a4d5-4443-8494-78a727a83cf2.html"  target="element">
				  				<area shape="rect" coords="50,374,327,429" href="../elements/ed67b2d8-0934-4b75-af35-7755a75fc69e.html"  target="element">

				  		<area shape="rect" coords="38,218,339,747" href="../elements/814bd8ca-c64c-4839-a3fd-1a31277a5fba.html"  target="element">
				  		<area shape="rect" coords="257,10,495,79" href="../elements/730f3971-8f91-4dbf-96b4-83be27aabf94.html"  target="element">
				  		<area shape="rect" coords="506,10,744,79" href="../elements/a46cceb1-5b81-412c-8c70-66408cba60e2.html"  target="element">
				  		<area shape="rect" coords="758,10,996,79" href="../elements/032774e3-4cb8-407e-9bd7-974a95f5431d.html"  target="element">
				  		<area shape="rect" coords="1010,10,1248,79" href="../elements/6e5cb510-fdd2-445c-9889-34c89b104a9c.html"  target="element">
				  		<area shape="rect" coords="10,86,248,155" href="../elements/7fff4861-6405-4a5c-8dd5-2c62f8cdf4d3.html"  target="element">
				  		<area shape="rect" coords="257,86,495,155" href="../elements/626baf96-f0ca-4c3c-a6d5-5ec403a57a2f.html"  target="element">
				  		<area shape="rect" coords="506,86,744,155" href="../elements/caebca18-23f6-41bf-a998-012c15d35521.html"  target="element">
				  		<area shape="rect" coords="758,86,996,155" href="../elements/ff863356-b793-4526-8098-ad27d40a1510.html"  target="element">
				  		<area shape="rect" coords="10,10,248,79" href="../elements/7b538078-45aa-492a-94a5-c755d0b1a4d5.html"  target="element">
				          <area shape="rect" coords="743,218,981,495" href="../objects/7fc44104-702d-4ce5-8201-bde0495c83f5.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">This view describes SUP.10 Change Request Management Process, its outputs and outcomes

Relation of Outcomes to Outputs and Base Practices is out of scope of this view. See respective view for these details.

Latest version and docs can be found here: https://github.com/alef1986/ASPICE-Archi

Source of information for this view is Automotive SPICE Standards v.3.1
(http://www.automotivespice.com/fileadmin/software-download/AutomotiveSPICE_PAM_31.pdf)</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/7fc44104-702d-4ce5-8201-bde0495c83f5.html" target="element">  </a> </td>
									           <td> <a href="../objects/7fc44104-702d-4ce5-8201-bde0495c83f5.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/7b538078-45aa-492a-94a5-c755d0b1a4d5.html" target="element"> SUP.10.O.1 A change request management strategy is developed </a> </td>
											    <td> <a href="../elements/7b538078-45aa-492a-94a5-c755d0b1a4d5.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ff863356-b793-4526-8098-ad27d40a1510.html" target="element"> SUP.10.O.9 Bi-directional traceability is established between change requests and affected work product </a> </td>
											    <td> <a href="../elements/ff863356-b793-4526-8098-ad27d40a1510.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/caebca18-23f6-41bf-a998-012c15d35521.html" target="element"> SUP.10.O.8 The status of all change requests is known </a> </td>
											    <td> <a href="../elements/caebca18-23f6-41bf-a998-012c15d35521.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/626baf96-f0ca-4c3c-a6d5-5ec403a57a2f.html" target="element"> SUP.10.O.7 Approved changes are implemented and tracked to closure </a> </td>
											    <td> <a href="../elements/626baf96-f0ca-4c3c-a6d5-5ec403a57a2f.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7fff4861-6405-4a5c-8dd5-2c62f8cdf4d3.html" target="element"> SUP.10.O.6 Changes are approved and prioritized on the basis of analysis resultsand availability of resources </a> </td>
											    <td> <a href="../elements/7fff4861-6405-4a5c-8dd5-2c62f8cdf4d3.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6e5cb510-fdd2-445c-9889-34c89b104a9c.html" target="element"> SUP.10.O.5 Requests for change are analyzed, and resource requirements are estimated </a> </td>
											    <td> <a href="../elements/6e5cb510-fdd2-445c-9889-34c89b104a9c.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/032774e3-4cb8-407e-9bd7-974a95f5431d.html" target="element"> SUP.10.O.4 Criteria for confirming implementation of change requests are defined </a> </td>
											    <td> <a href="../elements/032774e3-4cb8-407e-9bd7-974a95f5431d.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a46cceb1-5b81-412c-8c70-66408cba60e2.html" target="element"> SUP.10.O.3 Dependencies and relationships to other change requests are identified </a> </td>
											    <td> <a href="../elements/a46cceb1-5b81-412c-8c70-66408cba60e2.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/730f3971-8f91-4dbf-96b4-83be27aabf94.html" target="element"> SUP.10.O.2 Requests for changes are recorded and identified </a> </td>
											    <td> <a href="../elements/730f3971-8f91-4dbf-96b4-83be27aabf94.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/814bd8ca-c64c-4839-a3fd-1a31277a5fba.html" target="element"> SUP.10 Change Request Management </a> </td>
											    <td> <a href="../elements/814bd8ca-c64c-4839-a3fd-1a31277a5fba.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/ed67b2d8-0934-4b75-af35-7755a75fc69e.html" target="element"> SUP.10.BP3 Record the status of change requests </a> </td>
													    <td> <a href="../elements/ed67b2d8-0934-4b75-af35-7755a75fc69e.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/b10bc5e6-a4d5-4443-8494-78a727a83cf2.html" target="element"> SUP.10.BP2 Identify and record the change requests </a> </td>
													    <td> <a href="../elements/b10bc5e6-a4d5-4443-8494-78a727a83cf2.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/46e4d0be-c54c-4df2-9ec0-2138a649d4cf.html" target="element"> SUP.10.BP5 Approve change requests before implementation </a> </td>
													    <td> <a href="../elements/46e4d0be-c54c-4df2-9ec0-2138a649d4cf.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/91541e28-5a46-4707-84d1-b2362230480a.html" target="element"> SUP.10.BP4 Analyze and assess change requests </a> </td>
													    <td> <a href="../elements/91541e28-5a46-4707-84d1-b2362230480a.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/31f02eff-f64f-4b96-96b9-f3c7dce936e8.html" target="element"> SUP.10.BP1 Develop a change request management strategy </a> </td>
													    <td> <a href="../elements/31f02eff-f64f-4b96-96b9-f3c7dce936e8.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/f06fd7cb-e3c6-484a-b045-7e7026e23fc6.html" target="element"> SUP.10.BP6 Review the implementation of change requests </a> </td>
													    <td> <a href="../elements/f06fd7cb-e3c6-484a-b045-7e7026e23fc6.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/2a3a4c1e-aef8-4fde-bef9-bbe5a75a89a2.html" target="element"> SUP.10.BP7 Track change requests to closure </a> </td>
													    <td> <a href="../elements/2a3a4c1e-aef8-4fde-bef9-bbe5a75a89a2.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/9b6fc02c-dd6a-4830-bf6c-7d3b8040dcfd.html" target="element"> SUP.10.BP8 Establish bidirectional traceability </a> </td>
													    <td> <a href="../elements/9b6fc02c-dd6a-4830-bf6c-7d3b8040dcfd.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/35294d69-f129-4592-b36e-c9639a4201cb.html" target="element"> 08-28 Change management plan  </a> </td>
											    <td> <a href="../elements/35294d69-f129-4592-b36e-c9639a4201cb.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/30267d89-3ca1-4ce0-aaf0-02f864f52e90.html" target="element"> 13-16 Change Request </a> </td>
											    <td> <a href="../elements/30267d89-3ca1-4ce0-aaf0-02f864f52e90.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element"> 13-19 Review Record </a> </td>
											    <td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/90ada978-e397-4600-878f-60e697a70705.html" target="element"> 13-21 Change control record </a> </td>
											    <td> <a href="../elements/90ada978-e397-4600-878f-60e697a70705.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../views/92a83168-c8da-4abb-bb90-54d8a9e1e6d8.html" target="view"> O. vs. BP. vs. WP. - SUP.10 Change Request Management </a> </td>
											    <td> <a href="../views/92a83168-c8da-4abb-bb90-54d8a9e1e6d8.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/9e94f80f-8775-4044-8110-6a872c99ec05.html" target="view"> Overview - Process Reference Model </a> </td>
											    <td> <a href="../views/9e94f80f-8775-4044-8110-6a872c99ec05.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/0a16ab79-381b-46ab-8d42-c64c78f56249.html" target="element">  </a> </td>
																		<td> <a href="../elements/0a16ab79-381b-46ab-8d42-c64c78f56249.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/814bd8ca-c64c-4839-a3fd-1a31277a5fba.html" target="element"> SUP.10 Change Request Management </a> </td>
																		<td> <a href="../elements/ed67b2d8-0934-4b75-af35-7755a75fc69e.html" target="element"> SUP.10.BP3 Record the status of change requests </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b349ed34-969b-4e16-8c0c-1cafb4464d68.html" target="element">  </a> </td>
																		<td> <a href="../elements/b349ed34-969b-4e16-8c0c-1cafb4464d68.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/814bd8ca-c64c-4839-a3fd-1a31277a5fba.html" target="element"> SUP.10 Change Request Management </a> </td>
																		<td> <a href="../elements/91541e28-5a46-4707-84d1-b2362230480a.html" target="element"> SUP.10.BP4 Analyze and assess change requests </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/135a29e6-3766-4e84-9367-3f29e3f49889.html" target="element">  </a> </td>
																		<td> <a href="../elements/135a29e6-3766-4e84-9367-3f29e3f49889.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/814bd8ca-c64c-4839-a3fd-1a31277a5fba.html" target="element"> SUP.10 Change Request Management </a> </td>
																		<td> <a href="../elements/46e4d0be-c54c-4df2-9ec0-2138a649d4cf.html" target="element"> SUP.10.BP5 Approve change requests before implementation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/84cfac79-3801-41f7-be97-36c5806e10f6.html" target="element">  </a> </td>
																		<td> <a href="../elements/84cfac79-3801-41f7-be97-36c5806e10f6.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/814bd8ca-c64c-4839-a3fd-1a31277a5fba.html" target="element"> SUP.10 Change Request Management </a> </td>
																		<td> <a href="../elements/f06fd7cb-e3c6-484a-b045-7e7026e23fc6.html" target="element"> SUP.10.BP6 Review the implementation of change requests </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/17e1d91d-8d71-4bcd-a746-a0a1910a3cee.html" target="element">  </a> </td>
																		<td> <a href="../elements/17e1d91d-8d71-4bcd-a746-a0a1910a3cee.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/814bd8ca-c64c-4839-a3fd-1a31277a5fba.html" target="element"> SUP.10 Change Request Management </a> </td>
																		<td> <a href="../elements/b10bc5e6-a4d5-4443-8494-78a727a83cf2.html" target="element"> SUP.10.BP2 Identify and record the change requests </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/78f38328-b006-4c30-aebd-a472598f7980.html" target="element">  </a> </td>
																		<td> <a href="../elements/78f38328-b006-4c30-aebd-a472598f7980.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/814bd8ca-c64c-4839-a3fd-1a31277a5fba.html" target="element"> SUP.10 Change Request Management </a> </td>
																		<td> <a href="../elements/31f02eff-f64f-4b96-96b9-f3c7dce936e8.html" target="element"> SUP.10.BP1 Develop a change request management strategy </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/95cd7959-6513-4f45-9820-8cd30a270879.html" target="element">  </a> </td>
																		<td> <a href="../elements/95cd7959-6513-4f45-9820-8cd30a270879.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/814bd8ca-c64c-4839-a3fd-1a31277a5fba.html" target="element"> SUP.10 Change Request Management </a> </td>
																		<td> <a href="../elements/2a3a4c1e-aef8-4fde-bef9-bbe5a75a89a2.html" target="element"> SUP.10.BP7 Track change requests to closure </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/090e52f5-769d-4458-9c04-8e4900ab5c88.html" target="element">  </a> </td>
																		<td> <a href="../elements/090e52f5-769d-4458-9c04-8e4900ab5c88.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/814bd8ca-c64c-4839-a3fd-1a31277a5fba.html" target="element"> SUP.10 Change Request Management </a> </td>
																		<td> <a href="../elements/9b6fc02c-dd6a-4830-bf6c-7d3b8040dcfd.html" target="element"> SUP.10.BP8 Establish bidirectional traceability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2a5bccac-68d8-4a8d-95ca-695d6ecf0d05.html" target="element">  </a> </td>
																		<td> <a href="../elements/2a5bccac-68d8-4a8d-95ca-695d6ecf0d05.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/814bd8ca-c64c-4839-a3fd-1a31277a5fba.html" target="element"> SUP.10 Change Request Management </a> </td>
																		<td> <a href="../elements/35294d69-f129-4592-b36e-c9639a4201cb.html" target="element"> 08-28 Change management plan  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e6199f54-7e71-4b5a-a31f-39aca21635bc.html" target="element">  </a> </td>
																		<td> <a href="../elements/e6199f54-7e71-4b5a-a31f-39aca21635bc.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/814bd8ca-c64c-4839-a3fd-1a31277a5fba.html" target="element"> SUP.10 Change Request Management </a> </td>
																		<td> <a href="../elements/30267d89-3ca1-4ce0-aaf0-02f864f52e90.html" target="element"> 13-16 Change Request </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/15fe4743-963f-4def-bf00-e7f1328f6d90.html" target="element">  </a> </td>
																		<td> <a href="../elements/15fe4743-963f-4def-bf00-e7f1328f6d90.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/814bd8ca-c64c-4839-a3fd-1a31277a5fba.html" target="element"> SUP.10 Change Request Management </a> </td>
																		<td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element"> 13-19 Review Record </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9e960f36-a244-4738-a1d4-8be98daf376a.html" target="element">  </a> </td>
																		<td> <a href="../elements/9e960f36-a244-4738-a1d4-8be98daf376a.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/814bd8ca-c64c-4839-a3fd-1a31277a5fba.html" target="element"> SUP.10 Change Request Management </a> </td>
																		<td> <a href="../elements/90ada978-e397-4600-878f-60e697a70705.html" target="element"> 13-21 Change control record </a> </td>
																	</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>