<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>ACQ.4 Supplier Monitoring</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>ACQ.4 Supplier Monitoring</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/a699de69-66a2-49d8-a7e4-86fb356fa34d.png" alt="ACQ.4 Supplier Monitoring" usemap="#a699de69-66a2-49d8-a7e4-86fb356fa34dmap"/>
			   <map name="a699de69-66a2-49d8-a7e4-86fb356fa34dmap">
				  		<area shape="rect" coords="530,658,735,713" href="../elements/46ef0390-c285-4923-8ce6-e9680248ce42.html"  target="element">
				  		<area shape="rect" coords="530,598,735,653" href="../elements/3400d0a7-31c3-46f8-8e99-a25fad4ca5d5.html"  target="element">
				  		<area shape="rect" coords="530,538,735,593" href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html"  target="element">
				  		<area shape="rect" coords="670,478,875,533" href="../elements/30267d89-3ca1-4ce0-aaf0-02f864f52e90.html"  target="element">
				  		<area shape="rect" coords="670,418,875,473" href="../elements/caacabda-a59b-47de-b6a3-59a64c331381.html"  target="element">
				  		<area shape="rect" coords="670,358,875,413" href="../elements/5630bedd-0765-46aa-9068-3b5380423e01.html"  target="element">
				  		<area shape="rect" coords="670,298,875,353" href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html"  target="element">
				  		<area shape="rect" coords="670,178,875,233" href="../elements/d1cb0629-11ee-483a-b513-6264faff0a0d.html"  target="element">
				  		<area shape="rect" coords="769,10,1007,107" href="../elements/2bf7d361-7e59-4bff-9bc0-2ebeb13ddff9.html"  target="element">
				  		<area shape="rect" coords="514,10,752,107" href="../elements/55033fb6-d4d6-4ba2-ad19-3b2392770260.html"  target="element">
				  		<area shape="rect" coords="262,10,500,107" href="../elements/4dbb3da7-677d-41aa-9f6e-6f7e4faeee47.html"  target="element">
				  		<area shape="rect" coords="670,238,875,293" href="../elements/5d54f4ee-0ad9-4fda-8747-d0299d022683.html"  target="element">
				  		<area shape="rect" coords="10,10,248,107" href="../elements/8721668d-b99a-457b-b7fd-435b6f3f7d5b.html"  target="element">
				  				<area shape="rect" coords="270,454,548,509" href="../elements/1ce53bb7-e713-4f2e-876f-6a48e6e7b3c0.html"  target="element">
				  				<area shape="rect" coords="270,334,548,389" href="../elements/e2d0830c-f08a-4b9f-b989-08bb6b2d479f.html"  target="element">
				  				<area shape="rect" coords="270,394,548,449" href="../elements/a9e01f0e-111f-4116-9042-bc94988fba89.html"  target="element">
				  				<area shape="rect" coords="270,214,548,269" href="../elements/c68bd7b4-bfa2-43f8-a36d-a29ebe6bf336.html"  target="element">
				  				<area shape="rect" coords="270,274,548,329" href="../elements/78bd8c5e-68fc-40b8-a3dd-a3f574a60e90.html"  target="element">

				  		<area shape="rect" coords="258,178,559,839" href="../elements/0912dba0-ac83-4d0f-b96e-92b96cee9815.html"  target="element">
				          <area shape="rect" coords="1006,178,1244,795" href="../objects/3cfd725d-2806-46fe-b4e3-a8d2df597323.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/3cfd725d-2806-46fe-b4e3-a8d2df597323.html" target="element">  </a> </td>
									           <td> <a href="../objects/3cfd725d-2806-46fe-b4e3-a8d2df597323.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/0912dba0-ac83-4d0f-b96e-92b96cee9815.html" target="element"> ACQ.4 Supplier Monitoring </a> </td>
											    <td> <a href="../elements/0912dba0-ac83-4d0f-b96e-92b96cee9815.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/78bd8c5e-68fc-40b8-a3dd-a3f574a60e90.html" target="element"> ACQ.4.BP2 Exchange all agreed information </a> </td>
													    <td> <a href="../elements/78bd8c5e-68fc-40b8-a3dd-a3f574a60e90.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/c68bd7b4-bfa2-43f8-a36d-a29ebe6bf336.html" target="element"> ACQ.4.BP1 Agree on and maintain joint processes </a> </td>
													    <td> <a href="../elements/c68bd7b4-bfa2-43f8-a36d-a29ebe6bf336.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/a9e01f0e-111f-4116-9042-bc94988fba89.html" target="element"> ACQ.4.BP4: Review progress of the supplier </a> </td>
													    <td> <a href="../elements/a9e01f0e-111f-4116-9042-bc94988fba89.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/e2d0830c-f08a-4b9f-b989-08bb6b2d479f.html" target="element"> ACQ.4.BP3 Review technical development with the supplier </a> </td>
													    <td> <a href="../elements/e2d0830c-f08a-4b9f-b989-08bb6b2d479f.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/1ce53bb7-e713-4f2e-876f-6a48e6e7b3c0.html" target="element"> ACQ.4.BP5: Act to correct deviations </a> </td>
													    <td> <a href="../elements/1ce53bb7-e713-4f2e-876f-6a48e6e7b3c0.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/8721668d-b99a-457b-b7fd-435b6f3f7d5b.html" target="element"> ACQ.4.O.1 Joint activities, as agreed between the customer and the supplier, areperformed as needed </a> </td>
											    <td> <a href="../elements/8721668d-b99a-457b-b7fd-435b6f3f7d5b.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5d54f4ee-0ad9-4fda-8747-d0299d022683.html" target="element"> 13-01 Acceptance record </a> </td>
											    <td> <a href="../elements/5d54f4ee-0ad9-4fda-8747-d0299d022683.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4dbb3da7-677d-41aa-9f6e-6f7e4faeee47.html" target="element"> ACQ.4.O.2 All information, agreed upon for exchange, is communicated regularlybetween the supplier and customer </a> </td>
											    <td> <a href="../elements/4dbb3da7-677d-41aa-9f6e-6f7e4faeee47.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/55033fb6-d4d6-4ba2-ad19-3b2392770260.html" target="element"> ACQ.4.O.3 Performance of the supplier is monitored against the agreements </a> </td>
											    <td> <a href="../elements/55033fb6-d4d6-4ba2-ad19-3b2392770260.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2bf7d361-7e59-4bff-9bc0-2ebeb13ddff9.html" target="element"> ACQ.4.O.4 Changes to the agreement, if needed, are negotiated between thecustomer and the supplier and documented in the agreement </a> </td>
											    <td> <a href="../elements/2bf7d361-7e59-4bff-9bc0-2ebeb13ddff9.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d1cb0629-11ee-483a-b513-6264faff0a0d.html" target="element"> 02-01 Commitment/agreement </a> </td>
											    <td> <a href="../elements/d1cb0629-11ee-483a-b513-6264faff0a0d.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element"> 13-04 Communication Record </a> </td>
											    <td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5630bedd-0765-46aa-9068-3b5380423e01.html" target="element"> 13-09 Meeting support record </a> </td>
											    <td> <a href="../elements/5630bedd-0765-46aa-9068-3b5380423e01.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/caacabda-a59b-47de-b6a3-59a64c331381.html" target="element"> 13-14 Progress status record </a> </td>
											    <td> <a href="../elements/caacabda-a59b-47de-b6a3-59a64c331381.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/30267d89-3ca1-4ce0-aaf0-02f864f52e90.html" target="element"> 13-16 Change Request </a> </td>
											    <td> <a href="../elements/30267d89-3ca1-4ce0-aaf0-02f864f52e90.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element"> 13-19 Review Record </a> </td>
											    <td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3400d0a7-31c3-46f8-8e99-a25fad4ca5d5.html" target="element"> 14-02 Corrective Action Register </a> </td>
											    <td> <a href="../elements/3400d0a7-31c3-46f8-8e99-a25fad4ca5d5.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/46ef0390-c285-4923-8ce6-e9680248ce42.html" target="element"> 15-01 Analysis report </a> </td>
											    <td> <a href="../elements/46ef0390-c285-4923-8ce6-e9680248ce42.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/9d35afbd-c154-4f8c-ac67-b847614df279.html" target="element">  </a> </td>
																		<td> <a href="../elements/9d35afbd-c154-4f8c-ac67-b847614df279.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/0912dba0-ac83-4d0f-b96e-92b96cee9815.html" target="element"> ACQ.4 Supplier Monitoring </a> </td>
																		<td> <a href="../elements/78bd8c5e-68fc-40b8-a3dd-a3f574a60e90.html" target="element"> ACQ.4.BP2 Exchange all agreed information </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/94119d23-fb52-47c1-a965-fc4e784536d2.html" target="element">  </a> </td>
																		<td> <a href="../elements/94119d23-fb52-47c1-a965-fc4e784536d2.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/0912dba0-ac83-4d0f-b96e-92b96cee9815.html" target="element"> ACQ.4 Supplier Monitoring </a> </td>
																		<td> <a href="../elements/c68bd7b4-bfa2-43f8-a36d-a29ebe6bf336.html" target="element"> ACQ.4.BP1 Agree on and maintain joint processes </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a2538bab-efe8-4595-a615-a4b78be4245f.html" target="element">  </a> </td>
																		<td> <a href="../elements/a2538bab-efe8-4595-a615-a4b78be4245f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/0912dba0-ac83-4d0f-b96e-92b96cee9815.html" target="element"> ACQ.4 Supplier Monitoring </a> </td>
																		<td> <a href="../elements/a9e01f0e-111f-4116-9042-bc94988fba89.html" target="element"> ACQ.4.BP4: Review progress of the supplier </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/373836ad-3755-4a5f-a76f-ec30d8b9783e.html" target="element">  </a> </td>
																		<td> <a href="../elements/373836ad-3755-4a5f-a76f-ec30d8b9783e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/0912dba0-ac83-4d0f-b96e-92b96cee9815.html" target="element"> ACQ.4 Supplier Monitoring </a> </td>
																		<td> <a href="../elements/e2d0830c-f08a-4b9f-b989-08bb6b2d479f.html" target="element"> ACQ.4.BP3 Review technical development with the supplier </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4b4330e3-e0e9-4565-b92f-d75c1904cf99.html" target="element">  </a> </td>
																		<td> <a href="../elements/4b4330e3-e0e9-4565-b92f-d75c1904cf99.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/0912dba0-ac83-4d0f-b96e-92b96cee9815.html" target="element"> ACQ.4 Supplier Monitoring </a> </td>
																		<td> <a href="../elements/1ce53bb7-e713-4f2e-876f-6a48e6e7b3c0.html" target="element"> ACQ.4.BP5: Act to correct deviations </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2e69784a-0375-493f-9e61-c46aea3568e5.html" target="element">  </a> </td>
																		<td> <a href="../elements/2e69784a-0375-493f-9e61-c46aea3568e5.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/0912dba0-ac83-4d0f-b96e-92b96cee9815.html" target="element"> ACQ.4 Supplier Monitoring </a> </td>
																		<td> <a href="../elements/d1cb0629-11ee-483a-b513-6264faff0a0d.html" target="element"> 02-01 Commitment/agreement </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d0149e4d-fdee-4634-9741-84f99dc90c3c.html" target="element">  </a> </td>
																		<td> <a href="../elements/d0149e4d-fdee-4634-9741-84f99dc90c3c.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/0912dba0-ac83-4d0f-b96e-92b96cee9815.html" target="element"> ACQ.4 Supplier Monitoring </a> </td>
																		<td> <a href="../elements/5d54f4ee-0ad9-4fda-8747-d0299d022683.html" target="element"> 13-01 Acceptance record </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e9dfc79e-8367-40bb-9b86-a140456d3021.html" target="element">  </a> </td>
																		<td> <a href="../elements/e9dfc79e-8367-40bb-9b86-a140456d3021.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/0912dba0-ac83-4d0f-b96e-92b96cee9815.html" target="element"> ACQ.4 Supplier Monitoring </a> </td>
																		<td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element"> 13-04 Communication Record </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/dfc16250-e001-4896-a9b7-e8fd73cffd47.html" target="element">  </a> </td>
																		<td> <a href="../elements/dfc16250-e001-4896-a9b7-e8fd73cffd47.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/0912dba0-ac83-4d0f-b96e-92b96cee9815.html" target="element"> ACQ.4 Supplier Monitoring </a> </td>
																		<td> <a href="../elements/5630bedd-0765-46aa-9068-3b5380423e01.html" target="element"> 13-09 Meeting support record </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/349616ee-a83a-4e85-8698-aa0e3be23b19.html" target="element">  </a> </td>
																		<td> <a href="../elements/349616ee-a83a-4e85-8698-aa0e3be23b19.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/0912dba0-ac83-4d0f-b96e-92b96cee9815.html" target="element"> ACQ.4 Supplier Monitoring </a> </td>
																		<td> <a href="../elements/caacabda-a59b-47de-b6a3-59a64c331381.html" target="element"> 13-14 Progress status record </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/579b984d-61e5-4208-8d74-eb4b0c9e2da7.html" target="element">  </a> </td>
																		<td> <a href="../elements/579b984d-61e5-4208-8d74-eb4b0c9e2da7.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/0912dba0-ac83-4d0f-b96e-92b96cee9815.html" target="element"> ACQ.4 Supplier Monitoring </a> </td>
																		<td> <a href="../elements/30267d89-3ca1-4ce0-aaf0-02f864f52e90.html" target="element"> 13-16 Change Request </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e5613c64-c94c-496e-a8d3-fd59073dec7e.html" target="element">  </a> </td>
																		<td> <a href="../elements/e5613c64-c94c-496e-a8d3-fd59073dec7e.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/0912dba0-ac83-4d0f-b96e-92b96cee9815.html" target="element"> ACQ.4 Supplier Monitoring </a> </td>
																		<td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element"> 13-19 Review Record </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d2942e3b-ba2c-4930-86e3-6a495814833f.html" target="element">  </a> </td>
																		<td> <a href="../elements/d2942e3b-ba2c-4930-86e3-6a495814833f.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/0912dba0-ac83-4d0f-b96e-92b96cee9815.html" target="element"> ACQ.4 Supplier Monitoring </a> </td>
																		<td> <a href="../elements/3400d0a7-31c3-46f8-8e99-a25fad4ca5d5.html" target="element"> 14-02 Corrective Action Register </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f2f2d38e-6f47-44e7-b0cc-f6c6f0cd54ff.html" target="element">  </a> </td>
																		<td> <a href="../elements/f2f2d38e-6f47-44e7-b0cc-f6c6f0cd54ff.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/0912dba0-ac83-4d0f-b96e-92b96cee9815.html" target="element"> ACQ.4 Supplier Monitoring </a> </td>
																		<td> <a href="../elements/46ef0390-c285-4923-8ce6-e9680248ce42.html" target="element"> 15-01 Analysis report </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>