<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>O. vs. BP. vs. WP. - ACQ.13 Project Requirements</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>O. vs. BP. vs. WP. - ACQ.13 Project Requirements</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/a6fe40ca-3535-46c3-a477-911f9b476f3c.png" alt="O. vs. BP. vs. WP. - ACQ.13 Project Requirements" usemap="#a6fe40ca-3535-46c3-a477-911f9b476f3cmap"/>
			   <map name="a6fe40ca-3535-46c3-a477-911f9b476f3cmap">
				  		<area shape="rect" coords="850,778,1030,833" href="../views/6f2c42c6-6c76-4025-a659-e155a79e1e97.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="850,839,1030,894" href="../views/9e94f80f-8775-4044-8110-6a872c99ec05.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="1618,82,1763,137" href="../elements/aa54cada-bf4e-43b2-a214-9b642ebeafba.html"  target="element">
				  		<area shape="rect" coords="1306,82,1451,137" href="../elements/599bb14f-f61b-4fad-8599-342e3f634752.html"  target="element">
				  		<area shape="rect" coords="1462,82,1607,137" href="../elements/33d7ea4b-acaf-4901-9ef4-db7c7df213d0.html"  target="element">
				  		<area shape="rect" coords="994,82,1139,137" href="../elements/613ff5b9-7707-45f1-87e7-9b636a6a4a1c.html"  target="element">
				  		<area shape="rect" coords="1150,82,1295,137" href="../elements/9478df2b-8100-47a1-a8d6-a6ea6dd8bf8b.html"  target="element">
				  		<area shape="rect" coords="1102,10,1247,65" href="../elements/6d80a5b8-97a0-4597-93a7-8e2330528729.html"  target="element">
				  		<area shape="rect" coords="322,10,467,65" href="../elements/cf2e93ac-9ed9-4f28-b2da-f26031976534.html"  target="element">
				  		<area shape="rect" coords="838,82,983,137" href="../elements/72bb2614-effc-4535-a466-b7cb6469c26b.html"  target="element">
				  		<area shape="rect" coords="790,10,935,65" href="../elements/e8fce815-29bb-4872-b0b3-2d3ef075d3f3.html"  target="element">
				  		<area shape="rect" coords="166,10,311,65" href="../elements/bd61962a-0685-44e6-9f16-6e3b9352b3fb.html"  target="element">
				  		<area shape="rect" coords="682,82,827,137" href="../elements/3f517763-fbb4-440e-adfe-1cf4f856880a.html"  target="element">
				  		<area shape="rect" coords="634,10,779,65" href="../elements/5a346814-c03c-48de-ae6c-3fa735742625.html"  target="element">
				  		<area shape="rect" coords="478,10,623,65" href="../elements/52d2925e-92d6-4262-a259-ffcac5c663e9.html"  target="element">
				  		<area shape="rect" coords="946,10,1091,65" href="../elements/b42cf07a-5692-4398-99e4-46e987ad3c50.html"  target="element">
				  		<area shape="rect" coords="10,10,155,65" href="../elements/6c8f2b43-3c24-4faa-a4d6-f8c47d8251d5.html"  target="element">
				  		<area shape="rect" coords="946,670,1151,725" href="../elements/90146306-4004-48b7-b8ce-c00c995a35cc.html"  target="element">
				  		<area shape="rect" coords="634,670,839,725" href="../elements/485bc319-e304-4427-bc84-a553d5fd471b.html"  target="element">
				  		<area shape="rect" coords="322,670,527,725" href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html"  target="element">
				  		<area shape="rect" coords="10,670,215,725" href="../elements/a2964280-b66f-40de-a20b-30d7d4fcfee3.html"  target="element">
				  		<area shape="rect" coords="10,565,1727,599" href="../elements/7fea2b48-3570-4c7f-b53e-ecc166e572ad.html"  target="element">
				  		<area shape="rect" coords="10,517,1727,551" href="../elements/45895c2c-c362-4e46-96c0-fb9b59bd3abc.html"  target="element">
				  		<area shape="rect" coords="10,469,1727,503" href="../elements/344c3c4c-d9fe-4e01-a205-918df4c7a978.html"  target="element">
				  		<area shape="rect" coords="10,421,1727,455" href="../elements/d3d995be-b593-45bd-9c61-de55e29a3b10.html"  target="element">
				  		<area shape="rect" coords="10,373,1727,407" href="../elements/12c9df3b-111f-4a54-be5f-21fca489e93c.html"  target="element">
				  		<area shape="rect" coords="10,325,1727,359" href="../elements/a54a626d-a656-4bfd-8978-32597453892b.html"  target="element">
				  		<area shape="rect" coords="10,277,1727,311" href="../elements/e321d9fc-6009-4cb5-9e81-57c1eeb44544.html"  target="element">
				  		<area shape="rect" coords="10,229,1727,263" href="../elements/42fd2168-2c48-42cc-a3d4-6a568adb783a.html"  target="element">
				  		<area shape="rect" coords="10,181,1727,215" href="../elements/81dcc82e-4347-482e-a28b-333ecd555274.html"  target="element">
				          <area shape="rect" coords="10,778,839,894" href="../objects/035094ae-0edc-44e6-98ec-8f644461f59f.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">This view answers the following questions:
- If I implement and deploy the Base Practice (BP) ***, how can I verify if I did it properly? What outcomes shall be achieved?
- If I implement and demploy the Outcome Work Product ***, how can I verify if I did it properly? What outcomes shall be achieved?

Scope of this view - Outcomes, Base Practices and their relations for ASPICE process ACQ.13 Project Requirements

Latest version and docs can be found here: https://github.com/alef1986/ASPICE-Archi</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/035094ae-0edc-44e6-98ec-8f644461f59f.html" target="element">  </a> </td>
									           <td> <a href="../objects/035094ae-0edc-44e6-98ec-8f644461f59f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/81dcc82e-4347-482e-a28b-333ecd555274.html" target="element"> ACQ.13.O.1 Consistency between financial, technical, contractual and projectrequirements is established </a> </td>
											    <td> <a href="../elements/81dcc82e-4347-482e-a28b-333ecd555274.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/42fd2168-2c48-42cc-a3d4-6a568adb783a.html" target="element"> ACQ.13.O.2 Requirements for the organizational, management, controlling, andreporting aspects of a project are defined </a> </td>
											    <td> <a href="../elements/42fd2168-2c48-42cc-a3d4-6a568adb783a.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e321d9fc-6009-4cb5-9e81-57c1eeb44544.html" target="element"> ACQ.13.O.3 Requirements for adequate staffing of projects by a competent team(e.g. resources with requisite legal, contractual, technical and projectcompetence) with clear responsibilities and goals are defined </a> </td>
											    <td> <a href="../elements/e321d9fc-6009-4cb5-9e81-57c1eeb44544.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a54a626d-a656-4bfd-8978-32597453892b.html" target="element"> ACQ.13.O.4 The needs for exchanging information between all affected parties areestablished </a> </td>
											    <td> <a href="../elements/a54a626d-a656-4bfd-8978-32597453892b.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/12c9df3b-111f-4a54-be5f-21fca489e93c.html" target="element"> ACQ.13.O.5 Requirements for the completion and acceptance of interim workproducts and release of payments are established </a> </td>
											    <td> <a href="../elements/12c9df3b-111f-4a54-be5f-21fca489e93c.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d3d995be-b593-45bd-9c61-de55e29a3b10.html" target="element"> ACQ.13.O.6 Potential risks are identified </a> </td>
											    <td> <a href="../elements/d3d995be-b593-45bd-9c61-de55e29a3b10.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/344c3c4c-d9fe-4e01-a205-918df4c7a978.html" target="element"> ACQ.13.O.7 Requirements for ownership of interactions and relationships withsuppliers are defined </a> </td>
											    <td> <a href="../elements/344c3c4c-d9fe-4e01-a205-918df4c7a978.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/45895c2c-c362-4e46-96c0-fb9b59bd3abc.html" target="element"> ACQ.13.O.8 Rights for use and distribution of the product by the customer andsupplier are defined </a> </td>
											    <td> <a href="../elements/45895c2c-c362-4e46-96c0-fb9b59bd3abc.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7fea2b48-3570-4c7f-b53e-ecc166e572ad.html" target="element"> ACQ.13.O.9 Support and maintenance requirements are established </a> </td>
											    <td> <a href="../elements/7fea2b48-3570-4c7f-b53e-ecc166e572ad.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a2964280-b66f-40de-a20b-30d7d4fcfee3.html" target="element"> 02-00 Contract </a> </td>
											    <td> <a href="../elements/a2964280-b66f-40de-a20b-30d7d4fcfee3.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element"> 13-19 Review Record </a> </td>
											    <td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/485bc319-e304-4427-bc84-a553d5fd471b.html" target="element"> 13-20 Risk action request </a> </td>
											    <td> <a href="../elements/485bc319-e304-4427-bc84-a553d5fd471b.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/90146306-4004-48b7-b8ce-c00c995a35cc.html" target="element"> 17-00 Requirement specification </a> </td>
											    <td> <a href="../elements/90146306-4004-48b7-b8ce-c00c995a35cc.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6c8f2b43-3c24-4faa-a4d6-f8c47d8251d5.html" target="element"> ACQ.13.BP1 Identify relevant groups </a> </td>
											    <td> <a href="../elements/6c8f2b43-3c24-4faa-a4d6-f8c47d8251d5.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b42cf07a-5692-4398-99e4-46e987ad3c50.html" target="element"> ACQ.13.BP7 Identify information needs </a> </td>
											    <td> <a href="../elements/b42cf07a-5692-4398-99e4-46e987ad3c50.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/52d2925e-92d6-4262-a259-ffcac5c663e9.html" target="element"> ACQ.13.BP4 Define management requirements </a> </td>
											    <td> <a href="../elements/52d2925e-92d6-4262-a259-ffcac5c663e9.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5a346814-c03c-48de-ae6c-3fa735742625.html" target="element"> ACQ.13.BP5 Identify required competency </a> </td>
											    <td> <a href="../elements/5a346814-c03c-48de-ae6c-3fa735742625.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3f517763-fbb4-440e-adfe-1cf4f856880a.html" target="element"> ACQ.13.BP9 Establish criteria for interim work products </a> </td>
											    <td> <a href="../elements/3f517763-fbb4-440e-adfe-1cf4f856880a.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/bd61962a-0685-44e6-9f16-6e3b9352b3fb.html" target="element"> ACQ.13.BP2 Communicate with relevant groups </a> </td>
											    <td> <a href="../elements/bd61962a-0685-44e6-9f16-6e3b9352b3fb.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e8fce815-29bb-4872-b0b3-2d3ef075d3f3.html" target="element"> ACQ.13.BP6 Define responsibilities and goals </a> </td>
											    <td> <a href="../elements/e8fce815-29bb-4872-b0b3-2d3ef075d3f3.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/72bb2614-effc-4535-a466-b7cb6469c26b.html" target="element"> ACQ.13.BP10 Establish payment requirements </a> </td>
											    <td> <a href="../elements/72bb2614-effc-4535-a466-b7cb6469c26b.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cf2e93ac-9ed9-4f28-b2da-f26031976534.html" target="element"> ACQ.13.BP3 Define organizational requirements </a> </td>
											    <td> <a href="../elements/cf2e93ac-9ed9-4f28-b2da-f26031976534.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6d80a5b8-97a0-4597-93a7-8e2330528729.html" target="element"> ACQ.13.BP8 Define exchange of information </a> </td>
											    <td> <a href="../elements/6d80a5b8-97a0-4597-93a7-8e2330528729.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9478df2b-8100-47a1-a8d6-a6ea6dd8bf8b.html" target="element"> ACQ.13.BP12 Communicate risks </a> </td>
											    <td> <a href="../elements/9478df2b-8100-47a1-a8d6-a6ea6dd8bf8b.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/613ff5b9-7707-45f1-87e7-9b636a6a4a1c.html" target="element"> ACQ.13.BP11 Identify risks </a> </td>
											    <td> <a href="../elements/613ff5b9-7707-45f1-87e7-9b636a6a4a1c.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/33d7ea4b-acaf-4901-9ef4-db7c7df213d0.html" target="element"> ACQ.13.BP14 Define rights for use and distribution </a> </td>
											    <td> <a href="../elements/33d7ea4b-acaf-4901-9ef4-db7c7df213d0.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/599bb14f-f61b-4fad-8599-342e3f634752.html" target="element"> ACQ.13.BP13 Define ownership of relationships </a> </td>
											    <td> <a href="../elements/599bb14f-f61b-4fad-8599-342e3f634752.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/aa54cada-bf4e-43b2-a214-9b642ebeafba.html" target="element"> ACQ.13.BP15 Establish support and maintenance requirements </a> </td>
											    <td> <a href="../elements/aa54cada-bf4e-43b2-a214-9b642ebeafba.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../views/9e94f80f-8775-4044-8110-6a872c99ec05.html" target="view"> Overview - Process Reference Model </a> </td>
											    <td> <a href="../views/9e94f80f-8775-4044-8110-6a872c99ec05.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/6f2c42c6-6c76-4025-a659-e155a79e1e97.html" target="view"> Overview - ACQ.13 Project Requirements </a> </td>
											    <td> <a href="../views/6f2c42c6-6c76-4025-a659-e155a79e1e97.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/c5f0e708-b401-4b62-b3a5-1406efadfa8a.html" target="element">  </a> </td>
																		<td> <a href="../elements/c5f0e708-b401-4b62-b3a5-1406efadfa8a.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/a2964280-b66f-40de-a20b-30d7d4fcfee3.html" target="element"> 02-00 Contract </a> </td>
																		<td> <a href="../elements/81dcc82e-4347-482e-a28b-333ecd555274.html" target="element"> ACQ.13.O.1 Consistency between financial, technical, contractual and projectrequirements is established </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/04d1b749-7813-4c30-bbe7-74f303f27183.html" target="element">  </a> </td>
																		<td> <a href="../elements/04d1b749-7813-4c30-bbe7-74f303f27183.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/a2964280-b66f-40de-a20b-30d7d4fcfee3.html" target="element"> 02-00 Contract </a> </td>
																		<td> <a href="../elements/42fd2168-2c48-42cc-a3d4-6a568adb783a.html" target="element"> ACQ.13.O.2 Requirements for the organizational, management, controlling, andreporting aspects of a project are defined </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7c9b38c7-622e-4c9a-8e1f-0236449c86c3.html" target="element">  </a> </td>
																		<td> <a href="../elements/7c9b38c7-622e-4c9a-8e1f-0236449c86c3.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/a2964280-b66f-40de-a20b-30d7d4fcfee3.html" target="element"> 02-00 Contract </a> </td>
																		<td> <a href="../elements/e321d9fc-6009-4cb5-9e81-57c1eeb44544.html" target="element"> ACQ.13.O.3 Requirements for adequate staffing of projects by a competent team(e.g. resources with requisite legal, contractual, technical and projectcompetence) with clear responsibilities and goals are defined </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/796326f7-b8d3-4fc2-80fb-7acca2c364ca.html" target="element">  </a> </td>
																		<td> <a href="../elements/796326f7-b8d3-4fc2-80fb-7acca2c364ca.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/a2964280-b66f-40de-a20b-30d7d4fcfee3.html" target="element"> 02-00 Contract </a> </td>
																		<td> <a href="../elements/a54a626d-a656-4bfd-8978-32597453892b.html" target="element"> ACQ.13.O.4 The needs for exchanging information between all affected parties areestablished </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/892b8bc7-1dbc-4326-b5b8-62c69774b353.html" target="element">  </a> </td>
																		<td> <a href="../elements/892b8bc7-1dbc-4326-b5b8-62c69774b353.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/a2964280-b66f-40de-a20b-30d7d4fcfee3.html" target="element"> 02-00 Contract </a> </td>
																		<td> <a href="../elements/12c9df3b-111f-4a54-be5f-21fca489e93c.html" target="element"> ACQ.13.O.5 Requirements for the completion and acceptance of interim workproducts and release of payments are established </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7d257837-d6f1-4b8d-86ce-1dee37aded2f.html" target="element">  </a> </td>
																		<td> <a href="../elements/7d257837-d6f1-4b8d-86ce-1dee37aded2f.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/a2964280-b66f-40de-a20b-30d7d4fcfee3.html" target="element"> 02-00 Contract </a> </td>
																		<td> <a href="../elements/d3d995be-b593-45bd-9c61-de55e29a3b10.html" target="element"> ACQ.13.O.6 Potential risks are identified </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/722f8be1-2df2-41b3-92ea-ff21b8695e40.html" target="element">  </a> </td>
																		<td> <a href="../elements/722f8be1-2df2-41b3-92ea-ff21b8695e40.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/a2964280-b66f-40de-a20b-30d7d4fcfee3.html" target="element"> 02-00 Contract </a> </td>
																		<td> <a href="../elements/344c3c4c-d9fe-4e01-a205-918df4c7a978.html" target="element"> ACQ.13.O.7 Requirements for ownership of interactions and relationships withsuppliers are defined </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c36c8856-7fe1-4e52-b782-62dbd4b28c87.html" target="element">  </a> </td>
																		<td> <a href="../elements/c36c8856-7fe1-4e52-b782-62dbd4b28c87.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/a2964280-b66f-40de-a20b-30d7d4fcfee3.html" target="element"> 02-00 Contract </a> </td>
																		<td> <a href="../elements/45895c2c-c362-4e46-96c0-fb9b59bd3abc.html" target="element"> ACQ.13.O.8 Rights for use and distribution of the product by the customer andsupplier are defined </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/efc9cf29-4519-4d08-94c9-d13d7b8b8e6d.html" target="element">  </a> </td>
																		<td> <a href="../elements/efc9cf29-4519-4d08-94c9-d13d7b8b8e6d.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/a2964280-b66f-40de-a20b-30d7d4fcfee3.html" target="element"> 02-00 Contract </a> </td>
																		<td> <a href="../elements/7fea2b48-3570-4c7f-b53e-ecc166e572ad.html" target="element"> ACQ.13.O.9 Support and maintenance requirements are established </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/30555299-663c-4a45-afde-e362396cc0cc.html" target="element">  </a> </td>
																		<td> <a href="../elements/30555299-663c-4a45-afde-e362396cc0cc.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element"> 13-19 Review Record </a> </td>
																		<td> <a href="../elements/81dcc82e-4347-482e-a28b-333ecd555274.html" target="element"> ACQ.13.O.1 Consistency between financial, technical, contractual and projectrequirements is established </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/798eac28-f68d-4b67-8518-360c54c50e50.html" target="element">  </a> </td>
																		<td> <a href="../elements/798eac28-f68d-4b67-8518-360c54c50e50.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/485bc319-e304-4427-bc84-a553d5fd471b.html" target="element"> 13-20 Risk action request </a> </td>
																		<td> <a href="../elements/d3d995be-b593-45bd-9c61-de55e29a3b10.html" target="element"> ACQ.13.O.6 Potential risks are identified </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/07b394a1-6788-4daf-9d35-571ebfafc0c8.html" target="element">  </a> </td>
																		<td> <a href="../elements/07b394a1-6788-4daf-9d35-571ebfafc0c8.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/90146306-4004-48b7-b8ce-c00c995a35cc.html" target="element"> 17-00 Requirement specification </a> </td>
																		<td> <a href="../elements/81dcc82e-4347-482e-a28b-333ecd555274.html" target="element"> ACQ.13.O.1 Consistency between financial, technical, contractual and projectrequirements is established </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f3783451-ddaf-4880-9918-01a40b646927.html" target="element">  </a> </td>
																		<td> <a href="../elements/f3783451-ddaf-4880-9918-01a40b646927.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/90146306-4004-48b7-b8ce-c00c995a35cc.html" target="element"> 17-00 Requirement specification </a> </td>
																		<td> <a href="../elements/42fd2168-2c48-42cc-a3d4-6a568adb783a.html" target="element"> ACQ.13.O.2 Requirements for the organizational, management, controlling, andreporting aspects of a project are defined </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9b1f2548-a3ab-4f07-8eea-101b33027428.html" target="element">  </a> </td>
																		<td> <a href="../elements/9b1f2548-a3ab-4f07-8eea-101b33027428.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/90146306-4004-48b7-b8ce-c00c995a35cc.html" target="element"> 17-00 Requirement specification </a> </td>
																		<td> <a href="../elements/a54a626d-a656-4bfd-8978-32597453892b.html" target="element"> ACQ.13.O.4 The needs for exchanging information between all affected parties areestablished </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/593bcc4f-5075-4a9d-be9b-afca60e13d97.html" target="element">  </a> </td>
																		<td> <a href="../elements/593bcc4f-5075-4a9d-be9b-afca60e13d97.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/90146306-4004-48b7-b8ce-c00c995a35cc.html" target="element"> 17-00 Requirement specification </a> </td>
																		<td> <a href="../elements/e321d9fc-6009-4cb5-9e81-57c1eeb44544.html" target="element"> ACQ.13.O.3 Requirements for adequate staffing of projects by a competent team(e.g. resources with requisite legal, contractual, technical and projectcompetence) with clear responsibilities and goals are defined </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/67d4db2c-b327-448e-915a-a80ad0d67b0d.html" target="element">  </a> </td>
																		<td> <a href="../elements/67d4db2c-b327-448e-915a-a80ad0d67b0d.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/90146306-4004-48b7-b8ce-c00c995a35cc.html" target="element"> 17-00 Requirement specification </a> </td>
																		<td> <a href="../elements/12c9df3b-111f-4a54-be5f-21fca489e93c.html" target="element"> ACQ.13.O.5 Requirements for the completion and acceptance of interim workproducts and release of payments are established </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/47710fe5-fac6-41c1-882c-1781ca93cb0e.html" target="element">  </a> </td>
																		<td> <a href="../elements/47710fe5-fac6-41c1-882c-1781ca93cb0e.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/90146306-4004-48b7-b8ce-c00c995a35cc.html" target="element"> 17-00 Requirement specification </a> </td>
																		<td> <a href="../elements/d3d995be-b593-45bd-9c61-de55e29a3b10.html" target="element"> ACQ.13.O.6 Potential risks are identified </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a69e1fca-25a8-46ed-abdf-16dbc6841c21.html" target="element">  </a> </td>
																		<td> <a href="../elements/a69e1fca-25a8-46ed-abdf-16dbc6841c21.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/90146306-4004-48b7-b8ce-c00c995a35cc.html" target="element"> 17-00 Requirement specification </a> </td>
																		<td> <a href="../elements/344c3c4c-d9fe-4e01-a205-918df4c7a978.html" target="element"> ACQ.13.O.7 Requirements for ownership of interactions and relationships withsuppliers are defined </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0bfcff96-64e5-4b72-8ae0-30b9ca3bf34d.html" target="element">  </a> </td>
																		<td> <a href="../elements/0bfcff96-64e5-4b72-8ae0-30b9ca3bf34d.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/90146306-4004-48b7-b8ce-c00c995a35cc.html" target="element"> 17-00 Requirement specification </a> </td>
																		<td> <a href="../elements/45895c2c-c362-4e46-96c0-fb9b59bd3abc.html" target="element"> ACQ.13.O.8 Rights for use and distribution of the product by the customer andsupplier are defined </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/022dea0a-eaab-43c0-a8df-1239becd029c.html" target="element">  </a> </td>
																		<td> <a href="../elements/022dea0a-eaab-43c0-a8df-1239becd029c.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/90146306-4004-48b7-b8ce-c00c995a35cc.html" target="element"> 17-00 Requirement specification </a> </td>
																		<td> <a href="../elements/7fea2b48-3570-4c7f-b53e-ecc166e572ad.html" target="element"> ACQ.13.O.9 Support and maintenance requirements are established </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6bb857b2-9172-44f1-85b4-538a90ecf790.html" target="element">  </a> </td>
																		<td> <a href="../elements/6bb857b2-9172-44f1-85b4-538a90ecf790.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/6c8f2b43-3c24-4faa-a4d6-f8c47d8251d5.html" target="element"> ACQ.13.BP1 Identify relevant groups </a> </td>
																		<td> <a href="../elements/81dcc82e-4347-482e-a28b-333ecd555274.html" target="element"> ACQ.13.O.1 Consistency between financial, technical, contractual and projectrequirements is established </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/b5950f76-04ef-4117-89d4-1e0b77b0b1c6.html" target="element">  </a> </td>
																		<td> <a href="../elements/b5950f76-04ef-4117-89d4-1e0b77b0b1c6.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/b42cf07a-5692-4398-99e4-46e987ad3c50.html" target="element"> ACQ.13.BP7 Identify information needs </a> </td>
																		<td> <a href="../elements/a54a626d-a656-4bfd-8978-32597453892b.html" target="element"> ACQ.13.O.4 The needs for exchanging information between all affected parties areestablished </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/09c50faa-761e-4f60-9f25-0fddc50157f7.html" target="element">  </a> </td>
																		<td> <a href="../elements/09c50faa-761e-4f60-9f25-0fddc50157f7.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/52d2925e-92d6-4262-a259-ffcac5c663e9.html" target="element"> ACQ.13.BP4 Define management requirements </a> </td>
																		<td> <a href="../elements/42fd2168-2c48-42cc-a3d4-6a568adb783a.html" target="element"> ACQ.13.O.2 Requirements for the organizational, management, controlling, andreporting aspects of a project are defined </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/2b258de4-b108-4283-921e-9d26dc83d9eb.html" target="element">  </a> </td>
																		<td> <a href="../elements/2b258de4-b108-4283-921e-9d26dc83d9eb.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/5a346814-c03c-48de-ae6c-3fa735742625.html" target="element"> ACQ.13.BP5 Identify required competency </a> </td>
																		<td> <a href="../elements/e321d9fc-6009-4cb5-9e81-57c1eeb44544.html" target="element"> ACQ.13.O.3 Requirements for adequate staffing of projects by a competent team(e.g. resources with requisite legal, contractual, technical and projectcompetence) with clear responsibilities and goals are defined </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/8c212425-45d2-4bba-a3e7-34c2624b7f91.html" target="element">  </a> </td>
																		<td> <a href="../elements/8c212425-45d2-4bba-a3e7-34c2624b7f91.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/3f517763-fbb4-440e-adfe-1cf4f856880a.html" target="element"> ACQ.13.BP9 Establish criteria for interim work products </a> </td>
																		<td> <a href="../elements/12c9df3b-111f-4a54-be5f-21fca489e93c.html" target="element"> ACQ.13.O.5 Requirements for the completion and acceptance of interim workproducts and release of payments are established </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/3efe4e51-014b-4e15-9fa9-5cc9067d2cde.html" target="element">  </a> </td>
																		<td> <a href="../elements/3efe4e51-014b-4e15-9fa9-5cc9067d2cde.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/bd61962a-0685-44e6-9f16-6e3b9352b3fb.html" target="element"> ACQ.13.BP2 Communicate with relevant groups </a> </td>
																		<td> <a href="../elements/81dcc82e-4347-482e-a28b-333ecd555274.html" target="element"> ACQ.13.O.1 Consistency between financial, technical, contractual and projectrequirements is established </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/b0efb268-d555-4b97-8f6e-c4f9a1ad67a3.html" target="element">  </a> </td>
																		<td> <a href="../elements/b0efb268-d555-4b97-8f6e-c4f9a1ad67a3.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/e8fce815-29bb-4872-b0b3-2d3ef075d3f3.html" target="element"> ACQ.13.BP6 Define responsibilities and goals </a> </td>
																		<td> <a href="../elements/e321d9fc-6009-4cb5-9e81-57c1eeb44544.html" target="element"> ACQ.13.O.3 Requirements for adequate staffing of projects by a competent team(e.g. resources with requisite legal, contractual, technical and projectcompetence) with clear responsibilities and goals are defined </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/35ea61ef-e6df-492d-89e8-9a6194cf91b9.html" target="element">  </a> </td>
																		<td> <a href="../elements/35ea61ef-e6df-492d-89e8-9a6194cf91b9.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/72bb2614-effc-4535-a466-b7cb6469c26b.html" target="element"> ACQ.13.BP10 Establish payment requirements </a> </td>
																		<td> <a href="../elements/12c9df3b-111f-4a54-be5f-21fca489e93c.html" target="element"> ACQ.13.O.5 Requirements for the completion and acceptance of interim workproducts and release of payments are established </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/693f5c91-11bd-4055-bede-6d696dd4237a.html" target="element">  </a> </td>
																		<td> <a href="../elements/693f5c91-11bd-4055-bede-6d696dd4237a.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/cf2e93ac-9ed9-4f28-b2da-f26031976534.html" target="element"> ACQ.13.BP3 Define organizational requirements </a> </td>
																		<td> <a href="../elements/42fd2168-2c48-42cc-a3d4-6a568adb783a.html" target="element"> ACQ.13.O.2 Requirements for the organizational, management, controlling, andreporting aspects of a project are defined </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/f7a5ada1-c0e3-43f8-8aa8-8d5d4f550d3c.html" target="element">  </a> </td>
																		<td> <a href="../elements/f7a5ada1-c0e3-43f8-8aa8-8d5d4f550d3c.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/6d80a5b8-97a0-4597-93a7-8e2330528729.html" target="element"> ACQ.13.BP8 Define exchange of information </a> </td>
																		<td> <a href="../elements/a54a626d-a656-4bfd-8978-32597453892b.html" target="element"> ACQ.13.O.4 The needs for exchanging information between all affected parties areestablished </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/325d046a-f158-4034-ad98-2fbb23f2d77d.html" target="element">  </a> </td>
																		<td> <a href="../elements/325d046a-f158-4034-ad98-2fbb23f2d77d.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/9478df2b-8100-47a1-a8d6-a6ea6dd8bf8b.html" target="element"> ACQ.13.BP12 Communicate risks </a> </td>
																		<td> <a href="../elements/d3d995be-b593-45bd-9c61-de55e29a3b10.html" target="element"> ACQ.13.O.6 Potential risks are identified </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/3efd59f9-def7-40d3-8d57-c9df7c434b21.html" target="element">  </a> </td>
																		<td> <a href="../elements/3efd59f9-def7-40d3-8d57-c9df7c434b21.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/613ff5b9-7707-45f1-87e7-9b636a6a4a1c.html" target="element"> ACQ.13.BP11 Identify risks </a> </td>
																		<td> <a href="../elements/d3d995be-b593-45bd-9c61-de55e29a3b10.html" target="element"> ACQ.13.O.6 Potential risks are identified </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/b46fd755-9de6-4d39-a0fe-fe88c84a31f4.html" target="element">  </a> </td>
																		<td> <a href="../elements/b46fd755-9de6-4d39-a0fe-fe88c84a31f4.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/33d7ea4b-acaf-4901-9ef4-db7c7df213d0.html" target="element"> ACQ.13.BP14 Define rights for use and distribution </a> </td>
																		<td> <a href="../elements/45895c2c-c362-4e46-96c0-fb9b59bd3abc.html" target="element"> ACQ.13.O.8 Rights for use and distribution of the product by the customer andsupplier are defined </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/4aa39a45-e92a-41e0-957f-4d7a1da7bb85.html" target="element">  </a> </td>
																		<td> <a href="../elements/4aa39a45-e92a-41e0-957f-4d7a1da7bb85.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/599bb14f-f61b-4fad-8599-342e3f634752.html" target="element"> ACQ.13.BP13 Define ownership of relationships </a> </td>
																		<td> <a href="../elements/344c3c4c-d9fe-4e01-a205-918df4c7a978.html" target="element"> ACQ.13.O.7 Requirements for ownership of interactions and relationships withsuppliers are defined </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/52e1c258-11b4-414f-8d88-f1853a29f9c0.html" target="element">  </a> </td>
																		<td> <a href="../elements/52e1c258-11b4-414f-8d88-f1853a29f9c0.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/aa54cada-bf4e-43b2-a214-9b642ebeafba.html" target="element"> ACQ.13.BP15 Establish support and maintenance requirements </a> </td>
																		<td> <a href="../elements/7fea2b48-3570-4c7f-b53e-ecc166e572ad.html" target="element"> ACQ.13.O.9 Support and maintenance requirements are established </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>