<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>O. vs. BP. vs. WP. - PIM.3 Process Improvement</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>O. vs. BP. vs. WP. - PIM.3 Process Improvement</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/b13d7a8b-f52d-4fb3-af94-5b48156d12fc.png" alt="O. vs. BP. vs. WP. - PIM.3 Process Improvement" usemap="#b13d7a8b-f52d-4fb3-af94-5b48156d12fcmap"/>
			   <map name="b13d7a8b-f52d-4fb3-af94-5b48156d12fcmap">
				  		<area shape="rect" coords="850,766,1030,821" href="../views/e21c7b4f-1f0d-4b2a-9d14-c16dbe0b7d33.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="850,827,1030,882" href="../views/9e94f80f-8775-4044-8110-6a872c99ec05.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="10,10,191,65" href="../elements/d5a23884-1d75-4eae-af44-ffa60221c6d5.html"  target="element">
				  		<area shape="rect" coords="586,10,767,65" href="../elements/5f6a6897-439f-4384-b04b-f675efba14b1.html"  target="element">
				  		<area shape="rect" coords="970,10,1151,65" href="../elements/6fa342e1-c67d-4997-93d8-3924049ebc38.html"  target="element">
				  		<area shape="rect" coords="394,10,575,65" href="../elements/b3c5aa12-5214-4afe-a709-f2a6f2915533.html"  target="element">
				  		<area shape="rect" coords="778,10,959,65" href="../elements/d4740c8e-f002-4601-ad12-cdd123043ac5.html"  target="element">
				  		<area shape="rect" coords="202,10,383,65" href="../elements/9e8fe81d-3354-4df0-a0c4-b2f5d7908d97.html"  target="element">
				  		<area shape="rect" coords="1546,10,1727,65" href="../elements/3cbb5f81-8a78-413d-8429-fcb7f82daea7.html"  target="element">
				  		<area shape="rect" coords="1162,10,1343,65" href="../elements/886d4d0f-c3f5-47a4-96fe-9b9f9780c8ee.html"  target="element">
				  		<area shape="rect" coords="1354,10,1535,65" href="../elements/fb22dfd2-13f8-4992-82e3-54587ec73c46.html"  target="element">
				  		<area shape="rect" coords="1402,634,1607,689" href="../elements/47648e6d-5ad2-4f44-ac79-9a6eccd09bd6.html"  target="element">
				  		<area shape="rect" coords="1186,634,1391,689" href="../elements/e173dafe-ae34-4b4d-981b-f1ee2d29edb3.html"  target="element">
				  		<area shape="rect" coords="970,634,1175,689" href="../elements/5cfc2c93-21aa-4cad-ade1-adea2c4bfd7c.html"  target="element">
				  		<area shape="rect" coords="754,634,959,689" href="../elements/e6967389-b126-4ea1-8aef-15bc5bfcb5b7.html"  target="element">
				  		<area shape="rect" coords="538,634,743,689" href="../elements/30267d89-3ca1-4ce0-aaf0-02f864f52e90.html"  target="element">
				  		<area shape="rect" coords="322,634,527,689" href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html"  target="element">
				  		<area shape="rect" coords="106,634,311,689" href="../elements/34ae6686-328e-48cc-b572-dd082325e1fa.html"  target="element">
				  		<area shape="rect" coords="1090,562,1295,617" href="../elements/d67a8f78-0cf0-4d30-b5e5-fa8ec77575e6.html"  target="element">
				  		<area shape="rect" coords="874,562,1079,617" href="../elements/13c24f42-0b94-4041-be97-e94324988881.html"  target="element">
				  		<area shape="rect" coords="658,562,863,617" href="../elements/2b17038f-2e3c-46d1-9b85-cc0d9562fdfa.html"  target="element">
				  		<area shape="rect" coords="442,562,647,617" href="../elements/18de0fa9-0304-497c-b4a8-34138a852fb3.html"  target="element">
				  		<area shape="rect" coords="10,562,215,617" href="../elements/d1cb0629-11ee-483a-b513-6264faff0a0d.html"  target="element">
				  		<area shape="rect" coords="226,562,431,617" href="../elements/724d43df-d1d0-4ff4-a951-73aaf3082b05.html"  target="element">
				  		<area shape="rect" coords="10,454,1727,488" href="../elements/91e03044-3123-43d1-b32c-5252787c94f6.html"  target="element">
				  		<area shape="rect" coords="10,406,1727,440" href="../elements/07e11865-f9f1-4a55-8c4d-fc1e326799bb.html"  target="element">
				  		<area shape="rect" coords="10,358,1727,392" href="../elements/25abfcac-16c3-400c-ab6a-a56901758039.html"  target="element">
				  		<area shape="rect" coords="10,310,1727,344" href="../elements/e43768fc-1ce3-4e5d-bada-e916fd9b9eba.html"  target="element">
				  		<area shape="rect" coords="10,262,1727,296" href="../elements/b147cb51-c281-40d6-8bec-91925f8e318c.html"  target="element">
				  		<area shape="rect" coords="10,214,1727,248" href="../elements/6c4ff084-e37e-4e2c-bc1e-66b7c9844ee4.html"  target="element">
				  		<area shape="rect" coords="10,166,1727,200" href="../elements/984701c4-80a4-4a78-91b4-4f71d76e84bc.html"  target="element">
				          <area shape="rect" coords="10,766,839,882" href="../objects/6b5d8798-0f98-4b11-9b0f-877f2262e765.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">This view answers the following questions:
- If I implement and deploy the Base Practice (BP) ***, how can I verify if I did it properly? What outcomes shall be achieved?
- If I implement and demploy the Outcome Work Product ***, how can I verify if I did it properly? What outcomes shall be achieved?

Scope of this view - Outcomes, Base Practices and their relations for ASPICE process PIM.3 Process Improvement

Latest version and docs can be found here: https://github.com/alef1986/ASPICE-Archi</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/6b5d8798-0f98-4b11-9b0f-877f2262e765.html" target="element">  </a> </td>
									           <td> <a href="../objects/6b5d8798-0f98-4b11-9b0f-877f2262e765.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/984701c4-80a4-4a78-91b4-4f71d76e84bc.html" target="element"> PIM.3.O.1 Commitment is established to provide resources to sustainimprovement actions </a> </td>
											    <td> <a href="../elements/984701c4-80a4-4a78-91b4-4f71d76e84bc.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6c4ff084-e37e-4e2c-bc1e-66b7c9844ee4.html" target="element"> PIM.3.O.2 Issues arising from the organization's internal/external environmentare identified as improvement opportunities and justified as reasonsfor change </a> </td>
											    <td> <a href="../elements/6c4ff084-e37e-4e2c-bc1e-66b7c9844ee4.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b147cb51-c281-40d6-8bec-91925f8e318c.html" target="element"> PIM.3.O.3 Analysis of the current status of the existing process is performed,focusing on those processes from which improvement stimuli arise </a> </td>
											    <td> <a href="../elements/b147cb51-c281-40d6-8bec-91925f8e318c.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e43768fc-1ce3-4e5d-bada-e916fd9b9eba.html" target="element"> PIM.3.O.4 Improvement goals are identified and prioritized, and consequentchanges to the process are defined, planned and implemented </a> </td>
											    <td> <a href="../elements/e43768fc-1ce3-4e5d-bada-e916fd9b9eba.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/25abfcac-16c3-400c-ab6a-a56901758039.html" target="element"> PIM.3.O.5 The effects of process implementation are monitored, measured andconfirmed against the defined improvement goals </a> </td>
											    <td> <a href="../elements/25abfcac-16c3-400c-ab6a-a56901758039.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/07e11865-f9f1-4a55-8c4d-fc1e326799bb.html" target="element"> PIM.3.O.6 Knowledge gained from the improvement is communicated within theorganization </a> </td>
											    <td> <a href="../elements/07e11865-f9f1-4a55-8c4d-fc1e326799bb.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/91e03044-3123-43d1-b32c-5252787c94f6.html" target="element"> PIM.3.O.7 The improvements made are evaluated and consideration given forusing the solution elsewhere within the organization </a> </td>
											    <td> <a href="../elements/91e03044-3123-43d1-b32c-5252787c94f6.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/724d43df-d1d0-4ff4-a951-73aaf3082b05.html" target="element"> 05-00 Goals </a> </td>
											    <td> <a href="../elements/724d43df-d1d0-4ff4-a951-73aaf3082b05.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d1cb0629-11ee-483a-b513-6264faff0a0d.html" target="element"> 02-01 Commitment/agreement </a> </td>
											    <td> <a href="../elements/d1cb0629-11ee-483a-b513-6264faff0a0d.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/18de0fa9-0304-497c-b4a8-34138a852fb3.html" target="element"> 06-04 Training material </a> </td>
											    <td> <a href="../elements/18de0fa9-0304-497c-b4a8-34138a852fb3.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2b17038f-2e3c-46d1-9b85-cc0d9562fdfa.html" target="element"> 07-04 Process measure </a> </td>
											    <td> <a href="../elements/2b17038f-2e3c-46d1-9b85-cc0d9562fdfa.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/13c24f42-0b94-4041-be97-e94324988881.html" target="element"> 08-00 Plan </a> </td>
											    <td> <a href="../elements/13c24f42-0b94-4041-be97-e94324988881.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d67a8f78-0cf0-4d30-b5e5-fa8ec77575e6.html" target="element"> 08-29 Improvement plan </a> </td>
											    <td> <a href="../elements/d67a8f78-0cf0-4d30-b5e5-fa8ec77575e6.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/34ae6686-328e-48cc-b572-dd082325e1fa.html" target="element"> 10-00 Process description </a> </td>
											    <td> <a href="../elements/34ae6686-328e-48cc-b572-dd082325e1fa.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element"> 13-04 Communication Record </a> </td>
											    <td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/30267d89-3ca1-4ce0-aaf0-02f864f52e90.html" target="element"> 13-16 Change Request </a> </td>
											    <td> <a href="../elements/30267d89-3ca1-4ce0-aaf0-02f864f52e90.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e6967389-b126-4ea1-8aef-15bc5bfcb5b7.html" target="element"> 15-05 Evaluation report </a> </td>
											    <td> <a href="../elements/e6967389-b126-4ea1-8aef-15bc5bfcb5b7.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5cfc2c93-21aa-4cad-ade1-adea2c4bfd7c.html" target="element"> 15-13 Assessment/audit report </a> </td>
											    <td> <a href="../elements/5cfc2c93-21aa-4cad-ade1-adea2c4bfd7c.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e173dafe-ae34-4b4d-981b-f1ee2d29edb3.html" target="element"> 15-16 Improvement opportunity </a> </td>
											    <td> <a href="../elements/e173dafe-ae34-4b4d-981b-f1ee2d29edb3.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/47648e6d-5ad2-4f44-ac79-9a6eccd09bd6.html" target="element"> 16-06 Process repository </a> </td>
											    <td> <a href="../elements/47648e6d-5ad2-4f44-ac79-9a6eccd09bd6.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/fb22dfd2-13f8-4992-82e3-54587ec73c46.html" target="element"> PIM.3.BP8 Communicate results of improvement </a> </td>
											    <td> <a href="../elements/fb22dfd2-13f8-4992-82e3-54587ec73c46.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/886d4d0f-c3f5-47a4-96fe-9b9f9780c8ee.html" target="element"> PIM.3.BP7 Confirm process improvement </a> </td>
											    <td> <a href="../elements/886d4d0f-c3f5-47a4-96fe-9b9f9780c8ee.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3cbb5f81-8a78-413d-8429-fcb7f82daea7.html" target="element"> PIM.3.BP9 Evaluate the results of the improvement project </a> </td>
											    <td> <a href="../elements/3cbb5f81-8a78-413d-8429-fcb7f82daea7.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9e8fe81d-3354-4df0-a0c4-b2f5d7908d97.html" target="element"> PIM.3.BP2 Identify issues </a> </td>
											    <td> <a href="../elements/9e8fe81d-3354-4df0-a0c4-b2f5d7908d97.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d4740c8e-f002-4601-ad12-cdd123043ac5.html" target="element"> PIM.3.BP5 Plan process changes </a> </td>
											    <td> <a href="../elements/d4740c8e-f002-4601-ad12-cdd123043ac5.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b3c5aa12-5214-4afe-a709-f2a6f2915533.html" target="element"> PIM.3.BP3 Establish process improvement goals </a> </td>
											    <td> <a href="../elements/b3c5aa12-5214-4afe-a709-f2a6f2915533.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6fa342e1-c67d-4997-93d8-3924049ebc38.html" target="element"> PIM.3.BP6 Implement process changes </a> </td>
											    <td> <a href="../elements/6fa342e1-c67d-4997-93d8-3924049ebc38.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5f6a6897-439f-4384-b04b-f675efba14b1.html" target="element"> PIM.3.BP4 Prioritize improvements </a> </td>
											    <td> <a href="../elements/5f6a6897-439f-4384-b04b-f675efba14b1.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d5a23884-1d75-4eae-af44-ffa60221c6d5.html" target="element"> PIM.3.BP1 Establish commitment </a> </td>
											    <td> <a href="../elements/d5a23884-1d75-4eae-af44-ffa60221c6d5.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../views/9e94f80f-8775-4044-8110-6a872c99ec05.html" target="view"> Overview - Process Reference Model </a> </td>
											    <td> <a href="../views/9e94f80f-8775-4044-8110-6a872c99ec05.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/e21c7b4f-1f0d-4b2a-9d14-c16dbe0b7d33.html" target="view"> Overview - PIM.3 Process Improvement </a> </td>
											    <td> <a href="../views/e21c7b4f-1f0d-4b2a-9d14-c16dbe0b7d33.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/facb9627-4d30-4eed-a689-d5266ac0588b.html" target="element">  </a> </td>
																		<td> <a href="../elements/facb9627-4d30-4eed-a689-d5266ac0588b.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/724d43df-d1d0-4ff4-a951-73aaf3082b05.html" target="element"> 05-00 Goals </a> </td>
																		<td> <a href="../elements/e43768fc-1ce3-4e5d-bada-e916fd9b9eba.html" target="element"> PIM.3.O.4 Improvement goals are identified and prioritized, and consequentchanges to the process are defined, planned and implemented </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/14bb27fc-bb7c-49de-beda-716fedfd147f.html" target="element">  </a> </td>
																		<td> <a href="../elements/14bb27fc-bb7c-49de-beda-716fedfd147f.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/d1cb0629-11ee-483a-b513-6264faff0a0d.html" target="element"> 02-01 Commitment/agreement </a> </td>
																		<td> <a href="../elements/984701c4-80a4-4a78-91b4-4f71d76e84bc.html" target="element"> PIM.3.O.1 Commitment is established to provide resources to sustainimprovement actions </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/3c4787d0-4097-441d-a515-f9e19e3c56b9.html" target="element">  </a> </td>
																		<td> <a href="../elements/3c4787d0-4097-441d-a515-f9e19e3c56b9.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/18de0fa9-0304-497c-b4a8-34138a852fb3.html" target="element"> 06-04 Training material </a> </td>
																		<td> <a href="../elements/e43768fc-1ce3-4e5d-bada-e916fd9b9eba.html" target="element"> PIM.3.O.4 Improvement goals are identified and prioritized, and consequentchanges to the process are defined, planned and implemented </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c15b4364-f45c-4b99-aece-b884d6c1102e.html" target="element">  </a> </td>
																		<td> <a href="../elements/c15b4364-f45c-4b99-aece-b884d6c1102e.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/18de0fa9-0304-497c-b4a8-34138a852fb3.html" target="element"> 06-04 Training material </a> </td>
																		<td> <a href="../elements/07e11865-f9f1-4a55-8c4d-fc1e326799bb.html" target="element"> PIM.3.O.6 Knowledge gained from the improvement is communicated within theorganization </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/a8ac003d-258b-44ec-9785-e00dad75855d.html" target="element">  </a> </td>
																		<td> <a href="../elements/a8ac003d-258b-44ec-9785-e00dad75855d.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/2b17038f-2e3c-46d1-9b85-cc0d9562fdfa.html" target="element"> 07-04 Process measure </a> </td>
																		<td> <a href="../elements/07e11865-f9f1-4a55-8c4d-fc1e326799bb.html" target="element"> PIM.3.O.6 Knowledge gained from the improvement is communicated within theorganization </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/fb598404-ffa7-4ac9-8cf2-266dfd3b255a.html" target="element">  </a> </td>
																		<td> <a href="../elements/fb598404-ffa7-4ac9-8cf2-266dfd3b255a.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/13c24f42-0b94-4041-be97-e94324988881.html" target="element"> 08-00 Plan </a> </td>
																		<td> <a href="../elements/6c4ff084-e37e-4e2c-bc1e-66b7c9844ee4.html" target="element"> PIM.3.O.2 Issues arising from the organization's internal/external environmentare identified as improvement opportunities and justified as reasonsfor change </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5c1ae55c-e794-4f89-bbe2-106e4bb4907d.html" target="element">  </a> </td>
																		<td> <a href="../elements/5c1ae55c-e794-4f89-bbe2-106e4bb4907d.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/13c24f42-0b94-4041-be97-e94324988881.html" target="element"> 08-00 Plan </a> </td>
																		<td> <a href="../elements/e43768fc-1ce3-4e5d-bada-e916fd9b9eba.html" target="element"> PIM.3.O.4 Improvement goals are identified and prioritized, and consequentchanges to the process are defined, planned and implemented </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ed1c6104-dee2-40be-b0bc-e78187e02ca1.html" target="element">  </a> </td>
																		<td> <a href="../elements/ed1c6104-dee2-40be-b0bc-e78187e02ca1.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/13c24f42-0b94-4041-be97-e94324988881.html" target="element"> 08-00 Plan </a> </td>
																		<td> <a href="../elements/91e03044-3123-43d1-b32c-5252787c94f6.html" target="element"> PIM.3.O.7 The improvements made are evaluated and consideration given forusing the solution elsewhere within the organization </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/88addf4c-c145-4041-a806-91b3a5da3a7a.html" target="element">  </a> </td>
																		<td> <a href="../elements/88addf4c-c145-4041-a806-91b3a5da3a7a.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/d67a8f78-0cf0-4d30-b5e5-fa8ec77575e6.html" target="element"> 08-29 Improvement plan </a> </td>
																		<td> <a href="../elements/e43768fc-1ce3-4e5d-bada-e916fd9b9eba.html" target="element"> PIM.3.O.4 Improvement goals are identified and prioritized, and consequentchanges to the process are defined, planned and implemented </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/cee85b6a-2d61-4aa1-a339-5c94695c8fa3.html" target="element">  </a> </td>
																		<td> <a href="../elements/cee85b6a-2d61-4aa1-a339-5c94695c8fa3.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/34ae6686-328e-48cc-b572-dd082325e1fa.html" target="element"> 10-00 Process description </a> </td>
																		<td> <a href="../elements/e43768fc-1ce3-4e5d-bada-e916fd9b9eba.html" target="element"> PIM.3.O.4 Improvement goals are identified and prioritized, and consequentchanges to the process are defined, planned and implemented </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/0b5195a7-14cd-4875-bad3-3274ed3e3a5e.html" target="element">  </a> </td>
																		<td> <a href="../elements/0b5195a7-14cd-4875-bad3-3274ed3e3a5e.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element"> 13-04 Communication Record </a> </td>
																		<td> <a href="../elements/07e11865-f9f1-4a55-8c4d-fc1e326799bb.html" target="element"> PIM.3.O.6 Knowledge gained from the improvement is communicated within theorganization </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/9e04c02a-dc56-44d2-a91f-86a230046df6.html" target="element">  </a> </td>
																		<td> <a href="../elements/9e04c02a-dc56-44d2-a91f-86a230046df6.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/30267d89-3ca1-4ce0-aaf0-02f864f52e90.html" target="element"> 13-16 Change Request </a> </td>
																		<td> <a href="../elements/6c4ff084-e37e-4e2c-bc1e-66b7c9844ee4.html" target="element"> PIM.3.O.2 Issues arising from the organization's internal/external environmentare identified as improvement opportunities and justified as reasonsfor change </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/8c96dec1-fa16-4a0e-a054-16a2a8958e8d.html" target="element">  </a> </td>
																		<td> <a href="../elements/8c96dec1-fa16-4a0e-a054-16a2a8958e8d.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/e6967389-b126-4ea1-8aef-15bc5bfcb5b7.html" target="element"> 15-05 Evaluation report </a> </td>
																		<td> <a href="../elements/6c4ff084-e37e-4e2c-bc1e-66b7c9844ee4.html" target="element"> PIM.3.O.2 Issues arising from the organization's internal/external environmentare identified as improvement opportunities and justified as reasonsfor change </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1c8087d1-f0da-44ee-8822-8a7f1db5259c.html" target="element">  </a> </td>
																		<td> <a href="../elements/1c8087d1-f0da-44ee-8822-8a7f1db5259c.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/e6967389-b126-4ea1-8aef-15bc5bfcb5b7.html" target="element"> 15-05 Evaluation report </a> </td>
																		<td> <a href="../elements/b147cb51-c281-40d6-8bec-91925f8e318c.html" target="element"> PIM.3.O.3 Analysis of the current status of the existing process is performed,focusing on those processes from which improvement stimuli arise </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/49f406e8-f29a-4114-b8f1-5c1c95d1a636.html" target="element">  </a> </td>
																		<td> <a href="../elements/49f406e8-f29a-4114-b8f1-5c1c95d1a636.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/e6967389-b126-4ea1-8aef-15bc5bfcb5b7.html" target="element"> 15-05 Evaluation report </a> </td>
																		<td> <a href="../elements/e43768fc-1ce3-4e5d-bada-e916fd9b9eba.html" target="element"> PIM.3.O.4 Improvement goals are identified and prioritized, and consequentchanges to the process are defined, planned and implemented </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/47cbd475-fe70-43b0-8731-865e0e120ea4.html" target="element">  </a> </td>
																		<td> <a href="../elements/47cbd475-fe70-43b0-8731-865e0e120ea4.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/e6967389-b126-4ea1-8aef-15bc5bfcb5b7.html" target="element"> 15-05 Evaluation report </a> </td>
																		<td> <a href="../elements/25abfcac-16c3-400c-ab6a-a56901758039.html" target="element"> PIM.3.O.5 The effects of process implementation are monitored, measured andconfirmed against the defined improvement goals </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0b4b5af1-1898-45c2-a890-df686d327b88.html" target="element">  </a> </td>
																		<td> <a href="../elements/0b4b5af1-1898-45c2-a890-df686d327b88.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/e6967389-b126-4ea1-8aef-15bc5bfcb5b7.html" target="element"> 15-05 Evaluation report </a> </td>
																		<td> <a href="../elements/91e03044-3123-43d1-b32c-5252787c94f6.html" target="element"> PIM.3.O.7 The improvements made are evaluated and consideration given forusing the solution elsewhere within the organization </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/027a8f64-fc4d-4812-9c08-566cb30edd31.html" target="element">  </a> </td>
																		<td> <a href="../elements/027a8f64-fc4d-4812-9c08-566cb30edd31.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/5cfc2c93-21aa-4cad-ade1-adea2c4bfd7c.html" target="element"> 15-13 Assessment/audit report </a> </td>
																		<td> <a href="../elements/b147cb51-c281-40d6-8bec-91925f8e318c.html" target="element"> PIM.3.O.3 Analysis of the current status of the existing process is performed,focusing on those processes from which improvement stimuli arise </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ba03f9c2-1c76-49bf-9547-3fc9d68e52a5.html" target="element">  </a> </td>
																		<td> <a href="../elements/ba03f9c2-1c76-49bf-9547-3fc9d68e52a5.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/5cfc2c93-21aa-4cad-ade1-adea2c4bfd7c.html" target="element"> 15-13 Assessment/audit report </a> </td>
																		<td> <a href="../elements/25abfcac-16c3-400c-ab6a-a56901758039.html" target="element"> PIM.3.O.5 The effects of process implementation are monitored, measured andconfirmed against the defined improvement goals </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/78c3eb4b-218c-407c-8dfa-7aca0d719d34.html" target="element">  </a> </td>
																		<td> <a href="../elements/78c3eb4b-218c-407c-8dfa-7aca0d719d34.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/e173dafe-ae34-4b4d-981b-f1ee2d29edb3.html" target="element"> 15-16 Improvement opportunity </a> </td>
																		<td> <a href="../elements/6c4ff084-e37e-4e2c-bc1e-66b7c9844ee4.html" target="element"> PIM.3.O.2 Issues arising from the organization's internal/external environmentare identified as improvement opportunities and justified as reasonsfor change </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d0b0d81b-ba4d-4b55-91f1-3c34c92f5b60.html" target="element">  </a> </td>
																		<td> <a href="../elements/d0b0d81b-ba4d-4b55-91f1-3c34c92f5b60.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/e173dafe-ae34-4b4d-981b-f1ee2d29edb3.html" target="element"> 15-16 Improvement opportunity </a> </td>
																		<td> <a href="../elements/b147cb51-c281-40d6-8bec-91925f8e318c.html" target="element"> PIM.3.O.3 Analysis of the current status of the existing process is performed,focusing on those processes from which improvement stimuli arise </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/eb25ea40-1ea5-4b25-a6e4-7a60e57195db.html" target="element">  </a> </td>
																		<td> <a href="../elements/eb25ea40-1ea5-4b25-a6e4-7a60e57195db.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/e173dafe-ae34-4b4d-981b-f1ee2d29edb3.html" target="element"> 15-16 Improvement opportunity </a> </td>
																		<td> <a href="../elements/e43768fc-1ce3-4e5d-bada-e916fd9b9eba.html" target="element"> PIM.3.O.4 Improvement goals are identified and prioritized, and consequentchanges to the process are defined, planned and implemented </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4ec6fe96-cfb5-497b-b6a9-861c0ae8a166.html" target="element">  </a> </td>
																		<td> <a href="../elements/4ec6fe96-cfb5-497b-b6a9-861c0ae8a166.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/e173dafe-ae34-4b4d-981b-f1ee2d29edb3.html" target="element"> 15-16 Improvement opportunity </a> </td>
																		<td> <a href="../elements/91e03044-3123-43d1-b32c-5252787c94f6.html" target="element"> PIM.3.O.7 The improvements made are evaluated and consideration given forusing the solution elsewhere within the organization </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/17dae1aa-b534-40d1-a617-66a0682b0dc9.html" target="element">  </a> </td>
																		<td> <a href="../elements/17dae1aa-b534-40d1-a617-66a0682b0dc9.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/47648e6d-5ad2-4f44-ac79-9a6eccd09bd6.html" target="element"> 16-06 Process repository </a> </td>
																		<td> <a href="../elements/e43768fc-1ce3-4e5d-bada-e916fd9b9eba.html" target="element"> PIM.3.O.4 Improvement goals are identified and prioritized, and consequentchanges to the process are defined, planned and implemented </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/3865f8f1-e484-4fd8-a75c-91ba94e3bfe5.html" target="element">  </a> </td>
																		<td> <a href="../elements/3865f8f1-e484-4fd8-a75c-91ba94e3bfe5.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/fb22dfd2-13f8-4992-82e3-54587ec73c46.html" target="element"> PIM.3.BP8 Communicate results of improvement </a> </td>
																		<td> <a href="../elements/07e11865-f9f1-4a55-8c4d-fc1e326799bb.html" target="element"> PIM.3.O.6 Knowledge gained from the improvement is communicated within theorganization </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/7ba134d8-05ee-4808-9f32-d36626bf3f47.html" target="element">  </a> </td>
																		<td> <a href="../elements/7ba134d8-05ee-4808-9f32-d36626bf3f47.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/886d4d0f-c3f5-47a4-96fe-9b9f9780c8ee.html" target="element"> PIM.3.BP7 Confirm process improvement </a> </td>
																		<td> <a href="../elements/25abfcac-16c3-400c-ab6a-a56901758039.html" target="element"> PIM.3.O.5 The effects of process implementation are monitored, measured andconfirmed against the defined improvement goals </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/57540233-cbeb-4be4-93a4-866c2bf7dced.html" target="element">  </a> </td>
																		<td> <a href="../elements/57540233-cbeb-4be4-93a4-866c2bf7dced.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/3cbb5f81-8a78-413d-8429-fcb7f82daea7.html" target="element"> PIM.3.BP9 Evaluate the results of the improvement project </a> </td>
																		<td> <a href="../elements/91e03044-3123-43d1-b32c-5252787c94f6.html" target="element"> PIM.3.O.7 The improvements made are evaluated and consideration given forusing the solution elsewhere within the organization </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/e642bac7-7b0e-46f6-982b-3309eeb3f31d.html" target="element">  </a> </td>
																		<td> <a href="../elements/e642bac7-7b0e-46f6-982b-3309eeb3f31d.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/9e8fe81d-3354-4df0-a0c4-b2f5d7908d97.html" target="element"> PIM.3.BP2 Identify issues </a> </td>
																		<td> <a href="../elements/6c4ff084-e37e-4e2c-bc1e-66b7c9844ee4.html" target="element"> PIM.3.O.2 Issues arising from the organization's internal/external environmentare identified as improvement opportunities and justified as reasonsfor change </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/49092727-072f-4293-8770-81d044e46ef4.html" target="element">  </a> </td>
																		<td> <a href="../elements/49092727-072f-4293-8770-81d044e46ef4.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/9e8fe81d-3354-4df0-a0c4-b2f5d7908d97.html" target="element"> PIM.3.BP2 Identify issues </a> </td>
																		<td> <a href="../elements/b147cb51-c281-40d6-8bec-91925f8e318c.html" target="element"> PIM.3.O.3 Analysis of the current status of the existing process is performed,focusing on those processes from which improvement stimuli arise </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/8caf694e-ca9c-45a8-a1a4-27e0ab0e28ac.html" target="element">  </a> </td>
																		<td> <a href="../elements/8caf694e-ca9c-45a8-a1a4-27e0ab0e28ac.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/d4740c8e-f002-4601-ad12-cdd123043ac5.html" target="element"> PIM.3.BP5 Plan process changes </a> </td>
																		<td> <a href="../elements/e43768fc-1ce3-4e5d-bada-e916fd9b9eba.html" target="element"> PIM.3.O.4 Improvement goals are identified and prioritized, and consequentchanges to the process are defined, planned and implemented </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/cc2cc59c-bcf7-4c6f-b8b7-5bea5dcd7700.html" target="element">  </a> </td>
																		<td> <a href="../elements/cc2cc59c-bcf7-4c6f-b8b7-5bea5dcd7700.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/b3c5aa12-5214-4afe-a709-f2a6f2915533.html" target="element"> PIM.3.BP3 Establish process improvement goals </a> </td>
																		<td> <a href="../elements/b147cb51-c281-40d6-8bec-91925f8e318c.html" target="element"> PIM.3.O.3 Analysis of the current status of the existing process is performed,focusing on those processes from which improvement stimuli arise </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/45037afa-9355-4daa-a2ec-b486454561ab.html" target="element">  </a> </td>
																		<td> <a href="../elements/45037afa-9355-4daa-a2ec-b486454561ab.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/6fa342e1-c67d-4997-93d8-3924049ebc38.html" target="element"> PIM.3.BP6 Implement process changes </a> </td>
																		<td> <a href="../elements/e43768fc-1ce3-4e5d-bada-e916fd9b9eba.html" target="element"> PIM.3.O.4 Improvement goals are identified and prioritized, and consequentchanges to the process are defined, planned and implemented </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/a1338038-05d8-4fb0-978c-f60d205343bd.html" target="element">  </a> </td>
																		<td> <a href="../elements/a1338038-05d8-4fb0-978c-f60d205343bd.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/5f6a6897-439f-4384-b04b-f675efba14b1.html" target="element"> PIM.3.BP4 Prioritize improvements </a> </td>
																		<td> <a href="../elements/e43768fc-1ce3-4e5d-bada-e916fd9b9eba.html" target="element"> PIM.3.O.4 Improvement goals are identified and prioritized, and consequentchanges to the process are defined, planned and implemented </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/84a7cdc0-326e-4b2e-8a6e-e08c77c433f2.html" target="element">  </a> </td>
																		<td> <a href="../elements/84a7cdc0-326e-4b2e-8a6e-e08c77c433f2.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/d5a23884-1d75-4eae-af44-ffa60221c6d5.html" target="element"> PIM.3.BP1 Establish commitment </a> </td>
																		<td> <a href="../elements/984701c4-80a4-4a78-91b4-4f71d76e84bc.html" target="element"> PIM.3.O.1 Commitment is established to provide resources to sustainimprovement actions </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>