<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>O. vs. BP. vs. WP. - SUP.9 Problem Resolution Management</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>O. vs. BP. vs. WP. - SUP.9 Problem Resolution Management</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/c09979c5-2e24-4236-b420-5ce0c9dc8255.png" alt="O. vs. BP. vs. WP. - SUP.9 Problem Resolution Management" usemap="#c09979c5-2e24-4236-b420-5ce0c9dc8255map"/>
			   <map name="c09979c5-2e24-4236-b420-5ce0c9dc8255map">
				  		<area shape="rect" coords="850,658,1030,713" href="../views/bf6a6f53-83ba-4bb6-b60c-d48e8f7fe211.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="850,719,1030,774" href="../views/9e94f80f-8775-4044-8110-6a872c99ec05.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="1234,562,1439,617" href="../elements/46b13878-fc79-4a5b-b3e9-c323eedc6634.html"  target="element">
				  		<area shape="rect" coords="934,562,1139,617" href="../elements/e6967389-b126-4ea1-8aef-15bc5bfcb5b7.html"  target="element">
				  		<area shape="rect" coords="622,562,827,617" href="../elements/46ef0390-c285-4923-8ce6-e9680248ce42.html"  target="element">
				  		<area shape="rect" coords="322,562,527,617" href="../elements/1ff02068-2c2c-4def-8f23-59f53e4164d9.html"  target="element">
				  		<area shape="rect" coords="10,562,215,617" href="../elements/c3744b81-5056-4487-b1f3-8972469a3732.html"  target="element">
				  		<area shape="rect" coords="1546,10,1727,65" href="../elements/e0b73a25-8541-482c-829a-d3eff26dd91f.html"  target="element">
				  		<area shape="rect" coords="1354,10,1535,65" href="../elements/dee094a5-5c21-4e37-ab37-029c068842d1.html"  target="element">
				  		<area shape="rect" coords="1162,10,1343,65" href="../elements/2648f96e-cea2-40fd-99b9-b9c4b7777839.html"  target="element">
				  		<area shape="rect" coords="970,10,1151,65" href="../elements/06260487-7454-458a-862e-c2be2f5fb172.html"  target="element">
				  		<area shape="rect" coords="10,10,191,65" href="../elements/4a754dbc-408f-4435-88ac-38288077e038.html"  target="element">
				  		<area shape="rect" coords="586,10,767,65" href="../elements/ffc8f48a-49e9-42c0-a134-ea64a7e3d176.html"  target="element">
				  		<area shape="rect" coords="778,10,959,65" href="../elements/83057cc2-ff64-4243-9e98-01428fbc768b.html"  target="element">
				  		<area shape="rect" coords="202,10,383,65" href="../elements/e39c4242-5861-48b7-a61b-a239583c0f1f.html"  target="element">
				  		<area shape="rect" coords="394,10,575,65" href="../elements/9f2bb11a-6817-497b-9b5c-98fe5c6a7d92.html"  target="element">
				  		<area shape="rect" coords="10,214,1727,248" href="../elements/41689af1-cf15-48ac-b18b-fcf81b9650eb.html"  target="element">
				  		<area shape="rect" coords="10,262,1727,296" href="../elements/0b65d6eb-50a5-4b56-84b9-6d172dd71a61.html"  target="element">
				  		<area shape="rect" coords="10,310,1727,344" href="../elements/537f50e5-f9b1-43af-8149-d8361665ed4e.html"  target="element">
				  		<area shape="rect" coords="10,358,1727,392" href="../elements/31c5b6c8-2d7e-4256-a909-94de51a990fe.html"  target="element">
				  		<area shape="rect" coords="10,406,1727,440" href="../elements/0d73f0fe-183d-49c6-b29a-c541bdcc84dc.html"  target="element">
				  		<area shape="rect" coords="10,166,1727,200" href="../elements/f23f152b-a6c8-40f2-8f50-16ff529b1f91.html"  target="element">
				          <area shape="rect" coords="10,658,839,774" href="../objects/b0bd76ac-c1c6-4f70-b63f-900bce55cd39.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">This view answers the following questions:
- If I implement and deploy the Base Practice (BP) ***, how can I verify if I did it properly? What outcomes shall be achieved?
- If I implement and demploy the Outcome Work Product ***, how can I verify if I did it properly? What outcomes shall be achieved?

Scope of this view - Outcomes, Base Practices and their relations for ASPICE process SUP.9 Problem Resolution Management

Latest version and docs can be found here: https://github.com/alef1986/ASPICE-Archi</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/b0bd76ac-c1c6-4f70-b63f-900bce55cd39.html" target="element">  </a> </td>
									           <td> <a href="../objects/b0bd76ac-c1c6-4f70-b63f-900bce55cd39.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/f23f152b-a6c8-40f2-8f50-16ff529b1f91.html" target="element"> SUP.9.O.1 A problem resolution management strategy is developed </a> </td>
											    <td> <a href="../elements/f23f152b-a6c8-40f2-8f50-16ff529b1f91.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0d73f0fe-183d-49c6-b29a-c541bdcc84dc.html" target="element"> SUP.9.O.6 The status of problems and their trend are known </a> </td>
											    <td> <a href="../elements/0d73f0fe-183d-49c6-b29a-c541bdcc84dc.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/31c5b6c8-2d7e-4256-a909-94de51a990fe.html" target="element"> SUP.9.O.5 Problems are tracked to closure </a> </td>
											    <td> <a href="../elements/31c5b6c8-2d7e-4256-a909-94de51a990fe.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/537f50e5-f9b1-43af-8149-d8361665ed4e.html" target="element"> SUP.9.O.4 Problem resolution is initiated </a> </td>
											    <td> <a href="../elements/537f50e5-f9b1-43af-8149-d8361665ed4e.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0b65d6eb-50a5-4b56-84b9-6d172dd71a61.html" target="element"> SUP.9.O.3 Problems are analyzed and assessed to identify an appropriate solution </a> </td>
											    <td> <a href="../elements/0b65d6eb-50a5-4b56-84b9-6d172dd71a61.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/41689af1-cf15-48ac-b18b-fcf81b9650eb.html" target="element"> SUP.9.O.2 Problems are recorded, uniquely identified and classified </a> </td>
											    <td> <a href="../elements/41689af1-cf15-48ac-b18b-fcf81b9650eb.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9f2bb11a-6817-497b-9b5c-98fe5c6a7d92.html" target="element"> SUP.9.BP3 Record the status of problems </a> </td>
											    <td> <a href="../elements/9f2bb11a-6817-497b-9b5c-98fe5c6a7d92.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e39c4242-5861-48b7-a61b-a239583c0f1f.html" target="element"> SUP.9.BP2 Identify and record the problem </a> </td>
											    <td> <a href="../elements/e39c4242-5861-48b7-a61b-a239583c0f1f.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/83057cc2-ff64-4243-9e98-01428fbc768b.html" target="element"> SUP.9.BP5 Authorize urgent resolution action </a> </td>
											    <td> <a href="../elements/83057cc2-ff64-4243-9e98-01428fbc768b.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ffc8f48a-49e9-42c0-a134-ea64a7e3d176.html" target="element"> SUP.9.BP4 Diagnose the cause and determine the impact of the problem </a> </td>
											    <td> <a href="../elements/ffc8f48a-49e9-42c0-a134-ea64a7e3d176.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4a754dbc-408f-4435-88ac-38288077e038.html" target="element"> SUP.9.BP1 Develop a problem resolution management strategy </a> </td>
											    <td> <a href="../elements/4a754dbc-408f-4435-88ac-38288077e038.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/06260487-7454-458a-862e-c2be2f5fb172.html" target="element"> SUP.9.BP6 Raise alert notifications </a> </td>
											    <td> <a href="../elements/06260487-7454-458a-862e-c2be2f5fb172.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2648f96e-cea2-40fd-99b9-b9c4b7777839.html" target="element"> SUP.9.BP7 Initiate problem resolution </a> </td>
											    <td> <a href="../elements/2648f96e-cea2-40fd-99b9-b9c4b7777839.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/dee094a5-5c21-4e37-ab37-029c068842d1.html" target="element"> SUP.9.BP8 Track problems to closure </a> </td>
											    <td> <a href="../elements/dee094a5-5c21-4e37-ab37-029c068842d1.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e0b73a25-8541-482c-829a-d3eff26dd91f.html" target="element"> SUP.9.BP9 Analyze problem trends </a> </td>
											    <td> <a href="../elements/e0b73a25-8541-482c-829a-d3eff26dd91f.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c3744b81-5056-4487-b1f3-8972469a3732.html" target="element"> 08-27 Problem management plan </a> </td>
											    <td> <a href="../elements/c3744b81-5056-4487-b1f3-8972469a3732.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1ff02068-2c2c-4def-8f23-59f53e4164d9.html" target="element"> 13-07 Problem record  </a> </td>
											    <td> <a href="../elements/1ff02068-2c2c-4def-8f23-59f53e4164d9.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/46ef0390-c285-4923-8ce6-e9680248ce42.html" target="element"> 15-01 Analysis report </a> </td>
											    <td> <a href="../elements/46ef0390-c285-4923-8ce6-e9680248ce42.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e6967389-b126-4ea1-8aef-15bc5bfcb5b7.html" target="element"> 15-05 Evaluation report </a> </td>
											    <td> <a href="../elements/e6967389-b126-4ea1-8aef-15bc5bfcb5b7.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/46b13878-fc79-4a5b-b3e9-c323eedc6634.html" target="element"> 15-12 Problem status report </a> </td>
											    <td> <a href="../elements/46b13878-fc79-4a5b-b3e9-c323eedc6634.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../views/9e94f80f-8775-4044-8110-6a872c99ec05.html" target="view"> Overview - Process Reference Model </a> </td>
											    <td> <a href="../views/9e94f80f-8775-4044-8110-6a872c99ec05.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/bf6a6f53-83ba-4bb6-b60c-d48e8f7fe211.html" target="view"> Overview - SUP.9 Problem Resolution Management </a> </td>
											    <td> <a href="../views/bf6a6f53-83ba-4bb6-b60c-d48e8f7fe211.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/afc9b27a-edf4-4200-8fbf-a9c701968d92.html" target="element">  </a> </td>
																		<td> <a href="../elements/afc9b27a-edf4-4200-8fbf-a9c701968d92.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/9f2bb11a-6817-497b-9b5c-98fe5c6a7d92.html" target="element"> SUP.9.BP3 Record the status of problems </a> </td>
																		<td> <a href="../elements/0d73f0fe-183d-49c6-b29a-c541bdcc84dc.html" target="element"> SUP.9.O.6 The status of problems and their trend are known </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/cb7eb7f4-4a43-423a-b4a6-dc657bfd2211.html" target="element">  </a> </td>
																		<td> <a href="../elements/cb7eb7f4-4a43-423a-b4a6-dc657bfd2211.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/e39c4242-5861-48b7-a61b-a239583c0f1f.html" target="element"> SUP.9.BP2 Identify and record the problem </a> </td>
																		<td> <a href="../elements/41689af1-cf15-48ac-b18b-fcf81b9650eb.html" target="element"> SUP.9.O.2 Problems are recorded, uniquely identified and classified </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/23119219-b236-47f4-b6a5-4b7f4d50d83f.html" target="element">  </a> </td>
																		<td> <a href="../elements/23119219-b236-47f4-b6a5-4b7f4d50d83f.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/83057cc2-ff64-4243-9e98-01428fbc768b.html" target="element"> SUP.9.BP5 Authorize urgent resolution action </a> </td>
																		<td> <a href="../elements/537f50e5-f9b1-43af-8149-d8361665ed4e.html" target="element"> SUP.9.O.4 Problem resolution is initiated </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/7a3842f8-68dd-4abb-a406-1e1dad2c0367.html" target="element">  </a> </td>
																		<td> <a href="../elements/7a3842f8-68dd-4abb-a406-1e1dad2c0367.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/ffc8f48a-49e9-42c0-a134-ea64a7e3d176.html" target="element"> SUP.9.BP4 Diagnose the cause and determine the impact of the problem </a> </td>
																		<td> <a href="../elements/41689af1-cf15-48ac-b18b-fcf81b9650eb.html" target="element"> SUP.9.O.2 Problems are recorded, uniquely identified and classified </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f1274c69-f9ee-4d65-9809-654ee5ebaf23.html" target="element">  </a> </td>
																		<td> <a href="../elements/f1274c69-f9ee-4d65-9809-654ee5ebaf23.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/ffc8f48a-49e9-42c0-a134-ea64a7e3d176.html" target="element"> SUP.9.BP4 Diagnose the cause and determine the impact of the problem </a> </td>
																		<td> <a href="../elements/0b65d6eb-50a5-4b56-84b9-6d172dd71a61.html" target="element"> SUP.9.O.3 Problems are analyzed and assessed to identify an appropriate solution </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/dab2bf4b-b7fd-43e6-b92c-7d3cdf81cdd6.html" target="element">  </a> </td>
																		<td> <a href="../elements/dab2bf4b-b7fd-43e6-b92c-7d3cdf81cdd6.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/4a754dbc-408f-4435-88ac-38288077e038.html" target="element"> SUP.9.BP1 Develop a problem resolution management strategy </a> </td>
																		<td> <a href="../elements/f23f152b-a6c8-40f2-8f50-16ff529b1f91.html" target="element"> SUP.9.O.1 A problem resolution management strategy is developed </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/de0f27d8-0879-4c8a-8760-b446a29349fd.html" target="element">  </a> </td>
																		<td> <a href="../elements/de0f27d8-0879-4c8a-8760-b446a29349fd.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/06260487-7454-458a-862e-c2be2f5fb172.html" target="element"> SUP.9.BP6 Raise alert notifications </a> </td>
																		<td> <a href="../elements/537f50e5-f9b1-43af-8149-d8361665ed4e.html" target="element"> SUP.9.O.4 Problem resolution is initiated </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/51af00d8-e96f-4a14-95be-8364f0d91072.html" target="element">  </a> </td>
																		<td> <a href="../elements/51af00d8-e96f-4a14-95be-8364f0d91072.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/2648f96e-cea2-40fd-99b9-b9c4b7777839.html" target="element"> SUP.9.BP7 Initiate problem resolution </a> </td>
																		<td> <a href="../elements/537f50e5-f9b1-43af-8149-d8361665ed4e.html" target="element"> SUP.9.O.4 Problem resolution is initiated </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/84cdcea9-435c-44fb-b90f-d534e1ec5030.html" target="element">  </a> </td>
																		<td> <a href="../elements/84cdcea9-435c-44fb-b90f-d534e1ec5030.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/dee094a5-5c21-4e37-ab37-029c068842d1.html" target="element"> SUP.9.BP8 Track problems to closure </a> </td>
																		<td> <a href="../elements/31c5b6c8-2d7e-4256-a909-94de51a990fe.html" target="element"> SUP.9.O.5 Problems are tracked to closure </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/39940447-5876-43b0-abbd-ee315f7d1f9f.html" target="element">  </a> </td>
																		<td> <a href="../elements/39940447-5876-43b0-abbd-ee315f7d1f9f.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/dee094a5-5c21-4e37-ab37-029c068842d1.html" target="element"> SUP.9.BP8 Track problems to closure </a> </td>
																		<td> <a href="../elements/0d73f0fe-183d-49c6-b29a-c541bdcc84dc.html" target="element"> SUP.9.O.6 The status of problems and their trend are known </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/87812b07-9e31-456b-bbf6-30bc62b2b412.html" target="element">  </a> </td>
																		<td> <a href="../elements/87812b07-9e31-456b-bbf6-30bc62b2b412.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/e0b73a25-8541-482c-829a-d3eff26dd91f.html" target="element"> SUP.9.BP9 Analyze problem trends </a> </td>
																		<td> <a href="../elements/0d73f0fe-183d-49c6-b29a-c541bdcc84dc.html" target="element"> SUP.9.O.6 The status of problems and their trend are known </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/254f6ccc-082d-46a2-bd14-05b6cf4f88a0.html" target="element">  </a> </td>
																		<td> <a href="../elements/254f6ccc-082d-46a2-bd14-05b6cf4f88a0.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/c3744b81-5056-4487-b1f3-8972469a3732.html" target="element"> 08-27 Problem management plan </a> </td>
																		<td> <a href="../elements/f23f152b-a6c8-40f2-8f50-16ff529b1f91.html" target="element"> SUP.9.O.1 A problem resolution management strategy is developed </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/3c67780d-41dc-4c06-b801-503fdb59bff2.html" target="element">  </a> </td>
																		<td> <a href="../elements/3c67780d-41dc-4c06-b801-503fdb59bff2.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/1ff02068-2c2c-4def-8f23-59f53e4164d9.html" target="element"> 13-07 Problem record  </a> </td>
																		<td> <a href="../elements/41689af1-cf15-48ac-b18b-fcf81b9650eb.html" target="element"> SUP.9.O.2 Problems are recorded, uniquely identified and classified </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/57beff26-b25a-4263-ba33-7521515e794a.html" target="element">  </a> </td>
																		<td> <a href="../elements/57beff26-b25a-4263-ba33-7521515e794a.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/1ff02068-2c2c-4def-8f23-59f53e4164d9.html" target="element"> 13-07 Problem record  </a> </td>
																		<td> <a href="../elements/0b65d6eb-50a5-4b56-84b9-6d172dd71a61.html" target="element"> SUP.9.O.3 Problems are analyzed and assessed to identify an appropriate solution </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a5c40334-45af-4aa0-961c-8bf696108038.html" target="element">  </a> </td>
																		<td> <a href="../elements/a5c40334-45af-4aa0-961c-8bf696108038.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/1ff02068-2c2c-4def-8f23-59f53e4164d9.html" target="element"> 13-07 Problem record  </a> </td>
																		<td> <a href="../elements/537f50e5-f9b1-43af-8149-d8361665ed4e.html" target="element"> SUP.9.O.4 Problem resolution is initiated </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d4126477-5ee4-45fb-a4aa-f611d51e2801.html" target="element">  </a> </td>
																		<td> <a href="../elements/d4126477-5ee4-45fb-a4aa-f611d51e2801.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/1ff02068-2c2c-4def-8f23-59f53e4164d9.html" target="element"> 13-07 Problem record  </a> </td>
																		<td> <a href="../elements/31c5b6c8-2d7e-4256-a909-94de51a990fe.html" target="element"> SUP.9.O.5 Problems are tracked to closure </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/8abd9af8-07f3-4639-b39a-0ed7534ec156.html" target="element">  </a> </td>
																		<td> <a href="../elements/8abd9af8-07f3-4639-b39a-0ed7534ec156.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/46ef0390-c285-4923-8ce6-e9680248ce42.html" target="element"> 15-01 Analysis report </a> </td>
																		<td> <a href="../elements/0b65d6eb-50a5-4b56-84b9-6d172dd71a61.html" target="element"> SUP.9.O.3 Problems are analyzed and assessed to identify an appropriate solution </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/f60db691-de75-49f0-8348-9fe4d5ac0173.html" target="element">  </a> </td>
																		<td> <a href="../elements/f60db691-de75-49f0-8348-9fe4d5ac0173.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/e6967389-b126-4ea1-8aef-15bc5bfcb5b7.html" target="element"> 15-05 Evaluation report </a> </td>
																		<td> <a href="../elements/0b65d6eb-50a5-4b56-84b9-6d172dd71a61.html" target="element"> SUP.9.O.3 Problems are analyzed and assessed to identify an appropriate solution </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/c5e16904-fe4d-4694-ad49-759fd64431c1.html" target="element">  </a> </td>
																		<td> <a href="../elements/c5e16904-fe4d-4694-ad49-759fd64431c1.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/46b13878-fc79-4a5b-b3e9-c323eedc6634.html" target="element"> 15-12 Problem status report </a> </td>
																		<td> <a href="../elements/0d73f0fe-183d-49c6-b29a-c541bdcc84dc.html" target="element"> SUP.9.O.6 The status of problems and their trend are known </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>