<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Overview - SYS.5 System Qualification Test</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Overview - SYS.5 System Qualification Test</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/c62b379e-f125-49a3-b24d-dfaafeab8557.png" alt="Overview - SYS.5 System Qualification Test" usemap="#c62b379e-f125-49a3-b24d-dfaafeab8557map"/>
			   <map name="c62b379e-f125-49a3-b24d-dfaafeab8557map">
				  		<area shape="rect" coords="1270,10,1508,155" href="../elements/8e396633-32eb-400b-b800-e75712ce1be8.html"  target="element">
				  		<area shape="rect" coords="1018,10,1256,155" href="../elements/c574b70c-beec-4243-a1fb-30188280e3e3.html"  target="element">
				  		<area shape="rect" coords="766,10,1004,155" href="../elements/d4b6f10e-b38b-4fb6-9ef2-79388fac8cd6.html"  target="element">
				  		<area shape="rect" coords="514,10,752,155" href="../elements/8b35934a-2eb7-4767-9c19-921a79f81020.html"  target="element">
				  		<area shape="rect" coords="262,10,500,155" href="../elements/f76fc6a9-dbba-48fb-8dc5-0faf8c634d9f.html"  target="element">
				  		<area shape="rect" coords="10,10,248,155" href="../elements/3be6e016-7ec0-406f-b862-f573159e1cbd.html"  target="element">
				  				<area shape="rect" coords="118,610,395,665" href="../elements/4504a1f8-a75c-4eb8-8b19-75ce5b60e2c1.html"  target="element">
				  				<area shape="rect" coords="118,550,395,605" href="../elements/dd06b534-ebc3-4cdc-83be-33d5b9c5062c.html"  target="element">
				  				<area shape="rect" coords="118,250,395,305" href="../elements/7399571e-eb87-43ab-a744-ad6e22e02c44.html"  target="element">
				  				<area shape="rect" coords="118,430,395,485" href="../elements/c1555924-1c6d-46e4-9247-51343f91af52.html"  target="element">
				  				<area shape="rect" coords="118,490,395,545" href="../elements/a711ea1d-d99d-4ae3-b7e1-8a516217063f.html"  target="element">
				  				<area shape="rect" coords="118,310,395,365" href="../elements/07a233d2-e208-4459-8b86-936f809cfe92.html"  target="element">
				  				<area shape="rect" coords="118,370,395,425" href="../elements/fcc6ab97-e164-49de-b3bc-ebd76ee50b8d.html"  target="element">

				  		<area shape="rect" coords="106,214,407,695" href="../elements/6b8e2585-954f-448a-b647-cc998d1161f1.html"  target="element">
				  		<area shape="rect" coords="478,514,683,569" href="../elements/3ae1b7dc-9344-42d8-b6e2-732b1d8ce352.html"  target="element">
				  		<area shape="rect" coords="478,454,683,509" href="../elements/27d1998c-afb9-4d93-9df6-b6d8ff6e8a0e.html"  target="element">
				  		<area shape="rect" coords="478,394,683,449" href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html"  target="element">
				  		<area shape="rect" coords="478,334,683,389" href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html"  target="element">
				  		<area shape="rect" coords="478,274,683,329" href="../elements/4959f519-a65b-4589-b77f-adda3dc44ea1.html"  target="element">
				  		<area shape="rect" coords="478,214,683,269" href="../elements/93c9a2eb-4cd8-45bc-a5ea-b3f277880ac7.html"  target="element">
				          <area shape="rect" coords="754,214,992,695" href="../objects/426f91c2-7a41-40ec-ba06-83ad11d1bfb8.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">This view describes SYS.5 System Qualification Test Process, its outputs and outcomes

Relation of Outcomes to Outputs and Base Practices is out of scope of this view. See respective view for these details.

Latest version and docs can be found here: https://github.com/alef1986/ASPICE-Archi

Source of information for this view is Automotive SPICE Standards v.3.1
(http://www.automotivespice.com/fileadmin/software-download/AutomotiveSPICE_PAM_31.pdf)</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/426f91c2-7a41-40ec-ba06-83ad11d1bfb8.html" target="element">  </a> </td>
									           <td> <a href="../objects/426f91c2-7a41-40ec-ba06-83ad11d1bfb8.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/93c9a2eb-4cd8-45bc-a5ea-b3f277880ac7.html" target="element"> 08-50 Test specification </a> </td>
											    <td> <a href="../elements/93c9a2eb-4cd8-45bc-a5ea-b3f277880ac7.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4959f519-a65b-4589-b77f-adda3dc44ea1.html" target="element"> 08-52 Test plan </a> </td>
											    <td> <a href="../elements/4959f519-a65b-4589-b77f-adda3dc44ea1.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element"> 13-04 Communication Record </a> </td>
											    <td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element"> 13-19 Review Record </a> </td>
											    <td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/27d1998c-afb9-4d93-9df6-b6d8ff6e8a0e.html" target="element"> 13-22 Traceability record  </a> </td>
											    <td> <a href="../elements/27d1998c-afb9-4d93-9df6-b6d8ff6e8a0e.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3ae1b7dc-9344-42d8-b6e2-732b1d8ce352.html" target="element"> 13-50 Test result </a> </td>
											    <td> <a href="../elements/3ae1b7dc-9344-42d8-b6e2-732b1d8ce352.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6b8e2585-954f-448a-b647-cc998d1161f1.html" target="element"> SYS.5 System Qualification Test </a> </td>
											    <td> <a href="../elements/6b8e2585-954f-448a-b647-cc998d1161f1.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/fcc6ab97-e164-49de-b3bc-ebd76ee50b8d.html" target="element"> SYS.5.BP3 Select test cases </a> </td>
													    <td> <a href="../elements/fcc6ab97-e164-49de-b3bc-ebd76ee50b8d.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/07a233d2-e208-4459-8b86-936f809cfe92.html" target="element"> SYS.5.BP2 Develop specification for system qualification test </a> </td>
													    <td> <a href="../elements/07a233d2-e208-4459-8b86-936f809cfe92.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/a711ea1d-d99d-4ae3-b7e1-8a516217063f.html" target="element"> SYS.5.BP5 Establish bidirectional traceability </a> </td>
													    <td> <a href="../elements/a711ea1d-d99d-4ae3-b7e1-8a516217063f.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/c1555924-1c6d-46e4-9247-51343f91af52.html" target="element"> SYS.5.BP4 Test integrated system </a> </td>
													    <td> <a href="../elements/c1555924-1c6d-46e4-9247-51343f91af52.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/7399571e-eb87-43ab-a744-ad6e22e02c44.html" target="element"> SYS.5.BP1 Develop system qualification test strategy including regression test strategy </a> </td>
													    <td> <a href="../elements/7399571e-eb87-43ab-a744-ad6e22e02c44.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/dd06b534-ebc3-4cdc-83be-33d5b9c5062c.html" target="element"> SYS.5.BP6 Ensure consistency </a> </td>
													    <td> <a href="../elements/dd06b534-ebc3-4cdc-83be-33d5b9c5062c.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/4504a1f8-a75c-4eb8-8b19-75ce5b60e2c1.html" target="element"> SYS.5.BP7 Summarize and communicate results </a> </td>
													    <td> <a href="../elements/4504a1f8-a75c-4eb8-8b19-75ce5b60e2c1.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/3be6e016-7ec0-406f-b862-f573159e1cbd.html" target="element"> SYS.5.O.1 A system qualification test strategy including regression test strategy consistent with the project plan and release plan is developed to test the integrated system </a> </td>
											    <td> <a href="../elements/3be6e016-7ec0-406f-b862-f573159e1cbd.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f76fc6a9-dbba-48fb-8dc5-0faf8c634d9f.html" target="element"> SYS.5.O.2 A specification for system qualification test of the integrated system according to the system qualification test strategy is developed that issuitable to provide evidence for compliance with the system requirements </a> </td>
											    <td> <a href="../elements/f76fc6a9-dbba-48fb-8dc5-0faf8c634d9f.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8b35934a-2eb7-4767-9c19-921a79f81020.html" target="element"> SYS.5.O.3 Test cases included in the system qualification test specification are selected according to the system qualification test strategy and the release plan </a> </td>
											    <td> <a href="../elements/8b35934a-2eb7-4767-9c19-921a79f81020.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d4b6f10e-b38b-4fb6-9ef2-79388fac8cd6.html" target="element"> SYS.5.O.4 The integrated system is tested using the selected test cases and the results of system qualification test are recorded </a> </td>
											    <td> <a href="../elements/d4b6f10e-b38b-4fb6-9ef2-79388fac8cd6.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c574b70c-beec-4243-a1fb-30188280e3e3.html" target="element"> SYS.5.O.5 Consistency and bidirectional traceability are established between system requirements and test cases included in the system qualification test specification and between test cases and test results </a> </td>
											    <td> <a href="../elements/c574b70c-beec-4243-a1fb-30188280e3e3.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8e396633-32eb-400b-b800-e75712ce1be8.html" target="element"> SYS.5.O.6 results of the system qualification test are summarized and communicated to all affected parties </a> </td>
											    <td> <a href="../elements/8e396633-32eb-400b-b800-e75712ce1be8.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/bb73d5fd-556f-416e-a137-0edea95ac158.html" target="element">  </a> </td>
																		<td> <a href="../elements/bb73d5fd-556f-416e-a137-0edea95ac158.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/6b8e2585-954f-448a-b647-cc998d1161f1.html" target="element"> SYS.5 System Qualification Test </a> </td>
																		<td> <a href="../elements/a711ea1d-d99d-4ae3-b7e1-8a516217063f.html" target="element"> SYS.5.BP5 Establish bidirectional traceability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/717cc758-c552-4eb3-b187-89583a317cec.html" target="element">  </a> </td>
																		<td> <a href="../elements/717cc758-c552-4eb3-b187-89583a317cec.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/6b8e2585-954f-448a-b647-cc998d1161f1.html" target="element"> SYS.5 System Qualification Test </a> </td>
																		<td> <a href="../elements/4504a1f8-a75c-4eb8-8b19-75ce5b60e2c1.html" target="element"> SYS.5.BP7 Summarize and communicate results </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7742dd6d-dc99-41f4-b7d4-7080fe243878.html" target="element">  </a> </td>
																		<td> <a href="../elements/7742dd6d-dc99-41f4-b7d4-7080fe243878.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/6b8e2585-954f-448a-b647-cc998d1161f1.html" target="element"> SYS.5 System Qualification Test </a> </td>
																		<td> <a href="../elements/fcc6ab97-e164-49de-b3bc-ebd76ee50b8d.html" target="element"> SYS.5.BP3 Select test cases </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7f572462-9834-4071-9c9f-b2e6032f6396.html" target="element">  </a> </td>
																		<td> <a href="../elements/7f572462-9834-4071-9c9f-b2e6032f6396.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/6b8e2585-954f-448a-b647-cc998d1161f1.html" target="element"> SYS.5 System Qualification Test </a> </td>
																		<td> <a href="../elements/7399571e-eb87-43ab-a744-ad6e22e02c44.html" target="element"> SYS.5.BP1 Develop system qualification test strategy including regression test strategy </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8f54babb-6195-45b0-84ab-c0b1d4581557.html" target="element">  </a> </td>
																		<td> <a href="../elements/8f54babb-6195-45b0-84ab-c0b1d4581557.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/6b8e2585-954f-448a-b647-cc998d1161f1.html" target="element"> SYS.5 System Qualification Test </a> </td>
																		<td> <a href="../elements/07a233d2-e208-4459-8b86-936f809cfe92.html" target="element"> SYS.5.BP2 Develop specification for system qualification test </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/fa1515cc-498f-486b-b71a-15ea47c31177.html" target="element">  </a> </td>
																		<td> <a href="../elements/fa1515cc-498f-486b-b71a-15ea47c31177.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/6b8e2585-954f-448a-b647-cc998d1161f1.html" target="element"> SYS.5 System Qualification Test </a> </td>
																		<td> <a href="../elements/c1555924-1c6d-46e4-9247-51343f91af52.html" target="element"> SYS.5.BP4 Test integrated system </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f71b2e14-2b7f-4063-b320-9d8334de68d8.html" target="element">  </a> </td>
																		<td> <a href="../elements/f71b2e14-2b7f-4063-b320-9d8334de68d8.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/6b8e2585-954f-448a-b647-cc998d1161f1.html" target="element"> SYS.5 System Qualification Test </a> </td>
																		<td> <a href="../elements/dd06b534-ebc3-4cdc-83be-33d5b9c5062c.html" target="element"> SYS.5.BP6 Ensure consistency </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7449a8f4-3ecc-44e2-b8a1-e259d45ce15f.html" target="element">  </a> </td>
																		<td> <a href="../elements/7449a8f4-3ecc-44e2-b8a1-e259d45ce15f.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/6b8e2585-954f-448a-b647-cc998d1161f1.html" target="element"> SYS.5 System Qualification Test </a> </td>
																		<td> <a href="../elements/93c9a2eb-4cd8-45bc-a5ea-b3f277880ac7.html" target="element"> 08-50 Test specification </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d4bdd3c2-8480-40fd-a1a1-18a874e0120c.html" target="element">  </a> </td>
																		<td> <a href="../elements/d4bdd3c2-8480-40fd-a1a1-18a874e0120c.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/6b8e2585-954f-448a-b647-cc998d1161f1.html" target="element"> SYS.5 System Qualification Test </a> </td>
																		<td> <a href="../elements/4959f519-a65b-4589-b77f-adda3dc44ea1.html" target="element"> 08-52 Test plan </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d1c20a82-2215-4267-b394-5b9cc3910cba.html" target="element">  </a> </td>
																		<td> <a href="../elements/d1c20a82-2215-4267-b394-5b9cc3910cba.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/6b8e2585-954f-448a-b647-cc998d1161f1.html" target="element"> SYS.5 System Qualification Test </a> </td>
																		<td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element"> 13-04 Communication Record </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/dfe3ad1b-4b18-40f4-be1e-5f26cffd515d.html" target="element">  </a> </td>
																		<td> <a href="../elements/dfe3ad1b-4b18-40f4-be1e-5f26cffd515d.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/6b8e2585-954f-448a-b647-cc998d1161f1.html" target="element"> SYS.5 System Qualification Test </a> </td>
																		<td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element"> 13-19 Review Record </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/33456e45-734c-449a-b37d-405618c33709.html" target="element">  </a> </td>
																		<td> <a href="../elements/33456e45-734c-449a-b37d-405618c33709.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/6b8e2585-954f-448a-b647-cc998d1161f1.html" target="element"> SYS.5 System Qualification Test </a> </td>
																		<td> <a href="../elements/27d1998c-afb9-4d93-9df6-b6d8ff6e8a0e.html" target="element"> 13-22 Traceability record  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5f5e1022-48f5-4397-bb80-b7d12c97cfdf.html" target="element">  </a> </td>
																		<td> <a href="../elements/5f5e1022-48f5-4397-bb80-b7d12c97cfdf.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/6b8e2585-954f-448a-b647-cc998d1161f1.html" target="element"> SYS.5 System Qualification Test </a> </td>
																		<td> <a href="../elements/3ae1b7dc-9344-42d8-b6e2-732b1d8ce352.html" target="element"> 13-50 Test result </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>