<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Overview - SUP.1 Quality Assurance</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Overview - SUP.1 Quality Assurance</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/c7cd1f0f-9718-4c50-aa05-778f9915d923.png" alt="Overview - SUP.1 Quality Assurance" usemap="#c7cd1f0f-9718-4c50-aa05-778f9915d923map"/>
			   <map name="c7cd1f0f-9718-4c50-aa05-778f9915d923map">
				  		<area shape="rect" coords="420,540,625,595" href="../elements/a032d5d9-744a-4cbf-a243-da4f7cfec2c1.html"  target="element">
				  		<area shape="rect" coords="420,480,625,535" href="../elements/3400d0a7-31c3-46f8-8e99-a25fad4ca5d5.html"  target="element">
				  		<area shape="rect" coords="420,420,625,475" href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html"  target="element">
				  		<area shape="rect" coords="420,360,625,415" href="../elements/8eeca89a-061e-4cbc-8254-7d9c63f2617e.html"  target="element">
				  		<area shape="rect" coords="420,300,625,355" href="../elements/1ff02068-2c2c-4def-8f23-59f53e4164d9.html"  target="element">
				  		<area shape="rect" coords="420,240,625,295" href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html"  target="element">
				  		<area shape="rect" coords="420,180,625,235" href="../elements/9a895cc4-d2eb-4742-aaf8-a4a144be1d8e.html"  target="element">
				  		<area shape="rect" coords="257,10,495,143" href="../elements/9bbbad84-3bb1-46ea-8f47-2c1e43e4bd6a.html"  target="element">
				  		<area shape="rect" coords="507,10,745,143" href="../elements/6a6d7162-e4ff-4335-92dc-f162023dfd62.html"  target="element">
				  		<area shape="rect" coords="756,10,994,143" href="../elements/8033b7da-2da1-4193-b5c9-0535f71797c4.html"  target="element">
				  		<area shape="rect" coords="1008,10,1246,143" href="../elements/919417b1-582a-48b4-8abe-8e591f5607fc.html"  target="element">
				  		<area shape="rect" coords="1260,10,1498,143" href="../elements/3bed1127-076b-4db5-8c66-e850fc77f0bb.html"  target="element">
				  		<area shape="rect" coords="10,10,248,143" href="../elements/6bae2365-4758-4137-bd62-2a7ee3202f9f.html"  target="element">
				  				<area shape="rect" coords="48,516,325,571" href="../elements/c24ca689-9600-4195-bf6c-3309bb5c01d9.html"  target="element">
				  				<area shape="rect" coords="48,216,325,271" href="../elements/fb43958a-6f7c-4f12-ab61-55b26eb47b6f.html"  target="element">
				  				<area shape="rect" coords="48,396,325,451" href="../elements/23272418-a014-4d74-b0dc-cf06d93a9b10.html"  target="element">
				  				<area shape="rect" coords="48,456,325,511" href="../elements/d51c7cf0-41f6-4897-b4c0-4e6de007f5d2.html"  target="element">
				  				<area shape="rect" coords="48,276,325,331" href="../elements/9c0435ac-b075-4413-bf5a-6ac4c5c22cff.html"  target="element">
				  				<area shape="rect" coords="48,336,325,391" href="../elements/cf5af9f3-a39f-45c8-801a-67bfa5da3d35.html"  target="element">

				  		<area shape="rect" coords="36,180,337,595" href="../elements/728b74f3-59aa-422b-8fff-a78a0c13e17a.html"  target="element">
				          <area shape="rect" coords="744,180,982,589" href="../objects/79d45bda-0843-4fdf-97dd-e2d5f5371043.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">This view describes SUP.1 Quality Assurance Process, its outputs and outcomes

Relation of Outcomes to Outputs and Base Practices is out of scope of this view. See respective view for these details.

Latest version and docs can be found here: https://github.com/alef1986/ASPICE-Archi

Source of information for this view is Automotive SPICE Standards v.3.1
(http://www.automotivespice.com/fileadmin/software-download/AutomotiveSPICE_PAM_31.pdf)</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/79d45bda-0843-4fdf-97dd-e2d5f5371043.html" target="element">  </a> </td>
									           <td> <a href="../objects/79d45bda-0843-4fdf-97dd-e2d5f5371043.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/728b74f3-59aa-422b-8fff-a78a0c13e17a.html" target="element"> SUP.1 Quality Assurance </a> </td>
											    <td> <a href="../elements/728b74f3-59aa-422b-8fff-a78a0c13e17a.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/cf5af9f3-a39f-45c8-801a-67bfa5da3d35.html" target="element"> SUP.1.BP3 Assure quality of process activities </a> </td>
													    <td> <a href="../elements/cf5af9f3-a39f-45c8-801a-67bfa5da3d35.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/9c0435ac-b075-4413-bf5a-6ac4c5c22cff.html" target="element"> SUP.1.BP2 Assure quality of work products </a> </td>
													    <td> <a href="../elements/9c0435ac-b075-4413-bf5a-6ac4c5c22cff.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/d51c7cf0-41f6-4897-b4c0-4e6de007f5d2.html" target="element"> SUP.1.BP5 Ensure resolution of non-conformances </a> </td>
													    <td> <a href="../elements/d51c7cf0-41f6-4897-b4c0-4e6de007f5d2.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/23272418-a014-4d74-b0dc-cf06d93a9b10.html" target="element"> SUP.1.BP4 Summarize and communicate quality assurance activitiesand results </a> </td>
													    <td> <a href="../elements/23272418-a014-4d74-b0dc-cf06d93a9b10.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/fb43958a-6f7c-4f12-ab61-55b26eb47b6f.html" target="element"> SUP.1.BP1 Develop a project quality assurance strategy </a> </td>
													    <td> <a href="../elements/fb43958a-6f7c-4f12-ab61-55b26eb47b6f.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/c24ca689-9600-4195-bf6c-3309bb5c01d9.html" target="element"> SUP.1.BP6 Implement an escalation mechanism </a> </td>
													    <td> <a href="../elements/c24ca689-9600-4195-bf6c-3309bb5c01d9.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/6bae2365-4758-4137-bd62-2a7ee3202f9f.html" target="element"> SUP.1.O.1 A strategy for performing quality assurance is developed, implemented, and maintained </a> </td>
											    <td> <a href="../elements/6bae2365-4758-4137-bd62-2a7ee3202f9f.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3bed1127-076b-4db5-8c66-e850fc77f0bb.html" target="element"> SUP.1.O.6 Management ensures that escalated non-conformances are resolved </a> </td>
											    <td> <a href="../elements/3bed1127-076b-4db5-8c66-e850fc77f0bb.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/919417b1-582a-48b4-8abe-8e591f5607fc.html" target="element"> SUP.1.O.5 Authority to escalate non-conformances to appropriate levels of management is established </a> </td>
											    <td> <a href="../elements/919417b1-582a-48b4-8abe-8e591f5607fc.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8033b7da-2da1-4193-b5c9-0535f71797c4.html" target="element"> SUP.1.O.4 Conformance of work products, processes and activities with relevant requirements is verified, documented, and communicated to the relevant parties </a> </td>
											    <td> <a href="../elements/8033b7da-2da1-4193-b5c9-0535f71797c4.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6a6d7162-e4ff-4335-92dc-f162023dfd62.html" target="element"> SUP.1.O.3 Non-conformances of work products, processes, and process activities with relevant requirements are identified, recorded, communicated to the relevant parties, tracked, resolved, and further prevented </a> </td>
											    <td> <a href="../elements/6a6d7162-e4ff-4335-92dc-f162023dfd62.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9bbbad84-3bb1-46ea-8f47-2c1e43e4bd6a.html" target="element"> SUP.1.O.2 Quality assurance is performed independently and objectively without conflicts of interest </a> </td>
											    <td> <a href="../elements/9bbbad84-3bb1-46ea-8f47-2c1e43e4bd6a.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9a895cc4-d2eb-4742-aaf8-a4a144be1d8e.html" target="element"> 08-13 Quality plan </a> </td>
											    <td> <a href="../elements/9a895cc4-d2eb-4742-aaf8-a4a144be1d8e.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element"> 13-04 Communication Record </a> </td>
											    <td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1ff02068-2c2c-4def-8f23-59f53e4164d9.html" target="element"> 13-07 Problem record  </a> </td>
											    <td> <a href="../elements/1ff02068-2c2c-4def-8f23-59f53e4164d9.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8eeca89a-061e-4cbc-8254-7d9c63f2617e.html" target="element"> 13-18 Quality record </a> </td>
											    <td> <a href="../elements/8eeca89a-061e-4cbc-8254-7d9c63f2617e.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element"> 13-19 Review Record </a> </td>
											    <td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3400d0a7-31c3-46f8-8e99-a25fad4ca5d5.html" target="element"> 14-02 Corrective Action Register </a> </td>
											    <td> <a href="../elements/3400d0a7-31c3-46f8-8e99-a25fad4ca5d5.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a032d5d9-744a-4cbf-a243-da4f7cfec2c1.html" target="element"> 18-07 Quality criteria </a> </td>
											    <td> <a href="../elements/a032d5d9-744a-4cbf-a243-da4f7cfec2c1.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/7eb307f9-e513-487b-9e61-b746afedad6c.html" target="element">  </a> </td>
																		<td> <a href="../elements/7eb307f9-e513-487b-9e61-b746afedad6c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/728b74f3-59aa-422b-8fff-a78a0c13e17a.html" target="element"> SUP.1 Quality Assurance </a> </td>
																		<td> <a href="../elements/d51c7cf0-41f6-4897-b4c0-4e6de007f5d2.html" target="element"> SUP.1.BP5 Ensure resolution of non-conformances </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2156ab41-6f9d-4004-8a00-2bdff92ae2d1.html" target="element">  </a> </td>
																		<td> <a href="../elements/2156ab41-6f9d-4004-8a00-2bdff92ae2d1.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/728b74f3-59aa-422b-8fff-a78a0c13e17a.html" target="element"> SUP.1 Quality Assurance </a> </td>
																		<td> <a href="../elements/cf5af9f3-a39f-45c8-801a-67bfa5da3d35.html" target="element"> SUP.1.BP3 Assure quality of process activities </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6eedafca-dddb-4ca4-bef3-4971d29056fd.html" target="element">  </a> </td>
																		<td> <a href="../elements/6eedafca-dddb-4ca4-bef3-4971d29056fd.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/728b74f3-59aa-422b-8fff-a78a0c13e17a.html" target="element"> SUP.1 Quality Assurance </a> </td>
																		<td> <a href="../elements/9c0435ac-b075-4413-bf5a-6ac4c5c22cff.html" target="element"> SUP.1.BP2 Assure quality of work products </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3a4c9fda-4f5f-445c-b0cd-7cf95b4ca69b.html" target="element">  </a> </td>
																		<td> <a href="../elements/3a4c9fda-4f5f-445c-b0cd-7cf95b4ca69b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/728b74f3-59aa-422b-8fff-a78a0c13e17a.html" target="element"> SUP.1 Quality Assurance </a> </td>
																		<td> <a href="../elements/23272418-a014-4d74-b0dc-cf06d93a9b10.html" target="element"> SUP.1.BP4 Summarize and communicate quality assurance activitiesand results </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/fb2264a9-525a-4174-b990-b7352fc82a19.html" target="element">  </a> </td>
																		<td> <a href="../elements/fb2264a9-525a-4174-b990-b7352fc82a19.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/728b74f3-59aa-422b-8fff-a78a0c13e17a.html" target="element"> SUP.1 Quality Assurance </a> </td>
																		<td> <a href="../elements/c24ca689-9600-4195-bf6c-3309bb5c01d9.html" target="element"> SUP.1.BP6 Implement an escalation mechanism </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/068e8f59-290c-4ede-b94f-713c8cd52468.html" target="element">  </a> </td>
																		<td> <a href="../elements/068e8f59-290c-4ede-b94f-713c8cd52468.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/728b74f3-59aa-422b-8fff-a78a0c13e17a.html" target="element"> SUP.1 Quality Assurance </a> </td>
																		<td> <a href="../elements/fb43958a-6f7c-4f12-ab61-55b26eb47b6f.html" target="element"> SUP.1.BP1 Develop a project quality assurance strategy </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a6c600a7-2031-406d-a390-be71dcec25c5.html" target="element">  </a> </td>
																		<td> <a href="../elements/a6c600a7-2031-406d-a390-be71dcec25c5.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/728b74f3-59aa-422b-8fff-a78a0c13e17a.html" target="element"> SUP.1 Quality Assurance </a> </td>
																		<td> <a href="../elements/9a895cc4-d2eb-4742-aaf8-a4a144be1d8e.html" target="element"> 08-13 Quality plan </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3c0d129c-463c-4b02-8e7d-7bd311817d82.html" target="element">  </a> </td>
																		<td> <a href="../elements/3c0d129c-463c-4b02-8e7d-7bd311817d82.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/728b74f3-59aa-422b-8fff-a78a0c13e17a.html" target="element"> SUP.1 Quality Assurance </a> </td>
																		<td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element"> 13-04 Communication Record </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a1a7dd05-faa9-47f3-80d2-8fc5899ec41a.html" target="element">  </a> </td>
																		<td> <a href="../elements/a1a7dd05-faa9-47f3-80d2-8fc5899ec41a.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/728b74f3-59aa-422b-8fff-a78a0c13e17a.html" target="element"> SUP.1 Quality Assurance </a> </td>
																		<td> <a href="../elements/1ff02068-2c2c-4def-8f23-59f53e4164d9.html" target="element"> 13-07 Problem record  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2a9be242-dfe3-41b9-a880-1cc662f05579.html" target="element">  </a> </td>
																		<td> <a href="../elements/2a9be242-dfe3-41b9-a880-1cc662f05579.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/728b74f3-59aa-422b-8fff-a78a0c13e17a.html" target="element"> SUP.1 Quality Assurance </a> </td>
																		<td> <a href="../elements/8eeca89a-061e-4cbc-8254-7d9c63f2617e.html" target="element"> 13-18 Quality record </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/81e44bd5-7fe4-4631-8b5d-2135e13a060b.html" target="element">  </a> </td>
																		<td> <a href="../elements/81e44bd5-7fe4-4631-8b5d-2135e13a060b.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/728b74f3-59aa-422b-8fff-a78a0c13e17a.html" target="element"> SUP.1 Quality Assurance </a> </td>
																		<td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element"> 13-19 Review Record </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1e0ca3b8-6311-4d5b-9891-c5d4a2de2de1.html" target="element">  </a> </td>
																		<td> <a href="../elements/1e0ca3b8-6311-4d5b-9891-c5d4a2de2de1.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/728b74f3-59aa-422b-8fff-a78a0c13e17a.html" target="element"> SUP.1 Quality Assurance </a> </td>
																		<td> <a href="../elements/3400d0a7-31c3-46f8-8e99-a25fad4ca5d5.html" target="element"> 14-02 Corrective Action Register </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/407d5ea2-cacb-4add-96c6-e49843287022.html" target="element">  </a> </td>
																		<td> <a href="../elements/407d5ea2-cacb-4add-96c6-e49843287022.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/728b74f3-59aa-422b-8fff-a78a0c13e17a.html" target="element"> SUP.1 Quality Assurance </a> </td>
																		<td> <a href="../elements/a032d5d9-744a-4cbf-a243-da4f7cfec2c1.html" target="element"> 18-07 Quality criteria </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>