<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>O. vs. BP. vs. WP. - SUP.8 Configuration Management</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>O. vs. BP. vs. WP. - SUP.8 Configuration Management</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/cf525dbc-454a-429a-b3f3-cc270447c27a.png" alt="O. vs. BP. vs. WP. - SUP.8 Configuration Management" usemap="#cf525dbc-454a-429a-b3f3-cc270447c27amap"/>
			   <map name="cf525dbc-454a-429a-b3f3-cc270447c27amap">
				  		<area shape="rect" coords="1522,562,1751,617" href="../elements/dab630bb-f084-4f48-a288-8adb28ac5d81.html"  target="element">
				  		<area shape="rect" coords="1270,562,1499,617" href="../elements/911eaef4-e67d-42a3-995f-9a1788bfa10f.html"  target="element">
				  		<area shape="rect" coords="1018,562,1247,617" href="../elements/37ca7baf-11d9-4457-a3d1-071285bcc7b1.html"  target="element">
				  		<area shape="rect" coords="766,562,995,617" href="../elements/989cffd2-aff9-4920-aa7e-84357da7bd3a.html"  target="element">
				  		<area shape="rect" coords="514,562,743,617" href="../elements/4707d232-e76e-451e-aa05-4680d55a60b6.html"  target="element">
				  		<area shape="rect" coords="262,562,491,617" href="../elements/dd99b419-9afb-43ec-9274-02788c9ea45a.html"  target="element">
				  		<area shape="rect" coords="10,562,239,617" href="../elements/e3bca416-4ac6-425e-ae02-d4bfacac4a8a.html"  target="element">
				  		<area shape="rect" coords="1642,10,1835,65" href="../elements/39e1e975-07fb-483b-8721-fd4d242d3d71.html"  target="element">
				  		<area shape="rect" coords="1438,10,1631,65" href="../elements/3bb5d042-b7c3-47ac-8d5c-aa09560edf81.html"  target="element">
				  		<area shape="rect" coords="1234,10,1427,65" href="../elements/16caad5a-eaf5-4eb6-a629-272ba524fd9b.html"  target="element">
				  		<area shape="rect" coords="1030,10,1223,65" href="../elements/d98fdbca-2c66-4a31-90e7-5e6ec127722a.html"  target="element">
				  		<area shape="rect" coords="10,10,203,65" href="../elements/0cf72365-1950-4ae8-be6d-7faf56b47b5b.html"  target="element">
				  		<area shape="rect" coords="622,10,815,65" href="../elements/7c5c0837-37ff-42fc-8f0d-d877eb93abc3.html"  target="element">
				  		<area shape="rect" coords="826,10,1019,65" href="../elements/7e7f00bc-04e4-4866-a93f-66e6a645eba7.html"  target="element">
				  		<area shape="rect" coords="214,10,407,65" href="../elements/ae3b356f-4853-4d73-b071-1bb70ef2a6f5.html"  target="element">
				  		<area shape="rect" coords="418,10,611,65" href="../elements/ee6b241b-7ef6-4c5c-8b6f-0f5839de90af.html"  target="element">
				  		<area shape="rect" coords="10,190,1727,224" href="../elements/11f69811-43e3-4f43-b813-0882f66fe945.html"  target="element">
				  		<area shape="rect" coords="10,238,1727,272" href="../elements/97b4bc82-f940-454b-aede-9e3a9df8d18c.html"  target="element">
				  		<area shape="rect" coords="10,286,1727,320" href="../elements/280be26e-7c18-4586-b9d4-11ebc7bcc746.html"  target="element">
				  		<area shape="rect" coords="10,430,1727,464" href="../elements/67706ff9-a911-4c0e-ad97-a1f08a5a7770.html"  target="element">
				  		<area shape="rect" coords="10,382,1727,416" href="../elements/7a264a7d-debc-4d50-8e31-9cade69dccfb.html"  target="element">
				  		<area shape="rect" coords="10,334,1727,368" href="../elements/ff782d34-5452-4b12-80a5-dce5385c5428.html"  target="element">
				  		<area shape="rect" coords="10,142,1727,176" href="../elements/f8f8ba39-e0d5-4dc3-8197-f37649e38fcc.html"  target="element">
				          <area shape="rect" coords="10,754,839,870" href="../objects/3afb88b9-ca2b-4b69-8a0e-aea104e65727.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">This view answers the following questions:
- If I implement and deploy the Base Practice (BP) ***, how can I verify if I did it properly? What outcomes shall be achieved?
- If I implement and demploy the Outcome Work Product ***, how can I verify if I did it properly? What outcomes shall be achieved?

Scope of this view - Outcomes, Base Practices and their relations for ASPICE process SUP.8 Configuration Management

Latest version and docs can be found here: https://github.com/alef1986/ASPICE-Archi</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/3afb88b9-ca2b-4b69-8a0e-aea104e65727.html" target="element">  </a> </td>
									           <td> <a href="../objects/3afb88b9-ca2b-4b69-8a0e-aea104e65727.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/f8f8ba39-e0d5-4dc3-8197-f37649e38fcc.html" target="element"> SUP.8.O.1 A configuration management strategy is developed </a> </td>
											    <td> <a href="../elements/f8f8ba39-e0d5-4dc3-8197-f37649e38fcc.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ff782d34-5452-4b12-80a5-dce5385c5428.html" target="element"> SUP.8.O.5 The status of the configuration items and modifications is recorded and reported </a> </td>
											    <td> <a href="../elements/ff782d34-5452-4b12-80a5-dce5385c5428.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7a264a7d-debc-4d50-8e31-9cade69dccfb.html" target="element"> SUP.8.O.6 The completeness and consistency of the baselines is ensured </a> </td>
											    <td> <a href="../elements/7a264a7d-debc-4d50-8e31-9cade69dccfb.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/67706ff9-a911-4c0e-ad97-a1f08a5a7770.html" target="element"> SUP.8.O.7 Storage of the configuration items is controlled </a> </td>
											    <td> <a href="../elements/67706ff9-a911-4c0e-ad97-a1f08a5a7770.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/280be26e-7c18-4586-b9d4-11ebc7bcc746.html" target="element"> SUP.8.O.4 Modifications and releases are made available to affected parties </a> </td>
											    <td> <a href="../elements/280be26e-7c18-4586-b9d4-11ebc7bcc746.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/97b4bc82-f940-454b-aede-9e3a9df8d18c.html" target="element"> SUP.8.O.3 Modifications and releases of the configuration items are controlled </a> </td>
											    <td> <a href="../elements/97b4bc82-f940-454b-aede-9e3a9df8d18c.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/11f69811-43e3-4f43-b813-0882f66fe945.html" target="element"> SUP.8.O.2 All configuration items generated by a process or project are identified, defined and baselined according to the configuration management strategy </a> </td>
											    <td> <a href="../elements/11f69811-43e3-4f43-b813-0882f66fe945.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ee6b241b-7ef6-4c5c-8b6f-0f5839de90af.html" target="element"> SUP.8.BP3 Establish a configuration management system </a> </td>
											    <td> <a href="../elements/ee6b241b-7ef6-4c5c-8b6f-0f5839de90af.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ae3b356f-4853-4d73-b071-1bb70ef2a6f5.html" target="element"> SUP.8.BP2 Identify configuration items </a> </td>
											    <td> <a href="../elements/ae3b356f-4853-4d73-b071-1bb70ef2a6f5.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7e7f00bc-04e4-4866-a93f-66e6a645eba7.html" target="element"> SUP.8.BP5 Control modifications and releases </a> </td>
											    <td> <a href="../elements/7e7f00bc-04e4-4866-a93f-66e6a645eba7.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7c5c0837-37ff-42fc-8f0d-d877eb93abc3.html" target="element"> SUP.8.BP4 Establish branch management </a> </td>
											    <td> <a href="../elements/7c5c0837-37ff-42fc-8f0d-d877eb93abc3.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0cf72365-1950-4ae8-be6d-7faf56b47b5b.html" target="element"> SUP.8.BP1 Develop a configuration management strategy </a> </td>
											    <td> <a href="../elements/0cf72365-1950-4ae8-be6d-7faf56b47b5b.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d98fdbca-2c66-4a31-90e7-5e6ec127722a.html" target="element"> SUP.8.BP6 Establish baselines </a> </td>
											    <td> <a href="../elements/d98fdbca-2c66-4a31-90e7-5e6ec127722a.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/16caad5a-eaf5-4eb6-a629-272ba524fd9b.html" target="element"> SUP.8.BP7 Report configuration status </a> </td>
											    <td> <a href="../elements/16caad5a-eaf5-4eb6-a629-272ba524fd9b.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3bb5d042-b7c3-47ac-8d5c-aa09560edf81.html" target="element"> SUP.8.BP8 Verify the information about configured items </a> </td>
											    <td> <a href="../elements/3bb5d042-b7c3-47ac-8d5c-aa09560edf81.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/39e1e975-07fb-483b-8721-fd4d242d3d71.html" target="element"> SUP.8.BP9 Manage the storage of configuration items and baselines </a> </td>
											    <td> <a href="../elements/39e1e975-07fb-483b-8721-fd4d242d3d71.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e3bca416-4ac6-425e-ae02-d4bfacac4a8a.html" target="element"> 06-02 Handling and storage guide </a> </td>
											    <td> <a href="../elements/e3bca416-4ac6-425e-ae02-d4bfacac4a8a.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/dd99b419-9afb-43ec-9274-02788c9ea45a.html" target="element"> 08-04 Configuration management plan </a> </td>
											    <td> <a href="../elements/dd99b419-9afb-43ec-9274-02788c9ea45a.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4707d232-e76e-451e-aa05-4680d55a60b6.html" target="element"> 08-14 Recovery plan </a> </td>
											    <td> <a href="../elements/4707d232-e76e-451e-aa05-4680d55a60b6.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/989cffd2-aff9-4920-aa7e-84357da7bd3a.html" target="element"> 13-08 Baseline </a> </td>
											    <td> <a href="../elements/989cffd2-aff9-4920-aa7e-84357da7bd3a.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/37ca7baf-11d9-4457-a3d1-071285bcc7b1.html" target="element"> 13-10 Configuration management record </a> </td>
											    <td> <a href="../elements/37ca7baf-11d9-4457-a3d1-071285bcc7b1.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/911eaef4-e67d-42a3-995f-9a1788bfa10f.html" target="element"> 14-01 Change history </a> </td>
											    <td> <a href="../elements/911eaef4-e67d-42a3-995f-9a1788bfa10f.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/dab630bb-f084-4f48-a288-8adb28ac5d81.html" target="element"> 16-03 Configuration management system </a> </td>
											    <td> <a href="../elements/dab630bb-f084-4f48-a288-8adb28ac5d81.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/efe536c2-d84d-4f1c-90e7-c92c7190bcc7.html" target="element">  </a> </td>
																		<td> <a href="../elements/efe536c2-d84d-4f1c-90e7-c92c7190bcc7.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/ee6b241b-7ef6-4c5c-8b6f-0f5839de90af.html" target="element"> SUP.8.BP3 Establish a configuration management system </a> </td>
																		<td> <a href="../elements/f8f8ba39-e0d5-4dc3-8197-f37649e38fcc.html" target="element"> SUP.8.O.1 A configuration management strategy is developed </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a5164eb5-061c-4da8-9217-3f80da34bbd4.html" target="element">  </a> </td>
																		<td> <a href="../elements/a5164eb5-061c-4da8-9217-3f80da34bbd4.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/ee6b241b-7ef6-4c5c-8b6f-0f5839de90af.html" target="element"> SUP.8.BP3 Establish a configuration management system </a> </td>
																		<td> <a href="../elements/11f69811-43e3-4f43-b813-0882f66fe945.html" target="element"> SUP.8.O.2 All configuration items generated by a process or project are identified, defined and baselined according to the configuration management strategy </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3e1b40eb-fad4-48aa-a9ef-d516b4b74988.html" target="element">  </a> </td>
																		<td> <a href="../elements/3e1b40eb-fad4-48aa-a9ef-d516b4b74988.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/ee6b241b-7ef6-4c5c-8b6f-0f5839de90af.html" target="element"> SUP.8.BP3 Establish a configuration management system </a> </td>
																		<td> <a href="../elements/97b4bc82-f940-454b-aede-9e3a9df8d18c.html" target="element"> SUP.8.O.3 Modifications and releases of the configuration items are controlled </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f03b5dd0-a6f9-4e31-ace5-3b6855d16d3c.html" target="element">  </a> </td>
																		<td> <a href="../elements/f03b5dd0-a6f9-4e31-ace5-3b6855d16d3c.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/ee6b241b-7ef6-4c5c-8b6f-0f5839de90af.html" target="element"> SUP.8.BP3 Establish a configuration management system </a> </td>
																		<td> <a href="../elements/280be26e-7c18-4586-b9d4-11ebc7bcc746.html" target="element"> SUP.8.O.4 Modifications and releases are made available to affected parties </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d49b5b24-a00d-4990-a80d-a2bfd456adcd.html" target="element">  </a> </td>
																		<td> <a href="../elements/d49b5b24-a00d-4990-a80d-a2bfd456adcd.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/ee6b241b-7ef6-4c5c-8b6f-0f5839de90af.html" target="element"> SUP.8.BP3 Establish a configuration management system </a> </td>
																		<td> <a href="../elements/7a264a7d-debc-4d50-8e31-9cade69dccfb.html" target="element"> SUP.8.O.6 The completeness and consistency of the baselines is ensured </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8f37a629-c835-45f2-9788-52356ff54972.html" target="element">  </a> </td>
																		<td> <a href="../elements/8f37a629-c835-45f2-9788-52356ff54972.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/ee6b241b-7ef6-4c5c-8b6f-0f5839de90af.html" target="element"> SUP.8.BP3 Establish a configuration management system </a> </td>
																		<td> <a href="../elements/67706ff9-a911-4c0e-ad97-a1f08a5a7770.html" target="element"> SUP.8.O.7 Storage of the configuration items is controlled </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/fb7552e4-645b-4181-a43e-95dba9383043.html" target="element">  </a> </td>
																		<td> <a href="../elements/fb7552e4-645b-4181-a43e-95dba9383043.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/ae3b356f-4853-4d73-b071-1bb70ef2a6f5.html" target="element"> SUP.8.BP2 Identify configuration items </a> </td>
																		<td> <a href="../elements/11f69811-43e3-4f43-b813-0882f66fe945.html" target="element"> SUP.8.O.2 All configuration items generated by a process or project are identified, defined and baselined according to the configuration management strategy </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/abb92141-9b26-4b28-89f4-b75f3d722329.html" target="element">  </a> </td>
																		<td> <a href="../elements/abb92141-9b26-4b28-89f4-b75f3d722329.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/7e7f00bc-04e4-4866-a93f-66e6a645eba7.html" target="element"> SUP.8.BP5 Control modifications and releases </a> </td>
																		<td> <a href="../elements/97b4bc82-f940-454b-aede-9e3a9df8d18c.html" target="element"> SUP.8.O.3 Modifications and releases of the configuration items are controlled </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8ea9ccf8-fa70-4ad5-b0fb-9755e61ca725.html" target="element">  </a> </td>
																		<td> <a href="../elements/8ea9ccf8-fa70-4ad5-b0fb-9755e61ca725.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/7e7f00bc-04e4-4866-a93f-66e6a645eba7.html" target="element"> SUP.8.BP5 Control modifications and releases </a> </td>
																		<td> <a href="../elements/280be26e-7c18-4586-b9d4-11ebc7bcc746.html" target="element"> SUP.8.O.4 Modifications and releases are made available to affected parties </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c7b1a067-5876-4f52-9426-016a897e2e7b.html" target="element">  </a> </td>
																		<td> <a href="../elements/c7b1a067-5876-4f52-9426-016a897e2e7b.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/7e7f00bc-04e4-4866-a93f-66e6a645eba7.html" target="element"> SUP.8.BP5 Control modifications and releases </a> </td>
																		<td> <a href="../elements/ff782d34-5452-4b12-80a5-dce5385c5428.html" target="element"> SUP.8.O.5 The status of the configuration items and modifications is recorded and reported </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/5d1b8439-da8b-42d4-9e43-325f95b1876f.html" target="element">  </a> </td>
																		<td> <a href="../elements/5d1b8439-da8b-42d4-9e43-325f95b1876f.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/7c5c0837-37ff-42fc-8f0d-d877eb93abc3.html" target="element"> SUP.8.BP4 Establish branch management </a> </td>
																		<td> <a href="../elements/f8f8ba39-e0d5-4dc3-8197-f37649e38fcc.html" target="element"> SUP.8.O.1 A configuration management strategy is developed </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2699a276-cf4c-42d1-a695-6f2436d58dd8.html" target="element">  </a> </td>
																		<td> <a href="../elements/2699a276-cf4c-42d1-a695-6f2436d58dd8.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/7c5c0837-37ff-42fc-8f0d-d877eb93abc3.html" target="element"> SUP.8.BP4 Establish branch management </a> </td>
																		<td> <a href="../elements/97b4bc82-f940-454b-aede-9e3a9df8d18c.html" target="element"> SUP.8.O.3 Modifications and releases of the configuration items are controlled </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/dfb7454c-e1d2-44f6-9dd0-7cc4631787b2.html" target="element">  </a> </td>
																		<td> <a href="../elements/dfb7454c-e1d2-44f6-9dd0-7cc4631787b2.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/7c5c0837-37ff-42fc-8f0d-d877eb93abc3.html" target="element"> SUP.8.BP4 Establish branch management </a> </td>
																		<td> <a href="../elements/280be26e-7c18-4586-b9d4-11ebc7bcc746.html" target="element"> SUP.8.O.4 Modifications and releases are made available to affected parties </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1079e443-b068-481b-9453-fa896041461b.html" target="element">  </a> </td>
																		<td> <a href="../elements/1079e443-b068-481b-9453-fa896041461b.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/7c5c0837-37ff-42fc-8f0d-d877eb93abc3.html" target="element"> SUP.8.BP4 Establish branch management </a> </td>
																		<td> <a href="../elements/7a264a7d-debc-4d50-8e31-9cade69dccfb.html" target="element"> SUP.8.O.6 The completeness and consistency of the baselines is ensured </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/64224a3e-e000-42c1-967a-27b8c9e4acd6.html" target="element">  </a> </td>
																		<td> <a href="../elements/64224a3e-e000-42c1-967a-27b8c9e4acd6.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/7c5c0837-37ff-42fc-8f0d-d877eb93abc3.html" target="element"> SUP.8.BP4 Establish branch management </a> </td>
																		<td> <a href="../elements/67706ff9-a911-4c0e-ad97-a1f08a5a7770.html" target="element"> SUP.8.O.7 Storage of the configuration items is controlled </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/07761cff-ab14-4f74-b034-247833c0396a.html" target="element">  </a> </td>
																		<td> <a href="../elements/07761cff-ab14-4f74-b034-247833c0396a.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/0cf72365-1950-4ae8-be6d-7faf56b47b5b.html" target="element"> SUP.8.BP1 Develop a configuration management strategy </a> </td>
																		<td> <a href="../elements/f8f8ba39-e0d5-4dc3-8197-f37649e38fcc.html" target="element"> SUP.8.O.1 A configuration management strategy is developed </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/9f8f717d-5a20-46e1-9659-525dfd674319.html" target="element">  </a> </td>
																		<td> <a href="../elements/9f8f717d-5a20-46e1-9659-525dfd674319.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/d98fdbca-2c66-4a31-90e7-5e6ec127722a.html" target="element"> SUP.8.BP6 Establish baselines </a> </td>
																		<td> <a href="../elements/11f69811-43e3-4f43-b813-0882f66fe945.html" target="element"> SUP.8.O.2 All configuration items generated by a process or project are identified, defined and baselined according to the configuration management strategy </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6574a1db-ef79-4ac8-be2b-2328b65630e7.html" target="element">  </a> </td>
																		<td> <a href="../elements/6574a1db-ef79-4ac8-be2b-2328b65630e7.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/16caad5a-eaf5-4eb6-a629-272ba524fd9b.html" target="element"> SUP.8.BP7 Report configuration status </a> </td>
																		<td> <a href="../elements/ff782d34-5452-4b12-80a5-dce5385c5428.html" target="element"> SUP.8.O.5 The status of the configuration items and modifications is recorded and reported </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/b1192e78-778d-43a2-a7bd-801e667ae61d.html" target="element">  </a> </td>
																		<td> <a href="../elements/b1192e78-778d-43a2-a7bd-801e667ae61d.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/3bb5d042-b7c3-47ac-8d5c-aa09560edf81.html" target="element"> SUP.8.BP8 Verify the information about configured items </a> </td>
																		<td> <a href="../elements/7a264a7d-debc-4d50-8e31-9cade69dccfb.html" target="element"> SUP.8.O.6 The completeness and consistency of the baselines is ensured </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/c52fc613-fa83-4043-907c-f1916d714806.html" target="element">  </a> </td>
																		<td> <a href="../elements/c52fc613-fa83-4043-907c-f1916d714806.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/39e1e975-07fb-483b-8721-fd4d242d3d71.html" target="element"> SUP.8.BP9 Manage the storage of configuration items and baselines </a> </td>
																		<td> <a href="../elements/280be26e-7c18-4586-b9d4-11ebc7bcc746.html" target="element"> SUP.8.O.4 Modifications and releases are made available to affected parties </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/879b4c25-1387-4dd8-8842-20ab3148251a.html" target="element">  </a> </td>
																		<td> <a href="../elements/879b4c25-1387-4dd8-8842-20ab3148251a.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/39e1e975-07fb-483b-8721-fd4d242d3d71.html" target="element"> SUP.8.BP9 Manage the storage of configuration items and baselines </a> </td>
																		<td> <a href="../elements/ff782d34-5452-4b12-80a5-dce5385c5428.html" target="element"> SUP.8.O.5 The status of the configuration items and modifications is recorded and reported </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/21fa0d7d-be31-48de-af58-5250ccb181de.html" target="element">  </a> </td>
																		<td> <a href="../elements/21fa0d7d-be31-48de-af58-5250ccb181de.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/39e1e975-07fb-483b-8721-fd4d242d3d71.html" target="element"> SUP.8.BP9 Manage the storage of configuration items and baselines </a> </td>
																		<td> <a href="../elements/7a264a7d-debc-4d50-8e31-9cade69dccfb.html" target="element"> SUP.8.O.6 The completeness and consistency of the baselines is ensured </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2ae78dc3-57f4-45cc-b82d-27713e45f8fa.html" target="element">  </a> </td>
																		<td> <a href="../elements/2ae78dc3-57f4-45cc-b82d-27713e45f8fa.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/39e1e975-07fb-483b-8721-fd4d242d3d71.html" target="element"> SUP.8.BP9 Manage the storage of configuration items and baselines </a> </td>
																		<td> <a href="../elements/67706ff9-a911-4c0e-ad97-a1f08a5a7770.html" target="element"> SUP.8.O.7 Storage of the configuration items is controlled </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/ed3f0ab6-2f37-4f60-b1cf-454fcb959d31.html" target="element">  </a> </td>
																		<td> <a href="../elements/ed3f0ab6-2f37-4f60-b1cf-454fcb959d31.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/e3bca416-4ac6-425e-ae02-d4bfacac4a8a.html" target="element"> 06-02 Handling and storage guide </a> </td>
																		<td> <a href="../elements/97b4bc82-f940-454b-aede-9e3a9df8d18c.html" target="element"> SUP.8.O.3 Modifications and releases of the configuration items are controlled </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/676a331a-031f-4e60-b437-ff67dc82c542.html" target="element">  </a> </td>
																		<td> <a href="../elements/676a331a-031f-4e60-b437-ff67dc82c542.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/e3bca416-4ac6-425e-ae02-d4bfacac4a8a.html" target="element"> 06-02 Handling and storage guide </a> </td>
																		<td> <a href="../elements/280be26e-7c18-4586-b9d4-11ebc7bcc746.html" target="element"> SUP.8.O.4 Modifications and releases are made available to affected parties </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2842471c-c76d-4b5f-9b98-b7bd12e490f5.html" target="element">  </a> </td>
																		<td> <a href="../elements/2842471c-c76d-4b5f-9b98-b7bd12e490f5.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/e3bca416-4ac6-425e-ae02-d4bfacac4a8a.html" target="element"> 06-02 Handling and storage guide </a> </td>
																		<td> <a href="../elements/ff782d34-5452-4b12-80a5-dce5385c5428.html" target="element"> SUP.8.O.5 The status of the configuration items and modifications is recorded and reported </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/01b5b41f-577a-4562-82e1-cebc9e26816d.html" target="element">  </a> </td>
																		<td> <a href="../elements/01b5b41f-577a-4562-82e1-cebc9e26816d.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/e3bca416-4ac6-425e-ae02-d4bfacac4a8a.html" target="element"> 06-02 Handling and storage guide </a> </td>
																		<td> <a href="../elements/67706ff9-a911-4c0e-ad97-a1f08a5a7770.html" target="element"> SUP.8.O.7 Storage of the configuration items is controlled </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/cc0bb8ee-dc7b-4058-8f66-079dc7b211c1.html" target="element">  </a> </td>
																		<td> <a href="../elements/cc0bb8ee-dc7b-4058-8f66-079dc7b211c1.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/dd99b419-9afb-43ec-9274-02788c9ea45a.html" target="element"> 08-04 Configuration management plan </a> </td>
																		<td> <a href="../elements/f8f8ba39-e0d5-4dc3-8197-f37649e38fcc.html" target="element"> SUP.8.O.1 A configuration management strategy is developed </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/52bb5ae1-8c26-4c92-97d0-91a6a8950293.html" target="element">  </a> </td>
																		<td> <a href="../elements/52bb5ae1-8c26-4c92-97d0-91a6a8950293.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/dd99b419-9afb-43ec-9274-02788c9ea45a.html" target="element"> 08-04 Configuration management plan </a> </td>
																		<td> <a href="../elements/11f69811-43e3-4f43-b813-0882f66fe945.html" target="element"> SUP.8.O.2 All configuration items generated by a process or project are identified, defined and baselined according to the configuration management strategy </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ea1e1bbb-4de5-4cc8-92b6-6664200bf499.html" target="element">  </a> </td>
																		<td> <a href="../elements/ea1e1bbb-4de5-4cc8-92b6-6664200bf499.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/dd99b419-9afb-43ec-9274-02788c9ea45a.html" target="element"> 08-04 Configuration management plan </a> </td>
																		<td> <a href="../elements/67706ff9-a911-4c0e-ad97-a1f08a5a7770.html" target="element"> SUP.8.O.7 Storage of the configuration items is controlled </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/5a033391-607d-4ede-a2a3-f4628e38c94e.html" target="element">  </a> </td>
																		<td> <a href="../elements/5a033391-607d-4ede-a2a3-f4628e38c94e.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/4707d232-e76e-451e-aa05-4680d55a60b6.html" target="element"> 08-14 Recovery plan </a> </td>
																		<td> <a href="../elements/f8f8ba39-e0d5-4dc3-8197-f37649e38fcc.html" target="element"> SUP.8.O.1 A configuration management strategy is developed </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/251aaf64-068f-4bd3-9af5-62305acbded9.html" target="element">  </a> </td>
																		<td> <a href="../elements/251aaf64-068f-4bd3-9af5-62305acbded9.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/4707d232-e76e-451e-aa05-4680d55a60b6.html" target="element"> 08-14 Recovery plan </a> </td>
																		<td> <a href="../elements/67706ff9-a911-4c0e-ad97-a1f08a5a7770.html" target="element"> SUP.8.O.7 Storage of the configuration items is controlled </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/aa7fcba7-b6a1-4538-994e-6cec0445b6cd.html" target="element">  </a> </td>
																		<td> <a href="../elements/aa7fcba7-b6a1-4538-994e-6cec0445b6cd.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/989cffd2-aff9-4920-aa7e-84357da7bd3a.html" target="element"> 13-08 Baseline </a> </td>
																		<td> <a href="../elements/11f69811-43e3-4f43-b813-0882f66fe945.html" target="element"> SUP.8.O.2 All configuration items generated by a process or project are identified, defined and baselined according to the configuration management strategy </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b52712d2-5160-45d8-88c5-a925ed361ab5.html" target="element">  </a> </td>
																		<td> <a href="../elements/b52712d2-5160-45d8-88c5-a925ed361ab5.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/989cffd2-aff9-4920-aa7e-84357da7bd3a.html" target="element"> 13-08 Baseline </a> </td>
																		<td> <a href="../elements/97b4bc82-f940-454b-aede-9e3a9df8d18c.html" target="element"> SUP.8.O.3 Modifications and releases of the configuration items are controlled </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/bc7c0039-b46b-436f-97be-3e6243a114f5.html" target="element">  </a> </td>
																		<td> <a href="../elements/bc7c0039-b46b-436f-97be-3e6243a114f5.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/989cffd2-aff9-4920-aa7e-84357da7bd3a.html" target="element"> 13-08 Baseline </a> </td>
																		<td> <a href="../elements/280be26e-7c18-4586-b9d4-11ebc7bcc746.html" target="element"> SUP.8.O.4 Modifications and releases are made available to affected parties </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2fd3d440-b979-48ef-bfcc-6ca17feaabdd.html" target="element">  </a> </td>
																		<td> <a href="../elements/2fd3d440-b979-48ef-bfcc-6ca17feaabdd.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/989cffd2-aff9-4920-aa7e-84357da7bd3a.html" target="element"> 13-08 Baseline </a> </td>
																		<td> <a href="../elements/ff782d34-5452-4b12-80a5-dce5385c5428.html" target="element"> SUP.8.O.5 The status of the configuration items and modifications is recorded and reported </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d5ff8130-14a3-4c64-ae1e-955d6dcb8e79.html" target="element">  </a> </td>
																		<td> <a href="../elements/d5ff8130-14a3-4c64-ae1e-955d6dcb8e79.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/989cffd2-aff9-4920-aa7e-84357da7bd3a.html" target="element"> 13-08 Baseline </a> </td>
																		<td> <a href="../elements/7a264a7d-debc-4d50-8e31-9cade69dccfb.html" target="element"> SUP.8.O.6 The completeness and consistency of the baselines is ensured </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/4f6f7f6e-66d6-4cf1-bb82-daae91436eda.html" target="element">  </a> </td>
																		<td> <a href="../elements/4f6f7f6e-66d6-4cf1-bb82-daae91436eda.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/37ca7baf-11d9-4457-a3d1-071285bcc7b1.html" target="element"> 13-10 Configuration management record </a> </td>
																		<td> <a href="../elements/11f69811-43e3-4f43-b813-0882f66fe945.html" target="element"> SUP.8.O.2 All configuration items generated by a process or project are identified, defined and baselined according to the configuration management strategy </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/410a3bf4-7b50-46ae-ac9c-4a6f798ac666.html" target="element">  </a> </td>
																		<td> <a href="../elements/410a3bf4-7b50-46ae-ac9c-4a6f798ac666.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/37ca7baf-11d9-4457-a3d1-071285bcc7b1.html" target="element"> 13-10 Configuration management record </a> </td>
																		<td> <a href="../elements/ff782d34-5452-4b12-80a5-dce5385c5428.html" target="element"> SUP.8.O.5 The status of the configuration items and modifications is recorded and reported </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c9d6bce2-bb55-4d19-96c6-ad6f6e44dd0f.html" target="element">  </a> </td>
																		<td> <a href="../elements/c9d6bce2-bb55-4d19-96c6-ad6f6e44dd0f.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/37ca7baf-11d9-4457-a3d1-071285bcc7b1.html" target="element"> 13-10 Configuration management record </a> </td>
																		<td> <a href="../elements/67706ff9-a911-4c0e-ad97-a1f08a5a7770.html" target="element"> SUP.8.O.7 Storage of the configuration items is controlled </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/fb75230f-564d-4b53-8349-df3f762f2614.html" target="element">  </a> </td>
																		<td> <a href="../elements/fb75230f-564d-4b53-8349-df3f762f2614.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/911eaef4-e67d-42a3-995f-9a1788bfa10f.html" target="element"> 14-01 Change history </a> </td>
																		<td> <a href="../elements/97b4bc82-f940-454b-aede-9e3a9df8d18c.html" target="element"> SUP.8.O.3 Modifications and releases of the configuration items are controlled </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/3a9acf9a-3a1e-4401-a978-fb81a6589e0d.html" target="element">  </a> </td>
																		<td> <a href="../elements/3a9acf9a-3a1e-4401-a978-fb81a6589e0d.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/dab630bb-f084-4f48-a288-8adb28ac5d81.html" target="element"> 16-03 Configuration management system </a> </td>
																		<td> <a href="../elements/f8f8ba39-e0d5-4dc3-8197-f37649e38fcc.html" target="element"> SUP.8.O.1 A configuration management strategy is developed </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9f18a620-d682-4412-b07a-c16ea3ba6f36.html" target="element">  </a> </td>
																		<td> <a href="../elements/9f18a620-d682-4412-b07a-c16ea3ba6f36.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/dab630bb-f084-4f48-a288-8adb28ac5d81.html" target="element"> 16-03 Configuration management system </a> </td>
																		<td> <a href="../elements/97b4bc82-f940-454b-aede-9e3a9df8d18c.html" target="element"> SUP.8.O.3 Modifications and releases of the configuration items are controlled </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a743b28b-c8a2-42f9-b8d1-5a0288fb8ce8.html" target="element">  </a> </td>
																		<td> <a href="../elements/a743b28b-c8a2-42f9-b8d1-5a0288fb8ce8.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/dab630bb-f084-4f48-a288-8adb28ac5d81.html" target="element"> 16-03 Configuration management system </a> </td>
																		<td> <a href="../elements/280be26e-7c18-4586-b9d4-11ebc7bcc746.html" target="element"> SUP.8.O.4 Modifications and releases are made available to affected parties </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>