<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Standard Information Structure</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Standard Information Structure</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/cf9b33b0-cffe-4448-82b6-4e9137ca6fe6.png" alt="Standard Information Structure" usemap="#cf9b33b0-cffe-4448-82b6-4e9137ca6fe6map"/>
			   <map name="cf9b33b0-cffe-4448-82b6-4e9137ca6fe6map">
				  		<area shape="rect" coords="410,513,554,568" href="../elements/1abc53fd-c581-4d70-a8fe-a95eac051bfc.html"  target="element">
				          <area shape="rect" coords="742,243,927,323" href="../objects/9cf10536-d215-47c3-9e49-43cf5f51e127.html" target="element" >
				  		<area shape="rect" coords="515,142,635,197" href="../elements/b5c89e5a-d3ee-42af-a444-2713f5c18e2f.html"  target="element">
				  		<area shape="rect" coords="430,243,550,298" href="../elements/87151399-73be-4722-922f-5f9932f88711.html"  target="element">
				  		<area shape="rect" coords="605,243,725,298" href="../elements/4381566f-782f-49bd-a383-f0362ed92afc.html"  target="element">
				  		<area shape="rect" coords="347,142,467,197" href="../elements/7142ac03-1b4b-49b4-8ddd-d3ccb43e1791.html"  target="element">
				          <area shape="rect" coords="742,357,927,437" href="../objects/e532c1a9-a851-48ef-8313-5129f9fd09cf.html" target="element" >
				  		<area shape="rect" coords="410,441,554,496" href="../elements/affa7104-03f2-45bd-adf8-95fcdc8fbb46.html"  target="element">
				  		<area shape="rect" coords="350,357,470,412" href="../elements/6426f6fd-dabd-48f4-818c-ad701e023961.html"  target="element">
				  		<area shape="rect" coords="502,357,622,412" href="../elements/f0b52f37-fd40-41c1-b165-fcee9aa91214.html"  target="element">
				  		<area shape="rect" coords="515,46,635,101" href="../elements/cb997a53-4965-45eb-a0d9-53722a484989.html"  target="element">
				  		<area shape="rect" coords="347,46,467,101" href="../elements/e9d3190a-21b1-41c9-9804-a23375cd6c97.html"  target="element">
				  		<area shape="rect" coords="10,369,188,424" href="../elements/f27d863c-f085-4819-bc05-e0183d7e67e2.html"  target="element">
				  		<area shape="rect" coords="10,297,188,352" href="../elements/897006c6-599e-4f78-b7a3-be25793e2e68.html"  target="element">
				  		<area shape="rect" coords="10,225,188,280" href="../elements/4cd143f3-f0fb-4a50-a4b4-65fbacd405e4.html"  target="element">
				  		<area shape="rect" coords="10,153,188,208" href="../elements/8877215f-6698-4d55-b51f-8378a11d518b.html"  target="element">
				  		<area shape="rect" coords="10,81,188,136" href="../elements/9b784d1b-b13c-4892-92ae-8f385d50ed2d.html"  target="element">
				  		<area shape="rect" coords="10,10,188,65" href="../elements/9cc1df10-60ef-47cf-a46e-e2a007a643ed.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/9cc1df10-60ef-47cf-a46e-e2a007a643ed.html" target="element"> Level 0: Incomplete Process </a> </td>
											    <td> <a href="../elements/9cc1df10-60ef-47cf-a46e-e2a007a643ed.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9b784d1b-b13c-4892-92ae-8f385d50ed2d.html" target="element"> Level 1: Performed Process </a> </td>
											    <td> <a href="../elements/9b784d1b-b13c-4892-92ae-8f385d50ed2d.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8877215f-6698-4d55-b51f-8378a11d518b.html" target="element"> Level 2: Managed Process </a> </td>
											    <td> <a href="../elements/8877215f-6698-4d55-b51f-8378a11d518b.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4cd143f3-f0fb-4a50-a4b4-65fbacd405e4.html" target="element"> Level 3: Established Process </a> </td>
											    <td> <a href="../elements/4cd143f3-f0fb-4a50-a4b4-65fbacd405e4.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/897006c6-599e-4f78-b7a3-be25793e2e68.html" target="element"> Level 4: Predictable Process  </a> </td>
											    <td> <a href="../elements/897006c6-599e-4f78-b7a3-be25793e2e68.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f27d863c-f085-4819-bc05-e0183d7e67e2.html" target="element"> Level 5: Innovating Process </a> </td>
											    <td> <a href="../elements/f27d863c-f085-4819-bc05-e0183d7e67e2.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e9d3190a-21b1-41c9-9804-a23375cd6c97.html" target="element"> Work Product </a> </td>
											    <td> <a href="../elements/e9d3190a-21b1-41c9-9804-a23375cd6c97.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cb997a53-4965-45eb-a0d9-53722a484989.html" target="element"> Work Product Characteristic </a> </td>
											    <td> <a href="../elements/cb997a53-4965-45eb-a0d9-53722a484989.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f0b52f37-fd40-41c1-b165-fcee9aa91214.html" target="element"> Generic Practice (GP) </a> </td>
											    <td> <a href="../elements/f0b52f37-fd40-41c1-b165-fcee9aa91214.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6426f6fd-dabd-48f4-818c-ad701e023961.html" target="element"> Generic Resource (GR) </a> </td>
											    <td> <a href="../elements/6426f6fd-dabd-48f4-818c-ad701e023961.html" target="element" class="i18n-elementtype-Resource"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/affa7104-03f2-45bd-adf8-95fcdc8fbb46.html" target="element"> Process Attribute </a> </td>
											    <td> <a href="../elements/affa7104-03f2-45bd-adf8-95fcdc8fbb46.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/e532c1a9-a851-48ef-8313-5129f9fd09cf.html" target="element">  </a> </td>
									           <td> <a href="../objects/e532c1a9-a851-48ef-8313-5129f9fd09cf.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/7142ac03-1b4b-49b4-8ddd-d3ccb43e1791.html" target="element"> Output Work Product Description </a> </td>
											    <td> <a href="../elements/7142ac03-1b4b-49b4-8ddd-d3ccb43e1791.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4381566f-782f-49bd-a383-f0362ed92afc.html" target="element"> Process Reference Model </a> </td>
											    <td> <a href="../elements/4381566f-782f-49bd-a383-f0362ed92afc.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/87151399-73be-4722-922f-5f9932f88711.html" target="element"> Performance Indicator </a> </td>
											    <td> <a href="../elements/87151399-73be-4722-922f-5f9932f88711.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b5c89e5a-d3ee-42af-a444-2713f5c18e2f.html" target="element"> Best Practice (BP) Description </a> </td>
											    <td> <a href="../elements/b5c89e5a-d3ee-42af-a444-2713f5c18e2f.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/9cf10536-d215-47c3-9e49-43cf5f51e127.html" target="element">  </a> </td>
									           <td> <a href="../objects/9cf10536-d215-47c3-9e49-43cf5f51e127.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/1abc53fd-c581-4d70-a8fe-a95eac051bfc.html" target="element"> Capability Indicator </a> </td>
											    <td> <a href="../elements/1abc53fd-c581-4d70-a8fe-a95eac051bfc.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/8282e444-7895-478a-ad73-6a43aed13b34.html" target="element">  </a> </td>
																		<td> <a href="../elements/8282e444-7895-478a-ad73-6a43aed13b34.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/affa7104-03f2-45bd-adf8-95fcdc8fbb46.html" target="element"> Process Attribute </a> </td>
																		<td> <a href="../elements/6426f6fd-dabd-48f4-818c-ad701e023961.html" target="element"> Generic Resource (GR) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c3c7436a-7744-4f33-b8b8-9f4884ca7fd2.html" target="element">  </a> </td>
																		<td> <a href="../elements/c3c7436a-7744-4f33-b8b8-9f4884ca7fd2.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/affa7104-03f2-45bd-adf8-95fcdc8fbb46.html" target="element"> Process Attribute </a> </td>
																		<td> <a href="../elements/f0b52f37-fd40-41c1-b165-fcee9aa91214.html" target="element"> Generic Practice (GP) </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/93b449dd-7d7f-4568-9bab-60937a5d5628.html" target="element">  </a> </td>
																		<td> <a href="../elements/93b449dd-7d7f-4568-9bab-60937a5d5628.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/7142ac03-1b4b-49b4-8ddd-d3ccb43e1791.html" target="element"> Output Work Product Description </a> </td>
																		<td> <a href="../elements/e9d3190a-21b1-41c9-9804-a23375cd6c97.html" target="element"> Work Product </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8e7f56ed-8866-493d-8ed7-489ac4dc0268.html" target="element">  </a> </td>
																		<td> <a href="../elements/8e7f56ed-8866-493d-8ed7-489ac4dc0268.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/7142ac03-1b4b-49b4-8ddd-d3ccb43e1791.html" target="element"> Output Work Product Description </a> </td>
																		<td> <a href="../elements/87151399-73be-4722-922f-5f9932f88711.html" target="element"> Performance Indicator </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/626bd917-d629-4149-b2fa-f560e9763f68.html" target="element">  </a> </td>
																		<td> <a href="../elements/626bd917-d629-4149-b2fa-f560e9763f68.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/87151399-73be-4722-922f-5f9932f88711.html" target="element"> Performance Indicator </a> </td>
																		<td> <a href="../elements/4381566f-782f-49bd-a383-f0362ed92afc.html" target="element"> Process Reference Model </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/170f5508-0fd7-4eb3-b676-2eb4aca18c57.html" target="element">  </a> </td>
																		<td> <a href="../elements/170f5508-0fd7-4eb3-b676-2eb4aca18c57.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/b5c89e5a-d3ee-42af-a444-2713f5c18e2f.html" target="element"> Best Practice (BP) Description </a> </td>
																		<td> <a href="../elements/87151399-73be-4722-922f-5f9932f88711.html" target="element"> Performance Indicator </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>