<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>O. vs. BP. vs. WP. - ACQ.11 Technical Requirements</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>O. vs. BP. vs. WP. - ACQ.11 Technical Requirements</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/d056b1f6-54fc-4d36-9ac5-78d9ace49265.png" alt="O. vs. BP. vs. WP. - ACQ.11 Technical Requirements" usemap="#d056b1f6-54fc-4d36-9ac5-78d9ace49265map"/>
			   <map name="d056b1f6-54fc-4d36-9ac5-78d9ace49265map">
				  		<area shape="rect" coords="850,766,995,821" href="../views/342a48f1-f993-43c6-90c1-9f6a9e117a5a.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="850,827,995,882" href="../views/9e94f80f-8775-4044-8110-6a872c99ec05.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="1570,82,1775,137" href="../elements/bcd1ac0a-d3fa-43ab-9d33-444fc2e9f037.html"  target="element">
				  		<area shape="rect" coords="1354,82,1559,137" href="../elements/24591a93-cf53-4bd9-8f2d-654af31d22f7.html"  target="element">
				  		<area shape="rect" coords="706,82,911,137" href="../elements/ef9f16a2-45b6-40a4-bc83-7509ae66d819.html"  target="element">
				  		<area shape="rect" coords="874,10,1079,65" href="../elements/659abd11-6b0f-4cba-961c-837b40ab3cf3.html"  target="element">
				  		<area shape="rect" coords="226,10,431,65" href="../elements/c53d179b-c834-4852-96a0-d19b75b98d2c.html"  target="element">
				  		<area shape="rect" coords="442,10,647,65" href="../elements/5fa63a43-d56e-4f79-afc8-68365ef9738f.html"  target="element">
				  		<area shape="rect" coords="922,82,1127,137" href="../elements/4bd8f29e-25d5-4a29-847c-0c6c326d6139.html"  target="element">
				  		<area shape="rect" coords="658,10,863,65" href="../elements/f38f4f33-4d29-40ae-b8ec-7934cad4f517.html"  target="element">
				  		<area shape="rect" coords="1138,82,1343,137" href="../elements/ddd3196f-19f6-44af-9692-f30648058f33.html"  target="element">
				  		<area shape="rect" coords="10,10,215,65" href="../elements/57f87784-769c-4e75-9465-b10e222c414a.html"  target="element">
				  		<area shape="rect" coords="1570,562,1715,617" href="../elements/6e9e4b02-7291-4bf6-adf1-d17b044f9df8.html"  target="element">
				  		<area shape="rect" coords="1414,562,1559,617" href="../elements/90146306-4004-48b7-b8ce-c00c995a35cc.html"  target="element">
				  		<area shape="rect" coords="1258,562,1403,617" href="../elements/a3b90380-1c92-4faf-a3b6-9b496bc0300c.html"  target="element">
				  		<area shape="rect" coords="1102,562,1247,617" href="../elements/3400d0a7-31c3-46f8-8e99-a25fad4ca5d5.html"  target="element">
				  		<area shape="rect" coords="946,562,1091,617" href="../elements/911eaef4-e67d-42a3-995f-9a1788bfa10f.html"  target="element">
				  		<area shape="rect" coords="790,562,935,617" href="../elements/41faa713-0cad-471d-970c-7d23ba25d6c1.html"  target="element">
				  		<area shape="rect" coords="634,562,779,617" href="../elements/90ada978-e397-4600-878f-60e697a70705.html"  target="element">
				  		<area shape="rect" coords="478,562,623,617" href="../elements/97f22f20-be37-4c22-8046-7f8f8d093fa3.html"  target="element">
				  		<area shape="rect" coords="322,562,467,617" href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html"  target="element">
				  		<area shape="rect" coords="166,562,311,617" href="../elements/65970dfc-b150-4851-87bb-f5a2e7b501b1.html"  target="element">
				  		<area shape="rect" coords="10,562,155,617" href="../elements/35294d69-f129-4592-b36e-c9639a4201cb.html"  target="element">
				  		<area shape="rect" coords="10,430,1727,464" href="../elements/1aa77c5d-e68e-45cd-ae8b-8373b2d137b4.html"  target="element">
				  		<area shape="rect" coords="10,382,1727,416" href="../elements/dcbe2e6d-e200-4192-9573-393ed9cc5d36.html"  target="element">
				  		<area shape="rect" coords="10,334,1727,368" href="../elements/5c17efbf-6764-4151-bdbe-9a021fb6ff3d.html"  target="element">
				  		<area shape="rect" coords="10,286,1727,320" href="../elements/4c9da5c9-33cc-4d30-8f26-ffe629b19f4c.html"  target="element">
				  		<area shape="rect" coords="10,238,1727,272" href="../elements/1f9d57c6-e530-4a3d-8578-329d57b8123d.html"  target="element">
				  		<area shape="rect" coords="10,190,1727,224" href="../elements/14fd6c58-7619-4770-a132-8cc31f094fdc.html"  target="element">
				          <area shape="rect" coords="10,766,839,882" href="../objects/9e780e95-a05b-4502-b2f7-bf7471c66c14.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">This view answers the following questions:
- If I implement and deploy the Base Practice (BP) ***, how can I verify if I did it properly? What outcomes shall be achieved?
- If I implement and demploy the Outcome Work Product ***, how can I verify if I did it properly? What outcomes shall be achieved?

Scope of this view - Outcomes, Base Practices and their relations for ASPICE process ACQ.11 Technical Requirements

Latest version and docs can be found here: https://github.com/alef1986/ASPICE-Archi</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/9e780e95-a05b-4502-b2f7-bf7471c66c14.html" target="element">  </a> </td>
									           <td> <a href="../objects/9e780e95-a05b-4502-b2f7-bf7471c66c14.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/14fd6c58-7619-4770-a132-8cc31f094fdc.html" target="element"> ACQ.11.O.1 The technical requirements, including environment effect evaluation,safety and security requirements where appropriate, are defined anddeveloped to match needs and expectations </a> </td>
											    <td> <a href="../elements/14fd6c58-7619-4770-a132-8cc31f094fdc.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1f9d57c6-e530-4a3d-8578-329d57b8123d.html" target="element"> ACQ.11.O.2 The current and evolving acquisition needs are gathered and defined </a> </td>
											    <td> <a href="../elements/1f9d57c6-e530-4a3d-8578-329d57b8123d.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4c9da5c9-33cc-4d30-8f26-ffe629b19f4c.html" target="element"> ACQ.11.O.3 The requirements and potential solutions are communicated to allaffected groups </a> </td>
											    <td> <a href="../elements/4c9da5c9-33cc-4d30-8f26-ffe629b19f4c.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5c17efbf-6764-4151-bdbe-9a021fb6ff3d.html" target="element"> ACQ.11.O.4 A mechanism is established to incorporate changed or newrequirements into the established baseline </a> </td>
											    <td> <a href="../elements/5c17efbf-6764-4151-bdbe-9a021fb6ff3d.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/dcbe2e6d-e200-4192-9573-393ed9cc5d36.html" target="element"> ACQ.11.O.5 A mechanism for identifying and managing the impact of changingtechnology to the technical requirements is defined </a> </td>
											    <td> <a href="../elements/dcbe2e6d-e200-4192-9573-393ed9cc5d36.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1aa77c5d-e68e-45cd-ae8b-8373b2d137b4.html" target="element"> ACQ.11.O.6 The requirements include compliance with relevant standards,including environment effect evaluation, safety and security standardswhere appropriate </a> </td>
											    <td> <a href="../elements/1aa77c5d-e68e-45cd-ae8b-8373b2d137b4.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/35294d69-f129-4592-b36e-c9639a4201cb.html" target="element"> 08-28 Change management plan  </a> </td>
											    <td> <a href="../elements/35294d69-f129-4592-b36e-c9639a4201cb.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/65970dfc-b150-4851-87bb-f5a2e7b501b1.html" target="element"> 08-51 Technology monitoring plan </a> </td>
											    <td> <a href="../elements/65970dfc-b150-4851-87bb-f5a2e7b501b1.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element"> 13-04 Communication Record </a> </td>
											    <td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/97f22f20-be37-4c22-8046-7f8f8d093fa3.html" target="element"> 13-17 Customer request </a> </td>
											    <td> <a href="../elements/97f22f20-be37-4c22-8046-7f8f8d093fa3.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/90ada978-e397-4600-878f-60e697a70705.html" target="element"> 13-21 Change control record </a> </td>
											    <td> <a href="../elements/90ada978-e397-4600-878f-60e697a70705.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/41faa713-0cad-471d-970c-7d23ba25d6c1.html" target="element"> 13-24 Validation results </a> </td>
											    <td> <a href="../elements/41faa713-0cad-471d-970c-7d23ba25d6c1.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/911eaef4-e67d-42a3-995f-9a1788bfa10f.html" target="element"> 14-01 Change history </a> </td>
											    <td> <a href="../elements/911eaef4-e67d-42a3-995f-9a1788bfa10f.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3400d0a7-31c3-46f8-8e99-a25fad4ca5d5.html" target="element"> 14-02 Corrective Action Register </a> </td>
											    <td> <a href="../elements/3400d0a7-31c3-46f8-8e99-a25fad4ca5d5.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a3b90380-1c92-4faf-a3b6-9b496bc0300c.html" target="element"> 14-50 Stakeholder Groups List </a> </td>
											    <td> <a href="../elements/a3b90380-1c92-4faf-a3b6-9b496bc0300c.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/90146306-4004-48b7-b8ce-c00c995a35cc.html" target="element"> 17-00 Requirement specification </a> </td>
											    <td> <a href="../elements/90146306-4004-48b7-b8ce-c00c995a35cc.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6e9e4b02-7291-4bf6-adf1-d17b044f9df8.html" target="element"> 17-03 Customer requirements </a> </td>
											    <td> <a href="../elements/6e9e4b02-7291-4bf6-adf1-d17b044f9df8.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/57f87784-769c-4e75-9465-b10e222c414a.html" target="element"> ACQ.11.BP1 Elicit needs </a> </td>
											    <td> <a href="../elements/57f87784-769c-4e75-9465-b10e222c414a.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ddd3196f-19f6-44af-9692-f30648058f33.html" target="element"> ACQ.11.BP8 Track impact of changing technology </a> </td>
											    <td> <a href="../elements/ddd3196f-19f6-44af-9692-f30648058f33.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f38f4f33-4d29-40ae-b8ec-7934cad4f517.html" target="element"> ACQ.11.BP4 Ensure consistency </a> </td>
											    <td> <a href="../elements/f38f4f33-4d29-40ae-b8ec-7934cad4f517.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4bd8f29e-25d5-4a29-847c-0c6c326d6139.html" target="element"> ACQ.11.BP7 Establish a change mechanism </a> </td>
											    <td> <a href="../elements/4bd8f29e-25d5-4a29-847c-0c6c326d6139.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5fa63a43-d56e-4f79-afc8-68365ef9738f.html" target="element"> ACQ.11.BP3 Identify acquisition needs </a> </td>
											    <td> <a href="../elements/5fa63a43-d56e-4f79-afc8-68365ef9738f.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c53d179b-c834-4852-96a0-d19b75b98d2c.html" target="element"> ACQ.11.BP2 Define technical requirements </a> </td>
											    <td> <a href="../elements/c53d179b-c834-4852-96a0-d19b75b98d2c.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/659abd11-6b0f-4cba-961c-837b40ab3cf3.html" target="element"> ACQ.11.BP5 Identify affected groups </a> </td>
											    <td> <a href="../elements/659abd11-6b0f-4cba-961c-837b40ab3cf3.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ef9f16a2-45b6-40a4-bc83-7509ae66d819.html" target="element"> ACQ.11.BP6 Communicate to affected groups </a> </td>
											    <td> <a href="../elements/ef9f16a2-45b6-40a4-bc83-7509ae66d819.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/24591a93-cf53-4bd9-8f2d-654af31d22f7.html" target="element"> ACQ.11.BP9 Identify constraints and standards </a> </td>
											    <td> <a href="../elements/24591a93-cf53-4bd9-8f2d-654af31d22f7.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/bcd1ac0a-d3fa-43ab-9d33-444fc2e9f037.html" target="element"> ACQ.11.BP10 Ensure compliance of stated requirements </a> </td>
											    <td> <a href="../elements/bcd1ac0a-d3fa-43ab-9d33-444fc2e9f037.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../views/9e94f80f-8775-4044-8110-6a872c99ec05.html" target="view"> Overview - Process Reference Model </a> </td>
											    <td> <a href="../views/9e94f80f-8775-4044-8110-6a872c99ec05.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/342a48f1-f993-43c6-90c1-9f6a9e117a5a.html" target="view"> Overview - ACQ.11 Technical Requirements </a> </td>
											    <td> <a href="../views/342a48f1-f993-43c6-90c1-9f6a9e117a5a.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/c89e67fa-8c03-4e12-8dc3-fa49e59b35aa.html" target="element">  </a> </td>
																		<td> <a href="../elements/c89e67fa-8c03-4e12-8dc3-fa49e59b35aa.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/35294d69-f129-4592-b36e-c9639a4201cb.html" target="element"> 08-28 Change management plan  </a> </td>
																		<td> <a href="../elements/5c17efbf-6764-4151-bdbe-9a021fb6ff3d.html" target="element"> ACQ.11.O.4 A mechanism is established to incorporate changed or newrequirements into the established baseline </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/ff5b59bb-faa8-4ef4-9e32-e5027d884306.html" target="element">  </a> </td>
																		<td> <a href="../elements/ff5b59bb-faa8-4ef4-9e32-e5027d884306.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/65970dfc-b150-4851-87bb-f5a2e7b501b1.html" target="element"> 08-51 Technology monitoring plan </a> </td>
																		<td> <a href="../elements/dcbe2e6d-e200-4192-9573-393ed9cc5d36.html" target="element"> ACQ.11.O.5 A mechanism for identifying and managing the impact of changingtechnology to the technical requirements is defined </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/ac40044b-8d9e-4af5-9e0c-e8b7f021c8fd.html" target="element">  </a> </td>
																		<td> <a href="../elements/ac40044b-8d9e-4af5-9e0c-e8b7f021c8fd.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element"> 13-04 Communication Record </a> </td>
																		<td> <a href="../elements/4c9da5c9-33cc-4d30-8f26-ffe629b19f4c.html" target="element"> ACQ.11.O.3 The requirements and potential solutions are communicated to allaffected groups </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/b239843b-e61a-4281-9078-0e717ab50f4a.html" target="element">  </a> </td>
																		<td> <a href="../elements/b239843b-e61a-4281-9078-0e717ab50f4a.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/97f22f20-be37-4c22-8046-7f8f8d093fa3.html" target="element"> 13-17 Customer request </a> </td>
																		<td> <a href="../elements/14fd6c58-7619-4770-a132-8cc31f094fdc.html" target="element"> ACQ.11.O.1 The technical requirements, including environment effect evaluation,safety and security requirements where appropriate, are defined anddeveloped to match needs and expectations </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/8c49320a-8c48-4c78-8f43-a590c67332b4.html" target="element">  </a> </td>
																		<td> <a href="../elements/8c49320a-8c48-4c78-8f43-a590c67332b4.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/90ada978-e397-4600-878f-60e697a70705.html" target="element"> 13-21 Change control record </a> </td>
																		<td> <a href="../elements/1f9d57c6-e530-4a3d-8578-329d57b8123d.html" target="element"> ACQ.11.O.2 The current and evolving acquisition needs are gathered and defined </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/d20e66d2-f0e8-4cb0-a969-3041146c9f46.html" target="element">  </a> </td>
																		<td> <a href="../elements/d20e66d2-f0e8-4cb0-a969-3041146c9f46.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/41faa713-0cad-471d-970c-7d23ba25d6c1.html" target="element"> 13-24 Validation results </a> </td>
																		<td> <a href="../elements/1aa77c5d-e68e-45cd-ae8b-8373b2d137b4.html" target="element"> ACQ.11.O.6 The requirements include compliance with relevant standards,including environment effect evaluation, safety and security standardswhere appropriate </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/90d64308-1dac-4b31-9d5e-926da733a262.html" target="element">  </a> </td>
																		<td> <a href="../elements/90d64308-1dac-4b31-9d5e-926da733a262.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/911eaef4-e67d-42a3-995f-9a1788bfa10f.html" target="element"> 14-01 Change history </a> </td>
																		<td> <a href="../elements/1f9d57c6-e530-4a3d-8578-329d57b8123d.html" target="element"> ACQ.11.O.2 The current and evolving acquisition needs are gathered and defined </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/ed0d9c41-901b-423f-915c-df07819cbd46.html" target="element">  </a> </td>
																		<td> <a href="../elements/ed0d9c41-901b-423f-915c-df07819cbd46.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/3400d0a7-31c3-46f8-8e99-a25fad4ca5d5.html" target="element"> 14-02 Corrective Action Register </a> </td>
																		<td> <a href="../elements/1f9d57c6-e530-4a3d-8578-329d57b8123d.html" target="element"> ACQ.11.O.2 The current and evolving acquisition needs are gathered and defined </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/caae0e96-6f0d-48ee-8821-be585818aeeb.html" target="element">  </a> </td>
																		<td> <a href="../elements/caae0e96-6f0d-48ee-8821-be585818aeeb.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/a3b90380-1c92-4faf-a3b6-9b496bc0300c.html" target="element"> 14-50 Stakeholder Groups List </a> </td>
																		<td> <a href="../elements/14fd6c58-7619-4770-a132-8cc31f094fdc.html" target="element"> ACQ.11.O.1 The technical requirements, including environment effect evaluation,safety and security requirements where appropriate, are defined anddeveloped to match needs and expectations </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/c1b8d331-12ae-46a4-be7d-962dea273b12.html" target="element">  </a> </td>
																		<td> <a href="../elements/c1b8d331-12ae-46a4-be7d-962dea273b12.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/90146306-4004-48b7-b8ce-c00c995a35cc.html" target="element"> 17-00 Requirement specification </a> </td>
																		<td> <a href="../elements/1aa77c5d-e68e-45cd-ae8b-8373b2d137b4.html" target="element"> ACQ.11.O.6 The requirements include compliance with relevant standards,including environment effect evaluation, safety and security standardswhere appropriate </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/b46f34a9-3484-4bc0-867a-9af3ab60212e.html" target="element">  </a> </td>
																		<td> <a href="../elements/b46f34a9-3484-4bc0-867a-9af3ab60212e.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/6e9e4b02-7291-4bf6-adf1-d17b044f9df8.html" target="element"> 17-03 Customer requirements </a> </td>
																		<td> <a href="../elements/1aa77c5d-e68e-45cd-ae8b-8373b2d137b4.html" target="element"> ACQ.11.O.6 The requirements include compliance with relevant standards,including environment effect evaluation, safety and security standardswhere appropriate </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/28677fb6-dd55-43a7-9542-bde81ce3db10.html" target="element">  </a> </td>
																		<td> <a href="../elements/28677fb6-dd55-43a7-9542-bde81ce3db10.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/57f87784-769c-4e75-9465-b10e222c414a.html" target="element"> ACQ.11.BP1 Elicit needs </a> </td>
																		<td> <a href="../elements/14fd6c58-7619-4770-a132-8cc31f094fdc.html" target="element"> ACQ.11.O.1 The technical requirements, including environment effect evaluation,safety and security requirements where appropriate, are defined anddeveloped to match needs and expectations </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/8fb66b12-355e-44a1-b5b6-a3534dafd2de.html" target="element">  </a> </td>
																		<td> <a href="../elements/8fb66b12-355e-44a1-b5b6-a3534dafd2de.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/ddd3196f-19f6-44af-9692-f30648058f33.html" target="element"> ACQ.11.BP8 Track impact of changing technology </a> </td>
																		<td> <a href="../elements/dcbe2e6d-e200-4192-9573-393ed9cc5d36.html" target="element"> ACQ.11.O.5 A mechanism for identifying and managing the impact of changingtechnology to the technical requirements is defined </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/fdb6b9ed-b1bc-471b-afea-6d1306fc3332.html" target="element">  </a> </td>
																		<td> <a href="../elements/fdb6b9ed-b1bc-471b-afea-6d1306fc3332.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/f38f4f33-4d29-40ae-b8ec-7934cad4f517.html" target="element"> ACQ.11.BP4 Ensure consistency </a> </td>
																		<td> <a href="../elements/1f9d57c6-e530-4a3d-8578-329d57b8123d.html" target="element"> ACQ.11.O.2 The current and evolving acquisition needs are gathered and defined </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/0c3baa4d-3046-4197-a020-d0ba9c13191c.html" target="element">  </a> </td>
																		<td> <a href="../elements/0c3baa4d-3046-4197-a020-d0ba9c13191c.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/4bd8f29e-25d5-4a29-847c-0c6c326d6139.html" target="element"> ACQ.11.BP7 Establish a change mechanism </a> </td>
																		<td> <a href="../elements/5c17efbf-6764-4151-bdbe-9a021fb6ff3d.html" target="element"> ACQ.11.O.4 A mechanism is established to incorporate changed or newrequirements into the established baseline </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/d04f5046-f579-44c6-8778-b6f1284fa0ba.html" target="element">  </a> </td>
																		<td> <a href="../elements/d04f5046-f579-44c6-8778-b6f1284fa0ba.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/5fa63a43-d56e-4f79-afc8-68365ef9738f.html" target="element"> ACQ.11.BP3 Identify acquisition needs </a> </td>
																		<td> <a href="../elements/1f9d57c6-e530-4a3d-8578-329d57b8123d.html" target="element"> ACQ.11.O.2 The current and evolving acquisition needs are gathered and defined </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/e38622a5-394a-4854-8a51-1b329d89d60c.html" target="element">  </a> </td>
																		<td> <a href="../elements/e38622a5-394a-4854-8a51-1b329d89d60c.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/c53d179b-c834-4852-96a0-d19b75b98d2c.html" target="element"> ACQ.11.BP2 Define technical requirements </a> </td>
																		<td> <a href="../elements/14fd6c58-7619-4770-a132-8cc31f094fdc.html" target="element"> ACQ.11.O.1 The technical requirements, including environment effect evaluation,safety and security requirements where appropriate, are defined anddeveloped to match needs and expectations </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/9fd06e6b-d0bb-4645-9f30-d1bf3b2752bf.html" target="element">  </a> </td>
																		<td> <a href="../elements/9fd06e6b-d0bb-4645-9f30-d1bf3b2752bf.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/659abd11-6b0f-4cba-961c-837b40ab3cf3.html" target="element"> ACQ.11.BP5 Identify affected groups </a> </td>
																		<td> <a href="../elements/4c9da5c9-33cc-4d30-8f26-ffe629b19f4c.html" target="element"> ACQ.11.O.3 The requirements and potential solutions are communicated to allaffected groups </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6eba0b10-7038-4d2a-ba7d-ec395ab7ecf8.html" target="element">  </a> </td>
																		<td> <a href="../elements/6eba0b10-7038-4d2a-ba7d-ec395ab7ecf8.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/ef9f16a2-45b6-40a4-bc83-7509ae66d819.html" target="element"> ACQ.11.BP6 Communicate to affected groups </a> </td>
																		<td> <a href="../elements/4c9da5c9-33cc-4d30-8f26-ffe629b19f4c.html" target="element"> ACQ.11.O.3 The requirements and potential solutions are communicated to allaffected groups </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/c51860d3-5ad0-417f-9e1d-9924eb7d6540.html" target="element">  </a> </td>
																		<td> <a href="../elements/c51860d3-5ad0-417f-9e1d-9924eb7d6540.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/24591a93-cf53-4bd9-8f2d-654af31d22f7.html" target="element"> ACQ.11.BP9 Identify constraints and standards </a> </td>
																		<td> <a href="../elements/1aa77c5d-e68e-45cd-ae8b-8373b2d137b4.html" target="element"> ACQ.11.O.6 The requirements include compliance with relevant standards,including environment effect evaluation, safety and security standardswhere appropriate </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/ee148f06-e4d7-4c62-a8f0-08e33fd89468.html" target="element">  </a> </td>
																		<td> <a href="../elements/ee148f06-e4d7-4c62-a8f0-08e33fd89468.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/bcd1ac0a-d3fa-43ab-9d33-444fc2e9f037.html" target="element"> ACQ.11.BP10 Ensure compliance of stated requirements </a> </td>
																		<td> <a href="../elements/1aa77c5d-e68e-45cd-ae8b-8373b2d137b4.html" target="element"> ACQ.11.O.6 The requirements include compliance with relevant standards,including environment effect evaluation, safety and security standardswhere appropriate </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>