<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Overview - SWE.2 Software Architectural Design</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Overview - SWE.2 Software Architectural Design</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/d0bb5cf3-6c15-42ca-ac8c-4dda7e98c01f.png" alt="Overview - SWE.2 Software Architectural Design" usemap="#d0bb5cf3-6c15-42ca-ac8c-4dda7e98c01fmap"/>
			   <map name="d0bb5cf3-6c15-42ca-ac8c-4dda7e98c01fmap">
				  		<area shape="rect" coords="562,514,767,569" href="../elements/b846e279-64bb-4f1d-b21c-88ec6d53ed0a.html"  target="element">
				  		<area shape="rect" coords="562,454,767,509" href="../elements/27d1998c-afb9-4d93-9df6-b6d8ff6e8a0e.html"  target="element">
				  		<area shape="rect" coords="562,394,767,449" href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html"  target="element">
				  		<area shape="rect" coords="562,334,767,389" href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html"  target="element">
				  		<area shape="rect" coords="562,274,767,329" href="../elements/7b678095-7928-4b0b-a2aa-6c9f3ed39d0c.html"  target="element">
				  		<area shape="rect" coords="10,106,248,191" href="../elements/526386ed-78de-4ee9-9ee2-e56713257654.html"  target="element">
				  		<area shape="rect" coords="1018,10,1256,95" href="../elements/50df8afb-6c1c-48b2-831c-0f9a1c2b49fa.html"  target="element">
				  		<area shape="rect" coords="766,10,1004,95" href="../elements/f75ebf8b-1c4e-4e43-a65d-3049c244046a.html"  target="element">
				  		<area shape="rect" coords="514,10,752,95" href="../elements/84c23319-4663-493d-b5fe-4ddef52fd744.html"  target="element">
				  		<area shape="rect" coords="262,10,500,95" href="../elements/2a2ab11b-4f3d-4a8b-8341-7d296e18defa.html"  target="element">
				  		<area shape="rect" coords="10,10,248,95" href="../elements/69887345-c4ae-454e-83d1-bf6eb58b8d83.html"  target="element">
				  				<area shape="rect" coords="202,791,479,846" href="../elements/28cbb4a6-7ba7-4c3d-83a5-50e54bc7d739.html"  target="element">
				  				<area shape="rect" coords="202,731,479,786" href="../elements/924d5663-595a-4f1c-972e-83d932bcf9b0.html"  target="element">
				  				<area shape="rect" coords="202,671,479,726" href="../elements/c4a6ddcb-9d9e-4e6b-b832-6eb5fd30f6c3.html"  target="element">
				  				<area shape="rect" coords="202,611,479,666" href="../elements/877133bd-943a-4fb0-a25d-89d5bcec95a8.html"  target="element">
				  				<area shape="rect" coords="202,311,479,366" href="../elements/a5f92c8e-4c0d-4ef0-8c67-34531344dc51.html"  target="element">
				  				<area shape="rect" coords="202,491,479,546" href="../elements/8a546dc9-df3a-4f4d-b4f2-8f5a58564832.html"  target="element">
				  				<area shape="rect" coords="202,551,479,606" href="../elements/87e23129-3512-473e-a67f-1d1c3c4eaf70.html"  target="element">
				  				<area shape="rect" coords="202,371,479,426" href="../elements/1ab6c5be-0f1a-4b9a-9274-1d55785f8734.html"  target="element">
				  				<area shape="rect" coords="202,431,479,486" href="../elements/f6a7fc64-48eb-40ee-8c2d-b05395e7b88a.html"  target="element">

				  		<area shape="rect" coords="190,275,491,863" href="../elements/989fd6d3-9664-464c-a1d4-2a73076d8e8f.html"  target="element">
				          <area shape="rect" coords="994,274,1232,827" href="../objects/77095cad-5dfa-4dad-b706-1c10dd7673fc.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">This view describes SWE.2 Software Architectural Design Process, its outputs and outcomes

Relation of Outcomes to Outputs and Base Practices is out of scope of this view. See respective view for these details.

Latest version and docs can be found here: https://github.com/alef1986/ASPICE-Archi

Source of information for this view is Automotive SPICE Standards v.3.1
(http://www.automotivespice.com/fileadmin/software-download/AutomotiveSPICE_PAM_31.pdf)</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/77095cad-5dfa-4dad-b706-1c10dd7673fc.html" target="element">  </a> </td>
									           <td> <a href="../objects/77095cad-5dfa-4dad-b706-1c10dd7673fc.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/989fd6d3-9664-464c-a1d4-2a73076d8e8f.html" target="element"> SWE.2 Software Architectural Design </a> </td>
											    <td> <a href="../elements/989fd6d3-9664-464c-a1d4-2a73076d8e8f.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/f6a7fc64-48eb-40ee-8c2d-b05395e7b88a.html" target="element"> SWE.2.BP3 Define interfaces of software elements </a> </td>
													    <td> <a href="../elements/f6a7fc64-48eb-40ee-8c2d-b05395e7b88a.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/1ab6c5be-0f1a-4b9a-9274-1d55785f8734.html" target="element"> SWE.2.BP2 Allocate software requirements </a> </td>
													    <td> <a href="../elements/1ab6c5be-0f1a-4b9a-9274-1d55785f8734.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/87e23129-3512-473e-a67f-1d1c3c4eaf70.html" target="element"> SWE.2.BP5 Define resource consumption objectives </a> </td>
													    <td> <a href="../elements/87e23129-3512-473e-a67f-1d1c3c4eaf70.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/8a546dc9-df3a-4f4d-b4f2-8f5a58564832.html" target="element"> SWE.2.BP4 Describe dynamic behavior </a> </td>
													    <td> <a href="../elements/8a546dc9-df3a-4f4d-b4f2-8f5a58564832.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/a5f92c8e-4c0d-4ef0-8c67-34531344dc51.html" target="element"> SWE.2.BP1 Develop software architectural design </a> </td>
													    <td> <a href="../elements/a5f92c8e-4c0d-4ef0-8c67-34531344dc51.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/877133bd-943a-4fb0-a25d-89d5bcec95a8.html" target="element"> SWE.2.BP6 Evaluate alternative software architectures </a> </td>
													    <td> <a href="../elements/877133bd-943a-4fb0-a25d-89d5bcec95a8.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/c4a6ddcb-9d9e-4e6b-b832-6eb5fd30f6c3.html" target="element"> SWE.2.BP7 Establish bidirectional traceability </a> </td>
													    <td> <a href="../elements/c4a6ddcb-9d9e-4e6b-b832-6eb5fd30f6c3.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/924d5663-595a-4f1c-972e-83d932bcf9b0.html" target="element"> SWE.2.BP8 Ensure consistency </a> </td>
													    <td> <a href="../elements/924d5663-595a-4f1c-972e-83d932bcf9b0.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/28cbb4a6-7ba7-4c3d-83a5-50e54bc7d739.html" target="element"> SWE.2.BP9 Communicate agreed software architectural design </a> </td>
													    <td> <a href="../elements/28cbb4a6-7ba7-4c3d-83a5-50e54bc7d739.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/69887345-c4ae-454e-83d1-bf6eb58b8d83.html" target="element"> SWE.2.O.1 A software architectural design is defined that identifies the elementsof the software </a> </td>
											    <td> <a href="../elements/69887345-c4ae-454e-83d1-bf6eb58b8d83.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2a2ab11b-4f3d-4a8b-8341-7d296e18defa.html" target="element"> SWE.2.O.2 The software requirements are allocated to the elements of thesoftware </a> </td>
											    <td> <a href="../elements/2a2ab11b-4f3d-4a8b-8341-7d296e18defa.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/84c23319-4663-493d-b5fe-4ddef52fd744.html" target="element"> SWE.2.O.3 The interfaces of each software element are defined </a> </td>
											    <td> <a href="../elements/84c23319-4663-493d-b5fe-4ddef52fd744.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f75ebf8b-1c4e-4e43-a65d-3049c244046a.html" target="element"> SWE.2.O.4 The dynamic behavior and resource consumption objectives of thesoftware elements are defined </a> </td>
											    <td> <a href="../elements/f75ebf8b-1c4e-4e43-a65d-3049c244046a.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/50df8afb-6c1c-48b2-831c-0f9a1c2b49fa.html" target="element"> SWE.2.O.5 Consistency and bidirectional traceability are established betweensoftware requirements and software architectural design </a> </td>
											    <td> <a href="../elements/50df8afb-6c1c-48b2-831c-0f9a1c2b49fa.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/526386ed-78de-4ee9-9ee2-e56713257654.html" target="element"> SWE.2.O.6 The software architectural design is agreed and communicated to allaffected parties </a> </td>
											    <td> <a href="../elements/526386ed-78de-4ee9-9ee2-e56713257654.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7b678095-7928-4b0b-a2aa-6c9f3ed39d0c.html" target="element"> 04-04 Software architectural design </a> </td>
											    <td> <a href="../elements/7b678095-7928-4b0b-a2aa-6c9f3ed39d0c.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element"> 13-04 Communication Record </a> </td>
											    <td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element"> 13-19 Review Record </a> </td>
											    <td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/27d1998c-afb9-4d93-9df6-b6d8ff6e8a0e.html" target="element"> 13-22 Traceability record  </a> </td>
											    <td> <a href="../elements/27d1998c-afb9-4d93-9df6-b6d8ff6e8a0e.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b846e279-64bb-4f1d-b21c-88ec6d53ed0a.html" target="element"> 17-08 Interface requirements specification </a> </td>
											    <td> <a href="../elements/b846e279-64bb-4f1d-b21c-88ec6d53ed0a.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/4b3cec98-a89b-4429-96d2-440e2a53b4a8.html" target="element">  </a> </td>
																		<td> <a href="../elements/4b3cec98-a89b-4429-96d2-440e2a53b4a8.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/989fd6d3-9664-464c-a1d4-2a73076d8e8f.html" target="element"> SWE.2 Software Architectural Design </a> </td>
																		<td> <a href="../elements/c4a6ddcb-9d9e-4e6b-b832-6eb5fd30f6c3.html" target="element"> SWE.2.BP7 Establish bidirectional traceability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/624d9467-385d-4375-951c-8722b195b0cd.html" target="element">  </a> </td>
																		<td> <a href="../elements/624d9467-385d-4375-951c-8722b195b0cd.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/989fd6d3-9664-464c-a1d4-2a73076d8e8f.html" target="element"> SWE.2 Software Architectural Design </a> </td>
																		<td> <a href="../elements/877133bd-943a-4fb0-a25d-89d5bcec95a8.html" target="element"> SWE.2.BP6 Evaluate alternative software architectures </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7f62743d-2fe0-40fb-9bda-2839019d8e6f.html" target="element">  </a> </td>
																		<td> <a href="../elements/7f62743d-2fe0-40fb-9bda-2839019d8e6f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/989fd6d3-9664-464c-a1d4-2a73076d8e8f.html" target="element"> SWE.2 Software Architectural Design </a> </td>
																		<td> <a href="../elements/8a546dc9-df3a-4f4d-b4f2-8f5a58564832.html" target="element"> SWE.2.BP4 Describe dynamic behavior </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7722431f-df90-4b2f-807b-a09ca4e4ff29.html" target="element">  </a> </td>
																		<td> <a href="../elements/7722431f-df90-4b2f-807b-a09ca4e4ff29.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/989fd6d3-9664-464c-a1d4-2a73076d8e8f.html" target="element"> SWE.2 Software Architectural Design </a> </td>
																		<td> <a href="../elements/a5f92c8e-4c0d-4ef0-8c67-34531344dc51.html" target="element"> SWE.2.BP1 Develop software architectural design </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ca4196a3-c1ba-4364-aa63-27f4abd34b4a.html" target="element">  </a> </td>
																		<td> <a href="../elements/ca4196a3-c1ba-4364-aa63-27f4abd34b4a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/989fd6d3-9664-464c-a1d4-2a73076d8e8f.html" target="element"> SWE.2 Software Architectural Design </a> </td>
																		<td> <a href="../elements/f6a7fc64-48eb-40ee-8c2d-b05395e7b88a.html" target="element"> SWE.2.BP3 Define interfaces of software elements </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/bce3264a-f90a-4eda-868e-b6481e51694c.html" target="element">  </a> </td>
																		<td> <a href="../elements/bce3264a-f90a-4eda-868e-b6481e51694c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/989fd6d3-9664-464c-a1d4-2a73076d8e8f.html" target="element"> SWE.2 Software Architectural Design </a> </td>
																		<td> <a href="../elements/1ab6c5be-0f1a-4b9a-9274-1d55785f8734.html" target="element"> SWE.2.BP2 Allocate software requirements </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/afc32cd2-9474-42ac-a1c2-2ab0c549a35f.html" target="element">  </a> </td>
																		<td> <a href="../elements/afc32cd2-9474-42ac-a1c2-2ab0c549a35f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/989fd6d3-9664-464c-a1d4-2a73076d8e8f.html" target="element"> SWE.2 Software Architectural Design </a> </td>
																		<td> <a href="../elements/924d5663-595a-4f1c-972e-83d932bcf9b0.html" target="element"> SWE.2.BP8 Ensure consistency </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/46c4b227-4354-407a-b8ca-4b608346f940.html" target="element">  </a> </td>
																		<td> <a href="../elements/46c4b227-4354-407a-b8ca-4b608346f940.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/989fd6d3-9664-464c-a1d4-2a73076d8e8f.html" target="element"> SWE.2 Software Architectural Design </a> </td>
																		<td> <a href="../elements/87e23129-3512-473e-a67f-1d1c3c4eaf70.html" target="element"> SWE.2.BP5 Define resource consumption objectives </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/80471eae-e3e5-4299-969d-f3b96ee3d63e.html" target="element">  </a> </td>
																		<td> <a href="../elements/80471eae-e3e5-4299-969d-f3b96ee3d63e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/989fd6d3-9664-464c-a1d4-2a73076d8e8f.html" target="element"> SWE.2 Software Architectural Design </a> </td>
																		<td> <a href="../elements/28cbb4a6-7ba7-4c3d-83a5-50e54bc7d739.html" target="element"> SWE.2.BP9 Communicate agreed software architectural design </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2642b1b7-d0c6-4ad4-bbb3-1924fde625a9.html" target="element">  </a> </td>
																		<td> <a href="../elements/2642b1b7-d0c6-4ad4-bbb3-1924fde625a9.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/989fd6d3-9664-464c-a1d4-2a73076d8e8f.html" target="element"> SWE.2 Software Architectural Design </a> </td>
																		<td> <a href="../elements/7b678095-7928-4b0b-a2aa-6c9f3ed39d0c.html" target="element"> 04-04 Software architectural design </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0b16b036-6d9f-4bc9-80f1-3a3fb1bc9cf4.html" target="element">  </a> </td>
																		<td> <a href="../elements/0b16b036-6d9f-4bc9-80f1-3a3fb1bc9cf4.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/989fd6d3-9664-464c-a1d4-2a73076d8e8f.html" target="element"> SWE.2 Software Architectural Design </a> </td>
																		<td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element"> 13-04 Communication Record </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/628b1fd4-24d6-4fc4-ad8f-2168ae4f2f62.html" target="element">  </a> </td>
																		<td> <a href="../elements/628b1fd4-24d6-4fc4-ad8f-2168ae4f2f62.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/989fd6d3-9664-464c-a1d4-2a73076d8e8f.html" target="element"> SWE.2 Software Architectural Design </a> </td>
																		<td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element"> 13-19 Review Record </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b12ed39a-85d7-4454-8227-7dea5ace04ca.html" target="element">  </a> </td>
																		<td> <a href="../elements/b12ed39a-85d7-4454-8227-7dea5ace04ca.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/989fd6d3-9664-464c-a1d4-2a73076d8e8f.html" target="element"> SWE.2 Software Architectural Design </a> </td>
																		<td> <a href="../elements/27d1998c-afb9-4d93-9df6-b6d8ff6e8a0e.html" target="element"> 13-22 Traceability record  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/73918ed7-bc98-4ca0-8aa9-5b2f5d2348df.html" target="element">  </a> </td>
																		<td> <a href="../elements/73918ed7-bc98-4ca0-8aa9-5b2f5d2348df.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/989fd6d3-9664-464c-a1d4-2a73076d8e8f.html" target="element"> SWE.2 Software Architectural Design </a> </td>
																		<td> <a href="../elements/b846e279-64bb-4f1d-b21c-88ec6d53ed0a.html" target="element"> 17-08 Interface requirements specification </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>