<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>O. vs. BP. vs. WP. - SWE.2 Software Architectural Design</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>O. vs. BP. vs. WP. - SWE.2 Software Architectural Design</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/d2e8c3d8-1a58-48e3-a1d2-7503c6952795.png" alt="O. vs. BP. vs. WP. - SWE.2 Software Architectural Design" usemap="#d2e8c3d8-1a58-48e3-a1d2-7503c6952795map"/>
			   <map name="d2e8c3d8-1a58-48e3-a1d2-7503c6952795map">
				  		<area shape="rect" coords="850,622,1030,677" href="../views/d0bb5cf3-6c15-42ca-ac8c-4dda7e98c01f.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="850,700,1030,755" href="../views/9e94f80f-8775-4044-8110-6a872c99ec05.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="1018,514,1223,569" href="../elements/b846e279-64bb-4f1d-b21c-88ec6d53ed0a.html"  target="element">
				  		<area shape="rect" coords="766,514,971,569" href="../elements/27d1998c-afb9-4d93-9df6-b6d8ff6e8a0e.html"  target="element">
				  		<area shape="rect" coords="514,514,719,569" href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html"  target="element">
				  		<area shape="rect" coords="262,514,467,569" href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html"  target="element">
				  		<area shape="rect" coords="10,514,215,569" href="../elements/7b678095-7928-4b0b-a2aa-6c9f3ed39d0c.html"  target="element">
				  		<area shape="rect" coords="1450,10,1631,65" href="../elements/28cbb4a6-7ba7-4c3d-83a5-50e54bc7d739.html"  target="element">
				  		<area shape="rect" coords="1270,10,1451,65" href="../elements/924d5663-595a-4f1c-972e-83d932bcf9b0.html"  target="element">
				  		<area shape="rect" coords="1090,10,1271,65" href="../elements/c4a6ddcb-9d9e-4e6b-b832-6eb5fd30f6c3.html"  target="element">
				  		<area shape="rect" coords="910,10,1091,65" href="../elements/877133bd-943a-4fb0-a25d-89d5bcec95a8.html"  target="element">
				  		<area shape="rect" coords="10,10,191,65" href="../elements/a5f92c8e-4c0d-4ef0-8c67-34531344dc51.html"  target="element">
				  		<area shape="rect" coords="550,10,731,65" href="../elements/8a546dc9-df3a-4f4d-b4f2-8f5a58564832.html"  target="element">
				  		<area shape="rect" coords="731,10,912,65" href="../elements/87e23129-3512-473e-a67f-1d1c3c4eaf70.html"  target="element">
				  		<area shape="rect" coords="190,10,371,65" href="../elements/1ab6c5be-0f1a-4b9a-9274-1d55785f8734.html"  target="element">
				  		<area shape="rect" coords="370,10,551,65" href="../elements/f6a7fc64-48eb-40ee-8c2d-b05395e7b88a.html"  target="element">
				  		<area shape="rect" coords="10,394,1633,428" href="../elements/526386ed-78de-4ee9-9ee2-e56713257654.html"  target="element">
				  		<area shape="rect" coords="10,346,1633,380" href="../elements/50df8afb-6c1c-48b2-831c-0f9a1c2b49fa.html"  target="element">
				  		<area shape="rect" coords="10,298,1633,332" href="../elements/f75ebf8b-1c4e-4e43-a65d-3049c244046a.html"  target="element">
				  		<area shape="rect" coords="10,250,1633,284" href="../elements/84c23319-4663-493d-b5fe-4ddef52fd744.html"  target="element">
				  		<area shape="rect" coords="10,202,1633,236" href="../elements/2a2ab11b-4f3d-4a8b-8341-7d296e18defa.html"  target="element">
				  		<area shape="rect" coords="10,154,1633,188" href="../elements/69887345-c4ae-454e-83d1-bf6eb58b8d83.html"  target="element">
				          <area shape="rect" coords="10,622,839,755" href="../objects/9171b63e-0858-4357-aaed-2bbb6675ed91.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">This view answers the following questions:
- If I implement and deploy the Base Practice (BP) ***, how can I verify if I did it properly? What outcomes shall be achieved?
- If I implement and demploy the Outcome Work Product ***, how can I verify if I did it properly? What outcomes shall be achieved?

Scope of this view - Outcomes, Base Practices and their relations for ASPICE process SWE.2 Software Architectural Design

Latest version and docs can be found here: https://github.com/alef1986/ASPICE-Archi</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/9171b63e-0858-4357-aaed-2bbb6675ed91.html" target="element">  </a> </td>
									           <td> <a href="../objects/9171b63e-0858-4357-aaed-2bbb6675ed91.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/69887345-c4ae-454e-83d1-bf6eb58b8d83.html" target="element"> SWE.2.O.1 A software architectural design is defined that identifies the elementsof the software </a> </td>
											    <td> <a href="../elements/69887345-c4ae-454e-83d1-bf6eb58b8d83.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2a2ab11b-4f3d-4a8b-8341-7d296e18defa.html" target="element"> SWE.2.O.2 The software requirements are allocated to the elements of thesoftware </a> </td>
											    <td> <a href="../elements/2a2ab11b-4f3d-4a8b-8341-7d296e18defa.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/84c23319-4663-493d-b5fe-4ddef52fd744.html" target="element"> SWE.2.O.3 The interfaces of each software element are defined </a> </td>
											    <td> <a href="../elements/84c23319-4663-493d-b5fe-4ddef52fd744.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f75ebf8b-1c4e-4e43-a65d-3049c244046a.html" target="element"> SWE.2.O.4 The dynamic behavior and resource consumption objectives of thesoftware elements are defined </a> </td>
											    <td> <a href="../elements/f75ebf8b-1c4e-4e43-a65d-3049c244046a.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/50df8afb-6c1c-48b2-831c-0f9a1c2b49fa.html" target="element"> SWE.2.O.5 Consistency and bidirectional traceability are established betweensoftware requirements and software architectural design </a> </td>
											    <td> <a href="../elements/50df8afb-6c1c-48b2-831c-0f9a1c2b49fa.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/526386ed-78de-4ee9-9ee2-e56713257654.html" target="element"> SWE.2.O.6 The software architectural design is agreed and communicated to allaffected parties </a> </td>
											    <td> <a href="../elements/526386ed-78de-4ee9-9ee2-e56713257654.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f6a7fc64-48eb-40ee-8c2d-b05395e7b88a.html" target="element"> SWE.2.BP3 Define interfaces of software elements </a> </td>
											    <td> <a href="../elements/f6a7fc64-48eb-40ee-8c2d-b05395e7b88a.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1ab6c5be-0f1a-4b9a-9274-1d55785f8734.html" target="element"> SWE.2.BP2 Allocate software requirements </a> </td>
											    <td> <a href="../elements/1ab6c5be-0f1a-4b9a-9274-1d55785f8734.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/87e23129-3512-473e-a67f-1d1c3c4eaf70.html" target="element"> SWE.2.BP5 Define resource consumption objectives </a> </td>
											    <td> <a href="../elements/87e23129-3512-473e-a67f-1d1c3c4eaf70.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8a546dc9-df3a-4f4d-b4f2-8f5a58564832.html" target="element"> SWE.2.BP4 Describe dynamic behavior </a> </td>
											    <td> <a href="../elements/8a546dc9-df3a-4f4d-b4f2-8f5a58564832.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a5f92c8e-4c0d-4ef0-8c67-34531344dc51.html" target="element"> SWE.2.BP1 Develop software architectural design </a> </td>
											    <td> <a href="../elements/a5f92c8e-4c0d-4ef0-8c67-34531344dc51.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/877133bd-943a-4fb0-a25d-89d5bcec95a8.html" target="element"> SWE.2.BP6 Evaluate alternative software architectures </a> </td>
											    <td> <a href="../elements/877133bd-943a-4fb0-a25d-89d5bcec95a8.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c4a6ddcb-9d9e-4e6b-b832-6eb5fd30f6c3.html" target="element"> SWE.2.BP7 Establish bidirectional traceability </a> </td>
											    <td> <a href="../elements/c4a6ddcb-9d9e-4e6b-b832-6eb5fd30f6c3.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/924d5663-595a-4f1c-972e-83d932bcf9b0.html" target="element"> SWE.2.BP8 Ensure consistency </a> </td>
											    <td> <a href="../elements/924d5663-595a-4f1c-972e-83d932bcf9b0.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/28cbb4a6-7ba7-4c3d-83a5-50e54bc7d739.html" target="element"> SWE.2.BP9 Communicate agreed software architectural design </a> </td>
											    <td> <a href="../elements/28cbb4a6-7ba7-4c3d-83a5-50e54bc7d739.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7b678095-7928-4b0b-a2aa-6c9f3ed39d0c.html" target="element"> 04-04 Software architectural design </a> </td>
											    <td> <a href="../elements/7b678095-7928-4b0b-a2aa-6c9f3ed39d0c.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element"> 13-04 Communication Record </a> </td>
											    <td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element"> 13-19 Review Record </a> </td>
											    <td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/27d1998c-afb9-4d93-9df6-b6d8ff6e8a0e.html" target="element"> 13-22 Traceability record  </a> </td>
											    <td> <a href="../elements/27d1998c-afb9-4d93-9df6-b6d8ff6e8a0e.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b846e279-64bb-4f1d-b21c-88ec6d53ed0a.html" target="element"> 17-08 Interface requirements specification </a> </td>
											    <td> <a href="../elements/b846e279-64bb-4f1d-b21c-88ec6d53ed0a.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../views/9e94f80f-8775-4044-8110-6a872c99ec05.html" target="view"> Overview - Process Reference Model </a> </td>
											    <td> <a href="../views/9e94f80f-8775-4044-8110-6a872c99ec05.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../views/d0bb5cf3-6c15-42ca-ac8c-4dda7e98c01f.html" target="view"> Overview - SWE.2 Software Architectural Design </a> </td>
											    <td> <a href="../views/d0bb5cf3-6c15-42ca-ac8c-4dda7e98c01f.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/039c9dba-af64-4c68-bd8d-77bbcc29c7af.html" target="element">  </a> </td>
																		<td> <a href="../elements/039c9dba-af64-4c68-bd8d-77bbcc29c7af.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/f6a7fc64-48eb-40ee-8c2d-b05395e7b88a.html" target="element"> SWE.2.BP3 Define interfaces of software elements </a> </td>
																		<td> <a href="../elements/84c23319-4663-493d-b5fe-4ddef52fd744.html" target="element"> SWE.2.O.3 The interfaces of each software element are defined </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/38a34d4a-d220-4a50-9053-72600d1b5025.html" target="element">  </a> </td>
																		<td> <a href="../elements/38a34d4a-d220-4a50-9053-72600d1b5025.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/1ab6c5be-0f1a-4b9a-9274-1d55785f8734.html" target="element"> SWE.2.BP2 Allocate software requirements </a> </td>
																		<td> <a href="../elements/2a2ab11b-4f3d-4a8b-8341-7d296e18defa.html" target="element"> SWE.2.O.2 The software requirements are allocated to the elements of thesoftware </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/e786cffb-278f-4fdc-a865-0781ccbbc0e0.html" target="element">  </a> </td>
																		<td> <a href="../elements/e786cffb-278f-4fdc-a865-0781ccbbc0e0.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/87e23129-3512-473e-a67f-1d1c3c4eaf70.html" target="element"> SWE.2.BP5 Define resource consumption objectives </a> </td>
																		<td> <a href="../elements/f75ebf8b-1c4e-4e43-a65d-3049c244046a.html" target="element"> SWE.2.O.4 The dynamic behavior and resource consumption objectives of thesoftware elements are defined </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/e958987b-9962-4359-8268-ee7ae4381a65.html" target="element">  </a> </td>
																		<td> <a href="../elements/e958987b-9962-4359-8268-ee7ae4381a65.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/8a546dc9-df3a-4f4d-b4f2-8f5a58564832.html" target="element"> SWE.2.BP4 Describe dynamic behavior </a> </td>
																		<td> <a href="../elements/f75ebf8b-1c4e-4e43-a65d-3049c244046a.html" target="element"> SWE.2.O.4 The dynamic behavior and resource consumption objectives of thesoftware elements are defined </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/32f07ec1-7980-4bf2-a4e5-9b64146bdf37.html" target="element">  </a> </td>
																		<td> <a href="../elements/32f07ec1-7980-4bf2-a4e5-9b64146bdf37.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/a5f92c8e-4c0d-4ef0-8c67-34531344dc51.html" target="element"> SWE.2.BP1 Develop software architectural design </a> </td>
																		<td> <a href="../elements/69887345-c4ae-454e-83d1-bf6eb58b8d83.html" target="element"> SWE.2.O.1 A software architectural design is defined that identifies the elementsof the software </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/7fb15573-1d45-49cf-bb05-e3548cd1455e.html" target="element">  </a> </td>
																		<td> <a href="../elements/7fb15573-1d45-49cf-bb05-e3548cd1455e.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/877133bd-943a-4fb0-a25d-89d5bcec95a8.html" target="element"> SWE.2.BP6 Evaluate alternative software architectures </a> </td>
																		<td> <a href="../elements/69887345-c4ae-454e-83d1-bf6eb58b8d83.html" target="element"> SWE.2.O.1 A software architectural design is defined that identifies the elementsof the software </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f13e56a9-800f-4e42-b030-dcf7413444d7.html" target="element">  </a> </td>
																		<td> <a href="../elements/f13e56a9-800f-4e42-b030-dcf7413444d7.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/877133bd-943a-4fb0-a25d-89d5bcec95a8.html" target="element"> SWE.2.BP6 Evaluate alternative software architectures </a> </td>
																		<td> <a href="../elements/2a2ab11b-4f3d-4a8b-8341-7d296e18defa.html" target="element"> SWE.2.O.2 The software requirements are allocated to the elements of thesoftware </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/15da9f2b-1c26-4b9c-bf45-864a110c12af.html" target="element">  </a> </td>
																		<td> <a href="../elements/15da9f2b-1c26-4b9c-bf45-864a110c12af.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/877133bd-943a-4fb0-a25d-89d5bcec95a8.html" target="element"> SWE.2.BP6 Evaluate alternative software architectures </a> </td>
																		<td> <a href="../elements/84c23319-4663-493d-b5fe-4ddef52fd744.html" target="element"> SWE.2.O.3 The interfaces of each software element are defined </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d93f5b16-2679-4284-8fb2-62864763504b.html" target="element">  </a> </td>
																		<td> <a href="../elements/d93f5b16-2679-4284-8fb2-62864763504b.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/877133bd-943a-4fb0-a25d-89d5bcec95a8.html" target="element"> SWE.2.BP6 Evaluate alternative software architectures </a> </td>
																		<td> <a href="../elements/f75ebf8b-1c4e-4e43-a65d-3049c244046a.html" target="element"> SWE.2.O.4 The dynamic behavior and resource consumption objectives of thesoftware elements are defined </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/104d043c-68af-4e07-9109-1c77417b35bf.html" target="element">  </a> </td>
																		<td> <a href="../elements/104d043c-68af-4e07-9109-1c77417b35bf.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/877133bd-943a-4fb0-a25d-89d5bcec95a8.html" target="element"> SWE.2.BP6 Evaluate alternative software architectures </a> </td>
																		<td> <a href="../elements/50df8afb-6c1c-48b2-831c-0f9a1c2b49fa.html" target="element"> SWE.2.O.5 Consistency and bidirectional traceability are established betweensoftware requirements and software architectural design </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/c4bb0358-1c29-4c4e-bd7f-7c5002e1ca52.html" target="element">  </a> </td>
																		<td> <a href="../elements/c4bb0358-1c29-4c4e-bd7f-7c5002e1ca52.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/c4a6ddcb-9d9e-4e6b-b832-6eb5fd30f6c3.html" target="element"> SWE.2.BP7 Establish bidirectional traceability </a> </td>
																		<td> <a href="../elements/50df8afb-6c1c-48b2-831c-0f9a1c2b49fa.html" target="element"> SWE.2.O.5 Consistency and bidirectional traceability are established betweensoftware requirements and software architectural design </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/f8faf775-a0be-4daa-aded-e4b207a045f0.html" target="element">  </a> </td>
																		<td> <a href="../elements/f8faf775-a0be-4daa-aded-e4b207a045f0.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/924d5663-595a-4f1c-972e-83d932bcf9b0.html" target="element"> SWE.2.BP8 Ensure consistency </a> </td>
																		<td> <a href="../elements/69887345-c4ae-454e-83d1-bf6eb58b8d83.html" target="element"> SWE.2.O.1 A software architectural design is defined that identifies the elementsof the software </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/bf01f392-a56f-4208-8599-6d2a57b72f99.html" target="element">  </a> </td>
																		<td> <a href="../elements/bf01f392-a56f-4208-8599-6d2a57b72f99.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/924d5663-595a-4f1c-972e-83d932bcf9b0.html" target="element"> SWE.2.BP8 Ensure consistency </a> </td>
																		<td> <a href="../elements/2a2ab11b-4f3d-4a8b-8341-7d296e18defa.html" target="element"> SWE.2.O.2 The software requirements are allocated to the elements of thesoftware </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4383c725-c137-4630-8257-f5cc6835f888.html" target="element">  </a> </td>
																		<td> <a href="../elements/4383c725-c137-4630-8257-f5cc6835f888.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/924d5663-595a-4f1c-972e-83d932bcf9b0.html" target="element"> SWE.2.BP8 Ensure consistency </a> </td>
																		<td> <a href="../elements/50df8afb-6c1c-48b2-831c-0f9a1c2b49fa.html" target="element"> SWE.2.O.5 Consistency and bidirectional traceability are established betweensoftware requirements and software architectural design </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/bcd47c39-dbc9-4ec8-806a-7287139b6a0c.html" target="element">  </a> </td>
																		<td> <a href="../elements/bcd47c39-dbc9-4ec8-806a-7287139b6a0c.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/924d5663-595a-4f1c-972e-83d932bcf9b0.html" target="element"> SWE.2.BP8 Ensure consistency </a> </td>
																		<td> <a href="../elements/526386ed-78de-4ee9-9ee2-e56713257654.html" target="element"> SWE.2.O.6 The software architectural design is agreed and communicated to allaffected parties </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/7ace7499-8187-4629-847a-1441b83272f6.html" target="element">  </a> </td>
																		<td> <a href="../elements/7ace7499-8187-4629-847a-1441b83272f6.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/28cbb4a6-7ba7-4c3d-83a5-50e54bc7d739.html" target="element"> SWE.2.BP9 Communicate agreed software architectural design </a> </td>
																		<td> <a href="../elements/526386ed-78de-4ee9-9ee2-e56713257654.html" target="element"> SWE.2.O.6 The software architectural design is agreed and communicated to allaffected parties </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/bfbd3fb8-2dec-44af-85c4-9e58966041f0.html" target="element">  </a> </td>
																		<td> <a href="../elements/bfbd3fb8-2dec-44af-85c4-9e58966041f0.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/7b678095-7928-4b0b-a2aa-6c9f3ed39d0c.html" target="element"> 04-04 Software architectural design </a> </td>
																		<td> <a href="../elements/69887345-c4ae-454e-83d1-bf6eb58b8d83.html" target="element"> SWE.2.O.1 A software architectural design is defined that identifies the elementsof the software </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b8eff751-3c04-4b4a-95be-4047cc722b4a.html" target="element">  </a> </td>
																		<td> <a href="../elements/b8eff751-3c04-4b4a-95be-4047cc722b4a.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/7b678095-7928-4b0b-a2aa-6c9f3ed39d0c.html" target="element"> 04-04 Software architectural design </a> </td>
																		<td> <a href="../elements/2a2ab11b-4f3d-4a8b-8341-7d296e18defa.html" target="element"> SWE.2.O.2 The software requirements are allocated to the elements of thesoftware </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d151bd97-7b1b-40e6-b394-94c98dcbea78.html" target="element">  </a> </td>
																		<td> <a href="../elements/d151bd97-7b1b-40e6-b394-94c98dcbea78.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/7b678095-7928-4b0b-a2aa-6c9f3ed39d0c.html" target="element"> 04-04 Software architectural design </a> </td>
																		<td> <a href="../elements/84c23319-4663-493d-b5fe-4ddef52fd744.html" target="element"> SWE.2.O.3 The interfaces of each software element are defined </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0156a21a-b63a-42cb-850c-06ea0acee322.html" target="element">  </a> </td>
																		<td> <a href="../elements/0156a21a-b63a-42cb-850c-06ea0acee322.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/7b678095-7928-4b0b-a2aa-6c9f3ed39d0c.html" target="element"> 04-04 Software architectural design </a> </td>
																		<td> <a href="../elements/f75ebf8b-1c4e-4e43-a65d-3049c244046a.html" target="element"> SWE.2.O.4 The dynamic behavior and resource consumption objectives of thesoftware elements are defined </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/18b6d139-3d03-439b-b17c-a7c1c77f050f.html" target="element">  </a> </td>
																		<td> <a href="../elements/18b6d139-3d03-439b-b17c-a7c1c77f050f.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/7b678095-7928-4b0b-a2aa-6c9f3ed39d0c.html" target="element"> 04-04 Software architectural design </a> </td>
																		<td> <a href="../elements/50df8afb-6c1c-48b2-831c-0f9a1c2b49fa.html" target="element"> SWE.2.O.5 Consistency and bidirectional traceability are established betweensoftware requirements and software architectural design </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/8c610d3f-7a19-470b-8a2a-951a26a0fa80.html" target="element">  </a> </td>
																		<td> <a href="../elements/8c610d3f-7a19-470b-8a2a-951a26a0fa80.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element"> 13-04 Communication Record </a> </td>
																		<td> <a href="../elements/526386ed-78de-4ee9-9ee2-e56713257654.html" target="element"> SWE.2.O.6 The software architectural design is agreed and communicated to allaffected parties </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/1be18581-796b-4cf2-96ec-d973ff76e9a2.html" target="element">  </a> </td>
																		<td> <a href="../elements/1be18581-796b-4cf2-96ec-d973ff76e9a2.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element"> 13-19 Review Record </a> </td>
																		<td> <a href="../elements/50df8afb-6c1c-48b2-831c-0f9a1c2b49fa.html" target="element"> SWE.2.O.5 Consistency and bidirectional traceability are established betweensoftware requirements and software architectural design </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/9a6d89f3-7e08-49d7-a183-ecf345a747e2.html" target="element">  </a> </td>
																		<td> <a href="../elements/9a6d89f3-7e08-49d7-a183-ecf345a747e2.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/27d1998c-afb9-4d93-9df6-b6d8ff6e8a0e.html" target="element"> 13-22 Traceability record  </a> </td>
																		<td> <a href="../elements/50df8afb-6c1c-48b2-831c-0f9a1c2b49fa.html" target="element"> SWE.2.O.5 Consistency and bidirectional traceability are established betweensoftware requirements and software architectural design </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/e9299f2f-71a2-479e-8bbb-4225d2cb4b0a.html" target="element">  </a> </td>
																		<td> <a href="../elements/e9299f2f-71a2-479e-8bbb-4225d2cb4b0a.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/b846e279-64bb-4f1d-b21c-88ec6d53ed0a.html" target="element"> 17-08 Interface requirements specification </a> </td>
																		<td> <a href="../elements/84c23319-4663-493d-b5fe-4ddef52fd744.html" target="element"> SWE.2.O.3 The interfaces of each software element are defined </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>