<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Overview - PIM.3 Process Improvement</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Overview - PIM.3 Process Improvement</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/e21c7b4f-1f0d-4b2a-9d14-c16dbe0b7d33.png" alt="Overview - PIM.3 Process Improvement" usemap="#e21c7b4f-1f0d-4b2a-9d14-c16dbe0b7d33map"/>
			   <map name="e21c7b4f-1f0d-4b2a-9d14-c16dbe0b7d33map">
				  		<area shape="rect" coords="839,910,1044,965" href="../elements/47648e6d-5ad2-4f44-ac79-9a6eccd09bd6.html"  target="element">
				  		<area shape="rect" coords="839,850,1044,905" href="../elements/e173dafe-ae34-4b4d-981b-f1ee2d29edb3.html"  target="element">
				  		<area shape="rect" coords="839,790,1044,845" href="../elements/5cfc2c93-21aa-4cad-ade1-adea2c4bfd7c.html"  target="element">
				  		<area shape="rect" coords="839,730,1044,785" href="../elements/e6967389-b126-4ea1-8aef-15bc5bfcb5b7.html"  target="element">
				  		<area shape="rect" coords="839,670,1044,725" href="../elements/30267d89-3ca1-4ce0-aaf0-02f864f52e90.html"  target="element">
				  		<area shape="rect" coords="839,610,1044,665" href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html"  target="element">
				  		<area shape="rect" coords="839,550,1044,605" href="../elements/34ae6686-328e-48cc-b572-dd082325e1fa.html"  target="element">
				  		<area shape="rect" coords="839,490,1044,545" href="../elements/d67a8f78-0cf0-4d30-b5e5-fa8ec77575e6.html"  target="element">
				  		<area shape="rect" coords="839,430,1044,485" href="../elements/13c24f42-0b94-4041-be97-e94324988881.html"  target="element">
				  		<area shape="rect" coords="839,370,1044,425" href="../elements/2b17038f-2e3c-46d1-9b85-cc0d9562fdfa.html"  target="element">
				  		<area shape="rect" coords="839,310,1044,365" href="../elements/18de0fa9-0304-497c-b4a8-34138a852fb3.html"  target="element">
				  		<area shape="rect" coords="839,190,1044,245" href="../elements/d1cb0629-11ee-483a-b513-6264faff0a0d.html"  target="element">
				  		<area shape="rect" coords="839,250,1044,305" href="../elements/724d43df-d1d0-4ff4-a951-73aaf3082b05.html"  target="element">
				  		<area shape="rect" coords="515,106,753,191" href="../elements/91e03044-3123-43d1-b32c-5252787c94f6.html"  target="element">
				  		<area shape="rect" coords="263,106,501,191" href="../elements/07e11865-f9f1-4a55-8c4d-fc1e326799bb.html"  target="element">
				  		<area shape="rect" coords="1019,10,1257,95" href="../elements/25abfcac-16c3-400c-ab6a-a56901758039.html"  target="element">
				  		<area shape="rect" coords="767,10,1005,95" href="../elements/e43768fc-1ce3-4e5d-bada-e916fd9b9eba.html"  target="element">
				  		<area shape="rect" coords="515,10,753,95" href="../elements/b147cb51-c281-40d6-8bec-91925f8e318c.html"  target="element">
				  		<area shape="rect" coords="263,10,501,95" href="../elements/6c4ff084-e37e-4e2c-bc1e-66b7c9844ee4.html"  target="element">
				  		<area shape="rect" coords="10,10,248,95" href="../elements/984701c4-80a4-4a78-91b4-4f71d76e84bc.html"  target="element">
				  				<area shape="rect" coords="275,250,552,305" href="../elements/d5a23884-1d75-4eae-af44-ffa60221c6d5.html"  target="element">
				  				<area shape="rect" coords="275,430,552,485" href="../elements/5f6a6897-439f-4384-b04b-f675efba14b1.html"  target="element">
				  				<area shape="rect" coords="275,550,552,605" href="../elements/6fa342e1-c67d-4997-93d8-3924049ebc38.html"  target="element">
				  				<area shape="rect" coords="275,370,552,425" href="../elements/b3c5aa12-5214-4afe-a709-f2a6f2915533.html"  target="element">
				  				<area shape="rect" coords="275,490,552,545" href="../elements/d4740c8e-f002-4601-ad12-cdd123043ac5.html"  target="element">
				  				<area shape="rect" coords="275,310,552,365" href="../elements/9e8fe81d-3354-4df0-a0c4-b2f5d7908d97.html"  target="element">
				  				<area shape="rect" coords="275,730,552,785" href="../elements/3cbb5f81-8a78-413d-8429-fcb7f82daea7.html"  target="element">
				  				<area shape="rect" coords="275,610,552,665" href="../elements/886d4d0f-c3f5-47a4-96fe-9b9f9780c8ee.html"  target="element">
				  				<area shape="rect" coords="275,670,552,725" href="../elements/fb22dfd2-13f8-4992-82e3-54587ec73c46.html"  target="element">

				  		<area shape="rect" coords="263,214,564,923" href="../elements/4d611467-4ae2-446c-85e2-93caa7e48236.html"  target="element">
				          <area shape="rect" coords="1115,214,1353,831" href="../objects/1935ced1-bd6f-481c-bc94-87c88c79aff6.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/1935ced1-bd6f-481c-bc94-87c88c79aff6.html" target="element">  </a> </td>
									           <td> <a href="../objects/1935ced1-bd6f-481c-bc94-87c88c79aff6.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/4d611467-4ae2-446c-85e2-93caa7e48236.html" target="element"> PIM.3 Process Improvement </a> </td>
											    <td> <a href="../elements/4d611467-4ae2-446c-85e2-93caa7e48236.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/fb22dfd2-13f8-4992-82e3-54587ec73c46.html" target="element"> PIM.3.BP8 Communicate results of improvement </a> </td>
													    <td> <a href="../elements/fb22dfd2-13f8-4992-82e3-54587ec73c46.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/886d4d0f-c3f5-47a4-96fe-9b9f9780c8ee.html" target="element"> PIM.3.BP7 Confirm process improvement </a> </td>
													    <td> <a href="../elements/886d4d0f-c3f5-47a4-96fe-9b9f9780c8ee.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/3cbb5f81-8a78-413d-8429-fcb7f82daea7.html" target="element"> PIM.3.BP9 Evaluate the results of the improvement project </a> </td>
													    <td> <a href="../elements/3cbb5f81-8a78-413d-8429-fcb7f82daea7.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/9e8fe81d-3354-4df0-a0c4-b2f5d7908d97.html" target="element"> PIM.3.BP2 Identify issues </a> </td>
													    <td> <a href="../elements/9e8fe81d-3354-4df0-a0c4-b2f5d7908d97.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/d4740c8e-f002-4601-ad12-cdd123043ac5.html" target="element"> PIM.3.BP5 Plan process changes </a> </td>
													    <td> <a href="../elements/d4740c8e-f002-4601-ad12-cdd123043ac5.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/b3c5aa12-5214-4afe-a709-f2a6f2915533.html" target="element"> PIM.3.BP3 Establish process improvement goals </a> </td>
													    <td> <a href="../elements/b3c5aa12-5214-4afe-a709-f2a6f2915533.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/6fa342e1-c67d-4997-93d8-3924049ebc38.html" target="element"> PIM.3.BP6 Implement process changes </a> </td>
													    <td> <a href="../elements/6fa342e1-c67d-4997-93d8-3924049ebc38.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/5f6a6897-439f-4384-b04b-f675efba14b1.html" target="element"> PIM.3.BP4 Prioritize improvements </a> </td>
													    <td> <a href="../elements/5f6a6897-439f-4384-b04b-f675efba14b1.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/d5a23884-1d75-4eae-af44-ffa60221c6d5.html" target="element"> PIM.3.BP1 Establish commitment </a> </td>
													    <td> <a href="../elements/d5a23884-1d75-4eae-af44-ffa60221c6d5.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/984701c4-80a4-4a78-91b4-4f71d76e84bc.html" target="element"> PIM.3.O.1 Commitment is established to provide resources to sustainimprovement actions </a> </td>
											    <td> <a href="../elements/984701c4-80a4-4a78-91b4-4f71d76e84bc.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6c4ff084-e37e-4e2c-bc1e-66b7c9844ee4.html" target="element"> PIM.3.O.2 Issues arising from the organization's internal/external environmentare identified as improvement opportunities and justified as reasonsfor change </a> </td>
											    <td> <a href="../elements/6c4ff084-e37e-4e2c-bc1e-66b7c9844ee4.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b147cb51-c281-40d6-8bec-91925f8e318c.html" target="element"> PIM.3.O.3 Analysis of the current status of the existing process is performed,focusing on those processes from which improvement stimuli arise </a> </td>
											    <td> <a href="../elements/b147cb51-c281-40d6-8bec-91925f8e318c.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e43768fc-1ce3-4e5d-bada-e916fd9b9eba.html" target="element"> PIM.3.O.4 Improvement goals are identified and prioritized, and consequentchanges to the process are defined, planned and implemented </a> </td>
											    <td> <a href="../elements/e43768fc-1ce3-4e5d-bada-e916fd9b9eba.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/25abfcac-16c3-400c-ab6a-a56901758039.html" target="element"> PIM.3.O.5 The effects of process implementation are monitored, measured andconfirmed against the defined improvement goals </a> </td>
											    <td> <a href="../elements/25abfcac-16c3-400c-ab6a-a56901758039.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/07e11865-f9f1-4a55-8c4d-fc1e326799bb.html" target="element"> PIM.3.O.6 Knowledge gained from the improvement is communicated within theorganization </a> </td>
											    <td> <a href="../elements/07e11865-f9f1-4a55-8c4d-fc1e326799bb.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/91e03044-3123-43d1-b32c-5252787c94f6.html" target="element"> PIM.3.O.7 The improvements made are evaluated and consideration given forusing the solution elsewhere within the organization </a> </td>
											    <td> <a href="../elements/91e03044-3123-43d1-b32c-5252787c94f6.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/724d43df-d1d0-4ff4-a951-73aaf3082b05.html" target="element"> 05-00 Goals </a> </td>
											    <td> <a href="../elements/724d43df-d1d0-4ff4-a951-73aaf3082b05.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d1cb0629-11ee-483a-b513-6264faff0a0d.html" target="element"> 02-01 Commitment/agreement </a> </td>
											    <td> <a href="../elements/d1cb0629-11ee-483a-b513-6264faff0a0d.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/18de0fa9-0304-497c-b4a8-34138a852fb3.html" target="element"> 06-04 Training material </a> </td>
											    <td> <a href="../elements/18de0fa9-0304-497c-b4a8-34138a852fb3.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2b17038f-2e3c-46d1-9b85-cc0d9562fdfa.html" target="element"> 07-04 Process measure </a> </td>
											    <td> <a href="../elements/2b17038f-2e3c-46d1-9b85-cc0d9562fdfa.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/13c24f42-0b94-4041-be97-e94324988881.html" target="element"> 08-00 Plan </a> </td>
											    <td> <a href="../elements/13c24f42-0b94-4041-be97-e94324988881.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d67a8f78-0cf0-4d30-b5e5-fa8ec77575e6.html" target="element"> 08-29 Improvement plan </a> </td>
											    <td> <a href="../elements/d67a8f78-0cf0-4d30-b5e5-fa8ec77575e6.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/34ae6686-328e-48cc-b572-dd082325e1fa.html" target="element"> 10-00 Process description </a> </td>
											    <td> <a href="../elements/34ae6686-328e-48cc-b572-dd082325e1fa.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element"> 13-04 Communication Record </a> </td>
											    <td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/30267d89-3ca1-4ce0-aaf0-02f864f52e90.html" target="element"> 13-16 Change Request </a> </td>
											    <td> <a href="../elements/30267d89-3ca1-4ce0-aaf0-02f864f52e90.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e6967389-b126-4ea1-8aef-15bc5bfcb5b7.html" target="element"> 15-05 Evaluation report </a> </td>
											    <td> <a href="../elements/e6967389-b126-4ea1-8aef-15bc5bfcb5b7.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5cfc2c93-21aa-4cad-ade1-adea2c4bfd7c.html" target="element"> 15-13 Assessment/audit report </a> </td>
											    <td> <a href="../elements/5cfc2c93-21aa-4cad-ade1-adea2c4bfd7c.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e173dafe-ae34-4b4d-981b-f1ee2d29edb3.html" target="element"> 15-16 Improvement opportunity </a> </td>
											    <td> <a href="../elements/e173dafe-ae34-4b4d-981b-f1ee2d29edb3.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/47648e6d-5ad2-4f44-ac79-9a6eccd09bd6.html" target="element"> 16-06 Process repository </a> </td>
											    <td> <a href="../elements/47648e6d-5ad2-4f44-ac79-9a6eccd09bd6.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/3599f8a2-cac7-4ac9-815f-9e6eca8f7b92.html" target="element">  </a> </td>
																		<td> <a href="../elements/3599f8a2-cac7-4ac9-815f-9e6eca8f7b92.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/4d611467-4ae2-446c-85e2-93caa7e48236.html" target="element"> PIM.3 Process Improvement </a> </td>
																		<td> <a href="../elements/fb22dfd2-13f8-4992-82e3-54587ec73c46.html" target="element"> PIM.3.BP8 Communicate results of improvement </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b5f64a02-0c77-4106-bd52-f234fe9dec7c.html" target="element">  </a> </td>
																		<td> <a href="../elements/b5f64a02-0c77-4106-bd52-f234fe9dec7c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/4d611467-4ae2-446c-85e2-93caa7e48236.html" target="element"> PIM.3 Process Improvement </a> </td>
																		<td> <a href="../elements/886d4d0f-c3f5-47a4-96fe-9b9f9780c8ee.html" target="element"> PIM.3.BP7 Confirm process improvement </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/13eff04b-4a1b-45e2-a8b0-5d453acec10b.html" target="element">  </a> </td>
																		<td> <a href="../elements/13eff04b-4a1b-45e2-a8b0-5d453acec10b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/4d611467-4ae2-446c-85e2-93caa7e48236.html" target="element"> PIM.3 Process Improvement </a> </td>
																		<td> <a href="../elements/3cbb5f81-8a78-413d-8429-fcb7f82daea7.html" target="element"> PIM.3.BP9 Evaluate the results of the improvement project </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5c905707-738f-4b1f-9be7-5054005529bd.html" target="element">  </a> </td>
																		<td> <a href="../elements/5c905707-738f-4b1f-9be7-5054005529bd.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/4d611467-4ae2-446c-85e2-93caa7e48236.html" target="element"> PIM.3 Process Improvement </a> </td>
																		<td> <a href="../elements/9e8fe81d-3354-4df0-a0c4-b2f5d7908d97.html" target="element"> PIM.3.BP2 Identify issues </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9cb07ba8-c746-4e94-bc6e-09f2615d0125.html" target="element">  </a> </td>
																		<td> <a href="../elements/9cb07ba8-c746-4e94-bc6e-09f2615d0125.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/4d611467-4ae2-446c-85e2-93caa7e48236.html" target="element"> PIM.3 Process Improvement </a> </td>
																		<td> <a href="../elements/d4740c8e-f002-4601-ad12-cdd123043ac5.html" target="element"> PIM.3.BP5 Plan process changes </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7f867646-de1b-4408-8bab-761533b33dd6.html" target="element">  </a> </td>
																		<td> <a href="../elements/7f867646-de1b-4408-8bab-761533b33dd6.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/4d611467-4ae2-446c-85e2-93caa7e48236.html" target="element"> PIM.3 Process Improvement </a> </td>
																		<td> <a href="../elements/b3c5aa12-5214-4afe-a709-f2a6f2915533.html" target="element"> PIM.3.BP3 Establish process improvement goals </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/883a67b2-4f19-45cb-a222-b1c92da15281.html" target="element">  </a> </td>
																		<td> <a href="../elements/883a67b2-4f19-45cb-a222-b1c92da15281.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/4d611467-4ae2-446c-85e2-93caa7e48236.html" target="element"> PIM.3 Process Improvement </a> </td>
																		<td> <a href="../elements/6fa342e1-c67d-4997-93d8-3924049ebc38.html" target="element"> PIM.3.BP6 Implement process changes </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0e8b124a-966c-4d92-bfb1-7bc4923b8e55.html" target="element">  </a> </td>
																		<td> <a href="../elements/0e8b124a-966c-4d92-bfb1-7bc4923b8e55.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/4d611467-4ae2-446c-85e2-93caa7e48236.html" target="element"> PIM.3 Process Improvement </a> </td>
																		<td> <a href="../elements/5f6a6897-439f-4384-b04b-f675efba14b1.html" target="element"> PIM.3.BP4 Prioritize improvements </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e64b3489-75bd-4df7-a0e2-fa7cd7ad97ca.html" target="element">  </a> </td>
																		<td> <a href="../elements/e64b3489-75bd-4df7-a0e2-fa7cd7ad97ca.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/4d611467-4ae2-446c-85e2-93caa7e48236.html" target="element"> PIM.3 Process Improvement </a> </td>
																		<td> <a href="../elements/d5a23884-1d75-4eae-af44-ffa60221c6d5.html" target="element"> PIM.3.BP1 Establish commitment </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/485d88d3-48d8-4a04-ae8a-e14a59e2ba18.html" target="element">  </a> </td>
																		<td> <a href="../elements/485d88d3-48d8-4a04-ae8a-e14a59e2ba18.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/4d611467-4ae2-446c-85e2-93caa7e48236.html" target="element"> PIM.3 Process Improvement </a> </td>
																		<td> <a href="../elements/d1cb0629-11ee-483a-b513-6264faff0a0d.html" target="element"> 02-01 Commitment/agreement </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/52a5af73-a8d0-433a-886b-2cff651011a1.html" target="element">  </a> </td>
																		<td> <a href="../elements/52a5af73-a8d0-433a-886b-2cff651011a1.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/4d611467-4ae2-446c-85e2-93caa7e48236.html" target="element"> PIM.3 Process Improvement </a> </td>
																		<td> <a href="../elements/724d43df-d1d0-4ff4-a951-73aaf3082b05.html" target="element"> 05-00 Goals </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e9422ee7-2bdb-41e8-8ecc-8f526a024da5.html" target="element">  </a> </td>
																		<td> <a href="../elements/e9422ee7-2bdb-41e8-8ecc-8f526a024da5.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/4d611467-4ae2-446c-85e2-93caa7e48236.html" target="element"> PIM.3 Process Improvement </a> </td>
																		<td> <a href="../elements/18de0fa9-0304-497c-b4a8-34138a852fb3.html" target="element"> 06-04 Training material </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/14d9eb8a-5971-48ef-a20b-e69047c3208e.html" target="element">  </a> </td>
																		<td> <a href="../elements/14d9eb8a-5971-48ef-a20b-e69047c3208e.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/4d611467-4ae2-446c-85e2-93caa7e48236.html" target="element"> PIM.3 Process Improvement </a> </td>
																		<td> <a href="../elements/2b17038f-2e3c-46d1-9b85-cc0d9562fdfa.html" target="element"> 07-04 Process measure </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6de35831-8c92-405f-97bb-eb61cc38b139.html" target="element">  </a> </td>
																		<td> <a href="../elements/6de35831-8c92-405f-97bb-eb61cc38b139.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/4d611467-4ae2-446c-85e2-93caa7e48236.html" target="element"> PIM.3 Process Improvement </a> </td>
																		<td> <a href="../elements/13c24f42-0b94-4041-be97-e94324988881.html" target="element"> 08-00 Plan </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4416caed-f0f1-4cd0-8794-02fd737868b1.html" target="element">  </a> </td>
																		<td> <a href="../elements/4416caed-f0f1-4cd0-8794-02fd737868b1.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/4d611467-4ae2-446c-85e2-93caa7e48236.html" target="element"> PIM.3 Process Improvement </a> </td>
																		<td> <a href="../elements/d67a8f78-0cf0-4d30-b5e5-fa8ec77575e6.html" target="element"> 08-29 Improvement plan </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0255248d-5a47-464d-91ce-21710ba062b6.html" target="element">  </a> </td>
																		<td> <a href="../elements/0255248d-5a47-464d-91ce-21710ba062b6.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/4d611467-4ae2-446c-85e2-93caa7e48236.html" target="element"> PIM.3 Process Improvement </a> </td>
																		<td> <a href="../elements/34ae6686-328e-48cc-b572-dd082325e1fa.html" target="element"> 10-00 Process description </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ff872250-0adc-4014-8552-fca254a3c119.html" target="element">  </a> </td>
																		<td> <a href="../elements/ff872250-0adc-4014-8552-fca254a3c119.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/4d611467-4ae2-446c-85e2-93caa7e48236.html" target="element"> PIM.3 Process Improvement </a> </td>
																		<td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element"> 13-04 Communication Record </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/bcea90c5-ed73-4482-90d9-1e55c5ebf1c1.html" target="element">  </a> </td>
																		<td> <a href="../elements/bcea90c5-ed73-4482-90d9-1e55c5ebf1c1.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/4d611467-4ae2-446c-85e2-93caa7e48236.html" target="element"> PIM.3 Process Improvement </a> </td>
																		<td> <a href="../elements/30267d89-3ca1-4ce0-aaf0-02f864f52e90.html" target="element"> 13-16 Change Request </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ac45936a-3696-4a0e-a199-05cacf701880.html" target="element">  </a> </td>
																		<td> <a href="../elements/ac45936a-3696-4a0e-a199-05cacf701880.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/4d611467-4ae2-446c-85e2-93caa7e48236.html" target="element"> PIM.3 Process Improvement </a> </td>
																		<td> <a href="../elements/e6967389-b126-4ea1-8aef-15bc5bfcb5b7.html" target="element"> 15-05 Evaluation report </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3a1a0a48-dc80-4a43-94c7-ba49fc2948f1.html" target="element">  </a> </td>
																		<td> <a href="../elements/3a1a0a48-dc80-4a43-94c7-ba49fc2948f1.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/4d611467-4ae2-446c-85e2-93caa7e48236.html" target="element"> PIM.3 Process Improvement </a> </td>
																		<td> <a href="../elements/5cfc2c93-21aa-4cad-ade1-adea2c4bfd7c.html" target="element"> 15-13 Assessment/audit report </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5191e7f1-8ec0-46c0-a6e5-1f2055843e52.html" target="element">  </a> </td>
																		<td> <a href="../elements/5191e7f1-8ec0-46c0-a6e5-1f2055843e52.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/4d611467-4ae2-446c-85e2-93caa7e48236.html" target="element"> PIM.3 Process Improvement </a> </td>
																		<td> <a href="../elements/e173dafe-ae34-4b4d-981b-f1ee2d29edb3.html" target="element"> 15-16 Improvement opportunity </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9073e26c-98a3-4c46-ab34-aa08214fea25.html" target="element">  </a> </td>
																		<td> <a href="../elements/9073e26c-98a3-4c46-ab34-aa08214fea25.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/4d611467-4ae2-446c-85e2-93caa7e48236.html" target="element"> PIM.3 Process Improvement </a> </td>
																		<td> <a href="../elements/47648e6d-5ad2-4f44-ac79-9a6eccd09bd6.html" target="element"> 16-06 Process repository </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>