<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>O. vs. BP. vs. WP. - SYS.2 System Requirements Analysis</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>O. vs. BP. vs. WP. - SYS.2 System Requirements Analysis</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/e6bc248e-1903-4356-aaf4-5b480999e47a.png" alt="O. vs. BP. vs. WP. - SYS.2 System Requirements Analysis" usemap="#e6bc248e-1903-4356-aaf4-5b480999e47amap"/>
			   <map name="e6bc248e-1903-4356-aaf4-5b480999e47amap">
				          <area shape="rect" coords="10,724,839,851" href="../objects/0f254205-9390-42f9-9cb0-976ce2b953ab.html" target="element" >
				  		<area shape="rect" coords="1440,10,1633,65" href="../elements/c2758f01-5bad-422f-9acf-231a73d46ab2.html"  target="element">
				  		<area shape="rect" coords="1234,10,1427,65" href="../elements/123d8f84-4707-45b3-89ed-50a68318f794.html"  target="element">
				  		<area shape="rect" coords="1030,10,1223,65" href="../elements/3da62761-b2c9-4513-9ba3-046388f36eb6.html"  target="element">
				  		<area shape="rect" coords="10,10,203,65" href="../elements/a3b3f207-672b-4617-b16e-ea596da84601.html"  target="element">
				  		<area shape="rect" coords="622,10,815,65" href="../elements/1ea9348d-da54-4231-81f9-418da90e8f05.html"  target="element">
				  		<area shape="rect" coords="826,10,1019,65" href="../elements/57dc9363-c206-48db-9cd3-b30cb27a4164.html"  target="element">
				  		<area shape="rect" coords="214,10,407,65" href="../elements/972851d7-442d-476a-aae6-01894edd191a.html"  target="element">
				  		<area shape="rect" coords="418,10,611,65" href="../elements/6bd28dad-1bea-4f45-99dc-4f6b9ce0185b.html"  target="element">
				  		<area shape="rect" coords="1414,670,1619,725" href="../elements/4ead5dc6-3900-488e-8d49-1be9c4ae2850.html"  target="element">
				  		<area shape="rect" coords="1198,670,1403,725" href="../elements/4f0b672d-f072-4161-95c0-0275c4283358.html"  target="element">
				  		<area shape="rect" coords="1114,610,1319,665" href="../elements/b846e279-64bb-4f1d-b21c-88ec6d53ed0a.html"  target="element">
				  		<area shape="rect" coords="902,610,1107,665" href="../elements/46ef0390-c285-4923-8ce6-e9680248ce42.html"  target="element">
				  		<area shape="rect" coords="686,610,891,665" href="../elements/27d1998c-afb9-4d93-9df6-b6d8ff6e8a0e.html"  target="element">
				  		<area shape="rect" coords="470,610,675,665" href="../elements/90ada978-e397-4600-878f-60e697a70705.html"  target="element">
				  		<area shape="rect" coords="254,610,459,665" href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html"  target="element">
				  		<area shape="rect" coords="38,610,243,665" href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html"  target="element">
				  		<area shape="rect" coords="10,502,1633,536" href="../elements/1e005f15-f2d1-467e-920a-cf1abd0b656a.html"  target="element">
				  		<area shape="rect" coords="10,454,1633,488" href="../elements/35079a59-853f-4cb1-8ce3-88b5d7a5da52.html"  target="element">
				  		<area shape="rect" coords="10,405,1633,439" href="../elements/32228fc4-0e89-4509-bcf5-0cd5e7a524b5.html"  target="element">
				  		<area shape="rect" coords="10,355,1633,389" href="../elements/48cfc594-340c-4a73-b394-93135a7ebc8a.html"  target="element">
				  		<area shape="rect" coords="10,310,1633,344" href="../elements/c85ba532-2d62-420a-92fa-1085197f0918.html"  target="element">
				  		<area shape="rect" coords="10,262,1633,296" href="../elements/e84d89fe-27df-4781-8545-b4d45e6a81bd.html"  target="element">
				  		<area shape="rect" coords="10,214,1633,248" href="../elements/a1e419d5-72ec-4d99-8ec2-0d245f01dd6d.html"  target="element">
				  		<area shape="rect" coords="10,169,1633,203" href="../elements/177fcd18-52bd-4b33-b30e-2cea43e6b72a.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">This view answers the following questions:
- If I implement and deploy the Base Practice (BP) ***, how can I verify if I did it properly? What outcomes shall be achieved?
- If I implement and demploy the Outcome Work Product ***, how can I verify if I did it properly? What outcomes shall be achieved?

Scope of this view - Outcomes, Base Practices and their relations for ASPICE process SYS.2 System Requirements Analysis

Latest version and docs can be found here: https://github.com/alef1986/ASPICE-Archi</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/177fcd18-52bd-4b33-b30e-2cea43e6b72a.html" target="element"> SYS.2.O.1 A defined set of system requirements is established </a> </td>
											    <td> <a href="../elements/177fcd18-52bd-4b33-b30e-2cea43e6b72a.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a1e419d5-72ec-4d99-8ec2-0d245f01dd6d.html" target="element"> SYS.2.O.2 System requirements are categorized and analyzed for correctnessand verifiability </a> </td>
											    <td> <a href="../elements/a1e419d5-72ec-4d99-8ec2-0d245f01dd6d.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e84d89fe-27df-4781-8545-b4d45e6a81bd.html" target="element"> SYS.2.O.3 The impact of system requirements on the operating environment isanalyzed </a> </td>
											    <td> <a href="../elements/e84d89fe-27df-4781-8545-b4d45e6a81bd.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c85ba532-2d62-420a-92fa-1085197f0918.html" target="element"> SYS.2.O.4 Prioritization for implementing the system requirements is defined </a> </td>
											    <td> <a href="../elements/c85ba532-2d62-420a-92fa-1085197f0918.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/48cfc594-340c-4a73-b394-93135a7ebc8a.html" target="element"> SYS.2.O.5 The system requirements are updated as needed </a> </td>
											    <td> <a href="../elements/48cfc594-340c-4a73-b394-93135a7ebc8a.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/32228fc4-0e89-4509-bcf5-0cd5e7a524b5.html" target="element"> SYS.2.O.6 Consistency and bidirectional traceability are established between stakeholder requirements and system requirements </a> </td>
											    <td> <a href="../elements/32228fc4-0e89-4509-bcf5-0cd5e7a524b5.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/35079a59-853f-4cb1-8ce3-88b5d7a5da52.html" target="element"> SYS.2.O.7 The system requirements are evaluated for cost, schedule andtechnical impact </a> </td>
											    <td> <a href="../elements/35079a59-853f-4cb1-8ce3-88b5d7a5da52.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1e005f15-f2d1-467e-920a-cf1abd0b656a.html" target="element"> SYS.2.O.8 The system requirements are agreed and communicated to all affectedparties </a> </td>
											    <td> <a href="../elements/1e005f15-f2d1-467e-920a-cf1abd0b656a.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element"> 13-04 Communication Record </a> </td>
											    <td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element"> 13-19 Review Record </a> </td>
											    <td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/90ada978-e397-4600-878f-60e697a70705.html" target="element"> 13-21 Change control record </a> </td>
											    <td> <a href="../elements/90ada978-e397-4600-878f-60e697a70705.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/27d1998c-afb9-4d93-9df6-b6d8ff6e8a0e.html" target="element"> 13-22 Traceability record  </a> </td>
											    <td> <a href="../elements/27d1998c-afb9-4d93-9df6-b6d8ff6e8a0e.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/46ef0390-c285-4923-8ce6-e9680248ce42.html" target="element"> 15-01 Analysis report </a> </td>
											    <td> <a href="../elements/46ef0390-c285-4923-8ce6-e9680248ce42.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b846e279-64bb-4f1d-b21c-88ec6d53ed0a.html" target="element"> 17-08 Interface requirements specification </a> </td>
											    <td> <a href="../elements/b846e279-64bb-4f1d-b21c-88ec6d53ed0a.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4f0b672d-f072-4161-95c0-0275c4283358.html" target="element"> 17-12 System requirements specification </a> </td>
											    <td> <a href="../elements/4f0b672d-f072-4161-95c0-0275c4283358.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4ead5dc6-3900-488e-8d49-1be9c4ae2850.html" target="element"> 17-50 Verification criteria </a> </td>
											    <td> <a href="../elements/4ead5dc6-3900-488e-8d49-1be9c4ae2850.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6bd28dad-1bea-4f45-99dc-4f6b9ce0185b.html" target="element"> SYS.2.BP3 Analyze system requirements </a> </td>
											    <td> <a href="../elements/6bd28dad-1bea-4f45-99dc-4f6b9ce0185b.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/972851d7-442d-476a-aae6-01894edd191a.html" target="element"> SYS.2.BP2 Structure system requirements </a> </td>
											    <td> <a href="../elements/972851d7-442d-476a-aae6-01894edd191a.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/57dc9363-c206-48db-9cd3-b30cb27a4164.html" target="element"> SYS.2.BP5 Develop verification criteria </a> </td>
											    <td> <a href="../elements/57dc9363-c206-48db-9cd3-b30cb27a4164.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1ea9348d-da54-4231-81f9-418da90e8f05.html" target="element"> SYS.2.BP4 Analyze the impact on the operating environment </a> </td>
											    <td> <a href="../elements/1ea9348d-da54-4231-81f9-418da90e8f05.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a3b3f207-672b-4617-b16e-ea596da84601.html" target="element"> SYS.2.BP1 Specify system requirements </a> </td>
											    <td> <a href="../elements/a3b3f207-672b-4617-b16e-ea596da84601.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3da62761-b2c9-4513-9ba3-046388f36eb6.html" target="element"> SYS.2.BP6 Establish bidirectional traceability </a> </td>
											    <td> <a href="../elements/3da62761-b2c9-4513-9ba3-046388f36eb6.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/123d8f84-4707-45b3-89ed-50a68318f794.html" target="element"> SYS.2.BP7 Ensure consistency </a> </td>
											    <td> <a href="../elements/123d8f84-4707-45b3-89ed-50a68318f794.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c2758f01-5bad-422f-9acf-231a73d46ab2.html" target="element"> SYS.2.BP8 Communicate agreed system requirements </a> </td>
											    <td> <a href="../elements/c2758f01-5bad-422f-9acf-231a73d46ab2.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/0f254205-9390-42f9-9cb0-976ce2b953ab.html" target="element">  </a> </td>
									           <td> <a href="../objects/0f254205-9390-42f9-9cb0-976ce2b953ab.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/d6fd9abc-e6a4-4b34-9c2a-65be2a7e55ba.html" target="element">  </a> </td>
																		<td> <a href="../elements/d6fd9abc-e6a4-4b34-9c2a-65be2a7e55ba.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element"> 13-04 Communication Record </a> </td>
																		<td> <a href="../elements/1e005f15-f2d1-467e-920a-cf1abd0b656a.html" target="element"> SYS.2.O.8 The system requirements are agreed and communicated to all affectedparties </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/d62c0226-321b-4c08-88a6-0622ae27bb24.html" target="element">  </a> </td>
																		<td> <a href="../elements/d62c0226-321b-4c08-88a6-0622ae27bb24.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element"> 13-19 Review Record </a> </td>
																		<td> <a href="../elements/32228fc4-0e89-4509-bcf5-0cd5e7a524b5.html" target="element"> SYS.2.O.6 Consistency and bidirectional traceability are established between stakeholder requirements and system requirements </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/3bd4e509-3917-4153-838b-278aefba36ae.html" target="element">  </a> </td>
																		<td> <a href="../elements/3bd4e509-3917-4153-838b-278aefba36ae.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/90ada978-e397-4600-878f-60e697a70705.html" target="element"> 13-21 Change control record </a> </td>
																		<td> <a href="../elements/177fcd18-52bd-4b33-b30e-2cea43e6b72a.html" target="element"> SYS.2.O.1 A defined set of system requirements is established </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/507b6bcf-1ae6-4dd7-a6e3-2a8fd608e1b7.html" target="element">  </a> </td>
																		<td> <a href="../elements/507b6bcf-1ae6-4dd7-a6e3-2a8fd608e1b7.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/27d1998c-afb9-4d93-9df6-b6d8ff6e8a0e.html" target="element"> 13-22 Traceability record  </a> </td>
																		<td> <a href="../elements/32228fc4-0e89-4509-bcf5-0cd5e7a524b5.html" target="element"> SYS.2.O.6 Consistency and bidirectional traceability are established between stakeholder requirements and system requirements </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/468ba932-8469-4d14-a638-2826e8a52648.html" target="element">  </a> </td>
																		<td> <a href="../elements/468ba932-8469-4d14-a638-2826e8a52648.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/46ef0390-c285-4923-8ce6-e9680248ce42.html" target="element"> 15-01 Analysis report </a> </td>
																		<td> <a href="../elements/a1e419d5-72ec-4d99-8ec2-0d245f01dd6d.html" target="element"> SYS.2.O.2 System requirements are categorized and analyzed for correctnessand verifiability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e9afdcc7-6f0d-412b-ba13-2a3ad8c58724.html" target="element">  </a> </td>
																		<td> <a href="../elements/e9afdcc7-6f0d-412b-ba13-2a3ad8c58724.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/46ef0390-c285-4923-8ce6-e9680248ce42.html" target="element"> 15-01 Analysis report </a> </td>
																		<td> <a href="../elements/e84d89fe-27df-4781-8545-b4d45e6a81bd.html" target="element"> SYS.2.O.3 The impact of system requirements on the operating environment isanalyzed </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8ecd149c-7249-4e76-b4db-fa7f8d14e488.html" target="element">  </a> </td>
																		<td> <a href="../elements/8ecd149c-7249-4e76-b4db-fa7f8d14e488.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/46ef0390-c285-4923-8ce6-e9680248ce42.html" target="element"> 15-01 Analysis report </a> </td>
																		<td> <a href="../elements/c85ba532-2d62-420a-92fa-1085197f0918.html" target="element"> SYS.2.O.4 Prioritization for implementing the system requirements is defined </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/737be7cd-3085-45d4-ba27-fddcee1e8b52.html" target="element">  </a> </td>
																		<td> <a href="../elements/737be7cd-3085-45d4-ba27-fddcee1e8b52.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/46ef0390-c285-4923-8ce6-e9680248ce42.html" target="element"> 15-01 Analysis report </a> </td>
																		<td> <a href="../elements/35079a59-853f-4cb1-8ce3-88b5d7a5da52.html" target="element"> SYS.2.O.7 The system requirements are evaluated for cost, schedule andtechnical impact </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/1f03faae-90d4-4230-8932-88b75da3fd1a.html" target="element">  </a> </td>
																		<td> <a href="../elements/1f03faae-90d4-4230-8932-88b75da3fd1a.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/b846e279-64bb-4f1d-b21c-88ec6d53ed0a.html" target="element"> 17-08 Interface requirements specification </a> </td>
																		<td> <a href="../elements/177fcd18-52bd-4b33-b30e-2cea43e6b72a.html" target="element"> SYS.2.O.1 A defined set of system requirements is established </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e0301b0b-c83f-4de2-b8ba-0191105fda7c.html" target="element">  </a> </td>
																		<td> <a href="../elements/e0301b0b-c83f-4de2-b8ba-0191105fda7c.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/b846e279-64bb-4f1d-b21c-88ec6d53ed0a.html" target="element"> 17-08 Interface requirements specification </a> </td>
																		<td> <a href="../elements/e84d89fe-27df-4781-8545-b4d45e6a81bd.html" target="element"> SYS.2.O.3 The impact of system requirements on the operating environment isanalyzed </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/4a758f1e-18c6-4189-ae2d-2016557a4a5e.html" target="element">  </a> </td>
																		<td> <a href="../elements/4a758f1e-18c6-4189-ae2d-2016557a4a5e.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/4f0b672d-f072-4161-95c0-0275c4283358.html" target="element"> 17-12 System requirements specification </a> </td>
																		<td> <a href="../elements/177fcd18-52bd-4b33-b30e-2cea43e6b72a.html" target="element"> SYS.2.O.1 A defined set of system requirements is established </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7d85c2de-5276-4675-afcb-c3b9ac015002.html" target="element">  </a> </td>
																		<td> <a href="../elements/7d85c2de-5276-4675-afcb-c3b9ac015002.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/4f0b672d-f072-4161-95c0-0275c4283358.html" target="element"> 17-12 System requirements specification </a> </td>
																		<td> <a href="../elements/48cfc594-340c-4a73-b394-93135a7ebc8a.html" target="element"> SYS.2.O.5 The system requirements are updated as needed </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/23b19875-fa87-43f0-ac6e-4251a21ad50e.html" target="element">  </a> </td>
																		<td> <a href="../elements/23b19875-fa87-43f0-ac6e-4251a21ad50e.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/4ead5dc6-3900-488e-8d49-1be9c4ae2850.html" target="element"> 17-50 Verification criteria </a> </td>
																		<td> <a href="../elements/a1e419d5-72ec-4d99-8ec2-0d245f01dd6d.html" target="element"> SYS.2.O.2 System requirements are categorized and analyzed for correctnessand verifiability </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/0fdb4ddf-6ef6-40e1-9f33-345d330843c1.html" target="element">  </a> </td>
																		<td> <a href="../elements/0fdb4ddf-6ef6-40e1-9f33-345d330843c1.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/6bd28dad-1bea-4f45-99dc-4f6b9ce0185b.html" target="element"> SYS.2.BP3 Analyze system requirements </a> </td>
																		<td> <a href="../elements/177fcd18-52bd-4b33-b30e-2cea43e6b72a.html" target="element"> SYS.2.O.1 A defined set of system requirements is established </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/eab79cb9-e3a0-4c1d-ab30-ece339071659.html" target="element">  </a> </td>
																		<td> <a href="../elements/eab79cb9-e3a0-4c1d-ab30-ece339071659.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/6bd28dad-1bea-4f45-99dc-4f6b9ce0185b.html" target="element"> SYS.2.BP3 Analyze system requirements </a> </td>
																		<td> <a href="../elements/a1e419d5-72ec-4d99-8ec2-0d245f01dd6d.html" target="element"> SYS.2.O.2 System requirements are categorized and analyzed for correctnessand verifiability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/589f8953-753f-4a03-9e7b-a5c79fe7399d.html" target="element">  </a> </td>
																		<td> <a href="../elements/589f8953-753f-4a03-9e7b-a5c79fe7399d.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/6bd28dad-1bea-4f45-99dc-4f6b9ce0185b.html" target="element"> SYS.2.BP3 Analyze system requirements </a> </td>
																		<td> <a href="../elements/35079a59-853f-4cb1-8ce3-88b5d7a5da52.html" target="element"> SYS.2.O.7 The system requirements are evaluated for cost, schedule andtechnical impact </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/dcab5ebd-c23e-4282-b54f-e0c0304d166a.html" target="element">  </a> </td>
																		<td> <a href="../elements/dcab5ebd-c23e-4282-b54f-e0c0304d166a.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/972851d7-442d-476a-aae6-01894edd191a.html" target="element"> SYS.2.BP2 Structure system requirements </a> </td>
																		<td> <a href="../elements/a1e419d5-72ec-4d99-8ec2-0d245f01dd6d.html" target="element"> SYS.2.O.2 System requirements are categorized and analyzed for correctnessand verifiability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b5b51543-d3d5-4aa0-b492-73382ea4edc4.html" target="element">  </a> </td>
																		<td> <a href="../elements/b5b51543-d3d5-4aa0-b492-73382ea4edc4.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/972851d7-442d-476a-aae6-01894edd191a.html" target="element"> SYS.2.BP2 Structure system requirements </a> </td>
																		<td> <a href="../elements/c85ba532-2d62-420a-92fa-1085197f0918.html" target="element"> SYS.2.O.4 Prioritization for implementing the system requirements is defined </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/e023de0e-3cdd-47ce-8865-4ceb41f37f61.html" target="element">  </a> </td>
																		<td> <a href="../elements/e023de0e-3cdd-47ce-8865-4ceb41f37f61.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/57dc9363-c206-48db-9cd3-b30cb27a4164.html" target="element"> SYS.2.BP5 Develop verification criteria </a> </td>
																		<td> <a href="../elements/a1e419d5-72ec-4d99-8ec2-0d245f01dd6d.html" target="element"> SYS.2.O.2 System requirements are categorized and analyzed for correctnessand verifiability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/91a6df92-9e6b-4bf8-9ae5-678ead2eabca.html" target="element">  </a> </td>
																		<td> <a href="../elements/91a6df92-9e6b-4bf8-9ae5-678ead2eabca.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/57dc9363-c206-48db-9cd3-b30cb27a4164.html" target="element"> SYS.2.BP5 Develop verification criteria </a> </td>
																		<td> <a href="../elements/35079a59-853f-4cb1-8ce3-88b5d7a5da52.html" target="element"> SYS.2.O.7 The system requirements are evaluated for cost, schedule andtechnical impact </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/8d13983f-09b8-4d78-a9f3-b3aebb0938d5.html" target="element">  </a> </td>
																		<td> <a href="../elements/8d13983f-09b8-4d78-a9f3-b3aebb0938d5.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/1ea9348d-da54-4231-81f9-418da90e8f05.html" target="element"> SYS.2.BP4 Analyze the impact on the operating environment </a> </td>
																		<td> <a href="../elements/e84d89fe-27df-4781-8545-b4d45e6a81bd.html" target="element"> SYS.2.O.3 The impact of system requirements on the operating environment isanalyzed </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9bf750bf-94a5-4d5f-9736-22bb7c013856.html" target="element">  </a> </td>
																		<td> <a href="../elements/9bf750bf-94a5-4d5f-9736-22bb7c013856.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/1ea9348d-da54-4231-81f9-418da90e8f05.html" target="element"> SYS.2.BP4 Analyze the impact on the operating environment </a> </td>
																		<td> <a href="../elements/35079a59-853f-4cb1-8ce3-88b5d7a5da52.html" target="element"> SYS.2.O.7 The system requirements are evaluated for cost, schedule andtechnical impact </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/95275a55-d87e-48b8-aaa7-d4f24885403b.html" target="element">  </a> </td>
																		<td> <a href="../elements/95275a55-d87e-48b8-aaa7-d4f24885403b.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/a3b3f207-672b-4617-b16e-ea596da84601.html" target="element"> SYS.2.BP1 Specify system requirements </a> </td>
																		<td> <a href="../elements/177fcd18-52bd-4b33-b30e-2cea43e6b72a.html" target="element"> SYS.2.O.1 A defined set of system requirements is established </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c68925dc-8b3c-49d0-ae65-f1881adb5932.html" target="element">  </a> </td>
																		<td> <a href="../elements/c68925dc-8b3c-49d0-ae65-f1881adb5932.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/a3b3f207-672b-4617-b16e-ea596da84601.html" target="element"> SYS.2.BP1 Specify system requirements </a> </td>
																		<td> <a href="../elements/48cfc594-340c-4a73-b394-93135a7ebc8a.html" target="element"> SYS.2.O.5 The system requirements are updated as needed </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/98829b1f-8e2e-4b9a-87de-89dfa9c935cd.html" target="element">  </a> </td>
																		<td> <a href="../elements/98829b1f-8e2e-4b9a-87de-89dfa9c935cd.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/a3b3f207-672b-4617-b16e-ea596da84601.html" target="element"> SYS.2.BP1 Specify system requirements </a> </td>
																		<td> <a href="../elements/35079a59-853f-4cb1-8ce3-88b5d7a5da52.html" target="element"> SYS.2.O.7 The system requirements are evaluated for cost, schedule andtechnical impact </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/1c4e9f51-d196-49f6-83de-98cd2e5b2061.html" target="element">  </a> </td>
																		<td> <a href="../elements/1c4e9f51-d196-49f6-83de-98cd2e5b2061.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/3da62761-b2c9-4513-9ba3-046388f36eb6.html" target="element"> SYS.2.BP6 Establish bidirectional traceability </a> </td>
																		<td> <a href="../elements/32228fc4-0e89-4509-bcf5-0cd5e7a524b5.html" target="element"> SYS.2.O.6 Consistency and bidirectional traceability are established between stakeholder requirements and system requirements </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/36aa0680-ece8-4ec6-a3dd-d34a91f4b964.html" target="element">  </a> </td>
																		<td> <a href="../elements/36aa0680-ece8-4ec6-a3dd-d34a91f4b964.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/123d8f84-4707-45b3-89ed-50a68318f794.html" target="element"> SYS.2.BP7 Ensure consistency </a> </td>
																		<td> <a href="../elements/32228fc4-0e89-4509-bcf5-0cd5e7a524b5.html" target="element"> SYS.2.O.6 Consistency and bidirectional traceability are established between stakeholder requirements and system requirements </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/ca2bd535-2d95-47bb-81ea-9eef38142b7b.html" target="element">  </a> </td>
																		<td> <a href="../elements/ca2bd535-2d95-47bb-81ea-9eef38142b7b.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/c2758f01-5bad-422f-9acf-231a73d46ab2.html" target="element"> SYS.2.BP8 Communicate agreed system requirements </a> </td>
																		<td> <a href="../elements/1e005f15-f2d1-467e-920a-cf1abd0b656a.html" target="element"> SYS.2.O.8 The system requirements are agreed and communicated to all affectedparties </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>