<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>O. vs. BP. vs. WP. - SUP.7 Documentation</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>O. vs. BP. vs. WP. - SUP.7 Documentation</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/fa6913f9-2c62-4369-84c5-2abe0fee0021.png" alt="O. vs. BP. vs. WP. - SUP.7 Documentation" usemap="#fa6913f9-2c62-4369-84c5-2abe0fee0021map"/>
			   <map name="fa6913f9-2c62-4369-84c5-2abe0fee0021map">
				  		<area shape="rect" coords="1354,10,1535,65" href="../elements/179627dd-a824-4ff6-bfcb-05a080d979a2.html"  target="element">
				  		<area shape="rect" coords="1162,10,1343,65" href="../elements/6cdf19ed-4d38-445e-9e6b-6286f0d72ed7.html"  target="element">
				  		<area shape="rect" coords="970,10,1151,65" href="../elements/31da74b9-d536-4881-a128-2cc37519d1a4.html"  target="element">
				  		<area shape="rect" coords="10,10,191,65" href="../elements/3478d911-5ed5-442f-a994-67b2c952bf32.html"  target="element">
				  		<area shape="rect" coords="586,10,767,65" href="../elements/91bbd59a-5f9a-499d-a73f-c146edda7a3d.html"  target="element">
				  		<area shape="rect" coords="778,10,959,65" href="../elements/b15d5cdc-62b2-49c5-9f32-74bcb77edfb4.html"  target="element">
				  		<area shape="rect" coords="202,10,383,65" href="../elements/5058db90-a853-4500-8fe6-c39b4a4746e4.html"  target="element">
				  		<area shape="rect" coords="394,10,575,65" href="../elements/46972d51-1176-46ed-b72a-c9189eccd1ce.html"  target="element">
				  		<area shape="rect" coords="1378,526,1583,581" href="../elements/4899f92e-45ee-49c5-be6f-d4752a836901.html"  target="element">
				  		<area shape="rect" coords="1030,526,1235,581" href="../elements/911eaef4-e67d-42a3-995f-9a1788bfa10f.html"  target="element">
				  		<area shape="rect" coords="682,526,887,581" href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html"  target="element">
				  		<area shape="rect" coords="346,526,551,581" href="../elements/5d54f4ee-0ad9-4fda-8747-d0299d022683.html"  target="element">
				  		<area shape="rect" coords="10,526,215,581" href="../elements/99a2970f-389b-439d-a047-63794ef847b5.html"  target="element">
				  		<area shape="rect" coords="10,190,1727,224" href="../elements/3e2296d8-0ff9-4ade-9cb1-3bba17ca4fab.html"  target="element">
				  		<area shape="rect" coords="10,238,1727,272" href="../elements/62cb6831-f017-408d-ae90-aab4cc4408fd.html"  target="element">
				  		<area shape="rect" coords="10,286,1727,320" href="../elements/72055116-1ab1-4f14-8cc4-52519d0e48df.html"  target="element">
				  		<area shape="rect" coords="10,334,1727,368" href="../elements/b9170925-99f2-4b84-90a6-96c9cadecb8d.html"  target="element">
				  		<area shape="rect" coords="10,382,1727,416" href="../elements/ab642367-ad38-47fd-9016-3907b3f05176.html"  target="element">
				  		<area shape="rect" coords="10,142,1727,176" href="../elements/b1c666ba-ea72-4c24-90de-e81e6a178b9d.html"  target="element">
				          <area shape="rect" coords="10,754,839,870" href="../objects/59e8ebaf-3412-461c-b270-03598fa2e12a.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">This view answers the following questions:
- If I implement and deploy the Base Practice (BP) ***, how can I verify if I did it properly? What outcomes shall be achieved?
- If I implement and demploy the Outcome Work Product ***, how can I verify if I did it properly? What outcomes shall be achieved?

Scope of this view - Outcomes, Base Practices and their relations for ASPICE process SUP.7 Documentation

Latest version and docs can be found here: https://github.com/alef1986/ASPICE-Archi</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/59e8ebaf-3412-461c-b270-03598fa2e12a.html" target="element">  </a> </td>
									           <td> <a href="../objects/59e8ebaf-3412-461c-b270-03598fa2e12a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/b1c666ba-ea72-4c24-90de-e81e6a178b9d.html" target="element"> SUP.7.O.1 A strategy identifying the documentation to be produced during the lifecycle of the product or service is developed </a> </td>
											    <td> <a href="../elements/b1c666ba-ea72-4c24-90de-e81e6a178b9d.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ab642367-ad38-47fd-9016-3907b3f05176.html" target="element"> SUP.7.O.6 Documentation is maintained in accordance with defined criteria </a> </td>
											    <td> <a href="../elements/ab642367-ad38-47fd-9016-3907b3f05176.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b9170925-99f2-4b84-90a6-96c9cadecb8d.html" target="element"> SUP.7.O.5 Documentation is developed and made available in accordance with identified standards </a> </td>
											    <td> <a href="../elements/b9170925-99f2-4b84-90a6-96c9cadecb8d.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/72055116-1ab1-4f14-8cc4-52519d0e48df.html" target="element"> SUP.7.O.4 The content and purpose of all documentation is specified, reviewed and approved </a> </td>
											    <td> <a href="../elements/72055116-1ab1-4f14-8cc4-52519d0e48df.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/62cb6831-f017-408d-ae90-aab4cc4408fd.html" target="element"> SUP.7.O.3 Documentation to be produced by the process or project is identified </a> </td>
											    <td> <a href="../elements/62cb6831-f017-408d-ae90-aab4cc4408fd.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3e2296d8-0ff9-4ade-9cb1-3bba17ca4fab.html" target="element"> SUP.7.O.2 The standards to be applied for the development of the documentation are identified </a> </td>
											    <td> <a href="../elements/3e2296d8-0ff9-4ade-9cb1-3bba17ca4fab.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/99a2970f-389b-439d-a047-63794ef847b5.html" target="element"> 08-26 Documentation plan </a> </td>
											    <td> <a href="../elements/99a2970f-389b-439d-a047-63794ef847b5.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5d54f4ee-0ad9-4fda-8747-d0299d022683.html" target="element"> 13-01 Acceptance record </a> </td>
											    <td> <a href="../elements/5d54f4ee-0ad9-4fda-8747-d0299d022683.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element"> 13-19 Review Record </a> </td>
											    <td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/911eaef4-e67d-42a3-995f-9a1788bfa10f.html" target="element"> 14-01 Change history </a> </td>
											    <td> <a href="../elements/911eaef4-e67d-42a3-995f-9a1788bfa10f.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4899f92e-45ee-49c5-be6f-d4752a836901.html" target="element"> 14-11 Work product list </a> </td>
											    <td> <a href="../elements/4899f92e-45ee-49c5-be6f-d4752a836901.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/46972d51-1176-46ed-b72a-c9189eccd1ce.html" target="element"> SUP.7.BP3 Specify documentation requirements </a> </td>
											    <td> <a href="../elements/46972d51-1176-46ed-b72a-c9189eccd1ce.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5058db90-a853-4500-8fe6-c39b4a4746e4.html" target="element"> SUP.7.BP2 Establish standards for documentation </a> </td>
											    <td> <a href="../elements/5058db90-a853-4500-8fe6-c39b4a4746e4.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b15d5cdc-62b2-49c5-9f32-74bcb77edfb4.html" target="element"> SUP.7.BP5 Develop documentation </a> </td>
											    <td> <a href="../elements/b15d5cdc-62b2-49c5-9f32-74bcb77edfb4.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/91bbd59a-5f9a-499d-a73f-c146edda7a3d.html" target="element"> SUP.7.BP4 Identify the relevant documentation to be produced </a> </td>
											    <td> <a href="../elements/91bbd59a-5f9a-499d-a73f-c146edda7a3d.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3478d911-5ed5-442f-a994-67b2c952bf32.html" target="element"> SUP.7.BP1 Develop a documentation management strategy </a> </td>
											    <td> <a href="../elements/3478d911-5ed5-442f-a994-67b2c952bf32.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/31da74b9-d536-4881-a128-2cc37519d1a4.html" target="element"> SUP.7.BP6 Check documentation </a> </td>
											    <td> <a href="../elements/31da74b9-d536-4881-a128-2cc37519d1a4.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6cdf19ed-4d38-445e-9e6b-6286f0d72ed7.html" target="element"> SUP.7.BP7 Distribute documentation </a> </td>
											    <td> <a href="../elements/6cdf19ed-4d38-445e-9e6b-6286f0d72ed7.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/179627dd-a824-4ff6-bfcb-05a080d979a2.html" target="element"> SUP.7.BP8 Maintain documentation </a> </td>
											    <td> <a href="../elements/179627dd-a824-4ff6-bfcb-05a080d979a2.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/896217b7-3559-4e6e-afb1-46236dcc21f0.html" target="element">  </a> </td>
																		<td> <a href="../elements/896217b7-3559-4e6e-afb1-46236dcc21f0.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/99a2970f-389b-439d-a047-63794ef847b5.html" target="element"> 08-26 Documentation plan </a> </td>
																		<td> <a href="../elements/b1c666ba-ea72-4c24-90de-e81e6a178b9d.html" target="element"> SUP.7.O.1 A strategy identifying the documentation to be produced during the lifecycle of the product or service is developed </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b3c3923e-cdbb-423b-a79e-0f64d344afe4.html" target="element">  </a> </td>
																		<td> <a href="../elements/b3c3923e-cdbb-423b-a79e-0f64d344afe4.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/99a2970f-389b-439d-a047-63794ef847b5.html" target="element"> 08-26 Documentation plan </a> </td>
																		<td> <a href="../elements/3e2296d8-0ff9-4ade-9cb1-3bba17ca4fab.html" target="element"> SUP.7.O.2 The standards to be applied for the development of the documentation are identified </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/adeba597-b5c4-4a45-9f9e-55706988c5f8.html" target="element">  </a> </td>
																		<td> <a href="../elements/adeba597-b5c4-4a45-9f9e-55706988c5f8.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/5d54f4ee-0ad9-4fda-8747-d0299d022683.html" target="element"> 13-01 Acceptance record </a> </td>
																		<td> <a href="../elements/72055116-1ab1-4f14-8cc4-52519d0e48df.html" target="element"> SUP.7.O.4 The content and purpose of all documentation is specified, reviewed and approved </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f75fba00-ebeb-48b3-9c27-f1803b40d0f8.html" target="element">  </a> </td>
																		<td> <a href="../elements/f75fba00-ebeb-48b3-9c27-f1803b40d0f8.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/5d54f4ee-0ad9-4fda-8747-d0299d022683.html" target="element"> 13-01 Acceptance record </a> </td>
																		<td> <a href="../elements/b9170925-99f2-4b84-90a6-96c9cadecb8d.html" target="element"> SUP.7.O.5 Documentation is developed and made available in accordance with identified standards </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/d9dbc634-5af6-4bb2-a458-026d9b8860a1.html" target="element">  </a> </td>
																		<td> <a href="../elements/d9dbc634-5af6-4bb2-a458-026d9b8860a1.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element"> 13-19 Review Record </a> </td>
																		<td> <a href="../elements/72055116-1ab1-4f14-8cc4-52519d0e48df.html" target="element"> SUP.7.O.4 The content and purpose of all documentation is specified, reviewed and approved </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0b18abee-84c2-4f12-840b-866727b44510.html" target="element">  </a> </td>
																		<td> <a href="../elements/0b18abee-84c2-4f12-840b-866727b44510.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element"> 13-19 Review Record </a> </td>
																		<td> <a href="../elements/b9170925-99f2-4b84-90a6-96c9cadecb8d.html" target="element"> SUP.7.O.5 Documentation is developed and made available in accordance with identified standards </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/938b775c-0260-4779-bd4c-d2ad8fed9b7b.html" target="element">  </a> </td>
																		<td> <a href="../elements/938b775c-0260-4779-bd4c-d2ad8fed9b7b.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/911eaef4-e67d-42a3-995f-9a1788bfa10f.html" target="element"> 14-01 Change history </a> </td>
																		<td> <a href="../elements/b9170925-99f2-4b84-90a6-96c9cadecb8d.html" target="element"> SUP.7.O.5 Documentation is developed and made available in accordance with identified standards </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3deaeba3-df24-4661-b840-df8b13b4d510.html" target="element">  </a> </td>
																		<td> <a href="../elements/3deaeba3-df24-4661-b840-df8b13b4d510.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/911eaef4-e67d-42a3-995f-9a1788bfa10f.html" target="element"> 14-01 Change history </a> </td>
																		<td> <a href="../elements/ab642367-ad38-47fd-9016-3907b3f05176.html" target="element"> SUP.7.O.6 Documentation is maintained in accordance with defined criteria </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/917c1b38-99aa-4789-9b04-e9e89001c3da.html" target="element">  </a> </td>
																		<td> <a href="../elements/917c1b38-99aa-4789-9b04-e9e89001c3da.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/4899f92e-45ee-49c5-be6f-d4752a836901.html" target="element"> 14-11 Work product list </a> </td>
																		<td> <a href="../elements/62cb6831-f017-408d-ae90-aab4cc4408fd.html" target="element"> SUP.7.O.3 Documentation to be produced by the process or project is identified </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/1c560bcc-8dfb-4cef-9d6f-a598bc96fbe5.html" target="element">  </a> </td>
																		<td> <a href="../elements/1c560bcc-8dfb-4cef-9d6f-a598bc96fbe5.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/46972d51-1176-46ed-b72a-c9189eccd1ce.html" target="element"> SUP.7.BP3 Specify documentation requirements </a> </td>
																		<td> <a href="../elements/3e2296d8-0ff9-4ade-9cb1-3bba17ca4fab.html" target="element"> SUP.7.O.2 The standards to be applied for the development of the documentation are identified </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/e795c712-7588-40f6-9ee9-021fd47164c8.html" target="element">  </a> </td>
																		<td> <a href="../elements/e795c712-7588-40f6-9ee9-021fd47164c8.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/5058db90-a853-4500-8fe6-c39b4a4746e4.html" target="element"> SUP.7.BP2 Establish standards for documentation </a> </td>
																		<td> <a href="../elements/3e2296d8-0ff9-4ade-9cb1-3bba17ca4fab.html" target="element"> SUP.7.O.2 The standards to be applied for the development of the documentation are identified </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/69e08a46-4741-4e6c-8996-15d208cf78b5.html" target="element">  </a> </td>
																		<td> <a href="../elements/69e08a46-4741-4e6c-8996-15d208cf78b5.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/b15d5cdc-62b2-49c5-9f32-74bcb77edfb4.html" target="element"> SUP.7.BP5 Develop documentation </a> </td>
																		<td> <a href="../elements/72055116-1ab1-4f14-8cc4-52519d0e48df.html" target="element"> SUP.7.O.4 The content and purpose of all documentation is specified, reviewed and approved </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/01fe3f06-fb1c-4a6e-9d9a-c47454d32ee7.html" target="element">  </a> </td>
																		<td> <a href="../elements/01fe3f06-fb1c-4a6e-9d9a-c47454d32ee7.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/b15d5cdc-62b2-49c5-9f32-74bcb77edfb4.html" target="element"> SUP.7.BP5 Develop documentation </a> </td>
																		<td> <a href="../elements/b9170925-99f2-4b84-90a6-96c9cadecb8d.html" target="element"> SUP.7.O.5 Documentation is developed and made available in accordance with identified standards </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/f1d75ed2-39aa-4995-b616-32b77d4d6c0b.html" target="element">  </a> </td>
																		<td> <a href="../elements/f1d75ed2-39aa-4995-b616-32b77d4d6c0b.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/91bbd59a-5f9a-499d-a73f-c146edda7a3d.html" target="element"> SUP.7.BP4 Identify the relevant documentation to be produced </a> </td>
																		<td> <a href="../elements/62cb6831-f017-408d-ae90-aab4cc4408fd.html" target="element"> SUP.7.O.3 Documentation to be produced by the process or project is identified </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/11d515fb-4648-4e34-a481-356f943f8d1d.html" target="element">  </a> </td>
																		<td> <a href="../elements/11d515fb-4648-4e34-a481-356f943f8d1d.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/3478d911-5ed5-442f-a994-67b2c952bf32.html" target="element"> SUP.7.BP1 Develop a documentation management strategy </a> </td>
																		<td> <a href="../elements/b1c666ba-ea72-4c24-90de-e81e6a178b9d.html" target="element"> SUP.7.O.1 A strategy identifying the documentation to be produced during the lifecycle of the product or service is developed </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/2b52e630-b08b-42c0-8c15-ff792c59244d.html" target="element">  </a> </td>
																		<td> <a href="../elements/2b52e630-b08b-42c0-8c15-ff792c59244d.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/31da74b9-d536-4881-a128-2cc37519d1a4.html" target="element"> SUP.7.BP6 Check documentation </a> </td>
																		<td> <a href="../elements/b9170925-99f2-4b84-90a6-96c9cadecb8d.html" target="element"> SUP.7.O.5 Documentation is developed and made available in accordance with identified standards </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/5a327b86-5405-4566-b602-f805d9b16905.html" target="element">  </a> </td>
																		<td> <a href="../elements/5a327b86-5405-4566-b602-f805d9b16905.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/6cdf19ed-4d38-445e-9e6b-6286f0d72ed7.html" target="element"> SUP.7.BP7 Distribute documentation </a> </td>
																		<td> <a href="../elements/b9170925-99f2-4b84-90a6-96c9cadecb8d.html" target="element"> SUP.7.O.5 Documentation is developed and made available in accordance with identified standards </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/8cfe0e69-cf82-4f18-90a5-fb8cbff07445.html" target="element">  </a> </td>
																		<td> <a href="../elements/8cfe0e69-cf82-4f18-90a5-fb8cbff07445.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/179627dd-a824-4ff6-bfcb-05a080d979a2.html" target="element"> SUP.7.BP8 Maintain documentation </a> </td>
																		<td> <a href="../elements/ab642367-ad38-47fd-9016-3907b3f05176.html" target="element"> SUP.7.O.6 Documentation is maintained in accordance with defined criteria </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>