<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Overview - HWE.1 Hardware Requirements Analysis</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Overview - HWE.1 Hardware Requirements Analysis</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/fb96da96-9d25-4ab2-afcd-4058e6b9dd9f.png" alt="Overview - HWE.1 Hardware Requirements Analysis" usemap="#fb96da96-9d25-4ab2-afcd-4058e6b9dd9fmap"/>
			   <map name="fb96da96-9d25-4ab2-afcd-4058e6b9dd9fmap">
				  		<area shape="rect" coords="531,106,769,239" href="../elements/0e70f81c-4b10-449e-a7a4-74d38fd6e2d1.html"  target="element">
				  		<area shape="rect" coords="267,106,505,239" href="../elements/8a0486e2-ecfd-4ed1-ae09-6963a3275247.html"  target="element">
				  		<area shape="rect" coords="10,106,248,239" href="../elements/017ea5a4-51f3-4099-a98a-9ff9c3efded1.html"  target="element">
				  		<area shape="rect" coords="1035,10,1273,95" href="../elements/bd566e4b-ac1c-4b6c-9978-e575ccd8dd02.html"  target="element">
				  		<area shape="rect" coords="783,10,1021,95" href="../elements/b42d3f51-03f0-4f1a-a2cc-abdba273ea6a.html"  target="element">
				  		<area shape="rect" coords="531,10,769,95" href="../elements/770e0ee3-c6c2-42dc-9a1d-22ce2d724b17.html"  target="element">
				  		<area shape="rect" coords="267,10,505,95" href="../elements/4e1fa500-7223-439e-bd5b-35eaf1732232.html"  target="element">
				  		<area shape="rect" coords="10,10,248,95" href="../elements/82bb4f15-0841-4e93-84a9-524676dde541.html"  target="element">
				  		<area shape="rect" coords="590,682,795,737" href="../elements/652e4098-094d-4312-992c-0f23fc852cc3.html"  target="element">
				  		<area shape="rect" coords="590,611,795,666" href="../elements/b846e279-64bb-4f1d-b21c-88ec6d53ed0a.html"  target="element">
				  		<area shape="rect" coords="590,541,795,596" href="../elements/46ef0390-c285-4923-8ce6-e9680248ce42.html"  target="element">
				  		<area shape="rect" coords="590,469,795,524" href="../elements/27d1998c-afb9-4d93-9df6-b6d8ff6e8a0e.html"  target="element">
				  		<area shape="rect" coords="591,397,796,452" href="../elements/90ada978-e397-4600-878f-60e697a70705.html"  target="element">
				  		<area shape="rect" coords="590,325,795,380" href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html"  target="element">
				  		<area shape="rect" coords="591,253,796,308" href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html"  target="element">
				  				<area shape="rect" coords="271,730,524,785" href="../elements/f4adf3b3-f7c0-40ea-b8b2-0df596a5fce0.html"  target="element">
				  				<area shape="rect" coords="271,658,524,713" href="../elements/ccb4ef51-4bd8-476e-b23b-d0b25c96f754.html"  target="element">
				  				<area shape="rect" coords="271,586,524,641" href="../elements/70493c9b-b54c-43fc-bc7f-8effb4248528.html"  target="element">
				  				<area shape="rect" coords="271,514,524,569" href="../elements/f67c6754-9e24-49fd-b7ff-b73fa2dbf0f0.html"  target="element">
				  				<area shape="rect" coords="271,442,524,497" href="../elements/20ce1f41-6c22-4d68-9403-d92f9cf3fd77.html"  target="element">
				  				<area shape="rect" coords="271,370,524,425" href="../elements/d7b54fc7-e876-430b-976a-fcffba5db16f.html"  target="element">
				  				<area shape="rect" coords="271,302,524,357" href="../elements/dcf50edd-0158-418a-bc08-4b9d128037a3.html"  target="element">

				  		<area shape="rect" coords="247,250,548,911" href="../elements/9034a8fc-d420-4d5e-92fd-aa03763f9619.html"  target="element">
				          <area shape="rect" coords="1011,178,1249,455" href="../objects/e4bc14df-a362-449f-bebb-7da954915351.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/e4bc14df-a362-449f-bebb-7da954915351.html" target="element">  </a> </td>
									           <td> <a href="../objects/e4bc14df-a362-449f-bebb-7da954915351.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/9034a8fc-d420-4d5e-92fd-aa03763f9619.html" target="element"> HWE.1 Hardware Requirements Analysis </a> </td>
											    <td> <a href="../elements/9034a8fc-d420-4d5e-92fd-aa03763f9619.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/dcf50edd-0158-418a-bc08-4b9d128037a3.html" target="element"> HWE.1.BP1 Specify hardware requirements </a> </td>
													    <td> <a href="../elements/dcf50edd-0158-418a-bc08-4b9d128037a3.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/d7b54fc7-e876-430b-976a-fcffba5db16f.html" target="element"> HWE.1.BP2 Structure hardware requirements </a> </td>
													    <td> <a href="../elements/d7b54fc7-e876-430b-976a-fcffba5db16f.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/20ce1f41-6c22-4d68-9403-d92f9cf3fd77.html" target="element"> HWE.1.BP3 Analyse hardware requirements </a> </td>
													    <td> <a href="../elements/20ce1f41-6c22-4d68-9403-d92f9cf3fd77.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/f67c6754-9e24-49fd-b7ff-b73fa2dbf0f0.html" target="element"> HWE.1.BP4 Analyse the impact on the operating environment </a> </td>
													    <td> <a href="../elements/f67c6754-9e24-49fd-b7ff-b73fa2dbf0f0.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/70493c9b-b54c-43fc-bc7f-8effb4248528.html" target="element"> HWE.1.BP5 Establish bidirectional traceability </a> </td>
													    <td> <a href="../elements/70493c9b-b54c-43fc-bc7f-8effb4248528.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/ccb4ef51-4bd8-476e-b23b-d0b25c96f754.html" target="element"> HWE.1.BP6 Ensure consistency </a> </td>
													    <td> <a href="../elements/ccb4ef51-4bd8-476e-b23b-d0b25c96f754.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/f4adf3b3-f7c0-40ea-b8b2-0df596a5fce0.html" target="element"> HWE.1.BP7 Communicate agreed hardware requirements </a> </td>
													    <td> <a href="../elements/f4adf3b3-f7c0-40ea-b8b2-0df596a5fce0.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element"> 13-04 Communication Record </a> </td>
											    <td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element"> 13-19 Review Record </a> </td>
											    <td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/90ada978-e397-4600-878f-60e697a70705.html" target="element"> 13-21 Change control record </a> </td>
											    <td> <a href="../elements/90ada978-e397-4600-878f-60e697a70705.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/27d1998c-afb9-4d93-9df6-b6d8ff6e8a0e.html" target="element"> 13-22 Traceability record  </a> </td>
											    <td> <a href="../elements/27d1998c-afb9-4d93-9df6-b6d8ff6e8a0e.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/46ef0390-c285-4923-8ce6-e9680248ce42.html" target="element"> 15-01 Analysis report </a> </td>
											    <td> <a href="../elements/46ef0390-c285-4923-8ce6-e9680248ce42.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b846e279-64bb-4f1d-b21c-88ec6d53ed0a.html" target="element"> 17-08 Interface requirements specification </a> </td>
											    <td> <a href="../elements/b846e279-64bb-4f1d-b21c-88ec6d53ed0a.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/652e4098-094d-4312-992c-0f23fc852cc3.html" target="element"> 17-HW01 Hardware requirements specification </a> </td>
											    <td> <a href="../elements/652e4098-094d-4312-992c-0f23fc852cc3.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/82bb4f15-0841-4e93-84a9-524676dde541.html" target="element"> HWE.1.O.1 The hardware requirements to be allocated to the hardware elements ofthe system and their interfaces are defined </a> </td>
											    <td> <a href="../elements/82bb4f15-0841-4e93-84a9-524676dde541.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4e1fa500-7223-439e-bd5b-35eaf1732232.html" target="element"> HWE.1.O.2 Hardware requirements are categorized and analysed </a> </td>
											    <td> <a href="../elements/4e1fa500-7223-439e-bd5b-35eaf1732232.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/770e0ee3-c6c2-42dc-9a1d-22ce2d724b17.html" target="element"> HWE.1.O.3 The impact of hardware requirements on the operating environment is analysed </a> </td>
											    <td> <a href="../elements/770e0ee3-c6c2-42dc-9a1d-22ce2d724b17.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b42d3f51-03f0-4f1a-a2cc-abdba273ea6a.html" target="element"> HWE.1.O.4 Prioritization of hardware requirements is defined </a> </td>
											    <td> <a href="../elements/b42d3f51-03f0-4f1a-a2cc-abdba273ea6a.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/bd566e4b-ac1c-4b6c-9978-e575ccd8dd02.html" target="element"> HWE.1.O.5 The hardware requirements are updated as needed </a> </td>
											    <td> <a href="../elements/bd566e4b-ac1c-4b6c-9978-e575ccd8dd02.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/017ea5a4-51f3-4099-a98a-9ff9c3efded1.html" target="element"> HWE.1.O.6 Consistency and bidirectional traceability are established between system requirements and hardware requirements. Consistency and bidirectional traceability are established between system architectural design and hardware requirements </a> </td>
											    <td> <a href="../elements/017ea5a4-51f3-4099-a98a-9ff9c3efded1.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8a0486e2-ecfd-4ed1-ae09-6963a3275247.html" target="element"> HWE.1.O.7 The hardware requirements are evaluated for cost, schedule andtechnical impact </a> </td>
											    <td> <a href="../elements/8a0486e2-ecfd-4ed1-ae09-6963a3275247.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0e70f81c-4b10-449e-a7a4-74d38fd6e2d1.html" target="element"> HWE.1.O.8 The hardware requirements are agreed and communicated to all affected parties </a> </td>
											    <td> <a href="../elements/0e70f81c-4b10-449e-a7a4-74d38fd6e2d1.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/e8ef26cc-1fe0-45db-8517-b9e2a569026b.html" target="element">  </a> </td>
																		<td> <a href="../elements/e8ef26cc-1fe0-45db-8517-b9e2a569026b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/9034a8fc-d420-4d5e-92fd-aa03763f9619.html" target="element"> HWE.1 Hardware Requirements Analysis </a> </td>
																		<td> <a href="../elements/f4adf3b3-f7c0-40ea-b8b2-0df596a5fce0.html" target="element"> HWE.1.BP7 Communicate agreed hardware requirements </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c11d71df-f31d-4290-a0bb-89943ea57461.html" target="element">  </a> </td>
																		<td> <a href="../elements/c11d71df-f31d-4290-a0bb-89943ea57461.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/9034a8fc-d420-4d5e-92fd-aa03763f9619.html" target="element"> HWE.1 Hardware Requirements Analysis </a> </td>
																		<td> <a href="../elements/ccb4ef51-4bd8-476e-b23b-d0b25c96f754.html" target="element"> HWE.1.BP6 Ensure consistency </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a027eba6-eae4-4c5c-b2da-0e6f6ab91228.html" target="element">  </a> </td>
																		<td> <a href="../elements/a027eba6-eae4-4c5c-b2da-0e6f6ab91228.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/9034a8fc-d420-4d5e-92fd-aa03763f9619.html" target="element"> HWE.1 Hardware Requirements Analysis </a> </td>
																		<td> <a href="../elements/20ce1f41-6c22-4d68-9403-d92f9cf3fd77.html" target="element"> HWE.1.BP3 Analyse hardware requirements </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/51ed051e-1e64-42eb-90f9-a00f7baef9c6.html" target="element">  </a> </td>
																		<td> <a href="../elements/51ed051e-1e64-42eb-90f9-a00f7baef9c6.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/9034a8fc-d420-4d5e-92fd-aa03763f9619.html" target="element"> HWE.1 Hardware Requirements Analysis </a> </td>
																		<td> <a href="../elements/90ada978-e397-4600-878f-60e697a70705.html" target="element"> 13-21 Change control record </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e423839e-fbd6-4642-91c7-a77c3b68bab8.html" target="element">  </a> </td>
																		<td> <a href="../elements/e423839e-fbd6-4642-91c7-a77c3b68bab8.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/9034a8fc-d420-4d5e-92fd-aa03763f9619.html" target="element"> HWE.1 Hardware Requirements Analysis </a> </td>
																		<td> <a href="../elements/27d1998c-afb9-4d93-9df6-b6d8ff6e8a0e.html" target="element"> 13-22 Traceability record  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/64985f11-4391-4fcf-9a45-5155f064d568.html" target="element">  </a> </td>
																		<td> <a href="../elements/64985f11-4391-4fcf-9a45-5155f064d568.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/9034a8fc-d420-4d5e-92fd-aa03763f9619.html" target="element"> HWE.1 Hardware Requirements Analysis </a> </td>
																		<td> <a href="../elements/b846e279-64bb-4f1d-b21c-88ec6d53ed0a.html" target="element"> 17-08 Interface requirements specification </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/119b1643-ec59-448b-8ea6-757d5ca4b67a.html" target="element">  </a> </td>
																		<td> <a href="../elements/119b1643-ec59-448b-8ea6-757d5ca4b67a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/9034a8fc-d420-4d5e-92fd-aa03763f9619.html" target="element"> HWE.1 Hardware Requirements Analysis </a> </td>
																		<td> <a href="../elements/70493c9b-b54c-43fc-bc7f-8effb4248528.html" target="element"> HWE.1.BP5 Establish bidirectional traceability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/255e2744-5379-4eb8-a92e-b6ce7a699a6b.html" target="element">  </a> </td>
																		<td> <a href="../elements/255e2744-5379-4eb8-a92e-b6ce7a699a6b.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/9034a8fc-d420-4d5e-92fd-aa03763f9619.html" target="element"> HWE.1 Hardware Requirements Analysis </a> </td>
																		<td> <a href="../elements/d47e94c8-d6bf-4afe-bbc6-cc6ccb757fe4.html" target="element"> 13-19 Review Record </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3127fc18-003f-4d48-a251-58fdcd93a96a.html" target="element">  </a> </td>
																		<td> <a href="../elements/3127fc18-003f-4d48-a251-58fdcd93a96a.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/9034a8fc-d420-4d5e-92fd-aa03763f9619.html" target="element"> HWE.1 Hardware Requirements Analysis </a> </td>
																		<td> <a href="../elements/46ef0390-c285-4923-8ce6-e9680248ce42.html" target="element"> 15-01 Analysis report </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e5c60ad4-3c4c-4dee-9bbf-1cd0a9932564.html" target="element">  </a> </td>
																		<td> <a href="../elements/e5c60ad4-3c4c-4dee-9bbf-1cd0a9932564.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/9034a8fc-d420-4d5e-92fd-aa03763f9619.html" target="element"> HWE.1 Hardware Requirements Analysis </a> </td>
																		<td> <a href="../elements/dcf50edd-0158-418a-bc08-4b9d128037a3.html" target="element"> HWE.1.BP1 Specify hardware requirements </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/cd3eeb7c-7dfe-4644-8115-19affe3c91f2.html" target="element">  </a> </td>
																		<td> <a href="../elements/cd3eeb7c-7dfe-4644-8115-19affe3c91f2.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/9034a8fc-d420-4d5e-92fd-aa03763f9619.html" target="element"> HWE.1 Hardware Requirements Analysis </a> </td>
																		<td> <a href="../elements/652e4098-094d-4312-992c-0f23fc852cc3.html" target="element"> 17-HW01 Hardware requirements specification </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f2cd5e02-5559-4d08-b846-acd9afba1622.html" target="element">  </a> </td>
																		<td> <a href="../elements/f2cd5e02-5559-4d08-b846-acd9afba1622.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/9034a8fc-d420-4d5e-92fd-aa03763f9619.html" target="element"> HWE.1 Hardware Requirements Analysis </a> </td>
																		<td> <a href="../elements/d7b54fc7-e876-430b-976a-fcffba5db16f.html" target="element"> HWE.1.BP2 Structure hardware requirements </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e2e8f8bb-8b62-4829-ac4a-b5d7d939227a.html" target="element">  </a> </td>
																		<td> <a href="../elements/e2e8f8bb-8b62-4829-ac4a-b5d7d939227a.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/9034a8fc-d420-4d5e-92fd-aa03763f9619.html" target="element"> HWE.1 Hardware Requirements Analysis </a> </td>
																		<td> <a href="../elements/e902bc7d-857b-4a04-b003-ee3d760e3d1d.html" target="element"> 13-04 Communication Record </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/be04aabc-8eba-4aa3-a7e9-403cf1790113.html" target="element">  </a> </td>
																		<td> <a href="../elements/be04aabc-8eba-4aa3-a7e9-403cf1790113.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/9034a8fc-d420-4d5e-92fd-aa03763f9619.html" target="element"> HWE.1 Hardware Requirements Analysis </a> </td>
																		<td> <a href="../elements/f67c6754-9e24-49fd-b7ff-b73fa2dbf0f0.html" target="element"> HWE.1.BP4 Analyse the impact on the operating environment </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>