<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Overview - ACQ.12 Legal and Administrative Requirements</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Overview - ACQ.12 Legal and Administrative Requirements</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/fd1abc9c-5ab5-4f25-ab6b-c230e73b799c.png" alt="Overview - ACQ.12 Legal and Administrative Requirements" usemap="#fd1abc9c-5ab5-4f25-ab6b-c230e73b799cmap"/>
			   <map name="fd1abc9c-5ab5-4f25-ab6b-c230e73b799cmap">
				  		<area shape="rect" coords="679,562,884,617" href="../elements/90146306-4004-48b7-b8ce-c00c995a35cc.html"  target="element">
				  		<area shape="rect" coords="679,502,884,557" href="../elements/3400d0a7-31c3-46f8-8e99-a25fad4ca5d5.html"  target="element">
				  		<area shape="rect" coords="679,442,884,497" href="../elements/34ae6686-328e-48cc-b572-dd082325e1fa.html"  target="element">
				  		<area shape="rect" coords="679,382,884,437" href="../elements/d1cb0629-11ee-483a-b513-6264faff0a0d.html"  target="element">
				  		<area shape="rect" coords="679,322,884,377" href="../elements/a2964280-b66f-40de-a20b-30d7d4fcfee3.html"  target="element">
				  		<area shape="rect" coords="262,148,500,269" href="../elements/c5d1f40b-4fde-4b49-88bc-23b05d469e62.html"  target="element">
				  		<area shape="rect" coords="10,148,248,269" href="../elements/91f09b6c-7d37-4384-a430-f74da2cd2dd1.html"  target="element">
				  		<area shape="rect" coords="1015,10,1253,131" href="../elements/743c680b-788f-4b26-8437-e21ceb664252.html"  target="element">
				  		<area shape="rect" coords="763,10,1001,131" href="../elements/12c17a17-0e01-4ce9-9c10-a40663b64d6b.html"  target="element">
				  		<area shape="rect" coords="511,10,749,131" href="../elements/6aefaea6-aca1-4c48-9844-82c978f044af.html"  target="element">
				  		<area shape="rect" coords="262,10,500,131" href="../elements/7c180e6d-54f9-4f00-9746-b1c44ea6a006.html"  target="element">
				  		<area shape="rect" coords="10,10,248,131" href="../elements/866976ad-1a0a-459e-b544-1af78b5b7467.html"  target="element">
				  		<area shape="rect" coords="679,622,884,677" href="../elements/6fa5bd37-2d6b-4db7-ab08-7c41f9e24dd2.html"  target="element">
				  				<area shape="rect" coords="274,778,552,833" href="../elements/ad03e42a-746a-476e-813a-44837d251c6e.html"  target="element">
				  				<area shape="rect" coords="274,478,552,533" href="../elements/e74738a9-4e4c-42f0-af6f-3f505684e1ac.html"  target="element">
				  				<area shape="rect" coords="274,898,552,953" href="../elements/9d36e3f6-885e-4f6d-a7f3-b9095c93c52c.html"  target="element">
				  				<area shape="rect" coords="274,658,552,713" href="../elements/670cc1bb-f64f-42bd-afa6-00a93026f534.html"  target="element">
				  				<area shape="rect" coords="274,418,552,473" href="../elements/4dc26ddc-bf61-46a6-a0c0-3311ce54c199.html"  target="element">
				  				<area shape="rect" coords="274,838,552,893" href="../elements/8d410e6d-f277-45cf-a8d1-5873845f6829.html"  target="element">
				  				<area shape="rect" coords="274,598,552,653" href="../elements/d6451fb5-37db-4b18-b38a-738ce6a2b2b9.html"  target="element">
				  				<area shape="rect" coords="274,538,552,593" href="../elements/c4128325-e6b8-48aa-9f8b-0f4565be0bdb.html"  target="element">
				  				<area shape="rect" coords="274,718,552,773" href="../elements/9df22f54-8ffe-4ea0-a7b3-15af79b56a07.html"  target="element">
				  				<area shape="rect" coords="274,358,552,413" href="../elements/ee8e0c71-b321-450c-a067-8b0c8fad365a.html"  target="element">

				  		<area shape="rect" coords="262,322,563,983" href="../elements/a4ad44e0-77c4-480d-bff1-dc7a2d199843.html"  target="element">
				          <area shape="rect" coords="1051,310,1289,927" href="../objects/3f406133-1705-46c0-abc7-6c8ab58aabcd.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">This view describes ACQ.12 Legal and Administrative Requirements Process, its outputs and outcomes

Relation of Outcomes to Outputs and Base Practices is out of scope of this view. See respective view for these details.

Latest version and docs can be found here: https://github.com/alef1986/ASPICE-Archi

Source of information for this view is Automotive SPICE Standards v.3.1
(http://www.automotivespice.com/fileadmin/software-download/AutomotiveSPICE_PAM_31.pdf)</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/3f406133-1705-46c0-abc7-6c8ab58aabcd.html" target="element">  </a> </td>
									           <td> <a href="../objects/3f406133-1705-46c0-abc7-6c8ab58aabcd.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/a4ad44e0-77c4-480d-bff1-dc7a2d199843.html" target="element"> ACQ.12 Legal and Administrative Requirements </a> </td>
											    <td> <a href="../elements/a4ad44e0-77c4-480d-bff1-dc7a2d199843.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/ee8e0c71-b321-450c-a067-8b0c8fad365a.html" target="element"> ACQ.12.BP1 Identify relevant regulations </a> </td>
													    <td> <a href="../elements/ee8e0c71-b321-450c-a067-8b0c8fad365a.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/9df22f54-8ffe-4ea0-a7b3-15af79b56a07.html" target="element"> ACQ.12.BP7 Establish management of intellectual property rights </a> </td>
													    <td> <a href="../elements/9df22f54-8ffe-4ea0-a7b3-15af79b56a07.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/c4128325-e6b8-48aa-9f8b-0f4565be0bdb.html" target="element"> ACQ.12.BP4 Ensure usage of agreed terms and conditions </a> </td>
													    <td> <a href="../elements/c4128325-e6b8-48aa-9f8b-0f4565be0bdb.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/d6451fb5-37db-4b18-b38a-738ce6a2b2b9.html" target="element"> ACQ.12.BP5 Establish acceptance criteria </a> </td>
													    <td> <a href="../elements/d6451fb5-37db-4b18-b38a-738ce6a2b2b9.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/8d410e6d-f277-45cf-a8d1-5873845f6829.html" target="element"> ACQ.12.BP9 Define provision for the suppliers </a> </td>
													    <td> <a href="../elements/8d410e6d-f277-45cf-a8d1-5873845f6829.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/4dc26ddc-bf61-46a6-a0c0-3311ce54c199.html" target="element"> ACQ.12.BP2 Consider relevant regulations </a> </td>
													    <td> <a href="../elements/4dc26ddc-bf61-46a6-a0c0-3311ce54c199.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/670cc1bb-f64f-42bd-afa6-00a93026f534.html" target="element"> ACQ.12.BP6 Establish escalation mechanisms </a> </td>
													    <td> <a href="../elements/670cc1bb-f64f-42bd-afa6-00a93026f534.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/9d36e3f6-885e-4f6d-a7f3-b9095c93c52c.html" target="element"> ACQ.12.BP10 Establish criteria for liability issues </a> </td>
													    <td> <a href="../elements/9d36e3f6-885e-4f6d-a7f3-b9095c93c52c.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/e74738a9-4e4c-42f0-af6f-3f505684e1ac.html" target="element"> ACQ.12.BP3 Agree on (contractual) terms and conditions </a> </td>
													    <td> <a href="../elements/e74738a9-4e4c-42f0-af6f-3f505684e1ac.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/ad03e42a-746a-476e-813a-44837d251c6e.html" target="element"> ACQ.12.BP8 Provide for warranties and service level agreements </a> </td>
													    <td> <a href="../elements/ad03e42a-746a-476e-813a-44837d251c6e.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/6fa5bd37-2d6b-4db7-ab08-7c41f9e24dd2.html" target="element"> 18-01 Acceptance criteria </a> </td>
											    <td> <a href="../elements/6fa5bd37-2d6b-4db7-ab08-7c41f9e24dd2.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/866976ad-1a0a-459e-b544-1af78b5b7467.html" target="element"> ACQ.12.O.1 A contractual approach is defined which is compliant with relevantnational, international and regulatory laws, guidance and policies </a> </td>
											    <td> <a href="../elements/866976ad-1a0a-459e-b544-1af78b5b7467.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7c180e6d-54f9-4f00-9746-b1c44ea6a006.html" target="element"> ACQ.12.O.2 An agreement, (contractual) terms and conditions are defined todescribe how the supplier will meet the needs and expectations </a> </td>
											    <td> <a href="../elements/7c180e6d-54f9-4f00-9746-b1c44ea6a006.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6aefaea6-aca1-4c48-9844-82c978f044af.html" target="element"> ACQ.12.O.3 Acceptance criteria and mechanisms for handling of breaches to thefulfillment of contract are established </a> </td>
											    <td> <a href="../elements/6aefaea6-aca1-4c48-9844-82c978f044af.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/12c17a17-0e01-4ce9-9c10-a40663b64d6b.html" target="element"> ACQ.12.O.4 The rights of the acquirer to assume, modify or evaluate, directly orindirectly Intellectual Property Rights are established </a> </td>
											    <td> <a href="../elements/12c17a17-0e01-4ce9-9c10-a40663b64d6b.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/743c680b-788f-4b26-8437-e21ceb664252.html" target="element"> ACQ.12.O.5 Warranties and service level agreements are provided for whereapplicable </a> </td>
											    <td> <a href="../elements/743c680b-788f-4b26-8437-e21ceb664252.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/91f09b6c-7d37-4384-a430-f74da2cd2dd1.html" target="element"> ACQ.12.O.6 Provision for the suppliers to deliver other requirements (e.g. qualityplan, escrow arrangements etc.) is defined </a> </td>
											    <td> <a href="../elements/91f09b6c-7d37-4384-a430-f74da2cd2dd1.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c5d1f40b-4fde-4b49-88bc-23b05d469e62.html" target="element"> ACQ.12.O.7 Recognized criteria for proprietary, regulatory and other productliabilities issues are established </a> </td>
											    <td> <a href="../elements/c5d1f40b-4fde-4b49-88bc-23b05d469e62.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a2964280-b66f-40de-a20b-30d7d4fcfee3.html" target="element"> 02-00 Contract </a> </td>
											    <td> <a href="../elements/a2964280-b66f-40de-a20b-30d7d4fcfee3.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d1cb0629-11ee-483a-b513-6264faff0a0d.html" target="element"> 02-01 Commitment/agreement </a> </td>
											    <td> <a href="../elements/d1cb0629-11ee-483a-b513-6264faff0a0d.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/34ae6686-328e-48cc-b572-dd082325e1fa.html" target="element"> 10-00 Process description </a> </td>
											    <td> <a href="../elements/34ae6686-328e-48cc-b572-dd082325e1fa.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3400d0a7-31c3-46f8-8e99-a25fad4ca5d5.html" target="element"> 14-02 Corrective Action Register </a> </td>
											    <td> <a href="../elements/3400d0a7-31c3-46f8-8e99-a25fad4ca5d5.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/90146306-4004-48b7-b8ce-c00c995a35cc.html" target="element"> 17-00 Requirement specification </a> </td>
											    <td> <a href="../elements/90146306-4004-48b7-b8ce-c00c995a35cc.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/e008fd3a-cb0e-4e5b-87e7-e257568f86b1.html" target="element">  </a> </td>
																		<td> <a href="../elements/e008fd3a-cb0e-4e5b-87e7-e257568f86b1.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a4ad44e0-77c4-480d-bff1-dc7a2d199843.html" target="element"> ACQ.12 Legal and Administrative Requirements </a> </td>
																		<td> <a href="../elements/ee8e0c71-b321-450c-a067-8b0c8fad365a.html" target="element"> ACQ.12.BP1 Identify relevant regulations </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b81bc138-2cc7-458b-a04d-3c956807b8dd.html" target="element">  </a> </td>
																		<td> <a href="../elements/b81bc138-2cc7-458b-a04d-3c956807b8dd.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a4ad44e0-77c4-480d-bff1-dc7a2d199843.html" target="element"> ACQ.12 Legal and Administrative Requirements </a> </td>
																		<td> <a href="../elements/9df22f54-8ffe-4ea0-a7b3-15af79b56a07.html" target="element"> ACQ.12.BP7 Establish management of intellectual property rights </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7e21359a-cde8-4758-bc8d-47d258e16fa5.html" target="element">  </a> </td>
																		<td> <a href="../elements/7e21359a-cde8-4758-bc8d-47d258e16fa5.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a4ad44e0-77c4-480d-bff1-dc7a2d199843.html" target="element"> ACQ.12 Legal and Administrative Requirements </a> </td>
																		<td> <a href="../elements/c4128325-e6b8-48aa-9f8b-0f4565be0bdb.html" target="element"> ACQ.12.BP4 Ensure usage of agreed terms and conditions </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/23941aba-281c-4dda-866c-5e90db6868bb.html" target="element">  </a> </td>
																		<td> <a href="../elements/23941aba-281c-4dda-866c-5e90db6868bb.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a4ad44e0-77c4-480d-bff1-dc7a2d199843.html" target="element"> ACQ.12 Legal and Administrative Requirements </a> </td>
																		<td> <a href="../elements/d6451fb5-37db-4b18-b38a-738ce6a2b2b9.html" target="element"> ACQ.12.BP5 Establish acceptance criteria </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c130d4b2-5f34-4ad0-9e6e-baea028ee7b3.html" target="element">  </a> </td>
																		<td> <a href="../elements/c130d4b2-5f34-4ad0-9e6e-baea028ee7b3.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a4ad44e0-77c4-480d-bff1-dc7a2d199843.html" target="element"> ACQ.12 Legal and Administrative Requirements </a> </td>
																		<td> <a href="../elements/8d410e6d-f277-45cf-a8d1-5873845f6829.html" target="element"> ACQ.12.BP9 Define provision for the suppliers </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/42b1e849-a091-49ae-8bc0-f281a463dfa2.html" target="element">  </a> </td>
																		<td> <a href="../elements/42b1e849-a091-49ae-8bc0-f281a463dfa2.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a4ad44e0-77c4-480d-bff1-dc7a2d199843.html" target="element"> ACQ.12 Legal and Administrative Requirements </a> </td>
																		<td> <a href="../elements/4dc26ddc-bf61-46a6-a0c0-3311ce54c199.html" target="element"> ACQ.12.BP2 Consider relevant regulations </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7ee5d7cc-1fbd-4ba1-9213-f40ecb0c2a16.html" target="element">  </a> </td>
																		<td> <a href="../elements/7ee5d7cc-1fbd-4ba1-9213-f40ecb0c2a16.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a4ad44e0-77c4-480d-bff1-dc7a2d199843.html" target="element"> ACQ.12 Legal and Administrative Requirements </a> </td>
																		<td> <a href="../elements/670cc1bb-f64f-42bd-afa6-00a93026f534.html" target="element"> ACQ.12.BP6 Establish escalation mechanisms </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9cc03739-4d48-43f2-8d7b-bbd6971b0bb2.html" target="element">  </a> </td>
																		<td> <a href="../elements/9cc03739-4d48-43f2-8d7b-bbd6971b0bb2.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a4ad44e0-77c4-480d-bff1-dc7a2d199843.html" target="element"> ACQ.12 Legal and Administrative Requirements </a> </td>
																		<td> <a href="../elements/9d36e3f6-885e-4f6d-a7f3-b9095c93c52c.html" target="element"> ACQ.12.BP10 Establish criteria for liability issues </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/87f44a59-4c07-4552-9569-0ed3ba9d26d6.html" target="element">  </a> </td>
																		<td> <a href="../elements/87f44a59-4c07-4552-9569-0ed3ba9d26d6.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a4ad44e0-77c4-480d-bff1-dc7a2d199843.html" target="element"> ACQ.12 Legal and Administrative Requirements </a> </td>
																		<td> <a href="../elements/e74738a9-4e4c-42f0-af6f-3f505684e1ac.html" target="element"> ACQ.12.BP3 Agree on (contractual) terms and conditions </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/931adc6b-d9b3-42a3-ad26-3662b634f574.html" target="element">  </a> </td>
																		<td> <a href="../elements/931adc6b-d9b3-42a3-ad26-3662b634f574.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a4ad44e0-77c4-480d-bff1-dc7a2d199843.html" target="element"> ACQ.12 Legal and Administrative Requirements </a> </td>
																		<td> <a href="../elements/ad03e42a-746a-476e-813a-44837d251c6e.html" target="element"> ACQ.12.BP8 Provide for warranties and service level agreements </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6a299b73-d0d3-422c-9147-2e4a09a89a57.html" target="element">  </a> </td>
																		<td> <a href="../elements/6a299b73-d0d3-422c-9147-2e4a09a89a57.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/a4ad44e0-77c4-480d-bff1-dc7a2d199843.html" target="element"> ACQ.12 Legal and Administrative Requirements </a> </td>
																		<td> <a href="../elements/a2964280-b66f-40de-a20b-30d7d4fcfee3.html" target="element"> 02-00 Contract </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6e3be497-6655-4bd4-8b3c-505e3ea94f55.html" target="element">  </a> </td>
																		<td> <a href="../elements/6e3be497-6655-4bd4-8b3c-505e3ea94f55.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/a4ad44e0-77c4-480d-bff1-dc7a2d199843.html" target="element"> ACQ.12 Legal and Administrative Requirements </a> </td>
																		<td> <a href="../elements/d1cb0629-11ee-483a-b513-6264faff0a0d.html" target="element"> 02-01 Commitment/agreement </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2802f988-810e-4aea-8a16-ed82debe4eee.html" target="element">  </a> </td>
																		<td> <a href="../elements/2802f988-810e-4aea-8a16-ed82debe4eee.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/a4ad44e0-77c4-480d-bff1-dc7a2d199843.html" target="element"> ACQ.12 Legal and Administrative Requirements </a> </td>
																		<td> <a href="../elements/34ae6686-328e-48cc-b572-dd082325e1fa.html" target="element"> 10-00 Process description </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7a064e2f-70eb-467b-9772-6913312a845d.html" target="element">  </a> </td>
																		<td> <a href="../elements/7a064e2f-70eb-467b-9772-6913312a845d.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/a4ad44e0-77c4-480d-bff1-dc7a2d199843.html" target="element"> ACQ.12 Legal and Administrative Requirements </a> </td>
																		<td> <a href="../elements/3400d0a7-31c3-46f8-8e99-a25fad4ca5d5.html" target="element"> 14-02 Corrective Action Register </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6e26c769-4662-47da-bdd9-c0a4278b8344.html" target="element">  </a> </td>
																		<td> <a href="../elements/6e26c769-4662-47da-bdd9-c0a4278b8344.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/a4ad44e0-77c4-480d-bff1-dc7a2d199843.html" target="element"> ACQ.12 Legal and Administrative Requirements </a> </td>
																		<td> <a href="../elements/90146306-4004-48b7-b8ce-c00c995a35cc.html" target="element"> 17-00 Requirement specification </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/58cbcb85-db46-4cfa-8b2e-2d806a183a64.html" target="element">  </a> </td>
																		<td> <a href="../elements/58cbcb85-db46-4cfa-8b2e-2d806a183a64.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/a4ad44e0-77c4-480d-bff1-dc7a2d199843.html" target="element"> ACQ.12 Legal and Administrative Requirements </a> </td>
																		<td> <a href="../elements/6fa5bd37-2d6b-4db7-ab08-7c41f9e24dd2.html" target="element"> 18-01 Acceptance criteria </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>