<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Overview</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Overview</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-74fced4cfe4548008f00af66e09ba176.png" alt="Overview" usemap="#id-74fced4cfe4548008f00af66e09ba176map"/>
			   <map name="id-74fced4cfe4548008f00af66e09ba176map">
				  		<area shape="rect" coords="634,382,909,536" href="../elements/id-eee5b5f34886441da8ff15c237a734eb.html"  target="element">
				  		<area shape="rect" coords="130,382,563,536" href="../elements/id-8063c11e7db5408ebf0b7a9c59482530.html"  target="element">
				  		<area shape="rect" coords="10,190,285,344" href="../elements/id-c76876053c1f4aaf9a061fd3112fc715.html"  target="element">
				  		<area shape="rect" coords="850,190,1125,344" href="../elements/id-4000eb7aff9842e59e85c5fa2c31aa7c.html"  target="element">
				  						<area shape="rect" coords="754,130,779,155" href="../views/id-171f38daabeb423299c57b75cea49f29.html"  target="view">
				  				    <!-- Other diagram objects -->

				  				<area shape="rect" coords="754,46,874,155" href="../elements/id-f1dd440090214f25a858b4b6d99a1e10.html"  target="element">
				  						<area shape="rect" coords="622,130,647,155" href="../views/id-850541cfd3454a3d973c13071d6f631f.html"  target="view">
				  				    <!-- Other diagram objects -->

				  				<area shape="rect" coords="622,46,742,155" href="../elements/id-3e1583fa5af34cf7953981b08a12a567.html"  target="element">
				  						<area shape="rect" coords="490,130,515,155" href="../views/id-e87f43cf92ca465b850920e71b5bcdb5.html"  target="view">
				  				    <!-- Other diagram objects -->

				  				<area shape="rect" coords="490,46,610,155" href="../elements/id-a4e89430a7504d85acfeec369952d006.html"  target="element">
				  						<area shape="rect" coords="358,130,383,155" href="../views/id-c5f200be90f94427b8d31e33adbedc75.html"  target="view">
				  				    <!-- Other diagram objects -->

				  				<area shape="rect" coords="358,46,478,155" href="../elements/id-8ea98da0fad6486b99d925eed0112fd7.html"  target="element">

				  		<area shape="rect" coords="346,10,894,164" href="../elements/id-9a1b3b6eefd34b0fa4ba3bc9d92abf3f.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-9a1b3b6eefd34b0fa4ba3bc9d92abf3f.html" target="element"> Understanding Context </a> </td>
											    <td> <a href="../elements/id-9a1b3b6eefd34b0fa4ba3bc9d92abf3f.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-8ea98da0fad6486b99d925eed0112fd7.html" target="element"> Architectural Requirements Prioritization </a> </td>
													    <td> <a href="../elements/id-8ea98da0fad6486b99d925eed0112fd7.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../views/id-c5f200be90f94427b8d31e33adbedc75.html" target="view"> 1.1. Architectural Requirements Prioritization </a> </td>
															    <td> <a href="../views/id-c5f200be90f94427b8d31e33adbedc75.html" target="view" class="i18n-viewpoint-"> </a> </td>
															</tr>
													    <!-- Other graphical objects -->

													
													<tr>
													    <td> <a href="../elements/id-a4e89430a7504d85acfeec369952d006.html" target="element"> Dealing with Non-Functional Requirements (NFRs) </a> </td>
													    <td> <a href="../elements/id-a4e89430a7504d85acfeec369952d006.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../views/id-e87f43cf92ca465b850920e71b5bcdb5.html" target="view"> 1.2. Dealing with NFRs </a> </td>
															    <td> <a href="../views/id-e87f43cf92ca465b850920e71b5bcdb5.html" target="view" class="i18n-viewpoint-"> </a> </td>
															</tr>
													    <!-- Other graphical objects -->

													
													<tr>
													    <td> <a href="../elements/id-3e1583fa5af34cf7953981b08a12a567.html" target="element"> Stakeholder Workshop </a> </td>
													    <td> <a href="../elements/id-3e1583fa5af34cf7953981b08a12a567.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../views/id-850541cfd3454a3d973c13071d6f631f.html" target="view"> 1.4. Stakeholder Workshop </a> </td>
															    <td> <a href="../views/id-850541cfd3454a3d973c13071d6f631f.html" target="view" class="i18n-viewpoint-"> </a> </td>
															</tr>
													    <!-- Other graphical objects -->

													
													<tr>
													    <td> <a href="../elements/id-f1dd440090214f25a858b4b6d99a1e10.html" target="element"> Dealing with Contracts </a> </td>
													    <td> <a href="../elements/id-f1dd440090214f25a858b4b6d99a1e10.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../views/id-171f38daabeb423299c57b75cea49f29.html" target="view"> 1.3. Dealing with Contracts </a> </td>
															    <td> <a href="../views/id-171f38daabeb423299c57b75cea49f29.html" target="view" class="i18n-viewpoint-"> </a> </td>
															</tr>
													    <!-- Other graphical objects -->

													
											
											<tr>
											    <td> <a href="../elements/id-4000eb7aff9842e59e85c5fa2c31aa7c.html" target="element"> Making Decisions </a> </td>
											    <td> <a href="../elements/id-4000eb7aff9842e59e85c5fa2c31aa7c.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c76876053c1f4aaf9a061fd3112fc715.html" target="element"> Modeling </a> </td>
											    <td> <a href="../elements/id-c76876053c1f4aaf9a061fd3112fc715.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8063c11e7db5408ebf0b7a9c59482530.html" target="element"> Validating </a> </td>
											    <td> <a href="../elements/id-8063c11e7db5408ebf0b7a9c59482530.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-eee5b5f34886441da8ff15c237a734eb.html" target="element"> Delivery </a> </td>
											    <td> <a href="../elements/id-eee5b5f34886441da8ff15c237a734eb.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-66f07469a40848d4a5a643cf2fbcc740.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-66f07469a40848d4a5a643cf2fbcc740.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/id-9a1b3b6eefd34b0fa4ba3bc9d92abf3f.html" target="element"> Understanding Context </a> </td>
																		<td> <a href="../elements/id-8ea98da0fad6486b99d925eed0112fd7.html" target="element"> Architectural Requirements Prioritization </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-eea59ecf87ba4b278cb17773f1118107.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-eea59ecf87ba4b278cb17773f1118107.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/id-9a1b3b6eefd34b0fa4ba3bc9d92abf3f.html" target="element"> Understanding Context </a> </td>
																		<td> <a href="../elements/id-a4e89430a7504d85acfeec369952d006.html" target="element"> Dealing with Non-Functional Requirements (NFRs) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2a34a22430e44855af6e06933165fa4d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2a34a22430e44855af6e06933165fa4d.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/id-9a1b3b6eefd34b0fa4ba3bc9d92abf3f.html" target="element"> Understanding Context </a> </td>
																		<td> <a href="../elements/id-3e1583fa5af34cf7953981b08a12a567.html" target="element"> Stakeholder Workshop </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-de9a872e7398471585909cfc50422b8e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-de9a872e7398471585909cfc50422b8e.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/id-9a1b3b6eefd34b0fa4ba3bc9d92abf3f.html" target="element"> Understanding Context </a> </td>
																		<td> <a href="../elements/id-f1dd440090214f25a858b4b6d99a1e10.html" target="element"> Dealing with Contracts </a> </td>
																	</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>