<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>1.4. Stakeholder Workshop</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>1.4. Stakeholder Workshop</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-850541cfd3454a3d973c13071d6f631f.png" alt="1.4. Stakeholder Workshop" usemap="#id-850541cfd3454a3d973c13071d6f631fmap"/>
			   <map name="id-850541cfd3454a3d973c13071d6f631fmap">
				  		<area shape="rect" coords="1001,556,1121,611" href="../views/id-74fced4cfe4548008f00af66e09ba176.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="720,358,903,413" href="../elements/id-28dc4b125e83427ebee825a6db7f5463.html"  target="element">
				  		<area shape="rect" coords="720,292,903,347" href="../elements/id-d9a70b6c08d04f7e86d18daf91790ae1.html"  target="element">
				  		<area shape="rect" coords="938,226,1121,281" href="../elements/id-8f57252c69844591821e7e897212e9da.html"  target="element">
				  		<area shape="rect" coords="720,226,903,281" href="../elements/id-2828dc8debaf4ff8ab816a8060029d5b.html"  target="element">
				  		<area shape="rect" coords="720,154,903,209" href="../elements/id-28228d48543449f6b2c1fa457162c8ff.html"  target="element">
				  		<area shape="rect" coords="720,82,903,137" href="../elements/id-4c2d42c860cf4a0fb8db3b1a11193069.html"  target="element">
				  		<area shape="rect" coords="720,10,903,65" href="../elements/id-23c4a11fc8b042788f84748aba697e0c.html"  target="element">
				  		<area shape="rect" coords="10,71,193,126" href="../elements/id-f8a66ec3501e46b78cc8100c7d2d9dc8.html"  target="element">
				  		<area shape="rect" coords="10,10,193,65" href="../elements/id-41c7cebd96804bcf936479237968f3e4.html"  target="element">
				  				<area shape="rect" coords="338,490,567,545" href="../elements/id-1e3c5171202549afa9b01f778b5f6d9b.html"  target="element">

				  		<area shape="rect" coords="326,454,579,611" href="../elements/id-180354e8a32e45189aca3705304cc7fe.html"  target="element">
				  				<area shape="rect" coords="662,490,891,545" href="../elements/id-cc4c1cdf634e427fa5339003520b0588.html"  target="element">

				  		<area shape="rect" coords="650,454,903,617" href="../elements/id-aa272d9ae85f40b3b5219e6bdad614e4.html"  target="element">
				  				<area shape="rect" coords="38,550,267,605" href="../elements/id-28ef226dc3e349e5ae23bedd7b1c680d.html"  target="element">
				  				<area shape="rect" coords="38,490,267,545" href="../elements/id-ce2b420d05ca4606816c95cb5c9bac61.html"  target="element">

				  		<area shape="rect" coords="26,454,279,617" href="../elements/id-913dad184949404fbe9efb13940cfaea.html"  target="element">
				  				<area shape="rect" coords="338,166,567,221" href="../elements/id-1c7d403692c349fb8ae2caaf2d904380.html"  target="element">
				  				<area shape="rect" coords="338,106,567,161" href="../elements/id-cabc4048df144037abcd04fd4163cf6a.html"  target="element">
				  				<area shape="rect" coords="338,46,567,101" href="../elements/id-e46adae298314712b27b5bedd75baf68.html"  target="element">

				  		<area shape="rect" coords="326,10,579,407" href="../elements/id-3e1583fa5af34cf7953981b08a12a567.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-3e1583fa5af34cf7953981b08a12a567.html" target="element"> Stakeholder Workshop </a> </td>
											    <td> <a href="../elements/id-3e1583fa5af34cf7953981b08a12a567.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-e46adae298314712b27b5bedd75baf68.html" target="element"> Stakeholder Workshop Presentation and Introductions </a> </td>
													    <td> <a href="../elements/id-e46adae298314712b27b5bedd75baf68.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-cabc4048df144037abcd04fd4163cf6a.html" target="element"> Business/Mission Presentation </a> </td>
													    <td> <a href="../elements/id-cabc4048df144037abcd04fd4163cf6a.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1c7d403692c349fb8ae2caaf2d904380.html" target="element"> Architecture Presentation </a> </td>
													    <td> <a href="../elements/id-1c7d403692c349fb8ae2caaf2d904380.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-913dad184949404fbe9efb13940cfaea.html" target="element"> Requirements Workshop </a> </td>
											    <td> <a href="../elements/id-913dad184949404fbe9efb13940cfaea.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-ce2b420d05ca4606816c95cb5c9bac61.html" target="element"> Identification of Architectural Requirements </a> </td>
													    <td> <a href="../elements/id-ce2b420d05ca4606816c95cb5c9bac61.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-28ef226dc3e349e5ae23bedd7b1c680d.html" target="element"> Scenario Brainstorming </a> </td>
													    <td> <a href="../elements/id-28ef226dc3e349e5ae23bedd7b1c680d.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-aa272d9ae85f40b3b5219e6bdad614e4.html" target="element"> Solution Shaping Workshop </a> </td>
											    <td> <a href="../elements/id-aa272d9ae85f40b3b5219e6bdad614e4.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-cc4c1cdf634e427fa5339003520b0588.html" target="element"> Solution Strategy Brainstorm </a> </td>
													    <td> <a href="../elements/id-cc4c1cdf634e427fa5339003520b0588.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-180354e8a32e45189aca3705304cc7fe.html" target="element"> Cost-Benefit Analysis Workshop </a> </td>
											    <td> <a href="../elements/id-180354e8a32e45189aca3705304cc7fe.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-1e3c5171202549afa9b01f778b5f6d9b.html" target="element"> Assign Utility </a> </td>
													    <td> <a href="../elements/id-1e3c5171202549afa9b01f778b5f6d9b.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-41c7cebd96804bcf936479237968f3e4.html" target="element"> Business or Mission Drivers </a> </td>
											    <td> <a href="../elements/id-41c7cebd96804bcf936479237968f3e4.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f8a66ec3501e46b78cc8100c7d2d9dc8.html" target="element"> Context and high level concepts of the architecture as available </a> </td>
											    <td> <a href="../elements/id-f8a66ec3501e46b78cc8100c7d2d9dc8.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-23c4a11fc8b042788f84748aba697e0c.html" target="element"> Architectural Drivers </a> </td>
											    <td> <a href="../elements/id-23c4a11fc8b042788f84748aba697e0c.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4c2d42c860cf4a0fb8db3b1a11193069.html" target="element"> key architectural requirements identified expressed in scenarios </a> </td>
											    <td> <a href="../elements/id-4c2d42c860cf4a0fb8db3b1a11193069.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-28228d48543449f6b2c1fa457162c8ff.html" target="element"> summary of the solution </a> </td>
											    <td> <a href="../elements/id-28228d48543449f6b2c1fa457162c8ff.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2828dc8debaf4ff8ab816a8060029d5b.html" target="element"> key concerns still to be addressed </a> </td>
											    <td> <a href="../elements/id-2828dc8debaf4ff8ab816a8060029d5b.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8f57252c69844591821e7e897212e9da.html" target="element"> action plan for resolving </a> </td>
											    <td> <a href="../elements/id-8f57252c69844591821e7e897212e9da.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d9a70b6c08d04f7e86d18daf91790ae1.html" target="element"> actions agreed, revised timetable and cost estimates </a> </td>
											    <td> <a href="../elements/id-d9a70b6c08d04f7e86d18daf91790ae1.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-28dc4b125e83427ebee825a6db7f5463.html" target="element"> ROI for each architectural strategy (in utility points) </a> </td>
											    <td> <a href="../elements/id-28dc4b125e83427ebee825a6db7f5463.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../views/id-74fced4cfe4548008f00af66e09ba176.html" target="view"> Overview </a> </td>
											    <td> <a href="../views/id-74fced4cfe4548008f00af66e09ba176.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-bb5e3394a79742d88d08bf88f5e6209c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bb5e3394a79742d88d08bf88f5e6209c.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/id-3e1583fa5af34cf7953981b08a12a567.html" target="element"> Stakeholder Workshop </a> </td>
																		<td> <a href="../elements/id-41c7cebd96804bcf936479237968f3e4.html" target="element"> Business or Mission Drivers </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-82f7e83e673f4bd1afe427abe03179aa.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-82f7e83e673f4bd1afe427abe03179aa.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/id-3e1583fa5af34cf7953981b08a12a567.html" target="element"> Stakeholder Workshop </a> </td>
																		<td> <a href="../elements/id-f8a66ec3501e46b78cc8100c7d2d9dc8.html" target="element"> Context and high level concepts of the architecture as available </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-47b395b036b9440f9edb8c77a805d614.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-47b395b036b9440f9edb8c77a805d614.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-3e1583fa5af34cf7953981b08a12a567.html" target="element"> Stakeholder Workshop </a> </td>
																		<td> <a href="../elements/id-e46adae298314712b27b5bedd75baf68.html" target="element"> Stakeholder Workshop Presentation and Introductions </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c6c904c655564dd1b72c40c814bf3b82.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c6c904c655564dd1b72c40c814bf3b82.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-3e1583fa5af34cf7953981b08a12a567.html" target="element"> Stakeholder Workshop </a> </td>
																		<td> <a href="../elements/id-cabc4048df144037abcd04fd4163cf6a.html" target="element"> Business/Mission Presentation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-869dad50d5434ad3a48e24c8839bc23d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-869dad50d5434ad3a48e24c8839bc23d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-3e1583fa5af34cf7953981b08a12a567.html" target="element"> Stakeholder Workshop </a> </td>
																		<td> <a href="../elements/id-1c7d403692c349fb8ae2caaf2d904380.html" target="element"> Architecture Presentation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a18c5b9e35b847be929802bde11958bd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a18c5b9e35b847be929802bde11958bd.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/id-3e1583fa5af34cf7953981b08a12a567.html" target="element"> Stakeholder Workshop </a> </td>
																		<td> <a href="../elements/id-23c4a11fc8b042788f84748aba697e0c.html" target="element"> Architectural Drivers </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5723936fcfc644cd8f7de58b10e42ba3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5723936fcfc644cd8f7de58b10e42ba3.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/id-3e1583fa5af34cf7953981b08a12a567.html" target="element"> Stakeholder Workshop </a> </td>
																		<td> <a href="../elements/id-4c2d42c860cf4a0fb8db3b1a11193069.html" target="element"> key architectural requirements identified expressed in scenarios </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-32cc756a5e574ae380fd2df4d2e18de8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-32cc756a5e574ae380fd2df4d2e18de8.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/id-3e1583fa5af34cf7953981b08a12a567.html" target="element"> Stakeholder Workshop </a> </td>
																		<td> <a href="../elements/id-28228d48543449f6b2c1fa457162c8ff.html" target="element"> summary of the solution </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9a90991a1e9b4aa9b41214da4dda048e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9a90991a1e9b4aa9b41214da4dda048e.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/id-3e1583fa5af34cf7953981b08a12a567.html" target="element"> Stakeholder Workshop </a> </td>
																		<td> <a href="../elements/id-2828dc8debaf4ff8ab816a8060029d5b.html" target="element"> key concerns still to be addressed </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-460e00680f1c46b3bb0a1ababfed8fc2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-460e00680f1c46b3bb0a1ababfed8fc2.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/id-3e1583fa5af34cf7953981b08a12a567.html" target="element"> Stakeholder Workshop </a> </td>
																		<td> <a href="../elements/id-d9a70b6c08d04f7e86d18daf91790ae1.html" target="element"> actions agreed, revised timetable and cost estimates </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8ca49acf98914e27bd064faf47084331.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8ca49acf98914e27bd064faf47084331.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/id-3e1583fa5af34cf7953981b08a12a567.html" target="element"> Stakeholder Workshop </a> </td>
																		<td> <a href="../elements/id-28dc4b125e83427ebee825a6db7f5463.html" target="element"> ROI for each architectural strategy (in utility points) </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-8149b97454004a88ba6c2cf9d8e5316e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8149b97454004a88ba6c2cf9d8e5316e.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/id-913dad184949404fbe9efb13940cfaea.html" target="element"> Requirements Workshop </a> </td>
																		<td> <a href="../elements/id-3e1583fa5af34cf7953981b08a12a567.html" target="element"> Stakeholder Workshop </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3992a5b6b08a41d4bc834cc4836fd008.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3992a5b6b08a41d4bc834cc4836fd008.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-913dad184949404fbe9efb13940cfaea.html" target="element"> Requirements Workshop </a> </td>
																		<td> <a href="../elements/id-ce2b420d05ca4606816c95cb5c9bac61.html" target="element"> Identification of Architectural Requirements </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-44f0f47587fc4e37932200e9d858ad69.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-44f0f47587fc4e37932200e9d858ad69.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-913dad184949404fbe9efb13940cfaea.html" target="element"> Requirements Workshop </a> </td>
																		<td> <a href="../elements/id-28ef226dc3e349e5ae23bedd7b1c680d.html" target="element"> Scenario Brainstorming </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-c4c38b2354f94d6cab6a50efedf1d5dd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c4c38b2354f94d6cab6a50efedf1d5dd.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/id-aa272d9ae85f40b3b5219e6bdad614e4.html" target="element"> Solution Shaping Workshop </a> </td>
																		<td> <a href="../elements/id-3e1583fa5af34cf7953981b08a12a567.html" target="element"> Stakeholder Workshop </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-851b54fcab6a4dfa94070852534d76e3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-851b54fcab6a4dfa94070852534d76e3.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-aa272d9ae85f40b3b5219e6bdad614e4.html" target="element"> Solution Shaping Workshop </a> </td>
																		<td> <a href="../elements/id-cc4c1cdf634e427fa5339003520b0588.html" target="element"> Solution Strategy Brainstorm </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-d3c56575bf8b48018490bbff97092f3a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d3c56575bf8b48018490bbff97092f3a.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/id-180354e8a32e45189aca3705304cc7fe.html" target="element"> Cost-Benefit Analysis Workshop </a> </td>
																		<td> <a href="../elements/id-3e1583fa5af34cf7953981b08a12a567.html" target="element"> Stakeholder Workshop </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7334b61c9fe342bc885efe2e3f989f36.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7334b61c9fe342bc885efe2e3f989f36.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-180354e8a32e45189aca3705304cc7fe.html" target="element"> Cost-Benefit Analysis Workshop </a> </td>
																		<td> <a href="../elements/id-1e3c5171202549afa9b01f778b5f6d9b.html" target="element"> Assign Utility </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-346ae89bb6a042cb942d4365a65928e2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-346ae89bb6a042cb942d4365a65928e2.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-2828dc8debaf4ff8ab816a8060029d5b.html" target="element"> key concerns still to be addressed </a> </td>
																		<td> <a href="../elements/id-8f57252c69844591821e7e897212e9da.html" target="element"> action plan for resolving </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>