<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>1.2. Dealing with NFRs</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>1.2. Dealing with NFRs</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-e87f43cf92ca465b850920e71b5bcdb5.png" alt="1.2. Dealing with NFRs" usemap="#id-e87f43cf92ca465b850920e71b5bcdb5map"/>
			   <map name="id-e87f43cf92ca465b850920e71b5bcdb5map">
				  		<area shape="rect" coords="631,378,751,433" href="../views/id-74fced4cfe4548008f00af66e09ba176.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="575,13,751,68" href="../elements/id-88ea44eb6c11429e97d7af6ab1a8351c.html"  target="element">
				  		<area shape="rect" coords="10,84,186,139" href="../elements/id-4b2fedbfec224ef0870a93d5a726695a.html"  target="element">
				  		<area shape="rect" coords="10,13,186,68" href="../elements/id-e48881bc4b56449b9ea7705cd6d1e91d.html"  target="element">
				  				<area shape="rect" coords="275,274,480,329" href="../elements/id-1f788019194941549d4f7c22b7674741.html"  target="element">
				  				<area shape="rect" coords="275,340,480,395" href="../elements/id-1b6bc1b3ba374e3ba1a30a59ff92d183.html"  target="element">
				  				<area shape="rect" coords="275,59,480,114" href="../elements/id-9f101181d2714c2b98f839f4fd9134a4.html"  target="element">
				  				<area shape="rect" coords="275,202,480,257" href="../elements/id-98e4de2203c249d98349d330d7414c61.html"  target="element">
				  				<area shape="rect" coords="275,130,480,185" href="../elements/id-57471fcafda4481ca36e004dc2f3b470.html"  target="element">

				  		<area shape="rect" coords="251,10,504,433" href="../elements/id-a4e89430a7504d85acfeec369952d006.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-a4e89430a7504d85acfeec369952d006.html" target="element"> Dealing with Non-Functional Requirements (NFRs) </a> </td>
											    <td> <a href="../elements/id-a4e89430a7504d85acfeec369952d006.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-57471fcafda4481ca36e004dc2f3b470.html" target="element"> Express NFRs in scenarios </a> </td>
													    <td> <a href="../elements/id-57471fcafda4481ca36e004dc2f3b470.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-98e4de2203c249d98349d330d7414c61.html" target="element"> Quantify NFRs (or not) </a> </td>
													    <td> <a href="../elements/id-98e4de2203c249d98349d330d7414c61.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9f101181d2714c2b98f839f4fd9134a4.html" target="element"> Elicit NFRs </a> </td>
													    <td> <a href="../elements/id-9f101181d2714c2b98f839f4fd9134a4.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1b6bc1b3ba374e3ba1a30a59ff92d183.html" target="element"> Design for NFRs </a> </td>
													    <td> <a href="../elements/id-1b6bc1b3ba374e3ba1a30a59ff92d183.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1f788019194941549d4f7c22b7674741.html" target="element"> Manage NFR-related risks </a> </td>
													    <td> <a href="../elements/id-1f788019194941549d4f7c22b7674741.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-e48881bc4b56449b9ea7705cd6d1e91d.html" target="element"> Request for Proposal </a> </td>
											    <td> <a href="../elements/id-e48881bc4b56449b9ea7705cd6d1e91d.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4b2fedbfec224ef0870a93d5a726695a.html" target="element"> Architectural Guidance </a> </td>
											    <td> <a href="../elements/id-4b2fedbfec224ef0870a93d5a726695a.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-88ea44eb6c11429e97d7af6ab1a8351c.html" target="element"> Architectural Concern </a> </td>
											    <td> <a href="../elements/id-88ea44eb6c11429e97d7af6ab1a8351c.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../views/id-74fced4cfe4548008f00af66e09ba176.html" target="view"> Overview </a> </td>
											    <td> <a href="../views/id-74fced4cfe4548008f00af66e09ba176.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-bc1c5f08b8754b9d8bf3a52d1f3d49b7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bc1c5f08b8754b9d8bf3a52d1f3d49b7.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/id-a4e89430a7504d85acfeec369952d006.html" target="element"> Dealing with Non-Functional Requirements (NFRs) </a> </td>
																		<td> <a href="../elements/id-e48881bc4b56449b9ea7705cd6d1e91d.html" target="element"> Request for Proposal </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-01656f9b6360487999194c480afddf54.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-01656f9b6360487999194c480afddf54.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/id-a4e89430a7504d85acfeec369952d006.html" target="element"> Dealing with Non-Functional Requirements (NFRs) </a> </td>
																		<td> <a href="../elements/id-4b2fedbfec224ef0870a93d5a726695a.html" target="element"> Architectural Guidance </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-16fee71509d44794acc93725acf01533.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-16fee71509d44794acc93725acf01533.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-a4e89430a7504d85acfeec369952d006.html" target="element"> Dealing with Non-Functional Requirements (NFRs) </a> </td>
																		<td> <a href="../elements/id-57471fcafda4481ca36e004dc2f3b470.html" target="element"> Express NFRs in scenarios </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-be0ec2fe698d4465af8b1ede946eb5e0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-be0ec2fe698d4465af8b1ede946eb5e0.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-a4e89430a7504d85acfeec369952d006.html" target="element"> Dealing with Non-Functional Requirements (NFRs) </a> </td>
																		<td> <a href="../elements/id-98e4de2203c249d98349d330d7414c61.html" target="element"> Quantify NFRs (or not) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4d72581a1a334c30a63152e286024290.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4d72581a1a334c30a63152e286024290.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-a4e89430a7504d85acfeec369952d006.html" target="element"> Dealing with Non-Functional Requirements (NFRs) </a> </td>
																		<td> <a href="../elements/id-9f101181d2714c2b98f839f4fd9134a4.html" target="element"> Elicit NFRs </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c6a79b29274b44b29c9a4b54cc8d59f2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c6a79b29274b44b29c9a4b54cc8d59f2.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-a4e89430a7504d85acfeec369952d006.html" target="element"> Dealing with Non-Functional Requirements (NFRs) </a> </td>
																		<td> <a href="../elements/id-1b6bc1b3ba374e3ba1a30a59ff92d183.html" target="element"> Design for NFRs </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c2493a097ad0470c9b87e2aae2b45135.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c2493a097ad0470c9b87e2aae2b45135.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-a4e89430a7504d85acfeec369952d006.html" target="element"> Dealing with Non-Functional Requirements (NFRs) </a> </td>
																		<td> <a href="../elements/id-1f788019194941549d4f7c22b7674741.html" target="element"> Manage NFR-related risks </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d627f44196d449e08f3633f648864d23.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d627f44196d449e08f3633f648864d23.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/id-a4e89430a7504d85acfeec369952d006.html" target="element"> Dealing with Non-Functional Requirements (NFRs) </a> </td>
																		<td> <a href="../elements/id-88ea44eb6c11429e97d7af6ab1a8351c.html" target="element"> Architectural Concern </a> </td>
																	</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>